<md-dialog class="age-restriction">
    <md-content>
    <div class="age-icon-wrapper">
        <span class="age-icon bold" ng-bind="'+' + ageLimit"></span>
    </div>
    <div ng-if="cantPurchase">
        <div class="header" ng-bind="('sorry_2' | translate) + '...'"></div>
        <div class="description">
            <div ng-bind="'You cannot purchase' | translate"></div>
            <div ng-bind="'this item' | translate"></div>
        </div>
    </div>
    <div ng-class="{'no-show' : cantPurchase}">
        <div class="header" ng-bind="('verify_1' | translate) + ' ' + ('verify_2' | translate)"></div>
        <div class="description">
            <div ng-bind="('verify_3' | translate) + ' '+ ageLimit + ' ' + ('verify_4' | translate)"></div>
            <div ng-bind="('verify_5' | translate) ? ('verify_5' | translate) + '.' : ''"></div>
        </div>
    </div>
    <div ng-if="!cantPurchase" class="older-button action" ng-click="$dialog.hide(true)">
        <span ng-bind="'verify_6' | translate"></span>
        <span class="bold" ng-bind="'verify_7' | translate"></span>
        <span ng-bind="('verify_8' | translate) + ' ' + ageLimit + ' ' + ('years' | translate)"></span>
    </div>
    <div ng-if="!cantPurchase" class="younger-button action" ng-click="cantPurchaseTrue()">
        <span ng-bind="'verify_6' | translate"></span>
        <span class="bold" ng-bind="'verify_9' | translate"></span>
        <span ng-bind="('verify_8' | translate) + ' ' + ageLimit + ' ' + ('years' | translate)"></span>
    </div>
    <div ng-if="cantPurchase" class="younger-button action" ng-click="$dialog.hide()">
        <span ng-bind="'OK' | translate"></span>
    </div>
    </md-content>
</md-dialog>