$font-color: #606060;
$bottom-spacing: 1em;
$red: #be4b2a;

html .dialog-wrapper > .dialog.age-restriction-dialog > .dialog-body {
  width: 20em;

  .age-restriction {
    .age-icon-wrapper {
      width: 100%;
      text-align: center;
      .age-icon {
        display: inline-block;
        direction: ltr;
        margin: $bottom-spacing;
        padding: 0.3em;
        border-radius: 100%;
        color: white;
        background-color: $red;
        font-size: 1.8em;
        line-height: 1.8em;
      }
    }

    .header {
      text-align: center;
      font-size: 1.5em;
      line-height: 1.4em;
      color: $font-color;
      margin-bottom: $bottom-spacing;
    }

    .description {
      text-align: center;
      color: $font-color;
      font-size: 1.2em;
      line-height: 1.4em;
      margin-bottom: $bottom-spacing + 1em;
    }

    .action {
      cursor: pointer;
      text-align: center;
      margin: 0.9em;
      color: #ffffff;
      border-radius: 5px;
      padding: 1em;
      font-weight: 100;

      &.older-button {
        background-color: green;
        margin-bottom: 0.5em;
      }

      &.younger-button {
        background-color: $red;
        margin-bottom: $bottom-spacing + 1em;
      }

      span {
        display: inline-block;
      }
    }

    .bold {
      font-weight: 600;
    }

    .no-show {
      pointer-events: none;
      opacity: 0;
      height: 3em;
    }
  }
}