$descriptionTextMargin: 60%;

.sp-radio-buttons {
  display: inline-block;
  padding: 0.25em 0.2em;
  @include user-select(none);

  > label.sp-radio-option {
    display: inline-block;
    padding: 0.3em;
    cursor: pointer;
    position: relative;
    vertical-align: middle;

    .label {
      line-height: 1.2em;
      vertical-align: top;
    }

    &:before {
      content: "";
      display: inline-block;
      background-image: url('https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/radio-button-false-icon.png');
      background-repeat: no-repeat;
      background-size: 100% 100%;
      width: 18px;
      height: 18px;
      vertical-align: middle;
      margin: 0 0.2em;
    }

    &.checked {
      &:before {
        background-image: url('https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/radio-button-true-icon.png');
      }
      > .help-text {
        display: block;
      }
    }

    .input-wrapper {
      display: inline-block !important;
      width: 0 !important;
      height: 0 !important;
      padding: 0 !important;
      margin: 0 !important;
      overflow: hidden !important;
    }

    > .help-text {
      display: none;
      position: absolute;
      width: 100%;
      left: 0;
      top: 100%;

      .arrow {
        text-align: center;
        height: 0.4em;
        padding-bottom: 0.1em;

        img {
          height: 100%;
          display: inline-block;
          vertical-align: top;
        }
      }

      .text {
        background-color: #ffffff;
        font-size: 0.9em;
        margin: 0 (-1 * $descriptionTextMargin / 2);
        white-space: normal;

        &.left {
          margin: 0 0 0 (-1 * $descriptionTextMargin);
          text-align: left;
        }

        &.right {
          margin: 0 (-1 * $descriptionTextMargin) 0 0;
          text-align: right;
        }
      }
    }

    &:last-child > .help-text .text {
      margin: 0 0 0 (-1 * $descriptionTextMargin);
      text-align: right;
    }

    &:first-child > .help-text .text {
      margin: 0 (-1 * $descriptionTextMargin) 0 0;
      text-align: left;
    }
  }

  &.switcher {
    border: 1px solid #c8c8c8;
    @include border-radius(5px);

    > label.sp-radio-option {
      @include border-radius(5px);
      padding: 0.3em 1em;
      text-align: center;

      &:before {
        display: none;
      }

      &.checked {
        color: #ffffff;
      }
    }
  }
}

.rtl {
  .sp-radio-buttons > label.sp-radio-option {
    > .help-text .text {
      &.left {
        margin: 0 (-1 * $descriptionTextMargin) 0 0;
        text-align: right;
      }

      &.right {
        margin: 0 0 0 (-1 * $descriptionTextMargin);
        text-align: left;
      }
    }

    &:last-child > .help-text .text {
      margin: 0 (-1 * $descriptionTextMargin) 0 0;
      text-align: left;
    }

    &:first-child > .help-text .text {
      margin: 0 0 0 (-1 * $descriptionTextMargin);
      text-align: right;
    }
  }
}
