.sp-radio-buttons {
  > label.sp-radio-option {
    &:before {
      background-color: $mainColor;
    }

    > .help-text {
      .arrow img {
        background-color: $mainColor;
      }

      .text {
        color: $mainColor;
      }
    }
  }

  &.switcher > label.sp-radio-option.checked {
    background-color: $mainColor;
  }
}