<span class="for-vertical-align"></span><!--
--><img class="product-tag-icon"
     ng-if="(productTag.id | productTag).languages | name:'iconResourceUrl'"
     ng-src="{{(productTag.id | productTag).languages | name:'iconResourceUrl'}}"
     alt="{{(productTag.id | productTag).languages | name:'displayName'}}"/><!--
--><div class="tool-tip" ellipsis max-height-ellipsis="true"
        title="{{((productTag.id | productTag).languages | name:(textProp || 'description'))
        || ((productTag.id | productTag).languages | name:'displayName')}}">
</div>