.product-pricing-method {
  position: absolute;
  width: $pricingMethodWidth;
  height: $pricingMethodHeight;

  > button {
    display: block;
    height: 50%;
    width: 100%;
    border-width: 1px;
    border-style: solid;
    background-color: #ffffff;

    &:first-child {
      border-radius: $pricingMethodButtonsBorderRadius $pricingMethodButtonsBorderRadius 0 0;
    }
    &:last-child {
      border-radius: 0 0 $pricingMethodButtonsBorderRadius $pricingMethodButtonsBorderRadius;
    }

    &.selected {
      color: #ffffff;
    }

    &.pack {
      font-size: 0.85em;
    }
  }

  &.extended {
    height: 4.5em;

    > button {
      height: 33%;
    }
  }

  //&.case > button.case, &.single > button.single {
  //}
}