.product-pricing-method {
  > button {
    border-color: $mainColor;
    color: $mainColor;

    &.selected {
      background-color: $mainColor;
    }
  }

  //&.case > button.case, &.single > button.single {
  //}
}