$ebtCardSeparatingPadding: 0.4em;

#{$checkoutSelector} > .summary {
  @include box-sizing(border-box);
  display: -webkit-flex; /* Safari */
  -webkit-flex-direction: row-reverse; /* Safari 6.1+ */
  display: flex;
  width: 64em;
  margin: 3em auto 0 auto;
  flex-direction: row-reverse;

  > * {
    flex: 0 0 auto;
    box-sizing: border-box;
    vertical-align: top;
    padding: 1.6875em;
  }

  .paymentForm {
    width: 55%;
    padding: 1em 2em 0 1em;
    vertical-align: top;
    border-right: 1px solid #d9d7d7;
  }
.error-ebt{
  color: red;
    font: 400 15px Open Sans;
    margin-top: 0.5vw;
    display: block;
    text-align: center;
}
  .payment-details {
    text-align: left;

    h1.title, h2.title {
      padding: 0;
      font-size: 2.5em;
      font-weight: normal;
    }

    h5, h3, p {
      color: #333333;
      font-size: 1.205em;
      padding-top: 0;
    }

    p {
      color: #606060;
    }

    .payment-title {
      padding: 0.5em 0;
      font-size: 1.2em;
      font-weight: bold;
      color: #000000;
    }

    .payment-border {
      padding: 0.5em 0;
      margin-bottom: 0.5em;
      border-bottom: 1px solid #d9d7d7;
      width: 100%;
    }

    .gift-cards-btn-wrapper {
      margin-block: 1.5em 0.5em;

      .click-here-btn {
        text-decoration: underline;
        cursor: pointer;
        color: #2F80ED;
      }
    }

    .payment-method-options {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5em;

      > .payment-method {
        width: 7em;
        border: 1.5px solid #C8C8C8;
        display: grid;
        grid-template-rows: 60% 40%;
        box-shadow: 0 4px 4px 0 #0000001A;
        border-radius: 6px;
        text-align: center;
        padding: 0.5em 0.2em;
        align-items: center;
        cursor: pointer;

        > img {
          margin: auto;
          padding: 0.5em;
          height: 2.5em;
        }
      }
    }

    .payment-methods {
      .payment-options {
        width: 100%;
      }

      .sp-radio-buttons .sp-radio-option {
        //display: block;
        width: 10em;
        padding: 0.5em 0;

        &:before {
          margin-left: 0;
          margin-right: 0.5em;
        }

        .paypal-image, .masterpass-image {
          > img {
            height: 1.4em;
            vertical-align: middle;
          }
        }

        .bit-image {
          background-color: #4e585e;
          display: inline-block;
          padding: 0.4em 0.3em;

          > img {
            height: 1em;
            vertical-align: middle;
          }
        }
      }
    }

    .credit-card-details {
      padding: 1.4em 0;

      .ebt-credit-card-disclaimer {
        color: #4b4c4d;
        padding-bottom: 0.7em;
      }

      .tav-plus-credit-card-disclaimer {
        font-size: 0.875em;
        line-height: 1.2em;

        button {
          display: inline-block;
          font-weight: bold
        }

        .tav-plus-link {
          color: blue;
          text-decoration: underline;
        }
      }

      .credit-cards-wrapper table {
        thead th {
          color: #9F9F9F;
          font-weight: normal;
        }

        thead th, tbody td {
          padding-right: $columnPaddingRight;
          height: 3em;
          vertical-align: middle;
        }

        tbody td [i-id="cvv"] {
          .err-msg {
            margin-top: -1.2em;
          }

          #cvv {
            width: 5em;
          }
        }

        tbody td #cvv {
          width: 3em;
          height: 2em;
          padding: 0.4em;
          letter-spacing: 1px;
          @include border-radius(2px);
        }

        .cvv{
          padding-right: 0.3em;
        }

        .cvv-explain {
          text-align: center;
          position: relative;
          border: none;

          $questionMarkSize: 1.05em;
          .question-mark {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            align-content: center;
            $fontSize: 0.825em;
            font-size: $fontSize;
            font-weight: bold;
            width: $questionMarkSize / clear-units($fontSize);
            height: $questionMarkSize / clear-units($fontSize);
            border-radius: 3em;
            border: 1px solid;
            box-sizing: border-box;
            color: #78797a;
            cursor: default;
          }

          &:hover > .explanation {
            display: block;
          }

          .explanation {
            $toolTipFontSize: 0.875em;
            $toolTipArrowSize: 1em;

            display: none;
            position: absolute;
            font-size: $toolTipFontSize;
            $width: 24em;
            width: $width;
            bottom: ($questionMarkSize / clear-units($toolTipFontSize)) + $toolTipArrowSize;
            left: $width / -2 + $questionMarkSize / 2 / clear-units($toolTipFontSize);
            box-sizing: border-box;
            padding: 1em;
            z-index: 120;
            line-height: 1.2;
            text-align: left;
            background-color: #ffffff;
            @include border-radius(5px);
            @include box-shadow(0 0 10px -1px gray);

            .general-text {
              display: block;
              padding-bottom: 1em;
            }

            img, .detailed-text {
              display: inline-block;
              vertical-align: middle;
            }

            img {
              width: 48%;
            }

            .detailed-text {
              width: 44%;
              font-size: 0.9em;
              color: #ed7d10;
              text-align: left;
              padding-left: 1em;
              @include box-sizing(border-box);
            }

            .arrow {
              position: absolute;
              @include rotate(45);
              width: $toolTipArrowSize;
              height: $toolTipArrowSize;
              top: 100%;
              left: 50%;
              margin-top: $toolTipArrowSize / -2;
              margin-left: $toolTipArrowSize / -2;
              padding: 0;
              background-color: #ffffff;
              @include box-shadow(3px 3px 6px -3px grey);
            }
          }
        }

        .card-number {
          direction: ltr;
        }

        .radio-column {
          width: $radioColumnWidth;
          padding-right: $columnPaddingRight / 2;

          .sp-radio-buttons, .sp-radio-buttons .sp-radio-option {
            padding: 0;
          }

          .sp-radio-buttons .sp-radio-option:before {
            margin: 0;
            width: 1em;
            height: 1em;
          }
        }
      }

      .payments-number{
        padding: 0.5em 0;

        sp-dropdown .sp-dropdown-text {
          padding: 0;
        }

        sp-dropdown.input.narrow {
          width: auto;
          padding-right: 3em;
          padding-left: 0.5em;
        }
      }

      .has-credit-cards-details {
        .add-card-btn-wrapper {
          padding: 0.65em 0 1em 0;

          button {
            img {
              display: inline-block;
              vertical-align: middle;
            }

            .text {
              vertical-align: middle;
            }
          }
        }
      }

      .has-paypal-account-details {
        .add-card-btn-wrapper {
          padding: 0.65em 0 1em 0;

          button {
            img {
              display: inline-block;
              vertical-align: middle;
              height: 1em;
            }

            .text {
              vertical-align: middle;
            }
          }
        }
      }
    }

    .gift-card-wrapper {
      display: flex;
      flex-direction: column;
      gap: 1em;

      padding-block: 1em;

      border-top: 1px solid #B1B1B1;

      > h5 {
        padding: 0;
      }
       
      > .redeemed-gift-card-list-wrapper {
        display: flex;
        flex-direction: column;
        gap: 5px;
        > .redeemed-gift-card-item-wrapper {
          display: flex;
          gap: .5em;

          border-radius: 7px;

          padding: .5em;
  
          > svg {
            align-self: flex-start;
          }

          > .gift-card-info {
            flex: 1;

            display: flex;
            flex-direction: column;
            gap: .5em;

            .gift-card-info__top, .gift-card-info__bottom {
              display: flex;
              align-items: center;
              gap: 1.5em;
            }
          }

          > a.remove-btn {
            align-self: flex-end;

            color: #2F80ED;
            text-decoration: underline;

            cursor: pointer;
          }
        }
      }

      > .add-gift-card-btn {
        display: flex;
        align-items: center;
        gap: 10px;

        padding: 0.65em 0 1em 0;
      }
    }

    .ebt-details {
      padding-bottom: 1.5em;

      .pin-text {
        margin-top: 10px;
      }

      .ebt-card-wrapper {
        .ebt-card-number-wrapper {
          background-color: #fdf3da;
          border-radius: 5px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: start;
          padding: 0.625em 0.9375em;
          box-sizing: border-box;

          .card-icon {
            width: 1.875em;
            height: 1.3125em;

            svg {
              width: 100%;
              height: 100%;
              fill: #000;
            }
          }

          .card {
            flex: 1 1 auto;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: start;

            .number {
              direction: ltr;
              padding: 0 $ebtCardSeparatingPadding;
            }

            .remove-button {
              font-size: 0.875em;

              button {
                color: #2f80ed;
                text-decoration: underline;
              }
            }
          }

          .balance-button button {
            border: 1px solid;
            box-sizing: border-box;
            border-radius: 3px;
            color: #1e1f21;
            height: 2.25em;
            padding: 0 0.625em;
          }
        }

        .ebt-amount {
          padding: 0.625em;
          margin: 0.3125em 0;
          border: 1px solid #d2d2d3;
          box-sizing: border-box;
          border-radius: 8px;

          > .title {
            font-weight: bold;
            padding-bottom: 0.6em;
          }

          > .data-row {
            color: #000000;
            display: flex;
            flex-direction: row;
            align-items: start;
            justify-content: start;
            padding: 0.2em 0;

            .title {
              width: 9em;
            }

            &.input-wrapper {
              padding-top: 0.6em;

              input {
                width: 5em;
                height: 1.5em;
                padding: 0.4em;
                letter-spacing: 1px;
                border-radius: 2px;
              }
            }
          }
        }
      }
    }

    .tav-plus-details {
      padding-bottom: 1.5em;

      .pin-text {
        margin-top: 10px;
      }

      .question-mark {
        background-color: #78797A;
        vertical-align: middle;
      }

      .add-card-tav-plus-wrapper {
        .pay-button {
          .card-icon {
            width: 1.875em;
            height: 1.3125em;
            display: inline-block;
            vertical-align: bottom;

            svg {
              width: 100%;
              height: 100%;
              fill: #000;
            }
          }
        }
      }

      .tav-plus-card-wrapper {
        border: 1px solid #D2D2D3;
        border-radius: 5px;

        .tav-plus-card-number-wrapper {
          flex-direction: row;
          align-items: center;
          justify-content: start;
          padding: 0.625em 0.9375em;
          box-sizing: border-box;

          .card {
            flex: 1 1 auto;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: start;

            .card-icon {
              width: 1.875em;
              height: 1.3125em;

              svg {
                width: 100%;
                height: 100%;
                fill: #000;
              }
            }

            .number {
              direction: ltr;
              padding: 0 $ebtCardSeparatingPadding;
            }

            .remove-button {
              font-size: 0.875em;
              flex: 1;
              text-align: right;

              button {
                color: #2f80ed;
                text-decoration: underline;
              }
            }
          }
        }

        .tav-plus-card-balance {
          padding: 0.625em 0.9375em;

          .card-balance, .amount-input {
            * {
              display: inline-block;
            }

            .right {
              width: 9em;
            }
          }

          .card-balance {
            padding: 0.5em 0;
          }

          .amount-input {
            padding: 0 0 1em;

            input {
              display: inline-block;
              width: 7em;
              border: 0;
              border-bottom: 1px solid;
              padding: 0;
            }
          }
        }
      }
    }

    .pay-button-new{
      display: flex;
      align-items: center;
      gap: 10px;
    }

    .paypal-account {
      vertical-align: middle;
      img {
        height: 1em;
      }
    }

    .pay-with-credit-card{
      padding: 1em 0;
    }

    .call-customer-description {
      padding: 1.4em 0;
      line-height: 1.3;
      width: 20em;
    }

    .credit-on-file {
      padding: 1.4em 0;
      line-height: 1.3;
      width: 22em;
    }

    .gift-payment {
      padding: 1em 0;

      &.border-top{
        border-top: 1px solid #d9d7d7;
      }

      &.border-bottom{
        border-bottom: 1px solid #d9d7d7;
        padding: 0 0 1em 0 !important;
      }

      h5, h3, p {
        font-weight: bold;
        color: #333333 !important;
      }

      input {
        width: 20em;
      }
    }

    .promo-code {
      padding-bottom: 1.4em;
      input {
        width: 83%;
        box-sizing: border-box;
        margin-right: 2%;
        display: inline-block;
      }

      button {
        display: inline-block;
        width: 15%;
        padding: 0.65em;
        box-sizing: border-box;
        background-color: #3e7c23;
        color: #ffffff;
        @include border-radius(5px);
      }

      .text {
        color: #3e7c23;
        padding: 0.5em 0;

        > div {
          display: inline-block;
          > img, > span {
            vertical-align: middle;
          }

          img {
            width: 0.7em;
            background-color: #3e7c23;
          }
        }

        > span {
          vertical-align: middle;
        }

      }
    }

    .tips-error {
      color: #FF0000;
      font-weight: 500;
    }

    .check-out-button {
      padding: 1.5em 0;

      button {
        background-color: #3e7c23;
        font-size: 1.2em;
        width: 100%;
        line-height: 3rem;
        color: #ffffff;
        font-weight: bold;
        @include border-radius(5px);
      }

      .disable {
        background-color: #c8c8c8;
      }

      button:disabled.disabled-opacity, button[disabled].disabled-opacity {
        background-color: #c8c8c8;
        @include opacity(1);
      }

      &.paypal-button button {
        background-color: #eeeeee;
        color: #012169;

        > * {
          display: inline-block;
          vertical-align: middle;
        }

        img {
          height: 1.2em;
        }
      }

      &.masterpass-button button {
        background-color: transparent;
        color: #000000;
        text-align: left;
        font-size: 1em;
        line-height: 1.5em;

        > * {
          display: block;
        }

        > img {
          height: 3.5em;
        }

        &[disabled], &:disabled {
          @include opacity(0.5);
        }
      }
    }

    .loyalty-package-component-wrapper {
      position: relative;
      z-index: 1;

      > .loyalty-package-component {
        text-align: center;
        border: 1px solid #ECECEC;
        border-radius: 8px;
        width: 100%;
        position: relative;
        z-index: -1;
        background-color: #FAFAFA;

        > .not-eligible {
          padding-bottom: 1.2em;
        }

        > .eligible {
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;

          .component-content {
            padding-bottom: 1.2em;
          }
        }

        .component-image {
          -moz-border-radius-topleft: 9px;
          -moz-border-radius-topright: 9px;
          width: 100%;
          position: relative;
          z-index: -1;

          > img {
            width: 100%;
          }
        }

        .component-message {
          font-weight: 700;
          text-align: center;
          padding-block: 1em;
          width: 60%;
          margin: auto;
          line-height: 1.3em;
        }

        .redeem-button {
          border: 1px solid #A0A0A0;
          border-radius: 4px;
          width: 10.5em;
          height: 2.2em;
          margin: auto;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;

          &:hover {
            background: #E8E8E8;
          }
        }

        .unredeemed-button {
          color: #2F80ED;
          cursor: pointer;
          text-decoration: underline;
        }

        .points-progress-bar-wrapper {
          background-color: #ECECEC;

          .progress-bar-description {
            text-align: start;
            padding: 0.7em;
          }

          .points-progress-bar {
            display: flex;
            padding-inline: 0.5em;
            padding-bottom: 1em;

            .progress-bar {
              width: 385px;
              height: 16px;
              border-radius: 24.5746px;
              background-color: #FFFFFF;
              border: 1.26023px solid #BCBCBC;
              margin-inline-end: 0.5em;

              .inner-progress-bar {
                background-color: #F1BB16;
                border-radius: 24.5746px;
                width: 385px;
                height: 16px;
              }
            }
          }
        }
      }

      > .points-calculation-info {
        margin-top: 0.5em;
        font-size: 0.85em;
        color: #787878;
      }
    }
  }

  $summaryDetailsBorderRadius: 5px;
  .summary-details {
    width: 44%;
    display: inline-block;
    vertical-align: top;
    padding: 1em;
    margin-top: 0.1em;

    .title {
      padding: 1em 0;
      font-size: 1.5em;
      font-weight: bold;
      color: #000000;
    }

    .delivery-image {
      height: 2.5em;
    }

    .delivery-type {
      padding-top: 0.6em;
      font-size: 1.25em;
      font-weight: normal;
    }

    .delivery-time {
      margin-top: 0.2em;
      padding: 1em;
    }

    .date {
      font-size: 1.5em;
      font-weight: normal;
    }

    .times {
      padding: 0.2em;
      font-size: 1.5em;
      font-weight: normal;
      display: inline-block;
      direction: ltr;
    }

    .asap {
      padding-bottom: 0.8em;
    }

    .address {
      font-size: 1.2em;
    }

    .substitutions {
      padding: 0.2em;
      font-size: 1em;
      font-weight: normal
    }

    > *, ng-include > * {
      padding: 0;
    }

    > ng-include {
      padding: 2em;
    }

    .center {
      text-align: center;
    }

    h4 {
      font-size: 2em;
    }

    h5, p {
      font-size: 1em;
    }

    h4, h5, p, .sub-line {
      padding: 0.4em 0;
    }

    p {
      color: #606060;
    }

    .border {
      width: 100%;
      padding-top: 1em;
      border-bottom: 1px solid #d9d7d7;
    }

    .summary-line {
      .price, h4, h5, p {
        font-size: 1.2em;
        color: #2f3731;
        display: inline-block;
      }

      .ltr {
        direction: ltr;
      }

      &.fee-price-line .price {
        .final-price {
          display: none;
        }

        &.has-sale {
          .final-price {
            display: inline-block;
            color: #FF7F27;
            font-weight: bold;
          }

          .original-price {
            text-decoration: line-through;
            color: #7F7F7F;
          }
        }
      }

      &.total-line {
        padding-top: 1em;
        padding-bottom: 1em;
        border-radius: 0 0 $summaryDetailsBorderRadius $summaryDetailsBorderRadius;

        .question-mark {
          // vertical-align: middle;
        }

        .multipass-discount {
          padding: 0.8em 0;
          font-size: 0.8em;
        }

        .sum-explan {
          vertical-align: middle;
          display: inline-block;
          text-align: center;
          position: relative;
          font-size: 0.8em;
          font-weight: normal;

          &:hover, &:focus {
            > .explanation {
              display: block;
            }
          }

          .explanation {
            display: none;
            position: absolute;
            width: 16em;
            bottom: 175%;
            right: -591%;
            padding: 1em;
            font-size: 0.875em;
            z-index: 120;
            line-height: 1.2;
            text-align: left;
            background-color: #ffffff;
            @include border-radius(5px);
            @include box-shadow(0 0 10px -1px gray);

            .arrow {
              position: absolute;
              top: 100%;
              width: 12em;
              height: 0;
              padding: 0;
              text-align: center;
              margin-top: -0.75em;

              &:after {
                content: '';
                display: inline-block;
                height: 1.5em;
                width: 1.5em;
                background-color: #ffffff;
                @include rotate(45);
                @include box-shadow(6px 3px 8px -3px gray);
              }
            }
          }
        }

        .sum {
          padding-top: 0.2em;
        }

        span {
          font-size: 1.35em;
          color: #2e2e2e;
          font-weight: bold;

          &.price {
            font-weight: bold;
          }
        }
      }

      .retailer-text {
        font-size: 0.8335em;
        width: 26em;
        line-height: 1.2em;
        text-align: left;
      }
    }

    .sub-line, .regular-size {
      font-size: 0.875em;
    }

    .summary-line, .sub-line {
      color: #878787;
    }

    .ebt-group {
      padding-bottom: 1em;
    }

    .you-saved-wrapper {
      background-color: #F2F4F6;
      padding: 0.7em;
      margin-block: 0.5em;

      .title {
        font-size: 1.125em;
        font-weight: normal;
        padding: 0 0 0.3em 0;
        width: 100%;
        text-align: left;
      }

      .you-saved {
        width: 100%;
        text-align: left;
        padding: 0.3em 0;

        &.loyalty {
          > span {
            width: 100%;
            display: flex;
            justify-content: space-between;

            > span {
              font-weight: bold;
            }
          }
        }

        span {
          font-weight: normal;

          &.gift-price {
            line-height: 1.4em;
            font-size: 1em;
            direction: ltr;
            display: inline-block;
          }
        }
        > * {
          vertical-align: middle;
          height: 1.5em;
        }
      }
    }

    .special-icon, .club-icon {
      font-size: 0.625em;
      color: #ffffff;
      padding: 0.2em 0.3em;
      border-radius: 3px;
    }

    .club-icon {
      background-color: #28251D;
    }

    .points-discount-details {
      padding-block: 1em;
    }

    .points-discount {
      font-size: 1.1em;

      .points-discount-title {
        font-weight: 600;
      }
    }

    .detailed-payments {
      margin-top: 0.5em;
      padding: 0.7em;
      border-radius: 6px;
      line-height: 27px;
    }
  }

  #payment_iframe {
    height: 42em;
    width: 25em;
  }
}

#{$checkoutLtrSelector} > .summary .payment-details {
}

#{$checkoutRtlSelector} > .summary {
  text-align: right;

  .paymentForm {
    border-right: none;
    border-left: 1px solid #d9d7d7;
  }

  .payment-details {
    text-align: right;

    .payment-methods .sp-radio-buttons .sp-radio-option {
      padding-right: 0;

      &:before {
        margin-right: 0;
        margin-left: 0.5em;
      }
    }

    .credit-card-details {
      .payments-number sp-dropdown.input.narrow {
        padding-left: 3em;
        padding-right: 0.5em;
      }

      .credit-cards-wrapper table {
        thead th, tbody td {
          padding-right: 0;
          padding-left: $columnPaddingRight;
        }

        .radio-column {
          padding-right: 0;
          padding-left: $columnPaddingRight / 2;
        }

        .cvv{
          padding-right: 0;
          padding-left: 0.3em;
        }

        .cvv-explain .explanation {
          text-align: right;

          .detailed-text {
            padding-left: 0;
            padding-right: 1em;
            text-align: right;
          }
        }
      }
    }

    .promo-code input {
      margin-right: 0;
      margin-left: 2%;
    }

    .check-out-button.masterpass-button button {
      text-align: right;
    }

    .tav-plus-details .tav-plus-card-wrapper .tav-plus-card-number-wrapper .card .remove-button {
      text-align: left;
    }
  }

  .summary-details {
    right: auto;
    left: 1em;

    .delivery-image {
      @include flipH();
    }

    h5 {
      .times {
        direction: ltr;
        display: inline-block;
      }
    }

    .summary-line{
      &.total-line .sum-explan .explanation{
        right: -478%;
        width: 15em;
        text-align: right;

        .arrow{
          width: 16em;
        }
      }

      .retailer-text {
        text-align: right;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  html.checkout section.view .checkout-content .tab> .summary {
    width: 100%;
  }
}

.error-ebt{
  color: red;
    font: 400 15px Open Sans;
    margin-top: 0.5vw;
    display: block;
    text-align: center;
}

.credit-customer-payment-form {

  .credit-customer-line {
    display: flex;
    svg {
      display: inline-block;
      vertical-align: middle;
      height: 1.8125em;
      width: 2.6em;
    }

    .text {
      width: 60%;
      padding: 0 0.6em;
      line-height: 1.7em;
      display: inline-block;
      font-weight: bold;
    }

    .price {
      width: 40%;
      direction: ltr;
      text-align: left;
      line-height: 1.7em;
      display: inline-block;
      font-weight: bold;

      &.not-enough {
        color: #D6353A;
      }
    }
  }

  h5 {
    margin: 0.5em 0 1em 0;
  }

  h1 {
    margin-bottom: 2em;
  }

  .check-out-button {
    border-top: 1px solid #A0A0A0;
    margin-top: 1em;
    padding-top: 3em !important;
  }
}

.ltr {
  .credit-customer-payment-form {
    .price {
      text-align: right;
    }
  }
}

html.rtl.checkout section.view .checkout-content .tab>.summary .summary-details .you-saved-wrapper {
  .title, .you-saved {
    text-align: right;
  }
}

.tav-plus-error-dialog {
  text-align: center;
  width: 15em;

  .title {
    padding-bottom: 0.5em;
    font-size: 1.5em;
    font-weight: bold;
  }

  .desc {
    padding-bottom: 2em;
    font-size: 0.9em;
  }

  .contact-phone {
    font-size: 0.9em;
  }

  button {
    margin-top: 1em;
    padding: 0.3em 1em;
    border-radius: 100px;
  }
}
