<div class="sp-cart-line-count">
    <div class="count-wrapper" ng-if="line && (line.quantity || line.isProductOutOfStock)" aria-atomic="true" aria-live="assertive" aria-label="{{('x items in cart' | translate).replace('x',line.quantity)}}" tabindex="0">
        <span class="for-vertical-align"></span><!--
        --><span class="content">
            <span ng-if="(line.soldBy === $root.PRODUCT_DISPLAY.UNIT.name && $root.util.isUnitsWeighable(line.product)) || (!line.soldBy && !$root.util.isWeightQuantity(line.product))" class="amount">{{line.quantity}}</span>
            <img ng-if="!line || (line.soldBy === $root.PRODUCT_DISPLAY.UNIT.name && $root.util.isUnitsWeighable(line.product)) || (!line.soldBy && !$root.util.isWeightQuantity(line.product))" src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/cart_small.png" alt=""/>
            <span ng-if="(line.soldBy === $root.PRODUCT_DISPLAY.WEIGHT.name && $root.util.isUnitsWeighable(line.product)) || (!line.soldBy && $root.util.isWeightQuantity(line.product))">
                {{line.product | productWeight:line.isCase:null:line.quantity:line.soldBy}}
            </span>
        </span>
    </div>
</div>