.sp-cart-line-count {
  @include box-sizing(border-box);
  font-size: 0.825em;
  font-weight: 700;
  color: #ffffff;

  > .count-wrapper {
    padding: 0.3em 0.8em;
    height: 100%;
    width: 100%;
    @include box-sizing(border-box);
    @include border-radius(3px);

    > .content {
      display: inline-block;
      vertical-align: middle;

      > .amount {
        display: inline-block;
        max-width: 55%;
        overflow: hidden;
        vertical-align: middle;
      }

      > img {
        vertical-align: middle;
        height: 1em;
      }
    }
  }
}