<span class="sp-file-input" ng-class="{'has-value': !!spModel}">
    <span class="title">
        {{spModel.name || placeholder || ('Choose file' | translate)}}
    </span>
    <span class="input">
        <input type="file" ng-disabled="spDisabled" accept="image/jpg,image/jpeg,image/png,image/gif,video/mp4,video/mpeg,video/avi,video/wmv,application/pdf"/>
    </span>
    <span class="remove" ng-click="spModel = null">
        x
    </span>
</span>