.sp-file-input {
  position: relative;
  padding-right: 1em;
  display: inline-block;
  @include box-sizing(border-box);

  .title {
    display: inline-block;
    width: 100%;
    height: 100%;
    @include box-sizing(border-box);
  }

  .input {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    @include opacity(0);

    input {
      width: 100%;
      height: 100%;
      padding: 0;
      margin: 0;
      border-width: 0;
      cursor: pointer;
    }
  }

  .remove {
    display: none;
    position: absolute;
    z-index: 1;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 1em;
    cursor: pointer;
  }

  &.has-value {
    .remove {
      display: inline-block;
    }

    .input {
      display: none;
    }
  }
}