//$mainColor: #207d3f;
//$secondaryColor: #353b37;
//$highlightColor: #ff8a18;
//$loyaltyColor: #ce0a0a;
$sidenavWidth: 26em;
$responsiveSidenavWidth: 19em;

$headerHeight: 8.5em;
$headerResponsiveHeight: 7.31em;
$hubHeaderHeight: 4.375em;

//$defaultFontFamily: 'Quicksand', 'Open Sans Hebrew', 'Open Sans';
//$secondaryFontFamily: 'Open Sans Hebrew', 'Open Sans';

$checkoutBottomBannerNextButtonWidth: 21rem;

$navigationBarHeight: 5em;