@mixin opacity ($val) {
  /* IE 8 */
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=' + ($val * 10) + ')';

  /* IE 5-7 */
  filter: alpha(opacity=$val*100);

  /* Netscape */
  -moz-opacity: $val;

  /* Safari 1.x */
  -khtml-opacity: $val;

  /* Good browsers */
  opacity: $val;
}

@mixin rotate ($val) {
  -ms-filter: 'progid:DXImageTransform.Microsoft.BasicImage(rotation=' + $val + ')';
  -moz-transform: rotate(unquote($val + 'deg'));
  -webkit-transform: rotate(unquote($val + 'deg'));
  -o-transform: rotate(unquote($val + 'deg'));
  -ms-transform: rotate(unquote($val + 'deg'));
  transform: rotate(unquote($val + 'deg'));
}

@mixin flipH () {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: 'DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)';
  -ms-filter: 'FlipH';
}

@mixin transition ($val...) {
  -webkit-transition: $val;
  -moz-transition: $val;
  -ms-transition: $val;
  -o-transition: $val;
  transition: $val;
}

@mixin transition-delay ($val...) {
  -webkit-transition-delay: $val;
  -moz-transition-delay: $val;
  -o-transition-delay: $val;
  transition-delay: $val;
}

@mixin box-shadow ($val...) {
  -webkit-box-shadow: $val;
  -moz-box-shadow: $val;
  box-shadow: $val;
}

@mixin border-radius ($val...) {
  -webkit-border-radius: $val;
  -moz-border-radius: $val;
  border-radius: $val;
}

@mixin border-top-left-radius ($val...) {
  -moz-border-radius-topleft: $val;
  -webkit-border-top-left-radius: $val;
  border-top-left-radius: $val;
}

@mixin border-top-right-radius ($val...) {
  -moz-border-radius-topright: $val;
  -webkit-border-top-right-radius: $val;
  border-top-right-radius: $val;
}

@mixin border-bottom-right-radius ($val...) {
  -moz-border-radius-bottomright: $val;
  -webkit-border-bottom-right-radius: $val;
  border-bottom-right-radius: $val;
}

@mixin border-bottom-left-radius ($val...) {
  -moz-border-radius-bottomleft: $val;
  -webkit-border-bottom-left-radius: $val;
  border-bottom-left-radius: $val;
}

@mixin animation ($val...) {
  -webkit-animation: $val; /* Safari 4+ */
  -moz-animation: $val; /* Fx 5+ */
  -o-animation: $val; /* Opera 12+ */
  animation: $val; /* IE 10+, Fx 29+ */
}

@mixin display-flex() {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

@mixin main-flex() {
  -webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: 1;         /* OLD - Firefox 19- */
  -webkit-flex: 1 1 auto;          /* Chrome */
  -ms-flex: 1 1 auto;              /* IE 10 */
  flex: 1 1 auto;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

@mixin box-sizing ($val) {
  -webkit-box-sizing: $val;
  -moz-box-sizing: $val;
  box-sizing: $val;
}

@mixin user-select ($val) {
  -webkit-touch-callout: $val;
  -webkit-user-select: $val;
  -khtml-user-select: $val;
  -moz-user-select: $val;
  -ms-user-select: $val;
  user-select: $val;
}

@mixin fixed() {
  position: fixed;
  @include vendor-prefix(transform, translateZ(0));
}

@mixin animation-delay($val...) {
  @include vendor-prefix(animation-delay, $val...);
}

@mixin animation-duration($val...) {
  @include vendor-prefix(animation-duration, $val...);
}

@mixin vendor-prefix($name, $val...) {
  @each $vendor in ('-webkit-', '-moz-', '-ms-', '-o-', '') {
    #{$vendor}#{$name}: #{$val};
  }
}

@function clear-units($value){
  @if type-of($value) == "number" {
    @if (unitless($value)) {
      @return $value;
    } @else if unit($value) == "em"{
      @return $value / 1em;
    } @else if unit($value) == "px" {
      @return $value / 1px;
    } @else if unit($value) == "pt" {
      @return $value / 1pt;
    }
  } @else {
    @warn "Not a number value: #{$value}";
    @return $value;
  }
}

@mixin ellipsis($row) {
  @supports (-webkit-line-clamp: $row) {
    display: -webkit-box;
    -webkit-line-clamp: $row;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: initial;
  }
}