@import './_config.scss','./_functions.scss';
/* Reset */
html {
  font-size: 16px;
}

:root {
  --zoom: 1;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

@import url("https://fonts.googleapis.com/css?family=Quicksand:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700");
@import url('https://fonts.googleapis.com/css?family=Almarai:300,400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karantina:wght@300;400&display=swap');
@import url('https://d226b0iufwcjmj.cloudfront.net/fonts/open-sans-hebrew/opensanshebrew.css?cachebuster=1');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
//@import url("https://fonts.googleapis.com/earlyaccess/opensanshebrew.css");

html, body, div, span, applet, object, iframe,
  /*h1, h2, h3, h4, h5, h6,*/ p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ul,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input, button, textarea {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  text-decoration: none;
  background: transparent;
  color: inherit;
}

body {
  *:focus-visible, .focus {
    outline: 3px #000000 double !important;
    box-shadow: inset #fffffff7 0 0 0 2px !important;
    outline-offset: -3px;
    -moz-outline-radius: 5px;
    border-radius: 5px;
  }
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
  /*overflow: hidden;*/
}
ul {
  list-style: none;

  [ng-bind-html] & {
    list-style: disc;
  }
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Angular JS elements */
ng-include {
  display: block;
}

input {
  border: 1px solid silver;
}

input[type="button"], input[type="submit"], button {
  //background-color: silver;
  cursor: pointer;
}

/* Angular JS elements */
ng-include {
  display: block;
}

/* To prevent a bug in ie - when clicking on an img withing a label, the label does not gain focus as expected */
label img {
  pointer-events: none;
}

/* Accessibility */
html body[nl-colors="invert"], html body[nl-colors="grayscale"] {
  $invertTextColor: #000000;

  .special-item > .special-product > .data {
    > .brand, > .weight {
      color: $invertTextColor;
    }
  }

  > header {
    > .toolbar > .data > .search-wrapper > .search > .input > input[type="search"].placeholder {
      color: $invertTextColor;
    }

    > .menu > .categories > .category {
      > .category-content > .content > .name,
      >.sub-categories > .sub-categories-content-wrapper > .sub-categories-content > .sub-category > .sub-sub-category {
        color: $invertTextColor;
      }
    }
  }

  div.sidenav > div > nav.cart {
    > .content-wrapper > div.content > section.empty-cart div .empty {
      >.title, >.content {
        color:$invertTextColor;
      }
    }

    > footer > .orders-history-button > span {
      color: $invertTextColor;
      border-color: $invertTextColor;
    }
  }

  > footer {
    color: #ffffff;
  }

  *:focus-visible,body .focus {
    outline: 3px #000000 double !important;
    box-shadow: inset #fffffff7 0 0 0 2px !important;
    outline-offset: -3px;
    -moz-outline-radius: 5px;
    border-radius: 5px;
  }

  input[type="text"], input[type="password"], input[type="email"], input[type="tel"], input[type="number"], input[type="date"], select, textarea,
  input::placeholder, textarea::placeholder,
  sp-tabs > .sp-tabs-selector > button, .user-edit ui-view,
  .dialog-wrapper .dialog.choose-area-dialog .dialog-body #filter-areas-input.placeholder,
  div.sp-product-price > .regular-price,
  .item.product sp-product > .data > *,
  sp-dropdown.input {
    color: $invertTextColor;
  }

  div.dialog.product > .dialog-body > .product-details {
    > .product-data .brand-and-weight, > .similar-products > h2.title {
      color: $invertTextColor;
    }
  }

   .product-in-cart>.product-wrapper>.product-data>.data {
     >.brand, > .weight, > .brand-and-weight, > .price {
       color: $invertTextColor;
     }
   }

  .sp-list-items-wrapper {
    .items-table tbody {
      th {
        color: $invertTextColor;
      }

      > tr.item-row > td.name {
        > .data > .brand, > .data > .weight {
          color: $invertTextColor;
        }
      }
    }

    .elastic-row > span {
      color: $invertTextColor;
    }
  }
}

html.checkout body[nl-colors="invert"], html.checkout body[nl-colors="grayscale"] {
  section.view .checkout-content .tab > .details .input-group .input-wrapper {
    >.label, .content>.label {
      color: #000000;
    }
  }
}

html.finish body[nl-colors="invert"], html.finish body[nl-colors="grayscale"] {
  .text-content .regular-text, .edit-order-wrapper {
    color: #000000;
  }
}


.spinner{
  height: 120px;
  width: 120px;
  border: 6px solid;
  border-color: white transparent white transparent;
  border-radius: 50%;
  animation: spin 1.3s linear infinite;
  margin: 0px auto;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

