<div>
    <h1 class="detail-title left" id="page_title">
        {{::'Membership club' | translate}}
    </h1>
    <button class="right" ng-click="userLoyaltyCtrl.showLoyaltyClubDialog();"
            ng-if="((!userLoyaltyCtrl.userLoyaltyClub || !userLoyaltyCtrl.userLoyaltyClub.loyaltyCardId) && !userLoyaltyCtrl.loyaltyAtProcess) ||
            (userLoyaltyCtrl.isMultiLoyalty && userEditCtrl.user.loyaltyClubs.length !== $root.config.retailer.loyaltyClubDrivers.length)">
        <span ng-if="userLoyaltyCtrl.isMultiLoyalty || userLoyaltyCtrl.loyaltyClubDriver.loyaltyClubDriverId !== userLoyaltyCtrl.LOYALTY_CLUB_DRIVERS.MAX">
            {{'Join / Connect to club' | translate | retailerNameReplacement}}
        </span>
        <span ng-if="!!userLoyaltyCtrl.loyaltyClubDriver && userLoyaltyCtrl.loyaltyClubDriver.loyaltyClubDriverId === userLoyaltyCtrl.LOYALTY_CLUB_DRIVERS.MAX">
            {{::'Connect / Join to club' | translate}}
        </span>
    </button>
</div>

<div class="clear"></div>

<div ng-if="!userEditCtrl.user.loyaltyClubs || !userEditCtrl.user.loyaltyClubs.length">
    {{::'Connect to our membership club' | translate}}
</div>

<div class="loyalty-clubs-details" ng-if="userEditCtrl.user.loyaltyClubs && userEditCtrl.user.loyaltyClubs.length">
    <div class="loyalty-club-details" ng-repeat="loyaltyClub in userEditCtrl.user.loyaltyClubs">
        <div class="details-wrapper">
            <div class="loyalty-name">
                <span class="driver-icon">{{'Club' | translate}}</span>
                <span class="name">{{loyaltyClub.loyaltyClubDriverName}}</span>
            </div>
            <div id="loyalty-card-id" ng-if="userLoyaltyCtrl.loyaltyClubDriver.clientConfig.addBarcodeOnLoyaltyMobile" class="loyalty-text">
                {{('Membership number' | translate) + ' ' + loyaltyClub.loyaltyCardId + userLoyaltyCtrl.generateGS1CheckDigit(loyaltyClub.loyaltyCardId)}}
            </div>
            <div id="loyalty-card-id" ng-if="!userLoyaltyCtrl.loyaltyClubDriver.clientConfig.addBarcodeOnLoyaltyMobile" class="loyalty-text">
                {{('Membership number' | translate) + ' ' + loyaltyClub.loyaltyCardId}}
            </div>
            <div class="loyalty-text">
                {{userEditCtrl.user.firstName + ' ' + userEditCtrl.user.lastName + ', ' + userEditCtrl.user.phonesObj['3'].phoneNumber}}
            </div>
            <div class="loyalty-text" ng-if="loyaltyClub.loyaltyClubExpiration"
            ng-class="{'is-expired': loyaltyClub.isExpired}">
                {{('Validity' | translate) + ': ' + (loyaltyClub.loyaltyClubExpiration | date: ($root.isUs ? 'MM/dd/yyyy' : 'dd/MM/yyyy'):'UTC')
                + (loyaltyClub.isExpired ? (' ' + ('Expired' | translate)) : '')}}
            </div>
        </div>
    </div>
</div>

<!-- TODO support multi loyalty-->
<!--<div ng-if="!userEditCtrl.user.loyaltyClubCardId && userLoyaltyCtrl.loyaltyAtProcess">
    <span ng-if="$root.config.retailer.loyaltyClubDriver.loyaltyClubDriverId !== userLoyaltyCtrl.LOYALTY_CLUB_DRIVERS.MAX">
        {{'The registration process will end when you will pay a membership fee at checkout' | translate}}
    </span>
    <span ng-if="userEditCtrl.user.loyaltyClubDriverId !== userLoyaltyCtrl.LOYALTY_CLUB_DRIVERS.MAX"
          ng-bind-html="$root.config.retailer.loyaltyClubDriver.clientConfig.text.postActivationLabel"></span>
</div>-->

<div class="loyalty-club">

    <div class="registrationBanner" ng-if="!!userLoyaltyCtrl.loyaltyClubDriver && userLoyaltyCtrl.loyaltyClubDriver.clientConfig.banners.registrationMembership">
        <img ng-src="{{userLoyaltyCtrl.loyaltyClubDriver.clientConfig.banners.registrationMembership}}"
             ng-click="!!userLoyaltyCtrl.loyaltyClubDriver.clientConfig.bannersMap && !!userLoyaltyCtrl.loyaltyClubDriver.clientConfig.bannersMap.registrationMembershipBanner
                       && !!userLoyaltyCtrl.loyaltyClubDriver.clientConfig.bannersMap.registrationMembershipBanner.length ? null : $root.util.showLoyaltyClubDialog()"
             alt="{{'membership club' | translate}}">
        <div ng-if="!!userLoyaltyCtrl.loyaltyClubDriver.clientConfig.bannersMap && !!userLoyaltyCtrl.loyaltyClubDriver.clientConfig.bannersMap.registrationMembershipBanner
                && !!userLoyaltyCtrl.loyaltyClubDriver.clientConfig.bannersMap.registrationMembershipBanner.length"
             class="banner-map">
            <div class="area"
                 ng-repeat="area in userLoyaltyCtrl.loyaltyClubDriver.clientConfig.bannersMap.registrationMembershipBanner"
                 ng-if="area.url"
                 ng-style="{'top': (area.y + (userLoyaltyCtrl.registrationBannerImgOffsetTop || 0)) + 'px', 'left': (area.x + (userLoyaltyCtrl.registrationBannerImgOffsetLeft || 0)) + 'px', 'width': area.width + 'px', 'height': area.height + 'px'}"
                 ng-click="userLoyaltyCtrl.goTo(area.url)">
            </div>
        </div>
    </div>


    <div class="specials-carousel" ng-class="{'new-promotion': $root.config.retailer.settings.isNewPromotionDesignEnabled === 'true'}">
        <span class="left"> {{!userLoyaltyCtrl.loyaltyClubDriver ? ('Our clubs specials' | translate | retailerNameReplacement) : ('{clubname} Special Deals' | translate).replace('{clubname}', ((userLoyaltyCtrl.loyaltyClubDriver.name) ? userLoyaltyCtrl.loyaltyClubDriver.name : ('membership_club' | translate)))}}</span>
        <sp-carousel
                template-url="template/views/home/partials/special-carousel/index.html"
                load-more-items="userLoyaltyCtrl.loadSpecials"
                functions="userLoyaltyCtrl.specialsActions"
                item-width="278"
                rows="{default:1}"
                refresh-event="carousel.specials.add"
                watchers="userLoyaltyCtrl.specialsCarouselWatchers">
        </sp-carousel>
    </div>
</div>
