.loyalty-clubs-details {
  padding-top: 1em;

  .loyalty-club-details {
    display: inline-block;
    width: 30%;
    box-sizing: border-box;
    padding: 1em 1.5em;
    position: relative;
    vertical-align: top;

    .details-wrapper {
      display: inline-block;
      vertical-align: middle;
      width: 84%;

      .loyalty-name {
        padding-bottom: 0.7em;
        .name {
          color: #353b37;
          font-size: 1.5em;
          font-weight: 700;
          padding: 0 0.3em;
        }

        .driver-icon {
          font-size: 0.8em;
          border-radius: 3px;
          color: #ffffff;
          padding: 0 0.3em;
        }
      }

      .loyalty-text {
        font-size: 1.15em;
        line-height: 1.4em;
        color: #78797A;

        &.is-expired {
          color: #DA3B39;
          font-weight: bold;
        }
      }
    }

    &:not(:last-child) {
      border-right: 1px solid #ECECEC;
      margin-right: 3%;
    }
  }
}

.loyalty-club {
  .registrationBanner {
    text-align: center;
    position: relative;

    .banner-map .area {
      position: absolute;
    }
  }

  .specials-carousel {
    padding-top: 2em;
    height: 22.4em;

    span.left {
      margin: 1em 0 1em 0;
      font-weight: bold;
      color: #616161;
    }

    span.right {
      margin: 1em 4em 1em 0;
      color: #616161;
    }

    .special-item {
      border-width: 1px 1px;
    }
  }
}

.rtl {
  .loyalty-clubs-details .loyalty-club-details {
    .driver-icon {
      left: 1.5em;
      right: unset;
    }

    &:not(:last-child) {
      border-left: 1px solid #ECECEC;
      border-right-width: 0;
      margin-right: 0;
      margin-left: 3%;
    }
  }
  .loyalty-club {
    .specials-carousel {
      span.left {
        margin: 1em 0 1em 0;
      }
      span.right {
        margin: 1em 0 1em 4em;
      }
    }
  }
}