<div id="ebt-error">
    <div class="ebt-dialog-content">
        <h2>{{error.details.title || error.error}}</h2>
        <div class="details">
            <span>{{error.details.explanation}}</span>
            <span>{{error.details.instructions}}</span>
        </div>
        <button type="button" class="cancel" ng-click="hide()" ng-bind="::'Close' | translate"></button>
        <span class="code">{{'Error Code' | translate }} : {{error.xErrorCode}}</span>
    </div>
</div>
