.ebt-error-wrapper {
  .dialog-body {
    padding-top: 1em !important;
  }
}

#ebt-error {

  display: flex;
  justify-content: center;
  padding: 0 1em;
  width: 470px;
  overflow: hidden;

  .ebt-dialog-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .details {
    padding-bottom: 1em;
    display: flex;
    flex-direction: column;

    > span {
      text-align: center;
      padding: 1em;
    }
  }


  .code {
    color: darkgrey;
    font-size: 14px;
  }

  .cancel {
    width: 50%;
    margin-bottom: 1em;
  }

  h2 {
    font-size: 1.5em;
    padding: 0.2em 0em 0.7em 0em;
    text-align: center;
    color: #D6353A;
    line-height: 1.2em;
    font-weight: bold;
  }

}

