<div class="product-actions actions {{mode || 'landscape'}}" tabindex="-1" role="none" ng-hide="line.product._suggestions || product._suggestions || showReplacementLabel">
    <!-- <sp-quantity ng-if="getLine() && getLine().quantity" est-text="{{estText}}" cart-line="getLine(newCartLine)" -->
    <sp-quantity ng-if="getLine() && getLine().quantity" est-text="{{estText}}" cart-line="getLine()"
        hide-cart="{{hideCart}}" hide-weight="{{mode == 'portrait'}}" is-pack="isPack" sp-aria-live="spAriaLive"
                 ng-click="onClick();" tabindex="-1" role="none">
    </sp-quantity>
<!--    todo remove once replace behavior is final-->
<!--    <button class="no-design add-to-cart" style="text-align: center;"-->
<!--            ng-if="(!getLine() || !getLine().quantity) && product.oosProduct" aria-label="{{'Open' | translate}}"-->
<!--            ng-click="replace({product: product, isCase: line.isCase || isCase, quantity: isPack ? product.branch.packQuantity : null, productPropertyValue: productPropertyValue, source: 'productPage'}, product, $index)">-->
<!--        <span class="text" >{{'Replace' | translate}}</span>-->
<!--        <div class="icons">-->
<!--            <img class="cart" src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/cart_small.png" alt="" />-->
<!--        </div>-->
<!--    </button>-->
    <button class="no-design add-to-cart" ng-if="(!getLine() || !getLine().quantity) && !hideAddButton"
        aria-label="{{('add to cart' | translate).replace('{cart}', $root.config.retailer.settings.setCartNameToBasket ? $root.config.retailer.settings.setCartNameToBasket : 'cart')}}"
        ng-click="addLine({product: product, isCase: line.isCase || isCase, quantity: isPack ? product.branch.packQuantity : null, productPropertyValue: productPropertyValue, source: 'productPage'}); setFocus(); removeOOS(product);">
        <span ng-if="!product.oosProduct" class="text">{{text || ('add to cart' | translate).replace('{cart}',
            $root.config.retailer.settings.setCartNameToBasket ? $root.config.retailer.settings.setCartNameToBasket :
            'cart')}}</span>
        <span class="text" ng-if="product.oosProduct">{{'Replace' | translate}}</span>
        <div class="icons">
            <img class="cart" src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/cart_small.png" alt="" />
            <img class="plus" src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/plus.png" alt="" />
        </div>
    </button>
    <button class="no-design add-to-cart" style="text-align: center;"
        ng-if="(!getLine() || !getLine().quantity) && hideAddButton" aria-label="{{'Open' | translate}}"
        ng-click="removeOOS(product); openProduct(product, $index);">
        <span ng-if="!product.oosProduct" class="text">{{'Open' | translate}}</span>
        <span ng-if="product.oosProduct" class="text">{{'Replace' | translate}}</span>
        <div class="icons">
            <img class="cart" src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/cart_small.png" alt="" />
        </div>
    </button>
    <button class="remove-from-cart" ng-if="removeFromCart" ng-click="$root.cart.removeLine(product); onClick();">
        {{('remove from cart' | translate).replace('{cart}', $root.config.retailer.settings.setCartNameToBasket ?
        $root.config.retailer.settings.setCartNameToBasket : 'cart')}}
    </button>
</div>