.actions,
.product-actions {
  color: #ffffff;

  > * {
    vertical-align: middle;
    display: inline-block;
    max-width: 100%;
  }

  > button.add-to-cart {
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 0.5em;
    align-items: center;
    margin: 0 auto;
    padding: 0 0.5em;
    @include border-radius(5px);
    @include box-shadow(none);

    > .text {
      justify-self: end;
    }

    > .icons {
      display: grid;
      grid-auto-flow: column;
      align-items: center;
      justify-self: start;
    }
  }

  &.landscape > button.add-to-cart {
    font-weight: 700;
    height: 2.313em;

    > .text {
      vertical-align: middle;
    }

    > .icons {
      height: 100%;

      > img {
        display: inline-block;
        vertical-align: middle;

        &.plus {
          padding-right: 3px;
        }
      }
    }
  }

  &.portrait {
    text-align: center;

    > * {
      height: 100%;
    }

    .sp-quantity .btns-row {
      > * {
        display: block;
        height: 33%;
        width: 100%;
        font-size: 1em;
      }

      > .quantity-wrapper {
        border-top-width: 0;
        border-bottom-width: 0;
        border-left-width: 2px;
        border-right-width: 2px;
        border-left-style: solid;
        border-right-style: solid;

        &.with-unit {
          > * {
            vertical-align: top;
            height: 50%;
            width: 100%;
            line-height: 1;
          }

          > sp-vertical-value-slider {
            font-size: 0.85em;
          }

          > .additional-text {
            font-size: 0.6em;
          }
        }
      }
    }

    > button.add-to-cart {
      padding: 0;
      text-align: center;

      > .text {
        display: none;
      }

      > .icons {
        float: none;
        display: inline-block;
        vertical-align: middle;
        text-align: center;

        > img {
          &.plus {
            padding-right: 0;
          }
        }
      }
    }
  }
}

.rtl {
  .actions.landscape > button.add-to-cart,
  .product-actions.landscape {
    display: grid;
    align-items: center;
    justify-items: center;

    > button.add-to-cart {
      text-align: center;
    }
  }
}
