.actions, .product-actions {
  > button.add-to-cart {
    background-color: '{{mainColor-#ffffff-90}}';

    .text{
      font-family: $defaultFontFamily;
    }

    &:hover {
      background-color: '{{mainColor-#000000-90}}';
    }

    &:active {
      background-color: '{{mainColor-#ffffff-80}}';
    }
  }

  &.portrait {
    .sp-quantity .btns-row {
      > .quantity-wrapper {
        border-right-color: $mainColor;
        border-left-color: $mainColor;
      }
    }
  }
}