<form sp-form-accessibility ng-submit="loadLastCartCtrl.load();">
    <header>
        <img ng-src="{{:: $root.config.retailer.logoUrl}}" alt=""/>
    </header>

    <section>
        <p id="load_last_cart_dialog_title">
            {{:: 'Dear Customer' | translate}},<br/>
            {{:: ('{retailer} Club members can save time and upload their shopping cart from their last visit to the store' | translate).replace('{retailer}', $root.config.retailer.title)}}
        </p>

        <div ng-repeat="field in loadLastCartCtrl.fields">
            <input ng-if="field.type" type="{{field.type}}" ng-model="loadLastCartCtrl.lookupData[field.key]"
                   name="{{field.key}}" sp-inline-error
                   placeholder="{{field.name | translate}}"
                   ng-required="field.required" ng-maxlength="field.maxLength"/>
            <select ng-if="field.options" ng-model="loadLastCartCtrl.lookupData[field.key]"
                    name="{{field.key}}" sp-inline-error
                    placeholder="{{field.name | translate}}"
                    ng-required="field.required"
                    ng-options="option as (option | translate) for option in field.options">
            </select>
        </div>

        <p class="error reverse-text-align" ng-bind-html="loadLastCartCtrl.error"></p>
    </section>

    <footer class="reverse-text-align">
        <button type="submit" ng-bind=":: 'Upload my cart' | translate"></button>
        <button ng-click="$dialog.hide()" ng-bind=":: 'No, Thanks' | translate"></button>
    </footer>
</form>