.load-last-cart .dialog-body {
  width: 30em;
  //height: 17em;

  form {
    padding: 0 3em;

    > header {
      text-align: center;

      > img {
        background: #404040;
        padding: 0.5em;
        border-radius: 3px;
      }
    }

    > section {
      margin: 1em 0;
      line-height: 1.3em;

      > p {
        margin-bottom: 1em;

        &.error {
          color: #ff0000;
          height: 1em;
        }
      }
    }

    > footer {
      margin-top: 3em;
      margin-bottom: 0.5em;

      > button:first-child {
        margin: 0 0.3em;
      }
    }
  }
}