<div class="payment-dialog-content">
    <div class="title">
        <svg focusable="false" role="presentation">
            <use xlink:href="#sp-icons-exclamation-mark-circle"></use>
        </svg>
        <h2>{{'Payment Error' | translate}}</h2>
    </div>

    <div class="details">
        <div class="error" ng-if="errorObj && !errorObj.errorCode && (errorObj.error || errorObj.message)">
            <h3>{{'Error received' | translate}}:</h3>
            <div>{{errorObj.error || errorObj.message}}</div>
        </div>
        <div class="general-error">
            {{'Please check you credit card details or contact your credit card provider' | translate}}
        </div>
    </div>

    <div class="footer">
        <button type="button" class="cancel" ng-click="hide()" ng-bind="::'OK' | translate"></button>
    </div>
</div>

