.payment-error-wrapper {
  .dialog-body {
    padding: 0 !important;

    .payment-dialog-content {
      width: 37em;

      .title {
        padding: 0.5em 1em;
        background: #F6F6F4;

        > svg {
          height: 1.7em;
          width: 1.7em;
          vertical-align: middle;
        }

        > h2 {
          display: inline-block;
          vertical-align: middle;
          padding: 0.5em 0;
          font-size: 1.625em;
          color: #000000;
          font-weight: 700;
        }
      }

      .details {
        padding: 1em;

        .error {
          background: #C8C8C8;
          padding: 0.5em;
          color: #363636;

          > h3 {
            padding: 0 0 0.5em 0;
            color: #363636;
            font-size: 1.1em;
            font-weight: 600;
          }
        }

        .general-error {
          padding-top: 1em;
          font-size: 1.4em;
          line-height: 1.2em;
          color: #585757;
          font-weight: 500;
        }
      }

      .footer {
        text-align: end;
        padding: 1em;

        > button {
          width: 6em;
        }
      }
    }

    .close-dialog-corner-button {
      top: 1.5em !important;
    }
  }
}

