<div class="content">
	<div id="policy_approval_dialog_title" class="title" ng-bind="::'Privacy Policy' | translate"></div>

	<span class="err" ng-if="policyApprovalCtrl.showError">
          {{'Please confirm that you accept the terms and conditions for using this site' | translate}}.
    </span>
	<form name="policyApprovalForm"
		  ng-submit="policyApprovalCtrl.submit(policyApprovalForm, $event)" novalidate>
		<div>
			<sp-checkbox sp-model="policyApprovalCtrl.policyApproval" i-name="policyApproval">
				{{('I agree to the' | translate) + ' '}}
				<a ui-sref="app.termsAndConditions" target="_blank" ng-bind="'Terms & Conditions' | translate"></a>
				{{'and the' | translate}}
				<a ui-sref="app.policies" target="_blank" ng-bind="'Privacy Policy' | translate"></a>
				{{'policy_end' | translate}}
			</sp-checkbox>
		</div>
		<button type="submit" class="send-btn" ng-bind="::'Send' | translate"></button>
	</form>
</div>