.dialog-wrapper .dialog.policy-approval .dialog-body {
  overflow: visible;

  .content {
    padding: 0 1em;

    .title {
      font-size: 1.5em;
      padding: 0 0 0.5em 0;
      line-height: 1.5em;
      font-weight: bold;
    }

    a {
      font-weight: 900;
      line-height: 1.5em;
    }

    .input-wrapper {
      padding-top: 1em;
      width: 12em;

      > * {
        width: 100%;
        padding: 0.5em;
        border: 1px solid gray;
        border-radius: 5px;
        height: 100%;
      }

      .title {
        font-size: 1em;
        padding: 1em;
      }
    }

    .send-btn {
      width: 12em;
      padding: 0.5em;
      font-weight: 600;
      margin: 0.5em;
      float: left;
    }

  }

  .ltr & {
    .send-btn {
      float: right;
    }
  }

  .err {
    font-size: .86em;
    font-weight: 700;
    line-height: 1.2em;
    color: #d44949;
  }

}