<div class="specials-wrapper" ng-controller="PrutahTemplateSpecialsCtrl">
    <sp-items
        banner-title="{{'Specials' | translate}}"
        items="specials"
        total="total"
        no-results-message="{{'sorry_2' | translate}},<br/>{{"We couldn\'t find any specials" | translate}}"
        item-class="special-item"
        ng-class="{
            'new-promotion': $root.config.retailer.settings.isNewPromotionDesignEnabled === 'true',
            'show-original-price': $root.util.isShowOriginalPriceEnabled()
        }"
        template-url="template/partials/special-item/index.html"
        on-click="openSpecial($item, $index)"
        filters="spItemsFilters">
    </sp-items>
</div>