html.specials section.view {
  sp-items:not(.new-promotion) .item {
    height: 9.375em;
  }
}

html.rtl.specials section.view .item .data {
  .sp-product-price, .experation {
    text-align: right;
  }
}
