<div class="back-button-wrapper">
    <span class="for-vertical-align"></span><!--
    --><button class="no-design" ng-click="headerCtrl.backToHub()">
        <span>{{'Back' | translate}}</span>
        <span class="arrow">
            <svg focusable="false">
                <use xlink:href="#sp-icons-arrow-left"></use>
            </svg>
        </span>
    </button>
</div>

<span class="for-vertical-align"></span><!--
--><img ng-src="{{$root.config.hubRetailer.hubBanner}}" alt="$root.config.hubRetailer.webSiteTitle"/>