body > header > .hub-header {
  background-color: #22a9f6;
  text-align: center;

  > img {
    height: 2.75em;
    display: inline-block;
    vertical-align: middle;
  }

  > .back-button-wrapper {
    display: none;
    position: absolute;
    top: 0;
    height: 100%;

    html.home & {
      display: block;
    }

    html.ltr & {
      right: 0.5em;
    }

    html.rtl & {
      left: 0.5em;
    }

    > button {
      display: inline-block;
      vertical-align: middle;
      font-size: 1.15em;
      color: #fff;
      $arrowSize: 1.2416em;
      height: $arrowSize;
      line-height: $arrowSize;

      > * {
        display: inline-block;
        vertical-align: top;
      }

      > .arrow {
        width: $arrowSize;
        height: 100%;
        border: 2px solid #fff;
        border-radius: 100%;
        text-align: center;
        box-sizing: border-box;

        > svg {
          height: 100%;
          vertical-align: top;
          width: 33%;
          fill: #fff;

          html.ltr & {
            @include flipH();
          }
        }
      }
    }
  }
}

.closed-shopo-site {
  .dialog-wrapper {
    .overlay {
      top: $hubHeaderHeight;
    }
  }
}
