.dialog-wrapper .dialog.user-migration-dialog > {
  .dialog-body {
    width: 48.875em;
    height: 43em;
    padding: 0;

    > .user-migration-wrapper {
      height: 100%;
      display: grid;
      grid-template-rows: auto 1fr auto;
      grid-row-gap: 2em;

      > .retailer-logo {
        display: grid;
        justify-items: center;
        padding-top: 4em;

        > img {
          height: 4em;
          object-fit: fill;
        }
      }

      > .retailer-image {
        height: 13em;
        position: relative;

        > img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          position: absolute;
        }
      }

      form {
        height: 100%;
        display: grid;
        grid-row-gap: 2em;
        align-content: center;
        padding: 0 10%;
        text-align: center;

        .form-required-fields {
          display: none;
        }

        > div {
          width: 100%;
          display: grid;
          grid-row-gap: 1em;

          &.code {
            .inputs {
              display: grid;
              grid-template-columns: repeat(5, 3em);
              grid-column-gap: 1em;
              justify-content: center;
              direction: ltr;

              > input {
                font-size: 2.5em;
                padding: 0.125em;
                text-align: center;

                &.error {
                  border-color: #da3b39;
                }
              }
            }
          }

          &.password {
            width: 50%;
            grid-row-gap: 1em;
            justify-content: center;
            margin: auto;
            text-align: left;

            > * {
              width: 100%;
              margin: 0;
            }

            > .form-info {
              font-size: 0.9em;
            }

            .checkbox {
              display: grid;
              grid-template-columns: auto auto 1fr;
              align-items: center;

              .label {
                padding-left: 0.5em;
              }
            }
          }
        }

        .email-input.error {
          color: #da3b39;
        }

        .error:not(input) {
          display: grid;
          grid-row-gap: 0.25em;
          font-weight: bold;
          color: #da3b39;
        }

        > .title {
          font-size: 2.3em;
        }

        .email {
          font-size: 1.2em;
          color: #cbcbcb;

          &.label {
            width: 50%;
            margin: auto;
            text-align: left;
            font-size: 0.8em;
          }
        }

        .description {
          font-size: 1.25em;
        }

        .info {
          color: #cbcbcb;
        }

        .input-container {
          display: grid;
          grid-row-gap: 0.5em;

          input {
            width: 50%;
            margin: auto;
          }
        }

        > button {
          width: 50%;
          margin: auto;
          font-size: 1.1em;

          &.no-footer {
            margin-bottom: 1em;
          }
        }

        a {
          text-decoration: underline;
          cursor: pointer;
        }
      }

      .footer {
        width: 100%;
        display: grid;
        grid-row-gap: 0.5em;
        padding-bottom: 1em;
        text-align: center;

        > .login-or-register {
          > a {
            text-decoration: underline;
            cursor: pointer;
          }
        }

        > .contact {
          font-size: 0.9em;
          color: #a5a5a6;
        }
      }
    }
  }
}

html.rtl
  .dialog-wrapper
  .dialog.user-migration-dialog
  .dialog-body
  .user-migration-wrapper {
  form {
    .email.label {
      text-align: right;
    }

    .input-container > label {
      text-align: right;
    }

    > .password {
      text-align: right;

      > sp-captcha {
        .captcha-warning-msg {
          text-align: right;
        }
      }

      > .checkbox > .label {
        padding-right: 0.5em;
        text-align: right;
      }
    }
  }
}
