<div class="popup-title" ng-style="{'background-color': chooseAreaCtrl.bgColor}">
    <h1 ng-style="{'color': chooseAreaCtrl.textColor}">{{chooseAreaCtrl.currentAdvancedAreaAvailabilitySettings.popupTitle[chooseAreaCtrl.currentScenario.property]
        || (chooseAreaCtrl.currentScenario.defaultPopupTitle | translate)}}</h1>
    <h2 ng-style="{'color': chooseAreaCtrl.textColor}">{{chooseAreaCtrl.currentAdvancedAreaAvailabilitySettings.popupSubTitle[chooseAreaCtrl.currentScenario.property]
        || (chooseAreaCtrl.currentScenario.defaultPopupSubTitle | translate)}}</h2>
</div>
<div class="tabs-wrapper">
    <sp-tabs background-color="chooseAreaCtrl.bgColor" text-color="chooseAreaCtrl.textColor">
        <sp-tabs-pane title="{{tab.title | translate}}" ng-repeat="tab in chooseAreaCtrl.tabs"
            on-select="chooseAreaCtrl.showTab(tab)" selected="tab.id === defaultTabId" sr-text="true">
            <ng-include src="tab.templateUrl"></ng-include>
        </sp-tabs-pane>
    </sp-tabs>
</div>
<div class="dialog-footer"></div>