<div class="header" ng-class="{'default-background': !cartSummaryCtrl.LMRSettings.config.backgroundColor}"
    ng-style="{'background-color': cartSummaryCtrl.LMRSettings.config.backgroundColor, 'background-image': cartSummaryCtrl.LMRSettings.config.desktopBackgroundImage ? 'url(' + cartSummaryCtrl.LMRSettings.config.desktopBackgroundImage + ')' : ''}">
    <div class="stars" ng-if="!cartSummaryCtrl.LMRSettings.config.desktopBackgroundImage">
        <img src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/stars-bg.png" alt="">
    </div>
    <div class="headline lms-header">
        <div class="lms-title">
            <div>
                <h2 ng-if="!cartSummaryCtrl.LMRSettings.translations[$root.config.language.id].pageHeadline">
                    {{cartSummaryCtrl.user.firstName}},
                </h2>
            </div>
            <h2 ng-if="!cartSummaryCtrl.LMRSettings.translations[$root.config.language.id].pageHeadline"
                ng-bind="'last_minute_recommendations_headline' | translate">
            </h2>
            <h2 ng-if="cartSummaryCtrl.LMRSettings.translations[$root.config.language.id].pageHeadline"
                ng-class="{'image': cartSummaryCtrl.LMRSettings.config.desktopBackgroundImage}"
                ng-bind="cartSummaryCtrl.LMRSettings.translations[$root.config.language.id].pageHeadline.replaceAll('{first_name}', cartSummaryCtrl.user.firstName).replaceAll('{full_name}', cartSummaryCtrl.user.firstName + ' ' + cartSummaryCtrl.user.lastName)">
            </h2>
        </div>

        <div class="lms-loyalty-component"
             ng-if="cartSummaryCtrl.activeCashbackLoyalty && cartSummaryCtrl.activeCashbackLoyalty.pointsToCashback && cartSummaryCtrl.isLoyaltyPackageEnabled &&
             cartSummaryCtrl.userCashbackLoyalty && cartSummaryCtrl.userCashbackLoyalty.points && (!cartSummaryCtrl.activeCashbackLoyalty.isMinPointsRequired ||
             (cartSummaryCtrl.activeCashbackLoyalty.isMinPointsRequired && cartSummaryCtrl.userCashbackLoyalty.points >= cartSummaryCtrl.activeCashbackLoyalty.minPointsNum))">
            <div ng-if="cartSummaryCtrl.activeCashbackLoyalty.loyaltyPages.lmsPage.cashbackRedemptionComponent.isActive && cartSummaryCtrl.userCashbackLoyalty.redeemedPointsAmount"
                 class="loyalty-package-lms-page"
                 ng-style="{'background-image': 'url(' + cartSummaryCtrl.activeCashbackLoyalty.banners.desktopLmsFirstComponent + ')',
                 'color': cartSummaryCtrl.activeCashbackLoyalty.loyaltyPages.lmsPage.cashbackRedemptionComponent.textColor}">
                <span>{{cartSummaryCtrl.activeCashbackLoyalty.loyaltyPages.lmsPage.cashbackRedemptionComponent.textNames[$root.config.language.culture] ||
                cartSummaryCtrl.activeCashbackLoyalty.loyaltyPages.lmsPage.cashbackRedemptionComponent.textNames[$root.config.retailer.culture] ||
                ('The reward you have redeemed will be added automatically at discount' | translate)}}</span>
            </div>
            <div ng-if="cartSummaryCtrl.activeCashbackLoyalty.loyaltyPages.lmsPage.pointsAccumulationComponent.isActive && !cartSummaryCtrl.userCashbackLoyalty.redeemedPointsAmount"
                 class="loyalty-package-lms-page"
                 ng-style="{'background-image': 'url(' + cartSummaryCtrl.activeCashbackLoyalty.banners.desktopLmsSecondComponent + ')',
                 'color': cartSummaryCtrl.activeCashbackLoyalty.loyaltyPages.lmsPage.pointsAccumulationComponent.textColor}">
                <span>{{cartSummaryCtrl.activeCashbackLoyalty.loyaltyPages.lmsPage.pointsAccumulationComponent.textNames[$root.config.language.culture] ||
                cartSummaryCtrl.activeCashbackLoyalty.loyaltyPages.lmsPage.pointsAccumulationComponent.textNames[$root.config.retailer.culture] ||
                ('Your accumulated Reward Points will be added automatically at checkout' | translate)}}</span>
            </div>
        </div>
    </div>
</div>
<div class="sections">
    <div ng-repeat="section in cartSummaryCtrl.sections track by section.sort" ng-hide="section.hasNoItems"
        ng-if="section.isActive" class="section {{section.isLoading ? 'loading' : ''}}">
        <div class="title">
            <h3 ng-if="section.sectionType === $root.LAST_MINUTE_RECOMMENDATIONS.SECTIONS_TYPES.TIP_DONATION && cartSummaryCtrl.LMRSettings.config.isShowTipsCarouselTitle === 'true'">
                {{cartSummaryCtrl.LMRSettings.translations[$root.config.language.id].titleTipDonation ||
                ('last_minute_recommendations_title_tip_donation' | translate)}}
            </h3>
            <h3 ng-if="section.sectionType === $root.LAST_MINUTE_RECOMMENDATIONS.SECTIONS_TYPES.COUPONS">
                {{cartSummaryCtrl.LMRSettings.translations[$root.config.language.id].titleCoupons ||
                ('last_minute_recommendations_title_coupons' | translate)}}
            </h3>
            <h3 ng-if="section.sectionType === $root.LAST_MINUTE_RECOMMENDATIONS.SECTIONS_TYPES.PRODUCTS_USUALLY">
                {{cartSummaryCtrl.LMRSettings.translations[$root.config.language.id].titleProductsUsually ||
                ('last_minute_recommendations_title_products_usually' | translate)}}
            </h3>
            <h3 ng-if="section.sectionType === $root.LAST_MINUTE_RECOMMENDATIONS.SECTIONS_TYPES.PRODUCTS_COMPLEMENTARY">
                {{cartSummaryCtrl.LMRSettings.translations[$root.config.language.id].titleProductsComplementary
                ||
                ('last_minute_recommendations_title_products_complementary' | translate)}}
            </h3>
            <h3
                ng-if="section.sectionType === $root.LAST_MINUTE_RECOMMENDATIONS.SECTIONS_TYPES.OFFERS && cartSummaryCtrl.LMRSettings.config.tableType == $root.LAST_MINUTE_RECOMMENDATIONS.ITEMS_TYPES.SPECIALS">
                {{cartSummaryCtrl.LMRSettings.translations[$root.config.language.id].titleSpecialsOffers ||
                ('last_minute_recommendations_title_specials_offers' | translate)}}
            </h3>
            <h3
                ng-if="section.sectionType === $root.LAST_MINUTE_RECOMMENDATIONS.SECTIONS_TYPES.OFFERS && cartSummaryCtrl.LMRSettings.config.tableType == $root.LAST_MINUTE_RECOMMENDATIONS.ITEMS_TYPES.PRODUCTS">
                {{cartSummaryCtrl.LMRSettings.translations[$root.config.language.id].titleProductsOffers ||
                ('last_minute_recommendations_title_products_offers' | translate)}}
            </h3>
        </div>
        <sp-carousel class="carousel {{ section.class }}"
            ng-class="{
                'new-promotion': $root.config.retailer.settings.isNewPromotionDesignEnabled === 'true',
                'show-original-price': $root.util.isShowOriginalPriceEnabled()
            }"
            template-url="{{ section.templateUrl }}" load-more-items="section.loadItems" functions="section.actions"
            rows="1" watchers="section.watchers" shown-size="section.shownSize" data="section.data">
        </sp-carousel>
    </div>
</div>