<div class="warning-container" ng-if="!$root.cart.total.lines">
	<h5 class="title" id="edit_order_warning_dialog_title" ng-bind="::'Edit Order' | translate"></h5>
	<div class="bold text"
		 ng-bind="::(('Do you want to remove / add items to your existing order' | translate) + '?')"></div>
	<div class="text">
		<span class="bold" ng-bind="::('Note' | translate) + ' -'"></span>
		<span ng-bind="::('Prices and specials will change according to the update date' | translate)"></span>
	</div>

	<div class="buttons">
		<button ng-click="$dialog.hide(false)" aria-label="cancel" ng-bind="::'Cancel' | translate"></button>
		<button ng-click="$dialog.hide(true)" aria-label="Edit Order" ng-bind="::'Edit Order' | translate"></button>
	</div>
</div>
<div class="warning-container" ng-if="$root.cart.total.lines">
	<h5 class="title" id="edit_order_warning_dialog_title" ng-bind="::'Edit Order' | translate"></h5>
	<div class="text"
		 ng-bind="::('the items in your shopping cart will be cleared if you' | translate).replace('{cart}', $root.config.retailer.settings.setCartNameToBasket ? $root.config.retailer.settings.setCartNameToBasket : 'cart') + ' ' + ('choose to edit your previous order' | translate)"></div>

	<div class="buttons">
		<button ng-click="$dialog.hide(false)" aria-label="cancel" ng-bind="::'Cancel' | translate"></button>
		<button ng-click="$dialog.hide(true)" aria-label="Edit order & Clear cart"
				ng-bind="::('edit order & clear cart' | translate).replace('{cart}', $root.config.retailer.settings.setCartNameToBasket ? $root.config.retailer.settings.setCartNameToBasket : 'cart')"></button>
	</div>
</div>
