.dialog.edit-order-waning-dialog .dialog-body > .warning-container > * {
  padding-bottom: 1em;
  text-align: center;

  &.text {
    margin: 1em auto;
    max-width: 23em;
  }

  &.title {
    font-weight: bold;
    padding: 0;
  }

  &.buttons {
    padding-top: 1em;

    > button {
      min-width: 8em;
      margin: 0 .7em;
    }
  }

  &:last-child {
    padding-bottom: 0;
  }
}