<div>
    <img alt="" role="presentation" ng-src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/icon-store-details-white.png"/><!--
    --><span class="content"><!--
        --><span class="for-vertical-align"></span><!--
        --><span class="text default-text-align"><!--
            --><span>{{$root.config.retailer.title}}
                   <span ng-if="$root.config.retailer.settings.isHiddenBranchName != 'true'">{{$root.config.branchAreaId && $root.config.retailer.branches.length > 1 ? ' - ' + $root.config.branch.name : ''}}</span>
               </span><!--
            --><br ng-if="$root.config.retailer.contactPhone"/><!--
            --><span class="phone-and-zip"><!--
                --><span ng-if="$root.config.retailer.contactPhone">{{$root.config.retailer.contactPhone}}</span><!--
                --><span class="zip right" ng-click="$root.ChooseAreaDialog.show(false, true, null, $event)"
                         ng-if="$root.config.branchAreaId && $root.config.chooseAreaEvent !== $root.SP_SERVICES.CHOOSE_AREA_EVENT.NONE"><!--
                    -->{{'delivery_type_' + $root.config.getBranchArea().deliveryTypeId | translate}}<!--
                --></span><!--
            --></span><!--
        --></span><!--
    --></span><!--
--></div>