.retailer-data > {
  div {
    display: inline-block;
    height: 100%;
    width: 100%;
    white-space: nowrap;

    > img {
      opacity: 0.9;
      // margin: 0.5em;
      margin-right: 0.6em;
      max-height: 2.3em;
      max-width: 2.3em;
      vertical-align: middle;
    }

    & > {
      & * {
        padding: 0;
        display: inline-block;
        vertical-align: middle;
      }

      span.content {
        width: 92%;
        height: 100%;
        padding: 0 0.3em;
        @include box-sizing(border-box);
        display: inline-block;
        vertical-align: middle;

        > span.text {
          display: inline-block;
          vertical-align: middle;
          width: 100%;

          > span {
            display: inline-block;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            line-height: 1.5em;

            &.phone-and-zip .zip {
              text-decoration: underline;
              padding: 0 0.5em;
            }
          }
        }
      }
    }
  }
}

.rtl .retailer-data > div > img {
  margin-right: auto;
  margin-left: 0.5em;
}

@media screen and (max-width: 768px) {
  .retailer-data > div > span.content > span.text > span.phone-and-zip .zip {
    display: block;
    float: none;
  }
}