.auto-complete-wrapper {
  display: inline-block;
  position: relative;

  > .auto-complete {
    overflow: hidden;
    position: absolute;
    z-index: 2;
    top: 108%;
    left: 0;
    width: 100%;
    @include box-sizing(border-box);
    background-color: #ffffff;
    @include border-radius(5px);
    @include box-shadow(0 0.35em 0.5em 0 rgba(0, 0, 0, 0.35));

    > .option {
      display: block;
      padding: 0.8em 1em;
      font-size: 1.1em;
      color: #0C0B0B;
      cursor: pointer;

      .sp-search-highlight {
        color: #606060;
        //font-weight: 700;
      }

      .add-query {
        position: absolute;
        right: 0;
        top: 0;
        margin: 0.5em;
        padding: 0 1em;

        img {
          max-height: 0.8em;
          max-width: 0.8em;
          vertical-align: 10%;
          display: inline-block;
        }
      }

      &.current {
        background-color: #F3F3F3;

        &:active {
          background-color: #E3E3E3;
        }
      }
    }

    > .extra {
      background-color: #f7f7f7;
      > .extra-highlight {
        color: #7f7f7f;
        font-weight: normal;
      }
      > .extra-highlight-color {
        color: #1E9553;
      }
    }
  }
}