<span class="ebt-weight-debit-disclaimer">
    {{'Includes 10% surcharge.' | translate}}
    <span class="disclaimer">
        <span class="question-mark">?</span>
        <span class="tool-tip">
            {{'Products purchased by Weight.' | translate}}
            <br>
            <br>
            {{'When purchasing weighted products with SNAP, a 10% surcharge will be added to your order total. This amount will cover any possible overage from the ordered weight versus the final weight based on what was available to be collected.' | translate}}.
            <br/>
            <br/>
            {{'Any refund due because of this added amount will be refunded to your EBT card once the order is finalized.' | translate}}.
        </span>
    </span>
</span>
