.ebt-weight-debit-disclaimer {
  font-size: 0.75em;
  color: #78797a;
  display: inline-block;
  margin: 0 0.5em;

  .disclaimer {
    position: relative;

    $questionMarkSize: 1.4em;
    .question-mark {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      $fontSize: 1.1em;
      font-size: $fontSize;
      font-weight: bold;
      width: $questionMarkSize / clear-units($fontSize);
      height: $questionMarkSize / clear-units($fontSize);
      border-radius: 3em;
      border: 1px solid #78797a;
      box-sizing: border-box;
      color: #78797a;
      cursor: default;
    }

    .tool-tip {
      $toolTipArrowSize: 0.8em;
      $toolTipFontSize: 1.2em;

      display: none;
      position: absolute;
      z-index: 120;
      font-size: $toolTipFontSize;
      $width: 15em;
      width: $width;
      top: ($questionMarkSize / clear-units($toolTipFontSize)) + $toolTipArrowSize;
      left: $width / -2 + $questionMarkSize / 2 / clear-units($toolTipFontSize);
      border-radius: 5px;
      background-color: #fff;
      box-sizing: border-box;
      padding: 1em;
      $boxShadow: 0 0 8px -1px grey;
      -webkit-box-shadow: $boxShadow;
      box-shadow: $boxShadow;
      text-align: center;

      &:before {
        content: '';
        position: absolute;
        display: block;
        bottom: 100%;
        left: 50%;
        @include rotate(45);
        width: $toolTipArrowSize;
        height: $toolTipArrowSize;
        margin-left: $toolTipArrowSize / -2;
        margin-bottom: $toolTipArrowSize / -2;
        background-color: #ffffff;
        $boxShadow: -2px -2px 3px -2px grey;
        -webkit-box-shadow: $boxShadow;
        box-shadow: $boxShadow;
      }
    }

    &:hover .tool-tip {
      display: block;
    }
  }
}