.choose-address {
  h1 {
    padding: 0;
    font-size: 1.685em;
  }

  .info {
    color: #C4C4C4;
    padding: .5em 0 1em 0;
    font-size: 16px;
  }

  .postcode-addresses {
    max-height: 18em;
    overflow-y: auto;
    min-width: 35em;
    padding-inline-end: 2em;

    .sp-radio-buttons {
      .sp-radio-option {
        display: block;
      }
    }
  }

  .error {
    padding: 1em;
    font-size: 16px;
    text-align: center;
  }

  .postcode-buttons {
    text-align: right;
    padding-top: 1em;

    button {
      &.cancel {
        background-color: #FFFFFF;
        color: #787878;
        border: 1px solid #787878;

        &:hover {
          background-color: #FFFFFF;
        }
      }
    }
  }

  ::-webkit-scrollbar {
    width: 20px;
  }
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #C8C8C8;
    border-radius: 50px;
    border: 6px solid transparent;
    background-clip: content-box;
  }
}

.rtl {
  .choose-address {
    .postcode-buttons {
      text-align: left;
    }
  }
}
