.dialog.choose-address .dialog-body {
  h4 {
    color: $secondaryColor;
  }

  button {
    &.confirm {
      border: none;
    }
  }

  .addresses {
    .sp-radio-buttons {
      > .sp-radio-option {

        &:before {
          color: $secondaryColor;
          background-color: $secondaryColor;
        }
      }

      .checked {
        font-weight: bold;
      }
    }
  }
}
