<div class="email-verification-wrapper">
    <div>
        <h2 class="default-font" ng-if="emailVerificationCtrl.title">
            {{emailVerificationCtrl.title | translate }}
        </h2>

        <div class="body default-font" ng-if="emailVerificationCtrl.body">
            {{(emailVerificationCtrl.body | translate).replace('{link_ttl}', $root.config.retailer.settings.userEmailVerificationExpirationMinutes)}}
        </div>
    </div>

    <div class="action-button">
        <button type="button" ng-click="emailVerificationCtrl.close()" ng-if="emailVerificationCtrl.closeEnabled" ng-bind="::'Close' | translate"></button>
        <button type="button" ng-click="emailVerificationCtrl.goToLogin()" ng-if="emailVerificationCtrl.goToLoginEnabled" ng-bind="::'Website login' | translate"></button>
        <button type="button" ng-click="emailVerificationCtrl.resendActivation()" ng-if="emailVerificationCtrl.resendActivationEnabled" ng-bind="::'Send a new link' | translate"></button>
    </div>
</div>