.dialog-wrapper > div.dialog.email-verification {
  overflow: auto;

  &.animation-active {
    overflow: hidden;
  }

  > .dialog-body {
    padding: 0;
    overflow: visible;
    margin: 4.5em 0;
    max-width: 80%;
    min-height: 40%;
    max-height: none;

    .email-verification-wrapper {
      width: 24em;
      max-width: 100%;
      text-align: center;
      padding: 6em 5em 1em 5em;

      h2 {
        margin: 0 0 1em 0;
        padding: 0;
        font-size: 1.5em;
        font-weight: bold;
      }

      .body {
        margin: 0 0 1em 0;
        font-size: 1.1em;
      }

      .action-button {
        padding: 3em 0 2em 0;

        button {
          padding: 0.6em 3em;
          min-width: 12em;
        }
      }
    }

  }

}


@media screen and (max-height: 768px) {
  div.dialog.email-verification > .dialog-body {
    font-size: 0.85em;
  }
}
