<div class="recipe-wrapper" ng-class="{'details-section-hidden': !recipeCtrl.showDetailsSection}">
    <div class="recipe-header">
        <div class="image-wrapper">
            <img ng-src="{{recipeCtrl.recipe.image}}" alt=""/>
        </div><!--
        --><div class="name-wrapper">
            <span class="for-vertical-align"></span><!--
            --><span>
                <h1 class="name secondary-font" id="recipe_dialog_title">
                    {{recipeCtrl.recipe.name}}
                </h1>
                <h2 class="author secondary-font">
                    {{recipeCtrl.recipe.author}}
                </h2>
            </span>
        </div>
    </div>
    <div class="recipe-details">

        <div class="action-button-wrapper">
            <button ng-click="recipeCtrl.printRecipe()">{{::'Print' | translate}}</button><!--
                --><button ng-click="recipeCtrl.saveRecipe()">{{::'Save' | translate}}</button><!--
                --><button class="fb-share-button" ng-click="recipeCtrl.fbShareRecipe()">
            <svg focusable="false">
                <use xlink:href="#sp-icons-facebook"></use>
            </svg>
            <span>{{::'Share' | translate}}</span>
        </button>
        </div>
        <div class="recipe-details-container" tabindex="-1">
            <div class="details-content" ng-if="recipeCtrl.showDetailsSection" tabindex="-1">
                <div ng-if="!recipeCtrl.recipe.sourceUrl" class="source author-name secondary-font" tabindex="0">{{::'from' | translate}} {{recipeCtrl.recipe.source}}</div>
                <a ng-if="recipeCtrl.recipe.sourceUrl" ng-href="{{recipeCtrl.recipe.sourceUrl}}" target="_blank" class="source secondary-font" tabindex="0">{{::'from' | translate}} {{::recipeCtrl.recipe.source}}</a>
                <div class="general-info secondary-font" tabindex="0">
                    <span class="prep-time">
                        <img src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/clock.png" alt=""/>
                        <span>{{recipeCtrl.recipe.preparationTime}} {{::'min' | translate}}</span>
                    </span>
                </div>
                <div class="description secondary-font" tabindex="0">
                    {{recipeCtrl.recipe.description}}
                </div>
                <div class="recipe-ingredients">
                    <h3 class="secondary-font" tabindex="0">
                        {{::'Ingredients' | translate}}
                    </h3>
                    <div class="ingredients-group" ng-repeat="group in recipeCtrl.recipe.groups">
                        <div ng-if="recipeCtrl.recipe.groups.length > 1" class="recipe-group-description" tabindex="0">{{group.name}}</div>
                        <div ng-repeat="ingredient in group.ingredients | orderBy:'sort'" class="ingredient" tabindex="0">
                            <span class="quantity whole-quantity" ng-if="ingredient.wholeNumber && ingredient.wholeNumber > 0" >{{ingredient.wholeNumber}}</span><span class="quantity" ng-if="ingredient.numerator && ingredient.denominator">{{ingredient.numerator + '/'+ ingredient.denominator}}</span>
                            {{ingredient.unitOfMeasureId == 8 ? '' : (ingredient.unitOfMeasureNames | name)}} {{ingredient.name}}
                        </div>
                    </div>
                </div>
                <div class="recipe-steps">
                    <h3 class="secondary-font" tabindex="0">
                        {{::'Directions' | translate}}
                    </h3>
                    <div class="steps-group" ng-repeat="group in recipeCtrl.recipe.groups">
                        <div ng-if="recipeCtrl.recipe.groups.length > 1" class="recipe-group-description" tabindex="0">{{group.name}}</div>
                        <div ng-repeat="step in group.steps | orderBy:'sort'" class="step">
                            <span class="image"><img src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/recipe-steps-checkbox.png" alt=""/></span><!--
                            --><span class="step-description" tabindex="0">{{step.description}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="shopping-list">
                <sp-arrows-button label="{{('Add' | translate) + ' ' + recipeCtrl.itemsWithQuantity + ' ' + ('items to cart' | translate).replace('{cart}', $root.config.retailer.settings.setCartNameToBasket ? $root.config.retailer.settings.setCartNameToBasket : 'cart')}}" class="right" ng-click="recipeCtrl.addAllIngredientsToCart();"></sp-arrows-button>
                <div class="items">
                    <div ng-repeat="group in recipeCtrl.recipe.groups">
                        <div class="ingredient-items" ng-repeat="ingredient in group.ingredients | orderBy:'sort'" ng-if="ingredient.products && ingredient.products.length">
                            <sp-carousel
                                    shown-size="1" items="ingredient.products"
                                    template-url="template/dialogs/recipe/partials/recipe-ingredient-product/index.html"
                                    item-class="ingredient-product-item"
                                    current-chunk="ingredient.carouselCurrentChunk"
                                    functions="recipeCtrl.ingredientCarouselFunctions">
                            </sp-carousel>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="clear"></div>
    </div>
</div>
