$shoppingListWidth: 24em;
$onlyShoppingListWidth: 28em;
$detailsColumnVerticalPadding: 1em;
$detailsColumnHorizontalPadding: 2em;
$recipeHeaderHeight: 12em;
$recipeDescriptionFontSize: 1.313em;
$recipeSourceFontSize: 0.875em;
$recipeActionsWidth: 2em;

.dialog-wrapper > div.dialog.recipe {
  overflow: auto;

  &.animation-active {
    overflow: hidden;
  }

  > .dialog-body {
    padding: 0;
    overflow: visible;
    margin: 4.5em 0;
    max-width: 80%;
    max-height: none;

    .recipe-wrapper {
      width: 60em;
      max-width: 100%;

      > .recipe-header {
        height: $recipeHeaderHeight;

        > * {
          display: inline-block;
          vertical-align: top;
          box-sizing: border-box;
          height: 100%;
        }

        > .image-wrapper {
          width: 60%;

          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
          }
        }

        > .name-wrapper {
          color: #ffffff;
          padding: 1em;
          width: 40%;

          > span, h1, h2 {
            display: inline-block;
            color: #ffffff;

            > * {
              display: block;
              font-size: 2em;
            }

            > .name {
              padding-top: 0.7em;
            }

            > .author {
              font-size: 1.3em;
              padding-bottom: 1em;
              padding-top: 0.5em;
            }
          }
        }
      }

      > .recipe-details {
        > * {
          @include box-sizing(border-box);

          > div > div, > div > span {
            padding: ($detailsColumnVerticalPadding / 2) 0;
          }
        }

        > .action-button-wrapper {
          display: flex;
          justify-items: center;
          padding-left: 1.7rem;
          padding-top: 0.8rem;
          position: absolute;

          > * {
            margin-right: 0.5em;
          }

          .fb-share-button {
            background: #3b5998;
            border-radius: 3px;
            font-weight: 600;
            padding: 0.5em;
            display: inline-block;
            direction: ltr;

            &:hover {
              background: #213A6F;
            }

            > * {
              display: inline-block;
              vertical-align: middle;
            }

            svg {
              width: 1.125em;
              height: 1em;
              fill: #fff;
            }

            span {
              color: #fff;
              font-size: 0.875em;
              padding: 0 0.214em;
            }
          }
        }

        > .recipe-details-container > .details-content {
          padding: .5em 2em;
          
          > .author-name {
            margin-top: 3rem;
          }

          > .source {
            font-size: $recipeSourceFontSize;
          }

          > .general-info {
            font-weight: bold;
            font-size: 1.3em;

            .prep-time > * {
              display: inline-block;
              vertical-align: middle;
            }
          }

          > .description {
            font-size: $recipeDescriptionFontSize;
          }

          > .recipe-ingredients, > .recipe-steps {
            h3 {
              color: #000000;
              font-weight: bold;
              padding: 0.5em 0;
              font-size: 1.205em;
            }

            .recipe-group-description {
              padding: 0.4em 0 0.6em 0;
              font-size: 0.9em;
              font-weight: bold;
            }
          }

          > .recipe-ingredients > .ingredients-group {
            display: inline-block;
            min-width: 15em;
            padding-bottom: 0.5em;

            .ingredient {
              display: block;
              border-bottom: 1px dashed #b1b3b2;
              padding: 0.5em 0;
              font-size: 0.9em;

              .quantity {
                font-weight: bold;
              }

              .whole-quantity {
                margin-right: 0.2em;
              }

              &:last-child {
                border-bottom-width: 0;
              }
            }

            &:last-child {
              padding-bottom: 0;
            }
          }

          > .recipe-steps > .steps-group {
            padding-bottom: 0.5em;

            .step {
              padding: 0.5em 0;
              line-height: 140%;
              font-size: 0.9em;
              white-space: nowrap;

              > * {
                display: inline-block;
                vertical-align: top;
                white-space: normal;
              }

              > .step-description {
                padding-left: 1em;
              }

              > span.image {
                padding-top: 0.2em;

                img {
                  display: inline;
                }
              }
            }
          }
        }

        > .recipe-details-container > .shopping-list {
          float: right;
          width: 24em;
          padding: $detailsColumnVerticalPadding $detailsColumnHorizontalPadding;

          > button.sp-arrows-button {
            margin-bottom: 1em;
          }

          > .items {
            clear: both;
            border-top: 1px solid #F2F2F2;
            border-right: 1px solid #F2F2F2;
            border-left: 1px solid #F2F2F2;

            .ingredient-items {
              position: relative;
              @include box-sizing(border-box);
              border-bottom: 1px solid #F2F2F2;
              padding: 0.5em 0;
              overflow: hidden;

              .ingredient-product-item .item-wrapper {
                white-space: nowrap;
                position: relative;
                font-size: 0.9em;

                > * {
                  display: inline-block;
                  vertical-align: middle;
                }

                > .quantity {
                  width: $recipeActionsWidth;
                  text-align: center;
                  color: #606060;
                  font-weight: bold;
                  white-space: normal;
                }

                > .image-wrapper {
                  width: 20%;
                  height: 5em;
                }

                > .name {
                  width: 70%;
                  padding: 0 0 0 0.4em;
                  @include box-sizing(border-box);

                  > * {
                    display: block;
                  }

                  > .name {
                    height: 2.1em;
                    padding: 0.5em 0;
                    white-space: normal;
                    overflow: hidden;
                  }

                  > .brand, > .weight {
                    color: #adadad;
                    font-size: 0.85em;
                  }
                }

                > .sp-product-price {
                  position: absolute;
                  right: 0;
                  bottom: 0;
                }

                > .actions {
                  position: absolute;
                  left: 0;
                  top: 0;
                  height: 100%;
                  width: $recipeActionsWidth;

                  .sp-quantity {
                    opacity: 0;
                    transition: opacity 0.5s;
                  }
                }

                > .add-to-cart {
                  position: absolute;
                  top: 0;
                  bottom: 0;
                  right: -1em;
                  opacity: 0;
                  transition: opacity 0.5s;

                  > .sp-arrows-button {
                    vertical-align: middle;
                  }
                }

                &:hover, &.focus-mode {
                  > .actions .sp-quantity, > .add-to-cart {
                    @include opacity(0.9999999);
                  }
                }
              }
            }
          }
        }
      }

      &.details-section-hidden {
        width: $onlyShoppingListWidth + ($detailsColumnHorizontalPadding * 2);

        > .recipe-header {
          height: auto;

          > .image-wrapper {
            width: 100%;
            height: $recipeHeaderHeight;
          }

          > .name-wrapper {
            width: 100%;
            height: auto;
            background: transparent;
            color: #000000;
            padding: 0 $detailsColumnHorizontalPadding;

            .name {
              font-size: $recipeDescriptionFontSize;
            }

            .author {
              font-size: $recipeSourceFontSize;
              color: #000000;
            }
          }
        }

        > .recipe-details > .recipe-details-container > .shopping-list {
          width: $onlyShoppingListWidth + ($detailsColumnHorizontalPadding * 2);
        }
      }
    }
  }
}

.rtl {
  .dialog-wrapper > div.dialog.recipe {
    //the direction must be ltr only on the dialog element (to move the scroll bar to the right - transition problems)
    direction: ltr;

    > .dialog-body {
      direction: rtl;

      .recipe-wrapper > .recipe-details {

        > .action-button-wrapper {
          > * {
            margin-right: 0;
            margin-left: 0.5em;
          }
        }

        > .recipe-details-container > .details-content {
          padding-left: 2em;
          padding-right: $detailsColumnHorizontalPadding;


          > .recipe-steps > .steps-group .step > .step-description {
            padding-left: 0;
            padding-right: 1em;
          }
        }

        > .recipe-details-container > .shopping-list {
          float: left;

          > .items .ingredient-items {
            .ingredient-product-item .item-wrapper {
              > .name {
                padding: 0 0.8em 0 0;
              }

              > .sp-product-price {
                right: auto;
                left: 0;
              }

              > .actions {
                left: auto;
                right: 0;
              }

              > .add-to-cart {
                right: auto;
                left: -1em;
              }
            }
          }
        }
      }
    }
  }
}

.recipe-details-container {
  display: flex;
}

@media screen and (max-height: 768px) {
  div.dialog.recipe > .dialog-body {
    font-size: 0.88em;
  }
}