.dialog-wrapper > div.dialog.recipe {
  > .dialog-body {
    .recipe-wrapper {
      > .recipe-header {
        > .name-wrapper {
          background-color: $mainColor;

          .author {
            color: '{{mainColor-#ffffff-50}}'
          }
        }
      }
    }
  }
}