<header ui-view="header"></header>
<section role="main" class="main" id="main_content" tabindex="-1">
    <section class="view" tabindex="0" aria-labelledby="page_title">
        <div ui-view endless-scroll="endlessScrollOptions"></div>
    </section>
    <div class="sidenav" ui-view="sidenav" role="region" aria-label="{{('shopping cart' | translate).replace('{cart}', $root.config.retailer.settings.setCartNameToBasket ? $root.config.retailer.settings.setCartNameToBasket : 'cart')}}" tabindex="0"></div>
</section>
<footer ui-view="footer" role="contentinfo" id="footer" tabindex="-1"></footer>
