<div class="external-user-verification-wrapper">

    <div>
        <h2 class="default-font" ng-if="externalUserVerificationCtrl.title">
            {{externalUserVerificationCtrl.title | translate}}
        </h2>

        <div class="body default-font" ng-if="externalUserVerificationCtrl.body">
            {{externalUserVerificationCtrl.body | translate}}
        </div>

        <div ng-if="externalUserVerificationCtrl.submitEnabled">
            <div class="email">({{::externalUserVerificationCtrl.email}})</div>
            <div class="phone-input-wrap">
                <input name="phone" placeholder="{{::'Phone number' | translate}}"
                       type="tel" ng-model="externalUserVerificationCtrl.phone"
                       class="main">
                <div>{{'phone number hint' | translate}}: <span>{{externalUserVerificationCtrl.phoneHint}}</span></div>
            </div>
        </div>
    </div>

    <div class="action-button">
        <button type="button" ng-click="externalUserVerificationCtrl.close()" ng-if="externalUserVerificationCtrl.closeEnabled" ng-bind="::'Close' | translate"></button>
        <button type="button" ng-click="externalUserVerificationCtrl.submit()" ng-if="externalUserVerificationCtrl.submitEnabled" ng-bind="::'Continue to registration' | translate"></button>
        <div class="phone-error">{{externalUserVerificationCtrl.phoneError | translate}}</div>
    </div>

</div>