.dialog-wrapper > div.external-user-verification {
  overflow: auto;

  &.animation-active {
    overflow: hidden;
  }

  > .dialog-body {
    padding: 0;
    overflow: visible;
    margin: 4.5em 0;
    max-width: 80%;
    min-height: 40%;
    max-height: none;

    .external-user-verification-wrapper {
      width: 24em;
      max-width: 100%;
      text-align: center;
      padding: 4em 5em 2em 5em;

      h2 {
        margin: 0 0 1em 0;
        padding: 0;
        font-size: 1.5em;
        font-weight: bold;
      }

      .body {
        margin: 0 0 1em 0;
        font-size: 1.1em;
      }

      .email{
        font-weight: bold;
        margin: 1em 0;
        direction: ltr;
        text-align: center;
      }

      .phone-input-wrap {
        width: 14em;
        margin: auto;


        div {
          display: block;
          font-size: 0.9em;
          padding: 0.3em 0 0 0;

          span {
            direction: ltr;
            text-align: left;
            display: inline-block;
          }
        }

        input {
          direction: ltr;
          text-align: left;
          padding: 0.2em 0.5em;
          width: 100%;

          &::placeholder {
            text-align: left;
          }
        }
      }

      .phone-error {
        height: 2em;
        padding: 1em 0 0 0;
        color: red;
      }

      .action-button {
        padding: 3em 0 2em 0;

        button {
          padding: 0.6em 3em;
          min-width: 12em;
        }
      }
    }

  }

  .rtl & {
    input {
      &::placeholder {
        direction: rtl !important;
        text-align: right !important;
      }
    }
  }

}


@media screen and (max-height: 768px) {
  div.dialog.email-verification > .dialog-body {
    font-size: 0.85em;
  }
}
