.user-delete-confirm {
  width: 30em;
  padding: 0 2em;

  .align-center {
    text-align: center;
  }

  .buttons {
    margin: 2em 0 1em 0;

    button {
      margin: 1em;
      min-width: 5em;
      padding-right: 2em;
      padding-left: 2em;
      background-color: white;
      color: #0C0B0B;
      border: 1px solid #858585;

      &:hover {
        background-color: white !important;
      }
    }

    #delete-button {
      color: white;
      background-color: red;

      &:hover {
        background-color: red !important;;
      }
    }
  }
}

