<div class="sp-search-autocomplete" ng-show="searchAutoCompleteCtrl.shown" id="main-search" tabindex="0"
ng-class="{'search-results-mode': searchAutoCompleteCtrl.isSearchResult}">
  <h1 ng-if="searchAutoCompleteCtrl.title && !searchAutoCompleteCtrl.highlight">{{searchAutoCompleteCtrl.title}}</h1>

  <div class="highlight-wrapper brands" ng-if="searchAutoCompleteCtrl.isSearchResult && searchAutoCompleteCtrl.isBrandSuggestionsActive && searchAutoCompleteCtrl.brandsHighlight.length">
    <h2 class="highlight-title">
      {{searchAutoCompleteCtrl.brandSuggestionsTitle || ('Brand Results:' | translate)}}
    </h2>

    <div class="highlight" id="{{searchAutoCompleteCtrl.brandsElementId}}"
         ng-mousedown="searchAutoCompleteCtrl.startDragging($event, false, searchAutoCompleteCtrl.brandsElementId)"
         ng-mouseup="searchAutoCompleteCtrl.stopDragging($event, false)"
         ng-mouseleave="searchAutoCompleteCtrl.stopDragging($event, false)"
         ng-mousemove="searchAutoCompleteCtrl.moveEvent($event, searchAutoCompleteCtrl.brandsElementId)">
      <button class="arrow no-design prev" aria-hidden="true"
              ng-if="searchAutoCompleteCtrl.brandsElement.showArrows && !searchAutoCompleteCtrl.brandsElement.hidePrev"
              ng-click="searchAutoCompleteCtrl.carouselPrev(searchAutoCompleteCtrl.brandsElementId, searchAutoCompleteCtrl.brandsElement)">
        <svg focusable="false">
          <use xlink:href="#sp-icons-arrow-left"></use>
        </svg>
      </button>

      <button class="highlight-word" ng-repeat="item in searchAutoCompleteCtrl.brandsHighlight"
              ng-click="searchAutoCompleteCtrl.searchByFilters('brand', [item.id], item.id ? (item.names | name) : item)">
        {{item.id ? (item.names | name) : item}}
      </button>

      <button class="arrow no-design next" aria-hidden="true"
              ng-if="searchAutoCompleteCtrl.brandsElement.showArrows && !searchAutoCompleteCtrl.brandsElement.hideNext"
              ng-click="searchAutoCompleteCtrl.carouselNext(searchAutoCompleteCtrl.brandsElementId, searchAutoCompleteCtrl.brandsElement)">
        <svg focusable="false">
          <use xlink:href="#sp-icons-arrow-left"></use>
        </svg>
      </button>
    </div>
  </div>

  <div class="highlight-wrapper categories" ng-if="searchAutoCompleteCtrl.isSearchResult">
    <div class="inner-border">
      <button class="highlight-word all" ng-click="searchAutoCompleteCtrl.search()">
        {{'All Results' | translate}}
      </button>

      <div class="highlight" id="{{searchAutoCompleteCtrl.categoriesElementId}}"
           ng-mousedown="searchAutoCompleteCtrl.startDragging($event, false, searchAutoCompleteCtrl.categoriesElementId)"
           ng-mouseup="searchAutoCompleteCtrl.stopDragging($event, false)"
           ng-mouseleave="searchAutoCompleteCtrl.stopDragging($event, false)"
           ng-mousemove="searchAutoCompleteCtrl.moveEvent($event, searchAutoCompleteCtrl.categoriesElementId)">
        <button class="arrow no-design prev" aria-hidden="true"
                ng-if="searchAutoCompleteCtrl.categoriesElement.showArrows && !searchAutoCompleteCtrl.categoriesElement.hidePrev"
                ng-click="searchAutoCompleteCtrl.carouselPrev(searchAutoCompleteCtrl.categoriesElementId, searchAutoCompleteCtrl.categoriesElement)">
          <svg focusable="false">
            <use xlink:href="#sp-icons-arrow-left"></use>
          </svg>
        </button>

        <button class="highlight-word" ng-click="searchAutoCompleteCtrl.search('specials')">
          {{'Specials' | translate}}
        </button>

        <button class="highlight-word" ng-repeat="item in searchAutoCompleteCtrl.highlight"
                ng-click="searchAutoCompleteCtrl.searchByFilters('category', [item.id], item.id ? (item.names | name) : item)">
          {{item.id ? (item.names | name) : item}}
        </button>

        <button class="arrow no-design next" aria-hidden="true"
                ng-if="searchAutoCompleteCtrl.categoriesElement.showArrows && !searchAutoCompleteCtrl.categoriesElement.hideNext"
                ng-click="searchAutoCompleteCtrl.carouselNext(searchAutoCompleteCtrl.categoriesElementId, searchAutoCompleteCtrl.categoriesElement)">
          <svg focusable="false">
            <use xlink:href="#sp-icons-arrow-left"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>

  <div class="retailer-rules" ng-if="searchAutoCompleteCtrl.rules && searchAutoCompleteCtrl.rules.length">
    <div class="rule" ng-repeat="rule in searchAutoCompleteCtrl.rules | orderBy:'rule.sort'">
      <a ng-href="{{rule.url}}">{{rule.desc[$root.config.language.id]}}</a>
    </div>
  </div>

  <div class="products" ng-if="searchAutoCompleteCtrl.products && searchAutoCompleteCtrl.products.length">
    <div class="product" ng-repeat="item in searchAutoCompleteCtrl.products"
         ng-click="$root.util.openProduct(item)"><!--
      --><img class="product-main-tag-icon" ng-if="(item.product || item) | productMainTag:$root.PermanentFilters.values[$root.PermanentFilters.TYPES.PRODUCT_TAGS]"
           ng-src="{{((item.product || item) | productMainTag:$root.PermanentFilters.values[$root.PermanentFilters.TYPES.PRODUCT_TAGS]).languages | name:'iconResourceUrl'}}"
           alt="{{((item.product || item) | productMainTag:$root.PermanentFilters.values[$root.PermanentFilters.TYPES.PRODUCT_TAGS]).languages | name:'displayName'}}"/><!--

      --><product-image show-replacement-label="item._suggestions|| item.product._suggestions" line="searchAutoCompleteCtrl.getLine(item.product || item)" product="(item.product || item)" image-key="images" size="{{'medium'}}" details="true"  is-product-out-of-stock="{{ item.product.branch.isOutOfStock || item.branch.isOutOfStock }}"></product-image><!--

      --><div class="data" ng-class="{ 'disabled': item.product.branch.isOutOfStock == true || item.branch.isOutOfStock == true }">
        <span class="brand" ng-if="(item.product || item).brand.names">{{(item.product || item).brand.names | name | trustHtml}}</span><!--
      --><span class="weight" ng-if="(item.product || item).weight">
          {{(item.product || item).brand.names && (item.product || item).weight ? '&nbsp;|' : '' }}
          {{(item.product || item) | productWeight:(item.product || item).isCaseMode }}
        </span>
        <div id="{{'product_' + (item.product || item).id + '_name'}}" class="name" ellipsis max-height-ellipsis="true" title="{{(item.product || item) | productName:(item.product || item).isCaseMode}}"></div>
      </div><!--

      --><div class="promotion-wrapper" ng-class="{ 'disabled': item.product.branch.isOutOfStock == true || item.branch.isOutOfStock == true }">
        <sp-promotion product="(item.product || item)" ng-if="$root.util.filterProductSpecials((item.product || item).branch).length && $root.config.retailer.settings.isNewPromotionDesignEnabled === 'true'"></sp-promotion>
      </div><!--

      --><sp-unit-weight product="(item.product || item)" ng-if="(item.product.productDisplayModeId || item.productDisplayModeId) === $root.PRODUCT_DISPLAY.WEIGHT_AND_UNIT.id && $root.config.retailer.enableSwitchUnitWeight && $root.util.isUnitsWeighable(item.product || item)" cart-line="searchAutoCompleteCtrl.getLine(item.product || item)" product-id="(item.product.id || item.id)" ng-click="$event.stopPropagation();">
      </sp-unit-weight><!--

      --><sp-product-price
                        regular-price="(item.product || item) | regularPrice"
                        sale-price="(item.product || item) | salePrice"
                        show-weight-unit="(item.product || item).isWeighable"
                        product="(item.product || item)"
                        ng-class="{ 'disabled': item.product.branch.isOutOfStock == true || item.branch.isOutOfStock == true }">
      </sp-product-price><!--
      --><product-actions
            product="(item.product || item)"
            text="{{'Add' | translate}}"
            ng-click="$event.stopPropagation();"
            hide-add-button="(!!item.product.productProperties && !!item.product.productProperties.length) || (item.productProperties && !!item.productProperties.length)"
            open-product="searchAutoCompleteCtrl.openOrderProduct((item.product || item))"
            on-click="searchAutoCompleteCtrl.ignoreFocusOut = true">
    </product-actions>
    </div>
  </div>

  <div class="autocomplete-footer" ng-if="searchAutoCompleteCtrl.isSearchResult">
    <button ng-click="searchAutoCompleteCtrl.search()">{{'See All Results' | translate}}</button>
  </div>
</div>