.auto-complete-wrapper {
  display: inline-block;
  position: relative;

   .sp-search-autocomplete {
    overflow: hidden;
    position: absolute;
    z-index: 2;
    top: 108%;
    left: 0;
    min-width: 60em;
    width: 100%;
     @include box-sizing(border-box);

    @include border-radius(5px);
    @include box-shadow(0 0.35em 0.5em 0 rgba(0, 0, 0, 0.35));

     > * {
       padding-right: 1em;
       padding-left: 1em;
       background-color: #ffffff;
     }

     > h1 {
       padding: 0.5em;
       font-size: 1.5em;
       text-align: start;
       box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.07);
       position: relative;
       font-weight: bold;
     }

     > .highlight-wrapper {
       width: 100%;
       //height: 2em;
       text-align: left;
       //padding: 1em;
       //margin-top: 1.5em;
       position: relative;
       box-sizing: border-box;

       .arrow {
         width: 2.1em;
         height: 2.1em;
         border-radius: 100%;
         position: absolute;
         background: #ffffff;
         border: 1px solid;
         padding: 0.5em;

         > svg {
           height: 100%;
           width: 100%;
           fill: red;
           vertical-align: text-top;
         }

         &.prev {
           left: 1em;

           > svg {
             .rtl & {
               transform: scale(-1);
             }
           }

           .rtl & {
             left: auto;
             right: 1em;
           }
         }

         &.next {
           right: 1em;

           > svg {
             transform: scale(-1);

             .rtl & {
               transform: scale(1);
             }
           }

           .rtl & {
             right: auto;
             left: 1em;
           }
         }
       }

       &.brands {
         //margin-top: 0;
         border-bottom: 1px solid rgba(80, 80, 80, 1);
         padding-right: 0;

         .rtl & {
           padding-right: 1em;
           padding-left: 0;
         }

         > .highlight {
           padding-left: 0;

           .rtl & {
             padding-right: 0;
           }
         }
       }

       &.categories {
         padding: 0;
         background-color: transparent;
         box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.07);

         .arrow.prev {
           left: 7.5em;

           .rtl & {
             left: auto;
             right: 7.5em;
           }
         }


         .inner-border {
           padding: 1.5em 0 0 1em;
           background-color: #ffffff;
           border-radius: 6px 6px 0 0;

           .rtl & {
             padding: 1.5em 1em 0 0;

           }
         }
       }

       .highlight {
         white-space: nowrap;
         padding-left: 6em;
         overflow-x: hidden;
         padding-bottom: 1em;
         cursor: grab;

         &::-webkit-scrollbar {
           width: 2px;
         }
       }

       .highlight-title {
         text-decoration: underline;
         padding: 1.5em 0;
         font-weight: 700;
         font-size: 1em;
       }

       .highlight-word {
         display: inline-block;
         padding: 0.5em;
         border-radius: 41px;
         width: 8em;
         text-align: center;
         overflow: hidden;
         text-overflow: ellipsis;

         &:not(:last-child) {
           margin-right: 0.5em;
         }

         &.all {
           background: #ffffff;
           text-decoration: underline;
           position: absolute;
           top: 1em;
           bottom: 1em;
           width: 7em;
           border-radius: 0;
           left: 0;
           text-align: center;
           font-weight: 700;

           &:hover {
             background-color: #ffffff;
           }
         }
       }
     }

     > .retailer-rules {
       padding: 0.5em 1em;
       .rule {
         padding: 0.5em 0;
         text-align: start;

         a {
           font-weight: 500;
           text-decoration: underline;
         }
       }
     }

    > .products {
       padding-top: 0.8em;
       max-height: 50em;
       overflow-y: auto;

       .product {
        height: 4.5em;
        box-sizing: border-box;
        text-align: left;
        border-bottom: 1px solid #ECECEC;
        padding: 0.5em;
        position: relative;

        > * {
          display: inline-block;
          vertical-align: middle;
          box-sizing: border-box;

          &:not(:last-child) {
            padding-right: 0.7em;
          }
        }

        .product-main-tag-icon {
          display: block;
          position: absolute;
          z-index: 1;
          top: 0.1em;
          width: 2em;
          height: 1.9998em;
          -o-object-fit: contain;
          object-fit: contain;
          left: 3em;
        }

         .disabled {
          opacity: 0.35;
          pointer-events: none;
        }

         .out-of-stock {
          position: absolute;
          top: 50%;
          height: 2em;
          line-height: 2em;
          padding: 0 0.4em;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          text-align: center;
          margin-top: -0.75em;
          color: #ffffff;
          // border-radius: 16px;
          font-size: 0.75em;
          white-space: nowrap;
          background-color: #F86B2F;
          width: auto;
          transform: translateX(-50%);
          opacity: 1;
        }

         > .image-wrapper {
           width: 10%;
         }

        > .data {
          color: #A0A0A0;
          font-size: 0.688em;
          width: 20%;

          > .brand, > .weight {
            display: inline-block;
          }

          > .name {
            color: #282828;
            font-weight: bold;
            font-size: 1.2em;
            width: 100%;
            min-height: 1.5em;
            padding-top: 0.5em;
          }
        }

        > .promotion-wrapper {
          width: 40%;
          text-align: center;
          position: relative;

          .sp-promotion {
            position: relative;

            >.promotion-tooltip>.tooltip>.promotion {
              color: #000000;
            }

            > .promotion-wrapper {
              width: 70%;
              float: right;
            }

            > .promotion-tooltip:not(.cart) {
              width: 70%;
              right: 0;
              left: auto;
            }

            > .save:not(.cart) {
              top: 0.5em;
            }
          }
        }

        > .sp-unit-weight {
          display: none;
          opacity: 0;
          position: absolute;
          padding-right: 0;
          top: 50%;
          left: 80%;
          transform: translate(-80%, -50%);
        }

        > .sp-product-price {
          width: 15%;
          padding-left: 1em;
          padding-right: 1em;

          >.sale-price {
            color: #FF0000;
          }
        }

        > .product-actions {
          width: 15%;

          > .add-to-cart {
            width: 100%;
          }
        }

        &:first-child {
          border-top: 1px solid #ECECEC;
        }

        &:hover {
          > .sp-unit-weight {
            display: inline-block !important;
            opacity: 1;
          }
        }
      }
    }

    .autocomplete-footer {
      padding: 1em 0;
      position: absolute;
      bottom: 0;
      width: 100%;
      background: #ffffff;
      z-index: 99;
      text-align: center;
    }

    &.search-results-mode {
      > .products {
        padding-bottom: 4em;
      }
    }
  }
}

.rtl {
  .auto-complete-wrapper .sp-search-autocomplete {
    right: 0;
    left: auto;

    > .highlight-wrapper {
      text-align: right;

      .highlight {
        padding-right: 6em;
        padding-left: 0;
      }

      .highlight-word {
        &:not(:last-child) {
          margin-left: 0.5em;
          margin-right: 0;
        }

        &.all {
          right: 0;
          left: auto;
        }
      }
    }

    > .products .product {
      text-align: right;

      .product-main-tag-icon {
        right: 3em;
        left: auto;
      }

      > * {
        &:not(:last-child) {
          padding-left: 0.7em;
          padding-right: 0;

        }
      }

      > .promotion-wrapper .sp-promotion {
        > .promotion-wrapper {
          float: left;
        }

        > .promotion-tooltip:not(.cart) {
          right: auto;
          left: 0;
        }
      }

      > .sp-unit-weight {
        padding-left: 0;
        padding-right: 0;
        top: 50%;
        left: 20%;
        transform: translate(-20%, -50%);
      }
    }
  }
}

@media screen and (max-height: 800px) {
  .auto-complete-wrapper .sp-search-autocomplete > .products {
    max-height: 40em;
    overflow-y: auto;
  }
}

@media screen and (max-height: 600px) {
  .auto-complete-wrapper .sp-search-autocomplete > .products {
    max-height: 25em;
    overflow-y: auto;
  }
}