<div class="sp-sale-icon {{saleIcon.class}}" ng-class="{'sale-icon': specialToShow, 'club-icon': specialToShow && hasClubSpecial}"
     ng-click="!withoutActions && showSpecialDetails($event);" tabindex="{{withoutActions ? -1 : 0}}" role="{{withoutActions ? '' : 'button'}}">
    <img ng-if="saleIcon.id === saleIconMethods.FIXED_SALE.id" alt="{{(hasClubSpecial ? 'club sale' : 'sale') | translate}}"
         ng-src="{{'https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/' + (hasClubSpecial ? 'club' : 'sale') + '-icon%translate%.png' | translateImage:{'he': '-hebrew'} }}"/>

    <img ng-if="saleIcon.id === saleIconMethods.DISCOUNT.id" alt="{{(hasClubSpecial ? 'club sale' : 'sale') | translate}}"
         ng-src="{{'https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/discount-' + (hasClubSpecial ? 'club' : 'sale') + '-icon.png'}}"/>

    <img ng-if="saleIcon.id === saleIconMethods.BUY_X_FOR_Y.id" alt="{{(hasClubSpecial ? 'club sale' : 'sale') | translate}}"
         ng-src="{{'https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/background-' + (hasClubSpecial ? 'club' : 'sale') + '-icon.png'}}"/>
    <!-- || saleIcon.id === saleIconMethods.BUY_X_GET_ONE.id-->

    <img ng-if="saleIcon.id === saleIconMethods.OVER_AMOUNT.id || saleIcon.id === saleIconMethods.BUY_X_GET_ONE.id" alt="{{(hasClubSpecial ? 'club sale' : 'sale') | translate}}"
         ng-src="{{'https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/gift-' + (hasClubSpecial ? 'club' : 'sale') + '-icon.png'}}"/>

    <!--ng-if="saleIcon.id === saleIconMethods.BUY_X_FOR_Y.id || saleIcon.id === saleIconMethods.BUY_X_GET_ONE.id"-->
    <div class="sale-icon-text" ng-if="saleIcon.id === saleIconMethods.BUY_X_FOR_Y.id">
        <span class="for-vertical-align"></span><!--
        --><div ng-if="saleIcon.id === saleIconMethods.BUY_X_FOR_Y.id">
            <span>{{'Buy' | translate}}</span> <span>{{purchaseTotal}}</span>
        </div><!--&lt;!&ndash;
        &ndash;&gt;<span ng-if="saleIcon.id === saleIconMethods.BUY_X_GET_ONE.id">{{purchaseTotal + ' + 1'}}</span>-->
    </div>

    <button class="highlight save" ng-class="{animated: $root.cart.changedProducts[product.id]}"
            ng-bind="(!withoutActions && !specialToShow.hasOneProduct ? 'special_reminder_button_title' : 'special_reminder_bubble_title') | translate"
            ng-if="!withoutActions && $root.cart.specialReminders.onProducts[specialToShow.id]"
            aria-live="assertive">
    </button>
</div>