.sp-sale-icon {
  $size: 2.5em;

  position: absolute;
  left: 1em;
  top: 1em;
  height: $size;
  width: $size;
  z-index: 4;

  img {
    width: $size;
    height: $size;
  }

  > .sale-icon-text {
    position: absolute;
    top: 0;
    height: 100%;
    font-size: 0.6em;
    color: #ffffff;
    font-weight: 700;
    right: 0;
    left: 0;
    text-align: center;

    > div, > span {
      display: inline-block;
      vertical-align: middle;
      width: 100%;

      > span {
        display: block;

        &:first-child {
          padding-bottom: 0.3em;
        }
      }
    }
  }

  > button.save {
    $boxShadowSize: 2px;
    $boxShadowColor: rgba(0, 0, 0, 0.5);

    position: relative;
    padding: 0.5em;
    margin-top: 0.5em;
    font-size: 0.65em;
    font-weight: 700;
    line-height: 1.5em;
    color: #ffffff;
    border-radius: 3px;
    text-align: center;
    box-shadow: 0 0 $boxShadowSize $boxShadowColor;
    margin-left: 0.2em;
    margin-right: 0;

    &::after {
      $triangularSize: 0.5em;

      content: '';
      position: absolute;
      left: 50%;
      margin-left: -$triangularSize;
      bottom: 100%;
      width: 0;
      height: 0;
      border-left: $triangularSize solid transparent;
      border-right: $triangularSize solid transparent;
      border-bottom: $triangularSize solid;
    }

    &.animated {
      animation: flash 1.5s 3;
    }
  }
}

.rtl {
  .sp-sale-icon {
    left: auto;
    right: 1em;

    > button.save {
      margin-right: 0.2em;
      margin-left: 0;
    }
  }
}