<div class="retailer-details-container">
    <ul class="navigation-buttons" role="navigation" aria-label="{{'navigation' | translate}}">
        <li class="option-btn clickable"
            ng-repeat="tab in retailerDetailsCtrl.tabs"
            ui-sref-active="selected">
            <a ui-sref="app.retailerDetails.{{tab.state}}"
               ng-bind="::tab.title | translate"
               aria-current="{{!!retailerDetailsCtrl.$state.current.name.includes(tab.state) ? 'page' : ''}}"></a>
        </li>
        <li class="option-btn not-link clickable"
            ng-click="retailerDetailsCtrl.openContactUs()"
            ng-class="{'selected': retailerDetailsCtrl.selectedTab == retailerDetailsCtrl.menuTabs.CONTACT_US}"
            ng-bind="'Contact Us' | translate" ng-if="$root.config.retailer.settings.isHiddenCrmActive !== 'true'">
        </li>
    </ul>

    <ui-view name="detailsTab" role="region" aria-label="{{'main display' | translate}}"></ui-view>
</div>