$navigationButtonsWidth: 15em;
$detailsUiViewLeftPadding: 2em;

html.retailer-details {
  section.view > div > .retailer-details-container {
    padding: 0 4em;

    .navigation-buttons {
      border: 1px solid #adadad;
      @include border-radius(5px);
      width: $navigationButtonsWidth;
      overflow: hidden;
      color: #606060;
      display: block;
      float: left;

      .option-btn {
        font-size: 0.875em;
        border-bottom: 1px solid #adadad;;
        width: 100%;
        height: 4.57em;
        line-height: 4.57em;
        white-space: nowrap;
        padding: 0;
        box-sizing: border-box;

        &.not-link {
          padding: 0 1em;
        }

        a {
          height: 100%;
          width: 100%;
          display: block;
          padding: 0 1em;
          box-sizing: border-box;
        }

        span {
          display: inline-block;
          width: 100%;
          text-align: left;
        }

        &:last-child {
          border-bottom: none;
        }

        &.selected {
          color: #ffffff;
          font-weight: bold;
        }
      }
    }

    ui-view {
      display: block;
      padding-left: $navigationButtonsWidth + $detailsUiViewLeftPadding;

      h1, h3 {
        padding-top: 0;
        color: #000000;
        font-size: 1.5em;
        font-weight: normal;
      }

      .store-information-wrapper {
        h1, h3 {
          padding-bottom: 0;
        }

        .single-branch {
          padding: 1em;
          border: 1px solid #cacaca;
          margin: 1.5em 0;
          overflow: hidden;
          @include border-radius(5px);

          > .basic {
            cursor: pointer;

            .toggle-branch {
              height: 0.7em;
              width: 1.5em;
              margin-top: 0.5em;
            }

            .branch-name {
              color: #353b37;
              font-size: 2.5em;
              font-weight: 300;
              padding-bottom: 0.2em;
              margin: 0;
              padding-top: 0;
            }

            .branch-address {
              font-size: 1.25em;
            }
          }

          > .extra {
            height: 0;
            white-space: nowrap;
            @include transition(height 0.4s);
            overflow: hidden;
            visibility: hidden;

            > * {
              display: inline-block;
              vertical-align: top;
              white-space: normal;
            }

            .details-wrapper {
              width: 27%;
              padding: 1.7em 1em 1em 0;
              @include box-sizing(border-box);

              > div.details-section {
                padding-bottom: 2em;

                h4, h3 {
                  display: block;
                  color: #353b37;
                  font-size: 1.375em;
                  padding-top: 0;
                  padding-bottom: 0.5em;
                  font-weight: bold;
                }

                .branch-hours {
                  line-height: 2em;
                }

                span, a {
                  color: #606060;
                  font-size: 0.875em;
                  font-weight: 400;
                }
              }
            }

            > .map-wrapper {
              height: 30em;
              width: 73%;
              padding-top: 1.8em;

              .sp-google-maps-wrapper {
                height: 100%;

                .sp-google-maps {
                  height: 98%;
                  width: 98%;
                  max-width: 39em;
                  //border: 1px solid #cacaca;
                  @include box-shadow(0px 0px 3px 0px rgba(0, 0, 0, 0.52));
                }
              }
            }
          }

          &.open-info {
            //border-width: 0;

            > .extra {
              visibility: visible;
              height: 32em;
              overflow-y: auto;
              overflow-x: hidden;
            }
          }

          &.only-one {
            border-width: 0;
            padding: 0;

            > .basic {
              cursor: auto;

              .toggle-branch {
                display: none;
              }
            }

            > .extra {
              height: auto;
              overflow: hidden;
            }
          }
        }
      }

      .cant-find-message {
        font-weight: bold;
      }

      .delivery-times-wrapper {
        .delivery-options-switcher {
          width: 20em;
          margin-bottom: 1.5em;

          > .sp-radio-option {
            width: 8em;
          }
        }

        .select-branches {
          padding-bottom: 0.6rem;

          .select-wrapper {
            display: inline-block;
            padding-right: 1.5em;

            label {
              display: block;
              font-size: 0.75em;
              color: #353b37;
              padding-bottom: 0.4em;
            }

            select {
              width: initial;
              background-color: white;
              min-width: 15em;
              padding: 0.4em 0.6rem;
            }
          }
        }

        h4 {
          color: #353b37;
          font-size: 1.375em;
          font-weight: bold;
        }

        .details-tabs {
          > * {
            display: inline-block;
            vertical-align: top;
            width: 20em;

            .days-wrapper .day-wrapper {
              white-space: nowrap;
              font-size: 0.875em;

              > * {
                display: inline-block;
                vertical-align: top;
              }

              .week-day {
                width: 5em;
                color: #878787;
              }

              .times-wrapper .time-row {
                padding-bottom: 1em;
                color: #606060;

                span{
                  direction: ltr;
                  display: inline-block;
                }
              }

              img{
                height: 1em;
              }
            }
          }

          .area-map {
            width: 35em;

            .sp-google-maps-wrapper .sp-google-maps {
              height: 28em;
              border: 1px solid #cacaca;
              @include border-radius(10px);
            }
          }
        }
      }

      .faq-wrapper {
        padding-left: 2em;
        padding-right: 3em;

        .question {
          padding-bottom: 1em;
        }
      }

      .contact-details-wrapper{
        h1 {
          font-size: 1.5em;
        }
        h2 {
          font-size: 1.3em;
        }
        h3 {
          font-size: 1.2em;
        }
      }
    }
  }

  .gm-style-iw {
    text-align: center;

    div {
      overflow: hidden !important;
      margin: 0 auto;
      text-align: center;
    }

    img {
      width: 100%;
      height: 100%;
      max-width: 9em;
      max-height: 5em;
      object-fit: contain;
    }

    //.info-logo{
    //  background: #1B6131 !important;
    //}
  }

  &.rtl {
    section.view > div > .retailer-details-container {
      .navigation-buttons {
        float: right;

        .option-btn span {
          text-align: right;
        }
      }

      ui-view {
        padding-left: 0;
        padding-right: $navigationButtonsWidth + $detailsUiViewLeftPadding;

        .store-information-wrapper .single-branch > .extra .details-wrapper {
          padding-left: 1em;
          padding-right: 0;
        }

        .delivery-times-wrapper .select-branches .select-wrapper {
          padding-right: 0;
          padding-left: 1.5em;
        }

        .faq-wrapper {
          padding-left: 3em;
          padding-right: 2em;
        }
      }
    }
  }
}