html.retailer-details {
  .cant-find-message {
    color: $mainColor;
  }
  section.view > div > .retailer-details-container .navigation-buttons .option-btn {
    font-family: $defaultFontFamily;

    &.selected {
      background-color: $mainColor;
    }
  }
}