<div class="product-item clickable" ng-if="!item.isBumper">
    <sp-product product="item" tabindex="0" size="{{size || 'medium'}}" show-item-description="showItemDescription || false"
                ng-class="{ 'large-product': size === 'large', 'new-promotion': $root.config.retailer.settings.isNewPromotionDesignEnabled === 'true' }" aria-labelledby="{{'product_' + item.id + '_name'}}"
                boost-product-tags="boostProductTags" open-product="clickOnItem(item, $index)"></sp-product>
</div>
<div class="product-item bumper clickable" ng-if="item.isBumper && categoryType !== $root.CATEGORIES_TYPES.LARGE_ITEMS">
    <div class="recipe-bumper-image" ng-if="!!item.recipe && item.first"
         ng-click="$root.util.openRecipeDialog(item.recipe); $root.util.firePromotionEvent(item.recipe, 'recipe'); $event.stopPropagation();">
        <img ng-src="{{item.recipe.image}}" alt="{{'open recipe' | translate}}"/>
    </div>
    <div class="recipe-bumper" ng-if="!!item.recipe && item.second"
         ng-click="$root.util.openRecipeDialog(item.recipe); $root.util.firePromotionEvent(item.recipe, 'recipe'); $event.stopPropagation();">
        <div>
            <h6> {{::'Recipe' | translate}} </h6>
            <h4 class="name">{{item.recipe.name}} </h4>
            <h5>{{('By' | translate) + ' ' + item.recipe.author}} </h5>
            <div class="read-more-wrapper">
                <div class="read-more">
                    <span class="for-vertical-align"></span><!--
                --><span>{{::'Read More' | translate}}</span>
                </div>
            </div>
        </div>
       <!-- <h5 class="description" ellipsis title="{{item.recipe.description}}"></h5>-->
    </div>

    <a ng-if="!!item.banner && item.second"
       ng-href="{{item.banner.url}}"
       class="banner-bumper double-bumper-second"
       ng-class="{'has-link' : item.banner.url}"
       ng-style="{
        'width': '100%'
       }"
       ng-click="$root.util.firePromotionEvent(item.banner, 'banner');">
        <img ng-if="!item.banner.bannerHtml" class="image-full-size" ng-src="{{item.banner.pictureUrl}}" alt="{{item.banner.alt || ('banner' | translate)}}">
        <div class="banner-html" ng-if="item.banner.bannerHtml" ng-bind-html="item.banner.bannerHtml | trustHtml"></div>
    </a>

    <div class="video-bumper-first" ng-if="!!item.video && item.first"
         ng-click="$root.util.firePromotionEvent(item.video, 'video'); $event.stopPropagation();" tabindex="-1">

    </div>
    <div class="double-bumper-second" ng-if="!!item.video && item.second"
         ng-click="$event.stopPropagation(); item.isHide = true"
         sp-out-of-view sp-out-of-view-action="item.isHide = false" sp-out-of-view-measurements="{ topHeight : 150 }"
         role="none" tabindex="-1"
         id="{{'double-bumper-second-' + item.id}}">
        <div class="image-overlay-wrapper" ng-click="$root.util.firePromotionEvent(item.video, 'video', 'double-bumper-second-' + item.id)"
             ng-class="{'hide' : item.isHide, 'show' : !item.isHide, 'click-through': item.isHide}" aria-label="{{'Display video' | translate}}">
            <img class="image-overlay" ng-src="{{item.video.pictureUrl || 'https://d226b0iufwcjmj.cloudfront.net/video-bumper-images/default-image.png'}}" alt="">
        </div><!--
        --><sp-iframe ng-if="item.isHide" src="{{$root.util.trustYoutubeSrc(item.video.url)}}" title="{{'Video box' | translate}}" tabindex="0"></sp-iframe><!--
        --><div class="video-left" ng-class="{'hide' : item.isHide, 'show' : !item.isHide, 'click-through': item.isHide}">
            <span class="for-middle"></span><!--
            --><img class="play-icon" src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/play-video.png" alt="{{'play video' | translate}}">
        </div><!--
        --><div class="video-right" ng-class="{'move-right' : item.isHide, 'move-left' : !item.isHide, 'click-through': item.isHide}">
            <div>
                <h6>
                    {{::'Video' | translate}}
                </h6>
                <h4 class="name"> {{item.video.name}}</h4>
                <h5>{{('By' | translate) + ' ' + item.video.author}} </h5>
            </div>
        </div>
    </div>
</div>
<div class="product-item bumper single-bumper clickable" ng-if="item.isBumper && categoryType == $root.CATEGORIES_TYPES.LARGE_ITEMS">

    <div class="double-bumper-second" ng-if="!!item.video && item.first"
         ng-click="$event.stopPropagation(); item.isHide = true"
         sp-out-of-view sp-out-of-view-action="item.isHide = false" sp-out-of-view-measurements="{ topHeight : 150 }">
        <sp-iframe ng-if="item.isHide" src="{{$root.util.trustYoutubeSrc(item.video.url)}}"></sp-iframe>
        <div class="image-overlay-wrapper" ng-click="$root.util.firePromotionEvent(item.video, 'video')" ng-class="{'hide' : item.isHide, 'show' : !item.isHide, 'click-through': item.isHide}">
            <img class="image-overlay" ng-src="{{item.video.pictureUrl || 'https://d226b0iufwcjmj.cloudfront.net/video-bumper-images/default-image.png'}}" alt="">
        </div><!--
        --><div class="video-left" ng-class="{'hide' : item.isHide, 'show' : !item.isHide, 'click-through': item.isHide}">
        <span class="for-middle"></span><!--
            --><img class="play-icon" src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/play-video.png" alt="{{'play video' | translate}}">
        </div><!--
        --><div class="video-right" ng-class="{'move-right' : item.isHide, 'move-left' : !item.isHide, 'click-through': item.isHide}">
        <div>
            <h6>
                {{::'Video' | translate}}
            </h6>
            <h4 class="name"> {{item.video.name}}</h4>
            <h5>{{('By' | translate) + ' ' + item.video.author}} </h5>
        </div>
        </div>
    </div>

    <div class="recipe-bumper-image" ng-if="!!item.recipe && item.first"
         ng-click="$root.util.openRecipeDialog(item.recipe); $root.util.firePromotionEvent(item.recipe, 'recipe'); $event.stopPropagation();">
        <img ng-src="{{item.recipe.image}}" alt="{{'open recipe' | translate}}"/>
    </div>
    <div class="recipe-bumper" ng-if="!!item.recipe && item.first"
         ng-click="$root.util.openRecipeDialog(item.recipe); $root.util.firePromotionEvent(item.recipe, 'recipe'); $event.stopPropagation();">
        <div>
            <h6> {{::'Recipe' | translate}} </h6>
            <h4 class="name">{{item.recipe.name}} </h4>
            <h5>{{('By' | translate) + ' ' + item.recipe.author}} </h5>
            <div class="read-more-wrapper">
                <div class="read-more">
                    <span class="for-vertical-align"></span><!--
                --><span>{{::'Read More' | translate}}</span>
                </div>
            </div>
        </div>
    </div>

    <a ng-if="!!item.banner && item.first"
       ng-href="{{item.banner.url}}"
       class="banner-bumper double-bumper-second"
       ng-class="{'has-link' : item.banner.url}"
       ng-click="$root.util.firePromotionEvent(item.banner, 'banner');">
        <img ng-if="!item.banner.bannerHtml" class="image-full-size" ng-src="{{item.banner.pictureUrl}}" alt="{{item.banner.alt || ('banner' | translate)}}">
        <div class="banner-html" ng-if="item.banner.bannerHtml" ng-bind-html="item.banner.bannerHtml | trustHtml"></div>
    </a>

</div>