<div class="cart-line-comments-wrapper" ng-click="$event.stopPropagation();" tabindex="-1" ng-class="{
    'has-cart-line-comments': !!spLine.comments || spLine.productPropertyValue,
    'hide-cart-line-comments': !spLine.comments && !ctrlData.isInFocus && !!spHide && !spLine.productPropertyValue,
    'edit-cart-line-comments': !!ctrlData.editMode && !spHide
}">
    <div class="cart-line-property" ng-if="spLine.productPropertyValue && showProductProperty">
        {{(spLine.productPropertyValue.propertyNames | name:'name') + ': ' + (spLine.productPropertyValue.names | name:'name')}}
    </div>
    <div class="cart-line-comments-input-wrapper" ng-if="!spReadonlyComments">
        <span class="for-vertical-align"></span><!--
        --><input class="cart-line-comments-input" type="text" placeholder="{{::'Add comment' | translate}}" ng-if="(!spTextArea)" maxlength="500"
               ng-model="ctrlData.editableComments" ng-keyup="ctrlData.onKeyUp($event)" ng-focus="ctrlData.setFocusState(true)" ng-blur="ctrlData.setFocusState(false)"/><!--
        --><textarea class="cart-line-comments-input" placeholder="{{::'Add comment' | translate}}" ng-if="(!!spTextArea)" maxlength="500"
               ng-model="ctrlData.editableComments" ng-keyup="ctrlData.onKeyUp($event)" ng-focus="ctrlData.setFocusState(true)" ng-blur="ctrlData.setFocusState(false)">
            <!-- this line exists to prevent 'Invalid argument' Error in IE (happens with ng-model and placeholder) -->
            <!-- http://stackoverflow.com/questions/20224698/angularjs-on-ie10-textarea-with-placeholder-cause-invalid-argument#26060157 -->
        </textarea>
    </div>
    <div class="cart-line-comments" ng-click="!spReadonlyComments && ctrlData.setToEditMode();" ng-if="spLine.comments || !spHide">
        <span class="for-vertical-align"></span><!--
        --><img src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/comment-transparent.png" alt="{{::'edit comment' | translate}}" class="main-color"/><!--
        --><span class="cart-line-comments-text">&nbsp;{{spLine.comments}}</span>
    </div>
</div>