.cart-line-comments-wrapper {
  &.hide-cart-line-comments, > .cart-line-comments-input-wrapper, &.edit-cart-line-comments > .cart-line-comments {
    display: none;
  }

  &.edit-cart-line-comments > .cart-line-comments-input-wrapper {
    display: block;
  }

  > .cart-line-comments-input-wrapper >, > .cart-line-comments > {
    .cart-line-comments-text, img, .cart-line-comments-input {
      display: inline-block;
      vertical-align: middle;
    }
  }

  > .cart-line-comments {
    cursor: pointer;
    line-height: 120%;
    white-space: nowrap;

    > img {
      display: inline-block;
      vertical-align: middle;
    }

    > .cart-line-comments-text {
      width: 100%;
      padding-left: 1em;
      @include box-sizing(border-box);
      margin-left: -1em;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.rtl {
  .cart-line-comments-wrapper > .cart-line-comments > .cart-line-comments-text {
    padding-left: 0;
    padding-right: 1em;
    margin-left: 0;
    margin-right: -1em;
  }
}