<h1 class="detail-title" ng-bind="::'Payment Methods' | translate" id="page_title" tabindex="0"></h1>

<div class="detail-subtitle" ng-bind="::'Credit Cards' | translate | creditCardName" ng-if="userEditCtrl.hasCreditCardMethod" tabindex="0"></div>
<div class="credit-card-details" ng-if="userEditCtrl.hasCreditCardMethod">
    <div class="cards-list" ng-if="userEditCtrl.user.creditCards.length">
        <sp-radio class="card-option"
                  sp-model="paymentMethodsCtrl.creditCard"
                  options="userEditCtrl.user.creditCards"
                  value-key="option"
                  role="radiogroup"
                  aria-label="{{::'Credit Cards' | translate | creditCardName}}">
          <span class="card-no">
          <span class="card-hidden-no">**** **** **** </span>{{option.lastFourDigits}}</span>
        </sp-radio>
    </div>

    <div class="add-card-btn-wrapper">
        <button class="no-design remove-card-btn" ng-bind="::'Remove card' | translate"
                ng-click="paymentMethodsCtrl.removeSelectedCard();"
                ng-if="paymentMethodsCtrl.creditCard">
        </button>
        <button class="add-btn" ng-bind="::'Add card' | translate"
                ng-click="paymentMethodsCtrl.addCreditCard()"
                ng-disabled="paymentMethodsCtrl.disableAddCardButton">
        </button>
    </div>

    <br>
    <div ng-if="paymentMethodsCtrl.disableAddCardButton">
        {{'Credit cards can not be added. You are assigned to an organization' | translate}} ({{userEditCtrl.user.organization.name}})
    </div>
</div>

<!-- TODO: Why ng-if="userEditCtrl.hasPayPalMethod" twice? -->
<div class="detail-subtitle" ng-if="userEditCtrl.hasPayPalMethod"
     ng-bind="::'PayPal Accounts' | translate"></div>

<div class="credit-card-details" ng-if="userEditCtrl.hasPayPalMethod">
    <div class="cards-list">
        <sp-radio class="card-option"
                sp-model="paymentMethodsCtrl.paypalAccount"
                options="userEditCtrl.user.paypalAccounts"
                value-key="option"
                role="radiogroup"
                aria-label="{{::'PayPal Accounts' | translate}}">
                <span class="card-no">
                    <span class="card-hidden-no"></span>
                    {{option.email}}
                </span>
        </sp-radio>
    </div>

    <div class="add-card-btn-wrapper">
        <button class="no-design remove-card-btn"
                ng-if="paymentMethodsCtrl.paypalAccount"
                ng-click="paymentMethodsCtrl.removeSelectedPaypalAccount();"
                ng-bind="::'Remove account' |translate">
        </button>
    </div>
</div>
