<p class="additional-text">{{registerCtrl.additionalText}}</p>
<form sp-form-accessibility class="form" name="registerForm" novalidate ng-submit="registerCtrl.register(registerForm, $event);" ng-if="!registerCtrl.userLogin">
    <div class="server-err-msg" ng-if="!registerCtrl.showSuccessMessage"></div>
    <div class="user-activation-required" ng-if="registerCtrl.showSuccessMessage">
        {{'Your account requires activation.' | translate}} </br>
        {{'email with activation link have been sent to your email.' | translate}}
        <div >
            <span>{{('The link is valid for {link_ttl} minutes' | translate).replace('{link_ttl}', $root.config.retailer.settings.userEmailVerificationExpirationMinutes)}}</span>
            <button ng-click="registerCtrl.resendActivationLink(registerForm, $event)" class="no-design resend-activation-link">
                {{'Didn\'t receive an email' | translate}}? - {{'Send again' | translate}}
            </button>
        </div>
    </div>
    <input type="text" name="firstName" placeholder="{{registerCtrl.firstNamePlaceholder}}" ng-model="loginOrRegisterCtrl.user.firstName" ng-maxlength="50" required sp-inline-error/>
    <input type="text" name="lastName" placeholder="{{registerCtrl.lastNamePlaceholder}}" ng-model="loginOrRegisterCtrl.user.lastName" ng-maxlength="50" required sp-inline-error/>
    
    <input ng-if="$root.config.retailer.settings.isPhoneNumberMandatoryWhileRegistering === 'true'" type="text" name="phoneNumber" placeholder="{{registerCtrl.phoneNumberPlaceholder}}" ng-model="loginOrRegisterCtrl.user.phoneNumber" ng-pattern="loginOrRegisterCtrl.phoneRegExp" required sp-inline-error/>

    <input type="email" name="email" placeholder="{{::'Email' | translate}}" ng-model="loginOrRegisterCtrl.user.email" required sp-inline-error/>
    <div class="two-inputs">
        <sp-password sp-model="loginOrRegisterCtrl.user.password"
                     i-name="password"
                     i-id="password"
                     i-placeholder="{{::'Password' | translate}}"
                     sp-minlength="6"
                     sp-maxlength="30"
                     sp-pattern="/(?=.*[0-9])(?=.*[^0-9])/"
                     on-blur="registerCtrl.checkConfirmPassword(registerForm)"
                     required
                     i-sp-inline-error></sp-password><!--
        --><sp-password sp-model="loginOrRegisterCtrl.user.confirmPassword"
                        i-name="confirmPassword"
                        i-id="confirm_password"
                        i-placeholder="{{::'Confirm Password' | translate}}"
                        on-blur="registerCtrl.checkConfirmPassword(registerForm)"
                        required
                        i-sp-inline-error></sp-password>
    </div>
    <sp-captcha ng-if="registerCtrl.showCaptcha" is-invalid="registerCtrl.captchaIsInvalid"></sp-captcha>
    <sp-checkbox id="termsAndConditionsText" sp-model="loginOrRegisterCtrl.user.policyApproval" i-name="policyApproval" sp-change="policyApprovalError = '';" i-sp-inline-error i-sp-inline-error-attach-to-parent="label">
        <span ng-if="registerCtrl.termsAndConditionsText" ng-bind-html="registerCtrl.termsAndConditionsText"></span>
        <span ng-if="!registerCtrl.termsAndConditionsText">
            {{('I agree to the' | translate) + ' '}}
            <a ng-click="registerCtrl.openLink('app.termsAndConditions')" ng-bind="'Terms & Conditions' | translate"></a>
            {{'and the' | translate}}
            <a ng-click="registerCtrl.openLink('app.policies')" ng-bind="'Privacy Policy' | translate"></a>
            {{('policy_end' | translate) + ' *'}}
        </span>
    </sp-checkbox>
    <sp-checkbox id="promotionsText" sp-model="loginOrRegisterCtrl.user.allowSendPromotions">
        <span ng-bind-html="registerCtrl.promotionsText"></span>
    </sp-checkbox>
    <button type="submit" ng-disabled="registrationInProcess">{{registerCtrl.registerButton}}</button>
</form>

<div class="after-register" ng-if="registerCtrl.userLogin">
    <div>{{::'Registration Completed' | translate}}</div>
    <button ng-click="registerCtrl.hideDialog()">{{::'Continue Shopping' | translate}}</button>
</div>
