<sp-tabs>
    <sp-tabs-pane title="{{tab.title}}" ng-repeat="tab in loginOrRegisterCtrl.tabs" on-select="loginOrRegisterCtrl.show(tab)" selected="loginOrRegisterCtrl.shownTab == tab" sr-text="true">
        <ng-include ng-class="{'hub': !!loginOrRegisterCtrl.hubData}" src="tab.templateUrl" ng-controller="tab.controller"></ng-include>
    </sp-tabs-pane>
</sp-tabs>