.dialog.login-or-register-v2,
.dialog.form-completion-dialog> {
  .dialog-body {
    font-family: 'Open Sans Hebrew';

    padding: 0;

    width: 40em;
    height: 45.625em;

    border-radius: 16px;

    .header {
      display: flex;
      justify-content: space-between;
      padding: 30px 24px 0 24px;

      button.arrow-btn,
      button.close-btn {
        background-color: transparent;

        display: flex;
        justify-content: center;
        align-items: center;

        padding: 0;
        margin: 0;

        &:hover,
        &:focus,
        &:focus-visible,
        &:active {
          background-color: inherit;
        }
      }

      .back-ico {
        width: 25px;
        height: 25px;
      }

      .close-ico {
        width: 21px;
        height: 21px;
      }
    }

    .retailer-logo {
      width: 50%;

      margin: 0 auto;
      margin-bottom: 20px;

      display: flex;
      justify-content: center;

      img {
        width: 164px;

        object-fit: cover;
      }
    }

    sp-tabs {
      .sp-tabs-selector {
        display: none;
      }
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    form,
    .reset-code-err-wrapper {
      width: 60%;

      margin: 1.5em auto;
      margin-top: 0;

      h4.title {
        text-align: center;
        font-weight: 700;
        color: #282828;
        font-family: inherit;

        padding: 0;
        margin: 0;
      }

      p.subtitle,
      p.addons-text {
        text-align: center;

        font-size: 0.875em;

        padding: 0;
        margin: 0;

        &.subtitle {
          color: #A0A0A0;
          line-height: 1.5em;
        }
      }

      button {
        &.block {
          display: block;

          font-size: 1.125em;
          font-weight: 700;
          color: #ffffff;

          padding: 0.55em;

          width: 100%;

          border-radius: 12px;

          @include border-radius(5px);
          @include box-shadow(none);

          &.not-approve {
            margin-top: 1em;
            background-color: #ffffff;

            &:hover {
              background-color: #ffffff !important;
            }
          }
        }

        &.ico-btn {
          background-color: transparent;

          display: flex;
          align-items: center;
          justify-content: center;

          padding: 0px;
          margin: 0px;

          &:hover,
          &:focus,
          &:focus-visible,
          &:active {
            background-color: inherit;
          }
        }
      }

      .checkbox {
        padding-left: 20px;

        font-size: 14px;

        &:focus-visible {
          outline: none;
        }
      }

      sp-captcha {
        margin: 0;

        display: flex;
        flex-direction: column-reverse;
        gap: 10px;

        .captcha-warning-msg {
          padding: 0;

          font-weight: 400;
          font-size: 14px;
        }
      }
    }

    form[name="registerForm"],
    form[name="loginForm"],
    form[name="enterCompletionForm"] {
      p.subtitle {
        padding: 0;
      }

      &.hub {
        width: 28.125em !important;
      }

      .login-err {
        color: #d44949;
        white-space: nowrap;
        padding: 1.2em 0 0.5em 0;

        text-align: center;

        >* {
          display: inline-block;
          vertical-align: middle;
        }

        .text {
          font-size: 0.86em;
          line-height: 1.2em;
        }

        &.success-color {
          white-space: normal;
          color: #509E24;
        }
      }

      .server-err-msg {
        text-align: center;

        .err-contact-phone {
          font-weight: normal;
          text-align: center;
          padding-top: 0.4em;
        }
      }

      label.checkbox {
        font-size: 0.88em;
        width: 100%;
      }

      a {
        color: #0000FF;
      }

      .login-with-facebook {
        background: #3b579d url("https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/facebook.png") 4px 2px no-repeat;
        padding-left: 25px;
        float: right;
      }

      .register-btn {
        color: red;
        margin: 0.5em 0 1em 0;
        text-decoration: underline;
        font-size: 0.875em;
      }

      .forgot-password {
        align-self: flex-end;

        a {
          color: #5756EC;
          text-decoration: underline;
          font-size: 0.875em;
          cursor: pointer;
        }
      }

      .terms-approve {
        line-height: 1.4em;
        font-size: 0.9em;
        text-align: justify;

        a {
          text-decoration: underline;
        }

        p.space {
          margin-top: 0.5em;
        }
      }

      .user-activation-required {
        text-align: center;
        margin: 0.5em 0;
        color: #ffffff;
        padding: 0.5em;
        font-weight: bold;
        border-radius: 5px;

        >div {
          font-weight: normal;
          font-size: 0.9em;
          padding-top: 0.5em;

          >span {
            padding: 0 0.5em;
          }

          .resend-activation-link {
            margin: 0;
            display: inline-block;
            text-decoration: underline;
          }
        }
      }

      .dropdown-container {
        background: transparent;

        border-radius: 5px;

        width: 100%;
        max-height: 50px;
        min-height: 50px;
        height: 50px;

        display: flex;

        &.active {
          .selected-option {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;

            svg.ico-arrow {
              transform: rotate(180deg);
            }
          }
        }

        .selected-option {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 12px;

          width: 100%;
          max-width: 100%;

          padding: 0 20px;

          border-radius: 10px;
          border: 1px solid #c8c8c8;
          background: #FFF;

          position: relative;

          font-size: 16px;

          cursor: pointer;

          svg.ico-arrow {
            width: 14px;
            height: 9px;

            transition: transform 0.4s;

            transform: rotate(0deg);
          }
        }

        .option-list-container {
          width: 100%;

          position: absolute;
          top: 100%;
          left: -1px;
          z-index: 2;

          background: #fff;

          display: flex;

          border-radius: 10px;
          border-top-left-radius: 0;
          border-top-right-radius: 0;
          border: 1px solid #c8c8c8;

          .option-list-inner-wrapper {
            max-height: 512px;
            width: 100%;

            padding: 8px;

            overflow-y: auto;

            display: flex;
            flex-direction: column;
            gap: 10px;

            height: 100%;

            .option-item-container {
              padding: 14px 10px;

              font-size: 16px;
              color: #282828;

              line-break: anywhere;

              &.selected {
                background-color: #CCE5FF;

                pointer-events: none;
              }

              &:hover {
                background-color: #CCE5FF;

                border-radius: 5px;

                cursor: pointer;
              }
            }
          }
        }
      }
    }

    form[name="forgotPasswordForm"] {
      margin-top: 64px;
    }

    .enterCompletionForm {
      .warning-wrapper {
        display: flex;
        flex-direction: column;
        gap: 10px;

        margin-top: 10px;

        &>p {
          font-size: 14px;
          color: #FE0000;

          text-align: center;
        }

        .look-like-anchor-btn {
          font-size: 18px;
          color: #505050;

          text-decoration: underline;

          background-color: transparent;
        }
      }

      .completionFormError {
        font-size: 14px;
        text-align: center;
        line-height: 18px;
        color: red;
      }
    }

    .login-with-otp-container {
      margin-top: 80px;
      text-align: center;

      img {
        width: 30%
      }
    }

    .selectOtpOption {
      h4.title {
        margin-bottom: 24px;
      }

      .options-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        .option {
          width: 100%;

          button {
            position: relative;

            min-height: 56px;

            border-radius: 12px;

            &>svg {
              position: absolute;
              left: 10px;
              top: 50%;

              transform: translate(0, -50%);

              &.phone-ico {
                width: 23px;
                height: 25px;
              }

              &.mailbox-white-ico {
                width: 20px;
                height: 17px;
              }
            }
          }
        }
      }
    }

    .otpError {
      h4.title {
        margin-bottom: 20px;
      }

      .otp-error-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        width: 70%;
        margin: 0 auto;
        margin-bottom: 20px;
      }

      .error-text {
        color: red;

        text-align: center;
        line-height: 18px;
      }

      p {
        text-align: center;

        color: #505050;
        font-size: 14px;
        line-height: 18px;
      }
    }

    .enterOtpPhoneOrEmail {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .enterCodeToValidate {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .otp-code-input {
        direction: ltr !important;

        display: flex;
        justify-content: space-between;

        margin-bottom: 10px;

        input {
          height: 70px;
          width: 40px;

          text-align: center;
          font-size: 24px;

          outline: none;

          border: none;
          border-bottom: 2px solid #C8C8C8;
          border-radius: 0;
        }
      }

      .invalid-or-expired-text {
        color: red;

        text-align: center;

        margin: 20px 0;
      }

      .addons-text {
        text-align: center;
      }

      .subtitle {
        > strong.otp-credential {
          display: inline-block;

          direction: ltr;
        }
      }
    }

    .chooseUniqueEmail {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .title {
        font-size: 22px;
        font-weight: 700;
        color: #282828;

        text-align: center;

        margin: 0 auto;
        margin-bottom: 8px;
        margin-top: 20px;
      }

      .alert-wrapper {
        display: flex;
        align-items: center;
        gap: 8px;

        border-radius: 4px;

        background-color: #fff0ee;

        padding: 12px;

        font-size: 14px;
        color: #505050;
        line-height: 1.3em;

        svg.info-ico {
          width: 22px;
          height: 21px;
        }
      }

      .sp-radio-buttons {
        display: flex;
        flex-direction: column;
        gap: 16px;
        align-items: flex-start;

        width: max-content;

        margin: 1.5em auto;

        label {
          span.label {
            margin-left: 0.5em;
          }

          &:focus-visible {
            outline: none;
          }
        }
      }

      .confirmation-text {
        font-size: 14px;
        color: #282828;

        text-align: center;
      }
    }

    .user-email-activation-err {
      white-space: normal;
      line-height: 1.6em !important;

      .resend-activation-link {
        font-weight: normal;
        cursor: pointer;
        text-decoration: underline;
      }
    }

    div.reset-password-sent {
      margin-top: 1em;
      text-align: center;

      >.text-error {
        color: #E71B1B;
        padding-top: 1rem;
        font-size: 0.8em;
      }
    }

    .after-register {
      text-align: center;
      font-size: 1.2em;

      div {
        padding: 5em 0;
        color: #353b37;
        font-weight: bold;
      }

      button {
        padding: 0.5em 4em;
      }

      h5,
      button {
        font-weight: bold;
      }
    }

    .footer {
      display: flex;
      flex-direction: column;
      gap: 10px;

      width: 60%;

      margin: 32px auto;

      button.action-btn {
        border-radius: 10px;
        border: 1px solid #c8c8c8;

        padding: 8px 10px;

        width: 100%;
        min-height: 56px;

        font-weight: 700;
        color: #282828;

        display: flex;
        justify-content: center;
        align-items: center;

        position: relative;

        background-color: #fff;

        &:hover,
        &:focus-visible {
          background-color: transparent;
        }

        &>svg {
          position: absolute;
          left: 10px;
          top: 50%;

          transform: translate(0, -50%);

          &.mailbox-ico {
            width: 20px;
            height: 17px;
          }

          &.otp-ico {
            width: 24px;
            height: 25px;
          }

          &.fb-ico {
            width: 24px;
            height: 25px;
          }
        }
      }

      .divider-with-middel-text {
        display: flex;
        align-items: center;
        gap: 5px;

        font-size: 16px;
        color: #a0a0a0;
        font-weight: 700;

        &::before,
        &::after {
          content: "";

          height: 1px;
          width: 100%;

          background-color: #a0a0a0;
        }
      }
    }
  }
}

.look-like-anchor {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.back-button-otp {
  color: black;
}

.additional-text {
  font-size: 1.5em;
  text-align: center;
  font-weight: 500;
  padding-top: 0.5em;
}

html.rtl {

  .dialog.login-or-register-v2,
  .dialog.form-completion-dialog>.dialog-body {
    .header {
      button.arrow-btn {
        transform: rotate(180deg);
      }
    }

    button.action-btn,
    button.block {
      &>svg {
        right: 10px;
      }
    }
  }
}

.force-direction-ltr {
  direction: ltr !important;
}