.dialog.login-or-register-v2 {
  .dialog-body {
    > .bold-alert {
      background-color: $mainColor;
    }

    button {
      &.link-btn {
        color: $mainColor;
        font-weight: 700;
  
        background-color: transparent;
  
        padding: 0;
        margin: 0;
  
        &:hover, &:active, &:focus-visible, &:active {
          background-color: inherit;
        }
      }

      &:disabled {
        filter: grayscale(100%);

        cursor: not-allowed;
      }
    }
  }
}