#delivery_no_slots_popup {
  width: 470px;
  min-height: 18em;
  max-height: 34em;
  padding: 0;
  text-align: center;

  .retailer-logo {
    text-align: center;
    margin: 0 0 1.4em 0;

    img {
      max-width: 12em;
      height: auto;
    }
  }

  h2 {
    display: block;
    width: 70%;
    font-size: 28px;
    line-height: 34px;
    padding: 0 0 1em 0;
    margin: auto;
  }

  .description {
    display: block;
    width: 70%;
    font-size: 18px;
    line-height: 25px;
    padding: 0 0 0.5em 0;
    margin: auto;
  }

  .action-button {
    text-align: center;
    border-top: 1px solid #C8C8C8;
    padding-top: 1em;
    margin-top: 2em;

    .cancel {
      padding: 0.5em 2.5em;
      min-width: 7em;
    }
  }
}