<div class="main-wrapper manual-focus-for-accessibility" ng-controller="PrutahTemplateChooseAreaCtrl" tabindex="-1">
    <button ng-click="chooseAreaCtrl.goToFilterAreas()" ng-bind="::'< ' + ('Back' | translate)"
        class="results-back-btn no-design" ng-if="chooseAreaCtrl.currentSearchMessageMode"></button>
    <ng-include src="chooseAreaCtrl.chooseAreaAdvancedCurrentDialog"></ng-include>
</div>