$blueColor: #000333;
.advanced-area-availability {
  .main-wrapper {
    width: 100%;
    min-height: 41.5em;
 
    margin: 0px auto;
    text-align: center;
    padding-bottom: 20px;
  }

  .close-dialog-corner-button {
    margin: 0;
  }

  .popup-title {
    padding-top: 2em;
  }

  .tabs-wrapper {
    background-color: white;
    min-height: 480px;
  }

  .tabs-content {
    background-color: white;
  }

  .dialog-footer {
    background-color: white;
  }

  sp-tabs>.sp-tabs-selector>button {
    text-transform: none;
    font-weight: 600;
    border-color: white;
    border-style: none;
    border-radius: 5px 5px 0 0;
    width: 42.5%;
  }

  #continue_shopping_btn {
    margin-top: 20px;
  }

  .popup-title {
    // margin-top: 20px;
    height: 7em;
  }

  .dialog-wrapper .dialog.choose-area-dialog .dialog-body h1 {
    font-size: 2.1875em;
    font-weight: 700;
    margin: 0 1em;
  }
}

.dialog.choose-area-dialog.advanced-area-availability > {
  .dialog-body {
    padding: 0;

    > h2 {
      font-size: 1.8em;
      font-weight: 400;
      line-height: 1.4em;
      text-align: center;
      color: #606060;
      padding-top: 0;

      &.is-organization {
        padding-bottom: 0;
      }
    }

    > .bold-alert {
      text-align: center;
      width: 23.126em;
      margin: 1em auto;
      padding: 0.5em;
      color: #ffffff;
      font-weight: bold;
      border-radius: 5px;
      line-height: 1.3em;
      box-sizing: border-box;
    }

    sp-tabs {
      > .sp-tabs-panes > sp-tabs-pane > div {
        border-top: 1px solid #aaaaaa;
        margin-top: -1px;

        > * {
          display: block;
          margin: auto;
          width: 23.125em;
        }

        sp-captcha {
          margin-top: 0.5em;
        }
      }
    }
  }
}

.dialog-wrapper .dialog.choose-area-dialog.advanced-area-availability { 
  .dialog-body {
    height: 45em;
    width: 35em;
    padding: 0;
    overflow: visible;
    display: inline-flex;
    border-radius: 10px;

    &.choose-area-state {
      // will work only in IE
      overflow: auto;

      > .content {
        // will not work in IE but will work on every other normal browser
        overflow: auto;
      }
    }

    #filter-areas-input.placeholder {
      color: #929292;
    }

    h1, h2 {
      padding: 0;
      color: #666666;
    }

    h1 {
      font-weight: 700;
      font-size: 2.1875em;
    }

    h2 {
      font-size: 1em;
      padding: 1em 0;

      &.sub-title-1 {
        margin-top: 10px;
        font-size: 1.2em;
        color: black;
      }
    
    
      &.sub-title-2 {
        font-size: 1.0em;
        color: black;
      }
    }

    button {
      font-weight: 700;
    }
  }
} 
