<div>
	<ng-include src="updateOrderV2Ctrl.currentTab.templateUrl"></ng-include>
	<!-- <div ng-repeat="tab in updateOrderV2Ctrl.tabs">
		<ng-include src="tab.templateUrl" ng-controller="tab.controller" ng-if="tab == updateOrderV2Ctrl.currentTab"></ng-include>
	</div> -->
</div>