<div class="full-credit-card-charge-container">
	<div class="top-section">
		<button class="close-btn no-design" ng-click="creditCardConfirmationDialogCtrl.onClickConfirmButton(false)">
			<img class="clickable"
				src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/close.svg" width="30" height="30"
				role="button" alt="close" />
		</button>
	</div>

	<div class="title">
		<span>{{'confirm_full_credit_card_charge_title' | translate}}</span>
	</div>

	<div class="content"><span>{{'confirm_full_credit_card_charge_content' | translate}}</span></div>

	<div class="buttons">
		<button class="btn-confirm no-design" ng-click="creditCardConfirmationDialogCtrl.onClickConfirmButton(true)"
			aria-label="Yes, Charge Credit Card">{{'confirm_full_credit_card_charge_content_btn_confirm' |
			translate}}</button>
		<button class="btn-back no-design" ng-click="creditCardConfirmationDialogCtrl.onClickConfirmButton(false)"
			aria-label="Go Back">{{'confirm_full_credit_card_charge_content_btn_back' | translate}}</button>
	</div>
</div>