<div class="organization-management">
    <div class="organization-header">
        <h1 class="detail-title" ng-bind="((organizationManagementCtrl.organizationWithObligo ? 'Organization Budget' : 'Organization Management') | translate) + ' - ' + organizationManagementCtrl.organization.name" id="page_title"></h1>
        <div class="buttons" ng-if="organizationManagementCtrl.organizationWithObligo">
            <button type="button" class="export"
                    ng-click="organizationManagementCtrl.exportToExcel()">
                {{'Budget History' | translate}}
            </button>

            <button type="button"
                    ng-disabled="organizationManagementCtrl.form.$invalid"
                    ng-click="organizationManagementCtrl.save()">
                {{'Save Changes' | translate}}
            </button>
        </div>
    </div>

    <div class="organization-budgets" ng-if="organizationManagementCtrl.organizationWithObligo">
        <div>
            <strong>{{::'Remaining Organization Budget' | translate}}:</strong>
            <b>{{organizationManagementCtrl.organization.obligoRemainingSum | currency}}</b>
        </div>
        <div ng-style="{'color': organizationManagementCtrl.form.$invalid ? 'red' : 'inherit'}">
            <strong>{{::'Overall Budget for Users' | translate}}:</strong>
            <b>{{organizationManagementCtrl.obligoAssigned | currency}}</b>
        </div>
    </div>

    <form name="organizationManagementCtrl.form"
          ng-submit="organizationManagementCtrl.save()"
          role="form">

        <h4 flex="50">{{'Users' | translate}}</h4>


        <div class="management-panel">
            <div class="management-panel-part" ng-if="organizationManagementCtrl.organization.isAdminCanManageUsers && organizationManagementCtrl.organization.isAdminsCanUploadCsvFiles">
                <a class="example-link" href="javascript:" csv-example ng-bind="::'download CSV example' | translate"></a>
                <button type="submit" ng-click="organizationManagementCtrl.showUsersUploadDialog('remove')">
                    {{::'Remove users' | translate}} - (CSV)
                </button>
            </div>

            <div class="management-panel-part" ng-if="organizationManagementCtrl.organization.isAdminCanManageUsers && organizationManagementCtrl.organization.isAdminsCanUploadCsvFiles">
                <button type="submit" ng-click="organizationManagementCtrl.showUsersUploadDialog('add')">
                    {{::'Add users' | translate}} - (CSV)
                </button>
            </div>

            <div class="management-panel-part search">
                <button title="{{'Search' | translate}}" type="button" class="no-design icon dark" ng-click="organizationManagementCtrl.searchUser()">
                    <img src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/search_icon.png" alt="{{'search' | translate}}"/>
                </button>
                <input name="search" type="text" placeholder="{{::'Search for a user by phone or email' | translate}}" ng-model="organizationManagementCtrl.search"/>
            </div>
        </div>

        <table width="100%">
            <thead>
            <tr>
                <th>
                    <span>{{::'Id' | translate}}</span>
                </th>
                <th>
                    <span>{{::'Name' | translate}}</span>
                </th>
                <th>
                    <span>{{::'Phone Number' | translate}}</span>
                </th>
                <th>
                    <span>{{::'City' | translate}}</span>
                </th>
                <th>
                    <span>{{::'Email' | translate}}</span>
                </th>
                <th width="7%">
                    <span>{{::'Role' | translate}}</span>
                </th>
                <th ng-if="organizationManagementCtrl.organizationWithObligo">
                    <span>{{::'Remaining Budget' | translate}}</span>
                </th>
                <th>
                    <span>{{::'Associated Branch' | translate}}</span>
                </th>
                <th>
                    <span>{{::'Status' | translate}}</span>
                </th>
                <th ng-if="organizationManagementCtrl.organization.isAdminCanManageUsers"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="user in organizationManagementCtrl.organization.users" ng-show="user.id">
                <td>{{user.id}}</td>
                <td>{{user.firstName + ' ' + user.lastName}}</td>
                <td class="number-direction">{{user.phoneNumber}}</td>
                <td>{{user.city}}</td>
                <td class="number-direction">{{user.email}}</td>
                <td>{{user.roleName | translate}}</td>
                <td ng-if="organizationManagementCtrl.organizationWithObligo">
                    <input
                           type="number"
                           step="0.01"
                           name="obligoUserSum_{{user.id}}"
                           ng-model="user.remainingSum"
                           ng-change="organizationManagementCtrl.setUserValidity(user.id)"
                           ng-disabled="organizationManagementCtrl.organization.organizationTypeId !== $root.ORGANIZATION_TYPES.OBLIGO"/>

                    <span>{{$root.config.retailer.currency}}</span>
                </td>

                <td>
                    <sp-dropdown sp-model="user.branchId" style="min-width: 10em; white-space: nowrap;">
                        <sp-text>
                            {{user.branchId ? organizationManagementCtrl.branchesMap[user.branchId].name : 'Select Branch' | translate}}
                        </sp-text>
                        <sp-option ng-if="user.branchId"sp-value="0" sp-click="organizationManagementCtrl.updateUserBranch(user, 0)" class="remove">
                            {{'Remove selection' | translate}}
                        </sp-option>
                        <sp-option ng-repeat="(index, branch) in organizationManagementCtrl.associatedBranches track by $index"
                                   sp-value="branch.id"
                                   sp-click="organizationManagementCtrl.updateUserBranch(user, branch)">
                            {{branch.name + ' - ' + branch.id}}
                        </sp-option>
                    </sp-dropdown>
                </td>
                <td> {{ organizationManagementCtrl.getUserStatusKeyById(user.emailVerificationStatusId) | translate }}</td>
                <td ng-if="organizationManagementCtrl.organization.isAdminCanManageUsers">
                    <a class="remove-link"
                       ng-if="user.roleId !== $root.ORGANIZATIONS_ROLES.ADMIN"
                       ng-click="organizationManagementCtrl.removeUser(user)"
                       href="javascript:"
                       ng-bind="::'remove user' | translate"></a>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</div>
