.organization-management {
  padding-bottom: 8em;

  > div.organization-header {
    display: flex;
    justify-content: space-between;
    margin: 0.5em 0;

    h1.detail-title {
      max-width: 70%;
    }

    > * {
      display: inline-block;
    }

    > div.buttons {
      & :first-child {
        margin: 0 0.5em;
      }

      button {
        padding: 7px 1em;

        &.export {
          background: none;
          border: 1px solid #4B4C4D;
          color: #4B4C4D;
        }
      }
    }
  }

  > div.organization-budgets {
    padding: 1em;
    border: 1px solid #E1E1E8;
    border-radius: 5px;
    background-color: #F7F7F9;

    > div {
      display: flex;
      justify-content: space-between;
      width: 40%;
      padding: 0.5em;

      > b {
        min-width: 8em;
        padding: 0.7em 1em;
        border: 1px solid #D2D2D2;;
        background-color: rgba(255, 255, 255, 0.3);
      }
    }
  }

  form {
    > div, > button {
      margin: 1em 0;
    }

    a.remove-link {
      color: #a22525;
      &:hover{
        text-decoration:underline;
      }
    }

    a.example-link {
      color: #207d3f;
      font-size: 90%;
      &:hover{
        text-decoration:underline;
      }
    }

    div.management-panel {
      display: block;
      margin: -3.7em 3em 0 3em;
      height: 6em;
  
      div.management-panel-part {
        float: right;
        margin: 0 0.5em 0 0.5em;
        position: relative;

        button {
          padding: 0.5em 1em;
        }

        .example-link {
          position: absolute;
          z-index: 1;
          top: -2em;
          left: auto;
          right: 0;
        }

        &.search {
          margin: 0 2em;
          padding: 0 2.8em 0 0;

          button {
            position: absolute;
            z-index: 1;
            background-color: #353b37;
            left: auto;
            right: 1px;
            border-radius: 0 5px 5px 0;
            height: 2.4em;
            width: 2.8em;
            padding: 7px;
            text-align: center;

            img {
              height: 1.5em;
              width: auto;
            }
          }

          input {
            height: 2.4em;
            width: 20em;
            border-radius: 5px 0 0 5px;
          }
        }
      }

      &.rtl {
        background-color: red;
      }
    }

    > table {
      font-size: 0.8em;
      line-height: 1.4;

      thead {
        border-bottom: 1px solid #E9E9E9;

        th {
          text-align: left;
          padding-bottom: 1em;
        }
      }

      > tbody > tr > td {
        padding: 0.4em;

        &.number-direction {
          direction: ltr;
          text-align: left;
        }

        > input {
          width: 50%;
          color: #4B4C4D;

          &.ng-invalid {
            border: solid 1px red;
          }
        }

        sp-dropdown {
          padding: 0.5em;

          &.open {
            z-index: 99;
          }

          .arrow {
            background-image: url("https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/icon-arrow-open-grey.png");
          }

          .sp-option {

            &.remove {
              color: red;
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}

.rtl .organization-management {
  .number-direction {
    text-align: right;
  }

  form table thead th {
    text-align: right;
  }

  div.management-panel {
    div.management-panel-part {
      float: left;

      .example-link {
        left: 0;
        right: auto;
      }

      &.search {
        padding: 0 0 0 2.8em;

        button {
          left: 1px;
          right: auto;
          border-radius: 5px 0 0 5px;
        }

        input {
          border-radius: 0 5px 5px 0;
        }
      }
    }
  }

}

