<sp-unit-weight product="product" cart-line="getLine()" ng-if="product.productDisplayModeId === $root.PRODUCT_DISPLAY.WEIGHT_AND_UNIT.id && $root.config.retailer.enableSwitchUnitWeight && $root.util.isUnitsWeighable(product)" ng-click="$event.stopPropagation();" product-id="product.id"></sp-unit-weight>
<sp-sale-icon ng-if="!!productSpecials && !!productSpecials.length && !hideSales && $root.config.retailer.settings.isNewPromotionDesignEnabled !== 'true'" product-specials="productSpecials" product="product"></sp-sale-icon>
<img class="product-main-tag-icon" ng-if="product | productMainTag:(boostProductTags || $root.PermanentFilters.values[$root.PermanentFilters.TYPES.PRODUCT_TAGS])"
     ng-src="{{(product | productMainTag:(boostProductTags || $root.PermanentFilters.values[$root.PermanentFilters.TYPES.PRODUCT_TAGS])).languages | name:'iconResourceUrl'}}"
     alt="{{(product | productMainTag:(boostProductTags || $root.PermanentFilters.values[$root.PermanentFilters.TYPES.PRODUCT_TAGS])).languages | name:'displayName'}}"/>
<product-image show-replacement-label="product.showReplacementLabel" product="product" line="getLine()" image-key="images" size="{{size || 'medium'}}" details="true" is-product-out-of-stock="{{ product.branch.isOutOfStock }}"></product-image>
<sp-product-pricing-method is-case="product.isCaseMode" is-pack="isPack" product="product"></sp-product-pricing-method>
<div class="specials-wrapper"
     ng-if="((!hideSales && productSpecials && productSpecials.length ||
     (product | productMainTag:(boostProductTags || $root.PermanentFilters.values[$root.PermanentFilters.TYPES.PRODUCT_TAGS]))) && $root.config.retailer.settings.isNewPromotionDesignEnabled !== 'true')">
    <div class="special" ng-repeat="special in productSpecials | orderBy: '-special.firstLevel.type'">
        <sp-sale-icon product-special="special"></sp-sale-icon>
        <span class="description" special-description-split="{{special.descriptions && special.descriptions[$root.config.language.culture] ? special.descriptions[$root.config.language.culture] : special.description}}"></span>
    </div>
    <div class="main-product-tag-text" ng-if="product | productMainTag:(boostProductTags || $root.PermanentFilters.values[$root.PermanentFilters.TYPES.PRODUCT_TAGS])">
        {{
            ((product | productMainTag:(boostProductTags || $root.PermanentFilters.values[$root.PermanentFilters.TYPES.PRODUCT_TAGS])).languages | name:'description') ||
            ((product | productMainTag:(boostProductTags || $root.PermanentFilters.values[$root.PermanentFilters.TYPES.PRODUCT_TAGS])).languages | name:'displayName')
        }}
    </div>
</div>
<div class="data">
    <span class="brand" ng-if="product.brand.names">{{product.brand.names | name | trustHtml}}</span><!--
    --><span class="weight" ng-if="product.weight">
        {{product.brand.names && product.weight ? '&nbsp;|' : '' }}
        {{product | productWeight:product.isCaseMode }}
    </span>
</div>
<div class="clear"></div>
<div id="{{'product_' + product.id + '_name'}}" class="name" ng-class="{'disabled': product.branch.isOutOfStock == true}" ellipsis aria-label="{{product | productName:product.isCaseMode}}" title="{{product | productName:product.isCaseMode}}"></div>
<div class="description" ellipsis ng-if="showItemDescription" title="{{product.data | name:'description' | removeHtmlTags}}"></div>

<meta itemprop="name" content="{{product | productName:product.isCaseMode}}" />
<meta itemprop="description" ng-if="showItemDescription" content="{{product.data | name:'description' | removeHtmlTags}}" />
<meta itemprop="brand" ng-if="product.brand.names" content="{{product.brand.names | name | trustHtml}}" />

<div class="product-price" ng-class="{'width': getLine().quantity, 'disabled': product.branch.isOutOfStock == true}">
    <span class="for-vertical-align"></span><!--
    --><sp-product-price
        regular-price="product | regularPrice:product.isCaseMode"
        sale-price="!product.isCaseMode && (product | salePrice)"
        show-weight-unit="product.isWeighable && !product.isCaseMode"
        pack-quantity="isPack && product.branch.packQuantity"
        product="product">
    </sp-product-price>
</div><!--
--><sp-cart-line-count line="getLine()" ng-class="{'disabled': product.branch.isOutOfStock == true}"></sp-cart-line-count>
<product-actions ng-if="!product.isOOS"
                 ng-click="$event.stopPropagation();"
                 product="product"
                 line="getLine()"
                 is-case="product.isCaseMode"
                 is-pack="isPack"
                 text="{{text}}"
                 hide-cart="{{hideCart}}"
                 hide-add-button="!!product.productProperties && !!product.productProperties.length"
                 open-product="openProduct(product, $index)"
                 show-replacement-label="product.showReplacementLabel">
</product-actions><!--Should always be the last element in page because of the Firefox accessibility bug-->
<sp-promotion size="size" product="product" ng-if="!hideSales && productSpecials.length && $root.config.retailer.settings.isNewPromotionDesignEnabled === 'true'"></sp-promotion>