$spItemBorderColor: #e5edec;
$recipeBumperReadMoreWrapperPadding: 1em;

sp-items .item.product {
  border: solid $spItemBorderColor;
  border-width: 0 1px 1px 0;
}

.item.product {
  position: relative;
  display: inline-block;
  margin: 0;
  @include box-sizing(border-box);
  @include transition(width 0.4s);
  background-color: #ffffff;
  vertical-align: top;

  sp-product {
    .disabled {
      opacity: 0.35;
      pointer-events: none;
    }

    // must not be used for suggestions
    .out-of-stock:not(.suggestions) {
      position: absolute;
      top: 50%;
      height: 2em;
      line-height: 2em;
      padding: 0 0.4em;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      text-align: center;
      margin-top: -0.75em;
      color: #ffffff;
      font-size: 0.75em;
      white-space: nowrap;
      background-color: #F86B2F;
      width: auto;
      left: 50%;
      transform: translateX(-50%);
    }

    > .image-wrapper {
      text-align: center;
      vertical-align: middle;
      width: 90%;
      height: 63%;
      padding-bottom: 1.5em;
      @include box-sizing(border-box);
      margin-top: 5%;
      margin-right: 5%;
      margin-left: 5%;

      .new-promotion & {
        height: 53%;
      }
    }

    > .sp-sale-icon {
      @include vendor-prefix(transition-delay, 100ms);
      @include opacity(1);
    }

    > .data {
      height: 6%;
      position: relative;
      white-space: nowrap;

      .new-promotion & {
        height: 1em;        
      }

      > * {
        font-size: 0.7em;
        color: #9d9d9d;
        white-space: nowrap;
        height: 1.1em;
      }

      .brand {
        text-overflow: ellipsis;
        overflow: hidden;
        @include box-sizing(border-box);
        display: inline-block;
        vertical-align: top;
        max-width: 70%;
      }

      .weight {
        vertical-align: top;
        display: inline-block;
      }
    }

    > .product-price {
      float: left;
      font-size: 0.825em;
      padding-top: 0.25em;
      height: 2.1em;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding-right: 0.5em;
      padding-left: 0.5em;

      .new-promotion & {
        font-size: 0.8em;
        height: 2.2em;
      }

      &.width {
        max-width: 57%;
      }

      .sp-product-price {
        display: inline-block;
        vertical-align: middle;
      }
    }

    > .sp-cart-line-count {
      float: right;
      max-width: 43%;
    }

    > .name {
      height: 20%;
      padding: 0.3em 0;
      font-size: 0.9em;
      color: #636363;
      vertical-align: top;
      line-height: 1.1em;
      overflow: hidden;
      @include box-sizing(border-box);

      .new-promotion & {
        height: 2.5em;
        @include ellipsis(2);
      }
    }

    > .specials-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      padding: 0.5em 1.5em;
      font-size: 0.875em;
      color: #636367;
      background-color: rgba(255, 255, 255, 0.85);
      border-bottom: 1px solid #e5edec;
      z-index: 1;
      @include transition(0.2s);

      > .special {
        display: flex;
        align-items: center;

        > .sp-sale-icon {
          flex: 0 0 auto;
          position: relative;
          top: 0;
          right: 0;
          left: 0;

          img {
            height: 100%;
            width: 100%;
          }

          > .sale-icon-text {
            font-size: 0.55em;
          }
        }

        > .description {
          width: 77%;
          display: inline-block;
          vertical-align: middle;
          max-height: 2.3em;
          overflow: hidden;
          text-overflow: ellipsis;
          font-size: 0.9em;
          line-height: 1.2;
        }
      }

      > .main-product-tag-text {
        max-height: 2.3em;
        overflow: hidden;
        font-size: 0.9em;
        line-height: 1.2;
      }
    }

    > .data, > .name {
      padding-left: 0.5em;
      padding-right: 0.5em;
    }

    > .actions, > .product-pricing-method  {
      top: 51%;

      .new-promotion & {
        top: 40%;
      }
    }

    > .sp-unit-weight {
      position: absolute;
      z-index: 2;
      top: 25%;
      left: 50%;
      transform: translate(-50%, -25%);
      @include transition(0.2s);
    }

    > .actions {
      position: absolute;
      left: 0;
      width: 100%;
      height: 2.313em;
      @include transition(0.2s);
      text-align: center;

      > button.add-to-cart, > div.sp-quantity {
        white-space: nowrap;
        width: 10.625em;
        height: 100%;
      }

      > * {
        width: 3em;
        vertical-align: middle;
      }
    }

    > .product-pricing-method {
      right: 1em;
      margin-top: -1em - $pricingMethodHeight;
      z-index: 2;

      > button {
        &:first-child {
          border-radius: $pricingMethodButtonsBorderRadius 0 0 0;
        }
        &:last-child {
          border-radius: 0 0 0 $pricingMethodButtonsBorderRadius;
        }
      }
    }

    &.large-product {
      > .image-wrapper {
        vertical-align: top;
        width: 100%;
        height: 66%;
        padding-bottom: 0;
        margin: 0;

        .new-promotion & {
          height: 58%;
        }

        .top-part-opacity {
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 40%;
          z-index: 1;
          background-image: linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,0.4));
        }

        > .image {
          background-size: contain;
          border: 0;
        }
      }

      &.contain-image > .image-wrapper {
        padding: 0.5em;

        .top-part-opacity {
          display: none;
        }

        > .image {
          background-size: contain;
        }
      }

      > .actions {
        top: 48%;
      }

      > .sp-unit-weight {
        top: 35%;
        transform: translate(-50%, -35%);
        font-size: 1.2em;
        > .weight-option,
        > .unit-option {
          min-width: 60px;
        }
      }

      
      > .data{
        height: 4%;
        padding: 0.5em 0.8em 0 0.8em;
        margin-bottom: 2px;

        .new-promotion & {
          padding: 0.5em 1em 0;
          margin-bottom: 0;
        }
      }

      > .name {
        height: 6%;
        padding: 0.1em 0.8em 0 0.8em;
        font-weight: bold;

        .new-promotion & {
          padding: 0.25em 1em;
        }
      }

      > .description {
        height: 8%;
        padding: 0.1em 0.8em 0 0.8em;
        margin-bottom: 0.4em;
        font-size: 0.9em;
        color: #636363;
        vertical-align: top;
        line-height: 1.1em;
        overflow: hidden;
        
        .new-promotion & {
          padding: 0.25em 1em;
          margin-bottom: 0;
        }
      }

      > .product-price {
        padding: 0.7em 0.8em 0 0.8em;

        .new-promotion & {
          padding: 0.5em 1em;
        }
      }

      > .sp-cart-line-count {
        margin: 0.7em 0.8em 0 0.8em;

        .new-promotion & {
          margin: 0.5em 1em;
        }
      }

      .new-promotion & {
        > .sp-promotion {
          width: calc(100% - 1em);
          margin: 0.5em;
        }
      }
    }

    $showOnHoverSelector: '> .actions, > .image-wrapper > div.details, > .specials-wrapper, > .sp-unit-weight';

    #{$showOnHoverSelector} {
      @include vendor-prefix(transition-delay, 100ms);
      opacity: 0;
    }

    &:hover, &.hover-mode {
      #{$showOnHoverSelector} {
        opacity: 1;
      }

      .out-of-stock-tag {
        visibility: hidden;
        transition: 0 0.3s ease-in-out;
      }
      
      // .general-image-wrapper {
      //   visibility: hidden;
      //   transition: 0 0.3s ease-in-out;
      // }

      > .sp-sale-icon {
        display: none;
      }
    }

    .new-promotion & {
      > .sp-promotion {
        margin-top: 2.25em;
      }
    }
  }

  > .product-item {
    width: 100%;
    height: 100%;

    > * {
      display: inline-block;
      vertical-align: top;
      @include box-sizing(border-box);
    }

    > sp-product {
      padding: 1.2em 0.5em;
      width: 100%;
      height: 100%;
      position: relative;

      &.large-product {
        padding: 0;
        border: 1px solid #e5edec;
        width: calc(100% - 1em);
        margin: auto;
        display: block;
      }
    }

    &.bumper {
      > * {
        width: 100%;
        height: 100%;
      }

      &.single-bumper {
        display: flex;
        justify-content: center;
        align-items: initial;
        flex-direction: row;

        background-color: #F5F5F5;
        border: 1px solid #E6EDEC;
        width: calc(100% - 1em - 2px);
        height: calc(100% - 0.5em - 2px);
        margin: auto;
        padding-top: 0.5em !important;

        > .recipe-bumper-image {
          width: calc(50% - 0.5em);
          height: 70%;
          outline: none;
        }

        > .recipe-bumper {
          width: calc(50% - 0.5em);
          height: 70%;
          outline: none;
        }

        > .double-bumper-second {
          height: 70%;
          padding: 0;
          width: calc(100% - 1em);
          display: block;
        }

        > .banner-bumper {
          height: 70%;
          padding: 0;
          width: 100%;
          display: block;

          &.has-link {
            &:hover {
              padding: 0;
              border: none;
            }
          }

        }
      }


      .click-through {
        pointer-events: none;
      }

      > .banner-bumper {
        background-color: #ffffff;
        padding: 20px;
        max-width: 100%;
        max-height: 100%;
        cursor: default;

        &.has-link {
          cursor: pointer;
          &:hover {
            opacity: 0.9;
            padding: 19px;
            border: 1px solid #c2c2c2;
          }
        }

        .image-full-size {
          height: 100%;
          width: 100%;
        }
      }

      > .double-bumper-second {
        position: relative;
        overflow: hidden;
        iframe {
          width: 100%;
          height: 100%;
        }

        .video-left {
          position: absolute;
          top: 0;
          left: 0;
          width: 50%;
          height: 100%;
          text-align: center;

          .for-middle {
            display: inline-block;
            height: 100%;
            width: 0;
            vertical-align: middle;

          }

          .play-icon {
            display: inline-block;
            vertical-align: middle;
            background-color: rgba(255, 255, 255, 0.45);
            border-radius: 100%;
          }
        }

        .video-right {
          position: absolute;
          width: 50%;
          height: 100%;
          top: 0;
          right: 0;

          > div {
            padding: 0.9em 1.3em 0.7em 1.3em;
            height: 100%;
            box-sizing: border-box;
          }

          h4, h5, h6 {
            color: white;
          }

          h6 {
            font-size: 98%;
            font-weight: lighter;
            padding: 0;
          }

          h4 {
            padding-bottom: 0;
            line-height: 1.1em;
            overflow: hidden;
            height: 70%;
          }

          h5 {
            padding-top: 0.4em;
            font-size: 98%;
            font-weight: lighter;
          }
        }

        .image-overlay-wrapper {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          right: 0;

          .image-overlay {
            height: 101%;
            width: 100%;
          }
        }

        .hide {
          opacity: 0;
          transition: opacity 1.8s linear;
        }

        .show {
          opacity: 1;
        }

        .move-right {
          transition: 1s;
          right: -100%;
        }

        .move-left {
          transition: 1s;
          right: 0;
        }
      }

      > .recipe-bumper-image {
        overflow: hidden;
        position: relative;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      > .recipe-bumper {
        $readMoreHeight: 2em;

        position: relative;
        overflow: hidden;
        font-size: 0.96em;

        > * {
          color: #ffffff;

        }

        > div {
          padding: 0.9em 1.3em 0.7em 1.3em;
          height: 100%;
          box-sizing: border-box;
        }
        h4, h5, h6 {
          color: white;
        }
        h6 {
          font-size: 98%;
          font-weight: lighter;
          padding: 0;
        }
        h4 {
          padding-bottom: 0;
          line-height: 1.05em;
          overflow: hidden;
          height: 50%;
        }
        h5 {
          padding-top: 0.4em;
          font-size: 98%;
          font-weight: lighter;
        }

        > .name {
          max-height: 2.1em;
        }

        > .description {
          padding-top: 1em;
          height: 4.1em;
        }

        .read-more-wrapper {
          position: absolute;
          left: $recipeBumperReadMoreWrapperPadding;
          bottom: $recipeBumperReadMoreWrapperPadding*2;
          height: $readMoreHeight;
          width: 100%;
          text-align: left;
          padding: 0;

          > .read-more {
            display: inline-block;
            padding: 0 1em;
            height: 100%;
            background-color: #ffffff;
            @include border-radius(3px);
            font-weight: bold;

            > * {
              display: inline-block;
              vertical-align: middle;
            }
          }
        }
      }
    }
  }
}

.rtl {
  .item.product {
    > .product-item {
      &.bumper {
        > .recipe-bumper {
          .read-more-wrapper {
            left: auto;
            right: $recipeBumperReadMoreWrapperPadding;
            text-align: right;
          }
        }
      }
    }

    sp-product {
      > .product-price {
        float: right;
      }

      > .sp-cart-line-count {
        float: left;
      }

      > .specials-wrapper > .special > .sp-sale-icon {
        margin-right: 0;
        margin-left: 4%;
      }
    }
  }
}
