.product-item {
  sp-product {
    > .is-case {
      > button {
        border-color: $mainColor;
        color: $mainColor;
      }

      &.case > button.case, &.single > button.single {
        background-color: $mainColor;
      }
    }
  }

  &.bumper {

    > .recipe-bumper {
      background-color: $mainColor;

       .read-more-wrapper  .read-more {
        color: $mainColor;
      }
    }

    .video-right {
      background-color: '{{mainColor}}';
    }
  }
}