$dividerColor: #D2D2D3;

@import './animations';

.ebt-payment {
  width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

  .row {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    margin: 10px 0;
  }

  .button {
    &, &:hover {
      background-color: transparent !important;
    }
  }

  & > div {
    padding: 30px;
  }

  &__details {
    flex: .5;
    text-align: left;
    border-right: 1px solid $dividerColor;

    h1 {
      padding: 0;
    }

    .notice {
      padding: 1em 0;
      font-size: 19px;
      color: #BE1625;
    }

    .balance-check {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 14px;
      background-color: #FDF3DA;
      border-radius: 5px;

      .digits {
        display: flex;
        align-items: center;
        color: currentColor;
        font-size: 14px;
        gap: 7px;

        svg {
          width: 30px;
          height: 24px;
        }
      }
      .button {
        color: currentColor;

        &, &:hover {
          background-color: transparent !important;
        }
      }
    }

    .ebt-payments {
      margin: 20px 0;
      &__type {
        padding: 14px;
        margin: 5px 0;

        small {color: #78797a}

        .title {
          color: #BE1625;
        }

        & > div {
          display: flex;
        }

        & > .row {
          justify-content: flex-start;
          & > *:first-child { width: 155px; }

          & > *:nth-child(2) { margin: 0 8px; }
        }

        .amount-to-pay {
          position: relative;

          input {
            padding: 1px 5px;
            border: none;
            border-bottom: 1px solid currentColor;
            border-radius: 0;
            width: 100px;

            &:focus,
            &:focus-visible {
              outline: none !important;
            }
          }

          .ebt-error {
            opacity: 0;
            position: absolute;
            bottom: 0;
            right: 40px;
            font-size: 14px;
            color: red;
            animation: error-fade-in .5s forwards ease-out;
          }
        }
      }
    }

    .row.credit-card-balance {
      margin: 20px 0 40px;
    }

    .button.confirm {
      color: white;
      width: 100%;
      padding: 15px;
    }
  }

  &__summary {
    flex: .5;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-left: 1px solid $dividerColor;

    .calculate-summary {
      h2 {
        font-size: 25px;
        margin: 40px 0;
      }

      width: 100%;
    }
  }
}