.ebt-payment {
  &__details {
    .balance-check {
      color: $headerColor;

      .button {
        border: 1px solid $headerColor;
      }
    }

    .ebt-payments {
      &__type {
        border: 1px solid $headerColor;
        border-radius: 5px;
      }
    }

    .button.confirm {
      background-color: $headerColor !important;
    }
  }
  &__summary {
    .delivery-image {
      background-color: $mainColor;
    }
  }
}