<div class="img-wrapper">
    <a class="img"
       aria-label="{{image.alt || ('Banner link' | translate)}}"
       ng-repeat="image in backgroundImgCtrl.images"
       ng-href="{{image.href}}"
       ng-style="{'background-image': 'url(' + image.url + ')'}"
       ng-click="$root.util.firePromotionEvent(image, 'home page banner');"
       ng-class="{'active': $index === backgroundImgCtrl.active}"
       tabindex="{{$index === backgroundImgCtrl.active ? 0 : -1}}">
    </a>
    <button class="pause-auto-change no-design" ng-click="backgroundImgCtrl.pauseAutoChange();" ng-if="backgroundImgCtrl.images.length > 1">
        <img ng-if="!backgroundImgCtrl.isAutoChangePaused" class="pause-icon" src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/pause.png" alt="{{'Advertising slider delay' | translate}}"/>
        <img ng-if="backgroundImgCtrl.isAutoChangePaused" class="pause-icon" src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/play.png" alt="{{'Play' | translate}}"/>
    </button>
    <div class="choose-image">
        <button class="no-design"
                ng-if="backgroundImgCtrl.images.length > 1"
                ng-repeat="image in backgroundImgCtrl.images"
                ng-class="{'active': $index === backgroundImgCtrl.active}"
                ng-click="backgroundImgCtrl.changeImage($index, true);"
                aria-label="{{('Move to image' | translate) + ' ' + ($index + 1) + ' ' + ('of' | translate)  + ' ' + backgroundImgCtrl.images.length}}">
        </button>
    </div>
</div>