<span class="option-value">
    {{option.value}}
</span>
<span class="option-filter-value">
    <span ng-if="option.filter == 'specials'">
        {{::'in Specials' | translate}}
    </span>
    <span ng-if="option.filter == 'all'">
        {{::'in All Departments' | translate}}
    </span>
    <span ng-if="option.filter !== 'specials' && option.filter !== 'all'">
        {{('in {name} Dep.' | translate).replace('{name}', (option.filter.names | name))}}
    </span>
</span>