.dialog-wrapper .dialog.permanent-view-filters-dialog .dialog-body section .sp-carousel {
  .scroller > .transform-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    height: 18.5em;

    > * {
      flex: 0 0 auto;
      height: auto;
    }

    > ng-include {
      padding: 0;
    }
  }

  .view-filters-group {
    height: 100%;
    padding: 0 1.25em;

    &.border {
      $border: 1px solid #D2D2D3;
      .ltr & {
        border-left: $border;
      }
      .rtl & {
        border-right: $border;
      }
    }

    img, .permanent-filters-icon {
      width: 2.75em;
      height: 2.75em;
    }

    .permanent-filters-icon {
      border-radius: 3em;
      background-color: #505050;
      text-align: center;

      svg {
        width: 50%;
        height: 100%;
        fill: #fff;
      }
    }

    .name {
      padding-top: 0.5em;
      padding-bottom: 0.5em;
      font-weight: bold
    }

    .description {
      font-size: 0.75em;
      padding-bottom: 0.7em;
      color: #78797a;
    }

    .product-tag {
      font-size: 0.875em;
      padding: 0 0.5em;
      border-radius: 5px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 2.25em;
      margin-bottom: 0.1em;

      .ltr & {
        text-align: left;
      }
      .rtl & {
        text-align: right;
      }

      .text {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        flex: 1 1 auto;

        .ltr & {
          padding-right: 0.2em;
        }
        .rtl & {
          padding-left: 0.2em;
        }
      }

      img {
        display: inline-block;
        vertical-align: middle;
        height: 1.6667em;
        max-width: 1.6667em;
      }

      svg {
        height: 1.334em;
        width: 1.334em;
        visibility: hidden;
      }

      &:hover, &:focus {
        background-color: #f2f4f7;

        svg {
          visibility: visible;
          fill: #d2d2d3;
        }
      }

      &.selected {
        background-color: #ede1a4;

        svg {
          visibility: visible;
          fill: #4b4c4d;
        }
      }
    }
  }
}