<div class="product-properties">
    <div class="property-name" ng-class="{'error-text': !productPropertiesCtrl.selectedPropertyValue}" ng-bind="(productPropertiesCtrl.productProperty.names | name) + ': '"></div>
    <div class="dropdown-wrapper">
        <sp-dropdown sp-model="productPropertiesCtrl.selectedPropertyValue" class="transparent-arrow input display-under"
                     ng-class="{'is-empty': !productPropertiesCtrl.selectedPropertyValue}"
                     sp-change="productPropertiesCtrl.onPropertyValueChanged()">
            <sp-text>
                <span ng-if="!productPropertiesCtrl.selectedPropertyValue">{{'Select' | translate}}</span>
                <span ng-if="productPropertiesCtrl.selectedPropertyValue" class="selected-value">{{productPropertiesCtrl.selectedPropertyValue.names | name:'name'}}</span>
            </sp-text>
            <sp-option ng-repeat="value in productPropertiesCtrl.productProperty.values"
                       sp-value="value"
                       sp-selected="value.id === productPropertiesCtrl.item.selectedPropertyValue.id">
                <div class="value-name">{{value.names | name: 'name'}}</div>
                <div class="value-desc">{{value.names | name: 'description'}}</div>
            </sp-option>
        </sp-dropdown>
    </div>
    <div class="error-text" ng-if="productPropertiesCtrl.showPropertyError">
        {{'Please select' | translate}}
    </div>
</div>
