$navigationBarPadding: 1em;

.navigation-bar {
  @include fixed();
  left: 0;
  top: $headerHeight;
  @include box-sizing(border-box);
  height: $navigationBarHeight;
  width: 100%;
  border-bottom: 1px solid #EBEBEB;
  padding: $navigationBarPadding;
  background-color: #ffffff;
  z-index: 3;

  .ltr & {
    padding-right: $sidenavWidth + $navigationBarPadding;
  }
  .rtl & {
    padding-left: $sidenavWidth + $navigationBarPadding;
  }

  html.hub-child & {
    top: $headerHeight + $hubHeaderHeight;
  }

  > * {
    display: inline-block;
    font-size: 1.6em;
    vertical-align: middle;
  }

  > h1 {
    padding: 0;
    color: #000000;
  }

  &:after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 0;
    vertical-align: middle;
  }
}

@media screen and (max-width: 1024px) {
  .navigation-bar {
    .ltr & {
      padding-right: $responsiveSidenavWidth + $navigationBarPadding;
    }
    .rtl & {
      padding-left: $responsiveSidenavWidth + $navigationBarPadding;
    }
  }
}

@media screen and (max-width: 1300px) {
  .navigation-bar {
    top: $headerResponsiveHeight;

    html.hub-child & {
      top: $headerResponsiveHeight + $hubHeaderHeight;
    }
  }
}