<div class="content">
    <form class="filter-areas"
          ng-submit="chooseAreaCtrl.filterAreas.submit(true);">
      
        <h2 class="sub-title-1">{{chooseAreaCtrl.currentAdvancedAreaAvailabilitySettings.deliverySubTitle[chooseAreaCtrl.currentScenario.property] || (chooseAreaCtrl.currentScenario.defaultPopupSubTitleDelivery | translate)}}</h2>

        <div class="input-and-submit">
            <div class="input">
                  <input id="filter-areas-input" style="border:0; border-bottom: 2px solid black;width: 350px; border-radius: unset" type="text" ng-model="chooseAreaCtrl.area" autocomplete="off"
                         aria-label="{{chooseAreaCtrl.getDeliveryInputPlaceholder() | translate | retailerNameReplacement}}"
                       sp-placeholder="{{chooseAreaCtrl.getDeliveryInputPlaceholder() | translate | retailerNameReplacement}}"
                       name="{{$root.config.isZipCodeArea ? 'zipCode' : 'area'}}" required
                       ng-change="chooseAreaCtrl.chooseArea.resetErrors();"/>
                <!-- TODO: check if choose can submit the form instead of copy the "ng-submit" -->
                <sp-autocomplete sp-model="chooseAreaCtrl.area"
                                 sp-get-options="chooseAreaCtrl.filterAreas.autoComplete()"
                                 threshold="0"
                                 sp-choose="chooseAreaCtrl.filterAreas.submit(true);"
                                 hide-if-empty="!chooseAreaCtrl.addressChoices.length">
                </sp-autocomplete>
            </div>
        </div>

        <div class="error-wrapper">
            <div class="server-err-msg"></div>
            <div class="enter-full-address-error error" ng-if="chooseAreaCtrl.filterAreas.enterFullAddressError" role="alert"
                aria-relevant="additions">
                {{'Please add street and house number' | translate}}
            </div>
        
            <div class="invalid-address-error error" ng-if="chooseAreaCtrl.filterAreas.invalidAddressError" role="alert"
                aria-relevant="additions">
                {{'Please enter a valid address' | translate}}
            </div>
        </div>

        <div>
            <button type="submit" class="button-choose check" 
             ng-style="{'background-color': chooseAreaCtrl.bgColor,'color': chooseAreaCtrl.textColor,'transition': 'none'}">
                {{::'Check' | translate}}</button>
        </div>

        <div id="delivery-image">
            <img src="{{chooseAreaCtrl.currentAdvancedAreaAvailabilitySettings.deliveryImage[chooseAreaCtrl.currentScenario.property] 
                        || chooseAreaCtrl.defaultDeliveryImage}}" alt="">
        </div>
    </form>
</div>
