
.advanced-area-availability {

  .check {
    width: 18em;
    margin-top: 1.5em;
  }

  .filter-areas {
    background-color: white;
    min-height: 120px;
  }

  .input-and-submit {
    margin-top: 1em;
  }

  #delivery-image {
    margin-top: 3em;
  }


  #delivery-image > img {
    width: 200px;
  }

  #search-results-image {
    margin-top: 0.7em;
  }

  .results-title {
    margin-top: 10px;
  }

  #search-results-image > img {
    width: 190px;
  }

  .error-wrapper{
    margin-top: 1em;
  }
}

.rtl .dialog-wrapper .dialog.choose-area-dialog .dialog-body > .content > form > button.back {
  text-align: right;
}
