<!-- Filtering by City / default -->
<form sp-form-accessibility class="form userEditCtrl.user-edit-form address-form" name="accountInfoCtrl.addressForm"
    ng-click="accountInfoCtrl.checkForAutocompleteAddress($event)" ng-submit="accountInfoCtrl.saveAddress($event)"
    ng-if="!accountInfoCtrl.enableAddressFiltering || accountInfoCtrl.isAddressFilteringCityMode" novalidate>
    <div class="address-form-field-wrapper">
        <div class="title-wrapper">
            <h1 class="left account-detail-title">
                {{'account_details_form_address_title' | translate}}
            </h1>
            <div class="save-button">
                <button type="submit" id="btn-submit" ng-if="!userEditCtrl.externalLoginSettings.isActive">
                    {{'account_details_form_address_save_btn' | translate}}
                </button>
            </div>
        </div>
        <div class="server-err-msg"></div>
        <div class="input-flex-wrapper w-70">
            <!-- cancel droppin -->
            <div class="w-full cancel-drop-pin-button-wrapper" ng-if="accountInfoCtrl.isDropPinAddress">
                <span>{{ 'address_drop_pin_message_1' | translate }}</span>
                <button type="button" class="no-design cancel-droppin-button"
                    ng-click="accountInfoCtrl.cancelPinnedAddress()">
                    {{ 'address_drop_pin_message_cancel' | translate }}
                </button>
            </div>

            <!-- City -->
            <div class="input-flex-item" ng-if="accountInfoCtrl.addressFormSettings.city.isEnabled && !accountInfoCtrl.isDropPinAddress">
                <label for="city_input" class="input-desc">{{('address_form_field_label_' +
                    accountInfoCtrl.addressFormSettings.city.label) | translate}}
                    {{accountInfoCtrl.addressFormSettings.city.isMandatory ? '*' : ''}}</label>
                <input autocomplete="off" type="text" id="city_input"
                    name="{{'address_form_field_error_' + accountInfoCtrl.addressFormSettings.city.label}}"
                    ng-class="{'input-disable': userEditCtrl.externalLoginSettings.isActive}"
                    ng-required="accountInfoCtrl.addressFormSettings.city.isMandatory"
                    ng-change="accountInfoCtrl.onCityChange()" ng-model="userEditCtrl.user.addresses[0].city"
                    sp-inline-error ng-class="{ 'form-control-error': accountInfoCtrl.formErrorCtrl.city }"
                    ng-blur="accountInfoCtrl.onCityBlur($event)" />
                <sp-autocomplete ng-if="accountInfoCtrl.isAddressVerificationEnabled"
                    sp-model="userEditCtrl.user.addresses[0].city"
                    sp-choose="accountInfoCtrl.onAutoCompleteCityChosen($event)"
                    sp-get-options="accountInfoCtrl.getCityAutoCompleteOptions()" sp-value="option.name">
                </sp-autocomplete>
            </div>

            <!-- City for drop pin -->
            <div class="input-flex-item" ng-if="accountInfoCtrl.addressFormSettings.city.isEnabled && accountInfoCtrl.isDropPinAddress">
                <label for="city_input" class="input-desc">{{('address_form_field_label_' +
                    accountInfoCtrl.addressFormSettings.city.label) | translate}}
                    {{accountInfoCtrl.addressFormSettings.city.isMandatory ? '*' : ''}}</label>
                <input autocomplete="off" type="text" id="city_input"
                    name="{{'address_form_field_error_' + accountInfoCtrl.addressFormSettings.city.label}}"
                    ng-required="accountInfoCtrl.addressFormSettings.city.isMandatory"
                    ng-disabled="accountInfoCtrl.droppinDisableFields.city"
                    ng-blur="accountInfoCtrl.onDroppinAddressFieldBlur()" ng-model="userEditCtrl.user.addresses[0].city"
                    class="input-with-edit-icon"
                    sp-inline-error ng-class="{ 'form-control-error': accountInfoCtrl.formErrorCtrl.city }" />
                <div ng-click="accountInfoCtrl.editDroppinAddressField('#city_input', 'city')" class="btn-edit-address">
                    <svg focusable="false" width="24" height="24">
                        <use xlink:href="#sp-icons-black-edit"></use>
                    </svg>
                    <span class="btn-edit-address__tooltip">{{ 'Edit' | translate }}</span>
                </div>
            </div>

            <!-- Address -->
            <div class="input-flex-item" ng-if="accountInfoCtrl.isShowAddressField() && !accountInfoCtrl.isDropPinAddress">
                <label for="text1" class="input-desc">{{('address_form_field_label_' +
                    accountInfoCtrl.addressFormSettings.address.label) | translate}}
                    {{accountInfoCtrl.addressFormSettings.address.isMandatory ? '*' : ''}}</label>
                <input autocomplete="off" type="text" id="text1" ng-keydown="accountInfoCtrl.onAddressInputKeyDown()"
                    name="{{'address_form_field_error_' + accountInfoCtrl.addressFormSettings.address.label}}"
                    ng-class="{'input-disable': userEditCtrl.externalLoginSettings.isActive}"
                    ng-model="userEditCtrl.user.addresses[0].text1" sp-inline-error
                    ng-disabled="accountInfoCtrl.isDisableAddressField($root.FILTER_ADDRESS_MODE.CITY)"
                    ng-required="accountInfoCtrl.addressFormSettings.address.isMandatory"
                    ng-change="accountInfoCtrl.onAddressChange()" ng-blur="accountInfoCtrl.onAddressBlur($event)" />
                <sp-autocomplete
                    ng-if="accountInfoCtrl.isAddressVerificationEnabled && !accountInfoCtrl.isGoogleMapDropPinAllow"
                    sp-model="userEditCtrl.user.addresses[0].text1" sp-choose="accountInfoCtrl.onAddressChosen($event)"
                    sp-get-options="accountInfoCtrl.getAddressAutoCompleteOptions()" sp-value="option.name">
                </sp-autocomplete>
                <sp-autocomplete-address-and-map
                    ng-if="accountInfoCtrl.isAddressVerificationEnabled && accountInfoCtrl.isGoogleMapDropPinAllow"
                    hide-if-empty="true" sp-value="option.name" sp-model="userEditCtrl.user.addresses[0].text1"
                    sp-choose="accountInfoCtrl.onAddressChosen($event)"
                    sp-get-options="accountInfoCtrl.getAddressAutoCompleteOptions()"
                    sp-open-google-map="accountInfoCtrl.openGoogleMapDialog()">
                </sp-autocomplete-address-and-map>
            </div>

            <!-- Address for drop pin -->
            <div class="input-flex-item"
                ng-if="accountInfoCtrl.isShowAddressField() && accountInfoCtrl.isDropPinAddress">
                <label for="text1" class="input-desc">{{('address_form_field_label_' +
                    accountInfoCtrl.addressFormSettings.address.label) | translate}}
                    {{accountInfoCtrl.addressFormSettings.address.isMandatory ? '*' : ''}}</label>
                <input autocomplete="off" type="text" id="text1"
                    name="{{'address_form_field_error_' + accountInfoCtrl.addressFormSettings.address.label}}"
                    ng-model="userEditCtrl.user.addresses[0].text1" sp-inline-error
                    ng-disabled="accountInfoCtrl.droppinDisableFields.text1"
                    ng-required="accountInfoCtrl.addressFormSettings.address.isMandatory"
                    class="input-with-edit-icon"
                    ng-blur="accountInfoCtrl.onDroppinAddressFieldBlur()" />
                <div ng-click="accountInfoCtrl.editDroppinAddressField('#text1', 'text1')" class="btn-edit-address">
                    <svg focusable="false" width="24" height="24">
                        <use xlink:href="#sp-icons-black-edit"></use>
                    </svg>
                    <span class="btn-edit-address__tooltip">{{ 'Edit' | translate }}</span>
                </div>
            </div>

            <!-- placeholder purpose -->
            <div class="input-flex-item" ng-if="accountInfoCtrl.isShowStreetAndHouseNumberFields()"></div>
            
            <!-- Street -->
            <div class="input-flex-item" ng-if="accountInfoCtrl.isShowStreetAndHouseNumberFields()">
                <label for="street" class="label">{{'Street' | translate}} *</label>
                <input class="content" id="street" type="text" name="street" autocomplete="off"
                    ng-model="userEditCtrl.user.addresses[0].street" required sp-inline-error />
            </div>
            <!-- House Number -->
            <div class="input-flex-item" ng-if="accountInfoCtrl.isShowStreetAndHouseNumberFields()">
                <label for="house_num_input" class="label second">{{'House Number' | translate}} *</label>
                <input class="content" id="house_num_input" type="number" name="houseNum" min="1"
                    ng-model="userEditCtrl.user.addresses[0].houseNumber" required sp-inline-error />
            </div>

            <!-- Zip code -->
            <div class="input-flex-item" ng-if="accountInfoCtrl.addressFormSettings.zipCode.isEnabled && !accountInfoCtrl.isDropPinAddress">
                <label for="zip_input" class="input-desc">{{('address_form_field_label_' +
                    accountInfoCtrl.addressFormSettings.zipCode.label) |
                    translate}} {{accountInfoCtrl.addressFormSettings.zipCode.isMandatory ? '*' : ''}}</label>
                <input autocomplete="off" type="text" id="zip_input"
                    ng-disabled="accountInfoCtrl.isDisabledZipCodeField" ng-change="accountInfoCtrl.onZipCodeChange()"
                    ng-class="{'input-disable': userEditCtrl.externalLoginSettings.isActive}"
                    ng-attr-maxlength="{{accountInfoCtrl.zipCodeLimitLength}}"
                    ng-blur="accountInfoCtrl.onZipCodeBlur();"
                    ng-required="accountInfoCtrl.addressFormSettings.zipCode.isMandatory"
                    name="{{'address_form_field_error_' + accountInfoCtrl.addressFormSettings.zipCode.label}}"
                    ng-model="userEditCtrl.user.addresses[0].zipCode" sp-inline-error />
            </div>

            <!-- Zip code for drop pin -->
            <div class="input-flex-item"
                ng-if="accountInfoCtrl.addressFormSettings.zipCode.isEnabled && accountInfoCtrl.isDropPinAddress">
                <label for="zip_input" class="input-desc">{{('address_form_field_label_' +
                    accountInfoCtrl.addressFormSettings.zipCode.label) |
                    translate}} {{accountInfoCtrl.addressFormSettings.zipCode.isMandatory ? '*' : ''}}</label>
                <div class="zip-code-input-wrapper">
                    <input autocomplete="off" type="text" id="zip_input"
                        ng-disabled="accountInfoCtrl.droppinDisableFields.zipCode"
                        class="input-with-edit-icon"
                        ng-attr-maxlength="{{accountInfoCtrl.zipCodeLimitLength}}"
                        ng-blur="accountInfoCtrl.onDroppinAddressFieldBlur()"
                        ng-required="accountInfoCtrl.addressFormSettings.zipCode.isMandatory"
                        name="{{'address_form_field_error_' + accountInfoCtrl.addressFormSettings.zipCode.label}}"
                        ng-model="userEditCtrl.user.addresses[0].zipCode" sp-inline-error />
                </div>
                <div ng-click="accountInfoCtrl.editDroppinAddressField('#zip_input', 'zipCode')"
                    class="btn-edit-address">
                    <svg focusable="false" width="24" height="24">
                        <use xlink:href="#sp-icons-black-edit"></use>
                    </svg>
                    <span class="btn-edit-address__tooltip">{{ 'Edit' | translate }}</span>
                </div>
            </div>

            <!-- Entrance -->
            <div class="input-flex-item" ng-if="accountInfoCtrl.addressFormSettings.entrance.isEnabled">
                <label for="entry1" class="input-desc">{{('address_form_field_label_' +
                    accountInfoCtrl.addressFormSettings.entrance.label)
                    | translate}} {{accountInfoCtrl.addressFormSettings.entrance.isMandatory ? '*' : ''}}</label>
                <input autocomplete="off" id="entry1" type="text"
                    name="{{'address_form_field_error_' + accountInfoCtrl.addressFormSettings.entrance.label}}"
                    ng-class="{'input-disable': userEditCtrl.externalLoginSettings.isActive}"
                    ng-model="userEditCtrl.user.addresses[0].entry" sp-inline-error
                    ng-required="accountInfoCtrl.addressFormSettings.entrance.isMandatory" />
            </div>
            <!-- Apartment Number -->
            <div class="input-flex-item" ng-if="accountInfoCtrl.addressFormSettings.apartment.isEnabled">
                <label for="apartment_input" class="input-desc">{{('address_form_field_label_' +
                    accountInfoCtrl.addressFormSettings.apartment.label)
                    | translate}} {{accountInfoCtrl.addressFormSettings.apartment.isMandatory ? '*' : ''}}</label>
                <input autocomplete="off" type="text" id="apartment_input"
                    ng-class="{'input-disable': userEditCtrl.externalLoginSettings.isActive}"
                    ng-required="accountInfoCtrl.addressFormSettings.apartment.isMandatory"
                    name="{{'address_form_field_error_' + accountInfoCtrl.addressFormSettings.apartment.label}}"
                    ng-model="userEditCtrl.user.addresses[0].apartment" sp-inline-error />
            </div>

            <!-- Building Code -->
            <div class="input-flex-item" ng-if="accountInfoCtrl.addressFormSettings.buildingCode.isEnabled">
                <label for="buildingCode_input" class="input-desc">{{('address_form_field_label_' +
                    accountInfoCtrl.addressFormSettings.buildingCode.label)
                    | translate}} {{accountInfoCtrl.addressFormSettings.buildingCode.isMandatory ? '*' : ''}}</label>
                <input autocomplete="off" type="text" id="buildingCode_input"
                    ng-required="accountInfoCtrl.addressFormSettings.buildingCode.isMandatory"
                    ng-class="{'input-disable': userEditCtrl.externalLoginSettings.isActive}"
                    name="{{'address_form_field_error_' + accountInfoCtrl.addressFormSettings.buildingCode.label}}"
                    ng-model="userEditCtrl.user.addresses[0].buildingCode" sp-inline-error maxlength="255" />
            </div>

            <!-- State -->
            <div class="input-flex-item" ng-if="accountInfoCtrl.addressFormSettings.state.isEnabled && !accountInfoCtrl.isDropPinAddress">
                <label for="state_input" class="input-desc">{{('address_form_field_label_' +
                    accountInfoCtrl.addressFormSettings.state.label)
                    | translate}} {{accountInfoCtrl.addressFormSettings.state.isMandatory ? '*' : ''}}</label>
                <input autocomplete="off" type="text" id="state_input"
                    ng-class="{'input-disable': userEditCtrl.externalLoginSettings.isActive}"
                    ng-required="accountInfoCtrl.addressFormSettings.state.isMandatory"
                    name="{{'address_form_field_error_' + accountInfoCtrl.addressFormSettings.state.label}}"
                    ng-model="userEditCtrl.user.addresses[0].state" sp-inline-error maxlength="255" />
            </div>

            <!-- state for drop pin -->
            <div class="input-flex-item"
                ng-if="accountInfoCtrl.addressFormSettings.state.isEnabled && accountInfoCtrl.isDropPinAddress">
                <label for="state_input" class="input-desc">{{('address_form_field_label_' +
                    accountInfoCtrl.addressFormSettings.state.label)
                    | translate}} {{accountInfoCtrl.addressFormSettings.state.isMandatory ? '*' : ''}}</label>
                <input autocomplete="off" type="text" id="state_input"
                    ng-disabled="accountInfoCtrl.droppinDisableFields.state"
                    class="input-with-edit-icon"
                    ng-blur="accountInfoCtrl.onDroppinAddressFieldBlur()"
                    ng-required="accountInfoCtrl.addressFormSettings.state.isMandatory"
                    name="{{'address_form_field_error_' + accountInfoCtrl.addressFormSettings.state.label}}"
                    ng-model="userEditCtrl.user.addresses[0].state" sp-inline-error maxlength="255" />
                <div ng-click="accountInfoCtrl.editDroppinAddressField('#state_input', 'state')"
                    class="btn-edit-address">
                    <svg focusable="false" width="24" height="24">
                        <use xlink:href="#sp-icons-black-edit"></use>
                    </svg>
                    <span class="btn-edit-address__tooltip">{{ 'Edit' | translate }}</span>
                </div>
            </div>

            <!-- More details -->
            <div class="input-flex-item w-full" ng-if="accountInfoCtrl.addressFormSettings.comments.isEnabled">
                <label for="comments" class="input-desc">{{('address_form_field_label_' +
                    accountInfoCtrl.addressFormSettings.comments.label)
                    | translate}} {{accountInfoCtrl.addressFormSettings.comments.isMandatory ? '*' : ''}}</label>
                <textarea id="comments" type="text" rows="3"
                    name="{{'address_form_field_error_' + accountInfoCtrl.addressFormSettings.comments.label}}"
                    ng-class="{'input-disable': userEditCtrl.externalLoginSettings.isActive}"
                    ng-required="accountInfoCtrl.addressFormSettings.comments.isMandatory"
                    ng-model="userEditCtrl.user.addresses[0].text2" sp-inline-error></textarea>
            </div>
        </div>
    </div>
</form>

<!-- Filtering by Zip code -->
<form sp-form-accessibility class="form userEditCtrl.user-edit-form address-form" name="accountInfoCtrl.addressForm"
    ng-click="accountInfoCtrl.checkForAutocompleteAddress($event)" ng-submit="accountInfoCtrl.saveAddress($event)"
    ng-if="accountInfoCtrl.isAddressFilteringZipCodeMode" novalidate>
    <div class="address-form-field-wrapper">
        <div class="title-wrapper">
            <h1 class="left account-detail-title">
                {{'account_details_form_address_title' | translate}}
            </h1>
            <div class="save-button">
                <button type="submit" id="btn-submit" ng-if="!userEditCtrl.externalLoginSettings.isActive">
                    {{'account_details_form_address_save_btn' | translate}}
                </button>
            </div>
        </div>
        <div class="server-err-msg"></div>
        <div class="input-flex-wrapper w-70">
            <!-- cancel droppin -->
            <div class="w-full cancel-drop-pin-button-wrapper" ng-if="accountInfoCtrl.isDropPinAddress">
                <span>{{ 'address_drop_pin_message_1' | translate }}</span>
                <button type="button" class="no-design cancel-droppin-button"
                    ng-click="accountInfoCtrl.cancelPinnedAddress()">
                    {{ 'address_drop_pin_message_cancel' | translate }}
                </button>
            </div>

            <!-- Zip code -->
            <div class="input-flex-item"
                ng-if="accountInfoCtrl.addressFormSettings.zipCode.isEnabled && !accountInfoCtrl.isDropPinAddress">
                <label for="zip_input" class="input-desc">{{('address_form_field_label_' +
                    accountInfoCtrl.addressFormSettings.zipCode.label) |
                    translate}} {{accountInfoCtrl.addressFormSettings.zipCode.isMandatory ? '*' : ''}}</label>
                <div class="zip-code-input-wrapper">
                    <input autocomplete="off" type="text" id="zip_input"
                        ng-class="{'input-disable': userEditCtrl.externalLoginSettings.isActive}"
                        ng-attr-maxlength="{{accountInfoCtrl.zipCodeLimitLength}}"
                        ng-disabled="accountInfoCtrl.isDisabledZipCodeField"
                        ng-change="accountInfoCtrl.onZipCodeChange()" ng-blur="accountInfoCtrl.onZipCodeBlur();"
                        ng-required="accountInfoCtrl.addressFormSettings.zipCode.isMandatory"
                        name="{{'address_form_field_error_' + accountInfoCtrl.addressFormSettings.zipCode.label}}"
                        ng-model="userEditCtrl.user.addresses[0].zipCode" sp-inline-error />
                    <span focusable="false" class="valid-input-icon"
                        ng-show="accountInfoCtrl.isZipCodeValid && userEditCtrl.user.addresses[0].zipCode.length">&#10003;</span>
                </div>
            </div>

            <!-- Zip code for drop pin -->
            <div class="input-flex-item"
                ng-if="accountInfoCtrl.addressFormSettings.zipCode.isEnabled && accountInfoCtrl.isDropPinAddress">
                <label for="zip_input" class="input-desc">{{('address_form_field_label_' +
                    accountInfoCtrl.addressFormSettings.zipCode.label) |
                    translate}} {{accountInfoCtrl.addressFormSettings.zipCode.isMandatory ? '*' : ''}}</label>
                <div class="zip-code-input-wrapper">
                    <input autocomplete="off" type="text" id="zip_input"
                        ng-disabled="accountInfoCtrl.droppinDisableFields.zipCode"
                        class="input-with-edit-icon"
                        ng-attr-maxlength="{{accountInfoCtrl.zipCodeLimitLength}}"
                        ng-blur="accountInfoCtrl.onDroppinAddressFieldBlur()"
                        ng-required="accountInfoCtrl.addressFormSettings.zipCode.isMandatory"
                        name="{{'address_form_field_error_' + accountInfoCtrl.addressFormSettings.zipCode.label}}"
                        ng-model="userEditCtrl.user.addresses[0].zipCode" sp-inline-error />
                </div>
                <div ng-click="accountInfoCtrl.editDroppinAddressField('#zip_input', 'zipCode')"
                    class="btn-edit-address">
                    <svg focusable="false" width="24" height="24">
                        <use xlink:href="#sp-icons-black-edit"></use>
                    </svg>
                    <span class="btn-edit-address__tooltip">{{ 'Edit' | translate }}</span>
                </div>
            </div>

            <!-- Address -->
            <div class="input-flex-item"
                ng-if="accountInfoCtrl.isShowAddressField() && !accountInfoCtrl.isDropPinAddress">
                <label for="text1" class="input-desc">{{('address_form_field_label_' +
                    accountInfoCtrl.addressFormSettings.address.label) | translate}}
                    {{accountInfoCtrl.addressFormSettings.address.isMandatory ? '*' : ''}}</label>
                <input autocomplete="off" type="text" id="text1" ng-keydown="accountInfoCtrl.onAddressInputKeyDown()"
                    name="{{'address_form_field_error_' + accountInfoCtrl.addressFormSettings.address.label}}"
                    ng-class="{'input-disable': userEditCtrl.externalLoginSettings.isActive}"
                    ng-model="userEditCtrl.user.addresses[0].text1" sp-inline-error
                    ng-disabled="accountInfoCtrl.isDisableAddressField($root.FILTER_ADDRESS_MODE.ZIP_CODE)"
                    ng-required="accountInfoCtrl.addressFormSettings.address.isMandatory"
                    ng-change="accountInfoCtrl.onAddressChange()" ng-blur="accountInfoCtrl.onAddressBlur($event)" />
                <sp-autocomplete
                    ng-if="accountInfoCtrl.isAddressVerificationEnabled && !accountInfoCtrl.isGoogleMapDropPinAllow"
                    sp-model="userEditCtrl.user.addresses[0].text1" sp-choose="accountInfoCtrl.onAddressChosen($event)"
                    sp-get-options="accountInfoCtrl.getAddressAutoCompleteOptions()" sp-value="option.name">
                </sp-autocomplete>
                <sp-autocomplete-address-and-map
                    ng-if="accountInfoCtrl.isAddressVerificationEnabled && accountInfoCtrl.isGoogleMapDropPinAllow"
                    hide-if-empty="true" sp-value="option.name" sp-model="userEditCtrl.user.addresses[0].text1"
                    sp-choose="accountInfoCtrl.onAddressChosen($event)"
                    sp-get-options="accountInfoCtrl.getAddressAutoCompleteOptions()"
                    sp-open-google-map="accountInfoCtrl.openGoogleMapDialog()">
                </sp-autocomplete-address-and-map>
            </div>

            <!-- Address for drop pin -->
            <div class="input-flex-item"
                ng-if="accountInfoCtrl.isShowAddressField() && accountInfoCtrl.isDropPinAddress">
                <label for="text1" class="input-desc">{{('address_form_field_label_' +
                    accountInfoCtrl.addressFormSettings.address.label) | translate}}
                    {{accountInfoCtrl.addressFormSettings.address.isMandatory ? '*' : ''}}</label>
                <input autocomplete="off" type="text" id="text1"
                    name="{{'address_form_field_error_' + accountInfoCtrl.addressFormSettings.address.label}}"
                    ng-model="userEditCtrl.user.addresses[0].text1" sp-inline-error
                    ng-disabled="accountInfoCtrl.droppinDisableFields.text1"
                    class="input-with-edit-icon"
                    ng-required="accountInfoCtrl.addressFormSettings.address.isMandatory"
                    ng-blur="accountInfoCtrl.onDroppinAddressFieldBlur()" />
                <div ng-click="accountInfoCtrl.editDroppinAddressField('#text1', 'text1')" class="btn-edit-address">
                    <svg focusable="false" width="24" height="24">
                        <use xlink:href="#sp-icons-black-edit"></use>
                    </svg>
                    <span class="btn-edit-address__tooltip">{{ 'Edit' | translate }}</span>
                </div>
            </div>

            <!-- placeholder purpose -->
            <div class="input-flex-item" ng-if="accountInfoCtrl.isShowStreetAndHouseNumberFields()"></div>

            <!-- Street -->
            <div class="input-flex-item" ng-if="accountInfoCtrl.isShowStreetAndHouseNumberFields()">
                <label for="street" class="label">{{'Street' | translate}} *</label>
                <input class="content" id="street" type="text" name="street" autocomplete="off"
                    ng-model="userEditCtrl.user.addresses[0].street" required sp-inline-error />
            </div>
            <!-- House Number -->
            <div class="input-flex-item" ng-if="accountInfoCtrl.isShowStreetAndHouseNumberFields()">
                <label for="house_num_input" class="label second">{{'House Number' | translate}} *</label>
                <input class="content" id="house_num_input" type="number" name="houseNum" min="1"
                    ng-model="userEditCtrl.user.addresses[0].houseNumber" required sp-inline-error />
            </div>

            <!-- Apartment Number -->
            <div class="input-flex-item" ng-if="accountInfoCtrl.addressFormSettings.apartment.isEnabled">
                <label for="apartment_input" class="input-desc">{{('address_form_field_label_' +
                    accountInfoCtrl.addressFormSettings.apartment.label)
                    | translate}} {{accountInfoCtrl.addressFormSettings.apartment.isMandatory ? '*' : ''}}</label>
                <input autocomplete="off" type="text" id="apartment_input"
                    ng-class="{'input-disable': userEditCtrl.externalLoginSettings.isActive}"
                    ng-required="accountInfoCtrl.addressFormSettings.apartment.isMandatory"
                    name="{{'address_form_field_error_' + accountInfoCtrl.addressFormSettings.apartment.label}}"
                    ng-model="userEditCtrl.user.addresses[0].apartment" sp-inline-error />
            </div>

            <!-- City -->
            <div class="input-flex-item" ng-if="accountInfoCtrl.addressFormSettings.city.isEnabled && !accountInfoCtrl.isDropPinAddress">
                <label for="city_input" class="input-desc">{{('address_form_field_label_' +
                    accountInfoCtrl.addressFormSettings.city.label) | translate}}
                    {{accountInfoCtrl.addressFormSettings.city.isMandatory ? '*' : ''}}</label>
                <input autocomplete="off" type="text" id="city_input"
                    name="{{'address_form_field_error_' + accountInfoCtrl.addressFormSettings.city.label}}"
                    ng-class="{'input-disable': userEditCtrl.externalLoginSettings.isActive}"
                    ng-required="accountInfoCtrl.addressFormSettings.city.isMandatory"
                    ng-change="accountInfoCtrl.onCityChange()" ng-model="userEditCtrl.user.addresses[0].city"
                    sp-inline-error ng-class="{ 'form-control-error': accountInfoCtrl.formErrorCtrl.city }"
                    ng-blur="accountInfoCtrl.onCityBlur($event)" />
                <sp-autocomplete ng-if="accountInfoCtrl.isAddressVerificationEnabled"
                    sp-model="userEditCtrl.user.addresses[0].city"
                    sp-choose="accountInfoCtrl.onAutoCompleteCityChosen($event)"
                    sp-get-options="accountInfoCtrl.getCityAutoCompleteOptions()" sp-value="option.name">
                </sp-autocomplete>
            </div>

            <!-- City for drop pin -->
            <div class="input-flex-item" ng-if="accountInfoCtrl.addressFormSettings.city.isEnabled && accountInfoCtrl.isDropPinAddress">
                <label for="city_input" class="input-desc">{{('address_form_field_label_' +
                    accountInfoCtrl.addressFormSettings.city.label) | translate}}
                    {{accountInfoCtrl.addressFormSettings.city.isMandatory ? '*' : ''}}</label>
                <input autocomplete="off" type="text" id="city_input"
                    name="{{'address_form_field_error_' + accountInfoCtrl.addressFormSettings.city.label}}"
                    ng-required="accountInfoCtrl.addressFormSettings.city.isMandatory"
                    class="input-with-edit-icon"
                    ng-disabled="accountInfoCtrl.droppinDisableFields.city"
                    ng-blur="accountInfoCtrl.onDroppinAddressFieldBlur()" ng-model="userEditCtrl.user.addresses[0].city"
                    sp-inline-error ng-class="{ 'form-control-error': accountInfoCtrl.formErrorCtrl.city }" />
                <div ng-click="accountInfoCtrl.editDroppinAddressField('#city_input', 'city')" class="btn-edit-address">
                    <svg focusable="false" width="24" height="24">
                        <use xlink:href="#sp-icons-black-edit"></use>
                    </svg>
                    <span class="btn-edit-address__tooltip">{{ 'Edit' | translate }}</span>
                </div>
            </div>

            <!-- State -->
            <div class="input-flex-item"
                ng-if="accountInfoCtrl.addressFormSettings.state.isEnabled && !accountInfoCtrl.isDropPinAddress">
                <label for="state_input" class="input-desc">{{('address_form_field_label_' +
                    accountInfoCtrl.addressFormSettings.state.label)
                    | translate}} {{accountInfoCtrl.addressFormSettings.state.isMandatory ? '*' : ''}}</label>
                <input autocomplete="off" type="text" id="state_input"
                    ng-class="{'input-disable': userEditCtrl.externalLoginSettings.isActive}"
                    ng-required="accountInfoCtrl.addressFormSettings.state.isMandatory"
                    name="{{'address_form_field_error_' + accountInfoCtrl.addressFormSettings.state.label}}"
                    ng-model="userEditCtrl.user.addresses[0].state" sp-inline-error maxlength="255" />
            </div>

            <!-- state for drop pin -->
            <div class="input-flex-item"
                ng-if="accountInfoCtrl.addressFormSettings.state.isEnabled && accountInfoCtrl.isDropPinAddress">
                <label for="state_input" class="input-desc">{{('address_form_field_label_' +
                    accountInfoCtrl.addressFormSettings.state.label)
                    | translate}} {{accountInfoCtrl.addressFormSettings.state.isMandatory ? '*' : ''}}</label>
                <input autocomplete="off" type="text" id="state_input"
                    ng-disabled="accountInfoCtrl.droppinDisableFields.state"
                    class="input-with-edit-icon"
                    ng-blur="accountInfoCtrl.onDroppinAddressFieldBlur()"
                    ng-required="accountInfoCtrl.addressFormSettings.state.isMandatory"
                    name="{{'address_form_field_error_' + accountInfoCtrl.addressFormSettings.state.label}}"
                    ng-model="userEditCtrl.user.addresses[0].state" sp-inline-error maxlength="255" />
                <div ng-click="accountInfoCtrl.editDroppinAddressField('#state_input', 'state')"
                    class="btn-edit-address">
                    <svg focusable="false" width="24" height="24">
                        <use xlink:href="#sp-icons-black-edit"></use>
                    </svg>
                    <span class="btn-edit-address__tooltip">{{ 'Edit' | translate }}</span>
                </div>
            </div>

            <!-- More details -->
            <div class="input-flex-item w-full" ng-if="accountInfoCtrl.addressFormSettings.comments.isEnabled">
                <label for="comments" class="input-desc">{{('address_form_field_label_' +
                    accountInfoCtrl.addressFormSettings.comments.label)
                    | translate}} {{accountInfoCtrl.addressFormSettings.comments.isMandatory ? '*' : ''}}</label>
                <textarea id="comments" rows="3"
                    name="{{'address_form_field_error_' + accountInfoCtrl.addressFormSettings.comments.label}}"
                    ng-class="{'input-disable': userEditCtrl.externalLoginSettings.isActive}"
                    ng-required="accountInfoCtrl.addressFormSettings.comments.isMandatory"
                    ng-model="userEditCtrl.user.addresses[0].text2" sp-inline-error></textarea>
            </div>

            <!-- Entrance -->
            <div class="input-flex-item" ng-if="accountInfoCtrl.addressFormSettings.entrance.isEnabled">
                <label for="entry1" class="input-desc">{{('address_form_field_label_' +
                    accountInfoCtrl.addressFormSettings.entrance.label)
                    | translate}} {{accountInfoCtrl.addressFormSettings.entrance.isMandatory ? '*' : ''}}</label>
                <input autocomplete="off" id="entry1" type="text"
                    name="{{'address_form_field_error_' + accountInfoCtrl.addressFormSettings.entrance.label}}"
                    ng-class="{'input-disable': userEditCtrl.externalLoginSettings.isActive}"
                    ng-model="userEditCtrl.user.addresses[0].entry" sp-inline-error
                    ng-required="accountInfoCtrl.addressFormSettings.entrance.isMandatory" />
            </div>

            <!-- Building Code -->
            <div class="input-flex-item" ng-if="accountInfoCtrl.addressFormSettings.buildingCode.isEnabled">
                <label for="buildingCode_input" class="input-desc">{{('address_form_field_label_' +
                    accountInfoCtrl.addressFormSettings.buildingCode.label)
                    | translate}} {{accountInfoCtrl.addressFormSettings.buildingCode.isMandatory ? '*' : ''}}</label>
                <input autocomplete="off" type="text" id="buildingCode_input"
                    ng-class="{'input-disable': userEditCtrl.externalLoginSettings.isActive}"
                    ng-required="accountInfoCtrl.addressFormSettings.buildingCode.isMandatory"
                    name="{{'address_form_field_error_' + accountInfoCtrl.addressFormSettings.buildingCode.label}}"
                    ng-model="userEditCtrl.user.addresses[0].buildingCode" sp-inline-error maxlength="255" />
            </div>
        </div>
    </div>
</form>