<!-- Personal Details Form -->
<div ng-include="'template/views/user-edit/account-info/partials/personal-details-section.html'">
</div>
<hr>
<!-- Address Form -->
<div ng-include="'template/views/user-edit/account-info/partials/delivery-gmap-polygon-section.html'">
</div>