<form sp-form-accessibility id="user-edit" class="form userEditCtrl.user-edit-form personal-details-form"
    name="accountInfoCtrl.userInfoForm" ng-submit="accountInfoCtrl.saveUserInfo($event)" novalidate>
    <div class="address-form-field-wrapper">
        <div>
            <h1 class="left account-detail-title" id="page_title">
                {{'account_details_form_personal_details_title' | translate}}
            </h1>
            <br>
            <div class="input-flex-item message-wrapper" ng-if="userEditCtrl.externalLoginSettings.isActive">
                <h2 class="left account-detail-title detail-message">
                    {{::'To update details, log in to the yellow app or call *9974 customer service' | translate}}
                </h2>
            </div>
            <div class="right save-button">
                <button type="submit" id="btn-submit" ng-if="!userEditCtrl.externalLoginSettings.isActive">
                    {{'account_details_form_personal_details_save_btn' | translate}}
                </button>
                <div class="server-err-msg"></div>
            </div>
            <div class="coupon-points-info" ng-if="$root.config.retailer.settings.showPointBalance === 'true'">
                <span>{{'Your points' | translate}}:</span>
                <div class="coupon-points">
                    <svg focusable="false" ng-if="!$root.config.retailer.settings.loyaltyPointsIcon">
                        <use xlink:href="#sp-icons-coupon-coin"></use>
                    </svg>
                    <img ng-if="$root.config.retailer.settings.loyaltyPointsIcon"
                        ng-src="{{$root.config.retailer.settings.loyaltyPointsIcon}}" />
                    <span>{{userEditCtrl.user.points}}</span>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div id="account-info">
            <div class="account-info-wrapper">
                <div class="input-flex-wrapper w-70">
                    <!-- First name -->
                    <div class="input-flex-item">
                        <label for="first_name" class="input-desc">{{::'First name' | translate}} *</label>
                        <input type="text" id="first_name" name="firstName" ng-model="userEditCtrl.user.firstName"
                            required ng-class="{'input-disable': userEditCtrl.externalLoginSettings.isActive}"
                            sp-inline-error />
                    </div>

                    <!-- Last name -->
                    <div class="input-flex-item">
                        <label for="last_name" class="input-desc">{{::'Last name' | translate}} *</label>
                        <input type="text" id="last_name" name="lastName" ng-model="userEditCtrl.user.lastName" required
                            ng-class="{'input-disable': userEditCtrl.externalLoginSettings.isActive}" sp-inline-error />
                    </div>

                    <!-- Birth date -->
                    <div class="input-flex-item">
                        <label for="birth_date_input" class="input-desc">{{::'Birth date' | translate}}</label>
                        <input id="birth_date_input" type="date" format="dd/MM/yyyy"
                            ng-class="{'input-disable': userEditCtrl.externalLoginSettings.isActive}"
                            ng-model="userEditCtrl.user.dateOfBirth" />
                    </div>

                    <!-- User name -->
                    <div class="input-flex-item">
                        <label for="userEditCtrl.user_name_input" class="input-desc">{{::'User name' |
                            translate}}</label>
                        <input id="userEditCtrl.user_name_input" type="email" ng-model="userEditCtrl.user.email"
                            disabled ng-class="{'input-disable': userEditCtrl.externalLoginSettings.isActive}" />
                    </div>

                    <!-- Password -->
                    <div class="input-flex-item">
                        <label class="input-desc" for="password">{{::'Password' | translate}}</label>
                        <sp-password sp-model="userEditCtrl.user.password" i-name="password" i-id="password"
                            ng-class="{'input-disable': userEditCtrl.externalLoginSettings.isActive}"
                            i-placeholder="**********" autocomplete="new-password" sp-minlength="6" sp-maxlength="30"
                            sp-pattern="/(?=.*[0-9])(?=.*[^0-9])/" i-sp-inline-error></sp-password>
                    </div>

                    <!-- Confirm password -->
                    <div class="input-flex-item">
                        <label class="input-desc" for="confirm_password">{{::'Confirm password' | translate}}</label>
                        <sp-password sp-model="userEditCtrl.user.confirmPassword" i-name="confirmPassword"
                            ng-class="{'input-disable': userEditCtrl.externalLoginSettings.isActive}"
                            i-id="confirm_password" i-placeholder="**********" i-sp-inline-error></sp-password>
                    </div>

                    <!-- Home phone number -->
                    <div ng-class="{'custom-phone-validation': userEditCtrl.customPhoneValidation}"
                        class="input-flex-item phone-wrapper">
                        <label for="home_phone_number" class="phone-type">
                            {{::'Home' | translate}}
                        </label>
                        <span class="custom-phone-validation-item"
                            ng-if="!userEditCtrl.externalLoginSettings.isActive && userEditCtrl.editPhonesMode[$root.PHONE_TYPES.HOME] && $root.config.retailer.customPhoneValidation.countryCodes && $root.config.retailer.customPhoneValidation.countryCodes.length">
                            <select id="home_phone_number_code_select" class="content second" name="countryCodeHome"
                                ng-class="{'has-error': userEditCtrl.homePhone != userEditCtrl.user.phonesObj[$root.PHONE_TYPES.HOME].phoneNumber ? !userEditCtrl.validateCountryCode(userEditCtrl.user.phonesObj[$root.PHONE_TYPES.HOME].countryCode, userEditCtrl.user.phonesObj[$root.PHONE_TYPES.HOME].phoneNumber) : false}"
                                ng-model="userEditCtrl.user.phonesObj[$root.PHONE_TYPES.HOME].countryCode"
                                ng-options="countryCode as countryCode for countryCode in $root.config.retailer.customPhoneValidation.countryCodes">
                            </select>
                        </span>
                        <span class="custom-phone-validation-item"
                            ng-if="!userEditCtrl.externalLoginSettings.isActive && userEditCtrl.editPhonesMode[$root.PHONE_TYPES.HOME] && $root.config.retailer.customPhoneValidation.areaCodes && $root.config.retailer.customPhoneValidation.areaCodes.length">
                            <select id="home_phone_number_area_code_select" class="content second" name="areaCodeHome"
                                ng-class="{'has-error': userEditCtrl.homePhone != userEditCtrl.user.phonesObj[$root.PHONE_TYPES.HOME].phoneNumber ? !userEditCtrl.validateAreaCode(userEditCtrl.user.phonesObj[$root.PHONE_TYPES.HOME].areaCode, userEditCtrl.user.phonesObj[$root.PHONE_TYPES.HOME].phoneNumber) : false}"
                                ng-options="areaCode as areaCode for areaCode in $root.config.retailer.customPhoneValidation.areaCodes"
                                ng-model="userEditCtrl.user.phonesObj[$root.PHONE_TYPES.HOME].areaCode">
                            </select>
                        </span>
                        <input class="phone-input phone-input-account" name="homePhone"
                            ng-class="{'input-disable': userEditCtrl.externalLoginSettings.isActive}"
                            placeholder="{{::'Phone number' | translate}}" id="home_phone_number" type="tel"
                            ng-if="userEditCtrl.editPhonesMode[$root.PHONE_TYPES.HOME] && userEditCtrl.customPhoneValidation"
                            ng-model="userEditCtrl.user.phonesObj[$root.PHONE_TYPES.HOME].customPhoneNumber"
                            ng-pattern="userEditCtrl.customPhoneRegExp"
                            ng-focus="userEditCtrl.phoneEditMode($root.PHONE_TYPES.HOME, true)" sp-inline-error />
                        <input class="phone-input phone-input-account" name="homePhone"
                            ng-class="{'input-disable': userEditCtrl.externalLoginSettings.isActive}"
                            placeholder="{{::'Phone number' | translate}}" id="home_phone_number" type="tel"
                            ng-if="!userEditCtrl.customPhoneValidation"
                            ng-model="userEditCtrl.user.phonesObj[$root.PHONE_TYPES.HOME].phoneNumber"
                            ng-pattern="userEditCtrl.phoneRegExp"
                            ng-focus="userEditCtrl.phoneEditMode($root.PHONE_TYPES.HOME, true)" sp-inline-error />
                        <input class="phone-input phone-input-account" type="tel" id="home_phone_number"
                            ng-class="{'input-disable': userEditCtrl.externalLoginSettings.isActive}"
                            ng-if="!userEditCtrl.editPhonesMode[$root.PHONE_TYPES.HOME] && userEditCtrl.customPhoneValidation"
                            ng-model="userEditCtrl.customValidatedPhoneNumbers[$root.PHONE_TYPES.HOME]"
                            ng-change="userEditCtrl.phoneEditMode($root.PHONE_TYPES.HOME, true)"
                            ng-click="userEditCtrl.phoneEditMode($root.PHONE_TYPES.HOME, true)" />
                        <button type="button"
                            ng-if="!userEditCtrl.externalLoginSettings.isActive && userEditCtrl.editPhonesMode[$root.PHONE_TYPES.HOME] && userEditCtrl.user.phonesObj[$root.PHONE_TYPES.HOME].customPhoneNumber !== undefined"
                            class="custom-phone-validation-cancel-button"
                            ng-click="userEditCtrl.phoneEditMode($root.PHONE_TYPES.HOME, false)">Cancel
                        </button>
                        <span class="phone-length-message" ng-if="userEditCtrl.editPhonesMode[$root.PHONE_TYPES.HOME] &&
                              $root.config.retailer.customPhoneValidation.phoneNumberRange.min &&
                               $root.config.retailer.customPhoneValidation.phoneNumberRange.max">
                            {{('custom-phone-validation-range' | translate).replace('{min}',
                            $root.config.retailer.customPhoneValidation.phoneNumberRange.min).replace('{max}',
                            $root.config.retailer.customPhoneValidation.phoneNumberRange.max)}}</span>
                        <span class="phone-length-message"
                            ng-if="userEditCtrl.editPhonesMode[$root.PHONE_TYPES.HOME] &&
                               $root.config.retailer.customPhoneValidation.phoneNumberRange.min &&
                               !$root.config.retailer.customPhoneValidation.phoneNumberRange.max">{{('custom-phone-validation-min' |
                            translate).replace('{min}',
                            $root.config.retailer.customPhoneValidation.phoneNumberRange.min)}}</span>
                        <span class="phone-length-message"
                            ng-if="userEditCtrl.editPhonesMode[$root.PHONE_TYPES.HOME] &&
                              !$root.config.retailer.customPhoneValidation.phoneNumberRange.min &&
                               $root.config.retailer.customPhoneValidation.phoneNumberRange.max">{{('custom-phone-validation-max' |
                            translate).replace('{max}',
                            $root.config.retailer.customPhoneValidation.phoneNumberRange.max)}}</span>
                    </div>

                    <!-- Work phone number -->
                    <div ng-class="{'custom-phone-validation': userEditCtrl.customPhoneValidation}"
                        class="input-flex-item phone-wrapper">
                        <label for="work_phone_number_input" class="phone-type">
                            {{::'Work' | translate}}
                        </label>
                        <span class="custom-phone-validation-item"
                            ng-if="!userEditCtrl.externalLoginSettings.isActive && userEditCtrl.editPhonesMode[$root.PHONE_TYPES.WORK] && $root.config.retailer.customPhoneValidation.countryCodes && $root.config.retailer.customPhoneValidation.countryCodes.length">
                            <select id="work_phone_number_code_select" class="content second" name="countryCodeWork"
                                ng-class="{'has-error': userEditCtrl.workPhone != userEditCtrl.user.phonesObj[$root.PHONE_TYPES.WORK].phoneNumber ? !userEditCtrl.validateCountryCode(userEditCtrl.user.phonesObj[$root.PHONE_TYPES.WORK].countryCode, userEditCtrl.user.phonesObj[$root.PHONE_TYPES.WORK].phoneNumber) : false}"
                                ng-model="userEditCtrl.user.phonesObj[$root.PHONE_TYPES.WORK].countryCode"
                                ng-options="countryCode as countryCode for countryCode in $root.config.retailer.customPhoneValidation.countryCodes">
                            </select>
                        </span>
                        <span class="custom-phone-validation-item"
                            ng-if="!userEditCtrl.externalLoginSettings.isActive && userEditCtrl.editPhonesMode[$root.PHONE_TYPES.WORK] && $root.config.retailer.customPhoneValidation.areaCodes && $root.config.retailer.customPhoneValidation.areaCodes.length">
                            <select id="work_phone_number_area_code_select" class="content second" name="areaCodeWork"
                                ng-class="{'has-error': userEditCtrl.workPhone != userEditCtrl.user.phonesObj[$root.PHONE_TYPES.WORK].phoneNumber ? !userEditCtrl.validateAreaCode(userEditCtrl.user.phonesObj[$root.PHONE_TYPES.WORK].areaCode, userEditCtrl.user.phonesObj[$root.PHONE_TYPES.WORK].phoneNumber) : false}"
                                ng-model="userEditCtrl.user.phonesObj[$root.PHONE_TYPES.WORK].areaCode"
                                ng-options="areaCode as areaCode for areaCode in $root.config.retailer.customPhoneValidation.areaCodes">
                            </select>
                            <!--                    !userEditCtrl.customValidatedPhoneNumbers[$root.PHONE_TYPES.WORK] && -->
                        </span>
                        <input class="phone-input phone-input-account" name="workPhone"
                            ng-class="{'input-disable': userEditCtrl.externalLoginSettings.isActive}"
                            placeholder="{{::'Phone number' | translate}}"
                            ng-if="(userEditCtrl.editPhonesMode[$root.PHONE_TYPES.WORK]) && userEditCtrl.customPhoneValidation"
                            id="work_phone_number_input" type="tel"
                            ng-model="userEditCtrl.user.phonesObj[$root.PHONE_TYPES.WORK].customPhoneNumber"
                            ng-pattern="userEditCtrl.customPhoneRegExp"
                            ng-focus="userEditCtrl.phoneEditMode($root.PHONE_TYPES.WORK, true)" sp-inline-error />
                        <input class="phone-input phone-input-account" name="workPhone"
                            ng-class="{'input-disable': userEditCtrl.externalLoginSettings.isActive}"
                            placeholder="{{::'Phone number' | translate}}" ng-if="!userEditCtrl.customPhoneValidation"
                            id="work_phone_number_input" type="tel"
                            ng-model="userEditCtrl.user.phonesObj[$root.PHONE_TYPES.WORK].phoneNumber"
                            ng-pattern="userEditCtrl.phoneRegExp"
                            ng-focus="userEditCtrl.phoneEditMode($root.PHONE_TYPES.WORK, true)" sp-inline-error />
                        <input class="phone-input phone-input-account" type="tel" id="work_phone_number_input"
                            ng-class="{'input-disable': userEditCtrl.externalLoginSettings.isActive}"
                            ng-if="(!userEditCtrl.editPhonesMode[$root.PHONE_TYPES.WORK]) && userEditCtrl.customPhoneValidation"
                            ng-change="userEditCtrl.phoneEditMode($root.PHONE_TYPES.WORK, true)"
                            ng-model="userEditCtrl.customValidatedPhoneNumbers[$root.PHONE_TYPES.WORK]"
                            ng-click="userEditCtrl.phoneEditMode($root.PHONE_TYPES.WORK, true)" />
                        <button type="button"
                            ng-if="!userEditCtrl.externalLoginSettings.isActive && userEditCtrl.editPhonesMode[$root.PHONE_TYPES.WORK] && userEditCtrl.user.phonesObj[$root.PHONE_TYPES.WORK].customPhoneNumber !== undefined"
                            class="custom-phone-validation-cancel-button"
                            ng-click="userEditCtrl.phoneEditMode($root.PHONE_TYPES.WORK, false)">Cancel
                        </button>
                        <span class="phone-length-message" ng-if="userEditCtrl.editPhonesMode[$root.PHONE_TYPES.WORK] &&
                              $root.config.retailer.customPhoneValidation.phoneNumberRange.min &&
                               $root.config.retailer.customPhoneValidation.phoneNumberRange.max">
                            {{('custom-phone-validation-range' | translate).replace('{min}',
                            $root.config.retailer.customPhoneValidation.phoneNumberRange.min).replace('{max}',
                            $root.config.retailer.customPhoneValidation.phoneNumberRange.max)}}</span>
                        <span class="phone-length-message"
                            ng-if="userEditCtrl.editPhonesMode[$root.PHONE_TYPES.WORK] &&
                               $root.config.retailer.customPhoneValidation.phoneNumberRange.min &&
                               !$root.config.retailer.customPhoneValidation.phoneNumberRange.max">{{('custom-phone-validation-min' |
                            translate).replace('{min}',
                            $root.config.retailer.customPhoneValidation.phoneNumberRange.min)}}</span>
                        <span class="phone-length-message"
                            ng-if="userEditCtrl.editPhonesMode[$root.PHONE_TYPES.WORK] &&
                              !$root.config.retailer.customPhoneValidation.phoneNumberRange.min &&
                               $root.config.retailer.customPhoneValidation.phoneNumberRange.max">{{('custom-phone-validation-max' |
                            translate).replace('{max}',
                            $root.config.retailer.customPhoneValidation.phoneNumberRange.max)}}</span>
                    </div>

                    <!-- Mobile phone number -->
                    <div ng-class="{'custom-phone-validation': userEditCtrl.customPhoneValidation}"
                        class="input-flex-item phone-wrapper">
                        <label for="mobile_phone_number_input" class="phone-type">
                            {{::'Mobile' | translate}}
                        </label>
                        <span class="custom-phone-validation-item"
                            ng-if="!userEditCtrl.externalLoginSettings.isActive && userEditCtrl.editPhonesMode[$root.PHONE_TYPES.MOBILE] && $root.config.retailer.customPhoneValidation.countryCodes && $root.config.retailer.customPhoneValidation.countryCodes.length">
                            <select
                                ng-class="{'has-error': userEditCtrl.mobilePhone != userEditCtrl.user.phonesObj[$root.PHONE_TYPES.MOBILE].phoneNumber ? !userEditCtrl.validateCountryCode(userEditCtrl.user.phonesObj[$root.PHONE_TYPES.MOBILE].countryCode, userEditCtrl.user.phonesObj[$root.PHONE_TYPES.MOBILE].phoneNumber) : false}"
                                id="mobile_phone_country_code_select" class="content second" name="countryCodeMobile"
                                ng-model="userEditCtrl.user.phonesObj[$root.PHONE_TYPES.MOBILE].countryCode"
                                ng-options="countryCode as countryCode for countryCode in $root.config.retailer.customPhoneValidation.countryCodes">
                            </select>
                        </span>
                        <span class="custom-phone-validation-item"
                            ng-if="!userEditCtrl.externalLoginSettings.isActive && userEditCtrl.editPhonesMode[$root.PHONE_TYPES.MOBILE] && $root.config.retailer.customPhoneValidation.areaCodes && $root.config.retailer.customPhoneValidation.areaCodes.length">
                            <select
                                ng-class="{'has-error': userEditCtrl.mobilePhone != userEditCtrl.user.phonesObj[$root.PHONE_TYPES.MOBILE].phoneNumber ? !userEditCtrl.validateAreaCode(userEditCtrl.user.phonesObj[$root.PHONE_TYPES.MOBILE].areaCode, userEditCtrl.user.phonesObj[$root.PHONE_TYPES.MOBILE].phoneNumber) : false}"
                                id="mobile_phone_area_code_select" class="content second" name="areaCodeMobile"
                                ng-options="areaCode as areaCode for areaCode in $root.config.retailer.customPhoneValidation.areaCodes"
                                ng-model="userEditCtrl.user.phonesObj[$root.PHONE_TYPES.MOBILE].areaCode">
                            </select>
                        </span>
                        <input class="phone-input phone-input-account" name="mobilePhone"
                            ng-class="{'input-disable': userEditCtrl.externalLoginSettings.isActive}"
                            placeholder="{{::'Phone number' | translate}}"
                            ng-if="userEditCtrl.editPhonesMode[$root.PHONE_TYPES.MOBILE] && userEditCtrl.customPhoneValidation"
                            id="mobile_phone_number_input" type="tel"
                            ng-model="userEditCtrl.user.phonesObj[$root.PHONE_TYPES.MOBILE].customPhoneNumber"
                            ng-pattern="userEditCtrl.customPhoneRegExp"
                            ng-focus="userEditCtrl.phoneEditMode($root.PHONE_TYPES.MOBILE, true)" sp-inline-error />
                        <input class="phone-input phone-input-account" name="mobilePhone"
                            ng-class="{'input-disable': userEditCtrl.externalLoginSettings.isActive}"
                            placeholder="{{::'Phone number' | translate}}" ng-if="!userEditCtrl.customPhoneValidation"
                            id="mobile_phone_number_input" type="tel"
                            ng-model="userEditCtrl.user.phonesObj[$root.PHONE_TYPES.MOBILE].phoneNumber"
                            ng-pattern="userEditCtrl.phoneRegExp"
                            ng-focus="userEditCtrl.phoneEditMode($root.PHONE_TYPES.MOBILE, true)" sp-inline-error />
                        <input class="phone-input phone-input-account" type="tel" id="mobile_phone_number_input"
                            ng-class="{'input-disable': userEditCtrl.externalLoginSettings.isActive}"
                            ng-if="(!userEditCtrl.editPhonesMode[$root.PHONE_TYPES.MOBILE]) && userEditCtrl.customPhoneValidation"
                            ng-model="userEditCtrl.customValidatedPhoneNumbers[$root.PHONE_TYPES.MOBILE]"
                            ng-change="userEditCtrl.phoneEditMode($root.PHONE_TYPES.MOBILE, true)"
                            ng-click="userEditCtrl.phoneEditMode($root.PHONE_TYPES.MOBILE, true)" />
                        <button type="button"
                            ng-if="!userEditCtrl.externalLoginSettings.isActive && userEditCtrl.editPhonesMode[$root.PHONE_TYPES.MOBILE] && userEditCtrl.user.phonesObj[$root.PHONE_TYPES.MOBILE].customPhoneNumber !== undefined"
                            class="custom-phone-validation-cancel-button"
                            ng-click="userEditCtrl.phoneEditMode($root.PHONE_TYPES.MOBILE, false)">Cancel
                        </button>
                        <span class="phone-length-message" ng-if="userEditCtrl.editPhonesMode[$root.PHONE_TYPES.MOBILE] &&
                              $root.config.retailer.customPhoneValidation.phoneNumberRange.min &&
                               $root.config.retailer.customPhoneValidation.phoneNumberRange.max">
                            {{('custom-phone-validation-range' | translate).replace('{min}',
                            $root.config.retailer.customPhoneValidation.phoneNumberRange.min).replace('{max}',
                            $root.config.retailer.customPhoneValidation.phoneNumberRange.max)}}</span>
                        <span class="phone-length-message"
                            ng-if="userEditCtrl.editPhonesMode[$root.PHONE_TYPES.MOBILE] &&
                               $root.config.retailer.customPhoneValidation.phoneNumberRange.min &&
                               !$root.config.retailer.customPhoneValidation.phoneNumberRange.max">{{('custom-phone-validation-min' |
                            translate).replace('{min}',
                            $root.config.retailer.customPhoneValidation.phoneNumberRange.min)}}</span>
                        <span class="phone-length-message"
                            ng-if="userEditCtrl.editPhonesMode[$root.PHONE_TYPES.MOBILE] &&
                              !$root.config.retailer.customPhoneValidation.phoneNumberRange.min &&
                               $root.config.retailer.customPhoneValidation.phoneNumberRange.max">{{('custom-phone-validation-max' |
                            translate).replace('{max}',
                            $root.config.retailer.customPhoneValidation.phoneNumberRange.max)}}</span>
                    </div>

                    <!-- Allow to send promotions -->
                    <div class="input-flex-item promotion-checkbox-wrapper">
                        <label class="checkbox-label-hidden">
                            placeholder
                        </label>
                        <sp-checkbox
                            ng-if="!userEditCtrl.externalLoginSettings.isActive && (!$root.config.retailer.settings.hidePromotionCheckboxOnUserDetails || $root.config.retailer.settings.hidePromotionCheckboxOnUserDetails == 'false')"
                            sp-model="userEditCtrl.user.allowSendPromotions">
                            {{::'Allow to send promotions' | translate}}
                        </sp-checkbox>
                    </div>
                </div>
                <div class="input-flex-wrapper w-30 right-side">
                    <!-- Gender -->
                    <div class="input-flex-item w-full">
                        <span class="input-desc" id="gender">{{::'Gender' | translate}}</span>
                        <span class="gender-buttons" role="radiogroup" aria-labelledby="gender">
                            <sp-radio sp-model="userEditCtrl.user.gender" sp-name="gender"
                                ng-class="{'input-disable': userEditCtrl.externalLoginSettings.isActive}"
                                sp-aria-label="{{'male' | translate}}" sp-value="$root.GENDERS.MALE">
                                {{::'Male' | translate}}
                            </sp-radio>
                            <sp-radio sp-model="userEditCtrl.user.gender" sp-name="gender"
                                ng-class="{'input-disable': userEditCtrl.externalLoginSettings.isActive}"
                                sp-aria-label="{{'female' | translate}}" sp-value="$root.GENDERS.FEMALE">
                                {{::'Female' | translate}}
                            </sp-radio>
                            <sp-radio sp-model="userEditCtrl.user.gender" sp-name="gender"
                                sp-aria-label="{{'prefer not to say' | translate}}"
                                ng-class="{'input-disable': userEditCtrl.externalLoginSettings.isActive}"
                                sp-value="$root.GENDERS.PREFER_NOT_TO_SAY">
                                {{::'Prefer not to say' | translate}}
                            </sp-radio>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>