<span class="title">
    <span class="name">
        {{group.value ?
        ($root.config.retailer.settings.generalCouponsSectionName || ('May interest you' | translate)) :
        ($root.config.retailer.settings.personalCouponsSectionName || ('Personal coupons' | translate))}}
    </span>
    <svg focusable="false" ng-class="{'up': !hideGroups[group.value]}">
        <use xlink:href="#sp-icons-arrow-down"></use>
    </svg>
</span>