<button type="button" class="no-design sp-arrows-button">
    <span class="label">{{label}}</span><!--
    --><svg focusable="false">
        <use xlink:href="#sp-icons-arrows-button"></use>
    </svg>
</button>