button.sp-arrows-button {
  $height: 2.5em;

  position: relative;
  height: $height;
  white-space: nowrap;
  vertical-align: middle;

  &::-moz-focus-inner {
    padding: 0;
    border: 0;
  }

  > span.label {
    line-height: $height;
    height: 100%;
    display: inline-block;
    font-weight: 700;
    color: #ffffff;
    padding: 0 0.7em;
    vertical-align: middle;
  }

  > svg {
    height: 100%;
    width: 3.68em;
    vertical-align: middle;
  }
}

$label-border-radius: 0.5em;
.ltr button.sp-arrows-button {
  > span.label {
    border-radius: $label-border-radius 0 0 $label-border-radius;
  }

  > svg {
    transform: rotate(180deg);
  }
}

.rtl button.sp-arrows-button {
  > span.label {
    border-radius: 0 $label-border-radius $label-border-radius 0;
  }
}