<h2 id="login_or_register_title" ng-class="{'is-organization': $root.config.retailer.status === $root.RETAILER_STATUSES.ORGANIZATION_ONLY}">
    {{loginOrRegisterCtrl.firstTitle}}
</h2>

<div class="bold-alert" ng-if="$root.config.retailer.status === $root.RETAILER_STATUSES.ORGANIZATION_ONLY">
    {{'Please use your e-mail address that was approved by the organization' | translate}}
</div>

<sp-tabs>
    <sp-tabs-pane title="{{tab.title}}" ng-repeat="tab in loginOrRegisterCtrl.tabs"
                  on-select="loginOrRegisterCtrl.show(tab)" selected="loginOrRegisterCtrl.shownTab == tab" sr-text="true">
        <ng-include ng-class="{'hub': !!loginOrRegisterCtrl.hubData}" src="tab.templateUrl" ng-controller="tab.controller"></ng-include>
    </sp-tabs-pane>
</sp-tabs>
