.dialog.login-or-register > {
  .dialog-body {
    padding: 0;
    width: 48.875em;
    height: 45em;

    > h2 {
      font-size: 1.8em;
      font-weight: 400;
      line-height: 1.4em;
      text-align: center;
      color: #606060;
      padding-top: 0;

      &.is-organization {
        padding-bottom: 0;
      }
    }

    > .bold-alert {
      text-align: center;
      width: 23.126em;
      margin: 1em auto;
      padding: 0.5em;
      color: #ffffff;
      font-weight: bold;
      border-radius: 5px;
      line-height: 1.3em;
      box-sizing: border-box;
    }

    sp-tabs {
      > .sp-tabs-panes > sp-tabs-pane > div {
        border-top: 1px solid #aaaaaa;
        margin-top: -1px;

        > * {
          display: block;
          margin: auto;
          width: 23.125em;
        }

        form[name="registerForm"], form[name="loginForm"] {
          padding-top: 1em;

          &.hub {
            width: 28.125em !important;
          }

          .login-err {
            color: #d44949;
            white-space: nowrap;
            padding: 1.2em 0 0.5em 0;

            > * {
              display: inline-block;
              vertical-align: middle;
            }

            > img {
              width: 2em;
              height: auto;
              padding: 0 0.3em;
            }

            .text {
              font-size: 0.86em;
              font-weight: bold;
              line-height: 1.2em;
            }

            &.success-color {
              white-space: normal;
              color: #509E24;
            }
          }

          .server-err-msg {
            text-align: center;

            .err-contact-phone {
              font-weight: normal;
              text-align: center;
              padding-top: 0.4em;
            }
          }

          label.checkbox {
            font-size: 0.88em;
            width: 100%;
          }

          a {
            color: #0000FF;
          }

          input {
            padding-left: 1em;
          }

          input, .checkbox, button {
            margin: 0.5em 0;
          }

/*          button {
            display: block;
            font-size: 1.125em;
            padding: 0.55em;
            font-weight: 700;
            width: 100%;
            @include border-radius(5px);
            @include box-shadow(none);
            color: #ffffff;

            &.not-approve {
              margin-top: 1em;
              background-color: #ffffff;

              &:hover {
                background-color: #ffffff !important;
              }
            }
          }*/

          .login-with-facebook {
            background: #3b579d url("https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/facebook.png") 4px 2px no-repeat;
            padding-left: 25px;
            float: right;
          }

          .register-btn {
            color: red;
            margin: 0.5em 0 1em 0;
            text-decoration: underline;
            font-size: 0.875em;
          }

          .forgot-password {
            text-align: center;
            a {
              color: #878787;
              margin: 0.5em 0 1em 0;
              text-decoration: underline;
              font-size: 0.875em;
              cursor: pointer;
            }
          }

          .terms-approve {
            line-height: 1.4em;
            font-size: 0.9em;
            text-align: justify;

            a {
              text-decoration: underline;
            }

            p.space {
              margin-top: 0.5em;
            }
          }

          .user-activation-required {
            text-align: center;
            margin: 0.5em 0;
            color: #ffffff;
            padding: 0.5em;
            font-weight: bold;
            border-radius: 5px;

            > div {
              font-weight: normal;
              font-size: 0.9em;
              padding-top: 0.5em;

              > span {
                padding: 0 0.5em;
              }

              .resend-activation-link {
                margin: 0;
                display: inline-block;
                text-decoration: underline;
              }
            }
          }
        }

        form[name="registerForm"] button:not(.no-design), form[name="loginForm"] button {
          display: block;
          font-size: 1.125em;
          padding: 0.55em;
          font-weight: 700;
          width: 100%;
          @include border-radius(5px);
          @include box-shadow(none);
          color: #ffffff;

          &.not-approve {
            margin-top: 1em;
            background-color: #ffffff;

            &:hover {
              background-color: #ffffff !important;
            }
          }
        }

        .login-with-otp-container {
          margin-top: 80px;
          text-align: center;

          img {
            width: 30%
          }
        }

        .selectOtpOption {
          h5 {
            text-transform: uppercase;
            text-align: center;
            margin: 42px 0;
          }

          .options-container {
            display: flex;
            text-align: center;

            .option {
              width: 50%;

              img {
                width: 45%;
                margin-bottom: 10px
              }
            }
          }
        }

        .enterOtpPhoneOrEmail {
          .enter-otp {
            text-align: center;
            margin-top: 20px;

            img {
              width: 20%;
              margin-bottom: 10px
            }

            .small-text {
              font-size: smaller;
              color: #A0A0A0;
            }

            input {
              margin: 20px 0;
            }
          }
        }

        .enterCodeToValidate {
          .enter-otp-code {
            text-align: center;
            margin-top: 20px;

            img {
              width: 20%;
              margin-bottom: 10px;
            }

            .validate-code-header {
              font-size: larger;
            }

            .hidden-phone-or-email {

            }

            .small-text {
              font-size: smaller;
              color: #A0A0A0;
            }

            .btn-disabled {
              cursor: not-allowed;
              opacity: 0.65;
              filter: alpha(opacity=65);
              -webkit-box-shadow: none;
              box-shadow: none;
            }

            .header-spacing {
              margin: 20px 0;
            }

            .otp-code-input {
              direction: ltr !important;

              input {
                height: 70px;
                width: 40px;
                text-align: center;
                font-size: 24px;
                margin: 0 8px;
              }
            }

            .invalid-or-expired-text {
              color: red;
              font-weight: bold;
              margin: 30px 0;
            }
          }
        }

        .otpError {
          .otp-error-container {
            text-align: center;
            margin-top: 20px;
          }

          .error-text {
            color: red;
            font-weight: bold;
            margin: 60px 0;
          }

          p {
            margin: 60px 0;
          }
        }

        .user-email-activation-err {
          white-space: normal;
          line-height: 1.6em !important;

          .resend-activation-link {
            font-weight: normal;
            cursor: pointer;
            text-decoration: underline;
          }
        }

        div.reset-password-sent {
          margin-top: 1em;
          text-align: center;
          > .text-error{
            color: #E71B1B;
            padding-top: 1rem;
            font-size: 0.8em;
          }
        }

        .after-register {
          text-align: center;
          font-size: 1.2em;
          div {
            padding: 5em 0;
            color: #353b37;
            font-weight: bold;
          }

          button {
            padding: 0.5em 4em;
          }

          h5, button {
            font-weight: bold;
          }
        }

        sp-captcha {
          margin-top: 0.5em;
        }
      }

      .sp-tabs-panes #sp_tab_pane_1 > .hub {
        width: 28.125em !important;
      }
    }
  }
}

.login-email-password-text{
  color: #000000; 
  text-decoration: underline; 
  cursor: pointer; 
  display: flex; 
  justify-content: center; 
  margin-top: 70px;
}
.look-like-anchor {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.back-button-otp {
  color: black;
}

.additional-text {
  font-size: 1.5em;
  text-align: center;
  font-weight: 500;
  padding-top: 0.5em;
}

html.rtl {
  .dialog.login-or-register > .dialog-body .sp-tabs-pane  form[name="registerForm"], .dialog.login-or-register > .dialog-body .sp-tabs-pane form[name="loginForm"] {
    .register-btn {
      float: left;
    }
  }
}

.force-direction-ltr {
  direction: ltr !important;
}