.dialog.login-or-register {
  .dialog-body {

    > .bold-alert {
      background-color: $mainColor;
    }

    form[name="registerForm"], form[name="loginForm"] {
      button {
        &.not-approve {
          color: $mainColor !important;
        }
        border: 1px solid $mainColor !important;
      }
    }



    sp-tabs > .sp-tabs-panes > sp-tabs-pane > div {
      form[name="registerForm"], form[name="loginForm"] {
        .user-activation-required {
          background-color: $mainColor;
        }
      }
    }
  }
}