<div>
    <style>
        @import url("https://fonts.googleapis.com/css?family=Quicksand:300,400,700");
        @import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");
        @import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700");
        @import url('https://d226b0iufwcjmj.cloudfront.net/fonts/open-sans-hebrew/opensanshebrew.css?cachebuster=1');

        @media print {
            @page { margin: 0; }
            body { margin: 1cm; }
        }

        .rtl {
            direction: rtl;
        }
        .recipe-wrapper {
            font-family: 'Open Sans', 'Open Sans Hebrew';
        }
        .image-wrapper {
            display: inline-block;
            width: 38%;
            max-width: 38%;
        }
        .recipe-image {
            display: inline-block;
            width: 100%;
            height: 100%;
        }
        .header-details-wrapper {
            display: inline-block;
            width: 46%;
            vertical-align: top;
            margin-left: 1em;
        }
        .retailer-title {
            font-size: 1.5em;
        }
        .name {
            font-size: 2em;
        }
        .description {
            width: 60%;
            margin-top: 0.5em;
            font-size: 1.3em;
            line-height: 1.3em;
        }
        .recipe-group-description {
            line-height: 2.5em;
        }
        .prep-time * {
            line-height: 2em;
            display: inline-block;
            vertical-align: middle;
        }
        .small-clock {
            margin-right: 0.3em;
            max-width: 0.9em;
        }
        .uppercase {
            display: inline-block;
            margin-top: 2em;
            margin-bottom: 0.7em;
            text-transform: uppercase;
            font-weight: 700;
            line-height: 0;
        }
        .directions {
            margin-bottom: 0.4em;
        }
        .ingredient {
            line-height: 1.8em;
        }
        .step {
            margin-bottom: 1em;
            line-height: 1.6em;
        }

    </style>
    <div class="recipe-wrapper" ng-class="$root.config.language.direction">
        <div class="recipe-header">
                <span class="retailer-title secondary-font">
                    {{$root.config.retailer.title}}
                </span>
            <br>
                <div class="image-wrapper">
                    <img class="recipe-image" ng-src="{{recipeCtrl.recipe.image}}" alt=""/>
                </div>
                <div class="header-details-wrapper">
                    <div class="name-wrapper">
                        <span class="for-vertical-align"></span><!--
            --><span>
                <span class="name secondary-font">
                    {{recipeCtrl.recipe.name}}
                </span>
                    <br><br>
                <span class="author secondary-font">
                    {{('by' | translate) + recipeCtrl.recipe.author+' ('+recipeCtrl.recipe.source+')'}}
                </span>
                    <br>
                    <span class="prep-time">
                    <img class="small-clock" src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/clock.png" alt=""/>
                    <span>{{recipeCtrl.recipe.preparationTime}} {{::'min' | translate}}</span>
                </span>
            </span>
                    </div>
                </div>
        </div>
        <div class="recipe-details">
            <div class="details-content">
                <div class="description secondary-font">
                    {{recipeCtrl.recipe.description}}
                </div>
                <div class="recipe-ingredients">
                    <span class="secondary-font uppercase">
                        {{::'Ingredients' | translate}}
                    </span>
                    <div class="ingredients-group" ng-repeat="group in recipeCtrl.recipe.groups">
                        <div ng-if="recipeCtrl.recipe.groups.length > 1" class="recipe-group-description">{{group.name}}</div>
                        <div ng-repeat="ingredient in group.ingredients | orderBy:'sort'" class="ingredient">
                            <span class="quantity whole-quantity" ng-if="ingredient.wholeNumber && ingredient.wholeNumber > 0" >{{ingredient.wholeNumber}}</span><span class="quantity" ng-if="ingredient.numerator && ingredient.denominator">{{ingredient.numerator + '/'+ ingredient.denominator}}</span>
                            {{ingredient.unitOfMeasureId == 8 ? '' : (ingredient.unitOfMeasureNames | name)}} {{ingredient.name}}
                        </div>
                    </div>
                </div>
                <div class="recipe-steps">
                    <span class="directions secondary-font uppercase">
                        {{::'Directions' | translate}}
                    </span>
                    <div class="steps-group" ng-repeat="group in recipeCtrl.recipe.groups">
                        <div ng-if="recipeCtrl.recipe.groups.length > 1" class="recipe-group-description">{{group.name}}</div>
                        <div ng-repeat="step in group.steps | orderBy:'sort'" class="step">
                            <span class="image">{{$index+1+' .'}}</span><!--
                        --><span class="step-description">{{step.description}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>