<div class="sp-quantity {{design}}"
     ng-class="{'weighable': !cartLine.isCase && (!hideWeight || hideWeight === 'false') && (($root.util.isUnitsWeighable(cartLine.product) && cartLine.soldBy === $root.PRODUCT_DISPLAY.WEIGHT.name) || (!cartLine.soldBy && $root.util.isWeightQuantity(cartLine.product))),
                'units-weighable': !cartLine.isCase && !cartLine.soldBy && $root.util.isUnitsWeighable(cartLine.product),
                'is-coupon': cartLine.type === $root.SP_SERVICES.CART_LINE_TYPES.COUPON}"><!--
    --><div class="est-weight" ng-if="hideWeight != 'true' && !cartLine.isCase && (($root.util.isUnitsWeighable(cartLine.product) && cartLine.soldBy === $root.PRODUCT_DISPLAY.UNIT.name) || (!cartLine.soldBy && $root.util.isUnitsWeighable(cartLine.product)))">
        {{ (estText || ('Est. weight' | translate)) + ' ' + (cartLine.product | productWeight:cartLine.isCase:null:cartLine.quantity:cartLine.soldBy) }}
    </div><!--
    --><div class="btns-row"><!--
        --><button type="button" class="plus no-design" id="plus" ng-click="onPlusClick();"
                ng-class="{'with-cart': !hideCart, 'reached-quantity-limit': cartLine.product.quantityLimit && cartLine.quantity >= cartLine.product.quantityLimit}">
            <span class="for-vertical-align"></span><!--
            --><img class="plus" ng-src="{{'https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/plus' + (grayBtnsDesigns[design] ? '-gray' : '') + '.png'}}"
                    alt="{{(plusAlt || 'Increase the amount') | translate}}"/><!--
            --><img ng-if="!hideCart" class="cart" src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/cart_small.png"/>
        </button><!--
        --><span class="quantity-wrapper"
                 ng-class="{ 'with-unit': ($root.util.isUnitsWeighable(cartLine.product) && cartLine.soldBy === $root.PRODUCT_DISPLAY.WEIGHT.name) || unit || (!cartLine.soldBy && $root.util.isUnitsWeighable(cartLine.product)) }">
            <sp-vertical-value-slider sp-model="quantity" sp-change="quantityChanged();"
                                      sp-focus="selectOnFocus($event)" sp-tag-name="{{readOnly ? 'span' : ''}}"
                                      sp-blur="onBlur()"
                                      aria-live="{{spAriaLive ? 'assertive' : 'off'}}"></sp-vertical-value-slider><!--
            --><span class="additional-text weight" ng-if="unit">{{unit.names | name}}</span><!--
            --><span class="additional-text units-weighable" ng-if="!unit && $root.util.isUnitsWeighable(cartLine.product) && !cartLine.soldBy">{{(cartLine.quantity > 1 ? 'Units' : 'Unit') | translate}}</span>
        </span><!--
        --><button type="button" class="minus no-design" id="minus" ng-click="onMinusClick();">
            <span class="for-vertical-align"></span><!--
            --><img ng-src="{{'https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/minus' + (grayBtnsDesigns[design] ? '-gray' : '') + '.png'}}"
                    alt="{{(minusAlt || 'reduce the amount') | translate}}"/>
        </button>
    </div>
</div>
