div.sp-quantity {
  height: 2.313em;
  @include box-shadow(none);
  position: relative;

  > .est-weight {
    position: absolute;
    height: 1em;
    left: 0;
    width: 100%;
    font-weight: bold;
    font-size: 0.8em;
    top: -1.2em;
  }

  > .btns-row {
    overflow: hidden;
    direction: rtl;
    height: 100%;
    @include border-radius(5px);

    > *, .quantity-wrapper > * {
      display: inline-block;
      height: 100%;
      vertical-align: middle;
      padding: 0;
    }

    > * {
      color: rgba(255, 255, 255, 0.7);
      background-color: #ffffff;
      @include border-radius(0);
      @include box-shadow(none);
      @include box-sizing(border-box);
    }

    > .quantity-wrapper {
      width: 44%;
      direction: ltr;
      border-top-width: 2px;
      border-bottom-width: 2px;
      border-top-style: solid;
      border-bottom-style: solid;

      > sp-vertical-value-slider {
        width: 100%;
        @include box-sizing(border-box);

        > input {
          text-align: center;
          border: none !important;
          font-weight: 700;
          padding: 0;
        }
      }

      > .additional-text {
        overflow: hidden;
        font-size: 0.7em;
        line-height: 3.35em;
        font-weight: 700;

        &.weight {
          width: 33.33%;
        }

        &.units-weighable {
          width: 54%;
        }
      }
    }

    > button {
      line-height: 1.5em;
      font-size: 1em;
      font-weight: normal;
      width: 28%;

      > * {
        vertical-align: middle;
      }

      &.plus {
        &.reached-quantity-limit {
          opacity: 0.5;
        }

        &.with-cart {
          direction: ltr;
          text-align: right;
          padding-right: 0.5em;

          > img.plus {
            padding-right: 3px;
          }
        }
      }
    }
  }

  &.is-coupon {
    > .btns-row {
      > button {
        opacity: 0;
        pointer-events: none;
      }

      > .quantity-wrapper > sp-vertical-value-slider {
        border: none !important;

        > input {
          pointer-events: none;
        }
      }
    }
  }

  &.weighable > .btns-row > .quantity-wrapper > sp-vertical-value-slider {
    width: 66.666%;
  }

  &.units-weighable > .btns-row > .quantity-wrapper > sp-vertical-value-slider {
    width: 42%;
  }

  &.white > .btns-row {
    border: 1px solid #adadad;
    > .quantity-wrapper > sp-vertical-value-slider, > button {
      color: #8f8f8f;
    }

    > .quantity-wrapper > sp-vertical-value-slider {
      border-left: 1px solid #adadad;
      border-right: 1px solid #adadad;

      > input {
        color: #606060;
      }
    }
  }
}

.rtl div.sp-quantity > .btns-row > .quantity-wrapper {
  direction: rtl;
}
