div.sp-quantity {
  > .est-weight {
    color: $mainColor;
  }

  > .btns-row {
    > .quantity-wrapper {
      color: $mainColor;
      border-top-color: $mainColor;
      border-bottom-color: 2px solid $mainColor;
    }

    > button {
      background-color: '{{mainColor-#ffffff-90}}';
    }

    &:hover > button {
      background-color: '{{mainColor-#000000-90}}';
    }
  }
}