<label class="checkbox">
    <span class="box {{!!model}}">
        <img src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/checkbox-checked.png" alt=""/><!--
        --><span class="for-vertical-align"></span>
    </span>
    <span class="label" ng-transclude></span>
    <span class="input-wrapper">
        <input type="checkbox" name="{{iName || 'sp-checkbox-input'}}" ng-model="$parent.model"
               ng-focus="spCheckboxCtrl.onFocus()" ng-blur="spCheckboxCtrl.onBlur()" ng-change="spCheckboxCtrl.onChange()"
                ng-disabled="disabled" ng-if="!spCheckboxCtrl.hasInlineError"/>

        <input type="checkbox" name="{{iName || 'sp-checkbox-input'}}" ng-model="$parent.model"
               ng-focus="spCheckboxCtrl.onFocus()" ng-blur="spCheckboxCtrl.onBlur()" ng-change="spCheckboxCtrl.onChange()"
               ng-disabled="disabled" ng-if="spCheckboxCtrl.hasInlineError" sp-inline-error="{{iSpInlineError}}" sp-inline-error-attach-to-parent="{{iSpInlineErrorAttachToParent || ''}}"/>
    </span>
</label>
