label.checkbox {
  @include user-select(none);
  cursor: pointer;
  display: inline-block;
  //position: relative;

  & > span {
    &.box {
      display: block;
      float: left;
      vertical-align: middle;
      width: 1.2em;
      height: 1.2em;
      @include border-radius(0.3em);
      border: 1px solid #adadad;
      background-color: #ffffff;
      margin-right: 0.15em;
      text-align: center;
      font-size: 0.85em;

      img {
        display: none;
        width: 70%;
        height: auto;
      }

      &.true {
        border-color: #878787;

        img {
          display: inline-block;
          vertical-align: middle;
        }
      }
    }

    &.label {
      display: block;
      padding-left: 1.8em;
      line-height: 1.4em;
      color:  #606060;
      font-size: 0.938em
    }
  }

  &.focus > span.box {
    border-color: #000000;
  }

  > .input-wrapper {
    display: block !important;
    width: 0 !important;
    height: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    overflow: hidden !important;

    /*> input[type=checkbox] {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: none;
      -webkit-appearance: none;
    }*/
  }

  &:before {
    content: '';
    display: block;
    clear: both;
  }
}

.rtl {
  label.checkbox {
    > span {
      &.box {
        float: right;
        margin-right: 0;
        margin-left: 0.15em;
      }

      &.label {
        padding-left: 0;
        padding-right: 2em;
      }
    }
  }
}