sp-items-grid {
  .ltr & {
    text-align: left;
  }

  .rtl & {
    text-align: right;
  }
}

.sp-table-shopping-list {
  table {
    tbody {
      tr {
        td {
          padding: 0.5em 1.35em;
        }
      }
    }
  }
  .disabled {
    opacity: 0.35;
    pointer-events: none;
  }

  .out-of-stock {
    position: absolute;
    top: 50%;
    height: 2em;
    line-height: 2em;
    padding: 0 0.4em;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    margin-top: -0.75em;
    color: #ffffff;
    font-size: 0.8em;
    white-space: nowrap;
    background-color: #F86B2F;
    width: auto;
    left: 50%;
    transform: translateX(-50%);
  }


  &.sort-by-categories {
    table {
      tbody {
        .category-header {
          padding: 10px 0;
          background-color: #EAE9E7;
          text-align: center;
        }
      }
    }
  }
}
