<div class="dropdown-arrow-wrapper"><span class="arrow"></span></div>
<div class="dropdown-items-wrapper no-delivery-times">
    <span class="for-vertical-align"></span>
    <span ng-bind=":: (picker.deliveryMethod.id === $root.SP_SERVICES.DELIVERY_TYPES.DELIVERY ? 'No delivery time slots available' : 'No pick up time slots available') | translate"></span>
</div>