<div class="bread-crumbs-wrapper" ng-if="productCtrl.showProductInSeperatePage">
    <button class="back-button"  ng-click="productCtrl.back()">
        <svg focusable="false">
            <use xlink:href="#sp-icons-arrow-left"></use><!--
        --><span>{{'Back' | translate}}</span>
        </svg>
    </button>
    <div class="bread-crumbs" ng-if="productCtrl.product.family.categoriesPaths.length > 0">
            <span ng-repeat="category in productCtrl.product.family.categories">
            <a class="category secondary-font" ng-class="{last : $last}" ng-click="productCtrl.navigateToCategory(category)">{{category.names | name}}</a>
       </span>
    </div>
</div>
<button class="full-screen-back no-design" ng-click="productCtrl.setFullScreen(false)">
    <span>{{'Back' | translate}}</span><!--
    --><svg focusable="false">
        <use xlink:href="#sp-icons-arrow-left"></use>
    </svg>
</button>
<div class="product-details"
     ng-class="{ 'with-images-control': productCtrl.images.length > 1, 'large-items-product-details': productCtrl.product.categoryType === $root.CATEGORIES_TYPES.LARGE_ITEMS }">
    <sp-vertical-carousel ng-if="productCtrl.images.length > 1"
        template-url="template/dialogs/product/partials/vertical-image-carousel/index.html"
        item-height="'3em'"
        items = "productCtrl.images",
        sp-click = "productCtrl.switchProductShowImage"
        sp-mouse-enter = "productCtrl.switchProductShowImage_onMouseEnter"
        >
    </sp-vertical-carousel><!--
    --><div class="product-image" ng-click="productCtrl.setFullScreen(true)" aria-label="{{productCtrl.product | productName:false:'long'}}" role="{{!productCtrl.isFullScreen ? 'button' : ''}}">
        <div class="actual-image" ng-if="productCtrl.shownImage.typeId === $root.IMAGE_TYPES.IMAGE"
             sp-image-zoom="{{productCtrl.shownImage.url | image:'large'}}"
             zoomed-image="{{productCtrl.shownImage.url | image:'x-large'}}"
             controls-zoom="productCtrl.zoomControlsOptions"
             mode="productCtrl.isFullScreen ? $root.spImageZoom.IMAGE_ZOOM_MODES.ZOOM_CONTROLS : $root.spImageZoom.IMAGE_ZOOM_MODES.NONE"
             alt="{{productCtrl.product | productName:false:'long'}}"
             ng-class="{'disabled': productCtrl.product.branch.isOutOfStock == true}"></div>
        <div class="actual-image" ng-if="productCtrl.shownImage.typeId === $root.IMAGE_TYPES.IMAGE360"
             sp360 images-directory="{{productCtrl.shownImage.url | image:'large'}}" pattern="%COL.jpg"
             number-of-images="productCtrl.shownImage.imagesLength" initial-image-index="0"
             zoom-out="productCtrl.image360ZoomOut(zoomIndex)" enable-zoom-out="true"
             reset-zoom="productCtrl.resetZoom = callback"
             zoom-buttons="!!productCtrl.isFullScreen" clickable-area="!!productCtrl.isFullScreen"
             ng-class="{'disabled': productCtrl.product.branch.isOutOfStock == true}"></div>
        <div ng-if="productCtrl.product.branch.isOutOfStock" class="product-image-overlay">
            <span ng-if="!productCtrl.product._suggestions || productCtrl.product._suggestions.length == 0" class="out-of-stock">{{'Out of stock' | translate}}</span>
            <span class="general-image-wrapper" ng-if="productCtrl.product._suggestions && productCtrl.product._suggestions.length > 0">
                <span class="out-of-stock suggestions text-1" ng-click="productCtrl.openSuggestions($event); $event.stopPropagation()">{{'Out of Stock' | translate}}</span>
                <span class="out-of-stock suggestions text-2" ng-click="productCtrl.openSuggestions($event); $event.stopPropagation()">
                    <span><svg class="replace-arrow" focusable="false"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{'#sp-icons-replace-arrow-' + $root.config.language.direction}}"></use></svg></span>
                    <span>{{'replace_2' | translate}}</span>
                </span>
                <span class="suggestions outline">
                    <svg class="outline-large" focusable="false"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#sp-icons-out-of-stock-outline"></use></svg>
                    <svg class="outline-small" focusable="false"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#sp-icons-out-of-stock-outline-small"></use></svg>
                </span>
            </span>
        </div>
    </div><!--
    --><div ng-if="productCtrl.product.branch.ageRestriction" class="age-icon-wrapper">
        <span class="age-icon bold" ng-bind="'+' + productCtrl.product.branch.ageRestriction"></span>
    </div><!--
    --><div class="product-data">
        <div class="product-data-wrap"  ng-class="{'disabled': productCtrl.product.branch.isOutOfStock == true}" sp-read-more-link listen-to="productCtrl.legalTextHeight" current-height="productCtrl.dataWrapHeight">
            <div class="brand-and-weight secondary-font" ng-bind="(productCtrl.product.brand.names | name) + (productCtrl.product.brand.names && productCtrl.product.weight ? ' | ' : '') + (productCtrl.product.weight ? (productCtrl.product | productWeight:productCtrl.product.isCaseMode) : '')">
                <div class="clear"></div>
            </div>

            <div class="title-border-bottom">
                <h2 id="product_dialog_title" class="name secondary-font" ng-bind="productCtrl.product | productName:false:'long'"></h2>
            </div>

            <div class="product_top_description"
                 ng-if="productCtrl.product.categoryType === $root.CATEGORIES_TYPES.LARGE_ITEMS"
                 ng-bind-html="(productCtrl.product.data | name).description | trustHtml"></div>
            <div class="arrows-buttons" ng-if="productCtrl.itemsData">
                <button class="previous" ng-disabled="productCtrl.itemsData.index == 0" ng-click="productCtrl.previousProduct();" aria-label="{{'Previous product' | translate}}"></button>
                <button class="next" ng-disabled="productCtrl.itemsData.index + 1 >= productCtrl.itemsData.total" ng-click="productCtrl.nextProduct();" aria-label="{{'Next product' | translate}}"></button>
            </div>
            <div class="items-in-case" ng-if="productCtrl.product.isCaseMode">
                <span class="for-vertical-align"></span>
                <span ng-bind="productCtrl.product.isCaseMode ? (('Case of' | translate) + ' ' + productCtrl.product.branch.case.items + ' ' + (productCtrl.product.isWeighable ? ($root.defaultWeightUnit.names | name) : '')): '' "></span>
            </div>

            <div class="clear"></div>

            <div class="origin-country-wrapper"
                 ng-if="productCtrl.hasOriginCountry">
                <div class="origin-country-title">
                    <span>{{'country_of_origin_title' | translate}}:</span>
                    <span class="country-name">{{(productCtrl.product.branch.countryOfOrigin[$root.config.language.id] ? productCtrl.product.branch.countryOfOrigin[$root.config.language.id] : productCtrl.product.branch.countryOfOrigin[$root.config.retailer.languageId]).toUpperCase()}}</span>
                </div>
                <div class="origin-country-legal-text-wrap" sp-read-more-link current-height="productCtrl.legalTextHeight" listen-to="productCtrl.dataWrapHeight">
                    <div class="origin-country-legal-text"
                         ng-if="$root.config.retailer.settings.isAgProductsOriginLegalTextActive"
                         ng-bind-html="($root.config.retailer.settings.agProductsOriginLegalText[$root.config.language.id] || ('origin_country_legal_text' | translate)) | trustHtml">
                    </div>
                </div>
            </div>

            <div class="clear"></div>

            <div class="supervisions" ng-if="productCtrl.product.supervisions && productCtrl.product.supervisions.length">
                <div ng-repeat="supervision in productCtrl.product.supervisions" class="supervision">
                    <div class="img-container">
                        <img ng-src="{{supervision.imageUrl || supervision.image}}" alt="{{supervision.name}}">
                    </div>
                </div>
            </div>

            <div class="clear"></div>

            <div class="product-tags-list" ng-if="productCtrl.productTags.length" ng-class="'product-tags-cnt-' + productCtrl.productTags.length">
                <product-tag-line ng-repeat="productTag in productCtrl.productTags" product-tag="productTag" text-prop="displayName"></product-tag-line>
            </div>

            <div class="clear"></div>

            <div class="specials" ng-if="productCtrl.productSpecials && productCtrl.productSpecials.length && $root.config.retailer.settings.isNewPromotionDesignEnabled !== 'true'">
                <div ng-repeat="special in productCtrl.productSpecials | orderBy:['loyaltyClubsIds.length', '-special.firstLevel.type'] track by special.id"
                    id="product_special_{{special.id}}"
                    class="special"
                    ng-class="{'loyalty-special': special.loyaltyClubsIds && special.loyaltyClubsIds.length}">
                    <sp-sale-icon product-special="special"></sp-sale-icon>
                    <div class="description" special-description-split="{{special.descriptions && special.descriptions[$root.config.language.culture] ? special.descriptions[$root.config.language.culture] : special.description}}"></div>
                    <div class="expiration"
                         ng-if="$root.config.retailer.showSpecialsValidity"
                         ng-bind="($root.config.retailer.settings.isNewPromotionDesignEnabled === 'true' ? ('special_exp_new' | translate) : ('special_exp' | translate)) + ' ' + (special.endDate | date: ($root.config.isUs ? 'MM/dd/yyyy' : 'dd/MM/yyyy'):'UTC')"></div>
                    <div class="disclaimer">
                        <sp-special-disclaimer
                                start-date="special.startDate"
                                end-date="special.endDate"
                                purchase-limit="special.limit">
                        </sp-special-disclaimer>
                    </div>
                </div>
            </div>

            <sp-promotion product="productCtrl.product" is-product="true" ng-if="productCtrl.product.branch.specials.length && $root.config.retailer.settings.isNewPromotionDesignEnabled === 'true'"></sp-promotion>
        </div>

        <div class="product-properties" ng-if="productCtrl.product.productProperties && productCtrl.product.productProperties.length">
            <div class="product-property">
                <label>
                    <span class="property-name" ng-bind="(productCtrl.productProperty.names | name) + ': '"></span>
                    <div class="dropdown-wrapper">
                        <div class="error-text" ng-if="productCtrl.showPropertyError">
                            {{'Please select' | translate}}
                        </div>
                        <sp-dropdown sp-model="productCtrl.selectedPropertyValue" class="transparent-arrow input"
                                    ng-class="{'is-empty': !productCtrl.selectedPropertyValue}"
                                    sp-change="productCtrl.onPropertyValueChanged()">
                            <sp-text>
                                <span ng-if="!productCtrl.selectedPropertyValue">{{'Select' | translate}}</span>
                                <span ng-if="productCtrl.selectedPropertyValue" class="selected-value">{{productCtrl.selectedPropertyValue.names | name:'name'}}</span>
                            </sp-text>
                            <sp-option ng-repeat="value in productCtrl.productProperty.values"
                                    sp-value="value"
                                    sp-selected="value.id === productCtrl.selectedPropertyValue.id">
                                <div class="value-name">{{value.names | name: 'name'}}</div>
                                <div class="value-desc">{{value.names | name: 'description'}}</div>
                            </sp-option>
                        </sp-dropdown>
                    </div>
                </label>
            </div>
        </div>
        <p class="product-bottle-deposit-disclaimer" ng-if="$root.config.retailer.settings.showPriceWithoutBottleDeposit && productCtrl.product.branch.linkedProductPrice">{{$root.config.retailer.settings.disclaimerOnProductPages[$root.config.language.id] || ('Price does not include bottle deposit' | translate)}}</p>
        <div class="bottom" ng-class="{'new-promotion': $root.config.retailer.settings.isNewPromotionDesignEnabled === 'true'}">
            <sp-unit-weight product="productCtrl.product" cart-line="productCtrl.getLine()" ng-if="productCtrl.product.productDisplayModeId === $root.PRODUCT_DISPLAY.WEIGHT_AND_UNIT.id && $root.config.retailer.enableSwitchUnitWeight && $root.util.isUnitsWeighable(productCtrl.product)" product-id="productCtrl.product.id"></sp-unit-weight>

            <div class="cta-container">
                <div class="price-and-actions">
                    <sp-product-price
                            ng-class="{'with-estimate': productCtrl.getLine().quantity && !productCtrl.product.isCaseMode && $root.util.isUnitsWeighable(productCtrl.product), 'disabled': productCtrl.product.branch.isOutOfStock == true}"
                            regular-price="productCtrl.product | regularPrice:productCtrl.product.isCaseMode"
                            sale-price="!productCtrl.product.isCaseMode && (productCtrl.product | salePrice)"
                            pack-quantity="productCtrl.isPack && productCtrl.product.branch.packQuantity"
                            product="productCtrl.product"
                            show-weight-unit="!productCtrl.product.isCaseMode && productCtrl.product.isWeighable">
                    </sp-product-price>

                    <product-actions ng-class="{'disabled': productCtrl.product.branch.isOutOfStock == true && productCtrl.product._suggestions && productCtrl.product._suggestions.length > 0}"
                                    ng-click="$event.stopPropagation();"
                                    product="productCtrl.product"
                                    is-case="productCtrl.product.isCaseMode"
                                    is-pack="productCtrl.isPack"
                                    est-text="{{'Est. total weight' | translate}}"
                                    product-property-value="productCtrl.selectedPropertyValue"
                                    show-error="productCtrl.showPropertyError">
                    </product-actions>
                </div>
                <div class="shopping-list-and-comments">
                    <div class="shopping-lists">

                        <sp-dropdown class="transparent-arrow" id="saveDropDown" ng-show="productCtrl.isLoggedIn">
                            <sp-text>
                                <svg focusable="false"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#sp-icons-add-to-list"></use></svg>
                                <span ng-bind="'Save to shopping list' | translate" class="text"></span>
                            </sp-text>
                            <sp-option class="title">
                                <span class="shop-list-input">
                                    <input ng-model="productCtrl.shopListName" ng-click="$event.stopPropagation();" type="text" placeholder="{{'New list name' | translate}}"/>
                                </span>
                                <span class="shop-list-btn" ng-click="productCtrl.createNewShopList()" ng-bind="'Create' | translate"></span>
                            </sp-option>
                            <sp-option ng-repeat="shopList in productCtrl.dontContainProductList track by $index" sp-click="productCtrl.saveToShopList(shopList)">
                                {{shopList.Name}}
                            </sp-option>
                        </sp-dropdown>
                    </div>
                    <div ng-if="productCtrl.savedToShopList">
                        <span  ng-bind="('Saved in' | translate) + ' ' + productCtrl.savedToShopList" class="text"></span>
                    </div>
                    <sp-cart-line-comments ng-if="productCtrl.getLine().quantity"
                                        sp-line="productCtrl.getLine()"
                                        show-product-property="false">
                    </sp-cart-line-comments>
                </div>
            </div>
        </div>

        <sp-product-pricing-method
            ng-if="!productCtrl.isFullScreen"
            is-case="productCtrl.product.isCaseMode"
            is-pack="productCtrl.isPack"
            product="productCtrl.product"
            on-toggle="productCtrl.pricingMethodToggle()">
        </sp-product-pricing-method>

    </div>
    <div class="clear"></div>
    <div class="similar-products" ng-if="productCtrl.product.branch" ng-class="{ 'hide-carousel': !productCtrl.showSimilarProducts }">
        <h2 class="title" ng-bind="productCtrl.productPageCarouselContent === $root.PRODUCT_PAGE_CAROUSEL_CONTENT.SPECIAL_PRODUCTS ? ('Additional Special\'s Variety' | translate) + ' - ' + ($root.config.retailer.settings.isNewPromotionDesignEnabled === 'true' ? ($root.config.retailer.settings.showPriceWithoutBottleDeposit && productCtrl.productSpecials[0].names[$root.config.language.id].promotionTagWithoutDeposit) ? productCtrl.productSpecials[0].names[$root.config.language.id].promotionTagWithoutDeposit : productCtrl.productSpecials[0].names[$root.config.language.id].promotionTag : productCtrl.productSpecials[0].description) : ('Similar Products' | translate)"></h2>
        <sp-carousel
            template-url="template/dialogs/product/partials/product-carousel/index.html"
            load-more-items="productCtrl.loadSimilarProducts"
            item-width="150"
            item-class="product clickable"
            functions="productCtrl.similarProducts"
            sp-click="productCtrl.openProduct"
            refresh-event="productCtrl.products.similar.added"
            watchers="productCtrl.similerProductsCarouselWatchers">
        </sp-carousel>
    </div>
</div>

<ng-include src="'template/dialogs/product/partials/product-data/index.html'"></ng-include>

