$small-mg: 12px;

$disclaimerArrowSize: 1em;
$disclaimerToolTipWidth: 14em;
$font-color: #606060;
$red: #be4b2a;

$product-image-width: 57%;
$product-image-height: 31em;
$image-control-width: 4%;

.separate-produce-hide-sidenav{
  display: none;
}

.separate-product-wrapper {

  .overlay {
    height: 100% !important;
    z-index: 80 !important;
    background: white !important;
  }


  .dialog {
    height: calc(100vh - #{$headerHeight});
    margin-top: $headerHeight;
    z-index: 83;

    .dialog-focus-trap {
      position: absolute;
    }

    .dialog-body {
      outline: none;

      .product-more-info {
        padding-bottom: 5em !important;
      }

      .bread-crumbs-wrapper {

        display: flex;
        justify-items: center;
        align-items: baseline;
        align-content: center;

        .back-button {
          z-index: 3;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          padding: 0.5em;
          background: #FFFFFF;
          border: 2px solid;
          box-sizing: border-box;
          border-radius: 1.875em;

          &:hover {
            background-color: white;
          }

          .ltr & {
            margin-right: 1em;
          }

          .rtl & {
            margin-left: 1em;
          }


          > * {
            display: inline-block;
            vertical-align: middle;
          }

          > svg {
            width: 1.5em;
            height: 1em;

            .rtl & {
              @include flipH();
            }
          }

          .ltr & {
            right: 1em;
          }

          .rtl & {
            left: 1em;
          }
        }

        .bread-crumbs {
          pointer-events: all;
          padding-bottom: 2em;

          .category {
            cursor: pointer;
          }

          > span {
            &:after {
              content: ' > ';
              display: inline;
            }

            &:last-child:after {
              content: none;
              display: none;
            }

            > a {
              font-weight: 700;

              &:hover {
                border-bottom-width: 2px;
                border-bottom-style: solid;
              }
            }
          }
        }


      }

    }

    .close-dialog-corner-button {
      display: none !important;
    }
  }

}

div.dialog.product {
  overflow: auto;

  &.animation-active {
    overflow: hidden;
  }

  > .dialog-body {
    width: 70%;
    max-width: 1130px;
    max-height: none;
    padding: 3em 2em 2em 2em;
    overflow: visible;

    > .full-screen-back {
      display: none;
      position: absolute;
      top: 1em;
      text-decoration: underline;

      > * {
        display: inline-block;
        vertical-align: middle;
      }

      > svg {
        width: 1.5em;
        height: 1em;

        .ltr & {
          @include flipH();
        }
      }

      .ltr & {
        right: 1em;
      }

      .rtl & {
        left: 1em;
      }
    }

    > .close-dialog-corner-button {
      top: 0.6em;
      right: 0.6em;
    }

    .disabled {
      opacity: 0.35;
      pointer-events: none;
    }

    >.product-details {
      display: block;
      position: relative;
      outline: none;

      &.with-images-control {
        > .images-control {
          display: inline-block;
        }

        > .product-image {
          width: $product-image-width - $image-control-width;
        }
      }

      > * {
        @include box-sizing(border-box);
      }

      > .images-control {
        display: none;
        width: $image-control-width;
        height: $product-image-height;
        overflow: hidden;
        vertical-align: top;
        box-sizing: border-box;

        > button {
          height: 2.6em;
          width: 2.6em;
          margin: 2px 2px 6px 0;
          padding: 3px;
          box-sizing: border-box;
          border: 1px solid #C8C8C8;

          > img {
            width: 100%;
            height: 100%;
            object-fit: fill;
          }
        }
      }

      .title-border-bottom {
        border-bottom: 1px solid #e4e4e4;
        padding-bottom: 0.7em;
      }

      .origin-country-wrapper {
        border-bottom: 1px solid #e4e4e4;
        padding-bottom: 1em;
        padding-top: 1em;

        .origin-country-title {
          font-size: 0.9em;

          .country-name {
            background-color: #ececec;
            padding: 0.1em 0.7em;
            border-radius: 170px;
            margin: 0 0.3em;
          }
        }

        .origin-country-legal-text-wrap {
          max-height: 5em;
          overflow: hidden;
          position: relative;

          .origin-country-legal-text {
            font-size: 0.7em;
            line-height: 1.2em;
            color: #616161;
            padding-top: 0.5em;
          }
        }
      }

      &.large-items-product-details {
        .title-border-bottom {
          border-bottom: none;
          padding-bottom: 0;
        }

        .product-image img.image {
          object-fit: contain;
          object-position: center center;
        }

        > .images-control > button > img {
          object-fit: cover;

          &.thumb360 {
            object-fit: contain;
          }
        }
        > .sp-vertical-carousel > items > ng-include > div > img {
          object-fit: cover;
          
          &.thumb360 {
            object-fit: contain;
          }
        }
      }

      > .product-image {
        $productImagePadding: 1%;
        display: inline-block;
        vertical-align: top;
        width: $product-image-width;
        height: $product-image-height;
        padding: 0 $productImagePadding;
        text-align: center;
        position: relative;
        outline: none;

        > .actual-image {
          width: 100%;
          height: 100%;
          overflow: hidden;
          cursor: zoom-in;
        }
        .disabled {
          opacity: 0.35;
          pointer-events: none;
        }
        > .product-image-overlay {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          z-index: 1;
          display: flex;
          justify-content: center;
          align-items: center;
          
          > .out-of-stock {
            position: absolute;
            top: 50%;
            height: 2em;
            line-height: 2em;
            padding: 0 0.4em;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            text-align: center;
            margin-top: -0.75em;
            color: #ffffff;
            font-size: 1.5em;
            white-space: nowrap;
            background-color: #F86B2F;
            width: auto;
            left: 50%;
            transform: translateX(-50%);
            opacity: 1;
          }

          .general-image-wrapper {
            .suggestions.outline {
              left: 50%;
              transform: translateX(-50%);
            }
            .out-of-stock.suggestions {
              font-size: 0.75em;
              font-weight: 700;
              left: 50%;
              transform: translateX(-50%);
              z-index: 4;
        
              &.text-1 {
                color: #F86B2F;
                top: 46.5%;
              }
              &.text-2 {
                color: #505050;
                top: 49%;
              }
            }
            .suggestions.outline {
              top: 43%;
            }
          }
        }
      }

      > .age-icon-wrapper {
        position: absolute;
        top: 2em;
        left: 2em;
        text-align: center;

        .age-icon {
          display: inline-block;
          direction: ltr;
          padding: 0.3em;
          border-radius: 100%;
          color: white;
          background-color: $red;
          font-size: 1.8em;
          line-height: 1.8em;
        }
      }

      > .product-data {
        position: relative;
        display: inline-block;
        vertical-align: top;
        width: 100% - $product-image-width;
        min-height: $product-image-height;
        padding: 0 0 0 1em;

        > .product-data-wrap {
          max-height: 24.2em;
          min-height: 24.1em;
          overflow: hidden;
          position: relative;
        }

        .product-properties {
          .product-property {
            .property-name {
              max-width: 12.5em;
              vertical-align: middle;
            }

            .dropdown-wrapper {
              vertical-align: middle;
              position: relative;
              display: inline-block;
              width: 50%;

              .error-text {
                bottom: 110%;
                position: absolute;
                color: #c20202;
              }

              sp-dropdown {
                z-index: 4;

                .sp-dropdown-text {
                  overflow: hidden;

                  .selected-value {
                    font-weight: 700;
                    color: #000000;
                  }
                }

                &.is-empty {
                  background-color: #FFFBD4;
                }
              }

              .sp-dropdown-options-wrapper {
                max-height: 25em;
                left: 0;
                right: -50%;
                border: 2px solid #787878;
                border-radius: 4px;

                .sp-option {
                  border-bottom: 1px solid #DBD9DA;

                  .option-link {
                    padding: 0.5em 0;

                    .value-name {
                      font-weight: bold;
                      padding-bottom: 0.3em;
                    }

                    .value-desc {
                      font-size: 0.8em;
                      line-height: 1.2em
                    }
                  }

                  &.active {
                    color: #ffffff;
                  }

                  &:hover {
                    background-color: #F7F7F9;
                  }
                }
              }
            }
          }
        }

        .name {
          font-size: 1.5em;
          line-height: 1.1em;
          color: #333333;
          margin: 0.2em 0 0.2em 0;
          width: 76%;
          padding: 0;
        }

        .product_top_description {
          font-size: 0.875em;
          line-height: 1.4em;
          border-bottom: 1px solid #E4E4E4;
          padding-bottom: 0.7em;
        }

        .brand-and-weight {
          font-size: 0.875em;
          color: #606060;
        }

        .items-in-case {
          height: 2em;
          padding: 0.5em 0;
          border-bottom: 1px solid #E4E4E4;
        }

        .arrows-buttons {
          position: absolute;
          top: 0;
          right: 0;
          left: auto;

          > button{
            margin: 0 1px;
          }
        }

        .supervisions {
          border-bottom: 1px solid #E4E4E4;
          padding-bottom: 0.7em;

          .supervision {
            font-weight: 700;
            color: #606060;
            margin: 0.5em 0;
            display: inline-block;
            padding-right: 0.5em;

            .img-container {
              display: inline-block;
              text-align: center;

              img {
                max-height: 3em;
                max-width: 4em;
                vertical-align: middle;
              }
            }
            span {
              vertical-align: middle;
              padding: 0 0.5em;
            }
          }
        }

        .product-tags-list {
          border-bottom: 1px solid #E4E4E4;
          display: flex;
          flex-wrap: wrap;
          padding: 0.5em 0em 1.1em 0em;

          product-tag-line {
            width: 32%;
            display: inline-block;
            padding: 0.8em 0 0.2em 0;

            img {
              width: 2em;
              height: 1.5em;
            }

            .tool-tip {
              padding: 0;
              margin: 0 0.2em;
              font-size: 0.8em;
              line-height: 1.2em;
              height: 1.2em;
              display: inline-block;
              width: fit-content;
            }
          }

          &.product-tags-cnt-1 product-tag-line {
            width: 99%;
          }

          &.product-tags-cnt-2 product-tag-line {
            width: 50%;
          }
        }

         .specials {
          overflow: visible;
           border-bottom: 1px solid #E4E4E4;
           padding-bottom: 0.7em;


           .special {
            position: relative;
            $specialVerticalPadding: 0.5em;
            padding: $specialVerticalPadding 3em $specialVerticalPadding 3em;
            overflow: visible;

            $saleIconWidth: 2.5em;
            .sp-sale-icon {
                position: absolute;
                top: $specialVerticalPadding;

                .ltr & {
                  left: 0;
                  right: auto;
                }

                .rtl & {
                  right: 0;
                  left: auto;
                }
            }

            .description {
               color: #D6353A;
               font-weight: 700;
            }

            .expiration {
               margin-top: 0.4em;
               font-size: 0.9em;
            }

            .disclaimer {
              margin-top: 0.4em;
              font-size: 0.8em;
            }

           }
        }

        .bottom {
          display: flex;
          flex-direction: column;
          width: 100%;

          &.new-promotion {
            border-top: 1px solid #E4E4E4;
          }

          .sp-unit-weight {
            margin-top: $small-mg;
            align-self: flex-start;
          }

          > .cta-container {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            .price-and-actions {
              width: 45%;

              .sp-product-price {
                padding: 0.8em 0 0.4em 0;
                font-size: 1.375em;

                &.with-estimate{
                  padding-bottom: 1.2em;
                }
              }

              .product-actions {
                height: 2.313em;

                > .sp-quantity {
                  > .est-weight {
                    top: -1.5em;
                  }
                }

                button {
                  &.add-to-cart {
                    width: 100%;
                  }
                }
              }
            }

            .shopping-list-and-comments {
              width: 45%;
              margin: 0 0 0 1em;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              position: relative;
              z-index: 1;

              .rtl & {
                margin: 0 1em 0 0;
              }

              .shopping-lists {
                padding: 0;
                height: 2em;
                vertical-align: bottom;
                margin-top: auto;

                sp-dropdown {
                  width: 100%;
                  height: 100%;
                  z-index: 3;

                  .sp-dropdown-text {
                    width: 100%;
                    height: 100%;
                    font-size: 0.8em;
                    outline: none;
                    padding: 0;

                    .text {
                      padding: 0 0.5em;
                    }

                    svg {
                      width: 2em;
                      height: 2em;
                    }

                    .arrow {
                      display: none;
                    }
                  }

                  .sp-dropdown-options-wrapper {
                    background-color: #ffffff;
                    width: 120%;
                    left: 0;
                    right: auto;

                    .rtl & {
                      left: auto;
                      right: 0;
                    }

                    span {
                      outline: none;
                    }

                    .title {

                      .option-link {
                        display: flex;
                        vertical-align: middle;
                        align-items: center;

                        .shop-list-input {
                          width: 70%;
                          display: inline-block;

                          input {
                            padding: 0.2em 0.3em;
                            font-size: 0.9em;
                          }
                        }

                        .shop-list-btn {
                          width: 30%;
                          text-align: center;
                          display: inline-block;
                          font-size: 0.8em;

                          &:hover {
                            text-decoration: underline;
                          }
                        }
                      }
                    }
                  }

                }
              }

              .cart-line-comments-wrapper {
                margin-top: 0.4em;

                .cart-line-comments-input-wrapper {
                  height: 2.313em;

                  .cart-line-comments-input {
                    height: 100%;
                  }
                }

                .cart-line-comments {
                  line-height: 2.313em;
                  max-width: 100%;
                }
              }
            }
         }

        }

        .product-pricing-method {
          left: -1em - $pricingMethodWidth;
          bottom: 0;
        }
      }

      > .similar-products {
        position: relative;
        border-top: 1px solid #E4E4E4;
        margin: 1.6em 0 0 0;
        height: 18em;

        &.hide-carousel {
          display: none;
        }

        .sp-carousel {
           height: 14em;

          .item.product sp-product {
            .name {
              font-weight: normal;
            }

            .image-wrapper {
              margin: 0.4em;
              padding: 0;
              width: auto;

              .general-image-wrapper {
                .suggestions.outline {
                  left: 50%;
                  transform: translateX(-50%);
                  top: 32%;
                }
                .out-of-stock.suggestions {
                  font-size: 0.65em;
                  font-weight: 700;
                  left: 50%;
                  transform: translateX(-50%);
                  z-index: 4;
            
                  &.text-1 {
                    color: #F86B2F;
                    top: 46%;
                  }
                  &.text-2 {
                    color: #505050;
                    top: 55%;
                  }
                }
              }
            }
          }
        }

        > h2.title {
          display: block;
          padding: 0;
          height: 1em;
          @include box-sizing(border-box);
          color: #999999;
          font-size: 1em;
          margin: 1em 0 0.5em 0;
        }

        .item.product {
          font-size: 0.9em;
          padding: 0.6em;

          > sp-product {
            > .actions {
              top: auto;
              bottom: 44%;

              > * {
                width: 100%;
              }

              > button.add-to-cart {
                width: 72%;
              }

              .sp-quantity {
                width: 72%;

                &.weighable {
                  width: 78%;
                  > .btns-row > .quantity-wrapper {
                    > sp-vertical-value-slider {
                      width: 63%;
                    }

                    > .additional-text.weight {
                      width: 37%;
                    }
                  }
                }
              }
            }

            > .sale-icon {
              height: 2.5em;
            }

            > .image-wrapper {
              height: 59%;
              padding-bottom: 0.5em;
            }

            > .name {
              height: 22%;
            }

            > .product-price {
              padding-top: 0;

              &.width {
                max-width: 58%;
                box-sizing: border-box;
              }
            }

            > .sp-cart-line-count {
              max-width: 42%;
              font-size: 0.8em;

              > .count-wrapper {
                padding: 0.3em 0.5em;
              }
            }

            .data {
              > * {
                font-size: 0.75em;
              }
              .brand {
                max-width: 47%;
                text-overflow: ellipsis;
              }

              .weight {
                width: 52%;
              }
            }

            &.large-product > .sp-cart-line-count {
              margin: 0;
            }
          }
        }
      }
    }

    &.full-screen-image {
      .close-dialog-corner-button {
        display: none;
      }

      > .full-screen-back {
        display: block;
      }

      .product-details {
        &.with-images-control {
          .product-image {
            width: 100% - $image-control-width;

            .ltr & {
              left: $image-control-width;
            }

            .rtl & {
              right: $image-control-width;
            }
          }
        }

         .product-image {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            z-index: 5;
            background-color: #fff;

            > * {
              display: none;
            }

            > .actual-image {
              display: block;
              cursor: default;
            }
         }

        > .similar-products, > .product-details {
          visibility: hidden;
        }

        &.large-items-product-details .product-image img.image {
          width: auto;
          height: auto;
          object-fit: unset;
          object-position: unset;
        }
      }
    }
  }
  .sp-vertical-carousel {
    width: $image-control-width;
    height: $product-image-height;
    >.items {
      ng-include {
        > div {
            height: 2.6em;
            width: 2.6em;
            margin: 0 auto 0.4em auto;
            padding: 2px;
            box-sizing: border-box;
            border: 1px solid #C8C8C8;

            > img {
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
        }
      }
    }
  }
}

.product-bottle-deposit-disclaimer {
  margin-bottom: 10px;
}

.rtl {
  div.dialog.product > .dialog-body {

    > .product-details > .age-icon-wrapper {
      left: auto;
      right: 2em;
    }
    > .product-details {
      > .product-data {
        padding: 0 1em 0 0;

         .arrows-buttons {
          left: 0;
          right: auto;
        }

         .bottom > .cart-line-comments-wrapper {
          padding-left: 0;
          padding-right: 1em;
        }

        .product-pricing-method {
          right: -1em - $pricingMethodWidth;
        }

        .supervisions .supervision {
          padding-right: 0;
          padding-left: 0.5em;
        }

      }
    }

    >.product-details>.product-data .product-properties .product-property .dropdown-wrapper .sp-dropdown-options-wrapper {
      right: 0;
      left: -50%;
    }
  }
}

@media screen and (max-width: 1300px) {
  div.dialog.product > .dialog-body {
    > .similar-products .item.product > sp-product {
      > .name {
        height: 18%;
      }
    }

    > .product-details > .name {
      font-size: 1.5em;
    }
  }
}

@media screen and (max-width: 1300px) {
  .rtl .sp-quantity > .btns-row > .quantity-wrapper > .weight {
    font-size: 0.6em;
  }
}

@media screen and (max-height: 770px) {
  div.dialog.product.with-more-details > .dialog-body {
    margin-top: 0;
  }

  div.dialog.product > .dialog-body > .product-details {
    font-size: 0.88em;
    min-height: 35em;

    .specials {
      font-size: 0.95em;
    }
  }
}

@media screen and (max-width: 1841px) {
  .shopping-list-and-comments .shopping-lists sp-dropdown {
    z-index: 10 !important;
  }
  .product-property .dropdown-wrapper sp-dropdown {
    z-index: 4 !important;
  }
}

.sell-date-dialog {
  .item {
    position: relative;
  }
  .image-wrapper {
    width: 90%;
    height: 46%;
    padding: 0;
    margin-top: 5%;
    margin-right: 5%;
    margin-left: 5%;
  }
  .btns-row, .item .product-actions {
    display: none;
  }
}