div.dialog.product > .dialog-body {

  .back-button {
    color: $mainColor;
    fill: $mainColor;
  }

  .bread-crumbs {
    * {
      color: gray;

      &.last {
        color: $mainColor;
      }
    }
  }
  > .product-details {
    > .images-control > button.active {
      border: 1px solid $mainColor;
      box-shadow: 0px 0px 0 2px $mainColor;
    }

    > .specials > .special {
      color: $highlightColor;

      &.loyalty-special {
        color: $loyaltyColor;
      }
    }

    >.product-data .product-properties .product-property .sp-dropdown-options-wrapper .sp-option {
      &.active, &.active:hover {
        background-color: $mainColor;
      }
    }

    > .similar-products {
      > h2.title {
        font-family: $defaultFontFamily;
      }
    }
  }

  .shopping-lists {
    sp-dropdown {
      .sp-dropdown-text {
        svg {
          fill: $mainColor;
        }
      }
    }
  }

  .product-more-info {
    .more-info-title-row {
      border-color: $mainColor;

      > .title {
        border-color: $mainColor;
        color: $mainColor;

        img {
          background-color: $mainColor;
        }
      }
    }
  }
}