<svg focusable="false">
    <use xlink:href="#sp-icons-promotion"></use>
</svg>

<h4 id="user_promotion_dialog_title">{{'Congratulations' | translate}}!</h4>
<h4 class="description" ng-if="promotion.invitationPromotionDescription || promotion.name">{{promotion.invitationPromotionDescription || promotion.name}}</h4>
<div class="names" ng-if="promotion.names" ng-repeat="name in promotion.names">
    {{(name | name).long}}
</div>

<button type="button" ng-bind=":: promotion.names ? 'Continue Shopping' : 'Shop Now' | translate" ng-click="$dialog.hide()"></button>