.user-promotion-dialog {
  .dialog-body {
    text-align: center;

    svg {
      height: 5.2em;
      width: 5.2em;
    }

    h4, .names {
      text-align: center;
      color: #606060;
      padding: 0.5em 1em;
      font-size: 1.4em;

      &.description {
        font-weight: bold;
      }
    }
  }
}