<div class="content no-store-content manual-focus-for-accessibility" tabindex="0">
    <form id="areaNotFoundForm" class="area-not-found" name="areaNotFoundForm" ng-submit="chooseAreaCtrl.areaNotFoundLog.submit();">

        <h1>{{chooseAreaCtrl.currentAdvancedAreaAvailabilitySettings.resultsPopupTitle[chooseAreaCtrl.currentSearchMessageMode.property] || chooseAreaCtrl.currentSearchMessageMode.defaultPopupTitle | translate}}</h1>

        <h2 class="sub-title secondary-font" id="area_not_found_sub_title">
            {{chooseAreaCtrl.currentAdvancedAreaAvailabilitySettings.resultsPopupSubTitle[chooseAreaCtrl.currentSearchMessageMode.property] || chooseAreaCtrl.currentSearchMessageMode.defaultPopupSubTitle | translate}}
        </h2>

        <div class="input">
            <input type="email" ng-model="chooseAreaCtrl.userEmail"
                   placeholder="{{:: 'Email Address' | translate}}" required/>

            <button type="submit" class="button-choose"  ng-disabled="areaNotFoundForm.$invalid"
                    ng-bind=":: 'Keep in Touch' | translate"
                    ng-style="{'background-color': chooseAreaCtrl.bgColor,'color': chooseAreaCtrl.textColor, 'transition': 'none'}"></button>
        </div>

        <button ng-click="chooseAreaCtrl.goToFilterAreas()" class="no-design try-different-address">
            {{'Try a different location' | translate}}
        </button>
    </form>

    <div class="customer-service" >
        <div ng-if="chooseAreaCtrl.currentAdvancedAreaAvailabilitySettings.contactDetails[chooseAreaCtrl.currentSearchMessageMode.property]">
            {{chooseAreaCtrl.currentAdvancedAreaAvailabilitySettings.contactDetails[chooseAreaCtrl.currentSearchMessageMode.property]}}
        </div>
        <div ng-if="!chooseAreaCtrl.currentAdvancedAreaAvailabilitySettings.contactDetails[chooseAreaCtrl.currentSearchMessageMode.property]">
            {{'Customer Service' | translate}}
            <br>
            {{$root.config.retailer.contactPhone}}
        </div>
    </div>
</div>
