.dialog-wrapper .dialog.choose-area-dialog {
  .dialog-body {
    .results-back-btn {
      position: absolute;
      top: 1em;
      color: #282828;
      font-weight: 400;

      .ltr & {
        left: 1em;
      }

      .rtl & {
        right: 1em;
      }
    }

    .no-store-content {
      .input {
        display: flex;
        width: 100%;
        justify-content: center;
        margin-top: 2em;
      }

      input[type="email"] {
        width: 17em;
        height: 3em;
        border: 1px solid #A0A0A0; 

        .rtl & {
          border-radius: 0 5px 5px 0;
          padding: 0 0.5em 0 0;
        }

        .ltr & {
          border-radius: 5px 0 0 5px;
          padding: 0 0 0 0.5em;
        }
      }

      .area-not-found {
        margin-top: 8em;
        padding: 0 5em;
      }
      
      .sub-title {
        font-size: 1.5em;
      }

      .try-different-address {
        margin: 3em auto;
        font-weight: 400;
        color: #000;
        display: block;
        cursor: pointer;
        text-decoration: underline;
        font-size: 1.5em;

        .ltr & {
          text-align: left;
        }
  
        .rtl & {
          text-align: right;
        }
      }

      .button-choose{
        width: 9em;
        height: 3em;
    
        .rtl & {
          border-radius: 5px 0 0 5px;
        }

        .ltr & {
          border-radius: 0 5px 5px 0;
        }
      }

      .customer-service{
        position: absolute;
        bottom: 1em;
        font-size: 1.5em;
        left: 0;
        right: 0;
      }
    }

  }
}