<div>
    <h1 class="detail-title left" id="page_title" tabindex="0">
        {{::'Customer Service' | translate}}
    </h1>
    <button ng-if="$root.config.retailer.settings.isHiddenCrmActive !== 'true'" class="right" ng-click="$root.util.openContactUs()">
        {{::'Contact us' |translate}}
    </button>
</div>

<div class="clear">
</div>

<div class="single-ticket"
     ng-if="customerServiceCtrl.tickets && customerServiceCtrl.tickets.length"
     ng-class="{'open-ticket': ticket.opened || customerServiceCtrl.tickets.length == 1, 'only-one': customerServiceCtrl.tickets.length == 1}"
     ng-repeat="ticket in customerServiceCtrl.tickets">
    <div class="basic" ng-click="customerServiceCtrl.toggleTicket(ticket)" aria-expanded="{{ticket.opened}}" aria-controls="{{'ticket_' + ticket.id}}">
        <img class="toggle-ticket right" ng-if="!ticket.opened"
             src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/slider-arrow-down.png" alt="">
        <img class="toggle-ticket right" ng-if="ticket.opened"
             src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/slider-arrow-up.png" alt="">

        <div class="ticket-name">
            {{::('Inquiry' | translate) + ' ' + ticket.id + ': ' + ticket.subject}}
        </div>
        <div class="ticket-details">
            {{ticket.normalizedDate | date: ($root.config.isUs ? 'MM/dd/yyyy &nbsp h:mma' : 'dd/MM/yyyy &nbsp HH:mm') : 'UTC'}} |
            {{::'Status' | translate }}: {{'ticket_status_' + ticket.statusId | translate}} |
            {{::'Comments' | translate}}: {{ticket.comments.length}}
        </div>
    </div>

    <div class="extra" aria-hidden="{{!ticket.opened}}" id="{{::'ticket_' + ticket.id}}">
        <div class="user-comment" ng-if="$root.config.retailer.settings.isHiddenCrmActive !== 'true'">
            <span class="comment-wrapper">
                <textarea placeholder="{{::'Type in your comment' | translate}}"
                          ng-disabled="!ticket.opened"
                          ng-model="ticket.newComment.comment" maxlength="3050"></textarea>
            </span><!--
            --><span class="attachment">
                <sp-file-input sp-model="ticket.newComment.attachment" placeholder="{{::'Drag files or browse...' | translate}}" sp-disabled="!ticket.opened"></sp-file-input>
            </span><!--
            --><span class="add-button-wrppaer">
                <span class="for-vertical-align"></span><!--
                --><button ng-click="customerServiceCtrl.createUserTicketComment(ticket)"
                           ng-disabled="!ticket.newComment.comment || !ticket.opened"
                           ng-bind="'Send' | translate">
                </button>
            </span>
        </div>
        <div style="margin-top: 0.5em" >
            <sp-table items="ticket.comments" style-class="high-columns" is-reverse="true" ng-if="ticket.opened">
                <sp-table-column title="{{::'Time' | translate}}" sort-by="createdDate" ng-disabled="!ticket.opened">
                    {{item.normalizedDate | date: ($root.config.isUs ? 'MM/dd/yyyy &nbsp h:mma' : 'dd/MM/yyyy &nbsp HH:mm') : item.local ?  '' :  'UTC'}}
                </sp-table-column>

                <sp-table-column title="{{::'Name' | translate}}" sort-by="commentById" ng-disabled="!ticket.opened">
                    {{item.commentById == item.userId ? ('Me' | translate) : ('Customer service' | translate)}}
                </sp-table-column>

                <sp-table-column title="{{::'Comment' | translate}}" style-class="text-align">
                    <p class="ticket-comment">
                        {{ item.comment}}
                    </span>
                </sp-table-column>

                <sp-table-column title="{{::'Attachments' | translate}}" style-class="text-align">
                    <a class="link-back" ng-href="{{att}}" target="_blank" ng-repeat="(index, att) in item.attachments" ng-disabled="!ticket.opened">
                        {{('Link' | translate) +' ' + (index+1)}}
                    </a>
                </sp-table-column>
            </sp-table>
        </div>
    </div>
</div>

<div ng-if="customerServiceCtrl.tickets && !customerServiceCtrl.tickets.length"
     ng-bind="'No Previous Inquiries' | translate" tabindex="0"></div>