<div  class="no-design">       
    <img alt="{{('Image thumbnail' | translate) + ' ' + (index + 1)}}" ng-src="{{chunk[0].url | image:'small'}}" ng-if="chunk[0].typeId === $root.IMAGE_TYPES.IMAGE"/>
    <img alt="{{'360 Image thumbnail' | translate}}" class="thumb360" src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/360-icon.png" ng-if="chunk[0].typeId === $root.IMAGE_TYPES.IMAGE360"/>
</div>