<td class="remove-btn" ng-if="!splitView">
    <button ng-click="removeItem(item)">
        <img src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/delete-icon.png"
            alt="{{:: 'remove from cart' | translate}}" />
    </button>
</td>
<td class="quantity" ng-class="{'disabled': item.isCouponActive === false}">
    <svg focusable="false" class="icon main-color">
        <use xlink:href="#sp-icons-coupon-indication"></use>
    </svg>
    <span class="audience bg-main-color"
        ng-if="item.loyaltyClubId !== $root.LOYALTY_CLUB_DRIVERS.CHIPPER && (item.special.icons[item.special.loyaltyClubsIds[0]][$root.config.language.id].description || item.special.icons[item.loyaltyClubsIds[0]][2].description)"
        ng-bind="item.special.icons[item.special.loyaltyClubsIds[0]][$root.config.language.id].description || item.special.icons[item.loyaltyClubsIds[0]][2].description">
    </span>
    <img class="audience"
        ng-if="item.product | productMainTag:$root.PermanentFilters.values[$root.PermanentFilters.TYPES.PRODUCT_TAGS]"
        ng-src="{{(item.product | productMainTag:$root.PermanentFilters.values[$root.PermanentFilters.TYPES.PRODUCT_TAGS]).languages | name:'iconResourceUrl'}}"
        alt="{{(item.product | productMainTag:$root.PermanentFilters.values[$root.PermanentFilters.TYPES.PRODUCT_TAGS]).languages | name:'displayName'}}" />
</td>
<td class="name">
    <div class="img">
        <div ng-if="item.isCouponActive === false" class="coupon-expired">{{'Expired' | translate}}</div>
    </div>
    <div class="data">
        <div class="title main-color" ng-class="{'disabled': item.isCouponActive === false}"
            ng-bind="('Coupon' | translate) + ':'">
        </div>
        <div class="name" ng-class="{'disabled': item.isCouponActive === false}"
            ng-bind="item.product | productName:item.isCase:'long'">
        </div>
    </div>
</td>
<td colspan="2" class="coupon-info" ng-class="{'disabled': item.isCouponActive === false}" ng-if="$root.cart.specialReminders.onCoupons[item.product.branch.specials[0].id] && !$root.cart.specialReminders.onCoupons[item.product.branch.specials[0].id].awarded">
    {{couponReminder = $root.cart.specialReminders.onCoupons[item.product.branch.specials[0].id];""}}
    <span class="error">
        <div class="error-tooltip"
             ng-if="$root.userCouponsById[item.product.id] && $root.userCouponsById[item.product.id].description">
            <div class="title">{{$root.userCouponsById[item.product.id].couponName || $root.userCouponsById[item.product.id].localName}}</div>
            <div class="description">{{$root.userCouponsById[item.product.id].description}}</div>
        </div>
        <span class="text" ng-bind="'coupon_requirements_error' | translate"></span>
        <span class="question-mark">?</span>
    </span>
    <button ng-if="!!couponReminder && item.isCouponActive"
            ng-click="$root.util.showCouponDetailsDialog(item.product);">
        <span ng-if="couponReminder.purchaseType === 1" 
            ng-bind="(( (couponReminder.remaining === 1 && 'add_unit_cart_coupon')  || ($root.COUPON_MEANINGLESS_REMAINING_VALUES.includes(couponReminder.remaining) && 'Add Products')  || 'add_units_cart_coupon') | translate).replace('{remaining}', couponReminder.remaining)">
        </span>
        <span ng-if="couponReminder.purchaseType === 2"
              ng-bind="('add_currency_cart_coupon' | translate).replace('{remaining}', couponReminder.remaining | currency)">
        </span>
        <span ng-if="couponReminder.purchaseType === 3"
              ng-bind="('add_measure_cart_coupon' | translate).replace('{remaining}', couponReminder.remaining).replace('{unit}', $root.defaultWeightUnit.names[$root.config.language.id])">
        </span>
        <span ng-if="!couponReminder.purchaseType"
              ng-bind="'Add Products' | translate">
        </span>
    </button>
</td>
<div class="actions-wrapper" ng-if="splitView">
    <button ng-click="removeItem(item)">
        <img class="remove-icon" src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/trash-small.png"
            alt="{{('remove from cart' | translate).replace('{cart}', $root.config.retailer.settings.setCartNameToBasket ? $root.config.retailer.settings.setCartNameToBasket : 'cart')}}" />
        <span>{{'Remove' | translate}}</span>
    </button>
   <!-- <button ng-if="!!$root.cart.specialReminders.onCoupons[item.product.branch.specials[0].id] && item.isCouponActive"
        ng-click="$root.util.showCouponDetailsDialog(item.product);" ng-bind="'Add Products' | translate">
    </button>-->
</div>