.dialog-wrapper .dialog.other-cart-found {
  .dialog-body .common-dialog {
    .common-dialog-content > div.content {
      font-size: 1.1em;
      text-align: center;

      > div {
        padding: 0.2em 0;
      }
    }

    > div.buttons {
      text-align: center;
      padding-top: 2em;

      > button {
        min-width: 12em;
        padding: 1em;
        @include border-radius(2px);
        margin-right: 1em;
        margin-left: 1em;
      }
    }
  }
}