.sp-inline-error {
  width: 12em;
  font-size: 0.85em;
  color: #ffffff;
  padding: 0.7em 0.6em;
  line-height: 1.2em;
  white-space: normal;
  letter-spacing: 1px;
  z-index: 90 !important;

  &.shown {
    display: inline-block;
  }
}