<div class="external-cart-wrapper">
    <div class="external-cart-header">
        <div class="image-wrapper">
            <img ng-src="{{::$root.config.retailer.logoUrl | image}}" alt="{{::$root.config.retailer.title}}"/>
        </div>
        <div class="name-wrapper">
            <span class="for-vertical-align"></span>
            <span ng-if="externalCartCtrl.externalName">
                <span class="name secondary-font">
                     {{::'Your products from a website' | translate}} {{::externalCartCtrl.externalName}}
                </span>
            </span>
        </div>
    </div>

    <div class="note">* {{::'Inventory availability may vary according to the delivery area' | translate}}</div>

    <div class="external-cart-details">
        <div class="shopping-list">
            <sp-arrows-button
                    label="{{::('Add' | translate) + ' ' + (externalCartCtrl.itemsWithQuantity > 1 ? externalCartCtrl.itemsWithQuantity : '') + ' ' + ('items to cart' | translate).replace('{cart}', $root.config.retailer.settings.setCartNameToBasket ? $root.config.retailer.settings.setCartNameToBasket : 'Cart')}}"
                    class="right"
                    ng-click="externalCartCtrl.addAllIngredientsToCart();">
            </sp-arrows-button>

            <div class="items">

                <div class="items-list" ng-repeat="cartLine in externalCartCtrl.cartLines">
                    <div class="product-item">
                        <div class="item-wrapper">
                            <span class="for-vertical-align"></span>
                            <span class="quantity">
                                {{$root.util.isWeightQuantity(cartLine.product) ? (cartLine.product | productWeight:false:null:cartLine.quantity) : cartLine.quantity}}
                            </span>
                            <product-image product="cartLine.product" image-key="images" size="small"></product-image>
                            <span class="name">
                                <span class="brand">{{cartLine.product.brand.names | name}}</span>
                                <span class="name" ellipsis title="{{(cartLine.product.names | name).short}}"></span>
                                <span class="weight" ng-if="cartLine.product.weight">{{cartLine.product.weight}} {{cartLine.product.unitOfMeasure.names | name}}</span>
                            </span>
                            <sp-product-price class="reverse-text-align"
                                              regular-price="cartLine.product | regularPrice"
                                              sale-price="cartLine.product | salePrice"
                                              show-weight-unit="cartLine.product.isWeighable"
                                              product="cartLine.product"
                                              hide-normalize-price="false">
                            </sp-product-price>

                            <div class="actions portrait">
                                <sp-quantity ng-click="$event.stopPropagation();"
                                             cart-line="cartLine"
                                             hide-cart="true"
                                             hide-weight="true"
                                             on-plus="externalCartCtrl.addProductQuantity(cartLine, 1)"
                                             on-minus="externalCartCtrl.addProductQuantity(cartLine, -1)"
                                             on-change="true"
                                             design="portrait"
                                             min-quantity="0">
                                </sp-quantity>
                            </div>
                            <div class="add-to-cart">
                                <span class="for-vertical-align"></span>
                                <sp-arrows-button color="white" ng-click="externalCartCtrl.addProductToCart(cartLine)"></sp-arrows-button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="items-list" ng-repeat="cartLine in externalCartCtrl.cartLinesMissing">
                    <div class="product-item">
                        <div class="item-wrapper">
                            <span class="for-vertical-align"></span>
                            <span class="quantity"></span>
                            <product-image product="cartLine.product" image-key="images" size="small"></product-image>
                            <span class="name">
                                <span class="brand">{{cartLine.product.brand.names | name}}</span>
                                <span class="name" ellipsis title="{{(cartLine.product.names | name).short}}"></span>
                                <span class="weight" ng-if="cartLine.product.weight">{{cartLine.product.weight}} {{cartLine.product.unitOfMeasure.names | name}}</span>
                            </span>
                            <span class="out-of-stock">{{'out of stock' | translate}}</span>
                        </div>
                    </div>
                </div>

                <div ng-if="externalCartCtrl.itemsNotFound" class="not-found-note">
                    {{::('Please note - we could not identify {number}' | translate).replace('{number}', externalCartCtrl.itemsNotFound)}}
                    {{::(externalCartCtrl.itemsNotFound > 1 ? 'more products' : 'more product') | translate}}
                    <span ng-if="externalCartCtrl.externalName">{{::('from the {name} website' | translate).replace('{name}', externalCartCtrl.externalName)}}</span>
                </div>

            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
