<div class="add-gift-card-dialog">
  <div id="add_gift_card_title" class="gift-card-dialog-header">
    <button class="close-btn no-design" ng-click="addGiftCardCtrl.close()"><img class="clickable close-dialog-corner" src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/close-popup.png" role="button" alt="close"/></button>
    <span ng-if="addGiftCardCtrl.giftCards.length === 1" class="title">{{addGiftCardCtrl.giftCardGeneralDisplay[$root.config.language.culture].popupTitle || ('Add GIFT CARD' | translate)}}</span>
    <span ng-if="addGiftCardCtrl.giftCards.length > 1" class="title">{{addGiftCardCtrl.giftCardGeneralDisplay[$root.config.language.culture].popupTitle || ('Choose GIFT CARD/S' | translate)}}</span>
  </div>

  <div class="gift-card-dialog-body">
    <div class="gift-cards-wrapper">
      <div class="gift-cards" ng-class="{'disabled-carousel': addGiftCardCtrl.giftCards.length < 6}">
        <sp-carousel ng-if="addGiftCardCtrl.giftCards.length > 1"
                     template-url="template/dialogs/add-gift-card/partials/carousel-item/index.html"
                     items="addGiftCardCtrl.giftCards"
                     functions="::addGiftCardCtrl.carouselActions"
                     item-class="gift-card-wrapper"
                     item-width="130"
                     rows="::1" data="::addGiftCardCtrl.carouselData"
                     scroll-by-item-width="true">
        </sp-carousel>
      </div>
      <div ng-if="addGiftCardCtrl.carouselData.selectedGiftCard" ng-class="{'cards-details-wrapper': addGiftCardCtrl.giftCards.length > 1}" class="card-details-wrapper card-details-wrapper-{{addGiftCardCtrl.giftCardsIndex[addGiftCardCtrl.carouselData.selectedGiftCard]}}" >

        <div class="card-name">
          <span>{{addGiftCardCtrl.carouselData.selectedGiftCard | paymentMethod | translate}}</span>
          <img ng-if="addGiftCardCtrl.giftCardDisplay.giftCardCover" src="{{addGiftCardCtrl.giftCardDisplay.giftCardCover}}" alt="gift card cover" />
        </div>
        <div class="error-wrapper" ng-if="!addGiftCardCtrl.carouselData.balanceToBePayed && !addGiftCardCtrl.carouselData.redeemedGiftCards[addGiftCardCtrl.carouselData.selectedGiftCard]">
          <span class="error-msg">*{{'לא ניתן להוסיף גיפט-קארד כאשר היתרה לתשלום בהזמנה היא 0' | translate}}</span>
        </div>

        <div ng-if="addGiftCardCtrl.carouselData.balanceToBePayed && !addGiftCardCtrl.carouselData.redeemedGiftCards[addGiftCardCtrl.carouselData.selectedGiftCard] || addGiftCardCtrl.carouselData.redeemedGiftCards[addGiftCardCtrl.carouselData.selectedGiftCard]" class="card-info">
          <div ng-if="addGiftCardCtrl.carouselData.selectedGiftCard !== $root.SP_PAYMENTS.PAYMENT_METHODS.IDS.TAV_PLUS ||
          addGiftCardCtrl.carouselData.selectedGiftCard === $root.SP_PAYMENTS.PAYMENT_METHODS.IDS.TAV_PLUS && addGiftCardCtrl.mainPaymentMethod === $root.SP_PAYMENTS.PAYMENT_METHODS.IDS.CREDIT_CARD">
            <div  class="card-details"
                  ng-if="!addGiftCardCtrl.carouselData.redeemedGiftCards[addGiftCardCtrl.carouselData.selectedGiftCard]"
                  ng-style="{ 'grid-template-columns': !addGiftCardCtrl.giftCardsData[addGiftCardCtrl.carouselData.selectedGiftCard].balance && addGiftCardCtrl.carouselData.selectedGiftCard !== $root.SP_PAYMENTS.PAYMENT_METHODS.IDS.MAX_GIFT_CARD ? '80% 20%' : '60% 40%' }">

              <div class="input-and-balance" ng-if="addGiftCardCtrl.carouselData.selectedGiftCard !== $root.SP_PAYMENTS.PAYMENT_METHODS.IDS.MAX_GIFT_CARD">
                <span class="gift-card-instruction" ng-if="!addGiftCardCtrl.giftCardsData[addGiftCardCtrl.carouselData.selectedGiftCard].balance">{{addGiftCardCtrl.giftCardDisplay.checkBalanceText || ('Please enter the card number to check the balance' | translate)}}</span>
                <div ng-if="!addGiftCardCtrl.giftCardsData[addGiftCardCtrl.carouselData.selectedGiftCard].balance" class="gift-card-number-input-wrapper">
                  <div class="gift-card-number-input-inner-wrapper">
                    <div class="input-wrapper">
                      <input class="gift-card-number-input" type="text" ng-pattern="addGiftCardCtrl.giftCardInputRegExp" ng-model="addGiftCardCtrl.giftCardsData[addGiftCardCtrl.carouselData.selectedGiftCard].number"/>
                      <button ng-if="!addGiftCardCtrl.giftCardsData[addGiftCardCtrl.carouselData.selectedGiftCard].balance && !addGiftCardCtrl.carouselData.selectedGiftCardData.isCvvRequired" class="check-btn"
                              ng-disabled="!addGiftCardCtrl.giftCardsData[addGiftCardCtrl.carouselData.selectedGiftCard].number"
                              ng-class="{'disabled-btn': !addGiftCardCtrl.giftCardsData[addGiftCardCtrl.carouselData.selectedGiftCard].number}"
                              ng-click="addGiftCardCtrl.checkGiftCard(addGiftCardCtrl.carouselData.selectedGiftCard, addGiftCardCtrl.giftCardsData[addGiftCardCtrl.carouselData.selectedGiftCard].number)">
                        {{'Check' | translate}}
                      </button>
                    </div>
  
                    <span class="tooltip-wrapper" ng-if="addGiftCardCtrl.giftCardDisplay.showTooltip">
<!--                      <span class="tooltip-anchor">?</span>-->
                      <svg class="preview-icon">
                        <use xlink:href="#sp-icons-preview-question"></use>
                      </svg>
                      <div class="tooltip-content" ng-if="addGiftCardCtrl.giftCardDisplay.giftCardEntryInstructionsTooltipImg || addGiftCardCtrl.giftCardDisplay.tooltipText">
                          <span>
                            {{addGiftCardCtrl.giftCardDisplay.tooltipText}}
                          </span>
                          <div class="img-wrapper" ng-if="addGiftCardCtrl.giftCardDisplay.giftCardEntryInstructionsTooltipImg">
                            <img src="{{addGiftCardCtrl.giftCardDisplay.giftCardEntryInstructionsTooltipImg}}" alt="gift card image for tooltip" />
                          </div>
                      </div>
                    </span>
                  </div>

                  <div class="cvv-wrapper" ng-if="addGiftCardCtrl.carouselData.selectedGiftCardData.isCvvRequired">
                    <label>{{'CVV' | translate}}</label>
                    <input class="cvv-input" type="text" ng-pattern="addGiftCardCtrl.giftCardInputRegExp" ng-model="addGiftCardCtrl.giftCardsData[addGiftCardCtrl.carouselData.selectedGiftCard].cvv"/>
                  </div>
                </div>

                <button class="check-btn"
                        ng-if="!addGiftCardCtrl.giftCardsData[addGiftCardCtrl.carouselData.selectedGiftCard].balance && addGiftCardCtrl.carouselData.selectedGiftCardData.isCvvRequired"
                        ng-disabled="!addGiftCardCtrl.giftCardsData[addGiftCardCtrl.carouselData.selectedGiftCard].number || !addGiftCardCtrl.giftCardsData[addGiftCardCtrl.carouselData.selectedGiftCard].cvv"
                        ng-class="{'disabled-btn': !addGiftCardCtrl.giftCardsData[addGiftCardCtrl.carouselData.selectedGiftCard].number || !addGiftCardCtrl.giftCardsData[addGiftCardCtrl.carouselData.selectedGiftCard].cvv}"
                        ng-click="addGiftCardCtrl.checkGiftCard(addGiftCardCtrl.carouselData.selectedGiftCard, addGiftCardCtrl.giftCardsData[addGiftCardCtrl.carouselData.selectedGiftCard].number)">
                        {{'Check Balance' | translate}}
                </button>

                <div class="card-number-wrapper" ng-if="addGiftCardCtrl.giftCardsData[addGiftCardCtrl.carouselData.selectedGiftCard].balance">
                  <div>
                    <div class="balance-wrapper">
                      <svg focusable="false" width="20" height="21">
                        <use xlink:href="#sp-icons-done-v2"></use>
                      </svg>
                      <span>{{addGiftCardCtrl.giftCardsData[addGiftCardCtrl.carouselData.selectedGiftCard].number}}</span>
                    </div>

                    <div class="reset-btn-wrapper">
                      <span ng-click="addGiftCardCtrl.resetCardDetails(addGiftCardCtrl.carouselData.selectedGiftCard)" class="reset-btn">{{'Reset' | translate}}</span>
                    </div>
                  </div>

                  <div ng-if="addGiftCardCtrl.giftCardsData[addGiftCardCtrl.carouselData.selectedGiftCard].balance" class="card-balance-wrapper">
                    <div class="card-balance">
                      <span>{{'Balance' | translate}}:</span>
                      <div class="balance">
                        <span>{{addGiftCardCtrl.giftCardsData[addGiftCardCtrl.carouselData.selectedGiftCard].balance | currency}}</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div ng-if="addGiftCardCtrl.giftCardsData[addGiftCardCtrl.carouselData.selectedGiftCard].errorMessage"
                     class="error-msg">{{addGiftCardCtrl.giftCardsData[addGiftCardCtrl.carouselData.selectedGiftCard].errorMessage | translate}}</div>
                <div ng-if="addGiftCardCtrl.giftCardsData[addGiftCardCtrl.carouselData.selectedGiftCard].balance === 0" class="card-balance-wrapper">
                  <div class="card-balance no-balance">
                    <span>{{'Balance' | translate}}:</span>
                    <div class="balance">
                      <span>{{addGiftCardCtrl.giftCardsData[addGiftCardCtrl.carouselData.selectedGiftCard].balance | currency}}</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="redeem-balance" ng-if="addGiftCardCtrl.giftCardsData[addGiftCardCtrl.carouselData.selectedGiftCard].balance && addGiftCardCtrl.carouselData.selectedGiftCard !== $root.SP_PAYMENTS.PAYMENT_METHODS.IDS.MAX_GIFT_CARD">
                <div class="amount-to-pay">
                  <div class="amount-to-pay-input-wrapper">
                    <label class="bold">{{'Amount to pay' | translate}}:</label>
                    <div class="amount-to-pay-input">
                      <input ng-change="addGiftCardCtrl.checkAmount(addGiftCardCtrl.carouselData.selectedGiftCard)"
                            ng-class="{'error-amount': addGiftCardCtrl.giftCardsData[addGiftCardCtrl.carouselData.selectedGiftCard].wrongAmountError}"
                            ng-model="addGiftCardCtrl.giftCardsData[addGiftCardCtrl.carouselData.selectedGiftCard].amount" type="number"/>
                      <span>{{$root.config.retailer.currencySymbol}}</span>
                    </div>
                  </div>

                  <div class="wrong-amount-error-msg-wrapper">
                    <span class="wrong-amount-error-msg" ng-if="addGiftCardCtrl.giftCardsData[addGiftCardCtrl.carouselData.selectedGiftCard].wrongAmountError">{{addGiftCardCtrl.giftCardsData[addGiftCardCtrl.carouselData.selectedGiftCard].wrongAmountError | translate}}</span>
                  </div>
                </div>
                <div class="redeem-btn-wrapper">
                  <button ng-disabled="addGiftCardCtrl.isDisableRedeemBtn(addGiftCardCtrl.carouselData.selectedGiftCard)"
                          ng-class="{'disabled-btn': addGiftCardCtrl.isDisableRedeemBtn(addGiftCardCtrl.carouselData.selectedGiftCard)}"
                          ng-click="addGiftCardCtrl.redeemGiftCard(addGiftCardCtrl.carouselData.selectedGiftCard)" class="redeem-btn no-design">{{'Redeem' | translate}}</button>
                </div>
              </div>

              <!-- Start: Max Gift card -->
              <div class="max-gift-card-wrapper" ng-if="addGiftCardCtrl.carouselData.selectedGiftCard === $root.SP_PAYMENTS.PAYMENT_METHODS.IDS.MAX_GIFT_CARD">
                <div class="input-and-balance" ng-if="addGiftCardCtrl.giftCardsData[addGiftCardCtrl.carouselData.selectedGiftCard].number">
                  <div class="card-number-wrapper" ng-style="{'grid-template-columns': '50% 40%', 'grid-template-rows': 'repeat(3, 1fr)'}">
                    <div class="card-number-inner-wrapper">
                      <div class="masking-card-number-wrapper">
                        <svg focusable="false" width="20" height="21">
                          <use xlink:href="#sp-icons-done-v2"></use>
                        </svg>
                        <div class="redeemed-card-number ltr">
                          <span class="card-hidden-no">**** **** **** </span>
                          <span>{{addGiftCardCtrl.giftCardsData[addGiftCardCtrl.carouselData.selectedGiftCard].lastFourDigits ||
                          addGiftCardCtrl.giftCardsData[addGiftCardCtrl.carouselData.selectedGiftCard].cardNumber.slice(addGiftCardCtrl.giftCardsData[addGiftCardCtrl.carouselData.selectedGiftCard].cardNumber.toString().length - 4)}}
                        </span>
                        </div>
                      </div>

                      <div class="reset-btn-wrapper">
                        <span ng-click="addGiftCardCtrl.resetCardDetails(addGiftCardCtrl.carouselData.selectedGiftCard)" class="reset-btn">{{'Reset' | translate}}</span>
                      </div>   
                    </div>
                    
                    <div ng-if="addGiftCardCtrl.giftCardsData[addGiftCardCtrl.carouselData.selectedGiftCard].balance" class="card-balance-wrapper">
                      <div class="card-balance">
                        <span>{{'Balance' | translate}}:</span>
                        <div class="balance">
                          <span>{{addGiftCardCtrl.giftCardsData[addGiftCardCtrl.carouselData.selectedGiftCard].balance | currency}}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
  
                <div class="redeem-balance" ng-if="addGiftCardCtrl.giftCardsData[addGiftCardCtrl.carouselData.selectedGiftCard].number">
                  <!-- CVV - Max Gift Card require CVV after entering the card number like Credit Card -->
                  <div class="card-cvv-wrapper">
                    <div class="cvv-input-wrapper">
                      <div class="cvv-input-inner-wrapper">
                        <input id="cvv" type="text" name="cvv" autocomplete="off" ng-model="addGiftCardCtrl.giftCardsData[addGiftCardCtrl.carouselData.selectedGiftCard].cvv" placeholder="{{'CVV' | translate}}" required />
                        <div class="cvv-explain">
                          <span class="question-mark">?</span>
                          <div class="explanation">
                              <span class="general-text">{{'CVV is an anti-fraud security feature to help verify that you are in possession of your credit card' | translate}}.</span>
                              <img src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/credit-card-cvv.png" alt=""/>
                              <span class="detailed-text">{{'The three-digit CVV number is printed on the signature panel on the back of the card immediately after the card\'s account number' | translate}}</span>
                              <div class="arrow"></div>
                          </div>
                        </div>
                      </div>

                      <div class="error-msg" ng-if="addGiftCardCtrl.carouselData.selectedGiftCardData.isCvvRequired">
                        {{ "Please enter CVV to continue" | translate}}
                      </div>
                    </div>
                  </div>

                  <div class="amount-to-pay">
                    <div class="amount-to-pay-input-wrapper">
                      <label class="bold">{{'Amount to pay' | translate}}:</label>
                      <div class="amount-to-pay-input">
                        <input ng-change="addGiftCardCtrl.checkMaxGiftCardAmount(addGiftCardCtrl.carouselData.selectedGiftCard)"
                               ng-class="{'error-amount': addGiftCardCtrl.wrongAmountError}"
                               ng-model="addGiftCardCtrl.giftCardsData[addGiftCardCtrl.carouselData.selectedGiftCard].amount" type="number"/>
                        <span>{{$root.config.retailer.currencySymbol}}</span>
                      </div>
                    </div>
                    <div class="wrong-amount-error-msg-wrapper">
                      <span class="wrong-amount-error-msg" ng-if="addGiftCardCtrl.wrongAmountError">{{addGiftCardCtrl.wrongAmountError | translate}}</span>
                    </div>
                    <div class="error-msg" ng-if="addGiftCardCtrl.giftCardsData[addGiftCardCtrl.carouselData.selectedGiftCard].errorMessage">
                      {{addGiftCardCtrl.giftCardsData[addGiftCardCtrl.carouselData.selectedGiftCard].errorMessage | translate}}
                    </div>
                  </div>

                  <div class="redeem-btn-wrapper">
                    <button ng-disabled="addGiftCardCtrl.isDisableRedeemBtn(addGiftCardCtrl.carouselData.selectedGiftCard)"
                            ng-class="{'disabled-btn': addGiftCardCtrl.isDisableRedeemBtn(addGiftCardCtrl.carouselData.selectedGiftCard)}"
                            ng-click="addGiftCardCtrl.redeemGiftCard(addGiftCardCtrl.carouselData.selectedGiftCard)" class="redeem-btn no-design">
                      {{'Redeem' | translate}}
                    </button>
                  </div>
                </div>
              </div>
              <!-- End: Max Gift card -->
            </div>
            <div class="after-redeemed-content" ng-if="addGiftCardCtrl.carouselData.redeemedGiftCards[addGiftCardCtrl.carouselData.selectedGiftCard]">
              <div class="after-redeemed-card-details">
                <div class="redeemed-card-details">
                  <span class="redeemed-card-number" ng-if="addGiftCardCtrl.carouselData.selectedGiftCard !== $root.SP_PAYMENTS.PAYMENT_METHODS.IDS.MAX_GIFT_CARD">
                    <svg focusable="false" width="20" height="21">
                      <use xlink:href="#sp-icons-done-v2"></use>
                    </svg>
                    {{addGiftCardCtrl.carouselData.redeemedGiftCards[addGiftCardCtrl.carouselData.selectedGiftCard].cardNumber}}
                  </span>

                  <div class="card-hidden-no-wrapper">
                    <div class="redeemed-card-number ltr"  ng-if="addGiftCardCtrl.carouselData.selectedGiftCard === $root.SP_PAYMENTS.PAYMENT_METHODS.IDS.MAX_GIFT_CARD">
                      <span class="card-hidden-no">************</span>
                      <span>{{addGiftCardCtrl.carouselData.redeemedGiftCards[addGiftCardCtrl.carouselData.selectedGiftCard].lastFourDigits}}</span>
                    </div>
                  </div>


                  <div class="redeemed-amount">
                    <span class="bold">{{'Amount to pay' | translate}}:</span>
                    <span>{{addGiftCardCtrl.carouselData.redeemedGiftCards[addGiftCardCtrl.carouselData.selectedGiftCard].amount | currency}}</span>
                  </div>

                  <a type="button" class="remove-card-btn" ng-click="addGiftCardCtrl.removeCard(addGiftCardCtrl.carouselData.selectedGiftCard)">
                    {{'Remove card' |translate}}
                  </a>

                  <div class="info-wrapper">
                    <svg class="info-icon" width="22" height="21">
                      <use xlink:href="#sp-icons-info"></use>
                    </svg>
                    <span>{{'Please save the voucher or gift card until you receive your order and are charged' | translate}}.</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="error-msg not-eligible-gift-card"
               ng-if="addGiftCardCtrl.isGiftCardNotEligible()">
            *{{'GIFT CARD is not eligible with selected payment method' | translate}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div  class="gift-cards-disclaimer"
        ng-if="addGiftCardCtrl.giftCardDisplay.showLegalText && addGiftCardCtrl.giftCardDisplay.legalText">

    <span>{{addGiftCardCtrl.giftCardDisplay.legalText}}</span>

    <a  ng-if="addGiftCardCtrl.giftCardDisplay.showEllipsisBtn ? (addGiftCardCtrl.giftCardDisplay.giftCardsSeeMore && addGiftCardCtrl.giftCardDisplay.urlLinkText)  : addGiftCardCtrl.giftCardDisplay.urlLinkText"
        class="show-more-less-btn" href="{{addGiftCardCtrl.giftCardDisplay.additionalURLLink}}"
        target="_blank">
      {{addGiftCardCtrl.giftCardDisplay.urlLinkText || ('go to site' | translate)}}
    </a>
    <button class="no-design bold" ng-if="addGiftCardCtrl.giftCardDisplay.showEllipsisBtn" ng-click="addGiftCardCtrl.toggleEllipsisBtn();">
      {{
            addGiftCardCtrl.giftCardDisplay.giftCardsSeeMore ?
            addGiftCardCtrl.giftCardDisplay.showLessBtnText ||
            addGiftCardCtrl.giftCardDisplay.showLessBtnText || ('Show Less' | translate) :
            addGiftCardCtrl.giftCardDisplay.seeMoreBtnText ||
            addGiftCardCtrl.giftCardDisplay.seeMoreBtnText || ('See More' | translate) 
      }}
    </button>
  </div>

  <div class="gift-card-dialog-footer">
    <div class="balance-to-pay">
      <span>{{'Balance to be paid' | translate}}:</span>
      <span class="bold">{{addGiftCardCtrl.carouselData.balanceToBePayed | currency}}</span>
    </div>

    <div class="next-btn-wrapper" ng-if="addGiftCardCtrl.isRedeemedGiftCardsExist()">
      <button ng-click="addGiftCardCtrl.next()" class="next-btn">{{'complete_and_proceed_to_checkout' | translate}}</button>
    </div>
</div>
