.add-gift-card-dialog > .gift-card-dialog-body > .gift-cards-wrapper {
   .gift-cards .gift-card-wrapper .open-card {
    background-color: $mainColor;
  }

  > .card-details-wrapper {
    > .error-wrapper {
      color: #DB5151;
    }

    .redeem-btn-wrapper > .redeem-btn{
      background: $mainColor;
      border: $mainColor;
      color: #ffffff;
    }

    .card-details > .redeem-balance > .redeem-btn-wrapper > .redeem-btn {
      color: $mainColor;
      background-color: '{{mainColor-#ffffff-25}}';
      border-color: $mainColor;
    }

    .card-details > .input-and-balance > .check-btn {
      color: $mainColor;
      background-color: '{{mainColor-#ffffff-25}}';
      border-color: $mainColor;
    }

    .after-redeemed-content > .info-wrapper > .info-icon {
      fill: $mainColor;
    }
  }
}