<div class="product-in-cart">
    <div class="product-wrapper" ng-if="line.type === $root.SP_SERVICES.CART_LINE_TYPES.PRODUCT || line.type === $root.SP_SERVICES.CART_LINE_TYPES.REGISTER_LOYALTY">
        <img class="product-main-tag-icon" ng-if="line.product | productMainTag:$root.PermanentFilters.values[$root.PermanentFilters.TYPES.PRODUCT_TAGS]"
             ng-src="{{(line.product | productMainTag:$root.PermanentFilters.values[$root.PermanentFilters.TYPES.PRODUCT_TAGS]).languages | name:'iconResourceUrl'}}"
             alt="{{(line.product | productMainTag:$root.PermanentFilters.values[$root.PermanentFilters.TYPES.PRODUCT_TAGS]).languages | name:'displayName'}}"/>
        <div class="product-data">
            <div class="quantity" aria-live="assertive" ng-class="{
                'three-chars': (line.quantity | number:($root.util.isWeightQuantity(line.product) ? 2 : 0)).length == 4,
                'four-chars': (line.quantity | number:($root.util.isWeightQuantity(line.product) ? 2 : 0)).length >= 5}">
                {{line | cartLineQuantity}}
            </div><!--
            --><div class="image">
                    <span ng-if="line.totalPriceForView !== line.finalPriceForView && line.type !== $root.SP_SERVICES.CART_LINE_TYPES.COUPON"
                          class="sale-icon"
                          ng-class="{'club-icon': sideNavCtrl.checkLineLoyaltyGift(line)}">
                        <img ng-src="{{('https://d226b0iufwcjmj.cloudfront.net/global/' + (sideNavCtrl.checkLineLoyaltyGift(line) ? 'club' : 'sale') + '-icon%translate%.png') | translateImage:{'he': '-hebrew'} }}"
                             alt="{{(sideNavCtrl.checkLineLoyaltyGift(line) ? 'club ' : '') + 'sale' | translate}}"/>
                    </span>
                    <product-image product="line.product" image-url="line.product.image.url" size="small"></product-image><div class="image-wrapper register-loyalty-image">
                    <div class="image" ng-style="{'background-image': 'url(' + ('https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/club-icon%translate%.png' | translateImage:{'he': '-hebrew'}) + ')'}"></div>
                </div>
            </div><!--
            --><div class="data">
                <div class="brand">{{line.product.brand.names | name}}</div>
                <div class="name" ellipsis title="{{line.product | productName:line.isCase:'short'}}"></div>
                <div class="weight">
                    <span ng-if="$root.util.isUnitsWeighable(line.product) && !line.isCase">
                        {{('Est. total weight' | translate) + ' ' + (line.product | productWeight:line.isCase:null:line.quantity) }}
                    </span>
                    <span ng-if="line.product.weight && !$root.util.isUnitsWeighable(line.product)">
                        {{line.product | productWeight:line.isCase}}
                    </span>
                </div>
            </div><!--
            --><sp-product-price class="reverse-text-align"
                             regular-price="line.totalPriceForView"
                             sale-price="line.finalPriceForView"
                             product="line.product"
                             type="line.type"
                             hide-normalize-price="true">
            </sp-product-price>
        </div>
    </div>

    <div class="coupon-wrapper" ng-if="line.type === $root.SP_SERVICES.CART_LINE_TYPES.COUPON">
        <svg focusable="false" class="icon main-color">
            <use xlink:href="#sp-icons-coupon-indication"></use>
        </svg>
        <div class="data">
            <div class="error" ng-if="$root.cart.specialReminders.onCoupons[line.product.branch.specials[0].id] && !$root.cart.specialReminders.onCoupons[line.product.branch.specials[0].id].awarded"
                 ng-bind=":: '** ' + ('coupon_requirements_error' | translate) + ' **'"></div>
            <div class="name" title="{{:: line.product | productName:line.isCase:'long'}}"
                 ng-bind=":: line.product | productName:line.isCase:'long'"></div>
            <button ng-if="$root.cart.specialReminders.onCoupons[line.product.branch.specials[0].id].showProductsFrom"
                    ng-class="{link: $root.cart.specialReminders.onCoupons[line.product.branch.specials[0].id].awarded}"
                    ng-click="$root.util.showCouponDetailsDialog(line.product);"
                    ng-bind="'Add Products' | translate">
            </button>
        </div>
    </div>
</div>