<form sp-form-accessibility id="user-edit" class="form userEditCtrl.user-edit-form" name="accountInfoCtrl.form"
      ng-if="!accountInfoCtrl.isEnabledAddressSettings || !accountInfoCtrl.isUseGMapDeliveryMethod || accountInfoCtrl.isGMapWithZipCodeProvider"
      ng-click="accountInfoCtrl.checkForAutocompleteAddress($event)"
      ng-submit="accountInfoCtrl.save($event)" novalidate>
    <div class="userEditCtrl.user-details">
        <div>
            <h1 class="left account-detail-title" id="page_title">
                {{::'Account Info' | translate}}
            </h1>

            <br>
            <div class="input-wrapper message-wrapper" ng-if="userEditCtrl.externalLoginSettings.isActive">
                <h2 class="left account-detail-title detail-message">
                    {{::'To update details, log in to the yellow app or call *9974 customer service' | translate}}
                </h2>
            </div>

            <div class="right save-button">
                <button type="submit" id="btn-submit" ng-if="!userEditCtrl.externalLoginSettings.isActive">
                    {{::'Save Changes' | translate}}
                </button>
                <div class="server-err-msg"></div>
            </div>
            <div class="coupon-points-info" ng-if="$root.config.retailer.settings.showPointBalance === 'true'">
                <span>{{'Your points' | translate}}:</span>
                <div class="coupon-points">
                    <svg focusable="false" ng-if="!$root.config.retailer.settings.loyaltyPointsIcon">
                        <use xlink:href="#sp-icons-coupon-coin"></use>
                    </svg>
                    <img ng-if="$root.config.retailer.settings.loyaltyPointsIcon" ng-src="{{$root.config.retailer.settings.loyaltyPointsIcon}}" />
                    <span>{{userEditCtrl.user.points}}</span>
                </div>
            </div>
            <div class="clear"></div>
        </div>

        <div id="account-info">
            <div class="input-group">
                <div class="input-wrapper">
                    <label for="first_name" class="input-desc">{{::'First name' | translate}} *</label><!--
                    --><input type="text" id="first_name" name="firstName" ng-model="userEditCtrl.user.firstName" required
                              sp-inline-error/>
                </div>
                <div class="input-wrapper">
                    <label for="last_name" class="input-desc">{{::'Last name' | translate}} *</label><!--
                    --><input type="text" id="last_name" name="lastName" ng-model="userEditCtrl.user.lastName" required
                              sp-inline-error/>
                </div>
                <div class="input-wrapper input-gender-wrapper">
                    <span class="input-desc" id="gender">{{::'Gender' | translate}}</span>
                    <span class="gender-buttons" role="radiogroup" aria-labelledby="gender">
                        <sp-radio sp-model="userEditCtrl.user.gender" sp-name="gender" sp-aria-label="{{'male' | translate}}" sp-value="$root.GENDERS.MALE">
                            {{::'Male' | translate}}
                        </sp-radio>
                        <sp-radio sp-model="userEditCtrl.user.gender" sp-name="gender" sp-aria-label="{{'female' | translate}}" sp-value="$root.GENDERS.FEMALE">
                            {{::'Female' | translate}}
                        </sp-radio>
                        <sp-radio sp-model="userEditCtrl.user.gender" sp-name="gender" sp-aria-label="{{'prefer not to say' | translate}}" sp-value="$root.GENDERS.PREFER_NOT_TO_SAY">
                            {{::'Prefer not to say' | translate}}
                        </sp-radio>
                    </span>
                </div>
                <div class="input-wrapper">
                    <label for="birth_date_input" class="input-desc">{{::'Birth date' | translate}}</label><!--
                    --><input id="birth_date_input" type="date" format="dd/MM/yyyy"
                              ng-model="userEditCtrl.user.dateOfBirth"/>
                </div>
            </div>
            <div class="input-group second">
                <div class="input-wrapper">
                    <label for="userEditCtrl.user_name_input" class="input-desc">{{::'User name' | translate}}</label><!--
                    --><input id="userEditCtrl.user_name_input" type="email" ng-model="userEditCtrl.user.email" disabled/>
                </div>
                <div class="input-wrapper">
                    <label class="input-desc" for="password">{{::'Password' | translate}}</label>
                    <sp-password sp-model="userEditCtrl.user.password" i-name="password" i-id="password" i-placeholder="**********"
                                 autocomplete="new-password" sp-minlength="6" sp-maxlength="30" sp-pattern="/(?=.*[0-9])(?=.*[^0-9])/" i-sp-inline-error></sp-password>
                </div>
                <div class="input-wrapper">
                    <label class="input-desc" for="confirm_password">{{::'Confirm password' | translate}}</label>
                    <sp-password sp-model="userEditCtrl.user.confirmPassword" i-name="confirmPassword" i-id="confirm_password" i-sp-inline-error></sp-password>
                </div>
                <div class="input-wrapper" ng-if="$root.config.retailer.isSeniorCitizenActive">
                    <span class="input-desc"></span><!--
                    -->
                    <sp-checkbox sp-model="accountInfoCtrl.isSeniorCitizen"

                                 sp-change="accountInfoCtrl.isSeniorCitizenChange()">
                        {{::'I am a senior citizen' | translate}}
                    </sp-checkbox>
                </div>
            </div>
            <div></div>
            <div class="input-group">
                <div class="input-wrapper"
                     ng-if="$root.config.retailer.settings.autocompleteAddressField">
                    <label for="autocomplete_address" class="input-desc">{{::'Please type in your Zip code' | translate | retailerNameReplacement}}</label><!--
                    --><input type="text" id="autocomplete_address" name="autocomplete_address" placeholder=""
                              ng-model="userEditCtrl.user.addresses[0].zipCode"/>
                    <button class="open-popup" ng-disabled="!userEditCtrl.user.addresses[0].zipCode"
                            ng-click="userEditCtrl.openAutocompleteAddress($event)">
                        <span class="text">{{::'Find address' | translate}}</span>
                    </button>
                </div>

                <div class="input-wrapper"
                     ng-if="$root.config.retailer.settings.enableDefaultCountry">
                    <label for="country_autocomplete_input" class="input-desc">{{::'Country' | translate}}</label><!--
                    --><input type="text" id="country_autocomplete_input"
                              name="countryInput"
                              ng-disabled="($root.config.retailer.settings.autocompleteAddressField && !userEditCtrl.user.hasAddressDetails && $root.config.retailer.settings.enableDefaultCountry) ||
                              $root.config.retailer.settings.activeZipProvider.isLockedAddress"
                              ng-change="userEditCtrl.filterCountries()"
                              ng-model="userEditCtrl.user.addresses[0].country"
                              sp-inline-error sp-inline-error-attach-to-parent="div"/>
                    <sp-autocomplete sp-model="userEditCtrl.user.addresses[0].country" class="auto-complete-scroll"
                                     sp-get-options="userEditCtrl.countryNames"></sp-autocomplete>
                </div>
                <div class="input-wrapper"
                     ng-if="$root.config.retailer.deliveryAreaMethod === $root.SP_SERVICES.DELIVERY_AREA_METHODS.POLYGON ||
                            $root.config.retailer.deliveryAreaMethod === $root.SP_SERVICES.DELIVERY_AREA_METHODS.GOOGLE_MAPS">
                    <label for="address1_input" class="input-desc">{{::'Address' | translate | retailerNameReplacement}}</label><!--
                    --><input type="text" id="address1_input" name="address1Input" placeholder=""
                              ng-disabled="($root.config.retailer.settings.autocompleteAddressField && !userEditCtrl.user.hasAddressDetails) ||
                              $root.config.retailer.settings.activeZipProvider.isLockedAddress"
                              ng-model="userEditCtrl.user.addresses[0].text1"
                              sp-inline-error/>
                </div>
                <div class="input-wrapper">
                    <label for="address2_input" class="input-desc">{{'More details' | translate | retailerNameReplacement}}</label><!--
                    --><input id="address2_input" type="text"
                              name="address2input"
                              ng-model="userEditCtrl.user.addresses[0].text2"
                              placeholder="{{!$root.config.retailer.enableFloorApartment ? ('entrance, apartment, suite, building, floor, etc.' | translate) : ''}}"
                              sp-inline-error/>
                </div>
                <div class="input-wrapper"
                     ng-if="$root.config.retailer.deliveryAreaMethod === $root.SP_SERVICES.DELIVERY_AREA_METHODS.POLYGON ||
                            $root.config.retailer.deliveryAreaMethod === $root.SP_SERVICES.DELIVERY_AREA_METHODS.GOOGLE_MAPS">
                    <label for="city_input" class="input-desc">{{::'City' | translate | retailerNameReplacement}}</label><!--
                    --><input type="text" id="city_input" name="cityInput" placeholder=""
                              ng-disabled="($root.config.retailer.settings.autocompleteAddressField && !userEditCtrl.user.hasAddressDetails) ||
                              $root.config.retailer.settings.activeZipProvider.isLockedAddress"
                              ng-model="userEditCtrl.user.addresses[0].city"
                              sp-inline-error/>
                </div>
                <div class="input-wrapper"
                     ng-if="($root.config.retailer.deliveryAreaMethod === $root.SP_SERVICES.DELIVERY_AREA_METHODS.POLYGON ||
                            $root.config.retailer.deliveryAreaMethod === $root.SP_SERVICES.DELIVERY_AREA_METHODS.GOOGLE_MAPS) && !$root.config.retailer.settings.autocompleteAddressField">
                    <label for="zip_input" class="input-desc">{{::'Zip' | translate | retailerNameReplacement}}</label><!--
                    --><input type="text" id="zip_input" name="zipInput" placeholder=""
                              ng-disabled="$root.config.retailer.settings.autocompleteAddressField"
                              ng-model="userEditCtrl.user.addresses[0].zipCode"
                              sp-inline-error/>
                </div>
                <div class="input-wrapper"
                     ng-if="$root.config.retailer.deliveryAreaMethod === $root.SP_SERVICES.DELIVERY_AREA_METHODS.ZIP_CODE || $root.config.retailer.deliveryAreaMethod === $root.SP_SERVICES.DELIVERY_AREA_METHODS.CITY">
                    <label for="city_autocomplete_input" class="input-desc">{{::'City' | translate}}</label><!--
                    --><input type="text" id="city_autocomplete_input" name="cityInput" placeholder=""
                              ng-model="userEditCtrl.user.addresses[0].city" sp-inline-error/>
                    <sp-autocomplete sp-model="userEditCtrl.user.addresses[0].city"
                                     ng-disabled="($root.config.retailer.settings.autocompleteAddressField && !userEditCtrl.user.hasAddressDetails) ||
                                     $root.config.retailer.settings.activeZipProvider.isLockedAddress"
                                     sp-choose="accountInfoCtrl.onCityChosen()"
                                     sp-get-options="userEditCtrl.getCityAutoCompleteOptions(userEditCtrl.user.addresses[0].city)"
                                     sp-require-match="true"></sp-autocomplete>
                </div>
                <div ng-if="$root.config.retailer.deliveryAreaMethod === $root.SP_SERVICES.DELIVERY_AREA_METHODS.ZIP_CODE || $root.config.retailer.deliveryAreaMethod === $root.SP_SERVICES.DELIVERY_AREA_METHODS.CITY">
                    <div class="input-wrapper">
                        <label for="street_input" class="input-desc">{{::'Street' | translate}}</label><!--
                        --><input type="text" id="street_input" name="streetInput"
                                  ng-disabled="($root.config.retailer.settings.autocompleteAddressField && !userEditCtrl.user.hasAddressDetails) ||
                                  $root.config.retailer.settings.activeZipProvider.isLockedAddress"
                                  ng-model="userEditCtrl.user.addresses[0].street"
                                  placeholder="" sp-inline-error ng-disabled="!userEditCtrl.user.addresses[0].city"/>
                        <sp-autocomplete sp-model="userEditCtrl.user.addresses[0].street"
                                         sp-get-options="accountInfoCtrl.getStreetAutoCompleteOptions()"
                                         sp-require-match="accountInfoCtrl.streetIsRequire"></sp-autocomplete>
                    </div>
                    <div class="input-wrapper">
                        <div>
                            <label for="houseNumber_input" class="input-desc">{{::'House Number' | translate}}</label><!--
                            --><input type="number" id="houseNumber_input" name="houseNumberInput" placeholder=""
                                      ng-disabled="($root.config.retailer.settings.autocompleteAddressField && !userEditCtrl.user.hasAddressDetails) ||
                                      $root.config.retailer.settings.activeZipProvider.isLockedAddress"
                                      ng-model="userEditCtrl.user.addresses[0].houseNumber"/><!--
                            --><label for="entrance_select_1" class="input-desc second"
                                      ng-if="!$root.config.retailer.enableFloorApartment">{{::'Entrance' | translate}}</label><!--
                            --><select id="entrance_select_1" ng-model="userEditCtrl.user.addresses[0].entry"
                                       name="entry"
                                       ng-disabled="$root.config.retailer.settings.autocompleteAddressField && !userEditCtrl.user.hasAddressDetails"
                                       ng-if="!$root.config.retailer.enableFloorApartment"
                                       sp-inline-error>
                            <option ng-value=""></option>
                            <option ng-repeat="entry in $root.HOUSE_ENTRIES" ng-value="entry | translate"
                                    ng-bind="entry | translate"></option>
                        </select>
                        </div>
                    </div>
                </div>
                <div class="input-wrapper" ng-if="$root.config.retailer.enableFloorApartment">
                    <label for="entrance_select_2" class="input-desc second">{{::'Entrance' | translate}}</label><!--
                            --><select id="entrance_select_2"
                                       name="entry"
                                       ng-disabled="$root.config.retailer.settings.autocompleteAddressField && !userEditCtrl.user.hasAddressDetails"
                                       ng-model="userEditCtrl.user.addresses[0].entry"
                                       sp-inline-error>
                    <option ng-value=""></option>
                    <option ng-repeat="entry in $root.HOUSE_ENTRIES" ng-value="entry | translate"
                            ng-bind="entry | translate"></option>
                </select>
                </div>
                <div class="input-wrapper" ng-if="$root.config.retailer.enableFloorApartment">
                    <label for="floor_input" class="input-desc" ng-bind="::'floor' | translate"></label><!--
                    --><input id="floor_input" type="number" name="floor" step="1" ng-model="userEditCtrl.user.addresses[0].floor"
                              ng-disabled="$root.config.retailer.settings.autocompleteAddressField && !userEditCtrl.user.hasAddressDetails"
                              sp-inline-error/>
                </div>
                <div class="input-wrapper" ng-if="$root.config.retailer.enableFloorApartment">
                    <label for="apartment_input" class="input-desc" ng-bind="::'apartment' | translate"></label><!--
                    --><input id="apartment_input"
                              name="apartment"
                              ng-disabled="$root.config.retailer.settings.autocompleteAddressField && !userEditCtrl.user.hasAddressDetails"
                              type="text" max="50" ng-model="userEditCtrl.user.addresses[0].apartment"
                              sp-inline-error/>
                </div>
            </div>
            <div class="input-group second">
                <div ng-class="{'custom-phone-validation': userEditCtrl.customPhoneValidation}"
                     class="input-wrapper phone-wrapper">
                    <label for="home_phone_number" class="phone-type">
                        {{::'Home' | translate}}
                    </label><!--
                         --><span class="custom-phone-validation-item"
                                  ng-if="userEditCtrl.editPhonesMode[$root.PHONE_TYPES.HOME] && $root.config.retailer.customPhoneValidation.countryCodes && $root.config.retailer.customPhoneValidation.countryCodes.length">
                            <select id="home_phone_number_code_select" class="content second"
                                    name="countryCodeHome"
                                    ng-class="{'has-error': userEditCtrl.homePhone != userEditCtrl.user.phonesObj[$root.PHONE_TYPES.HOME].phoneNumber ? !userEditCtrl.validateCountryCode(userEditCtrl.user.phonesObj[$root.PHONE_TYPES.HOME].countryCode, userEditCtrl.user.phonesObj[$root.PHONE_TYPES.HOME].phoneNumber) : false}"
                                    ng-model="userEditCtrl.user.phonesObj[$root.PHONE_TYPES.HOME].countryCode"
                                    ng-options="countryCode as countryCode for countryCode in $root.config.retailer.customPhoneValidation.countryCodes">
                            </select>
                        </span>

                    <span class="custom-phone-validation-item"
                          ng-if="userEditCtrl.editPhonesMode[$root.PHONE_TYPES.HOME] && $root.config.retailer.customPhoneValidation.areaCodes && $root.config.retailer.customPhoneValidation.areaCodes.length">
                            <select id="home_phone_number_area_code_select" class="content second"
                                    name="areaCodeHome"
                                    ng-class="{'has-error': userEditCtrl.homePhone != userEditCtrl.user.phonesObj[$root.PHONE_TYPES.HOME].phoneNumber ? !userEditCtrl.validateAreaCode(userEditCtrl.user.phonesObj[$root.PHONE_TYPES.HOME].areaCode, userEditCtrl.user.phonesObj[$root.PHONE_TYPES.HOME].phoneNumber) : false}"
                                    ng-options="areaCode as areaCode for areaCode in $root.config.retailer.customPhoneValidation.areaCodes"
                                    ng-model="userEditCtrl.user.phonesObj[$root.PHONE_TYPES.HOME].areaCode">
                            </select>
                        </span>
                    <!--                !userEditCtrl.customValidatedPhoneNumbers[$root.PHONE_TYPES.HOME] &&-->
                    <input class="phone-input phone-input-account" name="homePhone"
                           placeholder="{{::'Phone number' | translate}}"
                           id="home_phone_number"
                           type="tel"
                           ng-if="userEditCtrl.editPhonesMode[$root.PHONE_TYPES.HOME] && userEditCtrl.customPhoneValidation"
                           ng-model="userEditCtrl.user.phonesObj[$root.PHONE_TYPES.HOME].customPhoneNumber"
                           ng-pattern="userEditCtrl.customPhoneRegExp"
                           ng-focus="userEditCtrl.phoneEditMode($root.PHONE_TYPES.HOME, true)"
                           sp-inline-error/>
                    <input class="phone-input phone-input-account" name="homePhone"
                           placeholder="{{::'Phone number' | translate}}"
                           id="home_phone_number"
                           type="tel"
                           ng-if="!userEditCtrl.customPhoneValidation"
                           ng-model="userEditCtrl.user.phonesObj[$root.PHONE_TYPES.HOME].phoneNumber"
                           ng-pattern="userEditCtrl.phoneRegExp"
                           ng-focus="userEditCtrl.phoneEditMode($root.PHONE_TYPES.HOME, true)"
                           sp-inline-error/>
                    <input class="phone-input phone-input-account" type="tel"
                           id="home_phone_number"
                           ng-if="!userEditCtrl.editPhonesMode[$root.PHONE_TYPES.HOME] && userEditCtrl.customPhoneValidation"
                           ng-model="userEditCtrl.customValidatedPhoneNumbers[$root.PHONE_TYPES.HOME]"
                           ng-change="userEditCtrl.phoneEditMode($root.PHONE_TYPES.HOME, true)"
                           ng-click="userEditCtrl.phoneEditMode($root.PHONE_TYPES.HOME, true)"/>
                    <button type="button"
                            ng-if="userEditCtrl.editPhonesMode[$root.PHONE_TYPES.HOME] && userEditCtrl.user.phonesObj[$root.PHONE_TYPES.HOME].customPhoneNumber !== undefined"
                            class="custom-phone-validation-cancel-button"
                            ng-click="userEditCtrl.phoneEditMode($root.PHONE_TYPES.HOME, false)">Cancel
                    </button>
                    <span class="phone-length-message"
                          ng-if="userEditCtrl.editPhonesMode[$root.PHONE_TYPES.HOME] &&
                              $root.config.retailer.customPhoneValidation.phoneNumberRange.min &&
                               $root.config.retailer.customPhoneValidation.phoneNumberRange.max">
                            {{('custom-phone-validation-range' | translate).replace('{min}', $root.config.retailer.customPhoneValidation.phoneNumberRange.min).replace('{max}', $root.config.retailer.customPhoneValidation.phoneNumberRange.max)}}</span>
                    <span class="phone-length-message" ng-if="userEditCtrl.editPhonesMode[$root.PHONE_TYPES.HOME] &&
                               $root.config.retailer.customPhoneValidation.phoneNumberRange.min &&
                               !$root.config.retailer.customPhoneValidation.phoneNumberRange.max">{{('custom-phone-validation-min' | translate).replace('{min}', $root.config.retailer.customPhoneValidation.phoneNumberRange.min)}}</span>
                    <span class="phone-length-message" ng-if="userEditCtrl.editPhonesMode[$root.PHONE_TYPES.HOME] &&
                              !$root.config.retailer.customPhoneValidation.phoneNumberRange.min &&
                               $root.config.retailer.customPhoneValidation.phoneNumberRange.max">{{('custom-phone-validation-max' | translate).replace('{max}', $root.config.retailer.customPhoneValidation.phoneNumberRange.max)}}</span>
                </div>
                <div ng-class="{'custom-phone-validation': userEditCtrl.customPhoneValidation}"
                     class="input-wrapper phone-wrapper">
                    <label for="work_phone_number_input" class="phone-type">
                        {{::'Work' | translate}}
                    </label><!--
                    --><span class="custom-phone-validation-item"
                             ng-if="userEditCtrl.editPhonesMode[$root.PHONE_TYPES.WORK] && $root.config.retailer.customPhoneValidation.countryCodes && $root.config.retailer.customPhoneValidation.countryCodes.length">
                            <select id="work_phone_number_code_select" class="content second"
                                    name="countryCodeWork"
                                    ng-class="{'has-error': userEditCtrl.workPhone != userEditCtrl.user.phonesObj[$root.PHONE_TYPES.WORK].phoneNumber ? !userEditCtrl.validateCountryCode(userEditCtrl.user.phonesObj[$root.PHONE_TYPES.WORK].countryCode, userEditCtrl.user.phonesObj[$root.PHONE_TYPES.WORK].phoneNumber) : false}"
                                    ng-model="userEditCtrl.user.phonesObj[$root.PHONE_TYPES.WORK].countryCode"
                                    ng-options="countryCode as countryCode for countryCode in $root.config.retailer.customPhoneValidation.countryCodes">
                            </select>
                        </span>

                    <span class="custom-phone-validation-item"
                          ng-if="userEditCtrl.editPhonesMode[$root.PHONE_TYPES.WORK] && $root.config.retailer.customPhoneValidation.areaCodes && $root.config.retailer.customPhoneValidation.areaCodes.length">
                            <select id="work_phone_number_area_code_select" class="content second"
                                    name="areaCodeWork"
                                    ng-class="{'has-error': userEditCtrl.workPhone != userEditCtrl.user.phonesObj[$root.PHONE_TYPES.WORK].phoneNumber ? !userEditCtrl.validateAreaCode(userEditCtrl.user.phonesObj[$root.PHONE_TYPES.WORK].areaCode, userEditCtrl.user.phonesObj[$root.PHONE_TYPES.WORK].phoneNumber) : false}"
                                    ng-model="userEditCtrl.user.phonesObj[$root.PHONE_TYPES.WORK].areaCode"
                                    ng-options="areaCode as areaCode for areaCode in $root.config.retailer.customPhoneValidation.areaCodes">
                            </select>
                        <!--                    !userEditCtrl.customValidatedPhoneNumbers[$root.PHONE_TYPES.WORK] && -->
                        </span><!--
                    --><input class="phone-input phone-input-account" name="workPhone"
                              placeholder="{{::'Phone number' | translate}}"
                              ng-if="(userEditCtrl.editPhonesMode[$root.PHONE_TYPES.WORK]) && userEditCtrl.customPhoneValidation"
                              id="work_phone_number_input" type="tel"
                              ng-model="userEditCtrl.user.phonesObj[$root.PHONE_TYPES.WORK].customPhoneNumber"
                              ng-pattern="userEditCtrl.customPhoneRegExp"
                              ng-focus="userEditCtrl.phoneEditMode($root.PHONE_TYPES.WORK, true)"
                              sp-inline-error/>
                    <input class="phone-input phone-input-account" name="workPhone"
                           placeholder="{{::'Phone number' | translate}}"
                           ng-if="!userEditCtrl.customPhoneValidation"
                           id="work_phone_number_input" type="tel"
                           ng-model="userEditCtrl.user.phonesObj[$root.PHONE_TYPES.WORK].phoneNumber"
                           ng-pattern="userEditCtrl.phoneRegExp"
                           ng-focus="userEditCtrl.phoneEditMode($root.PHONE_TYPES.WORK, true)"
                           sp-inline-error/>
                    <input class="phone-input phone-input-account" type="tel"
                           id="work_phone_number_input"
                           ng-if="(!userEditCtrl.editPhonesMode[$root.PHONE_TYPES.WORK]) && userEditCtrl.customPhoneValidation"
                           ng-change="userEditCtrl.phoneEditMode($root.PHONE_TYPES.WORK, true)"
                           ng-model="userEditCtrl.customValidatedPhoneNumbers[$root.PHONE_TYPES.WORK]"
                           ng-click="userEditCtrl.phoneEditMode($root.PHONE_TYPES.WORK, true)"/>
                    <button type="button"
                            ng-if="userEditCtrl.editPhonesMode[$root.PHONE_TYPES.WORK] && userEditCtrl.user.phonesObj[$root.PHONE_TYPES.WORK].customPhoneNumber !== undefined"
                            class="custom-phone-validation-cancel-button"
                            ng-click="userEditCtrl.phoneEditMode($root.PHONE_TYPES.WORK, false)">Cancel
                    </button>
                    <span class="phone-length-message"
                          ng-if="userEditCtrl.editPhonesMode[$root.PHONE_TYPES.WORK] &&
                              $root.config.retailer.customPhoneValidation.phoneNumberRange.min &&
                               $root.config.retailer.customPhoneValidation.phoneNumberRange.max">
                            {{('custom-phone-validation-range' | translate).replace('{min}', $root.config.retailer.customPhoneValidation.phoneNumberRange.min).replace('{max}', $root.config.retailer.customPhoneValidation.phoneNumberRange.max)}}</span>
                    <span class="phone-length-message" ng-if="userEditCtrl.editPhonesMode[$root.PHONE_TYPES.WORK] &&
                               $root.config.retailer.customPhoneValidation.phoneNumberRange.min &&
                               !$root.config.retailer.customPhoneValidation.phoneNumberRange.max">{{('custom-phone-validation-min' | translate).replace('{min}', $root.config.retailer.customPhoneValidation.phoneNumberRange.min)}}</span>
                    <span class="phone-length-message" ng-if="userEditCtrl.editPhonesMode[$root.PHONE_TYPES.WORK] &&
                              !$root.config.retailer.customPhoneValidation.phoneNumberRange.min &&
                               $root.config.retailer.customPhoneValidation.phoneNumberRange.max">{{('custom-phone-validation-max' | translate).replace('{max}', $root.config.retailer.customPhoneValidation.phoneNumberRange.max)}}</span>
                </div>
                <div ng-class="{'custom-phone-validation': userEditCtrl.customPhoneValidation}"
                     class="input-wrapper phone-wrapper">
                    <label for="mobile_phone_number_input" class="phone-type">
                        {{::'Mobile' | translate}}
                    </label><!--
                    --><span class="custom-phone-validation-item"
                             ng-if="userEditCtrl.editPhonesMode[$root.PHONE_TYPES.MOBILE] && $root.config.retailer.customPhoneValidation.countryCodes && $root.config.retailer.customPhoneValidation.countryCodes.length">
                            <select ng-class="{'has-error': userEditCtrl.mobilePhone != userEditCtrl.user.phonesObj[$root.PHONE_TYPES.MOBILE].phoneNumber ? !userEditCtrl.validateCountryCode(userEditCtrl.user.phonesObj[$root.PHONE_TYPES.MOBILE].countryCode, userEditCtrl.user.phonesObj[$root.PHONE_TYPES.MOBILE].phoneNumber) : false}"
                                    id="mobile_phone_country_code_select" class="content second" name="countryCodeMobile"
                                    ng-model="userEditCtrl.user.phonesObj[$root.PHONE_TYPES.MOBILE].countryCode"
                                    ng-options="countryCode as countryCode for countryCode in $root.config.retailer.customPhoneValidation.countryCodes">
                            </select>
                        </span>

                    <span class="custom-phone-validation-item"
                          ng-if="userEditCtrl.editPhonesMode[$root.PHONE_TYPES.MOBILE] && $root.config.retailer.customPhoneValidation.areaCodes && $root.config.retailer.customPhoneValidation.areaCodes.length">
                            <select ng-class="{'has-error': userEditCtrl.mobilePhone != userEditCtrl.user.phonesObj[$root.PHONE_TYPES.MOBILE].phoneNumber ? !userEditCtrl.validateAreaCode(userEditCtrl.user.phonesObj[$root.PHONE_TYPES.MOBILE].areaCode, userEditCtrl.user.phonesObj[$root.PHONE_TYPES.MOBILE].phoneNumber) : false}"
                                    id="mobile_phone_area_code_select" class="content second" name="areaCodeMobile"
                                    ng-options="areaCode as areaCode for areaCode in $root.config.retailer.customPhoneValidation.areaCodes"
                                    ng-model="userEditCtrl.user.phonesObj[$root.PHONE_TYPES.MOBILE].areaCode">
                            </select>
                        </span>
                    <!--                !userEditCtrl.customValidatedPhoneNumbers[$root.PHONE_TYPES.MOBILE] && -->
                    <input class="phone-input phone-input-account" name="mobilePhone"
                           placeholder="{{::'Phone number' | translate}}"
                           ng-if="userEditCtrl.editPhonesMode[$root.PHONE_TYPES.MOBILE] && userEditCtrl.customPhoneValidation"
                           id="mobile_phone_number_input" type="tel"
                           ng-model="userEditCtrl.user.phonesObj[$root.PHONE_TYPES.MOBILE].customPhoneNumber"
                           ng-pattern="userEditCtrl.customPhoneRegExp"
                           ng-focus="userEditCtrl.phoneEditMode($root.PHONE_TYPES.MOBILE, true)"
                           sp-inline-error/>
                    <input class="phone-input phone-input-account" name="mobilePhone"
                           placeholder="{{::'Phone number' | translate}}"
                           ng-if="!userEditCtrl.customPhoneValidation"
                           id="mobile_phone_number_input" type="tel"
                           ng-model="userEditCtrl.user.phonesObj[$root.PHONE_TYPES.MOBILE].phoneNumber"
                           ng-pattern="userEditCtrl.phoneRegExp"
                           ng-focus="userEditCtrl.phoneEditMode($root.PHONE_TYPES.MOBILE, true)"
                           sp-inline-error/>
                    <input class="phone-input phone-input-account" type="tel"
                           id="mobile_phone_number_input"
                           ng-if="(!userEditCtrl.editPhonesMode[$root.PHONE_TYPES.MOBILE]) && userEditCtrl.customPhoneValidation"
                           ng-model="userEditCtrl.customValidatedPhoneNumbers[$root.PHONE_TYPES.MOBILE]"
                           ng-change="userEditCtrl.phoneEditMode($root.PHONE_TYPES.MOBILE, true)"
                           ng-click="userEditCtrl.phoneEditMode($root.PHONE_TYPES.MOBILE, true)"/>
                    <button type="button"
                            ng-if="userEditCtrl.editPhonesMode[$root.PHONE_TYPES.MOBILE] && userEditCtrl.user.phonesObj[$root.PHONE_TYPES.MOBILE].customPhoneNumber !== undefined"
                            class="custom-phone-validation-cancel-button"
                            ng-click="userEditCtrl.phoneEditMode($root.PHONE_TYPES.MOBILE, false)">Cancel
                    </button>
                    <span class="phone-length-message"
                          ng-if="userEditCtrl.editPhonesMode[$root.PHONE_TYPES.MOBILE] &&
                              $root.config.retailer.customPhoneValidation.phoneNumberRange.min &&
                               $root.config.retailer.customPhoneValidation.phoneNumberRange.max">
                            {{('custom-phone-validation-range' | translate).replace('{min}', $root.config.retailer.customPhoneValidation.phoneNumberRange.min).replace('{max}', $root.config.retailer.customPhoneValidation.phoneNumberRange.max)}}</span>
                    <span class="phone-length-message" ng-if="userEditCtrl.editPhonesMode[$root.PHONE_TYPES.MOBILE] &&
                               $root.config.retailer.customPhoneValidation.phoneNumberRange.min &&
                               !$root.config.retailer.customPhoneValidation.phoneNumberRange.max">{{('custom-phone-validation-min' | translate).replace('{min}', $root.config.retailer.customPhoneValidation.phoneNumberRange.min)}}</span>
                    <span class="phone-length-message" ng-if="userEditCtrl.editPhonesMode[$root.PHONE_TYPES.MOBILE] &&
                              !$root.config.retailer.customPhoneValidation.phoneNumberRange.min &&
                               $root.config.retailer.customPhoneValidation.phoneNumberRange.max">{{('custom-phone-validation-max' | translate).replace('{max}', $root.config.retailer.customPhoneValidation.phoneNumberRange.max)}}</span>
                </div>
            </div>
            <div></div>
            <div class="input-group">
                <div class="input-wrapper">
                    <label class="input-desc comments" for="comments_input">{{::'Comments' | translate}}</label><!--
                    --><textarea name="comments"
                                 ng-model="userEditCtrl.user.orderComments"
                                 id="comments_input"
                                 sp-inline-error></textarea>
                </div>
            </div>
            <div class="input-group second">
                <div class="input-wrapper">
                    <span class="input-desc"></span><!--
                    -->
                    <sp-checkbox
                            ng-if="!userEditCtrl.externalLoginSettings.isActive && !$root.config.retailer.settings.hidePromotionCheckboxOnUserDetails || $root.config.retailer.settings.hidePromotionCheckboxOnUserDetails == 'false'"
                            sp-model="userEditCtrl.user.allowSendPromotions">
                        {{::'Allow to send promotions' | translate}}
                    </sp-checkbox>
                </div>
            </div>
        </div>

    </div>
</form>
<!-- TODO: paz external iframe -->

<ng-include ng-if="accountInfoCtrl.isEnabledAddressSettings && accountInfoCtrl.isUseGMapDeliveryMethod && !accountInfoCtrl.isGMapWithZipCodeProvider" src="'template/views/user-edit/account-info/partials/index.html'"></ng-include>