<div class="name">
    {{::'Hi' | translate}} {{posOrdersCtrl.user.firstName}},
</div>
<div id="load_orders_from_pos_title" class="title">
    <!--<img src=""/>-->{{::('Load Your Shopping Cart' | translate).replace('{cart}', $root.config.retailer.settings.setCartNameToBasket ? $root.config.retailer.settings.setCartNameToBasket : 'cart')}}
</div>
<form sp-form-accessibility ng-show="!posOrdersCtrl.confirmationCodeSent" name="initConfirmation" class="init-confirmation" novalidate ng-submit="posOrdersCtrl.sendCode(initConfirmation, $event)">
    <div class="title">
        {{('Load your last shopping cart from <%storeName%> grocery store' | translate).replace('<%storeName%>', $root.config.retailer.title)}}?
    </div>

    <div class="field-content">
        <div class="input-wrapper">
            <span class="title">
                {{'ordersFromPosFieldTitle' + posOrdersCtrl.activeField.type | translate}}
            </span>
            <span class="input">
                <input type="email" ng-model="posOrdersCtrl.value" name="email" placeholder="{{::'Email' | translate}}" required sp-inline-error
                       ng-if="posOrdersCtrl.activeField.type == $root.POS_USER_FIELD_TYPES.EMAIL"/>
                <input type="tel" ng-model="posOrdersCtrl.value" name="phoneNumber" placeholder="{{::'Phone number' | translate}}" required sp-inline-error
                       ng-if="posOrdersCtrl.activeField.type == $root.POS_USER_FIELD_TYPES.PHONE"/>
            </span>
        </div>

        <div class="description">
            {{'ordersFromPosFieldDescription' + posOrdersCtrl.activeField.type | translate}}
        </div>
    </div>

    <div class="actions-row reverse-text-align">
        <button type="submit" ng-disabled="calling">
            {{::'Send Code' | translate}}
        </button>
        <button type="button" class="no-design" ng-click="$dialog.hide()">
            {{::'No, Thanks' | translate}}
        </button>
    </div>
</form>
<form sp-form-accessibility ng-show="posOrdersCtrl.confirmationCodeSent" name="confirmConfirmation" class="confirm-confirmation" novalidate ng-submit="posOrdersCtrl.confirmCode(confirmConfirmation, $event)">
    <div class="title">
        {{('orderFromPosCodeSentTitle' + posOrdersCtrl.activeField.type | translate).replace('<%value%>', posOrdersCtrl.value)}}
    </div>

    <div class="field-content">
        <div class="message-image">
            image<br/>here
        </div>
        <div class="input-wrapper">
            <div class="title">
                {{::'Enter verification code' | translate}}
            </div>
            <div class="input">
                <input type="text" ng-model="posOrdersCtrl.confirmationCode" name="confirmCode" placeholder="{{::'Code' | translate}}" required sp-inline-error/>
            </div>
        </div>
    </div>

    <div class="actions-row">
        <div class="back-btn">
            <button type="button" class="no-design" ng-click="posOrdersCtrl.confirmationCodeSent = false">
                < {{::'Back' | translate}}
            </button>
        </div>
        <div class="main-actions reverse-text-align">
            <div class="submit-btn">
                <button type="submit" ng-disabled="calling">
                    {{::'Upload shopping cart' | translate}}
                </button>
                <button type="button" class="resend-link no-design" ng-click="posOrdersCtrl.sendCode()">
                    {{::'Didn\'t get the code?'  | translate}}
                </button>
            </div>
            <button type="button" class="no-design" ng-click="$dialog.hide()">
                {{::'Cancel' | translate}}
            </button>
        </div>
    </div>
</form>
