.dialog-wrapper .dialog.load-orders-from-pos .dialog-body {
  width: 45em;
  overflow: visible;

  > .name, > .title {
    font-size: 2em;
    text-align: center;
  }

  > .title {
    font-weight: bold;
    padding-top: 0.5em;
  }

  > .init-confirmation, > .confirm-confirmation {
    font-size: 1.3em;
    padding: 0 1em;

    > * {
      padding-top: 2em;
    }

    > .actions-row {
      padding-top: 6em;
      padding-bottom: 1em;

      button {
        padding: 0.3em 1.3em;
      }
    }

    .err-input-wrapper {
      display: inline-block;
    }
  }

  > .init-confirmation {
    > .field-content > * {
      padding-top: 2em;
    }
  }

  > .confirm-confirmation {
    > .field-content {
      > * {
        display: inline-block;
        vertical-align: middle;
      }

      > .input-wrapper {
        .title {
          font-size: 0.8em;
          font-weight: bold;
          padding-bottom: 1em;
        }

        .err-input-wrapper input {
          width: 10em;
          padding: 0.3em;
        }
      }
    }

    > .actions-row {
      white-space: nowrap;

      > * {
        display: inline-block;
        vertical-align: top;
      }

      > .back-btn {
        width: 30%;
      }

      > .main-actions {
        width: 70%;

        > * {
          vertical-align: top;
        }

        > .submit-btn {
          display: inline-block;

          .resend-link {
            display: block;
            font-size: 0.9em;
            padding-top: 0.5em;
          }
        }
      }
    }
  }
}