sp-dropdown {
   position: relative;
   // z-index: 98;
  display: inline-block;
  cursor: pointer;
  @include user-select(none);

  .sp-dropdown-text {
    display: inline-block;
    height: 100%;
    color: inherit;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
    padding: 0 0.4em;
    width: 100%;
    box-sizing: border-box;

    * {
      color: inherit;
      vertical-align: middle;
      display: inline-block;
    }

    .arrow {
      display: inline-block;
      margin-left: 0.4em;
      width: 0.7em;
      height: 0.5em;
      background-image: url('https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/icon-arrow-open-white.png');
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }
  }

  .sp-dropdown-options-wrapper {
    position: absolute;
    top: 100%;
    display: none;
    min-width: 100%;
    right: 0;
    border: 1px solid #ccc;
    color: #000000;
    max-height: 20em;
    overflow: auto;
    padding-bottom: 0.1rem;

    .title {
      label span.option-content {
        border-bottom: 1px solid #ccc;
      }
    }

    .sp-option {
      display: block;
      height: 100%;
      background-color: #fff;

      &:first-child {
        border-top-width: 0;
      }

      &:hover, &.active {
        background-color: #ccc;
      }

      label {
        cursor: inherit;
        display: inline-block;
        width: 100%;
        padding: 0 1em;
        @include box-sizing(border-box);

        > .option-content {
          display: block;
          padding-top: 0.6rem;
          padding-bottom: 0.6rem;

          > .option-link {
            display: block;
          }
        }

        .option-checkbox {
          display: block;
          float: left;
          height: 100%;
          padding: 0 0.2em 0 0;
        }
      }
    }
  }

  &.open {
    .sp-dropdown-text {
      .arrow {
        background-image: url('https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/icon-arrow-close-white.png');
      }
    }


    .sp-dropdown-options-wrapper {
      position: absolute;
      z-index: 99;
      display: block;
    }

    &.display-under .sp-dropdown-options-wrapper {
      z-index: 2;
    }

    &.on-top .sp-dropdown-options-wrapper {
      top: auto;
      bottom: 100%;
    }
  }

  img {
    max-width: 20px;
    max-height: 20px;
  }

  &.transparent-arrow {
    .sp-dropdown-text .arrow {
        position: absolute;
        background-image: url("https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/dropdown-arrow-transparent-down.png");
        width: 1.2em;
        height: 1em;
        top: 50%;
        right: 0.5em;
        margin-top: -0.5em;
        background-color: #ADADAD;
    }

    &.open .sp-dropdown-text .arrow {
      background-image: url("https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/dropdown-arrow-transparent-up.png");
    }
  }

  &.input {
    width: 100%;
    @include box-sizing(border-box);
    height: 2.5em;
    border: 1px solid #adadad;
    @include border-radius(5px);
    color: #878787;

    &.narrow {
      width: auto;
      padding-left: 2em;
    }

    .sp-dropdown-text .arrow {
      background-color: #606060;
    }
  }
}

.rtl sp-dropdown {
  .sp-dropdown-text {
    text-align: right;
  }

  .sp-dropdown-options-wrapper {
    right: auto;
    left: 0;

    .sp-option label {
      .option-checkbox {
        float: right;
        padding: 0 0 0 0.2em;
      }
    }
  }

  .sp-dropdown-text .arrow {
    margin-left: 0;
    margin-right: 0.4em;
  }

  &.transparent-arrow .sp-dropdown-text .arrow {
    right: auto;
    left: 0.5em;
  }
}

$arrowSize: 1em;

.dropdown-options-wrapper {
  position: absolute;

  > .dropdown-options {
    display: none;
    width: 17.5em;
    height: 11em;
    padding: 0.2em 0;
    max-height: 13.2em;
    margin-top: 14px;
    position: absolute;
    background-color: #ffffff;
    z-index: 1;
    @include border-radius(5px);
    @include box-sizing(border-box);
    top: 100%;

    &.small{
      height: 6.5em;
    }

    &.shown {
      display: block;
    }

    &.he {
      width: 15em !important;
    }

    ng-include {
      display: inline !important;
    }

    .dropdown-arrow-wrapper {
      display: block;
      position: absolute;
      width: 100%;
      height: $arrowSize;
      overflow: hidden;
      z-index: 10;
      left: 0;
      top: -$arrowSize;
      text-align: center;

      .arrow {
        display: inline-block;
        vertical-align: bottom;
        width: $arrowSize;
        height: $arrowSize;
        background-color: #ffffff;
        @include rotate(45);
        margin-top: $arrowSize * 0.6;
      }
    }

    .dropdown-items-wrapper {
      overflow: auto;
      height: 100%;
      width: 100%;
      @include box-sizing(border-box);

      &.no-delivery-times {
        text-align: center;
      }

      > div.title, > h3.title {
        margin-top: 0.3em;
        padding: 0.5em;
        font-size: 0.9em;
        font-weight: bold;
      }

      > .asap {
        font-size: 0.7em;
        padding: 0 0.5em 0.5em 0.5em;

        label.checkbox > span.label {
          color: #1f0000;
        }

        &.disabled {
          label.checkbox > span.label {
            color: #c6c6c6;
          }

          label.checkbox > span.box.true {
            background-color: #ffffff;
          }
        }
      }

      > .dropdown-items > .dropdown-item {
        display: block;
        text-align: left;
        white-space: nowrap;
        text-overflow: ellipsis;
        cursor: pointer;
        font-size: 0.9em;
        padding: 0.5em;
        position: relative;

        > .input-wrapper {
          display: inline-block !important;
          width: 0 !important;
          height: 0 !important;
          padding: 0 !important;
          margin: 0 !important;
          overflow: hidden !important;
          position: absolute;
        }

        > .dropdown-item-content {
          display: flex;
          align-items: center;
          overflow: hidden;

          > * {
            vertical-align: middle;
          }

          .time {
            flex: 1 1 auto;
            display: inline-block;
          }

          .border {
            flex: 0 0 auto;
            padding: 0.6em 0.15em;
            border-left: 1px solid #c6c6c6;
          }

          .price {
            direction: ltr;
            display: inline-block;
            flex: 0 0 auto;
            width: 6em;
          }

          .specials-wrapper {
            flex: 0 0 auto;

            .sp-sale-icon {
              position: relative;
              left: auto;
              right: auto;
              top: auto;
              bottom: auto;
              height: 2em;
              width: 2em;
              vertical-align: middle;

              img {
                width: 100%;
                height: 100%;
              }
            }

            .specials-tooltip {
              $arrowWrapperHeight: 0.5em;
              display: none;
              position: absolute;
              bottom: 100%;
              z-index: 4;
              left: 3%;
              right: 3%;
              margin-bottom: -0.6em;
              box-sizing: border-box;

              > .specials-arrow {
                $arrowSize: 0.9375em;
                display: block;
                vertical-align: top;
                height: $arrowWrapperHeight;
                width: $arrowSize;
                position: relative;
                overflow: hidden;

                .ltr & {
                  margin-left: 0.35em;
                }
                .rtl & {
                  margin-right: 0.35em;
                }

                &:after {
                  content: '';
                  position: absolute;
                  display: inline-block;
                  height: $arrowSize;
                  transform: rotate(45deg);
                  margin-top: -0.8em;
                  width: 100%;
                  background-color: #ffffff;
                }
              }

              > .specials-content {
                display: block;
                color: #000;
                vertical-align: top;
                $fontSize: 0.85em;
                font-size: $fontSize;
                font-weight: 400;
                width: 100%;
                min-height: 1.8em;
                background-color: #fff;
                padding: 0.5em;
                box-sizing: border-box;
                overflow: hidden;
                border-radius: 5px;

                .special-content {
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  justify-content: start;

                  .sp-sale-icon {
                    flex: 0 0 auto;
                    width: 1.7em;
                    height: 1.7em;

                    .ltr & {
                      margin-right: 0.2em;
                    }
                    .rtl & {
                      margin-left: 0.2em;
                    }
                  }

                  .description {
                    flex: 1 1 auto;
                    white-space: normal;
                    padding-bottom: 0.3em;

                    &:last-child {
                      padding-bottom: 0;
                    }
                  }
                }
              }
            }
          }
        }
        
        > .two-hour-law {
          display: block;
          font-size: 0.6em;
          margin-top: 0.83em;
          padding: 0 0.5em 0.5em 0.5em;
        }

        &:first-child {
          border-top-width: 0;
        }

        &:hover {
          //font-weight: bold;
          //color: #ffffff;
        }

        &.selected {
          color: #ffffff;
          font-weight: bold;
        }

        &.full {
          cursor: default;
          @include opacity(0.35);
          font-weight: normal !important;
        }

        &:hover, &.active {
          .specials-wrapper .specials-tooltip {
            display: block;
          }
        }
      }

      &.with-specials {
        > .dropdown-items > .dropdown-item {
          padding: 0.3em;
          padding-left: 2.3em;

          &.specials {
            padding-left: 0.3em;
          }

          > .dropdown-item-content .time {
            margin-left: 0.2em;
          }
        }
      }
    }
  }
}

.rtl {
  .dropdown-options-wrapper {

    > .dropdown-options {
      .dropdown-arrow-wrapper {
        margin-right: 6.5em;
      }

      .dropdown-items-wrapper {
        > .dropdown-items > .dropdown-item {
          text-align: right;

          > .dropdown-item-content {
            .time {
              direction: ltr;
            }

            .border {
              border-right: 1px solid #c6c6c6;
              border-left: none;
            }
          }
        }

        &.with-specials {
          > .dropdown-items > .dropdown-item {
            padding-left: 0.3em;
            padding-right: 2.3em;

            &.specials {
              padding-right: 0.3em;
            }

            > .dropdown-item-content .time {
              margin-left: 0;
              margin-right: 0.2em;
            }
          }
        }
      }
    }
  }
}
