.dropdown-options-wrapper {
  > .dropdown-options {
    border: 1px solid $mainColor;

    .dropdown-arrow-wrapper .arrow {
      border: 1px solid $mainColor;
    }

    .title {
      color: $mainColor;
    }
  }

  > .dropdown-options .dropdown-items-wrapper > .dropdown-items > .dropdown-item {
    &.selected {
      background-color: $mainColor;
    }

    &:hover, &.active {
      color: $highlightColor;
    }

    &.selected:hover {
      color: #ffffff;
    }

    > .dropdown-item-content {
      .specials-wrapper .specials-tooltip {
        > .specials-content {
          //border: 1px solid $highlightColor;
          box-shadow: 0 0 8px 0 $highlightColor;
        }

        > .specials-arrow:after {
          //border: 1px solid $highlightColor;
          box-shadow: 0.1px 1px 7px 0 $highlightColor;
        }
      }
    }
  }
}