<div class="finish-v2">
	<div class="cart-icon" ng-class="{'update-order-summary-data': updateOrderV2Ctrl.orderId}">
		<span class="empty-cart">
			<img src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/empty-big-cart.png" alt=""/>
			<span class="v-icon">
				<img src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/big-v.png" alt=""/>
			</span>
		</span>
	</div>
	
	<div class="text-content secondary-font" ng-class="{'update-order-summary-data': updateOrderV2Ctrl.orderId}">
		<h1>
		   {{'Your order has been updated' | translate}}<br/>
		</h1>
		<h4 class="regular-text">
			{{'Order ID' | translate}}: {{updateOrderV2Ctrl.orderId}}
		</h4>
		<h4 class="regular-text">
			{{'Please check your email for order details' | translate}}.<br/>
			{{'Thank you' | translate}}!
		</h4>
	</div>

		<div class="buttons">
		<button class="disabled-opacity" ng-click="updateOrderV2Ctrl.backToHomePage()" aria-label="Back To Home Page"
			ng-bind="::'Back To Home Page' | translate"></button>
	</div>
</div>
