.finish-v2 {
  text-align: center;
  overflow: hidden;
  
  .update-order-summary-data {
    padding: 0.1em 0;

    h1 {
      padding: 0.1em 0;
    }
  }

  .cart-icon .empty-cart {
    display: inline-block;
    position: relative;
    height: 5em;

    .v-icon {
      position: absolute;
      overflow: hidden;
      width: 3em;
      top: 0;
      left: 1.1em;
      transition: width 1.5s;
    }
  }

  .text-content {
    $grey-color: #878787;

    margin: 0 auto;
    
    .regular-text {
      color: $grey-color;
     
      &.with-padding-top {
        padding-top: 2em;
      }
    }
  }

  .buttons {
    padding-top: 5em;
    text-align: center;

    >button {
      font-weight: 700;
      min-width: 28em;
      min-height: 3.5em;
      margin: 0 .7em;

      >span {
        font-size: large;
      }
    }
  }

  &:last-child {
    padding-bottom: 0;
  }

  >.slider {
    text-align: center;
  }
}