<div class="navigation-bar">
    <div class="order-summary">
      <span class="back" ng-click="goBack()">< <span>{{'Back' | translate}}</span></span>
      <div class="order-details-wrapper">
        <span class="order-number-title">
            <h1 id="page_title">{{'Order number' | translate}}: <span class="bold">{{orderCtrl.order.id}}</span></h1>
            <span class="customer-service-title" ng-if="orderCtrl.order.orderTypeId === $root.ORDER_TYPES.CUSTOMER_SERVICE">
                {{'Customer service order' | translate}}
            </span>
        </span>
        <span class="order-date">, {{ (orderCtrl.order.branchDeliveryTypeId == $root.SP_SERVICES.DELIVERY_TYPES.DELIVERY ? 'Delivery' : 'Pickup') | translate}} :
             <span class="bold" ng-if="orderCtrl.order.deliveryTimeTypeId == $root.DELIVERY_TIMES_TYPES.REGULAR && orderCtrl.order.shippingTimeFromDisplay && $root.config.retailer.twoHourLaw">
                     {{(orderCtrl.order.shippingTimeFrom | date: $root.util.getDateFormat() :'UTC') + ' ' + (orderCtrl.order.shippingTimeFromDisplay | date: $root.util.getTimeFormat() :'UTC')}}
                 </span>
            <span  class="bold"  ng-if="orderCtrl.order.deliveryTimeTypeId !== $root.DELIVERY_TIMES_TYPES.DELIVERY_WITHIN_DAYS && !(orderCtrl.order.deliveryTimeTypeId == $root.DELIVERY_TIMES_TYPES.REGULAR && orderCtrl.order.shippingTimeFromDisplay && $root.config.retailer.twoHourLaw)  ">
                {{(orderCtrl.order.shippingTimeFrom | date: $root.util.getDateTimeFormat() :'UTC') + '-' + (orderCtrl.order.shippingTimeTo | date: $root.util.getTimeFormat() :'UTC')}}
            </span>
     <span ng-if="orderCtrl.order.deliveryTimeTypeId === $root.DELIVERY_TIMES_TYPES.DELIVERY_WITHIN_DAYS">
         {{orderCtrl.order.shippingTimeFrom | date:  $root.util.getDateFormat() :'UTC'}} + {{orderCtrl.order.deliveryTimeDaysRange}} {{ 'business days' | translate}}
     </span>
        </span> ,</span>
        <span class="order-status order-status-{{:: orderCtrl.order.statusId}}">
              {{'Order status' | translate}}:
              <span ng-class="{ bold:true, warning: orderCtrl.order.statusId === $root.ORDER_STATUSES.CANCELLED }">
                {{$root.ORDER_STATUSES[orderCtrl.order.statusId] | translate}}
            </span>
              <span class="status-description">
                <span class="question-mark">?</span>
                <span class="description">
                    {{(orderCtrl.order.statusId | orderStatus) + ' text' | translate}}
                </span>
            </span>
          </span>
      </div>
    </div>
    <div class="buttons-wrapper content">
        <div class="button-wrapper">
            <button ng-click="orderCtrl.addToCart();" ng-bind="('add to cart' | translate).replace('{cart}', $root.config.retailer.settings.setCartNameToBasket ? $root.config.retailer.settings.setCartNameToBasket : 'cart')">
            </button>
        </div>
        <div class="button-wrapper">
            <button ng-click="orderCtrl.addToShopList();" ng-bind="'Add to shopping list' | translate">
            </button>
        </div>
        <div class="button-wrapper" ng-if="$root.util.isOrderEditable(orderCtrl.order)">
            <button ng-click="$root.util.editOrder(orderCtrl.order.id);" ng-bind="'Edit order' | translate"></button>
        </div>
        <div class="button-wrapper" ng-if="$root.util.isOrderEditable(orderCtrl.order)">
            <button ng-click="orderCtrl.cancelOrder();" ng-bind="'Cancel order' | translate" class="cancel"></button>
        </div>
    </div>
</div>

<div class="order-actions">
    <div>
        <div class="item">
            <span>{{'Order time' | translate}}</span>
            <span>{{ orderCtrl.order.timePlaced | date : 'dd/MM/yyyy HH:mm' :'UTC'}}</span>

            <span>{{'Substitutions' | translate}}</span>
            <span>{{'substitute_preference_' + orderCtrl.order.substitutePreferences + '_label' | translate}}</span>

            <span ng-if="orderCtrl.order.fixedAddress">{{'Delivery address' | translate}}</span>
            <span class="address" ng-if="orderCtrl.order.fixedAddress">{{ orderCtrl.order.fixedAddress }}</span>
        </div>
    </div>

    <div>
        <div class="item">
            <span ng-if="orderCtrl.showReceivedOrderData()">{{'Number of provided products' | translate}}</span>
            <span ng-if="orderCtrl.showReceivedOrderData()">{{ orderCtrl.itemsCount}}</span>

            <span>{{'Subtotal' | translate}}</span>
            <span>
              {{($root.util.isOrderInStatuses(orderCtrl.order, $root.ORDER_STATUS_STAGES.FINISH) || $root.util.isOrderInStatuses(orderCtrl.order, $root.ORDER_STATUS_STAGES.READY))
                ? ((orderCtrl.order.totalAmount - orderCtrl.order.totalTax + orderCtrl.order.ebtSnapTaxSaved) | currency)
                : ((orderCtrl.order.totalAmount - orderCtrl.order.totalTax + orderCtrl.order.ebtWeightDeposit)  | currency)
              }}
            </span>

            <span>{{'Delivery fee' | translate}}</span>
            <span>{{ orderCtrl.order.deliveryFee | currency }}</span>

            <span>{{'Tax' | translate}}</span>
            <span>{{ (orderCtrl.order.totalTax - orderCtrl.order.ebtSnapTaxSaved) | currency }}</span>

            <span class="bold">{{ ($root.util.isOrderInStatuses(orderCtrl.order, $root.ORDER_STATUS_STAGES.FINISH) || $root.util.isOrderInStatuses(orderCtrl.order, $root.ORDER_STATUS_STAGES.READY) ? 'Total' :'Total (estimated)') | translate }}</span>
            <span>{{($root.util.isOrderInStatuses(orderCtrl.order, $root.ORDER_STATUS_STAGES.FINISH) || $root.util.isOrderInStatuses(orderCtrl.order, $root.ORDER_STATUS_STAGES.READY))
                    ? ((orderCtrl.order.overallCharged || orderCtrl.order.amountCharged) | currency)
                    : ((orderCtrl.order.totalAmount - orderCtrl.order.ebtSnapTaxSaved  + orderCtrl.order.ebtWeightDeposit) | currency) }}
                </span>
        </div>
    </div>

    <div>
        <table class="secondary-payments">
            <tbody>
                <tr ng-if="orderCtrl.order.paymentData.mainPayment.paymentMethodId === $root.SP_PAYMENTS.PAYMENT_METHODS.IDS.CALL_CUSTOMER ||
                        orderCtrl.order.paymentData.mainPayment.paymentMethodId === $root.SP_PAYMENTS.PAYMENT_METHODS.IDS.PAYPAL ||
                        orderCtrl.order.paymentData.mainPayment.paymentMethodId === $root.SP_PAYMENTS.PAYMENT_METHODS.IDS.STORE_CREDIT ||
                        orderCtrl.order.paymentData.mainPayment.paymentMethodId === $root.SP_PAYMENTS.PAYMENT_METHODS.IDS.ORGANIZATION">
                    <td>{{'Payment method' | translate}}</td>
                    <td>{{orderCtrl.order.paymentData.mainPayment.paymentMethodId | paymentMethod | translate}}</td>
                </tr>
                <tr ng-if="orderCtrl.order.paymentData.mainPayment.paymentMethodId === $root.SP_PAYMENTS.PAYMENT_METHODS.IDS.STORE_CREDIT">
                    <td>{{'Account Number' | translate}}:</td>
                    <td>{{orderCtrl.order.paymentData.mainPayment.paymentToken}}</td>
                </tr>
                <tr ng-if="orderCtrl.order.paymentData.mainPayment.paymentMethodId === $root.SP_PAYMENTS.PAYMENT_METHODS.IDS.ORGANIZATION">
                    <td>{{'Org & Order No.' | translate}}:</td>
                    <td>{{orderCtrl.order.paymentData.mainPayment.paymentToken}}</td>
                </tr>
                <tr ng-if="orderCtrl.order.paymentData.mainPayment && orderCtrl.order.paymentData.mainPayment.paymentMethodId == $root.SP_PAYMENTS.PAYMENT_METHODS.IDS.CREDIT_CARD">
                    <td>{{'Payment method ending with' | translate}}</td>
                    <td class="ltr">**** {{ orderCtrl.order.paymentData.mainPayment.lastFourDigits }}</td>
                </tr>
                <tr ng-if="orderCtrl.order.paymentData.mainPayment && orderCtrl.order.paymentData.mainPayment.paymentMethodId == $root.SP_PAYMENTS.PAYMENT_METHODS.IDS.CREDIT_CARD">
                    <td>{{'Credit card charge' | translate}}:</td>
                    <td>
                        {{(orderCtrl.order.amountCharged || orderCtrl.order.overallCharged) ? 
                            (orderCtrl.order.paymentData.mainPayment.amountCharged || '0') : (orderCtrl.order.paymentData.mainPayment.initialAmount) | currency }}
                    </td>
                </tr>
                <tr ng-if="orderCtrl.order.paymentData.ebtPayment">
                    <td>{{'EBT card' | translate}}</td>
                    <td class="ltr">**** {{ orderCtrl.order.paymentData.ebtPayment.lastFourDigits }}</td>
                </tr>
                <tr ng-if="orderCtrl.ebtPayment">
                    <td>{{'EBT SNAP Charge' | translate}}</td>
                    <td>{{ orderCtrl.ebtPayment.ebtSNAPPayment | currency }}</td>
                </tr>
                <tr ng-if="orderCtrl.ebtPayment">
                    <td>{{'EBT Cash Charge' | translate}}</td>
                    <td>{{ orderCtrl.ebtPayment.ebtCashPayment | currency }}</td>
                </tr>
                <tr ng-if="orderCtrl.showReceivedOrderData() && orderCtrl.order.paymentData.ebtSNAPPayment ">
                    <td>{{'EBT Finalized amount' | translate}}</td>
                    <td>{{ orderCtrl.ebtPayment.ebtFinalizedAmount | currency }}</td>
                </tr>
                <tr ng-if="orderCtrl.showReceivedOrderData() && orderCtrl.order.paymentData.ebtSNAPPayment && orderCtrl.ebtPayment.ebtSNAPRefund > 0">
                    <td>{{'EBT SNAP refund' | translate}}</td>
                    <td>{{ orderCtrl.ebtPayment.ebtSNAPRefund | currency }}</td>
                </tr>
                <tr ng-if="orderCtrl.showReceivedOrderData() && orderCtrl.order.paymentData.ebtCashPayment && orderCtrl.ebtPayment.ebtCashRefund > 0">
                    <td>{{'EBT Cash refund' | translate}}</td>
                    <td>{{ orderCtrl.ebtPayment.ebtCashRefund | currency }}</td>
                </tr>
                <tr ng-if="orderCtrl.order.paymentData.secondaryPayments" ng-repeat="payment in orderCtrl.order.paymentData.secondaryPayments">
                    <td>{{ payment.paymentMethodId | paymentMethod | translate }}:</td>
                    <td>{{ (payment.amountCharged || payment.initialAmount)| currency }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<sp-table class="{{$root.config.retailer.settings.isNewPromotionDesignEnabled === 'true' ? 'new-promotion' : ''}}"
          items="orderCtrl.order.lines"
          actions="orderCtrl.actions"
          default-sort-by="index"
          is-reverse="true">
    <sp-table-column title="{{'Image' | translate}}">
        <div class="product-status"
           ng-class="{
            replaced : item.substituteId ,
            disabled: item.isProductOutOfStock,
            added: $root.util.isCartLineAdded(item) && ($parent.$parent.orderCtrl.isCartHasOriginalPrices() || item.isPseudo),
            missing :item.status === $root.LINE_STATUS.MISSING || item.originalProductId}">
            <span ng-if="item.substituteId" ng-bind="'Replaced with' | translate"></span>
            <span ng-if="item.status === $root.LINE_STATUS.MISSING || item.originalProductId" ng-bind="'Out of stock' | translate"></span>
            <span ng-if="$root.util.isCartLineAdded(item) && ($parent.$parent.orderCtrl.isCartHasOriginalPrices() || item.isPseudo) && !(item.status === $root.LINE_STATUS.MISSING || item.originalProductId)" ng-bind="'New product' | translate"></span>
        </div>
        <div class="out-of-stock-container general-image-wrapper">
            <img ng-src="{{item.product | productImage:'small'}}" ng-class="{'disabled': item.isProductOutOfStock}" alt="{{item.product ? (item.product | productName:item.isCase) : item.name}}"/>
            <span ng-if="!item.product._suggestions && (item.isProductOutOfStock || item.isNeedToShowOutOfStockLabel)" class="out-of-stock">{{'Out of stock' | translate}}</span>
            <span class="out-of-stock suggestions text-1" ng-if="item.product._suggestions && (item.isProductOutOfStock || item.isNeedToShowOutOfStockLabel)" ng-click="openSuggestions(item)">{{'Out of Stock' | translate}}</span>
            <span class="out-of-stock suggestions text-2" ng-if="item.product._suggestions && (item.isProductOutOfStock || item.isNeedToShowOutOfStockLabel)" ng-click="openSuggestions(item)">
                <span><svg role="presentation" class="replace-arrow" focusable="false"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{'#sp-icons-replace-arrow-' + $root.config.language.direction}}"></use></svg></span>
                <span>{{'replace_2' | translate}}</span>
            </span>
            <span class="suggestions" ng-if="item.product._suggestions && (item.isProductOutOfStock || item.isNeedToShowOutOfStockLabel)">
                    <svg class="outline-large" focusable="false"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#sp-icons-out-of-stock-outline"></use></svg>
                    <svg class="outline-small" focusable="false"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#sp-icons-out-of-stock-outline-small"></use></svg>
                </span>
        </div>
    </sp-table-column>
    <sp-table-column title="{{'Product name' | translate}}" sort-by="name" style-class="{{'product-details' + (item.isProductOutOfStock ? ' disabled' : '')}}">
        {{(item.product && item.product.isCoupon && item.couponPersonalizationName !== null) ? item.couponPersonalizationName : (item.product ? (item.product | productName:item.isCase) : item.name )}}
<!--        <div class="specials" ng-if="item.product.branch && item.product.branch.specials">-->
<!--            <div class="special-desc" ng-repeat="special in item.product.branch.specials">{{('Special' | translate) + ': ' + special.description}}</div>-->
<!--        </div>-->
    </sp-table-column>
    <sp-table-column style-class="{{($root.config.retailer.settings.isNewPromotionDesignEnabled === 'true' ? 'new-promotion' : 'new-promotion-hide') + (item.isProductOutOfStock ? ' disabled' : '')}}">
        <sp-promotion product="item.product" is-list="true" ng-if="item.product && item.product.branch.specials.length"></sp-promotion>
    </sp-table-column>
    <sp-table-column title="{{'Brand' | translate}}" sort-by="brand" style-class="{{item.isProductOutOfStock ? 'disabled' : ''}}">
        {{item.product ? (item.product.brand.names | name) : '' }}
    </sp-table-column>
    <sp-table-column title="{{'Ordered' | translate}}" sort-by="quantity" style-class="quantity-price {{item.isProductOutOfStock ? 'disabled' : ''}}">
        <span ng-if="(!$root.util.isCartLineAdded(item) || item.isPseudo) && !item.substituteId">
            {{ item | cartLineQuantity : undefined : undefined : true }}
           <span ng-if="item.product.isWeighable && item.product.weight && (!item.soldBy || item.soldBy === $root.PRODUCT_DISPLAY.WEIGHT.name)">
                {{item.product | unitNames | name}}
           </span>
            <span ng-if="item.isCase || !item.isWeightable || item.soldBy === $root.PRODUCT_DISPLAY.UNIT.name">
                {{(item.isCase ? 'Case' : 'Unit') | translate}}
           </span>
        </span>
        <span ng-if="($root.util.isCartLineAdded(item) || item.substituteId) && !item.isPseudo">--</span>
        <sp-product-price
                ng-if="item.originalTotalPrice && $root.util.isCartLineWithSale(item)"
                regular-price="item.originalTotalPrice"
                hide-normalize-price="true"
                product="item.product"
                show-disclaimer-on-cart-pages="$root.config.retailer.settings.showPriceWithoutBottleDeposit">
        </sp-product-price>
        <sp-product-price
                ng-if="item.originalPrice && !$root.util.isCartLineWithSale(item)"
                regular-price="item.regularPrice * item.quantity"
                sale-price="item.originalTotalPrice"
                product="item.product"
                show-disclaimer-on-cart-pages="$root.config.retailer.settings.showPriceWithoutBottleDeposit"
                hide-normalize-price="true">
        </sp-product-price>
    </sp-table-column>
    <sp-table-column title="{{'received_items' | translate}}" sort-by="actualQuantity" style-class="received quantity-price {{item.isProductOutOfStock ? 'disabled' : ''}}">
        <span ng-if="item.status !== $root.LINE_STATUS.MISSING && item.orderStatusId !== $root.ORDER_STATUSES.NEW && !item.originalProductId && item.orderStatusId !== $root.ORDER_STATUSES.CANCELLED && item.orderStatusId !== $root.ORDER_STATUSES.PROCESSING">
            {{ item | cartLineQuantity : (item.weightIncludeTare || item.actualQuantity | number) : undefined : true }}

            <span ng-if="item.isCase || !item.isWeightable">
                {{(item.isCase ? 'Case' : 'Unit') | translate}}
            </span>

            <span ng-show="!item.isCase && $root.util.isUnitsWeighable(item.product)">
                {{item.product | unitNames | name}}
            </span>

            <div ng-if="item.priceIncludeTare" tabindex="0">
                <sp-product-price regular-price="item.priceIncludeTare" hide-normalize-price="true"></sp-product-price>
            </div>
            <div class="total-price" tabindex="0">
                <sp-product-price
                    ng-if="$root.util.isCartLineWithSale(item)"
                    regular-price="item.totalPrice"
                    hide-normalize-price="true">
                </sp-product-price>
                <sp-product-price
                    ng-if="!$root.util.isCartLineWithSale(item)"
                    regular-price="item.regularPrice * item.actualQuantity"
                    sale-price="item.totalPrice"
                    hide-normalize-price="true">
                </sp-product-price>
                <p ng-if="item.priceIncludeTare">{{ 'After package deduction' | translate }}</p>
            </div>
        </span>
        <span ng-if="(item.status === $root.LINE_STATUS.MISSING || item.originalProductId) && item.orderStatusId !== $root.ORDER_STATUSES.CANCELLED && item.orderStatusId !== $root.ORDER_STATUSES.PROCESSING">--</span>
    </sp-table-column>
    <sp-table-column title="{{'Comments' | translate}}" style-class="{{item.isProductOutOfStock ? 'disabled' : ''}}">
        {{item.productPropertyValueName ? ((item.productPropertyValueName.propertyNames | name:'name') + ': ' + (item.productPropertyValueName.names | name:'name')) : ''}}
        <br ng-if="item.productPropertyValueName && item.comments"/><br ng-if="item.productPropertyValueName && item.comments"/>
        {{item.comments}}
    </sp-table-column>
</sp-table>
