html.order {
  $orderActionsPaddingLeft: 6.5em;
  $warningColor: #dd2104;
  $missingItemColor: #FFAAAA;
  $replacedItemColor: #FFF495;
  $addedItemColor: #C8ECB7;

  .navigation-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    border-bottom: unset;

    .buttons-wrapper {
      font-size: 1em;
    }

    .order-details-wrapper {
      padding-top: 0.3em;

      .order-date {
        white-space: nowrap;
        font-size: 1.25em;
      }
    }

    .back {
      cursor: pointer;
      padding-bottom: 1em;
      > span {
        text-decoration: underline;
      }
    }

    .order-summary {
      flex: 1;
      font-size: 1em;

      .question-mark {
        font-weight: bold;
        display: inline-block;
        padding: 0.3em 0.5em;
        @include border-radius(100%);
      }

    }
  }

  .navigation-bar .order-number-title {
    position: relative;
    font-size: 1.25em;
    padding-top: 0.5em;

    > h1 {
      display: inline-block;
      font-size: 1em;
      font-weight: 400;
      margin: 0;
      padding: 0;
      color: #000000;
    }


    > .customer-service-title {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      font-size: 0.6em;
    }
  }

  .specials {
    color: $warningColor;
    padding-top: 1em;
    font-size: 1em;
  }

  .quantity-price{
    line-height: 1.4em;

    .sp-product-price {
      position: relative;

      .bottle-deposit-disclaimer {
        position: absolute;
        right: 2.5em;
        bottom: 10px
      }
    }
  }

  .product-status {
    width: fit-content;
    margin: 0.5em auto;
    padding: 0.5em 1em;

    &.added {
      background-color: $addedItemColor;
    }

    &.replaced {
      background-color: $replacedItemColor;
    }

    &.missing {
      background-color: $missingItemColor;
    }
  }

  .hide {
    display: none;
  }

  td.received {
    background-color: #FCF5DB;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .buttons-wrapper {
    display: flex;

    .button-wrapper {
      padding-left: 0.5em;
      padding-right: 0.5em;
      > button{
        border: 1px solid;
      }
    }
  }

  .order-status {
    white-space: nowrap;
    font-size: 1.25em;

    > span {
      display: inline-block;

      &.warning {
        padding: 0.3em 0.2em;
        background-color: #ff0000;
        color: #fff;
      }
    }

    .status-description {
      display: inline-block;
      position: relative;
      font-size: 0.8em;

      .question-mark {
        font-weight: bold;
        display: inline-block;
        padding: 0.3em 0.5em;
        @include border-radius(100%);
      }

      .description {
        display: none;
        position: absolute;
        top: 100%;
        left: 100%;
        padding: 1em;
        background-color: #ffffff;
        border: 1px solid #cccccc;
        @include box-shadow(0 0 10px -4px #000000);
        @include border-radius(0 2em 2em 2em);
        width: auto;
        z-index: 1;
      }

      &:hover .description {
        display: block;
      }
    }
  }

  .order-actions {
    display: flex;

    > div {
      max-width: 26em;
      border-left: 1px solid #d2d2d3;

      .secondary-payments {
        tbody {
          > tr {
            display: grid;
            grid-template-columns: repeat(2, auto);
            grid-column-gap: 2em;
            font-size: 0.875em;
            padding-inline: 2em;

            :first-child {
              width: 10em;
            }

            > td {
              line-height: 1.5em;
            }
          }
        }
      }

      .item {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-column-gap: 2em;
        grid-row-gap: 0.5em;
        padding: 1em;
        padding-right: 3em;
        font-size: 0.875em;

        .address {
          line-height: 1.3em;
        }

        .with-padding-bottom {
          padding-bottom: 0.7em;
        }
      }

      &:first-child {
        border-left: 0;
      }
    }
  }

  section.view {
    table > tbody > tr > td, table > thead > tr > th {
      text-align: inherit;
    }
  }

  &.rtl {
    .order-actions {
      padding-left: 0;
      padding-right: $orderActionsPaddingLeft;

      .order-details .order-status .status-description .description {
        left: auto;
        right: 100%;
        @include border-radius(2em 0 2em 2em);
      }
    }
  }

  .disabled {
    opacity: 0.35;
    pointer-events: none;
  }

  .out-of-stock-container{
    position: relative; 
  }

  sp-table .out-of-stock {
    position: absolute;
    top: 50%;
    height: 1.5em;
    line-height: 1.5em;
    padding: 0 0.4em;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    margin-top: -0.75em;
    color: #ffffff;
    font-size: 0.75em;
    white-space: nowrap;
    background-color: #F86B2F;
    width: auto;
    left: 50%;
    transform: translateX(-50%);
  }

  .total-price {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
  }
}
