.sp-vertical-carousel {
  position: relative;
  width: 100%;
  height: 100%;
  display: inline-block;
  $spCarouselActionDistance: 0.3em;
  $spCarouselActionHeight: 2em + $spCarouselActionDistance;

  > {
    .items {
      margin: 6px 0;
      height: 100%;
      width: 100%;

      > .scroller {
        margin: 0 auto;
        overflow: hidden;
        height: 100%;

        .ltr & {
          text-align: left;
        }
        .rtl & {
          text-align: right;
        }

        > .transform-wrapper {
          white-space: nowrap;
          height: 100%;
          margin: 0;
          transition: transform 600ms;
          -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
        }
      }

      ng-include {
        height: auto;
        display: block;
        @include box-sizing(border-box);
        white-space: normal;
        overflow: hidden;
        vertical-align: top;
        outline: 0;
      }
    }

    .action {
      overflow: hidden;
      height: $spCarouselActionHeight;
      width: 100%;
      box-sizing: border-box;

      &.previous {
        button > svg {
          transform: rotate(90deg) translateX(-10px);
        }
      }

      &.next {
        button > svg {
          transform: rotate(-90deg) translateX(10px);
        }
        
        .loading-wrapper {
          width: 100%;
          height: 100%;
        }
      }

      button {
        width: 100%;
        height: 100%;
        background-color: #ffffff;
        color: #aaaaaa;
        font-size: 1.8em;
        box-sizing: border-box;
        border-radius: 3px;

        &.disabled {
          cursor: default;
          opacity: 0.4;
        }

        > svg {
          width: 32%;
          height: 32%;
          fill: #6f6f6f;
          display: inline-block;
          vertical-align: middle;
        }
      }
    }
  }
}