<div class="links-carousel-item">
    <a class="link" ng-href="{{::chunk[0].href}}"
       ng-style="{
        'background-color': chunk[0].backgroundColor,
        'background-image': 'url(' + (chunk[0].names | name:'desktopImageResourceUrl') || (chunk[0].names | name:'imageResourceUrl') + ')'
    }"
    aria-label="{{(chunk[0].names | name:'alt') || ''}}">
        <div class="gradient-background" ng-if="!!((chunk[0].names | name:'desktopImageResourceUrl') || (chunk[0].names | name:'imageResourceUrl'))"></div>
        <span class="content">
            <span class="title" ng-style="::{ color: chunk[0].subColor }">
                {{chunk[0].names | name:'title'}}
            </span>
            <span class="name" ng-style="::{ color: chunk[0].mainColor }">
                {{chunk[0].names | name:'name'}}
            </span>
        </span>
    </a>
</div>