.home-page-wrapper .sp-carousel .links-carousel-item {
  display: block;
  padding: 0 0.3125em;
  width: 100%;
  height: 100%;
  box-sizing: border-box;

  > .link {
    display: block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: relative;

    background-color: #333333;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    > .gradient-background {
      display: block;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(0, rgba(0,0,0,0.8) 0, rgba(0,0,0,0) 55%);
    }

    > .content {
      position: absolute;
      bottom: 1.625em;
      left: 0;
      width: 100%;
      color: #ffffff;
      text-align: center;

      display: flex;
      flex-direction: column;
      gap: 4px;

      > * {
        display: block;
      }

      > .title {
        font-size: 1.125em;
      }

      > .name {
        font-size: 1.5em;
        font-weight: bold;
      }
    }
  }
}