<div class="one-store-content manual-focus-for-accessibility" tabindex="0">
    <div class="single-area">
        <div class="main-data" id="area_main_data">

            <div id="search-results-image" ng-if="chooseAreaCtrl.chooseArea.foundAreas.length > 0">
                <img src="{{chooseAreaCtrl.currentAdvancedAreaAvailabilitySettings.resultsImage[chooseAreaCtrl.currentSearchMessageMode.property] || chooseAreaCtrl.defaultResultsImage}}"
                    alt="">
            </div>

            <h1 class="title results-title">
                {{chooseAreaCtrl.currentAdvancedAreaAvailabilitySettings.resultsPopupTitle[chooseAreaCtrl.currentSearchMessageMode.property]
                || chooseAreaCtrl.currentSearchMessageMode.defaultPopupTitle | translate}}
            </h1>

            <h2 class="sub-title secondary-font delivery-method-sub-title">
                {{chooseAreaCtrl.currentAdvancedAreaAvailabilitySettings.resultsPopupSubTitle[chooseAreaCtrl.currentSearchMessageMode.property]
                || chooseAreaCtrl.currentSearchMessageMode.defaultPopupSubTitle | translate}}
            </h2>

            <span class="limit" ng-if="chooseAreaCtrl.chooseArea.foundAreas[0].deliveryItemsLimit">
                {{:: ('Limited to {deliveryItemsLimit} products' | translate).replace('{deliveryItemsLimit}',
                chooseAreaCtrl.chooseArea.foundAreas[0].deliveryItemsLimit)}}
            </span>

            <span class="delivery-within-days"
                ng-if="chooseAreaCtrl.isShowDeliveryWithinDaysWarning(chooseAreaCtrl.chooseArea.foundAreas[0])">
                <span class="limit">
                    {{::('Limited to products marked with "{tagName}" tag only' | translate)
                    .replace('{tagName}', (chooseAreaCtrl.deliveryWithinDaysTag.languages | name:'displayName'))}}
                </span>
            </span>

            <div class="address">
                <div class="store-icon">
                    <img ng-src="{{chooseAreaCtrl.currentAdvancedAreaAvailabilitySettings.storeIcon || chooseAreaCtrl.defaultStoreIcon}}"
                        alt="{{'Branch Logo' | translate}}" />
                </div>

                <span ng-if="chooseAreaCtrl.isBranchNameHidden()">{{chooseAreaCtrl.area}}</span>
                <span ng-if="!chooseAreaCtrl.isBranchNameHidden()">
                    {{chooseAreaCtrl.chooseArea.foundAreas[0].branch.name + ' , '+
                    chooseAreaCtrl.chooseArea.foundAreas[0].name}}
                </span>
            </div>

            <div class="continue-btn-wrapper">
                <button type="button"
                    ng-click="chooseAreaCtrl.chooseArea.submit(chooseAreaCtrl.chooseArea.foundAreas[0]);"
                    ng-style="{'background-color': chooseAreaCtrl.bgColor,'color': chooseAreaCtrl.textColor, 'transition': 'none'}">
                    {{chooseAreaCtrl.currentAdvancedAreaAvailabilitySettings.continueShoppingTextButton[chooseAreaCtrl.currentSearchMessageMode.property]
                    || 'Continue Shopping' | translate}}</button>
            </div>

        </div>
    </div>
</div>