.dialog-wrapper .dialog.choose-area-dialog {
  .dialog-body {

    .one-store-content {
      .single-area {
        margin-top: 7em;
      }

      .address {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 3em;

        .store-icon {
          img {
            width: 4.25em;
            height: 1.875em;
          }
        }
      }

      h1 {
        padding-top: 1em;
      }

      .sub-title {
        font-size: 1.5em;
        padding: 0.5em 0;
      }

      .continue-btn-wrapper {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 2em;

        >button {
          width: 21.5em;
          height: 3em;
          border-radius: 10px;
        }
      }


    }

  }
}