<div class="search-products-wrapper" ng-controller="PrutahTemplateSearchProductsCtrl">
    <sp-items
        total="searchCtrl.total"
        no-results-message="{{'sorry_2' | translate}},<br/>{{'We couldn\'t find any products' | translate}}"
        items="searchCtrl.products"
        banner-title="{{('Result for “{title}”' | translate).replace('{title}', searchCtrl.title)}}"
        template-url="template/partials/product-item/index.html"
        filters="[searchCtrl.productTagsFilter, searchCtrl.categoriesFilter, searchCtrl.brandFilter]"
        item-class="product"
        ng-class="{'new-promotion': $root.config.retailer.settings.isNewPromotionDesignEnabled === 'true'}"
        on-click="searchCtrl.openProduct($item, $index)"
        on-search-products="searchCtrl.onSearchProducts($model)">
    </sp-items>
</div>