<div class="add-users-dialog">
    <div class="add-users-title" >
        <span>{{(processOrganizationUsersCtrl.isAddMode() ? 'adding Users' : 'remove Users') | translate}} - {{::'uploading a CSV file' | translate}}</span>
    </div>

    <div class="add-users-sub-title" ng-if="processOrganizationUsersCtrl.isAddMode()">
        <p>{{::'in order to add users to the organization, a csv file must be uploaded with the users information' | translate}}. </p>
        <a class="example-link" href="javascript:" csv-example ng-bind="::'download CSV example' | translate"></a>
        <p>{{::'once added to the system, an identity verification email will be sent to each of the users' | translate}}. </p>
        <p>{{::'only after identity verification, users will be able to complete the registration process for the site' | translate}}.</p>
    </div>

    <div class="add-users-sub-title" ng-if="!processOrganizationUsersCtrl.isAddMode()">
        <p>{{::'in order to remove users from the organization, a csv file must be uploaded with the users details' | translate}}.</p>
        <a class="example-link" href="javascript:" csv-example ng-bind="::'download CSV example' | translate"></a>
        <p class="red">{{::'pay attention! these users will no longer be able to access the organization website' | translate}}!</p>
    </div>

    <div class="row">
        <div class="column width-5 upload">
            <button type="submit" 
                ng-disabled="!processOrganizationUsersCtrl.fileContent"
                ng-class="{'delete-button': !processOrganizationUsersCtrl.isAddMode()}"
                ng-click="processOrganizationUsersCtrl.upload();">
                {{(processOrganizationUsersCtrl.isAddMode() ? 'add' : 'remove') | translate}}
            </button>
        </div>
        <div class="column width-3">
            <input type="file" placeholder="{{'Please select a file' | translate}}" csv-reader="processOrganizationUsersCtrl.fileContent"/>
        </div>
    </div>

    <div class="add-users-sub-title" ng-show="!processOrganizationUsersCtrl.isThereOneValidUser">
        <p class="red">{{::'the file must contain at least one user with a phone number and email' | translate}}</p>
    </div>
</div>