html {
  .sp-bubble > .dialog-wrapper > .product-in-cart {
    width: $sidenavWidth;
    @include box-shadow(0 0 7px rgba(0, 0, 0, 0.5));
    @include border-radius(5px);

    .image-wrapper {
      height: 100%;
      width: 23%;
    }
  }

  .sp-bubble > .dialog-wrapper > .newsletter-wrapper {
    @include box-shadow(0 0 7px rgba(0, 0, 0, 0.5));
    @include border-radius(5px);
    border-bottom: 1px solid #E7E7E7;
    background-color: #ffffff;
    box-sizing: border-box;

    .image-wrapper {
      height: 100%;
      width: 23%;
    }
  }

  .sp-bubble.the-newsletter-bubble {
    .newsletter-bubble {
      margin-left: -17.5em;
      padding: 0.5em;
      display: -webkit-flex; /* Safari */
      display: flex;
      max-width: 30em;
      max-height: 30em;
      div {
        padding: 0.5em;
        -webkit-flex: 1; /* Safari 6.1+ */
        -ms-flex: 1; /* IE 10 */
        flex: 1;
        &.left-box {
          min-width: 90%;
        }
        h5 {
          padding: 0.35em 0;
        }
        input {
          margin: 1em 0;
        }
        .close-popup {
          position: absolute;
          right: 1em;
          cursor: pointer;
        }
        img.newsletter-image {
          position: absolute;
          bottom: 0;
          height: 75%;
        }
        .newsletter-submit {
          width: 100%;

          &:disabled {
            opacity: .3;
          }
        }
      }
    }

    .newsletter-arrow-wrapper {
      display: block;
      position: relative;
      height: 14px;
      margin-bottom: -1px;
      border-color: transparent;
      border-style: solid;
      border-left-width: 1px;
      margin-top: -2px;
      overflow: hidden;
      z-index: 10;
      margin-left: 0.5em;

      > .arrow {
        border: 1px solid #cccccc;
        display: inline-block;
        vertical-align: bottom;
        width: 2em;
        height: 2em;
        margin-bottom: -1.7em;
        @include rotate(45);
        background-color: #ffffff;
      }
    }
  }
}

.rtl {
  .sp-bubble.the-newsletter-bubble {
    .newsletter-bubble {
      margin-left: auto;
      margin-right: -17.5em;

      .close-popup {
        right: initial;
        left: 1em;
      }
    }

    .newsletter-arrow-wrapper {
      direction: ltr;
    }
  }
}
