<span class="w-full error" ng-if="checkoutCtrl.otherBranchResponse" >
    {{'Sorry, branch change required' | translate}}.
    <button type="button" class="no-design" ng-click="detailsCtrl.changeStore($event)">
        {{'Change Store' | translate}}
    </button>
    <br />
    {{'This address could only be delivered from branch' | translate}}
    {{checkoutCtrl.otherBranchResponse.branchName}}
</span>

<!-- full name -->
<label class="input-wrapper">
    <span class="flex-30">{{'Full name' | translate}} *</span>
    <input type="text" ng-model="checkoutCtrl.detailsData.friendlyName" class="flex-70" id="full_name_input"
        name="fullName" required sp-inline-error />
</label>

<div class="input-wrapper"
    ng-if="$root.config.retailer.settings.autocompleteAddressField">
    <!-- Zip code -->
    <label for="autocomplete_address" class="flex-30">{{'Please type in your Zip code' | translate |
        retailerNameReplacement}}*</label>
    <div class="flex-72 d-flex gap-2">
        <input type="text" id="autocomplete_address" name="autocomplete_address" class="flex-80"
            ng-model="checkoutCtrl.detailsData.address.zipCode" />
        <button class="flex-20" ng-disabled="!checkoutCtrl.detailsData.address.zipCode"
            ng-click="detailsCtrl.openAutocompleteAddress($event)">
            <span class="text">{{::'Find address' | translate}}</span>
        </button>
    </div>
</div>

<div class="input-wrapper wrap-as-relative d-flex"
    ng-if="$root.config.retailer.settings.enableDefaultCountry">
    <!-- Country -->
    <label for="country_autocomplete_input" class="flex-30">{{'Country' | translate}}*</label>
    <input type="text" id="country_autocomplete_input" name="country" class="flex-70"
        ng-disabled="($root.config.retailer.settings.autocompleteAddressField && !checkoutCtrl.hasAddressDetails &&
                  !checkoutCtrl.detailsData.address.country) || $root.config.retailer.settings.activeZipProvider.isLockedAddress" ng-change="detailsCtrl.filterCountryNames()"
        ng-blur="detailsCtrl.onCountryBlur()" ng-model="checkoutCtrl.detailsData.address.country" sp-inline-error
        required />
    <sp-autocomplete sp-model="checkoutCtrl.detailsData.address.country"
        sp-get-options="checkoutCtrl.countryNames"></sp-autocomplete>
</div>

<div class="input-wrapper">
    <!-- City -->
    <label for="city_input" class="flex-30">{{'City' | translate | retailerNameReplacement}} *</label>
    <input class="flex-70" id="city_input" type="text" name="city"
        ng-keyup="detailsCtrl.setDeliveryTimesAfterInactivity()" ng-blur="detailsCtrl.onCityBlur()"
        ng-change="detailsCtrl.onCityChange()" ng-model="checkoutCtrl.detailsData.address.city"
        ng-disabled="($root.config.retailer.settings.autocompleteAddressField && !checkoutCtrl.hasAddressDetails &&
                 !checkoutCtrl.detailsData.address.city) || $root.config.retailer.settings.activeZipProvider.isLockedAddress" required sp-inline-error autocomplete="off"
        placeholder="{{'City' | translate | retailerNameReplacement}}"
        ng-class="{ 'form-control-error': detailsCtrl.isAddressVerificationEnabled && detailsCtrl.formErrorCtrl.city }" />

    <sp-autocomplete
        sp-model="checkoutCtrl.detailsData.address.city" sp-choose="detailsCtrl.onCityChosen()"
        sp-get-options="detailsCtrl.getCityAutoCompleteOptions()" sp-value="option.name" sp-require-match="true">
    </sp-autocomplete>

    <sp-autocomplete ng-if="detailsCtrl.isAddressVerificationEnabled" sp-model="checkoutCtrl.detailsData.address.city"
        sp-choose="detailsCtrl.onCityChosen($event)" sp-get-options="detailsCtrl.getCityAutoCompleteOptions()"
        sp-value="option.name">
    </sp-autocomplete>
</div>

<div class="input-wrapper w-full">
    <!-- Street -->
    <label for="street_input" class="flex-30">{{'Street' | translate}}
        {{detailsCtrl.streetIsRequire ? '*' : ''}}</label>
    <input class="flex-28" id="street_input"
        type="text" name="street" autocomplete="off" ng-change="detailsCtrl.onStreetBlur();"
        ng-model="checkoutCtrl.detailsData.address.street" ng-disabled="!checkoutCtrl.detailsData.address.city"
        ng-required="detailsCtrl.streetIsRequire" sp-inline-error />

    <!-- House No -->
    <label for="house_num_input" class="flex-14 text-center">{{'House No.' | translate}} *</label>
    <input class="flex-6" id="house_num_input" type="number"
        ng-class="{'flex-26': $root.config.retailer.enableFloorApartment}" name="houseNum"
        ng-model="checkoutCtrl.detailsData.address.houseNumber" ng-keyup="detailsCtrl.setDeliveryTimesAfterInactivity()"
        ng-blur="detailsCtrl.setDeliveryTimes();"
        ng-disabled="($root.config.retailer.settings.autocompleteAddressField && !checkoutCtrl.hasAddressDetails &&
         !checkoutCtrl.detailsData.address.houseNumber) || $root.config.retailer.settings.activeZipProvider.isLockedAddress" required sp-inline-error />

    <sp-autocomplete sp-choose="detailsCtrl.onStreetBlur();" sp-model="checkoutCtrl.detailsData.address.street"
        sp-get-options="detailsCtrl.getStreetAutoCompleteOptions()" sp-require-match="detailsCtrl.streetRequireMatch"
        ng-disabled="($root.config.retailer.settings.autocompleteAddressField && !checkoutCtrl.hasAddressDetails &&
       !checkoutCtrl.detailsData.address.street) || $root.config.retailer.settings.activeZipProvider.isLockedAddress"
        sp-reload-options-on="checkout.city.change">
    </sp-autocomplete>

    <!-- Entrance -->
    <label for="entry_input1" class="flex-12 text-center"
        ng-if="!$root.config.retailer.enableFloorApartment">{{'Entrance' |
        translate}}</label>
    <select id="entry_input1" class="flex-6" name="entry" ng-model="checkoutCtrl.detailsData.address.entry"
        ng-if="!$root.config.retailer.enableFloorApartment"
        ng-options="(entry | translate) as (entry | translate) for entry in detailsCtrl.entries"
        ng-disabled="$root.config.retailer.settings.autocompleteAddressField && !checkoutCtrl.hasAddressDetails && !checkoutCtrl.detailsData.address.entry"
        ng-change="detailsCtrl.setDeliveryTimes()">
    </select>
</div>

<div class="input-wrapper" ng-if="$root.config.retailer.enableFloorApartment">
    <!-- Entrance -->
    <label for="entry_input" class="flex-30">{{'Entrance' | translate}}</label>
    <span class="flex-30 d-flex">
        <select id="entry_input" class="flex-30" name="entrance" ng-model="checkoutCtrl.detailsData.address.entry"
            ng-options="(entry | translate) as (entry | translate) for entry in detailsCtrl.entries"
            ng-disabled="$root.config.retailer.settings.autocompleteAddressField && !checkoutCtrl.hasAddressDetails && !checkoutCtrl.detailsData.address.entry"
            ng-change="detailsCtrl.setDeliveryTimes()" sp-inline-error>
            <option ng-value=""></option>
        </select>
        <div class="flex-70"></div>
    </span>

    <!-- Floor -->
    <label for="floor_input" class="flex-14 text-center">{{'Floor' | translate}}</label>
    <input id="floor_input" name="floor" class="flex-6" type="number" step="1"
        ng-disabled="$root.config.retailer.settings.autocompleteAddressField && !checkoutCtrl.hasAddressDetails && !checkoutCtrl.detailsData.address.floor"
        ng-model="checkoutCtrl.detailsData.address.floor" sp-inline-error />

    <!-- Apartment -->
    <label for="apartment_input" class="flex-12 text-center">{{'Apartment' | translate}}</label>
    <input id="apartment_input" class="flex-6" type="text" name="apartment"
        ng-disabled="$root.config.retailer.settings.autocompleteAddressField && !checkoutCtrl.hasAddressDetails && !checkoutCtrl.detailsData.address.apartment"
        ng-model="checkoutCtrl.detailsData.address.apartment" sp-inline-error />

</div>

<!-- More details -->
<label class="input-wrapper">
    <span class="flex-30">{{'More details' | translate | retailerNameReplacement}}</span>
    <input class="flex-70" id="address_text2_input" name="text2" type="text"
        ng-model="checkoutCtrl.detailsData.address.text2"
        placeholder="{{$root.config.retailer.enableFloorApartment ? '' : ('Apartment, Suite, Building, Floor, etc.' | translate)}}"
        maxlength="255" sp-inline-error />
</label>

<!-- Mobile -->
<div class="w-full" ng-include="'template/views/checkout/partials/checkout-address/mobile-input.html'"></div>