<span class="w-full error" ng-if="checkoutCtrl.otherBranchResponse">
    {{'Sorry, branch change required' | translate}}.
    <button type="button" class="no-design" ng-click="detailsCtrl.changeStore($event)">
        {{'Change Store' | translate}}
    </button>
    <br />
    {{'This address could only be delivered from branch' | translate}}
    {{checkoutCtrl.otherBranchResponse.branchName}}
</span>

<!-- full name -->
<label class="input-wrapper">
    <span class="flex-30">{{'Full name' | translate}} *</span>
    <input type="text" ng-model="checkoutCtrl.detailsData.friendlyName" class="flex-70" id="full_name_input"
        name="fullName" required sp-inline-error />
</label>

<!-- Filtering by City / default -->
<div class="address-form-settings w-full"
    ng-if="!checkoutCtrl.enableAddressFiltering || checkoutCtrl.isAddressFilteringCityMode">

    <div ng-include="'template/views/checkout/partials/drop-pin/cancel-drop-pin.html'" class="w-full" ng-if="checkoutCtrl.isDropPinAddress"></div>

    <div class="input-wrapper" ng-if="detailsCtrl.addressFormSettings.city.isEnabled && !checkoutCtrl.isDropPinAddress">
        <!-- City -->
        <label for="city_input" class="flex-30">{{('address_form_field_label_' + detailsCtrl.addressFormSettings.city.label) | translate}}
            {{detailsCtrl.addressFormSettings.city.isMandatory ? '*' : ''}}</label>
        <input class="flex-30" id="city_input" type="text" name="{{'address_form_field_error_' + detailsCtrl.addressFormSettings.city.label}}"
            ng-keyup="detailsCtrl.setDeliveryTimesAfterInactivity()" ng-blur="detailsCtrl.onCityBlur($event)"
            ng-change="detailsCtrl.onCityChange()" ng-model="checkoutCtrl.detailsData.address.city"
            ng-required="detailsCtrl.addressFormSettings.city.isMandatory" sp-inline-error autocomplete="off" 
            ng-class="{ 'form-control-error': detailsCtrl.formErrorCtrl.city }" />
        <sp-autocomplete ng-if="detailsCtrl.isAddressVerificationEnabled" sp-model="checkoutCtrl.detailsData.address.city"
            sp-choose="detailsCtrl.onCityChosen($event)" sp-get-options="detailsCtrl.getCityAutoCompleteOptions()"
            sp-value="option.name">
        </sp-autocomplete>
        <div class="flex-40"></div>
    </div>

    <div class="input-wrapper" ng-if="detailsCtrl.addressFormSettings.city.isEnabled && checkoutCtrl.isDropPinAddress">
        <!-- City for drop pin -->
        <label for="city_input" class="flex-30">{{('address_form_field_label_' + detailsCtrl.addressFormSettings.city.label) | translate}}
            {{detailsCtrl.addressFormSettings.city.isMandatory ? '*' : ''}}</label>
        <div class="flex-32 relative">
            <input id="city_input" type="text" name="{{'address_form_field_error_' + detailsCtrl.addressFormSettings.city.label}}"
                ng-model="checkoutCtrl.detailsData.address.city"
                ng-required="detailsCtrl.addressFormSettings.city.isMandatory" sp-inline-error autocomplete="off" 
                ng-disabled="checkoutCtrl.droppinDisableFields.city"
                ng-blur="detailsCtrl.onDroppinAddressFieldBlur()"
                class="input-with-edit-icon"
                ng-class="{ 'form-control-error': detailsCtrl.formErrorCtrl.city }" />
            <div class="btn-edit-address" ng-click="detailsCtrl.editDroppinAddressField('#city_input', 'city')">
                <svg focusable="false" width="24" height="24">
                    <use xlink:href="#sp-icons-black-edit"></use>
                </svg>
                <span class="btn-edit-address__tooltip">{{ 'Edit' | translate }}</span>
            </div>
        </div>
        <div class="flex-40"></div>
    </div>

    <div class="err-input-wrapper w-full" ng-if="detailsCtrl.isShowAddressField() && !checkoutCtrl.isDropPinAddress">
        <label class="input-wrapper">
            <!-- Address -->
            <span class="flex-30">{{('address_form_field_label_' + detailsCtrl.addressFormSettings.address.label) | translate}}
                {{detailsCtrl.addressFormSettings.address.isMandatory ? '*' : ''}}</span>

            <input id="text1" type="text" class="flex-70"
                name="{{'address_form_field_error_' + detailsCtrl.addressFormSettings.address.label}}"
                ng-model="checkoutCtrl.detailsData.address.text1" ng-keyup="detailsCtrl.setDeliveryTimesAfterInactivity()"
                ng-keydown="detailsCtrl.onAddressInputKeyDown()" ng-change="detailsCtrl.onAddressChange()"
                ng-blur="!detailsCtrl.isGoogleMapDialogOpening && detailsCtrl.onAddressBlur($event)"
                ng-disabled="detailsCtrl.isDisableAddressField($root.FILTER_ADDRESS_MODE.CITY)"
                ng-class="{ 'form-control-error': detailsCtrl.isAddressVerificationEnabled && detailsCtrl.formErrorCtrl.text1 && !checkoutCtrl.detailsData.address.geoCoordinates}"
                ng-required="detailsCtrl.addressFormSettings.address.isMandatory" autocomplete="off" sp-inline-error />
            <sp-autocomplete ng-if="detailsCtrl.isAddressVerificationEnabled && !checkoutCtrl.isGoogleMapDropPinAllow"
                sp-model="checkoutCtrl.detailsData.address.text1" sp-choose="detailsCtrl.onAddressChosen($event)"
                sp-get-options="detailsCtrl.getAddressAutoCompleteOptions()" sp-value="option.name">
            </sp-autocomplete>
            <sp-autocomplete-address-and-map
                ng-if="detailsCtrl.isAddressVerificationEnabled && checkoutCtrl.isGoogleMapDropPinAllow" hide-if-empty="true"
                sp-value="option.name" sp-model="checkoutCtrl.detailsData.address.text1"
                sp-choose="detailsCtrl.onAddressChosen($event)" sp-get-options="detailsCtrl.getAddressAutoCompleteOptions()"
                sp-open-google-map="detailsCtrl.openGoogleMapDialog()">
            </sp-autocomplete-address-and-map>
        </label>
    </div>

    <div class="err-input-wrapper w-full" ng-if="detailsCtrl.isShowAddressField() && checkoutCtrl.isDropPinAddress">
        <label class="input-wrapper">
            <!-- Address for drop pin -->
            <span class="flex-30">{{('address_form_field_label_' + detailsCtrl.addressFormSettings.address.label) | translate}}
                {{detailsCtrl.addressFormSettings.address.isMandatory ? '*' : ''}}</span>
            <div class="flex-72 relative">
                <input id="text1" type="text"
                    name="{{'address_form_field_error_' + detailsCtrl.addressFormSettings.address.label}}"
                    ng-model="checkoutCtrl.detailsData.address.text1"
                    ng-disabled="checkoutCtrl.droppinDisableFields.text1"
                    ng-blur="detailsCtrl.onDroppinAddressFieldBlur()"
                    class="input-with-edit-icon"
                    ng-required="detailsCtrl.addressFormSettings.address.isMandatory" autocomplete="off" sp-inline-error />
                <div class="btn-edit-address" ng-click="detailsCtrl.editDroppinAddressField('#text1', 'text1')">
                    <svg focusable="false" width="24" height="24">
                        <use xlink:href="#sp-icons-black-edit"></use>
                    </svg>
                    <span class="btn-edit-address__tooltip">{{ 'Edit' | translate }}</span>
                </div>
            </div>
        </label>
    </div>

    <div ng-include="'template/views/checkout/partials/drop-pin/house-number-street.html'" class="w-full" ng-if="detailsCtrl.isShowStreetAndHouseNumberFields()"></div>

    <div class="input-wrapper"
        ng-if="detailsCtrl.addressFormSettings.zipCode.isEnabled || detailsCtrl.addressFormSettings.entrance.isEnabled || detailsCtrl.addressFormSettings.apartment.isEnabled">
        <!-- Zip code -->
        <label for="zip_code_input" class="flex-30"
            ng-if="detailsCtrl.addressFormSettings.zipCode.isEnabled">{{('address_form_field_label_' + detailsCtrl.addressFormSettings.zipCode.label) |
            translate}} {{detailsCtrl.addressFormSettings.zipCode.isMandatory ? '*' : ''}}</label>
        <input class="flex-14" id="zip_code_input" type="text" name="{{'address_form_field_error_' + detailsCtrl.addressFormSettings.zipCode.label}}"
            ng-model="checkoutCtrl.detailsData.address.zipCode" ng-keyup="detailsCtrl.setDeliveryTimesAfterInactivity()"
            ng-blur="detailsCtrl.onZipCodeBlur();" ng-change="detailsCtrl.onZipCodeChange()" ng-if="detailsCtrl.addressFormSettings.zipCode.isEnabled && !checkoutCtrl.isDropPinAddress"
            ng-attr-maxlength="{{detailsCtrl.zipCodeLimitLength}}"
            ng-required="detailsCtrl.addressFormSettings.zipCode.isMandatory" sp-inline-error />

        <!-- Zip code for drop pin -->
        <div class="flex-16 relative" ng-if="detailsCtrl.addressFormSettings.zipCode.isEnabled && checkoutCtrl.isDropPinAddress">
            <input  id="zip_code_input" type="text" name="{{'address_form_field_error_' + detailsCtrl.addressFormSettings.zipCode.label}}"
                ng-model="checkoutCtrl.detailsData.address.zipCode" 
                ng-disabled="checkoutCtrl.droppinDisableFields.zipCode"
                ng-attr-maxlength="{{detailsCtrl.zipCodeLimitLength}}"
                class="input-with-edit-icon"
                ng-blur="detailsCtrl.onDroppinAddressFieldBlur()"
                ng-required="detailsCtrl.addressFormSettings.zipCode.isMandatory" sp-inline-error />
            <div class="btn-edit-address" ng-click="detailsCtrl.editDroppinAddressField('#zip_code_input', 'zipCode')">
                <svg focusable="false" width="24" height="24">
                    <use xlink:href="#sp-icons-black-edit"></use>
                </svg>
                <span class="btn-edit-address__tooltip">{{ 'Edit' | translate }}</span>
            </div>
        </div>

        <!-- Entrance -->
        <label for="entry_input" class="flex-12 text-center"
            ng-class="{'flex-30 text-unset': !detailsCtrl.addressFormSettings.zipCode.isEnabled}"
            ng-if="detailsCtrl.addressFormSettings.entrance.isEnabled">{{('address_form_field_label_' + detailsCtrl.addressFormSettings.entrance.label)
            | translate}} {{detailsCtrl.addressFormSettings.entrance.isMandatory ? '*' : ''}}</label>
        <input class="flex-8" id="entry_input" name="{{'address_form_field_error_' + detailsCtrl.addressFormSettings.entrance.label}}" type="text"
            ng-if="detailsCtrl.addressFormSettings.entrance.isEnabled"
            ng-required="detailsCtrl.addressFormSettings.entrance.isMandatory"
            ng-model="checkoutCtrl.detailsData.address.entry" maxlength="255" sp-inline-error />

        <!-- Apartment Number -->
        <label for="apartment_input" class="flex-24 text-center"
            ng-class="{'flex-30 text-unset': !detailsCtrl.addressFormSettings.zipCode.isEnabled && !detailsCtrl.addressFormSettings.entrance.isEnabled}"
            ng-if="detailsCtrl.addressFormSettings.apartment.isEnabled">{{('address_form_field_label_' + detailsCtrl.addressFormSettings.apartment.label)
            | translate}} {{detailsCtrl.addressFormSettings.apartment.isMandatory ? '*' : ''}}</label>
        <input id="apartment_input" class="flex-8" type="text" name="{{'address_form_field_error_' + detailsCtrl.addressFormSettings.apartment.label}}"
            ng-if="detailsCtrl.addressFormSettings.apartment.isEnabled"
            ng-required="detailsCtrl.addressFormSettings.apartment.isMandatory"
            ng-model="checkoutCtrl.detailsData.address.apartment" sp-inline-error />

        <!-- Placeholder when props is hidden -->
        <div class="flex-28" ng-if="!detailsCtrl.addressFormSettings.zipCode.isEnabled">
        </div>
        <div class="flex-22" ng-if="!detailsCtrl.addressFormSettings.entrance.isEnabled">
        </div>
        <div class="flex-12"
            ng-if="!detailsCtrl.addressFormSettings.zipCode.isEnabled && !detailsCtrl.addressFormSettings.entrance.isEnabled">
        </div>
        <div class="flex-34" ng-if="!detailsCtrl.addressFormSettings.apartment.isEnabled">
        </div>

    </div>

    <div class="input-wrapper"
        ng-if="detailsCtrl.addressFormSettings.buildingCode.isEnabled || detailsCtrl.addressFormSettings.state.isEnabled">
        <!-- Building Code -->
        <label for="building_code_input" class="flex-30"
            ng-if="detailsCtrl.addressFormSettings.buildingCode.isEnabled">{{('address_form_field_label_' + detailsCtrl.addressFormSettings.buildingCode.label)
            | translate}} {{detailsCtrl.addressFormSettings.buildingCode.isMandatory ? '*' : ''}}</label>
        <input class="flex-14" id="building_code_input" type="text" name="{{'address_form_field_error_' + detailsCtrl.addressFormSettings.buildingCode.label}}"
            ng-if="detailsCtrl.addressFormSettings.buildingCode.isEnabled"
            ng-required="detailsCtrl.addressFormSettings.buildingCode.isMandatory"
            ng-model="checkoutCtrl.detailsData.address.buildingCode"
            sp-inline-error />

        <!-- State -->
        <label for="state_input" class="flex-14 text-center" ng-if="detailsCtrl.addressFormSettings.state.isEnabled"
            ng-class="{'flex-30 text-unset': !detailsCtrl.addressFormSettings.buildingCode.isEnabled}">{{('address_form_field_label_' + detailsCtrl.addressFormSettings.state.label)
            | translate}} {{detailsCtrl.addressFormSettings.state.isMandatory ? '*' : ''}}</label>
        <input id="state_input" class="flex-14" type="text" name="{{'address_form_field_error_' + detailsCtrl.addressFormSettings.state.label}}"
            ng-if="detailsCtrl.addressFormSettings.state.isEnabled && !checkoutCtrl.isDropPinAddress"
            ng-required="detailsCtrl.addressFormSettings.state.isMandatory"
            ng-keyup="detailsCtrl.setDeliveryTimesAfterInactivity()"
            ng-blur="detailsCtrl.setDeliveryTimes();" 
            ng-model="checkoutCtrl.detailsData.address.state" sp-inline-error />

        <!-- state for drop pin -->
        <div class="flex-16 relative" ng-if="detailsCtrl.addressFormSettings.state.isEnabled && checkoutCtrl.isDropPinAddress">
            <input id="state_input" type="text" name="{{'address_form_field_error_' + detailsCtrl.addressFormSettings.state.label}}"
                ng-required="detailsCtrl.addressFormSettings.state.isMandatory"
                ng-disabled="checkoutCtrl.droppinDisableFields.state"
                class="input-with-edit-icon"
                ng-blur="detailsCtrl.onDroppinAddressFieldBlur()"
                ng-model="checkoutCtrl.detailsData.address.state" sp-inline-error />
            <div class="btn-edit-address" ng-click="detailsCtrl.editDroppinAddressField('#state_input', 'state')">
                <svg focusable="false" width="24" height="24">
                    <use xlink:href="#sp-icons-black-edit"></use>
                </svg>
                <span class="btn-edit-address__tooltip">{{ 'Edit' | translate }}</span>
            </div>
        </div>

        <!-- Placeholder when props is hidden -->
        <div class="flex-26"></div>
        <div class="flex-30"
            ng-if="!detailsCtrl.addressFormSettings.buildingCode.isEnabled || !detailsCtrl.addressFormSettings.state.isEnabled">
        </div>
    </div>

    <!-- More details -->
    <label class="input-wrapper" ng-if="detailsCtrl.addressFormSettings.comments.isEnabled">
        <span class="flex-30">{{('address_form_field_label_' + detailsCtrl.addressFormSettings.comments.label)
            | translate}} {{detailsCtrl.addressFormSettings.comments.isMandatory ? '*' : ''}}</span>
        <input class="flex-70" id="address_text2_input" name="{{'address_form_field_error_' + detailsCtrl.addressFormSettings.comments.label}}" type="text"
            ng-required="detailsCtrl.addressFormSettings.comments.isMandatory"
            ng-model="checkoutCtrl.detailsData.address.text2" maxlength="255" sp-inline-error />
    </label>
</div>

<!-- Filtering by Zip code -->
<div class="address-form-settings w-full" ng-if="checkoutCtrl.isAddressFilteringZipCodeMode">
    <div ng-include="'template/views/checkout/partials/drop-pin/cancel-drop-pin.html'" class="w-full" ng-if="checkoutCtrl.isDropPinAddress"></div>

    <!-- Zip code -->
    <div class="input-wrapper city-input-wrapper" ng-if="detailsCtrl.addressFormSettings.zipCode.isEnabled && !checkoutCtrl.isDropPinAddress">
        <label for="zip_code_input" class="flex-30">{{('address_form_field_label_' + detailsCtrl.addressFormSettings.zipCode.label) | translate}}
            {{detailsCtrl.addressFormSettings.zipCode.isMandatory ? '*' : ''}}</label>
        <input class="flex-30" id="zip_code_input" type="text" name="{{'address_form_field_error_' + detailsCtrl.addressFormSettings.zipCode.label}}"
            ng-model="checkoutCtrl.detailsData.address.zipCode"
            ng-required="detailsCtrl.addressFormSettings.zipCode.isMandatory"
            ng-keyup="detailsCtrl.setDeliveryTimesAfterInactivity()" ng-blur="detailsCtrl.onZipCodeBlur();"
            ng-attr-maxlength="{{detailsCtrl.zipCodeLimitLength}}"
            ng-change="detailsCtrl.onZipCodeChange()"
            sp-inline-error />
        <span focusable="false" class="valid-input-icon" ng-class="{'is-valid-zipcode': checkoutCtrl.isZipCodeValid && checkoutCtrl.detailsData.address.zipCode}">&#10003;</span>
        <div class="flex-38"></div>
    </div>

    <!-- Zip code for drop pin -->
    <div class="input-wrapper city-input-wrapper" ng-if="detailsCtrl.addressFormSettings.zipCode.isEnabled && checkoutCtrl.isDropPinAddress">
        <label for="zip_code_input" class="flex-30">{{('address_form_field_label_' + detailsCtrl.addressFormSettings.zipCode.label) | translate}}
            {{detailsCtrl.addressFormSettings.zipCode.isMandatory ? '*' : ''}}</label>
        <div class="flex-34 relative" ng-if="detailsCtrl.addressFormSettings.zipCode.isEnabled && checkoutCtrl.isDropPinAddress">
            <input  id="zip_code_input" type="text" name="{{'address_form_field_error_' + detailsCtrl.addressFormSettings.zipCode.label}}"
                ng-model="checkoutCtrl.detailsData.address.zipCode" 
                ng-disabled="checkoutCtrl.droppinDisableFields.zipCode"
                ng-attr-maxlength="{{detailsCtrl.zipCodeLimitLength}}"
                class="input-with-edit-icon"
                ng-blur="detailsCtrl.onDroppinAddressFieldBlur()"
                ng-required="detailsCtrl.addressFormSettings.zipCode.isMandatory" sp-inline-error />
            <div class="btn-edit-address" ng-click="detailsCtrl.editDroppinAddressField('#zip_code_input', 'zipCode')">
                <svg focusable="false" width="24" height="24">
                    <use xlink:href="#sp-icons-black-edit"></use>
                </svg>
                <span class="btn-edit-address__tooltip">{{ 'Edit' | translate }}</span>
            </div>
        </div>
        <div class="flex-38"></div>
    </div>
    <div class="err-input-wrapper w-full" ng-if="detailsCtrl.isShowAddressField() && !checkoutCtrl.isDropPinAddress">
        <label class="input-wrapper">
            <!-- Address -->
            <span class="flex-30">{{('address_form_field_label_' + detailsCtrl.addressFormSettings.address.label) | translate}}
                {{detailsCtrl.addressFormSettings.address.isMandatory ? '*' : ''}}</span>
                <input id="text1" type="text" class="flex-70"
                name="{{'address_form_field_error_' + detailsCtrl.addressFormSettings.address.label}}"
                ng-model="checkoutCtrl.detailsData.address.text1" ng-keyup="detailsCtrl.setDeliveryTimesAfterInactivity()"
                ng-keydown="detailsCtrl.onAddressInputKeyDown()" ng-change="detailsCtrl.onAddressChange()"
                ng-disabled="detailsCtrl.isDisableAddressField($root.FILTER_ADDRESS_MODE.ZIP_CODE)"
                ng-blur="!detailsCtrl.isGoogleMapDialogOpening && detailsCtrl.onAddressBlur($event)"
                ng-class="{ 'form-control-error': detailsCtrl.isAddressVerificationEnabled && detailsCtrl.formErrorCtrl.text1 && !checkoutCtrl.detailsData.address.geoCoordinates}"
                ng-required="detailsCtrl.addressFormSettings.address.isMandatory" autocomplete="off" sp-inline-error />
            <sp-autocomplete ng-if="detailsCtrl.isAddressVerificationEnabled && !checkoutCtrl.isGoogleMapDropPinAllow"
                sp-model="checkoutCtrl.detailsData.address.text1" sp-choose="detailsCtrl.onAddressChosen($event)"
                sp-get-options="detailsCtrl.getAddressAutoCompleteOptions()" sp-value="option.name">
            </sp-autocomplete>
            <sp-autocomplete-address-and-map
                ng-if="detailsCtrl.isAddressVerificationEnabled && checkoutCtrl.isGoogleMapDropPinAllow" hide-if-empty="true"
                sp-value="option.name" sp-model="checkoutCtrl.detailsData.address.text1"
                sp-choose="detailsCtrl.onAddressChosen($event)" sp-get-options="detailsCtrl.getAddressAutoCompleteOptions()"
                sp-open-google-map="detailsCtrl.openGoogleMapDialog()">
            </sp-autocomplete-address-and-map>
        </label>
    </div>

    <div class="err-input-wrapper w-full" ng-if="detailsCtrl.isShowAddressField() && checkoutCtrl.isDropPinAddress">
        <label class="input-wrapper">
            <!-- Address for drop pin -->
            <span class="flex-30">{{('address_form_field_label_' + detailsCtrl.addressFormSettings.address.label) | translate}}
                {{detailsCtrl.addressFormSettings.address.isMandatory ? '*' : ''}}</span>
            <div class="flex-72 relative">
                <input id="text1" type="text"
                    name="{{'address_form_field_error_' + detailsCtrl.addressFormSettings.address.label}}"
                    ng-model="checkoutCtrl.detailsData.address.text1"
                    ng-disabled="checkoutCtrl.droppinDisableFields.text1"
                    class="input-with-edit-icon"
                    ng-blur="detailsCtrl.onDroppinAddressFieldBlur()"
                    ng-required="detailsCtrl.addressFormSettings.address.isMandatory" autocomplete="off" sp-inline-error />
                <div class="btn-edit-address" ng-click="detailsCtrl.editDroppinAddressField('#text1', 'text1')">
                    <svg focusable="false" width="24" height="24">
                        <use xlink:href="#sp-icons-black-edit"></use>
                    </svg>
                    <span class="btn-edit-address__tooltip">{{ 'Edit' | translate }}</span>
                </div>
            </div>
        </label>
    </div>

    <div ng-include="'template/views/checkout/partials/drop-pin/house-number-street.html'" class="w-full" ng-if="detailsCtrl.isShowStreetAndHouseNumberFields()"></div>

    <!-- Apartment Number -->
    <div class="input-wrapper" ng-if="detailsCtrl.addressFormSettings.apartment.isEnabled">
        <label for="apartment_input" class="flex-30">{{('address_form_field_label_' + detailsCtrl.addressFormSettings.apartment.label)
            | translate}} {{detailsCtrl.addressFormSettings.apartment.isMandatory ? '*' : ''}}</label>
        <input id="apartment_input" class="flex-70" type="text" name="{{'address_form_field_error_' + detailsCtrl.addressFormSettings.apartment.label}}"
            ng-required="detailsCtrl.addressFormSettings.apartment.isMandatory"
            ng-model="checkoutCtrl.detailsData.address.apartment" sp-inline-error />
    </div>

    <div class="input-wrapper"
        ng-if="detailsCtrl.addressFormSettings.state.isEnabled || detailsCtrl.addressFormSettings.city.isEnabled">
        <!-- City -->
        <label for="city_input" class="flex-30"
            ng-class="{ 'form-control-error': detailsCtrl.formErrorCtrl.city }"
            ng-if="detailsCtrl.addressFormSettings.city.isEnabled">{{('address_form_field_label_' + detailsCtrl.addressFormSettings.city.label) |
            translate}} {{detailsCtrl.addressFormSettings.city.isMandatory ? '*' : ''}}</label>
        <input class="flex-24" id="city_input" type="text" name="{{'address_form_field_error_' + detailsCtrl.addressFormSettings.city.label}}"
            ng-keyup="detailsCtrl.setDeliveryTimesAfterInactivity()" ng-blur="detailsCtrl.onCityBlur($event)"
            ng-required="detailsCtrl.addressFormSettings.city.isMandatory" ng-change="detailsCtrl.onCityChange()"
            ng-model="checkoutCtrl.detailsData.address.city" ng-if="detailsCtrl.addressFormSettings.city.isEnabled && !checkoutCtrl.isDropPinAddress"
            sp-inline-error autocomplete="off" />
        <sp-autocomplete ng-if="detailsCtrl.isAddressVerificationEnabled && detailsCtrl.addressFormSettings.city.isEnabled && !checkoutCtrl.isDropPinAddress"
            sp-model="checkoutCtrl.detailsData.address.city" sp-choose="detailsCtrl.onCityChosen($event)"
            sp-get-options="detailsCtrl.getCityAutoCompleteOptions()" sp-value="option.name">
        </sp-autocomplete>

        <!-- City for drop pin -->
        <div class="flex-26 relative" ng-if="detailsCtrl.addressFormSettings.city.isEnabled && checkoutCtrl.isDropPinAddress">
            <input id="city_input" type="text" name="{{'address_form_field_error_' + detailsCtrl.addressFormSettings.city.label}}"
                ng-model="checkoutCtrl.detailsData.address.city"
                ng-required="detailsCtrl.addressFormSettings.city.isMandatory" sp-inline-error autocomplete="off" 
                ng-disabled="checkoutCtrl.droppinDisableFields.city"
                class="input-with-edit-icon"
                ng-blur="detailsCtrl.onDroppinAddressFieldBlur()"
                ng-class="{ 'form-control-error': detailsCtrl.formErrorCtrl.city }" />
            <div class="btn-edit-address" ng-click="detailsCtrl.editDroppinAddressField('#city_input', 'city')">
                <svg focusable="false" width="24" height="24">
                    <use xlink:href="#sp-icons-black-edit"></use>
                </svg>
                <span class="btn-edit-address__tooltip">{{ 'Edit' | translate }}</span>
            </div>
        </div>

        <!-- State -->
        <label for="state_input" class="flex-20 text-center"
            ng-class="{'flex-30 text-unset': !detailsCtrl.addressFormSettings.city.isEnabled}"
            ng-if="detailsCtrl.addressFormSettings.state.isEnabled">{{('address_form_field_label_' + detailsCtrl.addressFormSettings.state.label)
            | translate}} {{detailsCtrl.addressFormSettings.state.isMandatory ? '*' : ''}}</label>
        <input id="state_input" class="flex-24" type="text" name="{{'address_form_field_error_' + detailsCtrl.addressFormSettings.state.label}}"
            ng-if="detailsCtrl.addressFormSettings.state.isEnabled && !checkoutCtrl.isDropPinAddress"
            ng-required="detailsCtrl.addressFormSettings.state.isMandatory"
            ng-keyup="detailsCtrl.setDeliveryTimesAfterInactivity()"
            ng-blur="detailsCtrl.setDeliveryTimes();" 
            ng-model="checkoutCtrl.detailsData.address.state" sp-inline-error />

        <!-- state for drop pin -->
        <div class="flex-26 relative" ng-if="detailsCtrl.addressFormSettings.state.isEnabled && checkoutCtrl.isDropPinAddress">
            <input id="state_input" type="text" name="{{'address_form_field_error_' + detailsCtrl.addressFormSettings.state.label}}"
                ng-required="detailsCtrl.addressFormSettings.state.isMandatory"
                ng-disabled="checkoutCtrl.droppinDisableFields.state"
                class="input-with-edit-icon"
                ng-blur="detailsCtrl.onDroppinAddressFieldBlur()"
                ng-model="checkoutCtrl.detailsData.address.state" sp-inline-error />
            <div class="btn-edit-address" ng-click="detailsCtrl.editDroppinAddressField('#state_input', 'state')">
                <svg focusable="false" width="24" height="24">
                    <use xlink:href="#sp-icons-black-edit"></use>
                </svg>
                <span class="btn-edit-address__tooltip">{{ 'Edit' | translate }}</span>
            </div>
        </div>

        <!-- Placeholder when props is hidden -->
        <div class="flex-46"
            ng-if="!detailsCtrl.addressFormSettings.city.isEnabled || !detailsCtrl.addressFormSettings.state.isEnabled">
        </div>

    </div>

    <!-- More details -->
    <label class="input-wrapper" ng-if="detailsCtrl.addressFormSettings.comments.isEnabled">
        <span class="flex-30">{{('address_form_field_label_' + detailsCtrl.addressFormSettings.comments.label)
            | translate}} {{detailsCtrl.addressFormSettings.comments.isMandatory ? '*' : ''}}</span>
        <input class="flex-70" id="address_text2_input" name="{{'address_form_field_error_' + detailsCtrl.addressFormSettings.comments.label}}" type="text"
            ng-required="detailsCtrl.addressFormSettings.comments.isMandatory"
            ng-model="checkoutCtrl.detailsData.address.text2" maxlength="255" sp-inline-error />
    </label>


    <div class="input-wrapper"
        ng-if="detailsCtrl.addressFormSettings.buildingCode.isEnabled || detailsCtrl.addressFormSettings.entrance.isEnabled">

        <!-- Entrance -->
        <label for="entry_input" class="flex-30"
            ng-if="detailsCtrl.addressFormSettings.entrance.isEnabled">{{('address_form_field_label_' + detailsCtrl.addressFormSettings.entrance.label)
            | translate}} {{detailsCtrl.addressFormSettings.entrance.isMandatory ? '*' : ''}}</label>
        <input class="flex-24" id="entry_input" name="{{'address_form_field_error_' + detailsCtrl.addressFormSettings.entrance.label}}" type="text"
            ng-if="detailsCtrl.addressFormSettings.entrance.isEnabled"
            ng-required="detailsCtrl.addressFormSettings.entrance.isMandatory"
            ng-model="checkoutCtrl.detailsData.address.entry" maxlength="255" sp-inline-error />

        <!-- Building Code -->
        <label for="building_code_input" class="flex-20 text-center"
            ng-class="{'flex-30 text-unset': !detailsCtrl.addressFormSettings.entrance.isEnabled}"
            ng-if="detailsCtrl.addressFormSettings.buildingCode.isEnabled">{{('address_form_field_label_' + detailsCtrl.addressFormSettings.buildingCode.label)
            | translate}} {{detailsCtrl.addressFormSettings.buildingCode.isMandatory ? '*' : ''}}</label>
        <input class="flex-24" id="building_code_input" type="text" name="{{'address_form_field_error_' + detailsCtrl.addressFormSettings.buildingCode.label}}"
            ng-if="detailsCtrl.addressFormSettings.buildingCode.isEnabled"
            ng-required="detailsCtrl.addressFormSettings.buildingCode.isMandatory"
            ng-model="checkoutCtrl.detailsData.address.buildingCode"
            sp-inline-error />

        <!-- Placeholder when props is hidden -->
        <div class="flex-46"
            ng-if="!detailsCtrl.addressFormSettings.buildingCode.isEnabled || !detailsCtrl.addressFormSettings.entrance.isEnabled">
        </div>
    </div>

</div>

<!-- Mobile -->
<div class="w-full" ng-include="'template/views/checkout/partials/checkout-address/mobile-input.html'"></div>