<span class="w-full error" ng-if="checkoutCtrl.otherBranchResponse">
    {{'Sorry, branch change required' | translate}}.
    <button type="button" class="no-design" ng-click="detailsCtrl.changeStore($event)">
        {{'Change Store' | translate}}
    </button>
    <br />
    {{'This address could only be delivered from branch' | translate}}
    {{checkoutCtrl.otherBranchResponse.branchName}}
</span>

<!-- full name -->
<label class="input-wrapper">
    <span class="flex-30">{{'Full name' | translate}} *</span>
    <input type="text" ng-model="checkoutCtrl.detailsData.friendlyName" class="flex-70" id="full_name_input"
        name="fullName" required sp-inline-error />
</label>

<div class="input-wrapper" ng-if="$root.config.retailer.settings.autocompleteAddressField">
    <!-- Zip code -->
    <label for="autocomplete_address" class="flex-30">{{'Please type in your Zip code' | translate |
        retailerNameReplacement}}*</label>
    <div class="flex-72 d-flex gap-2">
        <input type="text" id="autocomplete_address" name="autocomplete_address" class="flex-80"
            ng-model="checkoutCtrl.detailsData.address.zipCode" />
        <button class="flex-20" ng-disabled="!checkoutCtrl.detailsData.address.zipCode"
            ng-click="detailsCtrl.openAutocompleteAddress($event)">
            <span class="text">{{::'Find address' | translate}}</span>
        </button>
    </div>
</div>

<div class="input-wrapper wrap-as-relative d-flex" ng-if="$root.config.retailer.settings.enableDefaultCountry">
    <!-- Country -->
    <label for="country_autocomplete_input" class="flex-30">{{'Country' | translate}}*</label>
    <input type="text" id="country_autocomplete_input" name="country" class="flex-70"
        ng-disabled="($root.config.retailer.settings.autocompleteAddressField && !checkoutCtrl.hasAddressDetails &&
                  !checkoutCtrl.detailsData.address.country) || $root.config.retailer.settings.activeZipProvider.isLockedAddress" ng-change="detailsCtrl.filterCountryNames()"
        ng-blur="detailsCtrl.onCountryBlur()" ng-model="checkoutCtrl.detailsData.address.country" sp-inline-error
        required />
    <sp-autocomplete sp-model="checkoutCtrl.detailsData.address.country"
        sp-get-options="checkoutCtrl.countryNames"></sp-autocomplete>
</div>


<div class="input-wrapper">
    <!-- City -->
    <label for="city_input" class="flex-30">{{'City' | translate | retailerNameReplacement}} *</label>
    <input class="flex-70" id="city_input" type="text" name="city"
        ng-keyup="detailsCtrl.setDeliveryTimesAfterInactivity()" ng-blur="detailsCtrl.onCityBlur()"
        ng-change="detailsCtrl.onCityChange()" ng-model="checkoutCtrl.detailsData.address.city"
        ng-disabled="($root.config.retailer.settings.autocompleteAddressField && !checkoutCtrl.hasAddressDetails &&
                 !checkoutCtrl.detailsData.address.city) || $root.config.retailer.settings.activeZipProvider.isLockedAddress" required sp-inline-error autocomplete="off"
        placeholder="{{'City' | translate | retailerNameReplacement}}"
        ng-class="{ 'form-control-error': detailsCtrl.isAddressVerificationEnabled && detailsCtrl.formErrorCtrl.city }" />

    <sp-autocomplete sp-model="checkoutCtrl.detailsData.address.city" sp-choose="detailsCtrl.onCityChosen()"
        sp-get-options="detailsCtrl.getCityAutoCompleteOptions()" sp-value="option.name" sp-require-match="true">
    </sp-autocomplete>

    <sp-autocomplete ng-if="detailsCtrl.isAddressVerificationEnabled" sp-model="checkoutCtrl.detailsData.address.city"
        sp-choose="detailsCtrl.onCityChosen($event)" sp-get-options="detailsCtrl.getCityAutoCompleteOptions()"
        sp-value="option.name">
    </sp-autocomplete>
</div>

<label class="input-wrapper">
    <span ng-if="checkoutCtrl.detailsData.address.isShowEditAddress" class="gg-map-confirmation-text">
        {{ 'Is this address correct? You can now edit and refine it' | translate }}
    </span>
    <span class="flex-30">{{('Address' | translate | retailerNameReplacement) + ((detailsCtrl.streetIsRequire ||
        detailsCtrl.isAddressVerificationEnabled) ? ' *' : '')}}</span>
    <input class="flex-70" id="address_text_input" type="text" name="text1"
        placeholder="{{'Address' | translate | retailerNameReplacement}}"
        ng-model="checkoutCtrl.detailsData.address.text1" ng-keyup="detailsCtrl.setDeliveryTimesAfterInactivity()"
        ng-keydown="detailsCtrl.onAddressInputKeyDown()" ng-change="detailsCtrl.onAddressChange()"
        ng-blur="!detailsCtrl.isGoogleMapDialogOpening && detailsCtrl.onAddressBlur()"
        ng-disabled="($root.config.retailer.settings.autocompleteAddressField && !checkoutCtrl.hasAddressDetails &&
                      !checkoutCtrl.detailsData.address.text1) || $root.config.retailer.settings.activeZipProvider.isLockedAddress || checkoutCtrl.detailsData.address.isDisabledAddressField"
        ng-required="!checkoutCtrl.detailsData.address.geoCoordinates && (detailsCtrl.streetIsRequire || detailsCtrl.isAddressVerificationEnabled)"
        autocomplete="off"
        ng-class="{ 'form-control-error': detailsCtrl.isAddressVerificationEnabled && detailsCtrl.formErrorCtrl.text1 && !checkoutCtrl.detailsData.address.geoCoordinates}"
        sp-inline-error sp-inline-error-attach-to-parent="div" />
    <sp-autocomplete ng-if="detailsCtrl.isAddressVerificationEnabled && !detailsCtrl.streetIsRequire"
        sp-model="checkoutCtrl.detailsData.address.text1" sp-choose="detailsCtrl.onAddressChosen($event)"
        sp-get-options="detailsCtrl.getAddressAutoCompleteOptions()" sp-value="option.name">
    </sp-autocomplete>
    <sp-autocomplete-address-and-map
        ng-if="detailsCtrl.isAddressVerificationEnabled && detailsCtrl.streetIsRequire && checkoutCtrl.detailsData.address.hasHouseNumberAndRoute"
        hide-if-empty="true" sp-value="option.name" sp-model="checkoutCtrl.detailsData.address.text1"
        sp-choose="detailsCtrl.onAddressChosen($event)" sp-get-options="detailsCtrl.getAddressAutoCompleteOptions()"
        sp-open-google-map="detailsCtrl.openGoogleMapDialog()">
    </sp-autocomplete-address-and-map>
    <div ng-if="checkoutCtrl.detailsData.address.isShowEditAddress" ng-click="detailsCtrl.editUnrecognizedAddress()"
        class="btn-edit-address">
        <svg focusable="false" width="24" height="24">
            <use xlink:href="#sp-icons-black-edit"></use>
        </svg>
        <span class="btn-edit-address__tooltip">{{ 'Edit Your Address' | translate }}</span>
    </div>
</label>

<div class="input-wrapper"
    ng-if="$root.config.retailer.enableFloorApartment && checkoutCtrl.detailsData.deliveryMethod.id !== $root.SP_SERVICES.DELIVERY_TYPES.PICKUP">
    <!-- entrance -->
    <label for="entry_input" class="flex-30">{{'Entrance' | translate}}</label>
    <span class="flex-30 d-flex">
        <select id="entry_input" class="flex-30" name="entrance" ng-model="checkoutCtrl.detailsData.address.entry"
            ng-options="(entry | translate) as (entry | translate) for entry in detailsCtrl.entries"
            ng-disabled="$root.config.retailer.settings.autocompleteAddressField && !checkoutCtrl.hasAddressDetails && !checkoutCtrl.detailsData.address.entry"
            ng-change="detailsCtrl.setDeliveryTimes()" sp-inline-error>
            <option ng-value=""></option>
        </select>
        <div class="flex-70"></div>
    </span>

    <!-- floor -->
    <label for="floor_input" class="flex-14 text-center">{{'Floor' | translate}}</label>
    <input id="floor_input" name="floor" class="flex-6" type="number" step="1"
        ng-disabled="$root.config.retailer.settings.autocompleteAddressField && !checkoutCtrl.hasAddressDetails && !checkoutCtrl.detailsData.address.floor"
        ng-model="checkoutCtrl.detailsData.address.floor" sp-inline-error />

    <!-- apartment -->
    <label for="apartment_input" class="flex-12 text-center">{{'Apartment' | translate}}</label>
    <input id="apartment_input" class="flex-6" type="text" name="apartment"
        ng-disabled="$root.config.retailer.settings.autocompleteAddressField && !checkoutCtrl.hasAddressDetails && !checkoutCtrl.detailsData.address.apartment"
        ng-model="checkoutCtrl.detailsData.address.apartment" sp-inline-error />
</div>

<!-- delivery -->
<label class="input-wrapper">
    <!-- more details -->
    <span class="flex-30">{{'More details' | translate | retailerNameReplacement}}</span>
    <input class="flex-70" id="address_text2_input" name="text2" type="text"
        ng-model="checkoutCtrl.detailsData.address.text2"
        placeholder="{{$root.config.retailer.enableFloorApartment ? '' : ((!(detailsCtrl.deliveryAreaMethod === $root.SP_SERVICES.DELIVERY_AREA_METHODS.ZIP_CODE || detailsCtrl.deliveryAreaMethod === $root.SP_SERVICES.DELIVERY_AREA_METHODS.CITY) ? (('Entrance' | translate) + ', ') : '') + ('Apartment, Suite, Building, Floor, etc.' | translate))}}"
        maxlength="255" sp-inline-error />
</label>


<!-- Mobile -->
<div class="w-full" ng-include="'template/views/checkout/partials/checkout-address/mobile-input.html'"></div>