<div class="address-form-settings-wrapper" ng-class="{1:'fixed-height', 0:''}[detailsCtrl.pickupAreas.length > 1]"
    role="region" aria-labelledby="delivery_address_title">
    <h2 class="bold" id="delivery_address_title">
        {{(checkoutCtrl.detailsData.deliveryMethod.id === $root.SP_SERVICES.DELIVERY_TYPES.DELIVERY ? 'Delivery Address' :
        'Your Details') | translate}}
    </h2>
    <label class="server-err-msg"></label>


    <!-- PICKUP SECTION -->
    <div class="address-form-settings"
        ng-include="'template/views/checkout/partials/checkout-address/picking-section.html'"
        ng-if="checkoutCtrl.detailsData.deliveryMethod.id === $root.SP_SERVICES.DELIVERY_TYPES.PICKUP">
    </div>

    <!-- COMMON DELIVERY SECTION -->
    <div class="address-form-settings"
        ng-include="'template/views/checkout/partials/checkout-address/delivery-section.html'" ng-if="checkoutCtrl.detailsData.deliveryMethod.id === $root.SP_SERVICES.DELIVERY_TYPES.DELIVERY && !(
            detailsCtrl.deliveryAreaMethod === $root.SP_SERVICES.DELIVERY_AREA_METHODS.POLYGON ||
            detailsCtrl.deliveryAreaMethod === $root.SP_SERVICES.DELIVERY_AREA_METHODS.GOOGLE_MAPS
            )">
    </div>

    <!-- OLD FORM - DELIVERY SECTION FOR GOOGLE_MAPS, POLYGON -->
    <div class="address-form-settings"
        ng-include="'template/views/checkout/partials/checkout-address/delivery-zipcode-provider-section.html'" ng-if="checkoutCtrl.detailsData.deliveryMethod.id === $root.SP_SERVICES.DELIVERY_TYPES.DELIVERY && (
            detailsCtrl.deliveryAreaMethod === $root.SP_SERVICES.DELIVERY_AREA_METHODS.POLYGON ||
            detailsCtrl.deliveryAreaMethod === $root.SP_SERVICES.DELIVERY_AREA_METHODS.GOOGLE_MAPS
            ) && detailsCtrl.isGMapWithZipCodeProvider">
    </div>

    <!-- NEW FORM - DELIVERY SECTION FOR GOOGLE_MAPS, POLYGON -->
    <div class="address-form-settings"
        ng-include="'template/views/checkout/partials/checkout-address/delivery-gmap-polygon-section.html'" ng-if="checkoutCtrl.detailsData.deliveryMethod.id === $root.SP_SERVICES.DELIVERY_TYPES.DELIVERY && (
            detailsCtrl.deliveryAreaMethod === $root.SP_SERVICES.DELIVERY_AREA_METHODS.POLYGON ||
            detailsCtrl.deliveryAreaMethod === $root.SP_SERVICES.DELIVERY_AREA_METHODS.GOOGLE_MAPS
            ) && !detailsCtrl.isGMapWithZipCodeProvider">
    </div>
</div>