<!-- Mobile -->
<label ng-class="{'custom-phone-validation': detailsCtrl.customPhoneValidation}" class="input-wrapper label">
    <span class="flex-30">{{'Mobile' | translate}} *</span>
    <span class="custom-phone-validation-item"
        ng-if="detailsCtrl.editPhoneMode && $root.config.retailer.customPhoneValidation.countryCodes && $root.config.retailer.customPhoneValidation.countryCodes.length">
        <select
            ng-class="{'has-error': detailsCtrl.phoneNumber != checkoutCtrl.detailsData.mobilePhone.phoneNumber ? !detailsCtrl.validateCountryCode(checkoutCtrl.detailsData.mobilePhone.countryCode) : false}"
            id="country_code_select" class="content second form-control" name="countryCode"
            ng-model="checkoutCtrl.detailsData.mobilePhone.countryCode"
            ng-options="countryCode as countryCode for countryCode in $root.config.retailer.customPhoneValidation.countryCodes">
        </select>
    </span>

    <span class="custom-phone-validation-item"
        ng-if="detailsCtrl.editPhoneMode && $root.config.retailer.customPhoneValidation.areaCodes && $root.config.retailer.customPhoneValidation.areaCodes.length">
        <select
            ng-class="{'has-error': detailsCtrl.phoneNumber != checkoutCtrl.detailsData.mobilePhone.phoneNumber ? !detailsCtrl.validateAreaCode(checkoutCtrl.detailsData.mobilePhone.areaCode) : false}"
            id="area_code_select" class="content second form-control" name="areaCode"
            ng-model="checkoutCtrl.detailsData.mobilePhone.areaCode"
            ng-options="areaCode as areaCode for areaCode in $root.config.retailer.customPhoneValidation.areaCodes">
        </select>
    </span>
    <input class="content" id="mobile_input" type="tel" name="phone"
        ng-model="checkoutCtrl.detailsData.mobilePhone.customPhoneNumber"
        ng-if="detailsCtrl.editPhoneMode && detailsCtrl.customPhoneValidation"
        ng-pattern="detailsCtrl.customPhoneRegExp" ng-click="detailsCtrl.phoneEditMode($event, true)" required
        sp-inline-error />
    <input class="flex-70" id="mobile_input" type="tel" name="phone"
        ng-model="checkoutCtrl.detailsData.mobilePhone.phoneNumber" ng-if="!detailsCtrl.customPhoneValidation"
        ng-pattern="detailsCtrl.phoneRegExp" ng-click="detailsCtrl.phoneEditMode($event, true)" required
        sp-inline-error />
    <input required sp-inline-error ng-focus="detailsCtrl.phoneEditMode($event, true)"
        ng-if="!detailsCtrl.editPhoneMode && detailsCtrl.customPhoneValidation" class="content" type="tel"
        ng-model="checkoutCtrl.compiledPhoneNumber" />
    <button type="button"
        ng-if="detailsCtrl.editPhoneMode && checkoutCtrl.detailsData.mobilePhone.phoneNumber !== undefined"
        class="custom-phone-validation-cancel-button" ng-click="detailsCtrl.phoneEditMode($event, false)">Cancel
    </button>
    <span class="phone-length-message" ng-if="detailsCtrl.editPhoneMode &&
             $root.config.retailer.customPhoneValidation.phoneNumberRange.min &&
              $root.config.retailer.customPhoneValidation.phoneNumberRange.max">
        {{('custom-phone-validation-range' | translate).replace('{min}',
        $root.config.retailer.customPhoneValidation.phoneNumberRange.min).replace('{max}',
        $root.config.retailer.customPhoneValidation.phoneNumberRange.max)}}
    </span>
    <span class="phone-length-message" ng-if="detailsCtrl.editPhoneMode &&
              $root.config.retailer.customPhoneValidation.phoneNumberRange.min &&
              !$root.config.retailer.customPhoneValidation.phoneNumberRange.max">{{('custom-phone-validation-min' |
        translate).replace('{min}', $root.config.retailer.customPhoneValidation.phoneNumberRange.min)}}</span>
    <span class="phone-length-message" ng-if="detailsCtrl.editPhoneMode &&
             !$root.config.retailer.customPhoneValidation.phoneNumberRange.min &&
              $root.config.retailer.customPhoneValidation.phoneNumberRange.max">{{('custom-phone-validation-max' |
        translate).replace('{max}', $root.config.retailer.customPhoneValidation.phoneNumberRange.max)}}</span>
</label>