<label class="input-wrapper" ng-if="detailsCtrl.pickupAreas.length > 1">
    <span class="flex-30">
        {{ 'Pickup Location' | translate}}
    </span>
    <div class="flex-72">
        <sp-dropdown sp-model="checkoutCtrl.area" sp-change="detailsCtrl.setDeliveryTimes();"
            class="transparent-arrow input">
            <sp-text>
                {{checkoutCtrl.area.branch.name + ' - ' + checkoutCtrl.area.name}}
            </sp-text>
            <sp-option ng-repeat="area in detailsCtrl.pickupAreas" sp-value="area">
                {{area.branch.name + ' - ' + area.name}}
            </sp-option>
        </sp-dropdown>
    </div>
</label>

<!-- full name -->
<label class="input-wrapper">
    <span class="flex-30">{{'Full name' | translate}} *</span>
    <input type="text" ng-model="checkoutCtrl.detailsData.friendlyName" class="flex-70" id="full_name_input"
        name="fullName" required sp-inline-error />
</label>

<!-- Mobile -->
<div class="w-full" ng-include="'template/views/checkout/partials/checkout-address/mobile-input.html'"></div>