<div class="navigation-bar">
    <h1 ng-bind="'Previous Orders' | translate" id="page_title"></h1>
</div>
<sp-table class="order-history" items="ordersHistoryCtrl.orders" actions="ordersHistoryCtrl.orderActions" style-class="high-columns" row-ng-click="openOrder(item)" is-reverse="true">
    <sp-table-column title="#" sort-by="id">
        {{item.id}}
        <div ng-if="item.orderTypeId === $root.ORDER_TYPES.CUSTOMER_SERVICE">
            {{'Customer service order' | translate}}
        </div>
    </sp-table-column>
    <sp-table-column title="{{'Date and time' | translate}}" sort-by="timePlaced">
        {{item.timePlaced | date: ($root.config.isUs ? 'MM/dd/yyyy h:mma' : 'dd/MM/yyyy HH:mm'):'UTC'}}
    </sp-table-column>
    <sp-table-column title="{{'Delivery time' | translate}}" sort-by="shippingTimeFrom">
          <span ng-if="item.deliveryTimeTypeId !== $root.DELIVERY_TIMES_TYPES.DELIVERY_WITHIN_DAYS && item.branchDeliveryTypeId == $root.SP_SERVICES.DELIVERY_TYPES.DELIVERY && item.shippingTimeFromDisplay && $root.config.retailer.twoHourLaw">
                    {{(item.shippingTimeFrom | date: $root.util.getDateFormat() :'UTC') + ' ' + (item.shippingTimeFromDisplay | date: $root.util.getTimeFormat() :'UTC')}}
                 </span>
     <span ng-if="item.deliveryTimeTypeId !== $root.DELIVERY_TIMES_TYPES.DELIVERY_WITHIN_DAYS && !(item.branchDeliveryTypeId == $root.SP_SERVICES.DELIVERY_TYPES.DELIVERY && item.shippingTimeFromDisplay && $root.config.retailer.twoHourLaw)  ">
        {{(item.shippingTimeFrom | date: $root.util.getDateTimeFormat() :'UTC') + '-' + (item.shippingTimeTo | date: $root.util.getTimeFormat() :'UTC')}}
     </span>
     <span ng-if="item.deliveryTimeTypeId === $root.DELIVERY_TIMES_TYPES.DELIVERY_WITHIN_DAYS">
         {{item.shippingTimeFrom | date:  $root.util.getDateFormat() :'UTC'}} + {{::item.deliveryTimeDaysRange}} {{::'business days' | translate}}
     </span>
    </sp-table-column>
    <sp-table-column title="{{'Items' | translate}}" sort-by="itemsCount">
        {{item.itemsCount}}
    </sp-table-column>
    <sp-table-column title="{{'Total sum' | translate}}" style-class="total-sum" sort-by="shownAmount">
        {{item.shownAmount | currency}}
    </sp-table-column>
    <sp-table-column title="{{'Order status' | translate}}" sort-by="statusId" style-class="status-column text-align order-status-{{:: item.statusId}}">
        {{$root.ORDER_STATUSES[item.statusId] | translate}}&nbsp;
        <div class="status-description">
            <span class="question-mark">?</span>
            <div class="description">
                {{(item.statusId | orderStatus) + ' text' | translate}}
            </div>
        </div>
    </sp-table-column>
    <sp-table-column title="{{'Actions' | translate}}" style-class="order-actions">
        <div class="button-wrapper" ng-if="!$root.util.isOrderEditable(item)">
        <button ng-click="addToCart(item, $event);" ng-keydown="$event.stopPropagation();"
                ng-bind="('add to cart' | translate).replace('{cart}', $root.config.retailer.settings.setCartNameToBasket ? $root.config.retailer.settings.setCartNameToBasket : 'cart')">
        </button>
        </div><!--
        --><div class="button-wrapper" ng-if="$root.util.isOrderEditable(item)">
        <button ng-click="$root.util.editOrderWIthValidationIfOrderEditable(item.id);$event.stopPropagation()" ng-keydown="$event.stopPropagation();"
            ng-bind="'Edit order' | translate"></button>
        </div>
        <div class="button-wrapper">
            <button ng-click="openOrder(item)"
                    ng-bind="'View details' | translate">
            </button>
        </div>
    </sp-table-column>
</sp-table>
