html.history section.view {
  .total-sum {
    direction: ltr;
  }

  td.status-column .status-description {
    display: inline-block;
    position: relative;

    .question-mark {
      font-weight: bold;
      display: inline-block;
      padding: 0.3em 0.5em;
      @include border-radius(100%);
    }

    .description {
      display: none;
      position: absolute;
      top: 100%;
      left: 100%;
      padding: 1em;
      background-color: #ffffff;
      border: 1px solid #cccccc;
      @include box-shadow(0 0 10px -4px #000000);
      @include border-radius(0 2em 2em 2em);
      width: 10em;
      z-index: 1;
    }

    &:hover {
      .description {
        display: block;
      }
    }
  }

  td.order-actions {
    > .button-wrapper {
      display: inline-block;
      margin: 0 0.2em;

      .tooltip-content {
        font-size: 0.9em;
      }
    }
    button.cancel {
      background-color: #fff;
      border: 1px solid #ff0000;
      color: #da3b39;

      &:hover, &:focus {
        background-color: transparent;
      }
    }
  }
}