button:not(.no-design), .button {
  padding: 7px;
  @include transition(background-color 0.4s);

  font-size: 1em;
  text-align: center;
  @include border-radius(3px);

  color: #ffffff;

  &.block {
    display: block;
    width: 100%;
  }

  &.highlight {
    color: #ffffff;
    @include box-shadow(none);
  }

  &.grey {
    color: #878787;
    border: 1px solid #878787;
    background-color: #ffffff;
    @include box-shadow(none);
  }

  &.white-solid {
    &:hover {
      background-color: #e0e0e0;
    }

    &:disabled {
      opacity: 0.5;

      &:hover {
        background-color: #fff
      }
    }
  }
}

button, a {
  &:disabled, &[disabled] {
    cursor: default;

    &.disabled-opacity {
      @include opacity(0.5);
    }
  }
}

div.arrows-buttons {
  > button, > .button {
    width: 2em;
    height: 2em;
    border: 1px solid #aaaaaa;
    @include border-radius(3px);
    @include box-shadow(none);
    background: no-repeat center center;
    background-color: #ffffff !important;

    &.next {
      background-image: url('https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/arrow_right.png');
    }

    &.previous {
      background-image: url('https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/arrow_left.png');
    }

    &.disabled, &[disabled] {
      @include opacity(0.4);
    }
  }
}

.rtl {
  div.arrows-buttons > button, div.arrows-buttons > .button {
    &.next {
      background-image: url('https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/arrow_left.png');
    }

    &.previous {
      background-image: url('https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/arrow_right.png');
    }
  }
}