button, input[type="button"] {
  font-family: $secondaryFontFamily;
}

button:not(.no-design), .button {
  background-color: $mainColor;

  &:not(.highlight):not(.grey):not(.white-solid) {
    &:hover:enabled, &:focus:enabled {
      background-color: "{{mainColor-#ffffff-90}}";
    }

    &:active:enabled {
      background-color: "{{mainColor-#ffffff-80}}";
    }
  }

  &.highlight {
    background-color: $highlightColor;

    &:hover:enabled {
      background-color: "{{highlightColor-#ffffff-90}}";
    }

    &:active:enabled {
      background-color: "{{highlightColor-#ffffff-80}}";
    }
  }

  &.white-solid {
    background-color: #fff;
    color: $mainColor;
  }
}