<div class="credit-customer-alert" id="credit_customer_alert">

    <div>

        <h2 class="title default-font">
            {{::'Cart amount higher' | translate }}
            <br>
            {{::'than your credit' | translate }}
        </h2>

        <div class="alert-body-line remaining">
            <svg class="wallet-icon">
                <use xlink:href="{{'#sp-icons-wallet'}}"></use>
            </svg>
            <span class="text" ng-bind="::'Remaining Credit' | translate"></span>
            <span class="price" ng-bind="::(remainingCredit | currency:' ')"></span>
        </div>
        <div class="alert-body-line total">
            <svg class="new-cart-icon">
                <use xlink:href="{{'#sp-icons-new-cart'}}"></use>
            </svg>
            <span class="text" ng-bind="::'Cart Total' | translate"></span>
            <span class="price" ng-bind="::(cartTotal | currency:' ')"></span>
        </div>
        <div class="alert-body-line to-remove">
            <span class="text" ng-bind="::'To complete the purchase, remove products from the cart valued at' | translate"></span>
            <span class="price" ng-bind="::(removeSum | currency:' ')"></span>
        </div>

    </div>

    <div class="action-button" layout="row">
        <button type="button" id="cancel" class="cancel" ng-click="cancel()" ng-bind="::'Edit Cart' | translate"></button>
    </div>

</div>