
#credit_customer_alert {

  padding: 0em 1em;
  width: 470px;

  h2 {
    font-size: 3em;
    padding: 0.2em 0em 0.7em 0em;
    text-align: center;
    color: #D6353A;
    font-size: 2em;
    border-bottom: 2px solid #C8C8C8;
    margin-bottom: 1em;
    line-height: 1.2em;
  }

  .alert-body-line {
    margin: 0.8em 4em 0 4em;
    font-size: 1.2em;
    display: flex;
    line-height: 1.5em;

    .wallet-icon, .new-cart-icon {
      width: 36px;
      height: 30px;
    }

    .text {
      width: 50%;
      display: inline-block;
      padding: 0 0.6em;
    }

    .price {
      width: 40%;
      display: inline-block;
      font-weight: bold;
      direction: ltr;
      text-align: left;
    }

    &.total {
      padding-right: 0;

      .price {
        color: #D6353A;
      }
    }

    &.to-remove {
      border-top: 1px solid #C8C8C8;
      padding-top: 1em;
      line-height: 1em;

      .text {
        width: 70%;
        width: 15em;
        padding-right: 0;
        font-size: 0.8em;
        vertical-align: top;
      }

      .price {
        width: 30%;
        font-size: 0.8em;
        vertical-align: top;
      }
    }
  }

  .action-button {
    text-align: left;
    margin: 2em 0 0 0;
    border-top: 1px solid #C8C8C8;
    padding-top: 1em;

    .cancel {
      padding: 0.5em 2.5em;
      font-weight: bold;
      text-align: center;
    }
  }
}


.ltr {
  #credit_customer_alert {
    .price {
      text-align: right;
    }
  }
}