<div class="shipping-terms-popup">
	<h3 ng-if="shippingTermsController.title">{{shippingTermsController.title}}</h3>
	<div class="description" ng-if="shippingTermsController.description">{{shippingTermsController.description}}</div>
	<ul ng-if="shippingTermsController.conditions.length">
		<li ng-repeat="condition in shippingTermsController.conditions">
			<sp-checkbox sp-model="shippingTermsController.marked[$index]">{{condition.title}}</sp-checkbox>
		</li>
	</ul>

	<div class="actions">
		<div class="message" role="alert" aria-live="assertive">
			<span ng-if="shippingTermsController.displayError">{{'All conditions must be marked in order to complete the order' | translate}}</span>
		</div>
		<div class="buttons">
			<button class="btn-ok" ng-click="shippingTermsController.check();">{{'Ok' | translate}}</button>
			<button class="btn-cancel" aria-label="cancel" ng-click="$dialog.hide(false);">{{'Cancel' | translate}}</button>
		</div>
	</div>
</div>