.shipping-terms-popup {
  min-height: 7em;
  min-width: 30em;
  max-width: 50em;
  padding: 0 2em 1em 2em;
  font-size: 16px;
  display: flex;
  flex-direction: column;

  h3 {
    font-size: 1.8em;
    padding: 0 0 0.5em 0;
    margin: 0;
  }

  .checkbox {
    padding: 10px 0px;
  }

  .description {
    font-size: 1.1em;
    padding: 0 0 0.5em 0;
  }

  ul {
    font-size: 1em;
    padding: 1em 0 0.5em 0;
    margin: 0;

    li {
      list-style: none;
      padding: 0 0 1em 0;
      display: flex;
      flex-direction: row;
      align-items: center;

      span.box {
        margin-top: 2px;
      }

      label {
        display: inline-block;
        margin: 0;
      }
    }
  }

  .actions {
    justify-content: flex-end;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-end;

    .buttons {
      justify-content: flex-end;
      display: flex;
      flex-direction: row;
      align-items: flex-end;

      button {
        width: 5.8em;
        height: 2.2em;
        line-height: 1em;
        margin: 0 0.5em;
        box-sizing: border-box;
        outline: 0;
        font-size: 1.1em;

        &.btn-cancel, &.btn-cancel:hover, &.btn-cancel:hover:enabled {
          border: 1px solid #6D6D6D;
          color: #6D6D6D;
          background-color: #ffffff;
        }
      }
    }

    .message {
      flex-grow: 1;
      margin: 0 0.5em 0 0.5em;
      color: #d44949;
      font-weight: bold;
      font-size: 1em;
      position: relative;
      min-height: 2em;

      span {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0.3em;
      }
    }

  }

}