<div class="date-name">{{'day' + item.value.day | translate}}</div>
<div class="date" ng-class="{'today': item.value.isToday}">{{item.value.isToday ? ('Today' | translate) : (item.value.date | date:($root.config.isUs ? 'MM/dd' : 'dd/MM'):'UTC')}}</div>
<div class="selected-time">
    <div>
        <span ng-if="$root.config.retailer.twoHourLaw" class="time">{{(spModel[item.dropDown.key].fromDisplay || spModel[item.dropDown.key].from) 
            || (spDefaultTime[item.dropDown.key].fromDisplay || spDefaultTime[item.dropDown.key].from) 
            | date:($root.config.isUs ? 'hh:mm a': 'HH:mm'):'UTC'}}</span>
        <span ng-if="!$root.config.retailer.twoHourLaw" class="time">{{spModel[item.dropDown.key].from || spDefaultTime[item.dropDown.key].from | date:($root.config.isUs ? 'hh:mm a': 'HH:mm'):'UTC'}}</span>
        <span ng-if="!$root.config.retailer.twoHourLaw">{{spModel[item.dropDown.key].to || spDefaultTime[item.dropDown.key].to | date:($root.config.isUs ? 'hh:mm a': 'HH:mm'):'UTC'}}</span>
    </div>
</div>