<div class="carousel-product-item"
     ng-repeat="product in chunk"
     ng-init="hasClubSpecial = $root.util.productHasClubSpecial(product.branch); productSpecials = $root.util.filterProductSpecials(product.branch)"
     sp-focus-in
     sp-focus-in-action="product.focusMode">
    <sp-sale-icon product="product" product-specials="productSpecials" ng-if="productSpecials.length"></sp-sale-icon>
    <product-image product="product" size="medium"></product-image><!--
    --><div class="data">
        <div class="brand-and-weight" ng-bind=":: (product.brand.names | name) + (product.brand.names && product.weight ? ' | ' : '' ) + (product | productWeight)"></div>
        <div class="name" ng-bind=":: (product.names | name).short"></div>
        <sp-product-price regular-price="product | regularPrice"
                          sale-price="product | salePrice"
                          product="product"
                          hide-normalize-price="true">
        </sp-product-price>
    </div>
    <product-actions product="product" ng-click="$event.stopPropagation();"></product-actions>
</div>