$productSuggestionPadding: 1em;
$productsSuggestionsImagePaddingLeft: 1em;

.carousel-product-item {
  position: relative;
  background: #ffffff;
  border: 1px solid #dcdcdc;
  height: 100%;
  width: 100%;
  padding: $productSuggestionPadding;
  box-sizing: border-box;

  > * {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
  }

  > .sale-icon {
    position: absolute;
    top: $productSuggestionPadding;
    z-index: 1;
    width: 3.0625em;
    height: 3.0625em;

    > img {
      width: 100%;
      height: 100%;
    }
  }

  > .image-wrapper {
    box-sizing: border-box;

    > img {
      max-width: 100%;
      max-height: 100%;
      vertical-align: middle;
    }
  }

  > .data {
    font-size: 0.9em;
    margin-top: -1em;

    > .brand-and-weight {
      color: #afafaf;
      font-size: 0.8em;
    }

    > .name {
      margin: 0.5em 0;
      color: #636363;
      min-height: 3em;
    }

    > .sp-product-price {
      font-size: 0.8em;
    }
  }

  > .product-actions {
    position: absolute;
    bottom: $productSuggestionPadding / 2;
    width: 47%;

    > .sp-quantity button.plus {
      padding: 0;
      text-align: center;
    }
  }

  &:hover > .product-actions, &.focus-mode > .product-actions {
    opacity: 1;
  }
}

html.ltr .carousel-product-item {
  > .sale-icon {
    left: $productSuggestionPadding;
  }

  > .product-actions {
    right: $productSuggestionPadding;
  }

  > .image-wrapper {
    padding-right: $productsSuggestionsImagePaddingLeft;
  }
}

html.rtl .carousel-product-item {
  > .sale-icon {
    right: $productSuggestionPadding;
  }

  > .product-actions {
    left: $productSuggestionPadding;
  }

  > .image-wrapper {
    padding-left: $productsSuggestionsImagePaddingLeft;
  }
}