<td class="remove-btn">
    <button ng-if="item.type !== $root.SP_SERVICES.CART_LINE_TYPES.DELIVERY" ng-click="removeItem(item)" ng-focus="hoverMode($event);"><!--
        --><img class="middle remove-icon" src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/delete-icon.png" alt="{{('remove from cart' | translate).replace('{cart}', $root.config.retailer.settings.setCartNameToBasket ? $root.config.retailer.settings.setCartNameToBasket : 'cart')}}"/><!--
        --><span class="middle delete-text">{{'Delete' | translate}}</span><!--
    --></button>
</td>
<td class="quantity">
    <div class="quantity-text" ng-class="{disabled: item.isProductOutOfStock}">
        <span class="for-vertical-align"></span><!--
        --><span>{{item | cartLineQuantity:null:item.soldBy}}</span>
    </div>
    <div class="actions" ng-if="item.type !== $root.SP_SERVICES.CART_LINE_TYPES.DELIVERY && item.type !== $root.SP_SERVICES.CART_LINE_TYPES.COUPON  && !item.isProductOutOfStock">
        <product-actions product="item.product" line="item" hide-cart="true" mode="landscape" sp-aria-live="true"></product-actions>
    </div>
</td>
<td class="name">
    <div class="img">
        <product-image product="item.product" image-url="item.product.image.url" size="small" is-product-out-of-stock="{{item.isProductOutOfStock}}" is-need-to-show-out-of-stock-label="{{item.isNeedToShowOutOfStockLabel}}"></product-image>
        <div class="image-wrapper register-loyalty-image" ng-class="{'disabled': item.isProductOutOfStock}">
            <div class="image" ng-style="{'background-image': 'url(' + ('https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/club-icon%translate%.png' | translateImage:{'he': '-hebrew'}) + ')'}"></div>
        </div>
        <div class="removed-text">
            <span class="for-vertical-align"></span><!--
        --><span class="middle">{{'Removed' | translate}}</span>
        </div>
    </div><!--
    --><div class="data" ng-class="{disabled: item.isProductOutOfStock}">
        <div class="brand">{{item.product.brand.names | name}}</div>
        <div class="name" id="{{'item_' + item.id + '_name'}}">
            {{item.product | productName:item.isCase}}
        </div>
        <div class="weight">
            {{ item.product | productWeight:item.isCase }}
            <span ng-if="$root.config.retailer.settings.showPriceWithoutBottleDeposit && item.product && item.product.branch && item.product.branch.linkedProductPrice" id="{{'bottle_disclaimer_' + product.id}}" class="bottle-deposit-disclaimer">
                <img className="bottle-deposit-disclaimer-img" style="width:20px; height:20px" ng-src="{{'https://d226b0iufwcjmj.cloudfront.net/global/mobile/images/icons/info-icon.png'}}"/>
                <span class="bottle-deposit-disclaimer-content">
                    <span class="text">{{$root.config.retailer.settings.disclaimerOnCartPages[$root.config.language.id]  || ('Price includes bottle deposit' | translate)}}</span>
                    <span class="arrow"></span>
                </span>
            </span>
        </div>
    </div>
</td>
<td class="specials" ng-class="::{'has-specials': ($root.config.retailer.settings.isNewPromotionDesignEnabled !== 'true' && ($root.cart.total.giftsForView || $root.cart.total.clubsGiftsForView)) || (item.product && item.product.branch.specials.length && $root.config.retailer.settings.isNewPromotionDesignEnabled === 'true'), 'disabled': item.isProductOutOfStock}">
    <div ng-if="!!item.gifts && $root.config.retailer.settings.isNewPromotionDesignEnabled !== 'true'" ng-repeat="gift in item.gifts" class="special">
        <span class="sale-icon" ng-class="{ 'club-icon': gift.promotion.loyalty && gift.promotion.loyalty.length }">
            <img alt="{{(gift.promotion.loyalty && gift.promotion.loyalty.length ? 'club sale' : 'sale') | translate}}"
                 ng-src="{{'https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/' + (gift.promotion.loyalty && gift.promotion.loyalty.length ? 'club' : 'sale') + '-small%translate%.png' | translateImage:{'he': '-hebrew'} }}"/>
        </span><!--
        --><span special-description-split="{{gift.description}}"></span>
    </div>
    <div class="product-main-tag-icon-wrapper" ng-if="(item.product | productMainTag:$root.PermanentFilters.values[$root.PermanentFilters.TYPES.PRODUCT_TAGS]) && $root.config.retailer.settings.isNewPromotionDesignEnabled !== 'true'">
        <img class="product-main-tag-icon"
             ng-src="{{(item.product | productMainTag:$root.PermanentFilters.values[$root.PermanentFilters.TYPES.PRODUCT_TAGS]).languages | name:'iconResourceUrl'}}"
             alt="{{(item.product | productMainTag:$root.PermanentFilters.values[$root.PermanentFilters.TYPES.PRODUCT_TAGS]).languages | name:'displayName'}}"/>
        <div class="tool-tip">
            {{((item.product | productMainTag:$root.PermanentFilters.values[$root.PermanentFilters.TYPES.PRODUCT_TAGS]).languages | name:'description') ||
            ((item.product | productMainTag:$root.PermanentFilters.values[$root.PermanentFilters.TYPES.PRODUCT_TAGS]).languages | name:'displayName')}}
        </div>
    </div>
    <sp-promotion product="item.product" is-list="true" ng-if="item.product && $root.util.filterProductSpecials(item.product.branch).length && $root.config.retailer.settings.isNewPromotionDesignEnabled === 'true'">
    </sp-promotion>
</td>
<td class="unit-weight">
    <sp-unit-weight product="item.product" cart-line="item" ng-if="item.product.productDisplayModeId === $root.PRODUCT_DISPLAY.WEIGHT_AND_UNIT.id && $root.config.retailer.enableSwitchUnitWeight && $root.util.isUnitsWeighable(item.product)" ng-click="$event.stopPropagation();" product-id="item.product.id"></sp-unit-weight>
</td>
<td class="regular-price">
    <sp-product-price
            ng-if="item.type !== $root.SP_SERVICES.CART_LINE_TYPES.COUPON"
            regular-price="item.product | regularPrice:item.isCase"
            show-weight-unit="!item.isCase && item.product.isWeighable"
            product="item.product"
            ng-class="{'disabled': item.isProductOutOfStock}"
            hide-normalize-price="true">
    </sp-product-price>
</td>
<td class="total-price" ng-class="{'disabled': item.isProductOutOfStock}">
    <sp-product-price
            class="reverse-text-align"
            regular-price="item.totalPriceForView"
            sale-price="item.finalPriceForView"
            show-weight-unit="false"
            type="item.type"
            hide-normalize-price="true">
    </sp-product-price>
</td>
<td class="product-properties  large-property">
    <product-properties item="item" ng-if="item.product.productProperties && item.product.productProperties.length"></product-properties>
</td>
<td class="notes" ng-class="{'show-comments': item.comments}">
    <sp-cart-line-comments ng-if="item.type !== $root.SP_SERVICES.CART_LINE_TYPES.DELIVERY && !item.isProductOutOfStock"
                           sp-line="item"
                           sp-text-area="true"
                           show-product-property="false">
    </sp-cart-line-comments>
</td>
