<button class="backward no-design" ng-show="scrollContainerCtrl.backward" ng-click="scrollContainerCtrl.scroll(false)">
    <svg focusable="false">
        <use xlink:href="#sp-icons-arrow-left"></use>
    </svg>
</button>
<button class="forward no-design" ng-show="scrollContainerCtrl.forward" ng-click="scrollContainerCtrl.scroll(true)">
    <svg focusable="false">
        <use xlink:href="#sp-icons-arrow-left"></use>
    </svg>
</button>
<span ng-transclude></span>