.sp-scroll-actions-container {
  position: relative;
  overflow: hidden;

  $innerPadding: 1px;

  > [ng-transclude] {
    overflow: hidden;
    width: 100%;
    display: block;
    padding: $innerPadding;
    box-sizing: content-box;
  }

  > button {
    position: absolute;
    top: $innerPadding;
    bottom: $innerPadding;
    border: 1px solid #a5a5a6;
    width: 1.375em;
    background-color: #fff;
    box-shadow: 0 0 0 3px #fff;

    > svg {
      height: 100%;
      width: 0.5625em;
    }

    &.backward {
      left: $innerPadding;
    }

    &.forward {
      right: $innerPadding;

      > svg {
        @include flipH();
      }
    }
  }
}