<div class="sp-promotion" ng-class="{ product: isProduct }">
    <div class="promotion-wrapper" id="{{promotionWrapperId}}"
        aria-expanded="{{$root.promotionTooltip === promotionId}}"
        ng-class="{ general: !specialToShow.icons[specialToShow.loyaltyClubsIds[0]][$root.config.language.id].description && !specialToShow.icons[specialToShow.loyaltyClubsIds[0]][2].description, special: isSpecial }"
        ng-if="!isProduct && !isCart && !isSpecial" ng-click="toggleTooltip($event)">
        <span class="audience"
            ng-if="specialToShow.icons[specialToShow.loyaltyClubsIds[0]][$root.config.language.id].description || specialToShow.icons[specialToShow.loyaltyClubsIds[0]][2].description"
            ng-bind="specialToShow.icons[specialToShow.loyaltyClubsIds[0]][$root.config.language.id].description || specialToShow.icons[specialToShow.loyaltyClubsIds[0]][2].description"
            aria-label="specialToShow.icons[specialToShow.loyaltyClubsIds[0]][$root.config.language.id].description || specialToShow.icons[specialToShow.loyaltyClubsIds[0]][2].description"
            tabindex="0">
        </span>
        <span class="tag" ng-bind="($root.config.retailer.settings.showPriceWithoutBottleDeposit && specialToShow.names[$root.config.language.id].promotionTagWithoutDeposit) ? specialToShow.names[$root.config.language.id].promotionTagWithoutDeposit : specialToShow.names[$root.config.language.id].promotionTag"></span>
        <div tabindex="0" aria-labelledby="promotion_more_title">
            <svg focusable="false" role="img">
                <title id="promotion_more_title">{{'More details' | translate}}</title>
                <use xlink:href="#sp-icons-up-arrow"></use>
            </svg>
            <span>{{'More' | translate}}</span>
        </div>
    </div>

    <div class="promotion-wrapper" id="{{promotionWrapperId}}"
         ng-class="{ general: !specialToShow.icons[specialToShow.loyaltyClubsIds[0]][$root.config.language.id].description && !specialToShow.icons[specialToShow.loyaltyClubsIds[0]][2].description, special: isSpecial }"
         ng-if="isSpecial" tabindex="0"
         ng-click="$event.currentTarget.blur();">
        <span class="audience"
              ng-if="specialToShow.icons[specialToShow.loyaltyClubsIds[0]][$root.config.language.id].description || specialToShow.icons[specialToShow.loyaltyClubsIds[0]][2].description"
              ng-bind="specialToShow.icons[specialToShow.loyaltyClubsIds[0]][$root.config.language.id].description || specialToShow.icons[specialToShow.loyaltyClubsIds[0]][2].description"
              aria-label="specialToShow.icons[specialToShow.loyaltyClubsIds[0]][$root.config.language.id].description || specialToShow.icons[specialToShow.loyaltyClubsIds[0]][2].description"
              tabindex="0">
        </span>
        <span class="tag" ng-bind="($root.config.retailer.settings.showPriceWithoutBottleDeposit && specialToShow.names[$root.config.language.id].promotionTagWithoutDeposit) ? specialToShow.names[$root.config.language.id].promotionTagWithoutDeposit : specialToShow.names[$root.config.language.id].promotionTag"></span>
    </div>

    <span class="promotion-tag" ng-if="isCart" id="{{promotionTagId}}"
        aria-expanded="{{$root.promotionTooltip === promotionId}}"
        ng-class="{ small: !withoutActions && $root.cart.specialReminders.onProducts[specialToShow.id]}"
        ng-bind="($root.config.retailer.settings.showPriceWithoutBottleDeposit && specialToShow.names[$root.config.language.id].promotionTagWithoutDeposit) ? specialToShow.names[$root.config.language.id].promotionTagWithoutDeposit : specialToShow.names[$root.config.language.id].promotionTag" ng-click="toggleTooltip($event)">
    </span>

    <div id="{{ promotionId }}" class="promotion-tooltip" tabindex="0" role="presentation"
        ng-class="{ cart: isCart, topArrow: bottomTooltip, bottomArrow: !bottomTooltip }"
        ng-style="{ top: (isCart && bottomTooltip ? tooltipPosition : ''), bottom: (isCart && !bottomTooltip ? tooltipPosition : '') }"
        ng-show="!isProduct && !isSpecial && $root.promotionTooltip === promotionId"
        ng-click="$event.stopPropagation()">
        <div class="tooltip">
            <div class="close" ng-click="$root.promotionTooltip = null"
                aria-label="{{'Close promotion tooltip' | translate}}">
                <svg focusable="false" aria-labelledby="close_tooltip_title" role="img" aria-hidden="true">
                    <title id="close_tooltip_title">{{"close" | translate}}</title>
                    <use xlink:href="#sp-icons-close"></use>
                </svg>
            </div>
            <div class="promotion" ng-repeat="special in specials track by $index">
                <div class="divider" ng-if="$index > 0"></div>
                <span class="audience"
                    ng-class="{ general: !special.icons[special.loyaltyClubsIds[0]][$root.config.language.id].description && !special.icons[special.loyaltyClubsIds[0]][2].description }"
                    ng-bind="special.icons[special.loyaltyClubsIds[0]][$root.config.language.id].description || special.icons[special.loyaltyClubsIds[0]][2].description"
                    aria-label="special.icons[special.loyaltyClubsIds[0]][$root.config.language.id].description || special.icons[special.loyaltyClubsIds[0]][2].description"
                    tabindex="0">
                </span>
                <span class="tag" ng-bind="($root.config.retailer.settings.showPriceWithoutBottleDeposit && special.names[$root.config.language.id].promotionTagWithoutDeposit) ? special.names[$root.config.language.id].promotionTagWithoutDeposit : special.names[$root.config.language.id].promotionTag"></span>
                <span class="description" ng-bind="($root.config.retailer.settings.showPriceWithoutBottleDeposit && special.names[$root.config.language.id].nameWithoutDeposit) ? special.names[$root.config.language.id].nameWithoutDeposit : special.names[$root.config.language.id].name"></span>
                <span class="select" ng-if="!product" ng-click="openSpecial(product)">{{'Select' | translate}}</span>
                <div ng-class="{ large: size === 'large' }">
                    <div>
                        <span class="expiration"
                            ng-if="$root.config.retailer.showSpecialsValidity"
                            ng-bind="('special_exp_new' | translate) + ' ' + (special.endDate | date: ($root.config.isUs ? 'MM.dd.yyyy' : 'dd.MM.yyyy'):'UTC')">
                        </span>
                        <span class="boundary" ng-if="$root.config.retailer.showSpecialsValidity && special.names[$root.config.language.id].limitText">|</span>
                        <span class="realizations" ng-bind="special.names[$root.config.language.id].limitText"></span>
                    </div>
                    <span class="legal-text">
                        <span ng-repeat="loyaltyId in special.loyaltyClubsIds" ng-if="$root.config.retailer.loyaltyClubs[loyaltyId].creditCardLegalText.isActive"
                        ng-bind="$root.config.retailer.loyaltyClubs[loyaltyId].creditCardLegalText.text[$root.config.language.culture]"></span>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <span class="save small"
        ng-class="{ animated: $root.cart.changedProducts[product.id], cart: isCart, product: isProduct }"
        ng-bind="(!withoutActions && !specialToShow.hasOneProduct ? 'special_reminder_button_title' : 'special_reminder_bubble_title') | translate"
        ng-if="!isList && !withoutActions && $root.cart.specialReminders.onProducts[specialToShow.id]"
        ng-click="!withoutActions && showSpecialDetails($event)">
    </span>

    <div class="product-promotions" ng-if="isProduct">
        <div class="promotion" ng-repeat="special in specials">
            <div class="promotion-wrapper"
                ng-class="{ general: !special.icons[special.loyaltyClubsIds[0]][$root.config.language.id].description && !special.icons[special.loyaltyClubsIds[0]][2].description}" tabindex="0"
                ng-click="$event.currentTarget.blur();"
            >
                <span class="audience"
                    ng-if="special.icons[special.loyaltyClubsIds[0]][$root.config.language.id].description || special.icons[special.loyaltyClubsIds[0]][2].description"
                    ng-bind="special.icons[special.loyaltyClubsIds[0]][$root.config.language.id].description || special.icons[special.loyaltyClubsIds[0]][2].description"
                    aria-label="special.icons[special.loyaltyClubsIds[0]][$root.config.language.id].description || special.icons[special.loyaltyClubsIds[0]][2].description"
                    tabindex="0">
                </span>

                <span class="tag" ng-bind="($root.config.retailer.settings.showPriceWithoutBottleDeposit && special.names[$root.config.language.id].promotionTagWithoutDeposit) ? special.names[$root.config.language.id].promotionTagWithoutDeposit : special.names[$root.config.language.id].promotionTag"></span>
            </div>

            <div class="promotion-info">
                <span class="description" ng-bind="($root.config.retailer.settings.showPriceWithoutBottleDeposit && special.names[$root.config.language.id].nameWithoutDeposit) ? special.names[$root.config.language.id].nameWithoutDeposit : special.names[$root.config.language.id].name"></span>

                <span class="select" ng-if="!product" ng-click="openSpecial(product)">{{'Select' | translate}}</span>

                <div>
                    <div>
                        <span class="expiration"
                            ng-if="$root.config.retailer.showSpecialsValidity"
                            ng-bind="('special_exp_new' | translate) + ' ' + (special.endDate | date: ($root.config.isUs ? 'MM.dd.yyyy' : 'dd.MM.yyyy'):'UTC')">
                        </span>
                        <span class="boundary" ng-if="$root.config.retailer.showSpecialsValidity && special.names[$root.config.language.id].limitText">|</span>
                        <span class="realizations" ng-bind="special.names[$root.config.language.id].limitText"></span>
                    </div>
                    <span class="legal-text">
                        <span ng-repeat="loyaltyId in special.loyaltyClubsIds" ng-if="$root.config.retailer.loyaltyClubs[loyaltyId].creditCardLegalText.isActive"
                        ng-bind="$root.config.retailer.loyaltyClubs[loyaltyId].creditCardLegalText.text[$root.config.language.culture]"></span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
