$red: #e15856;
$backgroundRed: #ffebeb;

.sp-promotion {
  width: 100%;

  &.product {
    display: grid;
    grid-row-gap: 1em;
    padding: 1em 0;
  }

  > .promotion-wrapper {
    height: 28px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-column-gap: 0.5em;
    align-items: center;
    padding: 0.25em;
    border-radius: 0.25em;
    background: $backgroundRed;
    clear: both;

    &.special {
      width: calc(100% - 0.5em);
      grid-template-columns: auto 1fr;
    }

    &.general {
      grid-template-columns: 1fr auto;

      .tag {
        .ltr & {
          padding-left: 0.5em;
          text-align: left;
        }

        .rtl & {
          padding-right: 0.5em;
          text-align: right;
        }
      }

      &.special {
        grid-template-columns: 1fr;

        .tag {
          padding: 0;
          text-align: center;
        }
      }
    }

    > .audience {
      height: 2em;
      display: flex;
      align-items: center;
      padding: 0 0.5em;
      color: white;
      border-radius: 0.25em;
      font-size: 10px;
    }

    > .tag {
      max-height: 2em;
      overflow: hidden;
      color: $red;
      font-size: 13px;
      font-weight: bold;
      text-align: center;
      text-transform: uppercase;
      @include ellipsis(2);
    }

    > div {
      width: 32px;
      height: 22px;
      display: grid;
      align-items: center;
      justify-items: center;
      padding: 0.125em;
      border: 1px solid rgba(255, 87, 85, 0.3);
      border-radius: 0.25em;
      text-transform: uppercase;

      > svg {
        width: 0.7em;
        height: 0.5em;
        fill: $red;
      }

      > span {
        color: $red;
        font-size: 10px;
        font-weight: bold;
      }
    }
  }

  > .promotion-tag,
  > .save.cart {
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    // text-transform: uppercase;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;

    &.small {
      font-size: 8px;
    }
  }

  > .promotion-tag {
    color: $red;
    background-color: $backgroundRed;
  }

  > .save.cart {
    color: white;
  }

  > .save:not(.cart) {
    position: absolute;
    top: 0.7em;
    padding: 0.5em;
    font-size: 12px;
    font-weight: bold;
    border-radius: 1em;
    color: white;

    .ltr & {
      left: 0.7em;
    }

    .rtl & {
      right: 0.7em;
    }

    &.animated {
      animation: flash 1.5s 3;
    }
  }

  > .save.product {
    position: relative;
    top: 0;
    width: fit-content;

    .ltr & {
      left: 0em;
    }

    .rtl & {
      right: 0em;
    }
  }

  > .promotion-tooltip {
    z-index: 5;

    &.cart {
      position: fixed;
      left: 1em;

      &:after {
        content: "";
        position: absolute;
        border: 1px solid;
      }

      &:before {
        content: "";
        position: absolute;
        border: 1px solid;
      }

      &.topArrow:after {
        border-color: $backgroundRed transparent;
        border-width: 0 13px 12px 13px;
        top: -5px;
        left: 22%;
      }

      &.topArrow:before {
        border-color: $red transparent;
        border-width: 0 13px 11px 13px;
        top: -6px;
        left: 22%;
      }

      &.bottomArrow:after {
        border-color: $backgroundRed transparent;
        border-width: 12px 13px 0 13px;
        bottom: -5px;
        left: 22%;
      }

      &.bottomArrow:before {
        border-color: $red transparent;
        border-width: 11px 13px 0 13px;
        bottom: -6px;
        left: 22%;
      }

      .rtl & {
        left: auto;
        right: 1em;

        &.topArrow:after {
          left: auto;
          right: 22%;
        }

        &.topArrow:before {
          left: auto;
          right: 22%;
        }

        &.bottomArrow:after {
          left: auto;
          right: 22%;
        }

        &.bottomArrow:before {
          left: auto;
          right: 22%;
        }
      }

      > .tooltip {
        width: 15em;
        max-height: 8em;
      }
    }

    &:not(.cart) {
      position: absolute;
      left: 0.5em;
      right: 0.5em;
      bottom: 0.5em;

      .tooltip {
        max-height: 17em;
      }
    }

    > .tooltip {
      display: grid;
      grid-row-gap: 0.5em;
      overflow: auto;
      padding: 0.5em;
      border-radius: 0.25em;
      background: $backgroundRed;
      border: 1px solid $red;

      > .close {
        position: absolute;
        top: 0.5em;
        display: grid;
        cursor: pointer;

        .ltr & {
          right: 0.5em;
        }

        .rtl & {
          left: 0.5em;
        }

        > svg {
          width: 12px;
          height: 12px;
          padding: 4px;
          fill: $red;
          border: 1px solid $red;
          border-radius: 50%;
        }
      }

      > .promotion {
        display: grid;
        grid-row-gap: 0.5em;
        text-align: left;

        .rtl & {
          text-align: right;
        }

        > .audience,
        > .select {
          width: fit-content;
          height: 2em;
          display: flex;
          align-items: center;
          padding: 0 0.5em;
          color: white;
          border-radius: 0.25em;
        }

        > .audience {
          font-size: 10px;

          &.general {
            background: none;
          }
        }

        > .tag {
          overflow: hidden;
          color: $red;
          font-size: 13px;
          line-height: 1.2em;
          font-weight: bold;
          text-transform: uppercase;
          @include ellipsis(2);
        }

        > .description {
          font-size: 13px;
          line-height: 1.2em;
          @include ellipsis(2);
        }

        > .select {
          background: $red;
          font-size: 13px;
        }

        > div {
          display: flex;
          flex-direction: column;
          >div{
            > span{
              color: #78797a;
              font-size: 11px;
            }
          }
          > .legal-text{
            color: #78797a;
            font-size: 11px;
            width: 100%;
            display: flex;
            gap: 2px;
            flex-wrap: wrap;
          }
        }

        > .divider {
          height: 1px;
          background-color: rgba(255, 87, 85, 0.3);
        }
      }
    }
  }

  > .product-promotions {
    display: grid;
    grid-row-gap: 1em;

    > .promotion {
      display: grid;
      grid-row-gap: 0.5em;

      > .promotion-wrapper {
        height: 2em;
        display: grid;
        grid-template-columns: auto 1fr;
        grid-column-gap: 0.5em;
        align-items: center;
        padding: 0.25em 0.5em;
        border-radius: 0.25em;
        background-color: $backgroundRed;

        &.general {
          grid-template-columns: 1fr;
        }

        > .audience {
          height: 2em;
          display: flex;
          align-items: center;
          padding: 0 1em;
          color: white;
          border-radius: 0.25em;
          font-size: 10px;

          &.general {
            background: none;
          }
        }

        > .tag {
          overflow: hidden;
          color: $red;
          font-size: 13px;
          font-weight: bold;
          text-align: center;
          text-transform: uppercase;
          @include ellipsis(2);
        }
      }

      > .promotion-info {
        display: grid;
        grid-row-gap: 0.5em;

        > .description {
          font-size: 12px;
          @include ellipsis(2);
        }

        > .select {
          width: fit-content;
          height: 2em;
          display: flex;
          align-items: center;
          padding: 0 0.5em;
          color: white;
          border-radius: 0.25em;
          background: $red;
          font-size: 13px;
        }

        > div {
          display: flex;
          flex-direction: column;
          >div{
            > span{
              color: #78797a;
              font-size: 11px;
            }
          }
          > .legal-text{
            color: #78797a;
            font-size: 11px;
            width: 100%;
            display: flex;
            gap: 2px;
            flex-wrap: wrap;
          }
          
        }
      }
    }
  }
}
