<div class="payment-iframe-dialog">
    <div id="payment_iframe_title" class="credit-title">
        <span ng-if="paymentIFrameCtrl.isAddCard && paymentIFrameCtrl.paymentMethodId === $root.SP_PAYMENTS.PAYMENT_METHODS.IDS.CREDIT_CARD">
            {{paymentIFrameCtrl.creditCardDisplay[$root.config.language.culture].externalCardTitle || 'Add Your Credit Card' | translate | creditCardName}}
        </span>
        <span ng-if="paymentIFrameCtrl.isAddCard && paymentIFrameCtrl.paymentMethodId === $root.SP_PAYMENTS.PAYMENT_METHODS.IDS.MAX_GIFT_CARD">
            {{paymentIFrameCtrl.titleGiftCard(paymentIFrameCtrl.giftCardDisplay[$root.config.language.culture].externalCardTitle) || ('{Gift card name} details' | translate).replace(
                '{Gift card name}',
                paymentIFrameCtrl.giftCardName
            )}}
        </span>
        <span ng-if="paymentIFrameCtrl.isAddCard && paymentIFrameCtrl.paymentMethodId === $root.SP_PAYMENTS.PAYMENT_METHODS.IDS.EBT">
            <span>{{'Add Your EBT Card' | translate}}</span>
        </span>
    </div>

    <div class="credit-subtitle-setting">
        <span ng-if="paymentIFrameCtrl.isAddCard && paymentIFrameCtrl.paymentMethodId === $root.SP_PAYMENTS.PAYMENT_METHODS.IDS.CREDIT_CARD">
            {{paymentIFrameCtrl.creditCardDisplay[$root.config.language.culture].externalCardSubtitle}}
        </span>
        <span ng-if="paymentIFrameCtrl.isAddCard && paymentIFrameCtrl.paymentMethodId === $root.SP_PAYMENTS.PAYMENT_METHODS.IDS.MAX_GIFT_CARD">
            {{paymentIFrameCtrl.giftCardDisplay[$root.config.language.culture].externalCardSubtitle}}
        </span>
    </div>

    <div class="credit-sub-title" ng-if="paymentIFrameCtrl.loyaltyClubDriver && paymentIFrameCtrl.isAddCard">
        <span ng-bind-html="paymentIFrameCtrl.loyaltyClubDriver.clientConfig.text.loyaltyFormText"></span>
        <div ng-if="paymentIFrameCtrl.loyaltyClubDriver.clientConfig.text.registerClubText">
            <span ng-bind-html="paymentIFrameCtrl.loyaltyClubDriver.clientConfig.text.registerClubText"></span>
            <a target="_blank" ng-href="{{paymentIFrameCtrl.loyaltyClubDriver.clientConfig.url.registrationUrl}}">{{'Join now' | translate}}</a>
        </div>
    </div>

    <div>
        <iframe id="payment_dialog_iframe" ng-src="{{paymentIFrameCtrl.iFrameUrl}}"
                ng-if="paymentIFrameCtrl.iFrameUrl" ng-init="paymentIFrameCtrl.bindIFrameLoad()"></iframe>
    </div>
</div>
