#payment_dialog_iframe {
  width: 30em;
  height: 35em;
  padding-top: 2em;
}

.payment-iframe-dialog {
  width: 30em;

  .credit-title {
    font-weight: normal;
    text-align: center;
    font-size: 1.6em;
  }

  .credit-sub-title {
    text-align: center;
    margin-top: 1em;
    > * {
      margin-top: 1em;
    }

    a {
      color: -webkit-link;
      cursor: pointer;
      text-decoration: underline;
    }
  }
}