<h4 id="did_you_mean_dialog_title">{{::'What did you mean' | translate}}?</h4>
<div class="address">
    <sp-radio sp-model="didYouMeanCtrl.address" options="didYouMeanCtrl.addresses"
              value-key="option">
        {{option.formatted_address}}
    </sp-radio>
</div>

<div class="buttons">
    <button ng-click="didYouMeanCtrl.ok()" class="disabled-opacity" ng-disabled="!didYouMeanCtrl.address">{{::'OK' | translate}}</button>
    <button ng-click="didYouMeanCtrl.cancel()">{{::'CANCEL' | translate}}</button>
</div>