<div class="content cant_find_item_dialog_title">
    <div class="img">
        <img src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/cant-find-item-gray.png" alt=""/>
    </div>
    <h3>
        <span id="cant_find_item_dialog_title" class="cant-find">{{::'Can\'t find an item?' | translate}}</span>
        <div class="add-here">{{::'Add it here' | translate}}!</div>
    </h3>
    <div class="text">
        {{::'If we are unfamiliar with the product or don\'t have it in stock, we will give you a call' | translate}}
    </div>
    <form sp-form-accessibility class="form" name="cantFindItem" ng-submit="addToCart(cantFindItem, $event)" novalidate>
        <div>
            <input type="text" name="pseudoProductName" placeholder="{{::'Product name' | translate}}" ng-model="line.product.name" required ng-maxlength="200" sp-inline-error/>
        </div>
        <div>
            <sp-dropdown sp-model="line.product.category" class="transparent-arrow input">
                <sp-text style="font-weight:100;">
                    {{line.product.category ? (line.product.category.names | name) : ('Choose category' | translate)}}
                </sp-text>
                <sp-option ng-repeat="category in categories" sp-value="category">
                    {{category.names | name}}
                </sp-option>
            </sp-dropdown>
        </div>
        <div>
            <div class="quantity">
                <span class="left">{{::'Quantity' | translate}}:</span>
                <span class="middle">
                    <sp-quantity ng-click="$event.stopPropagation();"
                                 cart-line="line"
                                 hide-cart="true"
                                 hide-weight="true"
                                 design="white"
                                 on-plus="changeQuantity(1)"
                                 on-minus="changeQuantity(-1)"
                                 on-change="true"
                                 plus-alt="Increase the amount"
                                 minus-alt="reduce the amount"
                                 is-redesign="true"
                                 sp-aria-live="true">
                    </sp-quantity>
                </span>
                <span class="space">&nbsp;</span>
            </div>
        </div>
        <div class="server-err-msg"></div>
        <div class="comments" ng-class="{'has-comment':!!line.comments}"><!--
            --><label for="comments_textarea" class="comment-place-holder"><!--
                --><!--
                -->{{::'Add comment' | translate}}<!--
            --></label><!--
            --><textarea id="comments_textarea" ng-model="line.comments" maxlength="500"></textarea><!--
        --></div>

        <div>
            <button type="submit" class="no-design" style="text-transform:uppercase">
                {{::('add to cart' | translate).replace('{cart}', $root.config.retailer.settings.setCartNameToBasket ? $root.config.retailer.settings.setCartNameToBasket : 'cart')}}
                &nbsp;&nbsp;<img class="plus" ng-src="{{'https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/plus.png'}}" alt=""/>
                <img ng-if="!hideCart" class="cart" src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/cart_small.png" alt=""/>
            </button>
        </div>
    </form>
</div>
