$quantityHeight: 2.5em;
$mainColor: '{{mainColor}}';

.dialog-wrapper .dialog.cant-find-item .dialog-body {
  width: 30em;
  overflow: visible;

  > .content {
    padding-right: 1em;
    padding-left: 1em;

    > .img {
      margin-top: -1.5em;
      text-align: center;
      height: 3.5em;

      > img {
        height: 100%;
      }
    }

    > h3 {
      padding-top: 0.5em;
      text-align: center;

      .gray {
        color: #606060;
      }

      .cant-find {
        color: $mainColor;
        font-weight: 700;
      }

      .add-here {
        margin-top: 7px;
        color: #000000;
      }
    }

    > .text {
      font-size: 0.95em;
      color: #403e3e;
      text-align: center;
    }

    > form {
      padding-top: 1em;

      > div {
        padding: 0.4em 0;

        > .err-input-wrapper, > .err-input-wrapper > input, > sp-dropdown {
          width: 100%;
        }

        > .quantity {
          height: $quantityHeight;

          .left {
            line-height: $quantityHeight;
            color: #878787;
          }

          .middle {
            width: 30%;
            height: 100%;
            margin-left: 15px;
            margin-right: 15px;

            .sp-quantity {
              height: 100%;
            }

            .space {
              width: 35%;
            }
          }
        }

        &.comments {
          position: relative;
          height: 4em;
          width: 100%;

          textarea {
            position: absolute;
            left: 0;
            top: 0.5em;
            font-size: 1em;
            width: 100%;
            height: 80%;
            resize: none;
            background-color: transparent;
            z-index: 1;
          }

          .comment-place-holder {
            position: absolute;
            top: 1em;
            left: 2%;
            color: #adadad;
            font-style: italic;
            font-size: 1em;
            z-index: 0;

            > img {
              display: inline-block;
              vertical-align: middle;
              padding: 0 0.2em;
            }
          }

          &.has-comment .comment-place-holder {
            display: none;
          }
        }

        > button {
          display: block;
          width: 100%;
          @include border-radius(5px);
          padding: 0.6em;
          font-weight: bold;
          font-size: 1em;
          color: #ffffff;
        }
      }
    }
  }
}

.rtl {
  .dialog.cant-find-item .dialog-body > .content > form > div.comments .comment-place-holder {
    left: auto;
    right: 2%;
  }
}
