.dialog.cant-find-item .dialog-body {
  > .content {
    > h3 {
      font-family: $secondaryFontFamily;
    }

    > form > div {
      > .quantity .left {
      }

      > button {
        background-color: $mainColor;
      }
    }
  }
}