.discard-loyalty-discounts {
  width: 34.0625em;
  overflow: visible;

  h4 {
    color: #414141;
    padding-top: 0.5em;
    padding-right: 1.5em;
  }
  p {
    padding-bottom: 1em;
    padding-right: 2.5em;
    line-height: 1.2em;
  }

  .buttons {
    text-align: center;
    padding-top: 1em;

    button {
      margin-right: 1em;
      margin-left: 1em;
      padding-left: 1em;
      padding-right: 1em;
    }
  }
}

