<section ng-if="!userVerificationCtrl.isVerified && !userVerificationCtrl.codeSent">
    <h4 ng-if="userVerificationCtrl.isPostRegistration">
        {{userVerificationCtrl.userData.firstName}}, {{'you are now registered' | translate}}!
    </h4>
    <h2 id="user_verification_dialog_title">{{'Please verify your account' | translate}}</h2>
    <h4>{{'Before your first purchase, a verification code will be sent to your mobile phone' | translate}}.</h4>

    <form ng-submit="userVerificationCtrl.send(userVerificationCtrl.phoneNumber);">
        <input name="phoneNumber" placeholder="{{::'Phone number' | translate}}"
               type="tel" ng-model="userVerificationCtrl.phoneNumber" class="main"
               ng-pattern="/^\(?\+?(\d[\s,\-,(,),,,]*){8,15}$/" sp-inline-error/>
        <div class="verify-error" ng-if="userVerificationCtrl.uniqPhoneError" role="alert" aria-relevant="additions">
            {{'There was a problem verifying your account' | translate}}<br>
            {{'Please contact customer service' | translate}}:
            <span ng-if="$root.config.retailer.contactPhone">{{$root.config.retailer.contactPhone}}</span>
        </div>
        <button type="submit" ng-disabled="userVerificationCtrl.inPrgress">
            {{'Send SMS' | translate}}
        </button>
    </form>
</section>
<section ng-if="!userVerificationCtrl.isVerified && userVerificationCtrl.codeSent">
    <h2 id="user_verification_dialog_title">{{'Enter the code that was sent to your phone' | translate}}</h2>
    <h4>
        {{userVerificationCtrl.phoneNumber}}
        (<a ng-click="userVerificationCtrl.codeSent = false" href="javascript:">{{'change number' | translate}}</a>)
    </h4>

    <form ng-submit="userVerificationCtrl.verify();">
        <sp-separate-input-value sp-model="userVerificationCtrl.code" model-length="6" input-length="1"></sp-separate-input-value>

        <div class="verify-error">
            <span ng-if="userVerificationCtrl.verifyError" role="alert" aria-relevant="additions">
                {{'sorry_2' | translate}},<br/>
                {{'the code is invalid or expired' | translate}}.
            </span>
        </div>

        <button type="submit" ng-disabled="userVerificationCtrl.inPrgress || !userVerificationCtrl.code || userVerificationCtrl.code.length < 6">
            {{'Verify' | translate}}
        </button>
        <a class="resend-link" ng-click="userVerificationCtrl.send();" href="javascript:" ng-disabled="userVerificationCtrl.inPrgress">
            {{'I didn\'t receive the code (resend)' | translate}}
        </a>
    </form>
</section>
<section class="verified" ng-if="userVerificationCtrl.isVerified">
    <svg class="" focusable="false">
        <use xlink:href="#sp-icons-user-verified"></use>
    </svg>

    <h2 id="user_verification_dialog_title" aria-live="assertive" aria-relevant="additions">
        {{'Your account is verified' | translate}}!
    </h2>

    <button type="button" ng-click="$dialog.hide()">
        {{'Continue shopping' | translate}}
    </button>
</section>