.dialog-wrapper .dialog.user-verification-dialog .dialog-body {
  width: 31em;
  height: 31em;
  text-align: center;

  section {
    padding-top: 2em;
    width: 21.875em;
    margin: auto;

    h2 {
      font-size: 1.625em;
      font-weight: bold;
      padding-top: 1.35em;
      padding-bottom: 0;
    }

    h4 {
      color: #1e1f21;
      font-size: 1.2em;
      padding: 0.4em 0;
    }

    a {
      text-decoration: underline;
    }

    button {
      min-width: 11em;
    }

    form {
      font-size: 1.125em;
      width: 100%;

      $inputMargin: 2.16em;
      input.main {
        font-size: 1em;
        width: 100%;
        margin: $inputMargin 0;
      }

      sp-separate-input-value {
        display: block;
        direction: ltr;
        margin-top: $inputMargin;
        margin-bottom: $inputMargin - 2em;

        input {
          font-size: 1.44em;
          width: 1.5em;
          margin: 0 0.3em;
          padding-left: 0;
          padding-right: 0;
          text-align: center;
        }
      }

      .verify-error {
        color: #ed1c24;
        font-weight: bold;
        margin-bottom: 1em;
      }

      .resend-link {
        margin-top: 2em;
        display: block;
      }
    }

    &.verified {
      svg {
        width: 8.125em;
        height: 8.125em;
        margin: 1em 0;
      }

      h2 {
        padding: 2.92em 0;
      }
    }
  }
}