.product-main-tag-icon-wrapper {
  white-space: nowrap;

  > * {
    white-space: normal;
    position: static;
    display: inline-block;
    vertical-align: bottom;
  }

  > .tool-tip {
    width: 15em;
    box-sizing: border-box;
    padding: 0.2em 0.5em;
  }

  td.line-special-details & {
    color: #000000;
  }
}

.product-main-tag-icon {
  $margin: 0.625em;
  $iconWidth: 3em;
  $iconHeightPercent: 0.6666;

  display: block;
  position: absolute;
  z-index: 1;
  top: $margin;
  width: $iconWidth;
  height: $iconHeightPercent * $iconWidth;
  object-fit: contain;

  .ltr & {
    right: $margin;
  }

  .rtl & {
    left: $margin;
  }

  .item.product sp-product & {
    transition-delay: 100ms;
  }

  .item.product sp-product.hover-mode &, .item.product sp-product:hover & {
    opacity: 0;
  }

  td.specials & {
    position: static;
    display: inline-block;
  }
}



.sp-carousel, .specials-wrapper {
  .special-product{

    .data{
      position: relative;

      .product-main-tag-icon{

        top: 0em;
        width: 3em;
        height: 2em;

        .ltr & {
          right: auto;
          left: -3.5em;
        }

        .rtl & {
          left: auto;
          right: -3.5em;
        }

      }

    }

  }
}

.product-in-cart {
  .product-wrapper {
    .product-main-tag-icon {
      width: 1.5em;
      height: 1.5em;

      .rtl & {
        left: auto;
        right: 6em;
      }

      .ltr & {
        right: auto;
        left: 6em;
      }
    }
  }
}