.ng-hide.ng-hide-animate {
  display: none !important;
}

html {
  background-color: #FFFFFF;

  font-size: 16px;

  section.main {
    height: 100%;
    padding-top: $headerHeight;
    @include box-sizing(border-box);

    &.ios-scroll-workaround {
      -webkit-overflow-scrolling: touch;
      overflow: auto;
      position: relative;
    }
  }

  &.hub-child section.main {
    padding-top: $headerHeight + $hubHeaderHeight;
  }

  &.ltr {
    &.close-sidenav, &.hide-sidenav {
      section.view {
        margin-right: 0;
      }
    }

    section.view {
      margin-right: $sidenavWidth + 1em;
    }
  }

  &.rtl {
    &.close-sidenav, &.hide-sidenav {
      section.view {
        margin-left: 0;
      }
    }

    section.view {
      margin-left: $sidenavWidth + 1em;
    }
  }

  &.ltr, &.rtl {
    &.category-products, &.search-products, &.specials, &.special, &.checkout, &.product-tag-products {
      section.view {
        padding-top: 0;

        > div[ng-view] {
          background-color: transparent;
        }
      }
    }

    &.cart-summary, &.checkout, &.finish {
      div.fixed-banner {
        @include fixed();
        z-index: 1;
        top: $headerHeight;
        left: 0;
        width: 100%;
        height: 5em;
        padding: 0 1em;
        background-color: #ffffff;
        @include box-sizing(border-box);
      }

      &.hub-child div.fixed-banner {
        top: $headerHeight + $hubHeaderHeight;
      }
    }
  }

  &.dialog-open {
    overflow: hidden;
  }

  &.sidenav-history-order-shown {
    &, body {
      height: 100%;
    }

    section.main {
      //height: auto;
      //min-height: 100%;

      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 10;
        background-color: rgba(0, 0, 0, 0.5);
      }
    }
  }

  //a class added by sp-in-view-watcher
  .sp-not-in-view {
    overflow: hidden;
    opacity: 0;
  }
}

html > body > nagishli#NagishLiTag * {
  &:focus {
    outline: 3px #000000 double !important;
    border: 2px #ffffff solid !important;
    outline-offset: -3px;
    -moz-outline-radius: 5px;
    border-radius: 5px;
  }
}

nagishli#NagishLiTag {
  > div#NagishLiBar {
    > div#NagishLiBarStrip {
      width: 51px !important;
      height: 51px !important;
      box-shadow: none !important;
      background: url('https://d226b0iufwcjmj.cloudfront.net/nagishli/nl-files/accessibility_2.png') !important;

      > #NagishLiLogo {
        margin-left: -5px !important;
        display: none !important;
        visibility: hidden !important;
      }

      > #NagishLiTitle, > #NagishLiMove {
        display: none !important;
        visibility: hidden !important;
      }
    }

    > #NagishLiMenus {
      > li:nth-child(2),
      > li:nth-child(4),
      > li:nth-child(6),
      #NagishLiInfo > li:not(:nth-child(5)),
      #NagishLiColors > li:nth-child(3),
      #NagishLiColors > li:nth-child(4),
      #NagishLiColors > li:nth-child(5),
      #NagishLiHighlight > li:nth-child(2),
      #NagishLiMisc > li {
        display: none;
        visibility: hidden !important;
      }
    }
  }
}

section.view {
  display: block;
  position: relative;
  height: 100%;
  padding-top: $navigationBarHeight;
  @include box-sizing(border-box);

  > div[ng-view] {
    width: 100%;
    height: 100%;
  }
}

.home section.view {
  margin-right: 0;
}

/* Global */
.wait {
  cursor: wait;
}

.clickable {
  cursor: pointer;
  @include user-select(none);
}

.for-vertical-align {
  height: 100% !important;
  width: 0 !important;
  vertical-align: middle !important;
  display: inline-block !important;
  float: none !important;
}

.ltr {
  direction: ltr;
}

.angular-google-map-container {
  height: 400px;
}

.classic-square {
  /*@include box-shadow(0 0 10px -2px #CCCCCC);*/
  background-color: #FFFFFF;
  border: 1px solid #ADADAD;
  @include border-radius(0.313em);
}

.rtl {
  direction: rtl;
  .classic-square > .line {
    float: right;
  }
}

.clear {
  clear: both;
  width: 100%;
  height: 0;
}

hr {
  border: 0 solid #aaaaaa;
  border-top-width: 1px;
}

.default-text-align {
  text-align: left;
}

.rtl .default-text-align {
  text-align: right;
}

.default-text-align-important {
  text-align: left !important;
}

.rtl .default-text-align-important {
  text-align: right !important;
}

.reverse-text-align {
  text-align: right;

  &.flex-column {
    display: flex;
    flex-direction: column;
  }
}

.rtl .reverse-text-align {
  text-align: left;

  &.flex-column {
    display: flex;
    flex-direction: column;
  }
}

.text-align-center {
  text-align: center;
}

.left {
  float: left;
}

.right {
  float: right;
}

.bold {
  font-weight: bold;
}

.rtl {
  .left {
    float: right;
  }

  .right {
    float: left;
  }
}

.middle {
  display: inline-block;
  vertical-align: middle;
}

@for $i from 1 to 7 {
  h#{$i} {
    font-weight: 400;
    font-size: #{(0.725 + (6 - $i) * 0.48)}em;
    padding: 1em 0;
    margin: 0;
  }
}

sp-table table tr {
  td, th {
    text-align: left;
  }
}

.rtl sp-table table tr {
  td, th {
    text-align: right;
  }
}

sp-table table tr {
  td, th {
    &.product-details {
      @media screen and (max-width: 1750px) {
        min-width: 9em !important;
      }
      
      @media screen and (max-width: 1575px) {
        min-width: 7em !important;
      }
      
      @media screen and (max-width: 1400px) {
        min-width: 5em !important;
      }
    }

    &.new-promotion {
      width: 16em;
      min-width: 16em;
      max-width: 16em;
      padding: 0 1em;
      position: relative;
      cursor: pointer;

      @media screen and (max-width: 1575px) {
        width: auto;
        min-width: auto;
      }
    }

    &.new-promotion-hide {
      display: none;
    }

    > .sp-promotion > .promotion-tooltip {
      top: 0;
      left: 1em;
      right: 1em;
    }
  }
}

.error-message {
  color: #d44949;
  white-space: nowrap;
  padding-bottom: 0.5em;

  > * {
    display: inline-block;
    vertical-align: middle;
  }

  > img {
    width: 2em;
    height: auto;
    padding: 0 0.3em;
  }

  .text {
    font-size: 0.86em;
    font-weight: bold;
    line-height: 1.2em;
  }
}

//Visible only to screen-reader
.sr-only-element {
  border: 0;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

@media screen and (max-width: 1366px) {
  .dialog-wrapper .dialog {
    font-size: 0.9em;
  }
}

@media screen and (max-width: 1300px) {
  html {
    section.main {
      padding-top: $headerResponsiveHeight;
    }

    &.hub-child section.main {
      padding-top: $headerResponsiveHeight + $hubHeaderHeight;
    }

    &.ltr, &.rtl {
      &.checkout, &.finish {
        section.view div.fixed-banner {
          top: $headerResponsiveHeight;
        }

        &.hub-child section.view div.fixed-banner {
          top: $headerResponsiveHeight + $hubHeaderHeight;
        }
      }
    }
  }
}

@media screen and (max-width: 1575px) {
  .dialog-wrapper .dialog {
    .dialog-body {
      font-size: 1.05em;
    }
  }
}

@media screen and (max-height: 1080px) {
  html{
    &.ltr, &.rtl {
      &.user-edit, &.retailer-details {
        section.view {
          padding-top: 2.1em;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  html{
    &.ltr {
      section.view {
        margin-right: $responsiveSidenavWidth + 1em;
      }
    }
    &.rtl {
      section.view {
        margin-left: $responsiveSidenavWidth + 1em;
      }
    }
  }
}
