.default-font {
  font-family: $defaultFontFamily;
}

.secondary-font {
  font-family: $secondaryFontFamily;
}

.secondary {
  color: $secondaryColor;
}

.bg-secondary {
  background-color: $secondaryColor;
}

.highlight {
  color: $highlightColor;
}

.bg-highlight {
  background-color: $highlightColor;
}

.main-color {
  color: $mainColor;
}

.bg-main-color {
  background-color: $mainColor;
}

img.main-color {
  background-color: $mainColor;
}

@for $i from 1 to 7 {
  h#{$i} {
    font-family: $secondaryFontFamily;
    color: $mainColor;
  }
}