<div class="dialog-content sell-date-dialog">
  <div class="lines">
    <div class="line">
      <h5>{{::'Please notice, the following products are not available on this chosen time.' | translate }}</h5>
      <span>
        {{::'If you continue, they will be removed from your cart.' | translate }}
      </span>
      <div class="carousel-wrapper">
<!--        <sp-carousel-->
<!--          template-url="template/dialogs/product/partials/product-carousel/index.html"-->
<!--          items="displayLines"-->
<!--          item-width="180"-->
<!--          class="new-promotion"-->
<!--          rows="{default:1}"-->
<!--          shown-size="::3"-->
<!--          data="data"-->
<!--        >-->
<!--        </sp-carousel>-->
        <sp-carousel
                template-url="template/dialogs/sell-date/product.html"
                items="displayLines"
                item-width="180"
                class="new-promotion"
                rows="{default:1}"
                shown-size="::3"
                data="data"
        >
        </sp-carousel>
      </div>
    </div>
  </div>
  <div class="total-bill">
    <span class="new-cart-estimate">
      <span>
        {{('Price of Updated Cart (Est.)' | translate) + ' ' +
        (totalPriceUpdate | currency)}}
      </span>
    </span>
  </div>
  <div class="dialog-footer">
    <button ng-if="displayChoosenDateButton" class="change-date-button" ng-click="$dialog.hide(false);">
      {{'Change chosen time' | translate}}
    </button>
    <button class="apply-button right" ng-click="$dialog.hide(true);">
      {{'Ok, continue' | translate}}
    </button>
  </div>
</div>
