<div
    ng-init="line = chunk[0]; product=line.product"
    class="sell-date-dialog-wrapper"
>
    <sp-unit-weight product="product" cart-line="line" ng-if="product.productDisplayModeId === $root.PRODUCT_DISPLAY.WEIGHT_AND_UNIT.id && $root.config.retailer.enableSwitchUnitWeight && $root.util.isUnitsWeighable(product)" ng-click="$event.stopPropagation();" product-id="product.id"></sp-unit-weight>
    <sp-sale-icon ng-if="!!productSpecials && !!productSpecials.length && !hideSales && $root.config.retailer.settings.isNewPromotionDesignEnabled !== 'true'" product-specials="productSpecials" product="product"></sp-sale-icon>
    <img class="product-main-tag-icon" ng-if="product | productMainTag:(boostProductTags || $root.PermanentFilters.values[$root.PermanentFilters.TYPES.PRODUCT_TAGS])"
         ng-src="{{(product | productMainTag:(boostProductTags || $root.PermanentFilters.values[$root.PermanentFilters.TYPES.PRODUCT_TAGS])).languages | name:'iconResourceUrl'}}"
         alt="{{(product | productMainTag:(boostProductTags || $root.PermanentFilters.values[$root.PermanentFilters.TYPES.PRODUCT_TAGS])).languages | name:'displayName'}}"/>
    <product-image show-replacement-label="product.showReplacementLabel" product="product" line="line" image-key="images" size="{{size || 'medium'}}" details="true" is-product-out-of-stock="{{ product.branch.isOutOfStock }}"></product-image>
    <div class="data">
        <span class="brand" ng-if="product.brand.names">{{product.brand.names | name | trustHtml}}</span><!--
    --><span class="weight" ng-if="product.weight">
        {{product.brand.names && product.weight ? '&nbsp;|' : '' }}
        {{product | productWeight:product.isCaseMode }}
    </span>
    </div>
    <div class="clear"></div>
    <div id="{{'product_' + product.id + '_name'}}" class="name" aria-label="{{product | productName:product.isCaseMode}}" title="{{product | productName:product.isCaseMode}}">
        <span>{{product | productName:product.isCaseMode}}</span>
    </div>
    <div class="product-price" ng-class="{'width': line.quantity, 'disabled': product.branch.isOutOfStock == true}">
        <span class="for-vertical-align"></span><!--
    --><sp-product-price
            regular-price="product | regularPrice:product.isCaseMode"
            sale-price="!product.isCaseMode && (product | salePrice)"
            show-weight-unit="product.isWeighable && !product.isCaseMode"
            pack-quantity="isPack && product.branch.packQuantity"
            product="product">
    </sp-product-price>
    </div>
</div>
