html.checkout .dialog-wrapper .dialog.cart-summary-dialog-new {
  .close-dialog-corner-button {
    scale: 0.8;
    top: 0.5em;
    right: 0.5em
  }

  .dialog-body {
    overflow: auto;
    max-width: 90%;
    max-height: 37em;
    width: 44em;
    height: fit-content;
    padding-top: 1em;
  }

  .carousel-wrapper {
    .new-promotion {
      height: 19em;
      padding-top: 1em;

      .special-item {
        border: none;

        .show-on-hover {
          opacity: 0;
        }
      }

      .coupon {
        background: unset;
        opacity: unset;
      }
    }
  }

  .dialog-content, .notice-sale-date-new {

    .sell-date-dialog {

      .new-promotion{
        height: 15em;
      }

      &-wrapper {
        position: relative;
        height: 15em;

        .data {
          margin-top: 10px;
          font-size: .7em;
          color: #9d9d9d;
          white-space: nowrap;
          height: 1.1em;
        }

        .name {
          height: 2.5em;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: initial;
          padding: .3em 0;
          font-size: .9em;
          color: #636363;
          vertical-align: top;
          line-height: 1.1em;
        }
      }

    }

    .lines {
      width: 98%;
      .line {
        padding: 8px 0;
        > h5 {
          padding: 0;
          margin-bottom: 8px;
          font-size: 20px;
          font-weight: 600;
          line-height: 30px;
          color: #505050;
        }
        > span {
          font-size: 16px;
          color: #787878;
        }
      }
      .regular-price {
        color: #787878;
        font-size: 0.8em;
      }
    }
    .total-bill {
      .new-cart-estimate {
        font-size: 1.3em;
        line-height: 3em;
  
        > span {
          text-transform: capitalize;
        }
  
        > span:after {
          display: inline;
          content: ',';
        }
  
        > span:last-child:after {
          content: '';
        }
      }
    }
    .dialog-footer {
      .change-date-button {
        padding: 0 1.5em;
        font-size: 1.2em;
        width: max-content;
        min-width: 15em;
        line-height: 2.2em;
        color: #787878;
        font-weight: bold;
        border: 1px solid #787878;
        border-radius: 0;
        background-color: #ffffff;
        text-transform: uppercase;
      }
      .apply-button {
        border-radius: 0;
        line-height: 2.2em;
        padding: 0 1.5em;
        font-size: 1.2em;
        text-transform: uppercase;
        margin-right: 10px;
      }
    }
  }

  .dialog-footer {
    .change-date-button {
      padding: 0 1.5em;
      font-size: 1.2em;
      width: max-content;
      min-width: 15em;
      line-height: 2.2em;
      color: #787878;
      font-weight: bold;
      border: 1px solid #787878;
      border-radius: 0;
      background-color: #ffffff;
      text-transform: uppercase;
      margin-right: 10px;
    }

    .apply-button {
      border-radius: 0;
      line-height: 2.2em;
      padding: 0 1.5em;
      font-size: 1.2em;
      text-transform: uppercase;
    }
  }
}


@media screen and (max-width: 1300px) {
  html.checkout .dialog-wrapper .dialog.cart-summary-dialog-new {
    font-size: 0.86em;

    .list-wrapper {
      height: 70%;
    }
  }
}

