<div ng-if="loyaltyCtrl.isMultiLoyalty && !loyaltyCtrl.loyaltyClubDriver" class="multi-loyalties">
    <h1 class="title">
        {{'Not a club member yet? Join and save' | translate}}!
    </h1>
    <h2 class="sub-title">
        {{'Club membership gives you unique benefits, discounts and promotions' | translate}}<br/>
        {{'Choose to which club you want to join/sign up' | translate}}
    </h2>

    <div class="drivers-wrapper">
        <div ng-repeat="driver in $root.config.retailer.loyaltyClubDrivers" class="driver"
             ng-click="!loyaltyCtrl.userClubsByDriversObject[driver.loyaltyClubDriverId] && !loyaltyCtrl.userClubsByDriversObject[driver.loyaltyClubDriverId].loyaltyCardId ? loyaltyCtrl.selectDriver(driver) : ''">
            <img ng-src="{{(driver.clientConfig && driver.clientConfig.banners && driver.clientConfig.banners.loyaltyClubPicture) || 'https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/loyalty-club-default-pic.png'}}">
            <div class="text-wrapper">
                <div class="text">
                    <div class="name">{{driver.name || $root.config.retailer.title}}</div>
                    <div class="description"
                         ng-if="!loyaltyCtrl.userClubsByDriversObject[driver.loyaltyClubDriverId] && !loyaltyCtrl.userClubsByDriversObject[driver.loyaltyClubDriverId].loyaltyCardId">
                        {{driver.clientConfig && driver.clientConfig.promotionSentence}}
                    </div>
                    <div class="description"
                         ng-if="!!loyaltyCtrl.userClubsByDriversObject[driver.loyaltyClubDriverId] && !!loyaltyCtrl.userClubsByDriversObject[driver.loyaltyClubDriverId].loyaltyCardId">
                        {{loyaltyCtrl.user.firstName + ' ' + loyaltyCtrl.user.lastName + ', ' +
                        loyaltyCtrl.user.phonesObj['3'].phoneNumber}}
                    </div>
                    <div class="description"
                         ng-if="!!loyaltyCtrl.userClubsByDriversObject[driver.loyaltyClubDriverId] && loyaltyCtrl.userClubsByDriversObject[driver.loyaltyClubDriverId].loyaltyClubExpiration"
                         ng-class="{'is-expired': loyaltyCtrl.userClubsByDriversObject[driver.loyaltyClubDriverId].isExpired}">
                        {{('Validity' | translate) + ': ' +
                        (loyaltyCtrl.userClubsByDriversObject[driver.loyaltyClubDriverId].loyaltyClubExpiration | date:
                        ($root.isUs ? 'MM/dd/yyyy' : 'dd/MM/yyyy'):'UTC')
                        + (loyaltyCtrl.userClubsByDriversObject[driver.loyaltyClubDriverId].isExpired ? (' ' +
                        ('Expired' | translate)) : '')}}
                    </div>
                </div>
                <div class="connect-btn"
                     ng-if="!loyaltyCtrl.userClubsByDriversObject[driver.loyaltyClubDriverId] && !loyaltyCtrl.userClubsByDriversObject[driver.loyaltyClubDriverId].loyaltyCardId">
                    {{'Connect' | translate}} >
                </div>
                <div class="card-num"
                     ng-if="!!loyaltyCtrl.userClubsByDriversObject[driver.loyaltyClubDriverId] && !!loyaltyCtrl.userClubsByDriversObject[driver.loyaltyClubDriverId].loyaltyCardId"
                     ng-class="{'is-expired': loyaltyCtrl.userClubsByDriversObject[driver.loyaltyClubDriverId].isExpired}">
                    <div class="icon">
                        <svg focusable="false">
                            <use xlink:href="#sp-icons-white-v"></use>
                        </svg>
                        <span>{{'logged' | translate}}</span>
                    </div>
                    <div class="num">{{('no.' | translate) + ' ' +
                        loyaltyCtrl.userClubsByDriversObject[driver.loyaltyClubDriverId].loyaltyCardId}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="continue-btn-wrapper">
        <button class="no-design" ng-click="loyaltyCtrl.hide()">
            {{(loyaltyCtrl.user.loyaltyClubs && loyaltyCtrl.user.loyaltyClubs.length ? 'loyalty_club_continue' :
            'Continue without a club') | translate}}
        </button>
    </div>
</div>

<div ng-if="!!loyaltyCtrl.loyaltyClubDriver" class="driver-form">
    <button class="no-design back-button" ng-if="loyaltyCtrl.isMultiLoyalty" ng-click="loyaltyCtrl.resetDrivers()">
        <span class="text"> {{'Back' | translate}} </span> <span>{{' >'}}</span>
    </button>

    <h1 id="loyalty_dialog_title"
        ng-bind-html="loyaltyCtrl.loyaltyClubDriver.clientConfig.text.joinOrConnectMainTitle ||
            (loyaltyCtrl.isMultiLoyalty ? (loyaltyCtrl.loyaltyClubDriver.name || $root.config.retailer.title) :
            ((loyaltyCtrl.loyaltyClubDriver.clientConfig.isRegisterToClubObligation ? 'To complete your purchase, join/connect to {clubName} membership account' : 'Connect your {clubName} membership account' | translate)
            .replace('{clubName}', loyaltyCtrl.loyaltyClubDriver.name || $root.config.retailer.title)))"></h1>

    <h2 ng-hide="loyaltyCtrl.alertRegisterIfCartAboveValue || loyaltyCtrl.loyaltyClubDriver.clientConfig.text.joinOrConnectSubtitle || loyaltyCtrl.isMultiLoyalty">
        {{('{retailername} membership offers exclusive' | translate).replace('{retailername}',
        $root.config.retailer.title)}}<br/>
        {{::'promotions in-store and online' | translate}}
    </h2>
    <h2 ng-hide="loyaltyCtrl.alertRegisterIfCartAboveValue || loyaltyCtrl.loyaltyClubDriver.clientConfig.text.joinOrConnectSubtitle || !loyaltyCtrl.isMultiLoyalty">
        {{'Log in with your club member or Sign up and receive unique benefits' | translate}}
    </h2>
    <h2 ng-show="loyaltyCtrl.loyaltyClubDriver.clientConfig.text.joinOrConnectSubtitle && !loyaltyCtrl.alertRegisterIfCartAboveValue"
        ng-bind-html="loyaltyCtrl.loyaltyClubDriver.clientConfig.text.joinOrConnectSubtitle">
    </h2>

    <h2 class="bold" ng-show="loyaltyCtrl.alertRegisterIfCartAboveValue">
        {{ 'Loyalty club member' | translate}}?
    </h2>
    <h1 class="bold" ng-show="loyaltyCtrl.alertRegisterIfCartAboveValue">
        {{('save_1' | translate) + ' ' + $root.config.retailer.currencySymbol +
        (loyaltyCtrl.alertRegisterIfCartAboveValue | number:2) + ' ' + ('in this purchase' | translate)}}
    </h1>

    <div class="form"
         ng-if="!loyaltyCtrl.connected && loyaltyCtrl.loyaltyClubDriver.loyaltyClubDriverId !== $root.LOYALTY_CLUB_DRIVERS.ISRACARD && loyaltyCtrl.loyaltyClubDriver.loyaltyClubDriverId !== $root.LOYALTY_CLUB_DRIVERS.MAX"
         ng-controller="LoyaltyPrutahCtrl">

        <div class="content">
            <div class="fields-wrapper"
                 ng-class="::({'with-register': (!(loyaltyCtrl.loyaltyClubDriver.isLookupOnly || loyaltyCtrl.loyaltyClubDriver.isRegisterOnly) && (!loyaltyCtrl.connectClubActive && !loyaltyCtrl.joinClubActive))})">
                <form ng-if="(!loyaltyCtrl.loyaltyClubDriver.isRegisterOnly && (!loyaltyCtrl.connectClubActive && !loyaltyCtrl.joinClubActive)) || loyaltyCtrl.connectClubActive"
                      id="membershipLookupForm" name="membershipLookupForm"
                      ng-submit="loyaltyCtrl.lookupMembership(membershipLookupForm, $event);"
                      novalidate>
                    <div class="lookup-fields">
                        <h5 class="bold">{{::'Existing Member' | translate}}</h5>

                        <h6 ng-bind-html="loyaltyCtrl.loyaltyClubDriver.clientConfig.text.connectClubText || ('Join our membership and enjoy exclusive benefits and promotions' | translate)"></h6>

                        <div class="form-required-fields">{{'Required fields are marked with *' | translate}}</div>

                        <div ng-repeat="field in loyaltyCtrl.lookupFields">
                            <input ng-if="field.type"
                                   type="{{field.key === 'Email' ? 'email' : field.type}}"
                                   ng-model="loyaltyCtrl.lookupData[field.key]"
                                   name="{{field.key}}" sp-inline-error
                                   placeholder="{{(field.name | translate) + (field.required? ' *' : '')}}"
                                   ng-required="field.required && !loyaltyCtrl.registerHasData"
                                   ng-maxlength="field.maxLength"
                                   ng-change="loyaltyCtrl.onDataChange('lookup')"
                                   ng-focus="loyaltyCtrl.setFocus('lookup')"
                                   ng-pattern="field.key === 'personalId' ? '[0-9]+' : ''"
                                   ng-keydown="loyaltyCtrl.clearData('register')"/>
                            <select ng-if="field.options" ng-model="loyaltyCtrl.lookupData[field.key]"
                                    name="{{field.key}}" sp-inline-error
                                    placeholder="{{field.name | translate}}"
                                    ng-required="field.required && !loyaltyCtrl.registerHasData"
                                    ng-change="loyaltyCtrl.onDataChange('lookup')"
                                    ng-focus="loyaltyCtrl.setFocus('lookup')"
                                    ng-options="option as (option | translate) for option in field.options"
                                    ng-keydown="loyaltyCtrl.clearData('register')">
                            </select>
                            <label ng-if="field.type === 'checkbox'">{{(field.name | translate) + (field.required? ' *'
                                : '')}}</label>
                        </div>

                        <sp-captcha is-invalid="loyaltyCtrl.captchaIsInvalid"></sp-captcha>
                        <button type="button"
                                ng-click="loyaltyCtrl.lookupMembership(membershipLookupForm, $event)"
                                class="register-btn block"
                                ng-class="({'only-register-or-connect': (loyaltyCtrl.joinClubActive || loyaltyCtrl.connectClubActive)})">
                            {{(loyaltyCtrl.loyaltyClubDriver.clientConfig.connectClub &&
                            loyaltyCtrl.loyaltyClubDriver.clientConfig.connectClub[$root.config.language.id]) ||
                            'Connect to club' | translate}}
                        </button>
                    </div>
                </form>
                <form id="membershipRegisterForm" name="membershipRegisterForm"
                      ng-submit="loyaltyCtrl.registerMembership(membershipRegisterForm, $event);"
                      novalidate>
                    <div class="register-fields"
                         ng-if="(!loyaltyCtrl.loyaltyClubDriver.isLookupOnly && (!loyaltyCtrl.connectClubActive && !loyaltyCtrl.joinClubActive)) || loyaltyCtrl.joinClubActive">
                        <h5 class="bold">{{::'New Member' | translate}}</h5>

                        <h6 ng-bind-html="loyaltyCtrl.loyaltyClubDriver.clientConfig.text.registerClubText || ('Join our membership and enjoy exclusive benefits and promotions' | translate)">
                        </h6>

                        <div class="form-required-fields">{{'Required fields are marked with *' | translate}}</div>

                        <div ng-repeat="field in loyaltyCtrl.registerFields">
                            <input ng-if="field.type"
                                   type="{{field.key === 'Email' ? 'email' : field.type}}"
                                   ng-model="loyaltyCtrl.registerData[field.key]"
                                   name="{{field.key}}" sp-inline-error
                                   ng-pattern="field.key === 'personalId' ? '[0-9]+' : ''"
                                   placeholder="{{(field.name | translate) + (field.required? ' *' : '')}}"
                                   ng-required="field.required && !loyaltyCtrl.lookupHasData"
                                   ng-maxlength="field.maxLength"
                                   ng-change="loyaltyCtrl.onDataChange('register')"
                                   ng-focus="loyaltyCtrl.setFocus('register')"
                                   ng-keydown="loyaltyCtrl.clearData('lookup')"/>
                            <select ng-if="field.options" ng-model="loyaltyCtrl.registerData[field.key]"
                                    name="{{field.key}}" sp-inline-error
                                    placeholder="{{field.name | translate}}"
                                    ng-required="field.required && !loyaltyCtrl.lookupHasData"
                                    ng-change="loyaltyCtrl.onDataChange('register')"
                                    ng-focus="loyaltyCtrl.setFocus('lookup')"
                                    ng-keydown="loyaltyCtrl.clearData('lookup')"
                                    ng-options="option as (option | translate) for option in field.options">
                            </select>
                        </div>

                        <button type="button"
                                ng-click="loyaltyCtrl.registerMembership(membershipRegisterForm, $event)"
                                class="register-btn block"
                                ng-class="({'only-register-or-connect': (loyaltyCtrl.joinClubActive || loyaltyCtrl.connectClubActive)})">
                            {{(loyaltyCtrl.loyaltyClubDriver.clientConfig.joinClub &&
                            loyaltyCtrl.loyaltyClubDriver.clientConfig.joinClub[$root.config.language.id]) || 'Join our membership club' |
                            translate}}
                        </button>
                    </div>
                </form>
            </div>

            <div class="error-message" aria-hidden="false" ng-if="loyaltyCtrl.showError">
                <img src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/login-err-icon.png" alt=""/>
                <span class="text">
                {{::'Sorry' | translate}},<br/>
                <span>
                    {{loyaltyCtrl.lookupHasData ? 'We did not find your membership club account' : 'We are not able to register your membership club account' | translate}}.<br/>
                    {{::'Please make sure your details are correct or try again later' | translate}}.
                </span>
            </span>
            </div>

            <div class="buttons-wrapper">
            <span class="obligation-text" ng-if="loyaltyCtrl.loyaltyClubDriver.clientConfig.isRegisterToClubObligation">
                {{'In order to complete your purchase, you must connect to the loyalty club' | translate}}
            </span>
                <div class="buttons">
                    <!-- <button type="submit" class="block">
                         {{::'Join our membership club' | translate}}
                     </button>-->
                    <button ng-if="!loyaltyCtrl.loyaltyClubDriver.clientConfig.isRegisterToClubObligation" type="button"
                            class="block grey" ng-click="loyaltyCtrl.hide(false);">
                        {{::'Continue without membership' | translate}}
                    </button>
                </div>
            </div>
        </div>
    </div>

    <ng-include src="'template/dialogs/loyalty/credit-card-loyalty-form/index.html'"
                ng-if="!loyaltyCtrl.connected && (loyaltyCtrl.loyaltyClubDriver.loyaltyClubDriverId === $root.LOYALTY_CLUB_DRIVERS.ISRACARD ||
                  loyaltyCtrl.loyaltyClubDriver.loyaltyClubDriverId === $root.LOYALTY_CLUB_DRIVERS.MAX)">
    </ng-include>

    <div tabindex="0" ng-if="loyaltyCtrl.connected" class="connected">
        <span class="for-vertical-align"></span><!--
    -->
        <div>
            <h1 id="connected_title_1">{{::'You\'ve logged in successfully' | translate}}!</h1>
            <h2 id="connected_title_2">{{::'You can now enjoy the club specials' | translate}}</h2>

            <div class="buttons">
                <button type="button" class="block" id="continue_shop_btn" ng-click="loyaltyCtrl.hide(true);"
                        aria-describedby="connected_title_1 connected_title_2">
                    {{::'Continue shopping' | translate}}
                </button>
                <button type="button" class="block no-design back-to-clubs" ng-click="loyaltyCtrl.resetDrivers();">
                    {{::'Back to loyalty clubs' | translate}}
                </button>
            </div>
        </div>
    </div>
</div>
