.dialog.loyalty > .dialog-body {
  width: 48.875em;
  height: 43.563em;
  padding: 2em;

  .multi-loyalties {
    height: 100%;
    text-align: center;
    overflow: auto;

    > .title {
      font-size: 2em;
      line-height: 1.4em;
      text-align: center;
      padding: 0 0 0.4em 0;
    }

    > .sub-title {
      padding: 0 0 1em 0;
      font-size: 1.4em;
      line-height: 1.5em;
      font-weight: normal;
      text-align: center;
      color: #606060;
    }

    > .drivers-wrapper {
      text-align: left;
      padding: 0 2em;
      margin-bottom: 4em;

      > .driver {
        width: 20.2em;
        display: inline-block;
        border: 1px solid #F2F4F7;
        box-sizing: border-box;
        border-radius: 15px;
        margin: 0 0.7em 1.2em 0.7em;
        box-shadow: 3px 3px 17px 0 #c5c5c5b3;
        vertical-align: top;


        > img {
          height: 8.750em;
          width: 100%;
          border-top-left-radius: 15px;
          border-top-right-radius: 15px;
        }

        > .text-wrapper {
          padding: 0.7em;
          height: 4em;
          position: relative;

          .text {
            display: inline-block;
            //width: 17em;
            vertical-align: middle;
            text-align: left;

            .name {
              font-size: 1.2em;
              font-weight: bold;
              line-height: 1.3em;
            }

            .description {
              color: #78797A;
              line-height: 1.4em;

              &.is-expired {
                color: #DA3B39;
                font-weight: bold;
              }
            }
          }

          .connect-btn {
            text-decoration: underline;
            color: #1A395B;
            position: absolute;
            bottom: 0.7em;
            right: 0.7em;
            cursor: pointer;
          }

          .card-num {
            font-size: 0.9em;
            text-align: right;
            position: absolute;
            right: 0.7em;
            top: 0.7em;

            .icon {
              svg {
                width: 1em;
                height: 1em;
              }

              span {
                line-height: 1.5em;
                font-weight: bold;
              }
            }

            .num {
              font-size: 0.9em;
              color: #78797A;
              line-height: 1.1em;
            }

            &.is-expired {
              .icon {
                visibility: hidden;
              }
            }
          }
        }
      }
    }

    .continue-btn-wrapper {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding-top: 1.5em;
      padding-bottom: 1.5em;
      background-color: #ffffffcc;
      box-shadow: 0px -2px 8px #e9e9e9bf;

      button {
        font-size: 1.250em;
        border: 1px solid;
        padding: 0.3em 1em;
        color: #A5A5A6;
        width: 50%;
      }
    }
  }

  .driver-form {
    > h1 {
      font-size: 2em;
      line-height: 1.4em;
      text-align: center;
      padding: 0 3em 0.4em 3em;
    }

    > h2 {
      padding: 0 0 2em 0;
      font-size: 1.4em;
      font-weight: normal;
      text-align: center;
      color: #606060;
    }

    .back-button {
      background: transparent;
      color: #000000;
      position: absolute;
      top: 0;
      left: 0;
      margin: 0.5em;

      .text {
        text-decoration: underline;
      }
    }

    > .form, > form, > div > div {
      > h1 {
        font-size: 2em;
        line-height: 1.4em;
        text-align: center;
        padding: 0 3em 0.4em 3em;
      }

      > h2 {
        padding: 0 0 2em 0;
        font-size: 1.4em;
        font-weight: normal;
        text-align: center;
        color: #606060;
      }

      > div.content {
        width: 100%;
        margin: auto;

        > .buttons-wrapper {
          margin-top: 3em;
          box-sizing: border-box;
          text-align: center;

          > .buttons {
            padding: 0 12em;

            > button {
              margin: 0.5em 0;
            }
          }
        }

        > .fields-wrapper {
          white-space: nowrap;
          position: relative;
          text-align: center;
          padding-bottom: 2em;

          form {
            display: initial;

            > .register-fields, > .lookup-fields {
              display: inline-block;
              vertical-align: top;
              box-sizing: border-box;
              padding: 0 4em;

              > h6 {
                font-size: 1em;
                padding-top: 0;
                white-space: normal;
              }

              > div {
                margin-bottom: 0.5em;

                input, select {
                  &[disabled] {
                    opacity: 0.5;
                  }
                }
              }

              > .form-required-fields {
                text-align: left;
                font-size: 0.8em;
                padding: 0.5em 0;
              }

              .register-btn {
                position: absolute;
                width: 32%;
                bottom: 0;

                &.only-register-or-connect {
                  position: relative;
                  width: fit-content;
                  min-width: 50%;
                  margin: auto;
                }
              }
            }
          }

          &.with-register {
            form {
              > .register-fields, > .lookup-fields {
                width: 49%;
              }
            }

            &:after {
              content: '';
              position: absolute;
              top: 0;
              left: 50%;
              height: 100%;
              width: 1px;
              background-color: #adadad;
            }
          }

          ::-webkit-input-placeholder {
            text-transform: capitalize;
          }

          .register-fields {
            h6 {
              padding-bottom: 0;
            }
          }

          .sp-inline-error {
            width: 6em;
          }
        }

        > .error-message {
          padding: 2em 4em 0 4em;
        }
      }
    }

    > div {
      height: 100%;
      text-align: center;

      > div {
        margin-top: -3em;
        display: inline-block;
        vertical-align: middle;

        > h1 {
          padding-top: 0;
        }

        > .buttons-wrapper {
          > .buttons {
            padding: 0 10em;
          }
        }
      }
    }

    .connected {
      text-align: center;
      margin-top: 12em;

      > div {
        width: 100%;
        .buttons {
          padding-top: 1em;

          button {
            margin: 0 auto 1em auto;
            width: 50%;

            &.no-design {
              padding: 7px;
              border-radius: 3px;
              color: #A5A5A6;
              border: 1px solid;
            }
          }
        }
      }
    }
  }
}

html.rtl {
  .dialog.loyalty > .dialog-body {
    .multi-loyalties > .drivers-wrapper {
      text-align: right;

      > .driver > .text-wrapper {
        .text {
          text-align: right;
        }

        .connect-btn {
          left: 0.7em;
          right: auto;
        }

        .card-num {
          text-align: left;
          left: 0.7em;
          right: auto;
        }
      }
    }
    .driver-form {
      > .form > div.content > .fields-wrapper > form > {
        .lookup-fields, .register-fields {
          > .form-required-fields {
            text-align: right;
          }
        }
      }
    }
  }
}
