<div class="carousel-component-product-item item product" ng-repeat="product in chunk">
    <sp-product product="::product" tabindex="0" class="clickable"
                size="{{::data.isLargeProducts ? 'large' : 'medium'}}"
                show-item-description="::data.isLargeProducts"
                ng-class="::{ 'large-product': data.isLargeProducts, 'contain-image': data.isLargeProducts && product.categoryType !== $root.CATEGORIES_TYPES.LARGE_ITEMS }"
                ng-click="::functions.openCarouselItem(product)">
    </sp-product>
</div>