.home-page-wrapper .sp-carousel {
  .carousel-component-product-item {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: transparent;

    .out-of-stock {
      position: absolute;
      top: 50%;
      height: 2em;
      line-height: 2em;
      padding: 0 0.4em;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      text-align: center;
      margin-top: -0.75em;
      color: #ffffff;
      font-size: 1.25em;
      white-space: nowrap;
      background-color: #F86B2F;
      width: auto;
      left: 50%;
      transform: translateX(-50%);
    }

    > sp-product {
      position: relative;
      box-sizing: border-box;
      display: block;
      width: 100%;
      height: 100%;
      padding: 1.2em 0.5em;
      background-color: #ffffff;
    }
  }

  &.large-products-carousel .carousel-component-product-item {
    padding: 0 0.5em;

    > sp-product {
      padding: 0;
    }
  }
}