<h2>{{'Your voucher details' | translate}}</h2>
<p class="desc">{{'please enter your voucher number' | translate}}</p>
<form class="form" name="innerPaymentform">
    <div>
        <input type="text" name="cardNum" placeholder="{{::'Voucher number' | translate}}" ng-model="innerPaymentCtrl.cardNum" required sp-inline-error/>
    </div>

    <p class="warning-text">{{'If your voucher is a plastic card, please keep it in your possession until receiving your order' | translate}}</p>

    <div class="buttons">
        <button class="cancel grey" ng-click="$dialog.hide(false)" aria-label="cancel" ng-bind="::'Cancel' | translate"></button>
        <button ng-click="innerPaymentCtrl.getCardDetails()" aria-label="Edit Order" ng-bind="::'Confirm' | translate"></button>
    </div>
</form>