.dialog-wrapper > .dialog.enable-close.inner-payment-dialog-dialog {
  > .dialog-body {
    width: 22em;
    box-sizing: border-box;
    padding: 2em;
    min-height: 24em;

    h2 {
      color: #4B4C4D;
      font-size: 1.375em;
      font-weight: 700;
      padding: 0 0 0.3em 0;
      margin: 0;
    }

    .desc {
      color: #1E1F21;
      font-size: 1em;
    }

    .form {
      padding-top: 1.5em;
    }

    .warning-text {
      padding-top: 1em;
      padding-bottom: 1em;
      font-size: 1em;
      color: #4B4C4D;
    }

    .buttons {
      text-align: right;
      position: absolute;
      bottom: 0;
      right: 0;
      padding: 1em;

      button {
        border-radius: 35px;
        padding: 0.2em 1em;
      }

      .cancel {
        background-color: #ffffff;
        color: #78797A;
        margin-right: 0.5em;

      }
    }
  }

}
