<div class="multiple-store-content manual-focus-for-accessibility" tabindex="0">
    <div class="search-results-image">
        <img src="{{chooseAreaCtrl.currentAdvancedAreaAvailabilitySettings.resultsImage[chooseAreaCtrl.currentSearchMessageMode.property] || chooseAreaCtrl.defaultResultsImage}}"
            alt="">
    </div>
    <div class="title-wrapper">
        <h1>{{chooseAreaCtrl.currentAdvancedAreaAvailabilitySettings.resultsPopupTitle[chooseAreaCtrl.currentSearchMessageMode.property] || (chooseAreaCtrl.currentSearchMessageMode.defaultPopupTitle | translate)}}</h1>

        <h2 class="sub-title secondary-font">
            {{chooseAreaCtrl.currentAdvancedAreaAvailabilitySettings.resultsPopupSubTitle[chooseAreaCtrl.currentSearchMessageMode.property] || (chooseAreaCtrl.currentSearchMessageMode.defaultPopupSubTitle | translate)}}
        </h2>
    </div>

    <div class="areas-list">
        <div ng-repeat="foundArea in chooseAreaCtrl.chooseArea.foundAreas | filter:chooseAreaCtrl.filterFoundAreas | orderBy:'-preferredRetailerSort'"
            ng-class="{'last':$last}"
            tabindex="0">
            <div class="icons">
                <div class="store-icon">
                    <img ng-src="{{chooseAreaCtrl.currentAdvancedAreaAvailabilitySettings.storeIcon || chooseAreaCtrl.defaultStoreIcon}}"
                        alt="{{'Branch Logo' | translate}}" />
                </div>
            </div>
            <div class="main-info">

                <span class="limit" ng-if="foundArea.deliveryItemsLimit">
                    {{::('Limited to {deliveryItemsLimit} products' | translate).replace('{deliveryItemsLimit}',
                    foundArea.deliveryItemsLimit)}}
                </span>
                <span class="delivery-within-days" ng-if="chooseAreaCtrl.isShowDeliveryWithinDaysWarning(foundArea)">
                    <span class="limit">
                        {{::('Limited to products marked with "{tagName}" tag only' | translate)
                        .replace('{tagName}', (chooseAreaCtrl.deliveryWithinDaysTag.languages | name:'displayName'))}}
                    </span>
                </span>
                <div class="address" ng-if="foundArea.deliveryTypeId !== $root.SP_SERVICES.DELIVERY_TYPES.PICKUP">
                    {{ foundArea.branch.name + ', ' + foundArea.name}}
                </div>
            </div>
            <button type="button" class="button-choose" ng-click="chooseAreaCtrl.chooseArea.submit(foundArea);"
                aria-label="{{::('Choose' | translate) + ' ' + (foundArea.deliveryTypeId === $root.SP_SERVICES.DELIVERY_TYPES.PICKUP ? chooseAreaCtrl.getBranchLocation(foundArea) : foundArea.branch.name)}}"
                ng-bind=":: 'Choose' | translate"
                ng-style="{'background-color': chooseAreaCtrl.bgColor,'color': chooseAreaCtrl.textColor}"></button>
        </div>
    </div>
</div>