.dialog-wrapper .dialog.choose-area-dialog {
  .dialog-body {
    .multiple-store-content {
      width: 21.5em;
      margin: auto;

      h2 {
        padding: 0.5em 0;
      }

      .search-results-image {
        margin-top: 6.25em;
        margin-bottom: 1.5em;
        img {
          width: 8.5em;
          height: 9em;
        }
      }

      .sub-title {
        font-size: 1.5em;
      }

      .button-choose {
        width: 5em;
        height: 2em;
        border-radius: 10px;
        padding: 0;
      }

      .areas-list {
        max-height: 19em;
        margin-top: 1.5em;
        >div{
          height: 5em;
        }

        .last{
          border-color: transparent;
        }
      }
    }

  }
}