[special-description-split] {
  > .special-description-title {
    display: block;
    max-height: 2.2em;
    overflow: hidden;

    &.has-description {
      height: 1.2em;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &.with-ellipsis {
      height: 2.2em;
    }
  }

  > .special-description-content {
    display: block;
    height: 1.2em;
    font-weight: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}