<div class="sp-carousel"><!--
--><div class="action previous" ng-hide="shouldHideNavigation">
    <span class="for-vertical-align"></span><!--
    --><button type="button" class="no-design" ng-click="previous()" ng-class="{ disabled: isStart }"
               aria-label="{{'the previous items' | translate}}" tabindex="-1">
        <span class="for-vertical-align"></span><!--
        --><svg focusable="false">
            <use xlink:href="#sp-icons-arrow-left"></use>
        </svg>
        <!--<img ng-src="{{config.language.direction == 'rtl' ? 'https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/arrow_right.png' : 'https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/arrow_left.png'}}"-->
             <!--alt="{{config.language.direction == 'rtl' ? 'right' : 'left' | translate}}"/>-->
    </button>
</div><!--
--><div class="items">
    <div class="scroller">
        <div class="transform-wrapper">
            <ng-include src="templateUrl" ng-repeat="chunk in chunks" class="item {{itemClass}}"
                    ng-style="{width:itemActualWidth}" ng-click="!!spClick ? spClick(chunk) : null" tabindex="-1"
             role="{{!!spClick ? 'button': ''}}"></ng-include>
        </div>
    </div>
</div><!--
--><div class="action next" ng-hide="shouldHideNavigation">
    <div class="loading-wrapper" ng-hide="!isLoadingItems">
        <span class="for-vertical-align"></span><!--
        --><img src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/loading.gif" alt="{{'loading' | translate}}"/>
    </div>
    <span class="for-vertical-align"></span><!--
    --><button type="button" class="no-design" ng-click="next()" ng-hide="isLoadingItems" ng-class="{ disabled: isEnd }"
               aria-label="{{'the next items' | translate}}" ng-disabled="isEnd" tabindex="-1">
        <span class="for-vertical-align"></span><!--
        --><svg focusable="false">
            <use xlink:href="#sp-icons-arrow-left"></use>
        </svg>
        <!--<img ng-src="{{config.language.direction != 'rtl' ? 'https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/arrow_right.png' : 'https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/arrow_left.png'}}"
             alt="{{config.language.direction != 'rtl' ? 'right' : 'left' | translate}}"/>-->
    </button>
</div><!--
--></div>