.sp-carousel {
  position: relative;
  width: 100%;
  height: 100%;

  $spCarouselActionDistance: 0.3em;
  $spCarouselActionWidth: 2em + $spCarouselActionDistance;

  > {
    .items {
      margin: 0 $spCarouselActionWidth;
      height: 100%;

      > .scroller {
        margin: 0 auto;
        overflow: hidden;
        height: 100%;

        .ltr & {
          text-align: left;
        }
        .rtl & {
          text-align: right;
        }

        > .transform-wrapper {
          white-space: nowrap;
          height: 100%;
          margin: 0;
          transition: transform 600ms;
          -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
        }
      }

      ng-include {
        height: 100%;
        display: inline-block;
        @include box-sizing(border-box);
        white-space: normal;
        overflow: hidden;
        vertical-align: top;
        outline: 0;

        .ltr & {
          padding-right: 1em;
        }
        .rtl & {
          padding-left: 1em;
        }
      }
    }

    .action {
      $spCarouselActionHeight: 4em;
      position: absolute;
      overflow: hidden;
      height: $spCarouselActionHeight;
      width: $spCarouselActionWidth;
      box-sizing: border-box;
      top: 50%;
      margin-top: $spCarouselActionHeight / -2;

      &.previous {
        .ltr & {
          left: 0;
          padding-right: $spCarouselActionDistance;
        }

        .rtl & {
          right: 0;
          padding-left: $spCarouselActionDistance;

          button > svg {
            transform: scale(-1);
          }
        }
      }

      &.next {
        .ltr & {
          right: 0;
          padding-left: $spCarouselActionDistance;

          button > svg {
            transform: scale(-1);
          }
        }

        .rtl & {
          left: 0;
          padding-right: $spCarouselActionDistance;
        }

        .loading-wrapper {
          width: 100%;
          height: 100%;
        }
      }

      button {
        width: 100%;
        height: 100%;
        background-color: #ffffff;
        color: #aaaaaa;
        font-size: 1.8em;
        border: 1px solid #9D9D9D;
        box-sizing: border-box;
        border-radius: 3px;

        &.disabled {
          cursor: default;
          opacity: 0.4;
        }

        > svg {
          width: 32%;
          height: 32%;
          fill: #6f6f6f;
          display: inline-block;
          vertical-align: middle;
        }
      }
    }
  }
}