<div class="content">
	<div ng-if="cookieWallCtrl.isMainView">
		<h1 id="cookie_wall_dialog_title" class="title"
			ng-bind="::'We use cookies to improve your experience' | translate"></h1>

		<div class="description"
			 ng-bind="::'We use cookies or other trackers to facilitate the use of the site, improve the performance and security of the site, personalize the content offered, including personalized advertising content, and compile traffic and navigation statistics. Some cookies, other than functional and security cookies, require your consent to be placed.' | translate">
		</div>
		<div class="buttons">
			<button ng-click="cookieWallCtrl.acceptAll()" ng-bind="::'Accept all cookies' | translate"></button>
			<button ng-click="cookieWallCtrl.configure()" ng-bind="::'Setup my cookies' | translate"></button>
		</div>
	</div>
	<div ng-if="!cookieWallCtrl.isMainView">
		<h1 class="title" ng-bind="::'Managing cookies' | translate"></h1>
		<h2 class="subtitle"
			ng-bind="::'These cookies allow you to benefit from the services offered by the site, to optimize its use and personalization (in particular personalization of offers and advertisements) depending on your profile.' | translate"></h2>

		<div class="switch">
			<sp-checkbox class="md-primary" aria-label="Marketing" sp-model="cookieWallCtrl.cookies.marketing">
				{{'Marketing' | translate}}
			</sp-checkbox>
			<div class="desc"
				 ng-bind="'Marketing cookies are used to improve the relevance of the ads you see and to make sure that you do not see the same ad multiple times.' | translate"></div>
		</div>

		<div class="switch">
			<sp-checkbox class="md-primary" aria-label="Additional features"
						 sp-model="cookieWallCtrl.cookies.additionalFeatures">
				{{'Additional features' | translate}}
			</sp-checkbox>
			<div class="desc"
				 ng-bind="'These cookies make it possible to activate additional features on the site, for example to facilitate your purchases.' | translate"></div>
		</div>

		<div class="switch">
			<sp-checkbox class="md-primary" aria-label="Audience measurement"
						 sp-model="cookieWallCtrl.cookies.audienceMeasurement">
				{{'Audience measurement' | translate}}
			</sp-checkbox>
			<div class="desc"
				 ng-bind="'These cookies allow us to obtain navigation statistics on our site. We use this data to identify possible malfunctions of the site, to improve the site, for marketing purposes, and in order to personalize your experience on the site.' | translate"></div>
		</div>

		<div class="switch">
			<sp-checkbox class="md-primary" aria-label="Google analytics"
						 sp-model="cookieWallCtrl.cookies.googleAnalytics">
				{{'Google analytics' | translate}}
			</sp-checkbox>
			<div class="desc"
				 ng-bind="'These cookies allow us to obtain statistics on the number of visits to our site (e.g., number of visits, most viewed pages, etc.). We use this data to understand our users better, check the performance of our content, get insights, and identify possible malfunctions of the site to make improvements.' | translate"></div>
		</div>

		<div class="switch">
			<sp-checkbox class="md-primary" aria-label="Functional" sp-model="cookieWallCtrl.true"
						 sp-disabled="true">
				{{'Functional (not configurable)' | translate}}
			</sp-checkbox>
			<div class="desc"
				 ng-bind="'These cookies allow you to remember your choices and preferences on your account and to provide features that facilitate the use of the site. They are essential for the proper functioning of the site and are strictly necessary for the provision of a service that you have expressly requested.' | translate"></div>
		</div>
		<div class="buttons">
			<button ng-click="cookieWallCtrl.acceptAll()" ng-bind="::'Accept all cookies' | translate"></button>
			<button ng-click="cookieWallCtrl.accept()" ng-bind="::'Accept' | translate"></button>
		</div>
	</div>
</div>