.dialog-wrapper .dialog.cookie-wall .dialog-body {
  overflow: visible;
  vertical-align: bottom;
  max-width: 90%;

  .content {
    padding: 0 1em;

    h1.title {
      font-size: 1.5em;
      padding: 0 0 0.5em 0;
      line-height: 1.5em;
      font-weight: bold;
    }

    h2.subtitle {
      font-size: 1.15em;
      padding: 0 0 0.5em 0;
      line-height: 1.3em;
      font-weight: bold;
    }

    div.description {
      line-height: 1.3em;
    }

    button {
      width: 12em;
      padding: 0.5em;
      font-weight: 600;
      margin: 0.5em;
      float: right;

      .rtl & {
        float: left;
      }
    }
    .switch {
      padding-bottom: 1em;

      .label {
        color: #000000;
        line-height: 1.2em;
        font-weight: bold;
      }

      .desc {
        margin-left: 1.6em;
        line-height: 1.5em;

        .rtl & {
          margin-left: auto;
          margin-right: 1.6em;
        }
      }

    }

  }

}