<p class="additional-text">{{registerCtrl.additionalText}}</p>
<form sp-form-accessibility class="form hub" name="registerForm" novalidate ng-if="!registerCtrl.userLogin"
      ng-submit="registerCtrl.showHubPolicy || !loginOrRegisterCtrl.user.allowSendPromotions ? registerCtrl.register(registerForm, $event) : registerCtrl.validateForm(registerForm, $event)">
    <div class="server-err-msg"></div>
    <div class="user-activation-required" ng-if="registerCtrl.showSuccessMessage">
        {{'Your account requires activation.' | translate}} </br>
        {{'email with activation link have been sent to your email.' | translate}}
        <div >
            <span>{{('The link is valid for {link_ttl} minutes' | translate).replace('{link_ttl}', $root.config.retailer.settings.userEmailVerificationExpirationMinutes)}}</span>
            <button ng-click="registerCtrl.resendActivationLink(registerForm, $event)" class="no-design resend-activation-link">
                {{'Didn\'t receive an email' | translate}}? - {{'Send again' | translate}}
            </button>
        </div>
    </div>
    <div class="register-inputs" ng-show="!registerCtrl.showHubPolicy">
        <input type="text" name="firstName" placeholder="{{registerCtrl.firstNamePlaceholder}}" ng-model="loginOrRegisterCtrl.user.firstName" required sp-inline-error/>
        <input type="text" name="lastName" placeholder="{{registerCtrl.lastNamePlaceholder}}" ng-model="loginOrRegisterCtrl.user.lastName" required sp-inline-error/>
        <input type="email" name="email" placeholder="{{::'Email' | translate}}" ng-model="loginOrRegisterCtrl.user.email" required sp-inline-error/>
        <div class="two-inputs">
            <sp-password sp-model="loginOrRegisterCtrl.user.password" i-name="password" i-placeholder="{{::'Password' | translate}}" i-id="password"
                         sp-minlength="6" sp-maxlength="30" sp-pattern="/(?=.*[0-9])(?=.*[^0-9])/"  required i-sp-inline-error></sp-password><!--
            --><sp-password sp-model="loginOrRegisterCtrl.user.confirmPassword" i-name="confirmPassword" i-id="confirm_password"
                            i-placeholder="{{::'Confirm Password' | translate}}" required i-sp-inline-error></sp-password>
        </div>
        <sp-captcha is-invalid="registerCtrl.captchaIsInvalid"></sp-captcha>
        <sp-checkbox sp-model="loginOrRegisterCtrl.user.allowSendPromotions">
            {{('I agree to receive promotional content & offers from {company_name} and {hubname}' | translate)
                .replace('{hubname}', loginOrRegisterCtrl.hubData.hubRegisterName)
                .replace('{company_name}', $root.config.retailer.companyDetails.names | name)
            }}
        </sp-checkbox>
        <sp-checkbox sp-model="loginOrRegisterCtrl.user.policyApproval" i-name="policyApproval" sp-change="policyApprovalError = '';" i-sp-inline-error i-sp-inline-error-attach-to-parent="label">
            {{'I agree to the' | translate}}
            <a ui-sref="app.termsAndConditions" ng-click="$dialog.hide();" ng-bind="'Terms & Conditions' | translate"></a>
            {{'and the' | translate}}
            <a ui-sref="app.termsAndConditions" ng-click="$dialog.hide();" ng-bind="'Privacy Policy' | translate"></a>
            {{('policy_end' | translate) + ' *'}}
        </sp-checkbox>
        <button type="button" ng-if="loginOrRegisterCtrl.user.allowSendPromotions && loginOrRegisterCtrl.hubData.hubRegisterPolicyText"
                ng-click="registerCtrl.validateForm(registerForm, $event) && loginOrRegisterCtrl.user.allowSendPromotions && (registerCtrl.showHubPolicy = true);">
            {{::'Next' | translate}}
        </button>
        <button type="submit" ng-if="!loginOrRegisterCtrl.user.allowSendPromotions || !loginOrRegisterCtrl.hubData.hubRegisterPolicyText">
            {{registerCtrl.registerButton}}
        </button>
    </div>
    <div class="terms-approve" ng-show="registerCtrl.showHubPolicy">
        <div ng-bind-html="loginOrRegisterCtrl.hubData.hubRegisterPolicyText"></div>
        <button type="submit">{{::'Approve & Register' | translate}}</button>
        <button type="button" ng-click="registerCtrl.showHubPolicy = false" class="not-approve">{{::'Not approve' | translate}}</button>
    </div>
</form>

<div class="after-register" ng-if="registerCtrl.userLogin">
    <div>{{::'Registration Completed' | translate}}</div>
    <button ng-click="registerCtrl.hideDialog()">{{::'Continue Shopping' | translate}}</button>
</div>