<form ng-controller="LoyaltyPrutahCtrl" id="creditCardMembershipForm" name="creditCardMembershipForm"
      ng-submit="loyaltyCtrl.lookupMembership(creditCardMembershipForm, $event)"
      novalidate>
    <h1 id="loyalty_dialog_title"
        ng-bind-html="loyaltyCtrl.loyaltyClubDriver.name || $root.config.retailer.title">
    </h1>

    <h6 ng-bind-html="loyaltyCtrl.loyaltyClubDriver.clientConfig.text.connectClubText || ('Do you have our credit card? Login and enjoy unique club benefits' | translate)"></h6>

    <div class="content">
        <img ng-src="{{(loyaltyCtrl.loyaltyClubDriver.clientConfig && loyaltyCtrl.loyaltyClubDriver.clientConfig.banners && loyaltyCtrl.loyaltyClubDriver.clientConfig.banners.loyaltyClubPicture) || 'https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/loyalty-club-default-pic.png'}}">

        <div ng-repeat="field in loyaltyCtrl.lookupFields" class="fields" ng-class="{'is-checked': !!loyaltyCtrl.lookupData[field.key]}">
            <input ng-if="field.type"
                   type="{{field.key === 'Email' ? 'email' : field.type}}"
                   ng-model="loyaltyCtrl.lookupData[field.key]"
                   name="{{field.key}}" sp-inline-error
                   placeholder="{{(field.name | translate) + (field.required? ' *' : '')}}"
                   ng-required="field.required && !loyaltyCtrl.registerHasData" ng-maxlength="field.maxLength"
                   ng-change="loyaltyCtrl.onDataChange('lookup')"
                   ng-focus="loyaltyCtrl.setFocus('lookup')"
                   ng-pattern="field.key === 'personalId' ? '[0-9]+' : ''"
                   ng-keydown="loyaltyCtrl.clearData('register')"/>
            <select ng-if="field.options" ng-model="loyaltyCtrl.lookupData[field.key]"
                    name="{{field.key}}" sp-inline-error
                    placeholder="{{field.name | translate}}"
                    ng-required="field.required && !loyaltyCtrl.registerHasData"
                    ng-change="loyaltyCtrl.onDataChange('lookup')"
                    ng-focus="loyaltyCtrl.setFocus('lookup')"
                    ng-options="option as (option | translate) for option in field.options"
                    ng-keydown="loyaltyCtrl.clearData('register')">
            </select>
            <label ng-if="field.type === 'checkbox'">{{'I own the loyalty club credit card' | translate}}</label>
        </div>

        <sp-captcha is-invalid="loyaltyCtrl.captchaIsInvalid"></sp-captcha>

        <div class="disclaimer">{{'Club benefits are conditional on payment with the club credit card at checkout' | translate}}</div>
        <a class="loyalty-terms" ng-if="loyaltyCtrl.loyaltyClubDriver.loyaltyFullDetailsUrl"
           ng-href="{{loyaltyCtrl.loyaltyClubDriver.loyaltyFullDetailsUrl}}">{{'Loyalty club term & conditions' | translate}}</a>
    </div>

    <div class="buttons"><button class="register-btn block" type="submit" >
            {{::'Continue' | translate}}
        </button>
        <button type="button" class="close no-design"  ng-click="loyaltyCtrl.hide(false);">
            {{'Close' | translate}}
        </button>
    </div>
</form>
