.dialog.loyalty > .dialog-body {
  #creditCardMembershipForm {
    h1 {
      font-size: 2.5em;
      text-align: center;
      padding: 0 0 0.5em 0;
    }

    h6 {
      font-size: 1.463em;
      color: #78797A;
      text-align: center;
      padding-top: 0;
    }

    .content {
      padding-top: 0.5em;
      width: 50%;
      margin: 0 auto;

      img {
        max-width: 100%;
        margin-bottom: 0.5em
      }

      .fields {
        font-size: 1.375em;
        color: #1E1F21;
        border-radius: 5px;
        padding: 0.5em;
        margin: 1em 0;
      }

      .disclaimer {
        color: #4B4C4D;
        padding: 0.5em 0;
      }

      .loyalty-terms {
        color: #2F80ED;
        text-decoration: underline;
      }
    }

    .buttons {
      width: 50%;
      margin: 0 auto;
      text-align: center;
      padding: 1em 1em 2em 1em;

      .register-btn {
        font-size: 1.25em;
        margin-bottom: 1em;
      }

      .close {
        color: #4B4C4D;
        text-decoration: underline;
      }
    }
  }
}