<div class="delivery-limit-tab" ng-if="!deliveryItemsLimitCtrl.changeDeliveryTab">
    <div class="title">
        {{'Products Limit' | translate}}
    </div>
    <div class="icon">
        <svg focusable="false">
            <use xlink:href="#sp-icons-cart-warning"></use>
        </svg>
    </div>
    <div class="text">
        {{('This delivery has a limit of {deliveryItemsLimit} products' | translate).replace('{deliveryItemsLimit}', $root.config.getBranchArea().deliveryItemsLimit)}}
    </div>
    <div class="sub-text">
        {{'If you wish to add another product, remove one from the cart first' | translate}}.
    </div>
    <div class="main-buttons">
        <button ng-click="$dialog.hide()">{{'Continue' | translate}}</button>
    </div>
    <div class="change-delivery-button-wrapper" ng-if="deliveryItemsLimitCtrl.showChangeDeliveryMethod">
        <button ng-click="deliveryItemsLimitCtrl.changeDeliveryTab = true">
            {{'Or change the delivery method' | translate}}
        </button>
    </div>
</div>
<div class="change-delivery-tab" ng-if="deliveryItemsLimitCtrl.changeDeliveryTab">
    <div class="title">
        {{'Change Delivery Method' | translate}}
    </div>
    <div class="icon">
        <div class="inline" ng-repeat="deliveryMethod in deliveryItemsLimitCtrl.deliveryMethods">
            <span class="slash" ng-if="$index > 0"></span><!--
            --><svg focusable="false">
                <use xlink:href="#sp-icons-express-delivery" ng-if="deliveryMethod === $root.SP_SERVICES.DELIVERY_TYPES.EXPRESS_DELIVERY"></use>
                <use xlink:href="#sp-icons-delivery" ng-if="deliveryMethod === $root.SP_SERVICES.DELIVERY_TYPES.DELIVERY"></use>
                <use xlink:href="#sp-icons-retailer-details" ng-if="deliveryMethod === $root.SP_SERVICES.DELIVERY_TYPES.PICKUP"></use>
            </svg>
        </div>
    </div>
    <div class="text">
        {{'Are you sure you want to change the delivery type' | translate}}?
    </div>
    <div class="sub-text">
        {{'Changes in delivery times may apply' | translate}}<br/>
        {{'Changes in inventory between the stores may apply' | translate}}
    </div>
    <div class="main-buttons">
        <button ng-click="deliveryItemsLimitCtrl.changeDeliveryType()">{{'Yes, Change delivery method' | translate}}</button><!--
        --><button class="white-button" ng-click="$dialog.hide()">{{'No, stay in current delivery' | translate}}</button>
    </div>
</div>