.dialog-wrapper .dialog.delivery-items-limit-dialog > .dialog-body {
  text-align: center;
  padding: 2.1875em;
  width: 35em;
  box-sizing: border-box;

  .title {
    font-size: 2.5em;
  }

  .icon {
    padding: 1.5em 0 1.3125em 0;
    text-align: center;

    svg {
      display: inline-block;
      vertical-align: middle;
      fill: #616161;
    }
  }

  .text {
    font-weight: bold;
    line-height: 2em;
  }

  .sub-text {
    color: #787878;
    line-height: 1.6em;
  }

  .main-buttons {
    padding-top: 1.98em;

    > button {
      padding: 0.563em 2.375em;
      border-radius: 2.5em;
      font-weight: bold;
      margin: 0.5em;
    }

    > .white-button {
      background-color: transparent;
      color: #505050;
      border: 1px solid;
    }
  }

  .change-delivery-button-wrapper {
    padding-top: 1.5em;

    > button {
      &, &:hover, &:focus {
        padding: 0;
        background-color: transparent;
        color: #000;
        font-size: 0.875em;
        text-decoration: underline;
      }
    }
  }

  .delivery-limit-tab .icon svg {
    width: 4.8125em;
    height: 3.875em;
  }

  .change-delivery-tab .icon {
    .inline {
      display: inline-block;
    }

    .slash {
      height: 3.52875em;
      width: 2px;
      background-color: #787878;
      display: inline-block;
      vertical-align: middle;
      transform: rotate(20deg);
      margin: 0 0.625em;
    }

    svg {
      width: 4.125em;
      height: 1.875em;
    }
  }
}