.dialog-wrapper .dialog.delivery-items-limit-dialog > .dialog-body .main-buttons {
  > button {
    background-color: $highlightColor;
  }

  > .white-button {
    border-color: $highlightColor;
  }
}