<ng-switch on="loginCtrl.currentView">
    <form ng-switch-default sp-form-accessibility class="form" name="loginForm" ng-submit="loginCtrl.login(loginForm, $event);" novalidate>
        <div class="login-err" ng-show="loginCtrl.showLoginErr || loginCtrl.showServerError"><!--
            --><img src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/login-err-icon.png" alt=""/><!--
            --><span class="text" ng-if="loginCtrl.showLoginErr"><!--
                -->{{::'Your email or password seems to be wrong' | translate}}.<br/>{{::'Please try again' | translate}}<!--
            --></span><!--
            --><span class="text user-email-activation-err" ng-if="loginCtrl.showServerError"><!--
                -->{{loginCtrl.loginErrFromServerMessage | translate}}.
                <br>
                <span ng-if="loginCtrl.showResendLink"
                      ng-click="loginCtrl.resendActivationLink()"
                      class="resend-activation-link"
                      ng-if="loginCtrl.loginErrFromServerCode === 'loginAccountNotActivated'">{{'Didn\'t receive an email' | translate}}? - {{'Send again' | translate}}</span>
            </span><!--
        --></div>
        <div class="login-err success-color" ng-show="loginCtrl.successMessage"><!--
            --><span class="text"><!--
                -->{{(loginCtrl.successMessage | translate).replace('{link_ttl}', $root.config.retailer.settings.userEmailVerificationExpirationMinutes)}}<!--
            --></span><!--
        --></div>
        <input type="email" name="email" placeholder="{{::'Email' | translate}}" ng-model="loginOrRegisterCtrl.user.email" required sp-inline-error/>
        <sp-password sp-model="loginOrRegisterCtrl.user.password" i-id="password" i-name="password" i-placeholder="{{::'Password' | translate}}" required i-sp-inline-error></sp-password>
        <div ng-if="loginCtrl.showCaptcha">
            <sp-captcha is-invalid="true" ></sp-captcha>
        </div>
        <button type="submit" class="block">{{::'Sign In' | translate}}</button>
        <button type="button" class="no-design register-btn" ng-show="loginCtrl.showLoginErr"
                ng-attr-title="{{ 'Register' | translate }}"
                ng-click="loginOrRegisterCtrl.show(loginOrRegisterCtrl.tabs[1])">{{::'Register' | translate}}
        </button>

        <div class="forgot-password">
            <a class="no-design"
               ng-attr-title="{{ 'Forgot password?' | translate }}"
               ng-click="loginCtrl.showForgotPassword();" href="">{{::'Forgot password?' | translate}}</a>
        </div>

        <button type="button" class="no-design block login-with-facebook"
                ng-if="!$root.config.hubRetailer.id && !loginCtrl.hideFacebookLogin && loginCtrl.config.retailer.facebookAppId"
                ng-click="loginCtrl.loginWithFacebook();">{{::'Sign In Using Facebook' | translate}}</button>
        <div ng-if="loginCtrl.config.retailer.settings.isLoginViaOtpActive === 'true'" class="login-with-otp-container">
            <img src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/login-with-otp-first.png">
            <button type="button" ng-click="loginCtrl.showLoginWithOtp()">{{::'Login with a one time password' | translate}}</button>
        </div>
    </form>

    <form id="selectOtpOption" sp-form-accessibility ng-switch-when="selectOtpOption" class="form selectOtpOption" name="selectOtpOption">
        <h5 ng-bind="::'Login with a one time password' | translate"></h5>
        <div class="options-container">
            <div ng-if="loginCtrl.config.retailer.settings.allowLoginBySmsVerification === 'true'" class="option">
                <img src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/otp-phone.png">
                <button type="button" ng-click="loginCtrl.showEnterSmsOrMail(loginCtrl.LoginWithOtpOptions.PHONE_NUMBER)">{{::'Continue with SMS' | translate}}</button>
            </div>
            <div ng-if="loginCtrl.config.retailer.settings.allowLoginByEmailVerification === 'true'" class="option">
                <img src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/otp-email.png">
                <button type="button" ng-click="loginCtrl.showEnterSmsOrMail(loginCtrl.LoginWithOtpOptions.EMAIL)">{{::'Continue with email' | translate}}</button>
            </div>
        </div>
    </form>

    <form id="enterOtpPhoneOrEmail" sp-form-accessibility ng-switch-when="enterOtpPhoneOrEmail" class="form enterOtpPhoneOrEmail" name="enterOtpPhoneOrEmail">
        <div class="look-like-anchor back-button-otp" ng-click="loginCtrl.changeView(loginCtrl.previousView, true)">< {{'Back' | translate}}</div>
        <div class="enter-otp">
            <img ng-if="loginCtrl.otpOptionSelected === loginCtrl.LoginWithOtpOptions.PHONE_NUMBER"
                 src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/otp-phone.png">
            <img ng-if="loginCtrl.otpOptionSelected === loginCtrl.LoginWithOtpOptions.EMAIL"
                 src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/otp-email.png">
            <div ng-bind="(loginCtrl.otpOptionSelected === loginCtrl.LoginWithOtpOptions.PHONE_NUMBER ? 'Please enter your phone number' : 'Please enter your Email') | translate"></div>
            <div class="small-text">{{'we will send you one time password' | translate}}</div>
            <input ng-if="loginCtrl.otpOptionSelected === loginCtrl.LoginWithOtpOptions.PHONE_NUMBER"
                   ng-keydown="loginCtrl.filterNonDigits($event)" ng-change="loginCtrl.filterNonDigitsOnChange()"
                   name="otpphone" placeholder="{{::'Phone number' | translate}}" ng-model="loginCtrl.otpPhoneOrEmail"
                   maxlength="10" type="text" minlength="10" ng-required="true" sp-inline-error/>
            <input ng-if="loginCtrl.otpOptionSelected === loginCtrl.LoginWithOtpOptions.EMAIL" type="email" sp-inline-error
                   name="otpemail" placeholder="{{::'Email' | translate}}" ng-model="loginCtrl.otpPhoneOrEmail" required/>
            <button class="block" ng-click="loginCtrl.sendOneTimeCode(enterOtpPhoneOrEmail, $event)">
                {{::'Send password' | translate}}
            </button>
        </div>
    </form>

    <form id="enterCodeToValidate" sp-form-accessibility ng-switch-when="enterCodeToValidate" class="form enterCodeToValidate" name="enterCodeToValidate">
        <div class="look-like-anchor back-button-otp" ng-click="loginCtrl.changeView(loginCtrl.previousView, true)">< {{'Back' | translate}}</div>
        <div class="enter-otp-code">
            <img ng-if="loginCtrl.otpOptionSelected === loginCtrl.LoginWithOtpOptions.PHONE_NUMBER"
                 src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/otp-phone.png">
            <img ng-if="loginCtrl.otpOptionSelected === loginCtrl.LoginWithOtpOptions.EMAIL"
                 src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/otp-email.png">
            <div ng-bind="(loginCtrl.otpOptionSelected === loginCtrl.LoginWithOtpOptions.PHONE_NUMBER ? 'We\'ve sent a Password to the mobile number' : 'We\'ve sent a Password to your email address at') | translate"></div>
            <h5 class="hidden-phone-or-email" ng-class="{ 'force-direction-ltr': loginCtrl.otpOptionSelected === loginCtrl.LoginWithOtpOptions.PHONE_NUMBER}">{{loginCtrl.otpPhoneOrEmail | masked}}</h5>
            <span class="small-text">{{(loginCtrl.otpOptionSelected === loginCtrl.LoginWithOtpOptions.PHONE_NUMBER ? 'not your phone number?' : 'not your email?') | translate}}</span>
            <span class="look-like-anchor"
                  ng-if="loginCtrl.currentView !== 'default'" ng-click="loginCtrl.goToEnterOtp()">{{'update' | translate}}</span>
            <div class="validate-code-header header-spacing">{{'Please complete verification' | translate}}</div>

            <div class="otp-code-input" style="direction: ltr">
                <input ng-repeat="i in loginCtrl.numberOfDigitsForOTPCode track by $index"
                       type="text"
                       maxlength="1"
                       class="input"
                       ng-model="loginCtrl.otpCodeInputs[$index]"
                       ng-change="loginCtrl.setFocus($index)" required>
            </div>

            <p class="invalid-or-expired-text" ng-if="loginCtrl.showInvalidOrExpiredText">{{'Sorry, the code is invalid or expired.' | translate}}</p>
            <button ng-class="{'btn-disabled': enterCodeToValidate.$invalid}" class="block header-spacing"
                    ng-disabled="enterCodeToValidate.$invalid"
                    ng-click="loginCtrl.validateOtpCode(enterCodeToValidate, $event)">{{::'Sign in' | translate}}
            </button>
            <span class="small-text">{{'didn\'t receive the code?' | translate}}</span>
            <span class="look-like-anchor" ng-click="loginCtrl.sendOneTimeCode(enterOtpPhoneOrEmail, $event)">{{'Send again' | translate}}</span>
        </div>
    </form>

    <form id="otpError" sp-form-accessibility ng-switch-when="otpError" class="form otpError" name="otpError">
        <div class="look-like-anchor back-button-otp" ng-click="loginCtrl.changeView(loginCtrl.previousView, true)">< {{'Back' | translate}}</div>
        <div class="otp-error-container">
            <div class="error-text" ng-bind="loginCtrl.showAccountSuspended ? 'Sorry, You have exceeded the number of attempts allowed for the current user.' : (loginCtrl.otpOptionSelected === loginCtrl.LoginWithOtpOptions.PHONE_NUMBER ? 'Sorry, we cannot proceed using this phone number' : 'Sorry, we cannot proceed using this email') | translate"></div>
            <p ng-if="!loginCtrl.showAccountSuspended">{{ ('please try again or contact customer service for assistance: XXX-XXXXXX' | translate).replace('XXX-XXXXXX', $root.config.retailer.contactPhone) }}</p>
            <p ng-if="loginCtrl.showAccountSuspended">{{ ('please try again later or contact customer service for assistance: XXX-XXXXXX' | translate).replace('{otpUserBlockMinutes}', loginCtrl.config.retailer.settings.otpUserBlockMinutes).replace('XXX-XXXXXX', $root.config.retailer.contactPhone) }}</p>
            <button type="submit" class="block" ng-click="loginCtrl.goToEnterOtp()">{{::'Try again' | translate}}</button>
        </div>
    </form>

    <form id="forgotPasswordForm" sp-form-accessibility ng-switch-when="forgottenPassword" class="form" name="forgotPasswordForm"
          ng-submit="loginCtrl.getForgotPasswordCode(forgotPasswordForm, $event);" role="region" aria-label="{{ ('Forgot password?' | translate).replace('?', '') }}" tabindex="0">
        <div class="server-err-msg"></div>
        <input aria-describedby="forgotPasswordForm" id="forgot_email" type="email" name="email" placeholder="{{::'Email' | translate}}" ng-model="loginOrRegisterCtrl.user.email" required sp-inline-error/>

        <sp-captcha ng-if="loginCtrl.showResetCaptcha" is-invalid="loginCtrl.captchaIsInvalid"></sp-captcha>

        <button class="block" type="submit">{{::'Reset Password' | translate}}</button>
    </form>

    <div role="alert" aria-atomic="true" aria-live="polite" tabindex="0" ng-if="loginCtrl.showForgotPasswordSentAlert" class="reset-password-sent">
        <div ng-bind="::'Please check your inbox and follow the instructions' | translate"></div>
        <div class="text-error">
           {{::'If you haven\'t received an email, please check if you mistyped your email address or contact customer service' | translate}} {{config.retailer.contactPhone || '' }}
       </div>
    </div>

    <form sp-form-accessibility ng-switch-when="resetPassword" class="form reset-password-form" name="resetPasswordForm" ng-submit="loginCtrl.savePassword(resetPasswordForm, $event);" novalidate>
        <sp-password sp-model="loginCtrl.resetData.newPassword" i-name="password" i-id="new_password" i-placeholder="{{::'New password' | translate}}"
                     sp-minlength="6" sp-maxlength="30" sp-pattern="/(?=.*[0-9])(?=.*[^0-9])/" required i-sp-inline-error i-autocomplete="off"></sp-password>
        <sp-password sp-model="loginCtrl.resetData.confirmPassword" i-name="resetConfirmPassword" i-id="reset_confirm_password"
                     i-placeholder="{{::'Confirm password' | translate}}" required i-sp-inline-error i-autocomplete="off"></sp-password>

        <sp-captcha ng-if="loginCtrl.showSaveCaptcha" is-invalid="loginCtrl.captchaIsInvalid"></sp-captcha>

        <button class="block" type="submit">{{::'Save and Sign in' | translate}}</button>
    </form>

    <div role="alert" aria-atomic="true" aria-live="polite" tabindex="0" ng-switch-when="resetPasswordError" class="reset-code-err-wrapper">
        <div class="reset-code-err">{{'This action cannot be completed at this time' | translate}}</div>
        <button ng-click="loginCtrl.backToLogin()" class="block" >{{::'Back to login' | translate}}</button>
    </div>
    <span class="login-email-password-text"
        ng-if="loginCtrl.currentView !== 'default' && loginCtrl.currentView !== 'forgottenPasswordSent'"
        ng-click="loginCtrl.backToLogin()">{{'back to Login with email and password' | translate}}</span>
</ng-switch>
