<div class="faq-wrapper">
    <h1 id="page_title" ng-bind="::'FAQ' | translate"></h1>
    <div class="question" ng-repeat="f in faqCtrl.faq">
        <div class="bold">{{f.question}}</div>
        <div>{{f.answer}}</div>
    </div>
</div>