<svg focusable="false">
    <use xlink:href="#sp-icons-promotion"></use>
</svg>

<h4 id="promotion_dialog_title">{{promotionDialogCtrl.promotion.name}}</h4>
<h5>{{promotionDialogCtrl.promotion.description}}</h5>

<form sp-form-accessibility ng-if="promotionDialogCtrl.promotion.isReference" name="promotionDialogCtrl.form" ng-submit="promotionDialogCtrl.sendEmail($event)" novalidate>
    <input type="email" name="email" ng-model="promotionDialogCtrl.email" placeholder="{{'Friend\'s email' | translate}}" sp-inline-error required/>
    <div class="promo-code-container">
        <img class="v-icon" ng-if="promotionDialogCtrl.copyCompleted" src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/small-v.png" alt="{{'copy completed' | translate}}"/>
        <span>{{:: 'Or share your Promo code' | translate}} {{promotionDialogCtrl.promoCode}}</span>
        <button type="button" class="copy-btn no-design" ng-bind=":: 'Copy' | translate" ng-click="promotionDialogCtrl.copyToClipboard($event)"></button>
    </div>
    <div class="buttons" ng-if="!promotionDialogCtrl.sentSuccessfully">
        <button type="submit" ng-bind=":: 'Send Invitation' | translate"></button>
        <button type="button" class="no-design close-button" ng-click="$dialog.hide()" ng-bind=":: 'No, Thanks' | translate"></button>
    </div>
</form>

<div class="success-message" ng-if="promotionDialogCtrl.promotion.isReference && promotionDialogCtrl.sentSuccessfully">
    <img class="v-icon" src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/small-v.png" alt=""/>
    <span>{{:: 'Invitation Sent Successfully' | translate}}</span>
</div>

<button type="button" ng-bind=":: 'Got It' | translate" ng-click="$dialog.hide()" ng-if="!promotionDialogCtrl.promotion.isReference"></button>