.promotion-dialog {
  .dialog-body {
    color: #606060;
    text-align: center;
    padding: 3em 2em 1.5em 2em;
    width: 25em;

    svg {
      height: 5.2em;
      width: 5.2em;
    }

    h4, h5 {
      color: #606060;
      padding: 0.2em 0;
    }

    h4 {
      font-weight: 700;
    }

    h5 {
      font-weight: 400;
    }

    form {
      input {
        margin: 0.5em 0;
        width: 80%;
      }

      .promo-code-container {
        padding: 0.5em 0 1em 0;

        span, .copy-btn {
          vertical-align: middle;
        }

        .copy-btn {
          padding: 0.3em;
        }
      }

      .buttons {
        button {
          margin: 0.5em;
          width: 10em;
          line-height: 1.8em;

          &.close-button {
            border-radius: 3px;
            padding: 6px 7px;
          }
        }
      }
    }

    > button {
      margin-top: 0.5em;
      padding: 0.5em 4em;
    }

    .success-message {
      * {
        vertical-align: middle;
        font-weight: bold;
      }
    }
  }
}