.promotion-dialog {
  .dialog-body {

    svg {
      fill: $mainColor;
    }

    form {
      .copy-btn {
        color: $mainColor;
      }

      .buttons button.close-button {
        color: $mainColor;
        border: 1px solid $mainColor;
      }
    }

    .v-icon {
      background-color: $mainColor;
    }

    .success-message {
      color: $mainColor;
    }
  }
}