.gift-card-exclude-message-container {
  .dialog-body {
    max-width: 669px !important;
    box-sizing: border-box;
  }
}
.gift-card-exclude-message {
  &-content {
    font-size: 25px;
    text-align: center;
    margin-top: 20px;
  }

  &-button {
    margin: 50px auto 40px auto;
    width: max-content;
    font-size: 20px;
    button {
      min-width: 275px;
      max-width: 100%;
    }
  }
}
