<div ng-if="irrelevantSellDateObj && irrelevantSellDateObj.items && irrelevantSellDateObj.items.length > 0">
    <div class="left" >
        <div class="sale-description" style="height: auto;">
            <p>{{irrelevantSellDateObj.mainTitle | translate | retailerNameReplacement }}.</p>
            <p class="sale-description-subtitle">{{irrelevantSellDateObj.subTitle | translate }}.</p>
        </div>
    </div>

    <div class="list-wrapper">
        <sp-list-items show-irrelevant-sell-date="true" hidden-header="true" tag-sell-date="true" hidden-category="true" show-delivery-products="true" delivery-date="deliveryDate"></sp-list-items>
    </div>
</div>
<!-- end sell date products -->


<!-- specials and coupons -->
<div ng-if="irrelevantSalesCount > 0">
    <div class="left">
        <div class="sale-description">
            <span ng-if="irrelevantSalesCount == 1">
                {{'The special displayed below, will expire on the date you are supposed to receive your order' | translate}}.
            </span>
            <span ng-if="irrelevantSalesCount != 1">
                {{'The expiration of these' | translate}}
                {{irrelevantSalesCount}}
                {{'sales will not be valid for this chosen time' | translate}}.
            </span>
            <br>
            <span ng-if="irrelevantSalesCount == 1" class="sale-description-subtitle">
                {{'This product will be charged the regular price, promotion will not be applied' | translate}}.
            </span>
            <span ng-if="irrelevantSalesCount != 1" class="sale-description-subtitle">
                {{'These items will be charged at their regular price' | translate}}.
            </span>
            <br>
        </div>
    </div>

    <div class="list-wrapper">
        <sp-list-items hidden-header="true" show-irrelevant-sales="true" hidden-category="true" tag-sell-date="true" show-delivery-products="true" delivery-date="deliveryDate"></sp-list-items>
    </div>
</div>

<div class="bottom-sales-items-description">
<span class="new-cart-estimate">
    <span ng-if="lineTypes[$root.SP_SERVICES.CART_LINE_TYPES.PRODUCT]">
        {{('Price of Updated Cart (Est.)' | translate) + ' ' + (totalPriceUpdate | currency)}}
    </span>
    <span ng-if="lineTypes[$root.SP_SERVICES.CART_LINE_TYPES.DELIVERY]">
        {{('Price of Updated Service Fee (Est.)' | translate) + ' ' + (totalPriceUpdate | currency)}}
    </span>
</span>
    <button class="apply-button right" ng-click="$dialog.hide(true);">
        {{'OK' | translate}}
    </button>
    <button ng-if="displayChoosenDateButton" class="change-date-button apply-button right" ng-click="$dialog.hide(false);">
        {{'Change chosen time' | translate}}
    </button>
</div>

