html.checkout .dialog-wrapper .dialog.cart-summary-dialog, .notice-sale-date {
  .dialog-body {
    overflow: auto;
    max-width: 90%;
    min-width: 80%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .list-wrapper {
    width: 100%;
    box-sizing: border-box;
    height: 67%;
    overflow: hidden;
    padding: 0.2em;
    border: 1px solid #eaeaea;
    border-radius: 3px;

    .elastic-row {
      z-index: 2;
    }

    .content-table {
      overflow: auto;
      height: 100%;
      box-sizing: border-box;
    }

    .items-table {
      th, td {
        box-sizing: border-box;
      }
      tbody .item-row td {
        &.specials.has-specials {
          min-width: 20em;
        }

        &.img {
          width: 12em;
        }
      }
    }
  }
  
  .sale-description {
    height: 5em;
    margin-bottom: 1em;
    line-height: 2em;
    font-size: 1.4em;
    font-weight: normal;
    padding: 0 0.1em;

    &-subtitle {
      font-size: 18px;
      color: #787878;
    }
  }

  .bottom-sales-items-description {
    //position: absolute;
    width: 97%;
    bottom: 1em;
    padding-top: 1em;

    .apply-button {
      padding: 0 1.5em;
      font-size: 1.2em;
      width: max-content;
      min-width: 10em;
      line-height: 3em;
      color: #ffffff;
      font-weight: bold;
      border-radius: 5px;
      border: 1px solid;
      &.change-date-button {
        margin-right: 10px;
      }
    }



    .new-cart-estimate {
      padding: 0 1em;
      font-size: 1.4em;
      line-height: 3em;

      > span:after {
        display: inline;
        content: ',';
      }

      > span:last-child:after {
        content: '';
      }
    }
  }
}

.rtl .notice-sale-date {
  .apply-button {
    &.change-date-button {
      margin-left: 10px !important;
      margin-right: 0 !important;
    }
  }
}

@media screen and (max-width: 1300px) {
  html.checkout .dialog-wrapper .dialog.cart-summary-dialog {
    font-size: 0.86em;
    .list-wrapper {
      height: 70%;
    }
  }
}