<div class="irre-sales" ng-controller="IrrelevantSalesCtrl as irreSaCtrl">
  <div class="lines">
    <div class="line" ng-repeat="line in irreSaCtrl.displayLines">
      <h5 class="title">{{ line.mainTitle }}.</h5>

      <div class="carousel-wrapper" ng-class="line.className">
        <sp-carousel template-url="{{line.itemTemplateUrl}}" items="line.items" item-width="180" class="new-promotion"
          rows="{default:1}" data="irreSaCtrl.data">
        </sp-carousel>
      </div>
    </div>

  </div>

  <!-- footer -->
  <div class="irre-sales-footer">
    <div class="total-bill">
      <span class="new-cart-estimate">
        <span>
          {{('Price of Updated Cart (Est.)' | translate) + ' ' +
          (irreSaCtrl.totalPriceUpdate | currency)}}
        </span>

        <span ng-if="irreSaCtrl.lineTypes[$root.SP_SERVICES.CART_LINE_TYPES.DELIVERY]">
          {{('Price of Updated Service Fee (Est.)' | translate) + ' ' +
          ($root.cart.total.deliveryCost.finalPriceForViewPotential | currency)}}
        </span>
      </span>
    </div>

    <div class="button-group">
      <button class="change-date-button" ng-click="irreSaCtrl.backBtn.onClick()" ng-disabled="irreSaCtrl.isUpdating">
        {{ irreSaCtrl.backBtn.text | translate}}
      </button>

      <button class="apply-button right" ng-click="irreSaCtrl.onClickUpdate()" ng-disabled="irreSaCtrl.isUpdating">
        {{'irre_sales_btn_continue' | translate}}
      </button>
    </div>
  </div>
</div>