$contentHeight: 35em;
$footerHeight: 6.875em;

.irre-sales {
  .carousel-wrapper {

    // hide carousel navigation when disabled
    .sp-carousel>.action button.disabled {
      display: none;
    }
  }

  .sell-date-dialog {
    &-wrapper {
      height: 14em
    }

    // hide out of stock text since it overlap image
    .out-of-stock,
    .out-of-stock-tag,
    .general-image-wrapper {
      display: none;
    }
  }

  .expired-special-wrapper {
    .new-promotion {
      height: 19em;

      .special-item {
        border: none;

        // hide select button
        a.special>.actions {
          display: none;
        }
      }
      
    }
  }

  .title {
    padding: 0;
    margin-bottom: 0.5em;
    font-size: 1.25em;
    font-weight: 700;
    line-height: 1.75em;
    color: #000000;
  }

  .lines {
    // $contentHeight - $footerHeight
    min-height: 28.125em;
    width: 98%;

    .line {
      padding: 8px 0;

      >span {
        font-size: 16px;
        color: #787878;
      }
    }

    .regular-price {
      color: #787878;
      font-size: 0.8em;
    }
  }

  .irre-sales-footer {
    height: $footerHeight;

    .total-bill {
      .new-cart-estimate {
        font-size: 1.3em;
        line-height: 3em;

        >span {
          text-transform: capitalize;
        }

        >span:after {
          display: inline;
          content: ',';
        }

        >span:last-child:after {
          content: '';
        }
      }
    }


    .button-group {
      .change-date-button {
        padding: 0 1.5em;
        font-size: 1.2em;
        line-height: 2.2em;
        color: #787878;
        font-weight: bold;
        border: 1px solid #787878;
        background-color: #ffffff;
        text-transform: uppercase;

        &:hover {
          // override default hover background
          background-color: #ececec !important;
        }
      }

      .apply-button {
        line-height: 2.2em;
        padding: 0 1.5em;
        font-size: 1.2em;
        text-transform: uppercase;
      }
    }
  }

}