<div class="home-page-wrapper" ng-controller="PrutahHomeCtrl as prutahHomeCtrl">
    <h1 id="page_title" class="sr-only-element">{{$root.config.retailer.title + ' ' + ('home page' | translate)}}</h1>
    <div class="background-wrapper"
        ng-style="{ 'height': homeCtrl.bannerHeight }"
        ng-class="{ 'with-side-images': $root.config.retailer.hasHomeSideImages}">
        <div class="side-images" ng-if="$root.config.retailer.hasHomeSideImages">
            <a class="top-image" ng-href="{{$root.config.retailer.homeSideImages[$root.HOME_PAGE_SIDE_DISPLAY_TYPES.TOP].href}}">
                <!-- use sp-image-size-setter because of fire fox rendering issue, without it the parent size wasn't set -->
                <img ng-src="{{$root.config.retailer.homeSideImages[$root.HOME_PAGE_SIDE_DISPLAY_TYPES.TOP].url}}"
                     sp-image-size-setter="width" alt="Top banner"/>
            </a><!--
            --><a class="bottom-image" ng-href="{{$root.config.retailer.homeSideImages[$root.HOME_PAGE_SIDE_DISPLAY_TYPES.BOTTOM].href}}">
            <!-- use sp-image-size-setter because of fire fox rendering issue, without it the parent size wasn't set -->
            <img ng-src="{{$root.config.retailer.homeSideImages[$root.HOME_PAGE_SIDE_DISPLAY_TYPES.BOTTOM].url}}"
                 sp-image-size-setter="width" alt="Bottom banner"/>
            </a>
        </div>
        
        <div class="background" role="region" aria-label="{{'home page banner' | translate}}">
            <background-img
                    ng-show="!$root.config.retailer.homePageActiveVideo || $root.config.retailer.homePageActiveVideo && !homeCtrl.videoIsPlaying">
            </background-img>
            <!-- <div ng-if="$root.config.retailer.homePageActiveVideo"
                 ng-show="$root.config.retailer.homePageActiveVideo && homeCtrl.videoIsPlaying">
                <video id="azuremediaplayer"
                       ng-init="homeCtrl.initVideo()"
                       muted="muted"
                       loop="loop"
                       class="azuremediaplayer amp-default-skin amp-big-play-centered" tabindex="0">
                </video>
            </div> -->
        </div>
    </div>

    <div class="content"
        ng-if="homeCtrl.loadingComponentsPromise || homeCtrl.components.length">
        <div ng-repeat="component in homeCtrl.components track by component.data.id"
             class="component {{component.isLoadingComponent ? 'loading' : ''}}"
             data-component-id="{{component.data.id}}"
             ng-class="::{ 
                'item-as-title': homeCtrl.SpHomePageComponents.isTitleAsItem(component.data), 
                'has-loyalty-member': component.data.typeId === $root.SP_HOME_PAGE_COMPONENT_TYPES.SPECIALS_CAROUSEL && homeCtrl.retailerLoyaltyClubConfig && homeCtrl.retailerLoyaltyClubConfig.homepage.isActive, 
            }"
             ng-style="::{ 'background-color': component.data.backgroundColor, 'margin-inline': component.data.backgroundColor ? '.75em' : 0 }"
             role="contentinfo" ng-if="!component.hasNoItems"
             aria-label="{{component.data.names | name:'title'}}">
            
            <div class="header-wrapper">
                <div class="header default-text-align" ng-if="::!homeCtrl.SpHomePageComponents.isTitleAsItem(component.data)">
                    <div class="title">
                        <h2 ng-if="component.data.names | name:'title'" ng-style="::{ color: component.data.mainColor }">
                            {{component.data.names | name:'title'}}
                        </h2>
                        <h3 ng-if="component.data.names | name:'text'" ng-style="::{ color: component.data.subColor }">
                            {{component.data.names | name:'text'}}
                        </h3>
                    </div>
                    <div class="link" ng-if="::homeCtrl.SpHomePageComponents.isSingleItemComponent(component.data) && component.data.items.length && component.data.items[0].href">
                        <a class="title-link"
                        ng-style="::{ color: component.data.items[0].mainColor, 'border-color': component.data.items[0].mainColor }"
                        ng-href="{{::component.data.items[0].href}}">
                            {{component.data.items[0].names | name:'name'}}
                        </a>
                    </div>
                </div>
    
                <div class="carousel-btns-wrapper">
                    <div class="action previous" ng-if="homeCtrl.SpHomePageComponents.isCarouselComponent(component.data)">
                        <button type="button" class="no-design" ng-click="homeCtrl.slidePrev(component.data.id)" ng-class="{ disabled: component.carousel.isStart }"
                                ng-disabled="component.carousel.isStart" aria-label="{{'the previous items' | translate}}" tabindex="-1">
                            <svg focusable="false">
                                <use xlink:href="#sp-icons-arrow-left-v3"></use>
                            </svg>
                        </button>
                    </div>
        
                    <div class="action next" ng-if="homeCtrl.SpHomePageComponents.isCarouselComponent(component.data)">
                        <div class="loading-wrapper" ng-hide="!homeCtrl.carousel.isLoadingItems[component.data.id]">
                            <img src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/loading.gif" alt="{{'loading' | translate}}"/>
                        </div>
                        <button type="button" class="no-design" ng-click="homeCtrl.slideNext(component.data.id)" ng-hide="homeCtrl.carousel.isLoadingItems[component.data.id]" ng-class="{ disabled: component.carousel.isEnd }"
                                   aria-label="{{'the next items' | translate}}" ng-disabled="component.carousel.isEnd" tabindex="-1">
                            <svg focusable="false">
                                <use xlink:href="#sp-icons-arrow-left-v3"></use>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>

            <div class="content-wrapper carousel-content" 
                ng-if="::homeCtrl.SpHomePageComponents.isCarouselComponent(component.data)"
                ng-class="{
                    'has-sp-point-redemption': $index == homeCtrl.pointRedemptionCPNIndex && homeCtrl.retailerLoyaltyClubConfig && homeCtrl.retailerLoyaltyClubConfig.homepage.isActive
                }">
                <div class="title-as-item"
                     ng-if="::homeCtrl.SpHomePageComponents.isTitleAsItem(component.data)">
                    <h2 ng-if="component.data.names | name:'title'" ng-style="::{ color: component.data.mainColor }">
                        {{component.data.names | name:'title'}}
                    </h2>
                    <h3 ng-if="component.data.names | name:'text'" ng-style="::{ color: component.data.subColor }">
                        {{component.data.names | name:'text'}}
                    </h3>
                    <a ng-href="{{::component.data.items[0].href}}" class="title-link"
                       ng-style="::{ color: component.data.items[0].mainColor, 'border-color': component.data.items[0].mainColor }"
                       ng-if="::homeCtrl.SpHomePageComponents.isSingleItemComponent(component.data) && component.data.items.length && component.data.items[0].href">
                        {{component.data.items[0].names | name:'name'}}
                    </a>
                </div>
                <sp-carousel
                        ng-class="{
                            'large-products-carousel': component.data.typeId === $root.SP_HOME_PAGE_COMPONENT_TYPES.LARGE_PRODUCTS_CAROUSEL,
                            'normal-products-carousel': component.data.typeId === $root.SP_HOME_PAGE_COMPONENT_TYPES.PRODUCTS_CAROUSEL,
                            'specials-carousel': component.data.typeId === $root.SP_HOME_PAGE_COMPONENT_TYPES.SPECIALS_CAROUSEL,
                            'links-carousel': component.data.typeId === $root.SP_HOME_PAGE_COMPONENT_TYPES.LINKS_CAROUSEL,
                            'new-promotion': $root.config.retailer.settings.isNewPromotionDesignEnabled === 'true',
                            'has-loyalty-member': component.data.typeId === $root.SP_HOME_PAGE_COMPONENT_TYPES.SPECIALS_CAROUSEL && homeCtrl.retailerLoyaltyClubConfig && homeCtrl.retailerLoyaltyClubConfig.homepage.isActive,
                            'show-original-price': $root.util.isShowOriginalPriceEnabled()
                        }"
                        component-id="{{component.data.id}}"
                        template-url="{{::component.carousel.templateUrl}}"
                        load-more-items="::component.carousel.loadItems"
                        functions="::component.carousel.actions"
                        item-width="prutahHomeCtrl.getCarouselItemWidth(component)"
                        rows="::prutahHomeCtrl.getCarouselRowsNumber(component)"
                        watchers="::component.carousel.watchers"
                        data="::component.carousel.data"
                        is-start="component.carousel.isStart"
                        is-end="component.carousel.isEnd"
                        is-loading-items="homeCtrl.carousel.isLoadingItems[component.data.id]"
                        should-hide-navigation="true">
                </sp-carousel>
                <sp-point-redemption ng-class="{
                    'large-products-carousel': component.data.typeId === $root.SP_HOME_PAGE_COMPONENT_TYPES.LARGE_PRODUCTS_CAROUSEL,
                    'normal-products-carousel': component.data.typeId === $root.SP_HOME_PAGE_COMPONENT_TYPES.PRODUCTS_CAROUSEL,
                    'specials-carousel': component.data.typeId === $root.SP_HOME_PAGE_COMPONENT_TYPES.SPECIALS_CAROUSEL,
                    'links-carousel': component.data.typeId === $root.SP_HOME_PAGE_COMPONENT_TYPES.LINKS_CAROUSEL,
                    'new-promotion': $root.config.retailer.settings.isNewPromotionDesignEnabled === 'true'}" ng-if="$index == homeCtrl.pointRedemptionCPNIndex && homeCtrl.retailerLoyaltyClubConfig && homeCtrl.retailerLoyaltyClubConfig.homepage.isActive">
                </sp-point-redemption>
            </div>
            <div class="content-wrapper posters-content" ng-if="::component.data.typeId === $root.SP_HOME_PAGE_COMPONENT_TYPES.POSTERS">
                <div class="poster" ng-repeat="poster in component.data.items">
                    <a class="link" ng-if="!!((poster.names | name:'desktopImageResourceUrl') || (poster.names | name:'imageResourceUrl'))" 
                    ng-href="{{::poster.href}}" aria-label="{{(poster.names | name:'alt') || ('Banner link' | translate)}}">
                        <div class="image" ng-style="{ 'background-image': 'url(' + (poster.names | name:'desktopImageResourceUrl') || (poster.names | name:'imageResourceUrl') + ')' }"></div>
                    </a>
                    <div class="content" ng-if="!((poster.names | name:'desktopImageResourceUrl') || (poster.names | name:'imageResourceUrl'))"
                         ng-style="::{ 'background-color': poster.backgroundColor }">
                        <h2 ng-style="::{ color: poster.mainColor }">{{poster.names | name:'name'}}</h2>
                        <h3 ng-if="poster.names | name:'text'" ng-style="::{ color: poster.subColor }">
                            {{poster.names | name:'text'}}
                        </h3>
                        <a ng-href="{{::poster.href}}" class="title-link" ng-if="::!!poster.href"
                           ng-style="::{ color: poster.subColor, 'border-color': poster.subColor }">
                            {{(poster.names | name:'title') || poster.href}}
                        </a>
                    </div>
                </div>
            </div>
            <div class="content-wrapper links-content" ng-if="::component.data.typeId === $root.SP_HOME_PAGE_COMPONENT_TYPES.LINKS">
                <sp-items-grid items="::component.data.items" item-width="::prutahHomeCtrl.getCarouselItemWidth(component)">
                    <a ng-href="{{::item.href}}"
                            ng-style="{
                                'background-color': item.backgroundColor,
                                'background-image': 'url(' + (item.names | name:'desktopImageResourceUrl') || (item.names | name:'imageResourceUrl') + ')'
                            }"
                    aria-label="{{(item.names | name:'alt') || ''}}">
                        <span class="transparent-background"
                              ng-if="!!((item.names | name:'desktopImageResourceUrl') || (item.names | name:'imageResourceUrl')) && ((item.names | name:'title') || (item.names | name:'name'))"></span>
                        <span class="content">
                            <span class="title" ng-style="{ color: item.subColor }">{{item.names | name:'title'}}</span>
                            <span class="name" ng-style="{ color: item.mainColor }">{{item.names | name:'name'}}</span>
                        </span>
                    </a>
                </sp-items-grid>
            </div>
        </div>

        <div class="loading-wrapper" ng-class="{ shown: homeCtrl.loadingComponentsPromise }">
            <img src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/loading.gif" alt="{{'Loading' | translate}}"/>
        </div>
    </div>
</div>
