$carouselHeight: 19em;
$carouselNewHeight: 21.875em;
$largeProductsCarouselHeight: 25em;
$largeProductsCarouselNewHeight: 26.5em;
$LinksCarouselHeight: 23.75em;
$sideImagesMargin: 0.625em;

$componentPadding: 4em;
$contentPadding: 3.5em;
$carouselArrowPadding: 0;
$carouselProductBorder: 1px solid #e5edec;
$titleAsItemPadding: .75em;
$componentArrowPadding: $componentPadding + $carouselArrowPadding;
$marginFromSideNav: $sidenavWidth + 1em;
$responsiveMarginFromSideNav: $responsiveSidenavWidth + 1em;
$carouselTitleItemWidth: 16em;

html.home, html.home > body {
  height: 100%;
}

html.home {
  section.main {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    height: auto;
    min-height: 100%;
  }

  section.view {
    flex: 1 1 auto;
    width: 100%;
    padding-top: 0;

    .home-page-wrapper {
      display: flex;
      flex-direction: column;

      padding-bottom: 3em;

      > .background-wrapper {
        box-sizing: border-box;

        transition: padding 0.3s linear;

        width: 100%;
        height: 23.4375em;

        .background {
          height: 100%;
          position: relative;
          width: 100%;

          > .img-wrapper {
            position: absolute;
            //top: 50%;
            width: 100%;
            height: 100%;

            > .img {
              position: absolute;
              display: block;
              width: 100%;
              height: 100%;
              background-position: center center;
              background-repeat: no-repeat;
              background-size: cover;
              opacity: 0;
              transition: 1s;

              border-radius: 5px;

              &.active {
                opacity: 1;
                z-index: 1;
              }
            }

            > .choose-image {
              position: absolute;
              left: 0;
              right: 0;
              bottom: 0;
              text-align: center;
              z-index: 9;

              display: flex;
              align-items: center;
              justify-content: center;
              gap: 12px;

              transform: translateY(100%) translateY(16px);

              > button {
                $size: 0.7em;
                width: $size;
                height: $size;
                border-radius: 100%;

                transition: background-color 0.3s linear;

                background-color: #C8C8C8;

                &.active {
                  background-color: #282828;
                }
              }
            }

            > .pause-auto-change {
              position: absolute;
              left: 0.5em;
              bottom: 0.5em;
              z-index: 3;

              display: none;
            }
          }
        }

        &.with-side-images {
          display: flex;
          padding-top: $sideImagesMargin;

          .side-images {
            flex: 0 0 auto;
            height: 100%;
            position: relative;
            box-sizing: border-box;
            padding-right: $sideImagesMargin;
            padding-left: $sideImagesMargin;

            > * {
              display: block;
              height: 50%;
              box-sizing: border-box;

              img {
                display: block;
                height: 100%;
              }
            }

            > .top-image {
              padding-bottom: $sideImagesMargin / 2;
            }

            > .bottom-image {
              padding-top: $sideImagesMargin / 2;
            }
          }

          .background {
            flex: 1 1 auto;

            > .img-wrapper > .img {
              background-position: left center;
            }
          }

          //** azure media player styles
          .azuremediaplayer-dimensions {
            width: auto !important;
          }
          // .video-background {}
          //**
        }
      }

      > .content {
        width: 100%;

        transition: padding 0.3s linear;

        padding-inline-start: $contentPadding;
        padding-inline-end: $sidenavWidth;
        padding-top: 4.5em;


        box-sizing: border-box;

        display: flex;
        flex-direction: column;
        gap: 2em;

        > .loading-wrapper {
          padding: 2em 0;
        }

        > .component {
          display: flex;
          flex-direction: column;
          gap: 1.5em;

          border-radius: 5px;

          padding-top: 1.3em;
          padding-bottom: .75em;

          &.item-as-title {
            justify-content: space-between;

            > .header-wrapper {
              justify-content: flex-end;

              padding-inline-end: .75em;
            }

            > .content-wrapper {
              gap: 0;

              &.has-sp-point-redemption {
                justify-content: space-between;
                > .sp-carousel {
                  width: calc(70% - #{$carouselTitleItemWidth});
                }

                > .sp-point-redemption {
                  width: 30%;
                }
              }

              > .sp-carousel {
                width: calc(100% - #{$carouselTitleItemWidth})
              }
            }

            &.has-loyalty-member {
              > .content-wrapper {
                > .sp-carousel {
                  width: calc(70% - 18em);
                  flex: 1;
                }
              }
            }
          }

          &.loading {
            // render the element, but hide it while loading
            visibility: hidden;
            height: 0;
            padding-top: 0;
            padding-bottom: 0;
            overflow: hidden;
          }

          h2, h3, h4, h5 {
            padding: 0;
          }

          h2 {
            font-size: 1.875em;
          }

          h3, h5 {
            font-size: 0.875em;
            color: #4B4B4B;
            line-height: 1.3;
          }

          a.title-link {
            display: block;
            font-size: 0.875em;
            color: #747474;

            text-decoration: underline;
          }

          > .header-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 1em;

            padding-inline: .75em;

            > .header {
              display: flex;
              align-items: center;
              gap: 1em;

              flex: 1;
              > .title {
                flex: 1 1 auto;
  
                font-weight: 600;
  
                h3, h5 {
                  margin-top: 0.4286em;
                }
              }
  
              > .link {
                flex: 0 0 auto;
  
                margin-inline-end: 1em;
              }
            }
  
            > .carousel-btns-wrapper {
              display: flex;
              align-items: center;
              gap: 1em;

              > .action {
                height: 3.5em;
                width: 3.5em;
  
                padding: 0;
  
                > .loading-wrapper {
                  display: inline-block;
  
                  width: 100%;
                  height: 100%;
                }
  
                &.next {
                  button > svg {
                    transform: rotate(180deg);
                  }
                }
  
                button {
                  background-color: #E9E9E9;
  
                  border: none;
  
                  width: 100%;
                  height: 100%;
  
                  border-radius: 50%;
  
                  display: flex;
                  align-items: center;
                  justify-content: center;
  
                  &.disabled {
                    opacity: 1;
  
                    svg {
                      use {
                        fill: #CCCCCC;
                      }
                    }
                  }
  
                  & > svg {
                    width: 12.93px;
                    height: 19.83px;
  
                    use {
                      fill: #124781;
                    }
                  }
                }
              }
            }
          }

          > .content-wrapper {
            &.carousel-content {
              display: flex;
              flex-direction: row;
              gap: 12px;
            }

            &.has-sp-point-redemption {
              justify-content: space-between;
              > .sp-carousel {
                width: 70%;
              }

              > .sp-point-redemption {
                width: 30%;
              }
            }

            > .title-as-item {
              width: $carouselTitleItemWidth;

              flex: 0 0 auto;
              display: flex;
              flex-direction: column;
              justify-content: center;
              box-sizing: border-box;

              padding-inline-start: .75em;

              > h3, h5 {
                margin-top: 2em;

                width: 100%;
              }

              > a.title-link {
                margin-top: 1.7143em;
              }
            }

            > .sp-carousel,
            > .sp-point-redemption {
              height: $carouselHeight;

              &.new-promotion {
                height: $carouselNewHeight; 

                &.show-original-price {
                  height: $carouselNewHeight + 4em;
                }
              }

              &.large-products-carousel {
                height: $largeProductsCarouselHeight;

                &.new-promotion {
                  height: $largeProductsCarouselNewHeight;
                }
              }

              &.normal-products-carousel > .items {
                ng-include {
                  .carousel-component-product-item {
                    padding: .75em;
                    > sp-product {
                      box-shadow: 0px 1px 4px 0px #00000040;
                  
                      border-radius: 5px;
                      border: none;
                      .general-image-wrapper {
                        > span.out-of-stock.suggestions {
                          z-index: 3;
                          background: none;
                          font-size: 0.75em;
                          font-weight: 700;
                          left: 50%;
                          transform: translateX(-50%);
                    
                          &.text-1 {
                            color: #F86B2F;
                            top: 46%
                          }
                    
                          &.text-2 {
                            color: #505050;
                            top: 57%
                          }
                        }
                        .suggestions.outline {
                          left: 50%;
                          transform: translateX(-50%);
                        }
                      }
                    }
                  }
                }
              }

              &.specials-carousel {
                > .items {
                  ng-include.item {
                    .add-to-cart {
                      width: 90%;
                    }
  
                    .special-item {
                      box-shadow: none;

                      border: none;

                      padding: .75em;

                      > a.special, .special-product {
                        background-color: #fff;
                        
                        box-shadow: 0px 1px 4px 0px #00000040;
    
                        border-radius: 5px;

                        padding: 1.2em .5em;

                        box-sizing: border-box;

                        position: relative;

                        > .actions {
                          width: 100%;

                          padding-inline: 0.5em;

                          box-sizing: border-box;
                        }
                      }
                    }
                  }
                }
              }

              &.links-carousel {
                height: $LinksCarouselHeight + 1.5em;

                .items {
                  .scroller {
                    padding: 0;
                  }
                  .links-carousel-item {
                    padding: .75em;
                    a.link {
                      border-radius: 5px;

                      background-position: center bottom;

                      .gradient-background {
                        border-radius: 5px;
                      }
                      
                      .content {
                        bottom: 30px;
                      }
                    }
                  }
                }
              }

              > .items {
                &.isMultipleRows {
                  ng-include {
                    display: inline-flex;
                    flex-direction: column;
                    gap: 1.5em;
                  }
                }
                ng-include {
                  padding: 0;
  
                  overflow: visible;
  
                  .carousel-component-product-item {
                    padding: .75em;
                    > sp-product {
                      box-shadow: 0px 1px 4px 0px #00000040;
  
                      border-radius: 5px;

                      padding: 1.2em .5em;
                    }
                  }
                }
              }
            }

            .sp-carousel {
              width: 100%;
              .items {
                margin: 0;

                overflow: hidden;

                .transform-wrapper {
                  box-sizing: border-box;
                }
              }
            }

            > .sp-point-redemption {
              margin-inline-end: .75em;

              border-radius: 5px;
              > .loyalty-member-content {
                > .loyalty-heading {
                    font-size: 36px;
                    text-align: center;
                }
                > .loyalty-sub-heading {
                  text-align: center;
                  &.type-1 {
                    font-size: 20px;
                  }
                  &.type-2,
                  &.type-3 {
                    font-size: 12px;
                  }
                  > .loyalty-button-container {
                    &.type-3 {
                      > .loyalty-button-item {
                        > .member-loyalty-links {
                          > .coupons-description,
                          > .specials-description {
                            font-size: 14px;
                          }
                        }
                      }
                    }
                    > .loyalty-button-item {
                      > .member-loyalty-links {
                        > .coupons-description,
                        > .specials-description {
                          font-size: 14px;
                        }
                      }
                    }
                  }
                  > .loyalty-button-item {
                    &.has-one-button {
                      width: 55%;
                    }
                    > .member-loyalty-links {
                      > .coupons-icon,
                      > .specials-icon {
                        width: 30px;
                        height: 30px;
                      }
                      > .number-of-coupons,
                      > .number-of-specials {
                        font-size: 52px;
                      }
                      > .coupons-description,
                      > .specials-description,
                      > .regis-loyalty-description {
                        font-size: 14px;
                      }
                    }
                  }
                }
              }
            }

            &.posters-content {
              padding: .75em;

              text-align: start;
              > .poster {
                width: 50%;
                height: 25em;
                position: relative;
                display: inline-block;
                vertical-align: top;
  
                > .link {
                  display: block;
                  height: 100%;
                  width: 100%;
  
                  > .image {
                    height: 100%;
                    width: 100%;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
  
                    border-radius: 5px;
                  }
                }
  
                > .content {
                  height: 100%;
                  width: 100%;
  
                  background-color: #333333;
  
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  justify-content: center;
                  gap: 24px;
  
                  padding: 2em;
                  box-sizing: border-box;
  
                  text-align: center;
  
                  border-radius: 5px;
  
                  h2 {
                    margin-bottom: 16px;
                    
                    font-weight: 700;
                  }
  
                  > h3, h5 {
                    color: #fff;
  
                    width: 50%;
                  }
  
                  > a.title-link {
                    background-color: transparent;
                    color: #fff;
  
                    margin: 0;
                  }
                }
              }
            }

            &.links-content {
              padding: .75em;
              sp-items-grid {
                display: grid;
                grid-template-columns: auto auto auto auto;
                grid-template-rows: auto auto;
                gap: 0.5em;

                > .sp-grid-item {
                  height: 16em;
                  width: 100% !important;

                  &:first-child {
                    grid-column: 1/3;
                  }
                  &:nth-child(2) {
                    grid-column: 3/5;
                  }
                  &:nth-child(4) {
                    grid-column: 2/4;
                  }

                  > a {
                    display: block;
                    height: 100%;
                    width: 100%;
                    position: relative;
    
                    border-radius: 5px;
    
                    background-color: #C3AA5A;
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: cover;
    
                    > .transparent-background {
                      display: block;
                      width: 100%;
                      height: 100%;
                      background-color: rgba(0, 0, 0, 0.3);
    
                      border-radius: 5px;
                    }
    
                    > .content {
                      position: absolute;
                      bottom: 0;
                      left: 0;

                      height: 100%;
                      width: 100%;

                      display: flex;
                      flex-direction: column;
                      align-items: center;
                      justify-content: center;

                      color: #ffffff;
                      text-align: center;

                      > * {
                        display: block;
                      }
    
                      > .title {
                        font-size: 1.125em;
                      }
    
                      > .name {
                        font-size: 1.5em;
                        font-weight: bold;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  section.view .home-page-wrapper > .background-wrapper {
    padding-inline-end: $sidenavWidth + .75em;
  }

  &.rtl section.view .home-page-wrapper {
    .background-wrapper {
      &.with-side-images .background > .img-wrapper > .img {
        background-position: right center;
      }

      .background > .img-wrapper > .pause-auto-change {
        left: auto;
        right: 0.5em;
      }
    }

    > .content {
      > .component {
        > .header-wrapper {
          > .carousel-btns-wrapper {
            > .action {
              &.previous {
                button > svg {
                  transform: rotate(180deg);
                }
              }
      
              &.next {
  
                button > svg {
                  transform: rotate(0deg);
                }
              }
            }
          }
        }
        > .content-wrapper {
          &.carousel-content {
            > .sp-point-redemption {
              > .loyalty-member-content {
                > .loyalty-button-container {
                  > .loyalty-button-item {
                    > .member-loyalty-links {
                      > .coupons-description,
                      > .specials-description {
                        text-align: right;
                      }
                      > svg {
                        transform: translateY(-100%) rotate(180deg);
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  &.close-sidenav, &.hide-sidenav {
    &.ltr, &.rtl {
      section.view .home-page-wrapper > .content {
        padding-inline: $contentPadding;
      }
      section.view .home-page-wrapper > .background-wrapper {
        padding-inline: 0;
      }
    }

    &.ltr section.view .home-page-wrapper > .content {
      > .component {
        &.has-loyalty-member {
          > .content-wrapper {
            > .sp-carousel {
              width: 70%;
            }

            > .sp-point-redemption {
              width: 30%;
            }
          }
        }
        > .content-wrapper.carousel-content {
          > .sp-point-redemption {
            > .loyalty-member-content {
              > .loyalty-heading {
                font-size: 48px;
                &.type-3 {
                  font-size: 42px;
                }
              }
              > .loyalty-button-container {
                > .loyalty-button-item {
                  &.has-one-button {
                    width: 60%;
                  }
                  > .member-loyalty-links {
                    > .coupons-icon,
                    > .specials-icon {
                      width: 32px;
                      height: 32px;
                    }
                    > .member-loyalty-links {
                      > .coupons-icon,
                      > .specials-icon {
                        width: 32px;
                        height: 32px;
                      }
                      > .number-of-coupons,
                      > .number-of-specials {
                        font-size: 52px;
                      }
                      > .coupons-description,
                      > .specials-description {
                        font-size: 14px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    &.rtl section.view .home-page-wrapper > .content {
      > .component {
        > .content-wrapper.carousel-content {
          > .sp-point-redemption {
            > .loyalty-member-content {
              > .loyalty-heading {
                font-size: 48px;
              }
              > .loyalty-button-container {
                > .loyalty-button-item {
                  > .member-loyalty-links {
                    > .coupons-icon,
                    > .specials-icon {
                      width: 32px;
                      height: 32px;
                    }
                    > .number-of-coupons,
                    > .number-of-specials {
                      font-size: 52px;
                    }
                    > .coupons-description,
                    > .specials-description {
                      font-size: 14px;
                      text-align: right;
                    }
                    > svg {
                      transform: translateY(-100%) rotate(180deg);
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1500px) {
  html.home {
    > section.view .home-page-wrapper > .content > .component > .content-wrapper.posters-content > .poster {
      height: 25em;
    }

    &.ltr section.view .home-page-wrapper > .content,
    &.rtl section.view .home-page-wrapper > .content {
      > .component > .header, > .component {
        > .content-wrapper.carousel-content { 
          > .sp-point-redemption {
            > .loyalty-member-content {
              > .loyalty-button-container {
                > .loyalty-button-item {
                  &.has-one-button {
                    width: 65%;
                  }
                }
              }
            }
          }
        }
      }
    }
    &.close-sidenav, &.hide-sidenav {
      &.ltr section.view .home-page-wrapper > .content,
      &.rtl section.view .home-page-wrapper > .content {
        > .component {
          > .content-wrapper.carousel-content {
            > .sp-point-redemption {
              > .loyalty-member-content {
                > .loyalty-heading {
                  font-size: 42px;
                }
                > .loyalty-sub-heading {
                  font-size: 12px;
                }
                > .loyalty-button-container {
                  > .loyalty-button-item {
                    &.has-one-button {
                      width: 50%;
                    }
                    > .member-loyalty-links {
                      > .coupons-icon,
                      > .specials-icon {
                        width: 28px;
                        height: 28px;
                      }
                      > .number-of-coupons,
                      > .number-of-specials {
                        font-size: 48px;
                      }
                    }
                  }
                }
  
              }
            }
          }
        }
      }
    }
  } 
}

@media screen and (max-width: 1024px) {
  html.home {
    > section.view .home-page-wrapper > .content > .component > .content-wrapper.posters-content > .poster {
      height: 21em;
      width: 100%;
    }

    section.view .home-page-wrapper > .background-wrapper {
      height: 21.187em;
      
      padding-inline-end: $responsiveSidenavWidth + .75em;
    }

    &.ltr section.view .home-page-wrapper > .content,
    &.rtl section.view .home-page-wrapper > .content {
      padding-inline-start: 2em;
      padding-inline-end: $responsiveSidenavWidth;
      > .component {
        &.item-as-title {
          > .content-wrapper.carousel-content {
            > .title-as-item {
              width: 10em;
            }
          }
        }
        > .content-wrapper.carousel-content { 
          > .sp-point-redemption {
            > .loyalty-member-content {
              > .loyalty-button-container {
                > .loyalty-button-item {
                  &.has-one-button {
                    width: 60%;
                  }
                }
              }
            }
          }
        }
      }

      > .component {
        &.item-as-title {
          > .content-wrapper {
            &.has-sp-point-redemption {
              > .sp-carousel {
                width: calc(55% - 10em);
              }
  
              > .sp-point-redemption {
                width: 45%;
              }
            }
            > .sp-carousel {
              width: calc(100% - 10em);
            }
          }
        }
        > .content-wrapper {
          &.has-sp-point-redemption {
            > .sp-carousel {
              width: 55%;
            }

            > .sp-point-redemption {
              width: 45%;
            }
          }
        }
      }
    }

    &.close-sidenav, &.hide-sidenav {
      &.ltr section.view .home-page-wrapper > .content  {
        > .component {
          > .content-wrapper.carousel-content {
            > .sp-point-redemption {
              > .loyalty-member-content {
                > .loyalty-button-container {
                  > .loyalty-button-item {
                    &.has-one-button {
                      width: 45%;
                    }
                  }
                }
              }
            }
          }

          &.item-as-title.has-loyalty-member {
            > .content-wrapper {
              > .sp-carousel {
                width: calc(40% - 8em);
              }
  
              > .sp-point-redemption {
                width: 60%;
              }
            }
          }
  
          &.has-loyalty-member {
            > .content-wrapper {
              > .sp-carousel {
                width: 40%;
              }
  
              > .sp-point-redemption {
                width: 60%;
              }
            }
          }
        }
      }
      &.rtl section.view .home-page-wrapper > .content  {
        > .component {
          > .content-wrapper.carousel-content {
            > .sp-point-redemption {
              > .loyalty-member-content {
                > .loyalty-button-container {
                  > .loyalty-button-item {
                    &.has-one-button {
                      width: 40%;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  html.home {
    &.close-sidenav, &.hide-sidenav {
      &.ltr section.view .home-page-wrapper > .content,
      &.rtl section.view .home-page-wrapper > .content  {
        > .component {
          > .content-wrapper.carousel-content {
            &.he {
              > .sp-point-redemption {
                > .loyalty-member-content {
                  > .loyalty-heading {
                    font-size: 36px;
                  }
                  > .loyalty-button-container {
                    > .loyalty-button-item {
                      > .member-loyalty-links {
                        > .coupons-icon,
                        > .specials-icon {
                          width: 24px;
                          height: 24px;
                        }
                        > .number-of-coupons,
                        > .number-of-specials {
                          font-size: 42px;
                        }
                      }
                    }
                  }
                }
              }
            }
            > .sp-point-redemption {
              > .loyalty-member-content {
                > .loyalty-heading {
                  font-size: 36px;
                }
                > .loyalty-button-container {
                  > .loyalty-button-item {
                    &.has-one-button {
                      width: 50%;
                      > .member-loyalty-links {
                        > .number-of-coupons,
                        > .number-of-specials {
                          font-size: 52px;
                        }
                      }
                    }
                    > .member-loyalty-links {
                      > .coupons-icon,
                      > .specials-icon {
                        width: 24px;
                        height: 24px;
                      }
                      > .number-of-coupons,
                      > .number-of-specials {
                        font-size: 42px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
