<div class="dropdown-arrow-wrapper"><span class="arrow"></span></div><!--
--><div class="dropdown-items-wrapper" ng-class="{'with-specials': sliderPickerCtrl.dropDownItem.dropDown.withSpecials}"><!--
    --><h3 class="title">{{:: (picker.deliveryMethod.id === $root.SP_SERVICES.DELIVERY_TYPES.DELIVERY ? 'Delivery Time' : 'Pickup Time') | translate}}</h3><!--
    --><div ng-if="$root.config.retailer.isAsapActive && !sliderPickerCtrl.isFromEditOrder" class="asap"><!--
    sp-disabled="spModel[picker.key] != dropDownItem.value"
        --><sp-checkbox sp-model="sliderPickerCtrl.dropDownItem.value.asap"
                        sp-change="sliderPickerCtrl.dropDownItem.value.asap && sliderPickerCtrl.selectDropDownItem(sliderPickerCtrl.dropDownItem.dropDown.items[0])"
                        ng-click="$event.stopPropagation()" tabindex="-1">
            {{picker.delivery ? ('Send the delivery sooner, if possible' | translate) : ('Prepare the order sooner, if possible' | translate)}}
        </sp-checkbox><!--
    --></div><!--
    --><div class="dropdown-items" role="radiogroup" aria-label="{{('select ' + (picker.deliveryMethod.id === $root.SP_SERVICES.DELIVERY_TYPES.DELIVERY ? 'delivery' : 'pickup') + ' time') | translate}}"><!--
        --><label ng-repeat="item in sliderPickerCtrl.dropDownItem.dropDown.items | orderBy:('fromDisplay' || 'from')"
                class="dropdown-item"
                ng-class="{
                    'selected': (spModel[sliderPickerCtrl.dropDownItem.dropDown.key] == (item.value || item) || sliderPickerCtrl.isDefaultTimeDropDown($index, sliderPickerCtrl.dropDownItem.value.date, sliderPickerCtrl.dropDownItem.dropDown.key)),
                    'full': item.disabled,
                    'specials': !!item.specials.length,
                    'focus': item._inFocus
                }"><!--
                --><span class="input-wrapper">
                    <input type="radio" role="radio"
                           ng-model="spModel[sliderPickerCtrl.dropDownItem.dropDown.key]"
                           ng-value="item.value || item"
                           ng-change="sliderPickerCtrl.selectDropDownItem(item, $root.config.retailer.isAsapActive ? $event : '');"
                           ng-focus="item._inFocus = true"
                           ng-blur="item._inFocus = false"
                           ng-disabled="item.disabled"
                           name="dropdown-item-radio-button"
                           aria-checked="{{spModel[sliderPickerCtrl.dropDownItem.dropDown.key] == (item.value || item)}}">
                </span><!--

                -->
    <span class="dropdown-item-content"><!--
                    --><span ng-if="item.specials && item.specials.length" class="specials-wrapper"><!--
                        --><sp-sale-icon product-special="item.specials[0]" without-actions="true"></sp-sale-icon><!--
                        --><span class="specials-tooltip"><!--
                            --><span class="specials-content">
                                <span class="special-content" ng-repeat="special in item.specials">
                                    <sp-sale-icon product-special="special" without-actions="true"></sp-sale-icon>
                                    <span class="description">
                                        * {{special.descriptions && special.descriptions[$root.config.language.culture] ? special.descriptions[$root.config.language.culture] : special.description}}
                                    </span>
                                </span>
                            </span><!--
                            --><span class="specials-arrow"></span><!--
                        --></span><!--
                    --></span><!--
                    --><span class="time">{{item.label}}</span><!--
                    --><span class="border"></span><!--
                    --><span class="price">{{(item.price !== 0 ? (item.price | currency) : '')}} {{(item.price == 0 ? 'Free' : 'Cost') | translate}}</span><!--
                --></span><!--
                --><span class="two-hour-law" ng-if="spModel[sliderPickerCtrl.dropDownItem.dropDown.key] == (item.value || item) && $root.config.retailer.twoHourLaw && picker.deliveryMethod.id == $root.SP_SERVICES.DELIVERY_TYPES.DELIVERY"><!--
                    --><span>{{'the waiting period will not exceed two hours' | translate}}</span><!--
                --></span><!--
        --></label><!--
    --></div><!--
--></div><!--