.slider-primary-item-btn {
  &:hover {
    .dropdown-options-wrapper .dropdown-options {
      display: block;
    }
  }

  .dropdown-options-wrapper {
    .ltr & {
      margin-left: -4.78125em;
    }
    .rtl & {
      margin-right: -4.78125em;
    }

    .dropdown-options {
      height: 7em;
      padding: 1em 0.3em;
      font-size: 0.8em;
      color: #1f0000;
      white-space: normal;

      .ltr & {
        text-align: left;
      }
      .rtl & {
        text-align: right;
      }

      .special-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: start;

        .sp-sale-icon {
          position: relative;
          left: auto;
          right: auto;
          top: auto;
          bottom: auto;
          height: 2em;
          width: 2em;
          margin: 0 0.2em;
        }
      }
    }
  }
}


