<div class="item-wrapper"
     ng-init="ingredientProduct = chunk[0]"
     sp-focus-in
     tabindex="0"
     aria-labelledby="{{'recipe_item_' + ingredientProduct.product.id + '_name'}}">
    <span class="for-vertical-align"></span><!--
    --><span class="quantity">
        {{$root.util.isWeightQuantity(ingredientProduct.product) ? (ingredientProduct.product | productWeight:false:null:ingredientProduct.quantity) : ingredientProduct.quantity}}
    </span><!--
    --><product-image product="ingredientProduct.product" image-key="images" size="small"></product-image><!--
    --><span class="name">
        <span class="brand">{{ingredientProduct.product.brand.names | name}}</span>
        <span class="name" id="{{'recipe_item_' + ingredientProduct.product.id + '_name'}}" ellipsis title="{{(ingredientProduct.product.names | name).short || ingredientProduct.name}}"></span>
        <span class="weight" ng-if="ingredientProduct.product.weight">{{ ingredientProduct.product | productWeight }}</span>
    </span><!--
    --><sp-product-price class="reverse-text-align"
            regular-price="ingredientProduct.product | regularPrice"
            sale-price="ingredientProduct.product | salePrice"
            show-weight-unit="ingredientProduct.product.isWeighable"
            product="ingredientProduct.product"
            hide-normalize-price="false">
    </sp-product-price>

    <div class="actions portrait">
        <sp-quantity ng-click="$event.stopPropagation();"
                     cart-line="ingredientProduct"
                     hide-cart="true"
                     hide-weight="true"
                     on-plus="functions.addQuantity(ingredientProduct, 1)"
                     on-minus="functions.addQuantity(ingredientProduct, -1)"
                     on-change="true"
                     design="portrait"
                     min-quantity="0"
                     tabindex="-1"
                     role="">
        </sp-quantity>
    </div>
    <div class="add-to-cart">
        <span class="for-vertical-align"></span><!--
        --><sp-arrows-button color="white" ng-click="functions.addToCart(ingredientProduct)" aria-label="{{('add to cart' | translate).replace('{cart}', $root.config.retailer.settings.setCartNameToBasket ? $root.config.retailer.settings.setCartNameToBasket : 'cart')}}"></sp-arrows-button>
    </div>
</div>
