<sp-sale-icon product="item.item" special="item" ng-if="$root.config.retailer.settings.isNewPromotionDesignEnabled !== 'true'"></sp-sale-icon>

<a class="special default-text-align clickable" ng-if="!$root.util.isSingleItemSpecial(item)" tabindex="-1" role="presentation" ng-click="$event.currentTarget.blur();">
    <h2 class="sr-only-element">{{($root.config.retailer.settings.showPriceWithoutBottleDeposit &&
            item.names[$root.config.language.id].nameWithoutDeposit) ?
            item.names[$root.config.language.id].nameWithoutDeposit : item.names[$root.config.language.id].name}}</h2>
    <span class="for-vertical-align" ng-if="$root.config.retailer.settings.isNewPromotionDesignEnabled !== 'true'"></span>
    <product-image product="item" image-key="frontendImageUrl" size="medium" details="true" is-product-out-of-stock="{{ item.branch.isOutOfStock || item.item.branch.isOutOfStock }}"></product-image>
    <div class="data" ng-if="$root.config.retailer.settings.isNewPromotionDesignEnabled !== 'true'">
        <div class="name highlight" special-description-split="{{item.description}}" use-ellipsis="true"></div>
        <div class="action-title">{{'Select from variety' | translate}}</div>
        <div class="experation highlight" ng-if="$root.config.retailer.showSpecialsValidity">
            {{'special_exp' | translate}}
            {{item.endDate | date: ($root.config.isUs ? 'MM/dd/yyyy' : 'dd/MM/yyyy'):'UTC'}}
        </div>
    </div>
    <div class="promotion" ng-if="$root.config.retailer.settings.isNewPromotionDesignEnabled === 'true'">
        <sp-promotion special="item" is-special="true"></sp-promotion>
        <span class="promotion-description" ng-if="item.names[$root.config.language.id].name || item.names[$root.config.language.id].nameWithoutDeposit" ng-bind="($root.config.retailer.settings.showPriceWithoutBottleDeposit && item.names[$root.config.language.id].nameWithoutDeposit) ? item.names[$root.config.language.id].nameWithoutDeposit : item.names[$root.config.language.id].name"></span>
        <div class="original-price-wrapper" ng-if="$root.util.isShowOriginalPriceEnabled()"></div>
        <div class="promotion-info" ng-if="$root.config.retailer.showSpecialsValidity || item.names[$root.config.language.id].limitText">
            <span class="realizations" ng-if="item.names[$root.config.language.id].limitText" ng-bind="item.names[$root.config.language.id].limitText"></span>
            <span class="expiration highlight" ng-if="$root.config.retailer.showSpecialsValidity">
                {{'special_exp_new' | translate}}
                {{item.endDate | date: ($root.config.isUs ? 'MM.dd.yyyy' : 'dd.MM.yyyy'):'UTC'}}
            </span>
        </div>
    </div>
    <div class="actions landscape show-on-hover">
        <button class="no-design add-to-cart select">
            <span class="text">{{::'Select' | translate}}</span>
            <div class="icons">
                <img class="cart" src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/cart_small.png" alt="">
            </div>
        </button>
    </div>
</a>

<div class="special-product default-text-align clickable" ng-if="$root.util.isSingleItemSpecial(item)" ng-click="$event.currentTarget.blur();">
    <h2 class="sr-only-element">{{($root.config.retailer.settings.showPriceWithoutBottleDeposit &&
            item.names[$root.config.language.id].nameWithoutDeposit) ?
            item.names[$root.config.language.id].nameWithoutDeposit : item.names[$root.config.language.id].name}}</h2>
    <img class="product-main-tag-icon" ng-if="item.item | productMainTag:(boostProductTags || $root.PermanentFilters.values[$root.PermanentFilters.TYPES.PRODUCT_TAGS])"
         ng-src="{{(item.item | productMainTag:(boostProductTags || $root.PermanentFilters.values[$root.PermanentFilters.TYPES.PRODUCT_TAGS])).languages | name:'iconResourceUrl'}}"
         alt="{{(item.item | productMainTag:(boostProductTags || $root.PermanentFilters.values[$root.PermanentFilters.TYPES.PRODUCT_TAGS])).languages | name:'displayName'}}"/>
    <span class="for-vertical-align" ng-if="$root.config.retailer.settings.isNewPromotionDesignEnabled !== 'true'"></span>
    <product-image product="item" image-key="frontendImageUrl" size="medium" details="true" is-product-out-of-stock="{{ item.branch.isOutOfStock || item.item.branch.isOutOfStock }}"></product-image>
    <sp-product-pricing-method is-case="item.item.isCaseMode" is-pack="isPack" product="item.item" ng-if="$root.config.retailer.settings.isNewPromotionDesignEnabled !== 'true'"></sp-product-pricing-method>
    <div class="data" ng-if="$root.config.retailer.settings.isNewPromotionDesignEnabled !== 'true'">
        <div class="description highlight" special-description-split="{{item.description}}" use-ellipsis="true"></div>
        <div class="brand-and-weight">
            <span class="brand">{{item.item.brand.names | name}} {{item.item.brand.names && item.item.weight ? ' | ' : ''}}</span>
            <span class="weight reverse-text-align" ng-if="item.item.weight">
                {{ item.item | productWeight }}
            </span>
        </div>
        <div class="name" ellipsis title="{{item.item | productName}}"></div>
        <sp-product-price regular-price="item.item | regularPrice"
                        sale-price="item.item | salePrice"
                        product="item.item"
                        pack-quantity="isPack && item.item.branch.packQuantity">
        </sp-product-price>
        <div class="experation highlight" ng-if="$root.config.retailer.showSpecialsValidity">
            {{'special_exp' | translate}}
            {{item.endDate | date: ($root.config.isUs ? 'MM/dd/yyyy' : 'dd/MM/yyyy'):'UTC'}}
        </div>
    </div>
    <div class="promotion" ng-if="$root.config.retailer.settings.isNewPromotionDesignEnabled === 'true'">
        <sp-promotion product="item.item" is-special="true"></sp-promotion>
        <span class="promotion-description" ng-if="item.names[$root.config.language.id].name || item.names[$root.config.language.id].nameWithoutDeposit" ng-bind="($root.config.retailer.settings.showPriceWithoutBottleDeposit && item.names[$root.config.language.id].nameWithoutDeposit) ? item.names[$root.config.language.id].nameWithoutDeposit : item.names[$root.config.language.id].name"></span>
        <div class="original-price-wrapper" ng-if="$root.util.isShowOriginalPriceEnabled()">
            <sp-product-price regular-price="item.item | regularPrice"
                product="item.item" pack-quantity="isPack && item.item.branch.packQuantity">
            </sp-product-price>
        </div>
        <div class="promotion-info" ng-if="$root.config.retailer.showSpecialsValidity || item.names[$root.config.language.id].limitText">
            <span class="realizations" ng-if="item.names[$root.config.language.id].limitText" ng-bind="item.names[$root.config.language.id].limitText"></span>
            <span class="expiration highlight" ng-if="$root.config.retailer.showSpecialsValidity">
                {{'special_exp_new' | translate}}
                {{item.endDate | date: ($root.config.isUs ? 'MM.dd.yyyy' : 'dd.MM.yyyy'):'UTC'}}
            </span>
        </div>
    </div>
    <product-actions class="show-on-hover"
        text="{{::'Add' | translate}}"
        cart="$root.cart"
        product="item.item"
        is-case="false"
        is-pack="isPack" hide-cart="true"
        ng-click="$event.stopPropagation();"
        hide-add-button="!!item.item.productProperties && !!item.item.productProperties.length"
        open-product="clickOnItem(item, $index)">
    </product-actions>
</div>
