.special-item {
  position: relative;
  @include box-sizing(border-box);
  padding: 0.5em;
  height: 50%;
  text-align: center;
  border: solid #dddddd;
  border-width: 0 1px 1px 0;

  .original-price-wrapper{
    height: 2.3em;
    >div{
      .normalize-price {
        margin-top: 0.25em;
      }
    }
  }

  .out-of-stock {
    position: absolute;
    top: 50%;
    height: 2em;
    line-height: 2em;
    padding: 0 0.4em;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    margin-top: -0.75em;
    color: #ffffff;
    font-size: 0.75em;
    white-space: nowrap;
    background-color: #F86B2F;
    width: auto;
    left: 50%;
    transform: translateX(-50%);
    opacity: 1;
  }

  .disabled {
    opacity: 0.35;
    pointer-events: none;
  }

  .new-promotion & {
    padding: 1.2em 0.5em;
  }

  > .sale-icon {
    position: absolute;
    left: 1em;
    top: 0.3em;
    height: 2.5em;
    width: 2.5em;
    z-index: 1;
  }

  > a.special {
    position: relative;
    display: flex;
    height: 100%;

    > *:not(.for-vertical-align) {
      display: inline-block;
      vertical-align: middle;
    }

    > .image-wrapper {
      height: 100%;
      width: 45%;
      text-align: center;
      padding: 1em;
      @include box-sizing(border-box);
    }

    > .data {
      height: 100%;
      width: 55%;
      box-sizing: border-box;

      > .name {
        font-weight: 700;
        height: 45%;
      }

      > .action-title {
        height: 45%;
        color: #737373;
        font-weight: 400;
        font-size: 0.813em;
      }

      > .experation {
        height: 10%;
        font-size: 0.7em;
        font-weight: 700;
        text-align: left;
      }
    }
  }

  > .special-product {
    position: relative;
    display: flex;
    height: 100%;

    > * {
      @include box-sizing(border-box);
      display: inline-block;
      vertical-align: middle;
    }

    > .image-wrapper {
      width: 45%;
      height: 100%;
      padding: 1em;
      @include box-sizing(border-box);
    }

    > .product-pricing-method {
      right: -0.5em;
      bottom: 0.2em;

      > button {
        font-size: 0.8rem;
        font-weight: 600;
        &:first-child {
          border-radius: $pricingMethodButtonsBorderRadius 0 0 0;
        }
        &:last-child {
          border-radius: 0 0 0 $pricingMethodButtonsBorderRadius;
        }
      }
    }

    > .data {
      width: 55%;
      height: 100%;

      .brand-and-weight{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        > .brand, > .weight {
          color: #adadad;
          font-size: 0.688em;
          font-weight: 400;
          display: inline-block;
          padding-top: 4%;
          height: 12%;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }

      > .name, > .description {
        color: #737373;
        font-weight: 400;
        height: 27%;
      }

      > .name {
        font-size: 0.813em;
        line-height: 1.2em;
      }

      > .description {
        font-size: 1em;
        font-weight: 700;
      }

      > .sp-product-price, > .experation {
        font-size: 0.875em;
        text-align: left;
      }

      > .sp-product-price {
        height: 21%;
      }

      > .experation {
        height: 15%;
      }

      > .experation {
        font-weight: bold;
        font-size: 0.65em;
      }
    }
  }

  .new-promotion & {
    a.special,
    .special-product {
      width: 100%;
      height: 100%;
      display: block;
      position: initial;

      > .image-wrapper {
        width: 90%;
        height: 53%;
        padding: 0;
        padding-bottom: 1.5em;
        margin-top: 5%;
        margin-right: 5%;
        margin-left: 5%;
      }

      > .promotion {
        display: grid;

        > .promotion-description {
          height: 2.5em;
          line-height: 1.25em;
          display: grid;
          align-items: center;
          margin: 0.75em 0 0.5em;
          font-size: 14px;
          @include ellipsis(2);
        }

        > .promotion-info {
          display: grid;
          grid-row-gap: 0.5em;
          padding: 0.5em 0;
          font-size: 12px;
          color: #78797A;
          border-top: 1px dashed #A0A0A0;

          > .realizations,
          > .expiration {
            color: #78797a;
            font-size: 12px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

          }
        }
      }

      > .actions {
        width: 100%;
        height: 2.313em;
        position: absolute;
        left: 0;
        top: 40%;
        text-align: center;
        @include transition(0.2s);
  
        > button.add-to-cart, > div.sp-quantity {
          width: 10.625em;
          height: 100%;
        }
  
        > * {
          width: 3em;
          vertical-align: middle;
        }
      }
    }
  }

  > * > .actions {
    position: absolute;
    bottom: 0.2em;
    left: 0;
    width: 7em;
    
    > .select {
      text-align: center;
      padding: 0;
    }

    > .sp-quantity {
      //font-size: 0.8em;
      width: 9.85em;

      > .est-weight {
        font-size: 0.7em;
      }
    }

    > .add-to-cart {
      width: 100%;
    }
  }

  .show-on-hover {
    @include opacity(0);
    @include transition(opacify 0.4s);
  }

  &:hover, &:focus-within, &.focus-mode {
    a.special, .special-product {
      .show-on-hover {
        @include opacity(1);
      }
    }

    .out-of-stock-tag {
      visibility: hidden;
      transition: 0 0.3s ease-in-out;
    }
    
    // .general-image-wrapper {
    //   visibility: hidden;
    //   transition: 0 0.3s ease-in-out;
    // }
  }

  .specials-carousel & {
    .data {
      .sp-product-price {
        height: 23%;

        .normalize-price {
          margin-top: 0.2em;
        }
      }
    }
  }
}

.rtl .special-item {
  > .sale-icon {
    left: auto;
    right: 1em;
  }

  > * > .actions {
    left: auto;
    right: 0;
  }

  > .special-product > .product-pricing-method {
    left: -0.5em;
    right: auto;

    > button {
      &:first-child {
        border-radius: 0 $pricingMethodButtonsBorderRadius 0 0;
      }
      &:last-child {
        border-radius: 0 0 $pricingMethodButtonsBorderRadius 0;
      }
    }
  }
}
