<div ng-if="!addToShopListCtrl.createNewList">
    <h4 id="add_to_list_dialog_title" ng-bind="::'Choose shopping list' | translate"></h4>
    <div>
        <sp-dropdown sp-model="addToShopListCtrl.shopList" class="transparent-arrow input">
            <sp-text>
                {{addToShopListCtrl.shopList ? addToShopListCtrl.shopList.name : ('Choose list' | translate)}}
            </sp-text>
            <sp-option ng-repeat="list in addToShopListCtrl.shopLists" sp-value="list">
                {{list.name}}
            </sp-option>
        </sp-dropdown>
    </div>
    <div class="buttons">
        <a class="left"
           href="javascript:"
           ng-click="addToShopListCtrl.createNewList=true;"
           ng-bind="::'Create new list' | translate">
        </a>
        <button
            class="right"
            ng-click="addToShopListCtrl.chooseList()"
            ng-bind="::'Add products' | translate">
        </button>
        <div class="clear"></div>
    </div>
</div>
<div ng-if="addToShopListCtrl.createNewList">
    <h4 ng-bind="::'Create shopping list' | translate"></h4>
    <div>
        <input ng-model="addToShopListCtrl.name" type="text" placeholder="{{::'List name' | translate}}"/>
    </div>
    <div class="buttons">
        <a class="left" href="javascript:" ng-click="addToShopListCtrl.createNewList=false;" ng-bind="::'Choose exist list' | translate"></a>
        <button class="right" ng-click="addToShopListCtrl.createList()" ng-bind="::'Create list' | translate"></button>
        <div class="clear"></div>
    </div>
</div>