.dialog.add-to-shop-list .dialog-body {
  width: 20em;
  overflow: visible;

  > div > * {
    padding-top: 0;
    padding-bottom: 1em;

    &.buttons {
      padding-bottom: 0;

      > .left {
        padding-top: 0.25em;
      }
    }
  }
}