<div class="sitemap">
    <div>
        <h1 class="detail-title left" id="page_title">{{'Sitemap' | translate}}</h1>
    </div>
    
    <div class="clear"></div>
    
    <div>
        <h2>{{'Pages' | translate}}</h2>

        <ul>
            <li>
                <a class="link-page" ui-sref="app.home">{{'Home' | translate}}</a>
            </li>
        </ul>

        <ul ng-if="$root.config.retailer.toolbar && $root.config.retailer.toolbar.length">
            <li ng-repeat="link in $root.config.retailer.toolbar">
                <a class="link-page" ui-sref="app.links({linkId: link.id})" ng-if="!sitemapCtrl.isInternalUrl(link.url)">{{::link.name}}</a>
                <a class="link-page" ng-href="{{link.url}}" ng-if="sitemapCtrl.isInternalUrl(link.url)">{{::link.name}}</a>
            </li>
        </ul>

        <ul ng-if="$root.config.retailer.publishedWebPages && $root.config.retailer.publishedWebPages.length">
            <li ng-repeat="webPage in $root.config.retailer.publishedWebPages">
                <a class="link-page" ui-sref="app.webPage({id: webPage.id})">{{webPage.name}}</a>
            </li>
        </ul>
    
        <div ng-if="sitemapCtrl.user.session.userId">
            <ul>
                <li ng-if="$root.isThereSmartList">
                    <a class="link-page" ui-sref="app.smartList">{{'The products I usually purchase' | translate}}
                    </a>
                </li>
                <li>
                    <a class="link-page" ui-sref="app.ordersHistory">{{'Previous Orders' | translate}}</a>
                </li>
                <li>
                    <a class="link-page" ui-sref="app.shopLists">{{'My Shopping Lists' | translate}}</a>
                </li>
            </ul>
        </div>

        <ul>
            <li ng-if="$root.config.retailer.settings.contactUsText && $root.config.retailer.settings.contactUsText.length">
                <a class="link-page" ui-sref="app.retailerDetails.contact-details">{{'Contact Details' | translate}}</a>
            </li>
            <li ng-if="sitemapCtrl.isActiveFaqLink">
                <a class="link-page" ui-sref="app.retailerDetails.faq">{{'FAQ' | translate}}</a>
            </li>
            <li>
                <a class="link-page" ui-sref="app.retailerDetails.times">{{ $rootScope.config.retailer.pickup && !$rootScope.config.retailer.delivery ? 'Pickup Times & Areas' : 'Delivery Times & Areas' | translate }}</a>
            </li>
            <li>
                <a class="link-page" ui-sref="app.retailerDetails.storeInformation">{{ $rootScope.config.retailer.branches.length > 1 ? 'Stores Info' : 'Store Info' | translate }}</a>
            </li>
        </ul>

        <ul>
            <li ng-if="$root.config.retailer.settings.accessibilityStatement">
                <a class="link-page" ui-sref="app.accessibilityStatement">{{'Accessibility Statement' | translate}}</a>
            </li>
            <li ng-if="$root.config.retailer.settings.privacyText">
                <a class="link-page" ui-sref="app.policies">{{'Privacy Policy' | translate}}</a>
            </li>
            <li>
                <a class="link-page" ui-sref="app.about">{{'About Us' | translate}}</a>
            </li>
            <li ng-if="$root.config.retailer.settings.agreementText">
                <a class="link-page" ui-sref="app.termsAndConditions">{{'Terms & conditions' | translate}}</a>
            </li>
            <li ng-if="$root.isThereSpecialsCategory">
                <a class="link-page" ui-sref="app.specials">{{'Specials' | translate | retailerNameReplacement}}</a>
            </li>
            <li ng-if="$root.config.retailer.settings.enablePersonalizedCoupons && sitemapCtrl.user.session.userId">
                <a class="link-page" ui-sref="app.myCoupons">{{'My Coupons' | translate}}</a>
            </li>
            <li ng-if="sitemapCtrl.user.session.userId">
                <a class="link-page" ui-sref="app.userEdit.accountInfo">{{"Account Info" | translate}}</a>
            </li>
            <li ng-if="sitemapCtrl.user.session.userId && sitemapCtrl.isAvailableOrganization">
                <a class="link-page" ui-sref="app.userEdit.organizationManagement">{{sitemapCtrl.organizationTitle | translate}}</a>
            </li>
            <li ng-if="sitemapCtrl.user.session.userId && sitemapCtrl.isAvailablePayments">
                <a class="link-page" ui-sref="app.userEdit.paymentMethods">{{"Payment Methods" | translate}}</a>
            </li>
            <li ng-if="sitemapCtrl.user.session.userId && sitemapCtrl.isAvailableMembershipClub">
                <a class="link-page" ui-sref="app.userEdit.{{sitemapCtrl.membershipClubState}}">{{"Membership club" | translate}}</a>
            </li>
            <li ng-if="sitemapCtrl.user.session.userId && sitemapCtrl.isAvailableEmployeeDiscount">
                <a class="link-page" ui-sref="app.userEdit.specialDiscount">{{"Employee discount" | translate}}</a>
            </li>
        </ul>
    
        <h2>{{'Categories' | translate}}</h2>

        <ul ng-if="sitemapCtrl.categories.length">
            <li ng-repeat="category in sitemapCtrl.categories track by ::category.id">
                <span class="category">{{(category.names | name) || (category.name | translate)}}</span>
                <ul>
                    <li ng-repeat="subCategory in category.subCategories track by ::subCategory.id">
                        <span class="sub-category">{{(subCategory.names | name) || (subCategory.name | translate)}}</span>
                        <ul>
                            <li ng-repeat="subSubCategory in subCategory.subCategories track by ::subSubCategory.id">
                                <a class="sub-sub-category" 
                                    ng-if="!category.bySpecialCategories" 
                                    ng-href="{{sitemapCtrl.getHrefFromState(subSubCategory.state || 'app.categoryProducts', {cid: subSubCategory.id, filters: undefined, sort: undefined})}}"
                                >{{(subSubCategory.names | name) || (subSubCategory.name | translate)}}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>    
</div>
