html.sitemap {
    section.view {
      padding-top: 0;
      padding-bottom: 3em;
    }

    .sitemap {
        padding: 0 3em;
        $linkHoverColor: #207d3f;

      h1 {
        padding-bottom: 0.1em;
      }

      h2 {
        padding-bottom: 0.5em;
      }

        .category {
          margin: 0;
          font-weight: 900;
          font-size: 1.2em;
        }
        .sub-category {
          margin: 0 1em;
          font-weight: 700;
          font-size: 1em;
        }
        .sub-sub-category {
          margin: 0 2em;
          font-size: 1em;
          &:hover {
            color: $linkHoverColor
          }
        }
        li {
          margin: 1em;
        }
    
        .link-page{
          &:hover {
            color: $linkHoverColor
          }
        }
    }
  }
