$buttonsMargin: 0.7em;

.dialog-wrapper .dialog {
  .dialog-body .close-dialog-corner-button {
    z-index: 1;
  }

  &.common-dialog {
    .dialog-body {
      padding: 0 !important;
      min-width: 25em;
      max-width: 45em;

      .common-dialog {
        > .common-dialog-content-wrapper > .common-dialog-content > *, > .buttons {
          padding: 1em 1em 1em 20px;
        }

        > .common-dialog-content-wrapper > .common-dialog-content {
          > .header {
            background-color: #F6F5F3;

            > span {
              display: inline-block;
              vertical-align: middle;
            }

            > .exclamation-icon {
              $iconColor: #61769b;
              display: inline-block;
              text-align: center;
              color: $iconColor;
              font-size: 0.7em;
              width: 1em;
              line-height: 1em;
              margin-right: 0.5em;
              border: 2px solid $iconColor;
              @include border-radius(100%);
              padding: 0.1em;
            }
          }

          > .content {
            padding-right: 1em + $buttonsMargin;
            min-height: 4em;
            line-height: 1.5em;
          }

        }

        .buttons > button {
          min-width: 8em;
          margin: 0 $buttonsMargin;
        }
      }
    }

    &.retailer-custom-dialog {
      .common-dialog {
        > .common-dialog-content-wrapper > .common-dialog-content {
          padding: 1em;
        }
      }
    }
  }
}

.rtl {
  .dialog-wrapper .dialog.common-dialog .dialog-body {
    .close-dialog-corner-button {
      right: auto;
      left: 1em;
    }

    .common-dialog {
      > .common-dialog-content-wrapper > .common-dialog-content > *, > .buttons {
        padding: 1em 20px 1em 1em;
      }

      > .common-dialog-content-wrapper > .common-dialog-content {
        > .header > .exclamation-icon {
          margin-right: 0;
          margin-left: 0.5em;
        }

        > .content {
          padding-left: 1em + $buttonsMargin;

          .please-notice {
            text-align: right;
          }
        }
      }

      > .common-dialog-content-wrapper > .common-dialog-content > .footer, > .buttons {
        text-align: left;
      }
    }
  }
}