<div class="sp-tabs-selector" role="tablist" ng-style="{'background-color': spTabsCtrl.backgroundColor}">
    <button class="no-design" ng-repeat="pane in spTabsCtrl.panes" ng-class="{'is-selected': pane.selected}"
            ng-click="pane.select()" ng-if="!pane.hidden"
            role="tab" tabindex="{{pane.selected ? 0 : -1}}" aria-controls="{{pane.paneId}}"
            ng-keydown="spTabsCtrl.onTabKeyDown($event)" aria-selected="{{pane.selected}}"
            ng-style="{
                'color': pane.selected ? spTabsCtrl.backgroundColor : spTabsCtrl.textColor,
                'background-color': pane.selected ? spTabsCtrl.textColor : spTabsCtrl.backgroundColor
            }">
        {{ pane.title }}
        <span class="sr-only-element" ng-if="pane.srText && $first">{{'Use the arrow keys to navigate between the tabs' | translate}}</span>
    </button>
</div>
<div class="sp-tabs-panes" ng-transclude></div>
