sp-tabs > .sp-tabs-selector {
  text-align: center;
  height: 2.875em;

  > button {
    @include border-radius(3px 3px 0 0);
    font-weight: 400;
    text-transform: uppercase;
    width: 11.563em;
    height: 100%;
    color: #878787;

    &.is-selected {
      font-weight: 700;
      border: 1px solid #b4b4b4;
      border-bottom-width: 0;
      background-color: #ffffff;
    }
  }
}

sp-tabs {
  &.hidden > .sp-tabs-selector {
    display: none;
  }
}
