<div class="inner-footer">
    <img class="logo" ng-src="{{config.retailer.logoUrl | image}}" alt="{{::$root.config.retailer.title}}"/>
    <a class="retailer-data" ui-sref="app.retailerDetails.storeInformation"
       ng-include="'template/partials/retailer-data/index.html'"></a>
    <div class="retailer-links" refresher="$root.config.language.id">
    <span ng-repeat="link in footerCtrl.links">
        <span ng-if="::(link.action && !link.href)" class="clickable cont-link" ng-click="::link.action()" ng-bind="::(link.text ? (link.text | translate) : link.name)"></span>
        <a style="margin-right: 20px" ng-if="::link.href" ng-href="{{::link.href}}" aria-label="{{link.pdf ? 'link to a file' : '' | translate}}" target="{{::(link.target || '')}}">
            <span class="icon-type-footer">
             <img  ng-if="link.pdf" alt="" ng-src="https://d226b0iufwcjmj.cloudfront.net/backend/icons/general-file-icon.svg"/>
            </span>
            <span ng-if="::!link.image" ng-bind="::(link.text ? (link.text | translate) : link.name)"></span>
            <img ng-if="::link.image" title="{{::(link.text ? (link.text | translate) : link.name)}}"
                 ng-src="{{::link.image}}" alt="{{::(link.text ? (link.text | translate) : link.name)}}">
        </a>
    </span>
    </div>
    <a ng-href="http://www.{{$root.config.retailer.companyDetails.domain}}" target="_blank" class="powered-by">
        <div>{{::'Powered by' | translate}}
            <img ng-src="{{$root.config.retailer.companyDetails.logoOnDark}}"
                 alt="{{$root.config.retailer.companyDetails.names | name}}"/>
        </div>
    </a>
</div>
