body > footer {
  display: none;

  html.home & {
    display: block;
  }

  $footerSideNavMargin: $sidenavWidth + 1em;

  html.ltr & {
    padding-right: $footerSideNavMargin;
  }

  html.rtl & {
    padding-left: $footerSideNavMargin;
  }

  .inner-footer {
    display: flex;
    padding: 3em 2.1em;
    justify-content: stretch;
    align-items: start;
    flex-direction: row;

    > * {
      display: inline-block;
      vertical-align: middle;
      font-size: 0.875em;
      flex: 0 0 auto;
    }

    > img.logo {
      max-height: 3em;
    }

    .retailer-links {
      flex: 1 1 auto;
      margin: 0 3em;

      > span {
        display: inline-block;
        white-space: nowrap;
        .cont-link {
          padding-left: 1.4rem;
          padding-right: 1.4rem;
        }
      }

      > span a {
        display: flex;

        .icon-type-footer {
          max-width: 1.4rem;
          margin: unset;
        }
      }

      > span a span {
        white-space: normal;
        overflow-wrap: break-word;
      }
    }

    > a, > span, .retailer-links span {
      line-height: 1.8em;

      img {
        max-height: 1.5em;
        max-width: 4em;
      }
    }

    a.powered-by img {
      max-width: 4em;
      vertical-align: middle;
    }

    > .border {
      width: 1px;
      height: 85%;
      margin: 0 2em;
    }

    > .retailer-data img {
      @include opacity(0.5);
    }
  }
}

@media screen and (max-width: 1300px) {
  body > footer .inner-footer{
    > img.logo {
      max-width: 12em;
    }
    > a.retailer-data {
      margin: 0;
      max-width: 14em;

      > div > .content > .text {
        > span {
          max-width: 100%;
        }

        > .phone-and-zip {
          display: block;
        }
      }
    }
    .retailer-links {
      width: 48%;
      line-height: 2em;
    }
  }
}

@media screen and (max-width: 1024px) {
  $footerResponsiveSideNavMargin: $responsiveSidenavWidth + 1em;

  body > footer {
    html.ltr & {
      padding-right: $footerResponsiveSideNavMargin;
    }

    html.rtl & {
      padding-left: $footerResponsiveSideNavMargin;
    }
  }
}

@media screen and (max-width: 768px) {
  body > footer .inner-footer {
    padding: 2em 2.1em;

    > img.logo {
      max-width: 10em;
    }

    > a.retailer-data {
      max-width: 10em;
    }

    .retailer-links {
      width: 41%;
    }
  }
}