<div class="sp-slider-picker-wrapper {{direction}}">
    <div class="sp-slider-picker dropdown-options-wrapper" ng-controller="SliderPickerPrutahCtrl"
         ng-class="{'has-scroll': isScrollers, 'has-primary-item': picker.primaryItem}">
        <div class="slider-primary-item" ng-if="picker.primaryItem">
            <button class="no-design default-text-align slider-primary-item-btn"
                    ng-click="!picker.primaryItem.isDisabled && sliderPickerCtrl.selectPrimaryItem(picker.primaryItem, $event);"
                    ng-class="{
                        'selected': spModel[picker.key] == (picker.primaryItem.value || picker.primaryItem),
                        'dropdown-shown': sliderPickerCtrl.dropDownItem == picker.primaryItem,
                        'disabled': picker.primaryItem.isDisabled
                    }"
                    ng-style="primaryItemStyle">
                <ng-include ng-if="picker && (picker.primaryItem.templateUrl || picker.templateUrl)"
                            src="picker.primaryItem.templateUrl || picker.templateUrl"></ng-include>
                <span class="label" ng-if="picker.primaryItem.label">
                    <span>{{picker.primaryItem.label}}</span>
                    <span class="for-vertical-align"></span>
                </span>

                <div class="dropdown-options-wrapper"
                     ng-if="picker.primaryItem.specials && picker.primaryItem.specials.length"
                     ng-class="{'he': !$root.config.isUs}">
                    <div class="dropdown-options">
                        <div class="dropdown-arrow-wrapper"><span class="arrow"></span></div>
                        <div class="dropdown-items-wrapper">
                            <span class="special-wrapper" ng-repeat="primarySpecial in picker.primaryItem.specials">
                                <sp-sale-icon product-special="primarySpecial" without-actions="true"></sp-sale-icon>
                                <span class="description">{{primarySpecial.descriptions && primarySpecial.descriptions[$root.config.language.culture] ? primarySpecial.descriptions[$root.config.language.culture] : primarySpecial.description}}</span>
                            </span>
                        </div>
                    </div>
                </div>
            </button>
            <span class="primary-text">{{::'OR' | translate}}</span>
        </div>
        <div class="slide-btn-wrapper slide-up">
            <button class="no-design" ng-click="sliderPickerCtrl.scroll(-1, $event);" tabindex="-1">
                <span>
                    <img class="up-arrow" src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/slider-arrow-up.png" alt="{{'up' | translate}}"/>
                    <img class="left-arrow" src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/arrow_left.png" alt="{{'left' | translate}}"/>
                    <img class="right-arrow" src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/arrow_right.png" alt="{{'right' | translate}}"/>
                </span>
            </button>
        </div>
        <div class="slider-items-padding-wrapper">
            <div class="slider-items-wrapper">
                <div class="slider-items">
                    <label ng-repeat="item in (picker ? picker.items : [])" class="default-text-align slider-item" ng-style="itemStyle"
                           ng-mouseenter="sliderPickerCtrl.openDropDownItem('mouse', item, $index)"
                           ng-mouseleave="sliderPickerCtrl.closeDropDownItem('mouse')"
                           sp-touchstart="sliderPickerCtrl.openDropDownItem('mouse', item, $index)"
                           ng-class="{
                                'has-next': hasNext,
                                'selected': (spModel[picker.key] == (item.value || item) || sliderPickerCtrl.isDefaultTime($index, picker.key)),
                                'disabled': sliderPickerCtrl.isDisableTimeSlot(item, false),
                                'dropdown-shown': sliderPickerCtrl.dropDownShown && sliderPickerCtrl.dropDownItem == item,
                                'focus': item._dropDownOpen.focus
                           }"
                           ng-init="sectionIndex = $index">
                        <span class="input-wrapper">
                            <input type="radio" role="radio"
                                   ng-model="spModel[picker.key]"
                                   ng-value="item.value || item"
                                   ng-change="sliderPickerCtrl.selectItem(item, $index);"
                                   ng-focus="sliderPickerCtrl.openDropDownItem('focus', item, $index)"
                                   ng-blur="sliderPickerCtrl.closeDropDownItem('focus')"
                                   ng-disabled="item.dropDown && (!item.dropDown.items || !item.dropDown.items.length)"
                                   aria-checked="{{sliderPickerCtrl.dropDownItem === item}}" name="slider-item-radio-button">
                        </span>
                        <span class="slider-item-content" ng-class="{
                                'disabled': sliderPickerCtrl.isDisableTimeSlot(item, true)
                           }">
                              <ng-include ng-if="picker && picker.templateUrl"
                                          src="picker ? picker.templateUrl : ''"></ng-include>
                                <span class="label" ng-if="item.label">
                                    <span class="for-vertical-align"></span>
                                </span>
                                <span class="arrow-icon">
                                    <img class="arrow-right" src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/arrow-button-white.png" alt="{{'right' | translate}}"/>
                                    <img class="arrow-left" src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/arrow-left-button-white.png" alt="{{'left' | translate}}"/>
                                    <img class="arrow-down" src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/full-arrow-down.png" alt="{{'down' | translate}}"/>
                                </span>
                        </span>
                    </label>
                </div>
            </div>
        </div>
        <div class="slide-btn-wrapper slide-down">
            <button class="no-design" ng-click="sliderPickerCtrl.scroll(1, $event);" tabindex="-1">
                <span>
                    <img class="down-arrow" src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/slider-arrow-down.png" alt="{{'down' | translate}}"/>
                    <img class="left-arrow" src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/arrow_left.png" alt="{{'left' | translate}}"/>
                    <img class="right-arrow" src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/arrow_right.png" alt="{{'right' | translate}}"/>
                </span>
            </button>
        </div>
        <div ng-mouseenter="sliderPickerCtrl.openDropDownItem('mouse')" ng-mouseleave="sliderPickerCtrl.closeDropDownItem('mouse')" class="dropdown-options"
             sp-focus-in sp-on-focus-in="sliderPickerCtrl.openDropDownItem('focus')" sp-on-focus-out="sliderPickerCtrl.closeDropDownItem('focus')"
             ng-class="{'he': !$root.config.isUs,
                        'shown': sliderPickerCtrl.dropDownShown && sliderPickerCtrl.dropDownItem,
                        'small': sliderPickerCtrl.isFromEditOrder
                    }">
            <ng-include src="sliderPickerCtrl.dropDownItem.templateUrl" ng-init="pickerIndex = $index"></ng-include>
        </div>
    </div>
</div>