.sp-slider-picker-wrapper .sp-slider-picker {
  > .slider-items-padding-wrapper > .slider-items-wrapper > .slider-items > .slider-item {
    font-family: $secondaryFontFamily;

    &:not(.disabled) {
      &.selected {
        > .slider-item-content{
          background-color: $mainColor;
        }

        &.has-next .arrow-icon img {
          background-color: $mainColor;
        }
      }

      &.dropdown-shown > .slider-item-content {
        &:not(.disabled) {
          border-color: $mainColor; 
        }
      }
    }
  }

  > .slider-primary-item > .slider-primary-item-btn.selected {
    background-color: $mainColor;
  }

  > .slider-primary-item > .slider-primary-item-btn:hover {
    border-color: $mainColor;
  }
}