<div class="contact-info-group" aria-label="Communication group" ng-style="{'justify-content': contactUsCtrl.lengthCommunicationType < 3 ? 'start' : 'space-around'}">
    <div tabindex="0" ng-repeat="item in contactUsCtrl.content[ENUM.COMMUNICATIONS_TYPES]" ng-if="item[LANGUAGE].logo" class="contact-info-item" 
        ng-style="contactUsCtrl.styleCommunicationType(item)">
        <img class="types-icon" ng-src="{{item[LANGUAGE].logo}}" alt="{{item[LANGUAGE].accessibilityImage | translate}}">
        <div class="types-detail" ng-style="{color: item[LANGUAGE].title.color}">
            <a ng-style="{color: item[LANGUAGE].title.color ? item[LANGUAGE].title.color : 'inherit'}" href="{{item[LANGUAGE].url}}" ng-if="item[LANGUAGE].url">{{item[LANGUAGE].title.value}}</a>
            <span ng-if="!item[LANGUAGE].url">{{item[LANGUAGE].title.value}}</span>
        </div>
    </div>
</div>

