<div class="contact-us-bg" aria-labelledby="contact-us-title" role="region" tabindex="0" ng-style="{'background-image': contactUsCtrl.content.background.desktop.image ? 'url(' + contactUsCtrl.content.background.desktop.image + ')' : 'none', 'background-color': !contactUsCtrl.content.background.desktop.image ? contactUsCtrl.content.background.desktop.color : 'transparent'}">
    <div tabindex="0" class="contact-us-wrapper" ng-repeat="component in contactUsCtrl.layout | orderBy:'sort'">
        <div ng-include="component.templateUrl"></div>
    </div>
</div>