<h1 ng-if="contactUsCtrl.content[ENUM.MAIN_TEXT][LANGUAGE].title.able" id="contact-us-title" ng-style="{'color': contactUsCtrl.content[ENUM.MAIN_TEXT][LANGUAGE].title.color || 'black'}" class="contact-us-title">{{ contactUsCtrl.content[ENUM.MAIN_TEXT][LANGUAGE].title.value || 'contact_us' | translate}} </h1>
<div ng-if="contactUsCtrl.content[ENUM.MAIN_TEXT][LANGUAGE].subtitle.able" ng-style="{'color': contactUsCtrl.content[ENUM.MAIN_TEXT][LANGUAGE].subtitle.color || 'black'}" class="contact-us-subtitle">
    <span>{{contactUsCtrl.content[ENUM.MAIN_TEXT][LANGUAGE].subtitle.value || 'how_can_we_help_you_today' | translate}}</span>
</div>