<div class="cart-icon">
    <span class="empty-cart">
        <img src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/empty-big-cart.png" alt="" />
        <span class="v-icon">
            <img src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/big-v.png" alt="" />
        </span>
    </span>
</div>
<div class="text-content secondary-font">
    <h1 id="page_title">{{finishCtrl.userData.firstName}}, {{'prutah_checkout_finish_thank_you_line_1' |
        translate}}<br />{{'prutah_checkout_finish_thank_you_line_2' | translate}}{{finishCtrl.retailerData.title}}</h1>
    <div class="regular-text">
        {{'We just sent you an order confirmation by email' | translate}}
    </div>
    <h5 class="bold">
        {{'Order ID' | translate}}: {{checkoutCtrl.oid}}
    </h5>
    <div ng-if="checkoutCtrl.detailsData.delivery.time.type != $root.DELIVERY_TIMES_TYPES.DELIVERY_WITHIN_DAYS">
        <div class="regular-text with-padding-top">
            {{checkoutCtrl.detailsData.isShippingService ?
            ('You selected' | translate) :
            ('Your order will be ' + (checkoutCtrl.detailsData.deliveryMethod.id ==
            $root.SP_SERVICES.DELIVERY_TYPES.DELIVERY ? 'delivered' : 'ready for pickup') | translate)}}:
        </div>
        <h5 class="bold highlight" ng-if="!checkoutCtrl.detailsData.isShippingService">
            {{checkoutCtrl.detailsData.delivery.time.type == $root.DELIVERY_TIMES_TYPES.DELIVERY_WITHIN_HOURS ?
            ('Today' | translate) + ' ' :
            (checkoutCtrl.detailsData.delivery.times.isToday ? 'Today' : 'day' +
            checkoutCtrl.detailsData.delivery.times.day | translate) + ' ' +
            (checkoutCtrl.detailsData.delivery.times.date | date:($root.config.isUs ? 'MM/dd' : 'dd/MM'):'UTC') + ' ' +
            ('at' | translate) + ' '}}
            <span class="times">
                {{checkoutCtrl.detailsData.delivery.time.type == $root.DELIVERY_TIMES_TYPES.DELIVERY_WITHIN_HOURS ?
                ('within' | translate) + ' ' + (checkoutCtrl.detailsData.delivery.time.timeRange | date:(checkoutCtrl.detailsData.delivery.time.hours === '0' ? 'mm': checkoutCtrl.detailsData.delivery.time.hours === '1' && checkoutCtrl.detailsData.delivery.time.minutes === '0' && $root.config.language.culture === "he" ? ' ' : checkoutCtrl.detailsData.delivery.time.minutes > 0 ? 'H:mm' : 'h'):'UTC') + ' ' + (checkoutCtrl.detailsData.delivery.time.hours === '0' ? 'minutes' : checkoutCtrl.detailsData.delivery.time.hours === '1' && checkoutCtrl.detailsData.delivery.time.minutes === '0' ? 'hour' : 'hours' | translate) :
                ($root.config.retailer.twoHourLaw && checkoutCtrl.detailsData.deliveryMethod.id ==
                $root.SP_SERVICES.DELIVERY_TYPES.DELIVERY ?
                ('at_hour' | translate) + ' ' + ((checkoutCtrl.detailsData.delivery.time.fromDisplay ||
                checkoutCtrl.detailsData.delivery.time.from) | date:($root.config.isUs ? 'hh:mm a': 'HH:mm'):'UTC') :
                (checkoutCtrl.detailsData.delivery.time.from | date:($root.config.isUs ? 'hh:mm a': 'HH:mm'):'UTC') + '
                - ' + (checkoutCtrl.detailsData.delivery.time.to | date:($root.config.isUs ? 'hh:mm a':
                'HH:mm'):'UTC'))}}
            </span>
        </h5>
    </div>
    <div ng-if="checkoutCtrl.detailsData.delivery.time.type == $root.DELIVERY_TIMES_TYPES.DELIVERY_WITHIN_DAYS">
        <div class="regular-text with-padding-top">
            {{'Your order will be ' + (checkoutCtrl.detailsData.deliveryMethod.id ==
            $root.SP_SERVICES.DELIVERY_TYPES.DELIVERY ? 'delivered' : 'ready for pickup') + ' in' | translate}}:
        </div>
        <h5 class="bold highlight">
            {{checkoutCtrl.detailsData.delivery.time.daysRange}} {{'Business Days' | translate}}
        </h5>
    </div>
    <div ng-if="$root.config.retailer.twoHourLaw && checkoutCtrl.detailsData.deliveryMethod.id == $root.SP_SERVICES.DELIVERY_TYPES.DELIVERY"
        class="footnote">
        {{'the waiting period will not exceed two hours' | translate}}
    </div>
    <h5 class="bold highlight" ng-if="checkoutCtrl.detailsData.isShippingService">
        {{checkoutCtrl.detailsData.delivery.time.serviceName}}
    </h5>
</div>
<div class="continue-btn">
    <button class="block highlight bold" ng-click="finishCtrl.continue()">{{'Continue shopping' | translate}}</button>
</div>

<div class="edit-order-wrapper">
    {{'Forgot something' | translate}}? {{'You can still edit your order' | translate}}&nbsp
    <button class="highlight-border" ng-click="finishCtrl.editOrder()">{{'Edit order' | translate}}</button>

    <p class="last-update" ng-if="finishCtrl.canShowUpdateDeliveryTime">
        {{ 'checkout_finish_last_update_time_' + finishCtrl.deliveryTypeText | translate }} {{ finishCtrl.lastTimeUpdate
        | date:'EEEE':'UTC' | translate }}, {{ finishCtrl.lastTimeUpdate | date:finishCtrl.dateTimeFormat:'UTC' }}
    </p>
</div>