$vImgSize: 2.3em;

html.finish {
  .cart-icon {
    padding: 2em;
    text-align: center;

    .empty-cart {
      display: inline-block;
      position: relative;
      height: 5em;

      img {
        height: 100%;
      }

      .v-icon {
        position: absolute;
        overflow: hidden;
        width: 0;
        height: $vImgSize;
        top: 0;
        left: $vImgSize - 1.2em;
        @include transition(width 1500ms);

        &.shown {
          width: $vImgSize;
        }

        img {
          width: $vImgSize;
          height: 100%;
        }
      }
    }
  }

  .text-content {
    $grey-color: #878787;

    margin: 0 auto;
    text-align: center;

    h3 {
      font-size: 2em;
    }

    .regular-text {
      color: $grey-color;
      font-size: 1.2em;

      &.with-padding-top {
        padding-top: 2em;
      }
    }

    h5 {
      padding: 0.3em 0;

      .times{
        direction: ltr;
        display: inline-block;
      }
    }

    .footnote {
      font-size: 0.85em;
      color: $grey-color;
    }
  }

  .continue-btn {
    width: 31em;
    margin: 0 auto;
    padding: 4em 0 1em 0;

    button {
      font-size: 1.1em;
      @include border-radius(5px);
      padding: 1em;
      text-transform: uppercase;
    }
  }

  .edit-order-wrapper{
    text-align: center;
    color: #878787;
    padding: 1em;
  }

  .checkout-bottom-banner{
    display: none;
  }

  .last-update {
    text-align: center;
    font-size: 1.25em;
    margin-top: 1em;
  }
}

@media screen and (max-height: 901px) {
  html.finish section.view {
    font-size: 0.9em;

    .cart-icon {
      padding: 1em;
    }

    .text-content {
      h3 {
        padding-top: 0.5em;
      }
      .regular-text.with-padding-top {
        padding-top: 1em;
      }
    }

    .continue-btn {
      padding-top: 2em;
    }
  }
}