#{$checkoutThemeSelector} .edit-order-wrapper {
  .highlight-border {
    border: 1px solid $highlightColor;
    background-color: #ffffff;
    box-shadow: none;
    color: $highlightColor;
  }

  .highlight-border:hover {
    background-color: $highlightColor !important;
    color: #ffffff;
  }

  .highlight-border:active {
    background-color: $highlightColor !important;
    color: #ffffff;
  }
}