<div class="accumulation-redemption-title" ng-style="{'background-image': 'url(' + (dialogCtrl.banner.desktopPopup || 'https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/points-accumulation/accumulate_bg.png') + ')', 'color': dialogCtrl.content.popupTitleColor}">
    <span ng-if="dialogCtrl.content.isPopupTitleOn">{{dialogCtrl.content.popupTitleText[$root.config.language.culture] || dialogCtrl.accumulationDefaultText.popupTitleText[$root.config.language.culture]}}</span>
</div>
<div class="accumulation-redemption-content">
    <div class="accumulation-redemption-content__info">
        <div class="accumulation-redemption-content__left-info">
            <strong ng-if="dialogCtrl.content.isMarkTitleTextOn">{{dialogCtrl.content.markTitleText[$root.config.language.culture] || dialogCtrl.accumulationDefaultText.markTitleText[$root.config.language.culture]}}</strong>
        </div>
        <div class="accumulation-redemption-content__right-info" ui-sref="app.home" ng-click="cancel()">
            <button>{{'Continue Shopping' | translate}}</button>
        </div>
    </div>
    <div class="accumulation-redemption-content__list" ng-if="dialogCtrl.dataTransactions.length">
        <div ng-repeat="data in dialogCtrl.dataTransactions">
            <div class="accumulation-redemption-content__item" ng-click="isCollapse[$index] = !isCollapse[$index]">
                <div class="accumulation-redemption-content__date">
                    <strong>{{data.Month | translate}}</strong>
                    {{data.Year}}
                </div>
                <div class="accumulation-redemption-content__point">
                    <img src="{{dialogCtrl.banner.earnedIcon || 'https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/points-accumulation/earn_icon.png'}}" alt="">
                    <div class="accumulation-redemption-content__point-info">
                        <span>{{'Points Gained' | translate}}</span>
                        <strong>{{data.TotalPointsTotalLoad}}</strong>
                    </div>
                </div>
                <div class="accumulation-redemption-content__cash">
                    <img src="{{dialogCtrl.banner.redeemedIcon || 'https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/points-accumulation/redeem_icon.png'}}" alt="">
                    <div class="accumulation-redemption-content__cash-info">
                        <span>{{'Redeemed' | translate}}</span>
                        <strong>{{data.TotalApprovedSum | currency}}</strong>
                    </div>
                </div>
                <div class="accumulation-redemption-content__collapse-icon" ng-class="{collapsed: isCollapse[$index]}">
                    <svg focusable="false">
                        <use xlink:href="#sp-icons-arrow-down"></use>
                    </svg>
                </div>
            </div>
            <div class="accumulation-redemption-content__table" ng-if="isCollapse[$index]">
                <table>
                    <thead>
                        <tr>
                            <th>{{'When' | translate}}</th>
                            <th>{{'Source' | translate}}</th>
                            <th>{{'Points Gained' | translate}}</th>
                            <th>{{'Redeemed' | translate}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="transaction in data.Transactions">
                            <th>{{transaction.ActivityDate | date: ($root.config.isUs ? 'MM/dd/yy' : 'dd/MM/yy')}}</th>
                            <th>{{transaction.SupplierName}}</th>
                            <th>{{transaction.PointsTotalLoad.toFixed(1) || '-'}}</th>
                            <th>{{(transaction.ApprovedSum.toFixed(1) | currency) || '-'}}</th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="accumulation-redemption-content__not-accumulate" ng-if="!dialogCtrl.dataTransactions.length">
        <img src="{{dialogCtrl.banner.earnedIcon || 'https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/points-accumulation/earn_icon.png'}}" alt="" ng-if="dialogCtrl.content.isNotAccumulateIconOn">
        <h4 ng-if="dialogCtrl.content.isNotAccumulateTitleTextOn">{{dialogCtrl.content.notAccumulateText[$root.config.language.culture] || dialogCtrl.accumulationDefaultText.notAccumulateText[$root.config.language.culture]}}</h4>
    </div>
</div>