.dialog.accumulation-redemption-history-dialog .dialog-body {
    width: 50%;
    padding: 0!important;
    border-radius: 5px;
}

.accumulation-redemption-title{
    color: #fff;
    display: flex;
    align-items: center;
    height: 100px;
    padding: 0 1.5em;
    height: 13vh;
    font-weight: bold;
    font-size: 1.5rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    &>span{
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
    }
}

.accumulation-redemption-content{
    padding: 1.5em;
    &__info{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__left-info{
        display: flex;
        flex-direction: column;
        line-height: 1.2;
        width: 70%;
        &>strong{
            text-transform: uppercase;
            font-size: 1.4rem;
            word-break: break-all;
            text-wrap: wrap;
            width: 100%;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
        }
        &>span{
            color: #818181;
            font-size: 0.8rem;
        }
    }
    &__right-info{
        button{
            background: rgba(255, 194, 15, 1)!important;
            text-transform: uppercase;
            color: #333;
            font-weight: bold;
            font-size: 0.9rem;
            padding: 10px 20px;
        }
    }
    &__list{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 20px;
        height: 50vh;
        overflow-y: scroll;
        gap: 15px;
        padding: 10px;
    }
    &__not-accumulate{
        display: flex;
        height: 50vh;
        justify-content: center;
        align-items: center;
        padding: 0 20px;
        gap: 15px;
        &>h4{
            width: 70%;
            font-weight: bold;
            font-size: 1.3em;
        }
    }
    &__item{
        display: flex;
        align-items: center;
        box-shadow: -2px 4px 10px 0px rgba(0, 0, 0, 0.15);
        border-radius: 5px;
        cursor: pointer;
        z-index: 2;
    }
    &__date{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex-grow: 1;
        padding: 30px 0;
        color: #fff;
        text-align: center;
        line-height: 1.2;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    &__point, &__cash{
        width: 35%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        padding: 15px 0;
    }
    &__point{
        border-right: 2px solid #ccc;
    }
    &__point-info, &__cash-info{
        display: flex;
        flex-direction: column;
        gap: 5px;
        strong{
            font-size: 1.7rem;
        }
    }
    &__collapse-icon{
        width: 50px;
        svg{
            width: 15px;
            height: 15px;
            transition: 0.3s ease-in-out; 
        }
    }
    .collapsed{
        svg{
            rotate: 180deg;
        }
    }
    &__table{
        padding: 10px 20px;
        background: rgba(250, 250, 250, 1);
        margin-top: 1px;
        color: rgba(120, 120, 120, 1);
        transition: all 0.1s ease-in;
        & > table{
            width: 100%;
            line-height: 2;
            & > thead{
                border-bottom: 1px solid rgba(120, 120, 120, 1);
            }
        }
    }
}

@media screen and(max-width: 1024px) {
    .dialog.accumulation-redemption-history-dialog .dialog-body {
        width: 60%;
    }
}

.rtl{
    .accumulation-redemption-title{
        transform: scaleX(-1);
        justify-content: flex-end;
        &>span{
            transform: scaleX(-1);
        }
    }
    .accumulation-redemption-content{
        &__date{
            border-radius: unset;
            border-bottom-right-radius: 5px;
            border-top-right-radius: 5px;
        }
    }
    .dialog-wrapper .dialog .dialog-body .close-dialog-corner-button{
        right: unset!important;
        left: 1em;
    }
    .accumulation-redemption-content__point{
        border-right: none;
        border-left: 2px solid #ccc;
    }
}