<md-dialog class="limit-heavy-package">
  <md-content>
    <div class="header bold">
      <span>{{('you_can_not_add_more_than' | translate).replace('{cart}', $root.config.retailer.settings.setCartNameToBasket ? $root.config.retailer.settings.setCartNameToBasket : 'cart')}} <span class="bold">{{maxQuantity}}</span> {{'items_marked_with_symbol' | translate}}</span>
    </div>
    <div class="bottom-wrap">
      <div class="description">
        <span>{{displayName}}</span>
      </div>
      <div ng-if="iconUrl" class="icon">
        <img src="{{iconUrl}}" alt="tag-icon"/>
      </div>
      <div ng-if="!iconUrl" class="icon">
        <svg focusable="false">
          <use xlink:href="#sp-icons-heavy-limitation-tag"></use>
        </svg>
      </div>
      <div class="ok-button action" ng-click="hide()">
        <span ng-bind="'OK' | translate"></span>
      </div>
    </div>
  </md-content>
</md-dialog>
