$green: #88AE37;

html .dialog-wrapper > .dialog.limit-heavy-package-dialog > .dialog-body {
  width: 21em;
  padding: 2em 4rem;

  .limit-heavy-package {
    .icon {
      text-align: center;
      margin-bottom: 3rem;

      svg {
        max-width: 40px;
        max-height: 40px;
      }
    }

    .bottom-wrap {
      padding: 0 2rem;
    }

    .action {
      cursor: pointer;
      text-align: center;
      margin: 0.9em 0;
      color: #ffffff;
      border-radius: 5px;
      padding: 1em;
      font-weight: 600;

      &.ok-button {
        background-color: $green;
        border-radius: 53px;
      }

      span {
        display: inline-block;
      }
    }

    .header {
      text-align: center;
      font-size: 1.5em;
      line-height: 1.3em;
      font-weight: 600;
      margin-bottom: $bottom-spacing;
      padding: 0 0.5rem;
    }

    .description {
      text-align: center;
      line-height: 1.4em;
      margin-bottom: 1em;
    }

    .bold {
      font-weight: 600;
    }
  }
}