<div ng-controller="LaunchEditOrderCtrl as lchEditCtrl">
	<section class="launch-edit-order" ng-if="lchEditCtrl.popup">
		<div class="main-icon" ng-if="lchEditCtrl.popup.icon">
			<img src="{{ lchEditCtrl.popup.icon }}"/>
		</div>

		<h4 class="title">{{ lchEditCtrl.popup.title }}</h4>

		<p class="desc">{{ 'Prices and specials will change according to the update date' | translate}}</p>

		<div class="buttons-wrapper">
			<button ng-disabled="lchEditCtrl.isUpdateSlotDisabled" ng-click="lchEditCtrl.onClickUpdateTimeslot()" class="disabled-opacity">
				<span class="icon" ng-if="lchEditCtrl.popup.updateSlotBtn.icon">
					<img src="{{ lchEditCtrl.popup.updateSlotBtn.icon }}">
				</span>

				{{ lchEditCtrl.popup.updateSlotBtn.text }}
			</button>

			<button ng-click="lchEditCtrl.onClickUpdateOrderItems()">
				<span class="icon" ng-if="lchEditCtrl.popup.updateOrderBtn.icon">
					<img src="{{ lchEditCtrl.popup.updateOrderBtn.icon }}"/>
				</span>

				{{ lchEditCtrl.popup.updateOrderBtn.text }}
			</button>
		</div>

		<div class="cancel" ng-bind-html="lchEditCtrl.popup.cancelOrderText"></div>

		<p class="last-update" ng-if="!lchEditCtrl.isUpdateSlotDisabled">
			{{ lchEditCtrl.popup.latestTimeToUpdateText }}
		</p>

		<p class="error" ng-if="lchEditCtrl.isUpdateSlotDisabled">
			{{ lchEditCtrl.popup.errorMessage }}
		</p>
	</section>
</div>