.launch-edit-order {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  gap: 2em;

  .main-icon {
    object-fit: contain;

    img {
      width: auto;
      height: 10em;
    }
  }

  .title {
    color: #000;
    font-weight: 700;
    text-align: center;
  }

  .desc {
    font-size: 1.25em;
  }

  .buttons-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 20px;

    .icon img {
      width: 1.56em;
      height: 1.56em;
    }

    button {
      display: flex;
      align-items: center;
      gap: 0.3em;
      font-size: 1.25em;
      font-weight: 700;
      padding: 0.8em;
    }
  }

  .cancel {
    font-size: 1em;

    .cancel-btn {
      background-color: transparent;
      color: #0072DC;
      text-decoration: underline;
    }
  }

  .last-update {
    font-size: 1.25em;
  }

  .error {
    color: #ff0000;
    font-size: 1.25em;
  }
}