<div class="products-suggestions-wrapper"
    ng-if="cartSummaryCtrl.isProductSuggestionsActive && !cartSummaryCtrl.showLastMinuteRecommendations" ng-class="{
            'open': cartSummaryCtrl.productsSuggestionsShown,
            'open-animations': cartSummaryCtrl.productsSuggestionsAnimations && cartSummaryCtrl.productsSuggestionsShown,
            'close-animations': cartSummaryCtrl.productsSuggestionsAnimations && !cartSummaryCtrl.productsSuggestionsShown
        }">
    <div class="products-suggestions-focus-trap" tabindex="0" ng-focus="cartSummaryCtrl.trapProductsSuggestionsFocus(0)"
        ng-if="cartSummaryCtrl.productsSuggestionsShown">
    </div>
    <button class="close no-design"
        ng-click="$event.stopPropagation(); cartSummaryCtrl.toggleProductsSuggestions(false);">
        <svg focusable="false" aria-labelledby="close_title" role="img">
            <title id="close_title">{{'collapse button' | translate}}</title>
            <use xlink:href="#sp-icons-close"></use>
        </svg>
    </button>
    <div class="products-suggestions" ng-click="$event.stopPropagation();" tabindex="-1">
        <button class="name no-design" ng-click="cartSummaryCtrl.toggleProductsSuggestions();"
            aria-expanded="{{cartSummaryCtrl.productsSuggestionsShown}}">
            <span class="for-vertical-align"></span>
            <span ng-bind="$root.config.retailer.productSuggestionsDisplayName || ('Our Top Picks' | translate)"></span>
            <div class="waves">
                <!--temp: use svg inline instead of <use> - <use> didn't work for some reason-->
                <svg focusable="false" xmlns="http://www.w3.org/2000/svg">
                    <defs>
                        <pattern id="pathPattern" x="0" y="0" width="4.2" height="19.406" patternUnits="userSpaceOnUse">
                            <path d="M1731,668.334V648.942c0.82,3.952,4,4.606,4,9.695S1731.82,664.381,1731,668.334Z"
                                transform="translate(-1731 -648.938)" />
                        </pattern>
                    </defs>
                    <rect x="0" y="0" width="100%" height="100%" fill="url(#pathPattern)" />
                </svg>
            </div>
        </button>
        <sp-carousel template-url="template/partials/carousel-product-item/index.html"
            load-more-items="cartSummaryCtrl.loadProductSuggestions"
            functions="cartSummaryCtrl.suggestionsCarouselFunctions"
            watchers="cartSummaryCtrl.productSuggestionsCarousel" item-width="350"
            ng-style="$root.config.retailer.productSuggestionsBackgroundUrl ? {'background-image': 'url(' + $root.config.retailer.productSuggestionsBackgroundUrl + ')'} : null">
        </sp-carousel>
    </div>
    <div class="products-suggestions-focus-trap" tabindex="0" ng-focus="cartSummaryCtrl.trapProductsSuggestionsFocus(1)"
        ng-if="cartSummaryCtrl.productsSuggestionsShown">
    </div>
</div>
<div class="last-minute-recommendations" ng-if="cartSummaryCtrl.showLastMinuteRecommendations"
    ng-class="{'two-lines': !!$root.config.retailer.promotion && $root.config.retailer.allowCoupons}"
    ng-include="'template/views/cart-summary/partials/last-minute-recommendations/index.html'">
</div>
<div class="fixed-banner"
    ng-class="{'split-view': cartSummaryCtrl.showLastMinuteRecommendations, 'two-lines': !!$root.config.retailer.promotion && $root.config.retailer.allowCoupons}">
    <div class="right">
        <div class="content">
            <span class="sort-by">
                <span>{{'Sort by' | translate}}</span>
                <sp-radio options="cartSummaryCtrl.radioOptions" sp-model="cartSummaryCtrl.radioValue" class="switcher" 
                 aria-label="{{'Sort by' | translate}}" role="radiogroup">
                </sp-radio>
            </span>

            <span class="add-coupon clickable" ng-if="$root.config.isExistSendXGetYPromotion">
                <form name="coupon" aria-label="{{'Promo Code' | translate}}"
                    ng-submit="cartSummaryCtrl.addPromotionToUser(cartSummaryCtrl.promoCode)">
                    <input type="text" placeholder="{{'Promo Code' | translate}}"
                        ng-model="cartSummaryCtrl.promoCode" />
                    <button type="submit" ng-bind="'Add' | translate"></button>
                </form>
            </span>

            <span class="add-coupon clickable" ng-if="$root.config.retailer.allowCoupons">
                <form name="coupon" ng-submit="cartSummaryCtrl.addCouponToCart($root.couponCode)"
                    aria-label="{{'Add coupon' | translate}}">
                    <input type="text"
                        placeholder="{{$root.config.retailer.settings.addCouponText || ('Add coupon' | translate)}}"
                        ng-model="$root.couponCode" maxlength="100" />
                    <button type="submit" ng-bind="'Add' | translate"></button>
                </form>
            </span>

            <span class="save-cart-to-shop-list">
                <sp-dropdown class="transparent-arrow" id="saveDropDown" on-open="cartSummaryCtrl.tryLogin();">
                    <sp-text>
                        <span class="icon">
                            <img src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/add_to_list.png"
                                alt="" />
                            <span class="for-vertical-align"></span>
                        </span>
                        <span>
                            {{'Save as a shopping list' | translate}}
                        </span>
                    </sp-text>
                    <sp-option class="title" sp-click="cartSummaryCtrl.createNewShopList()"
                        ng-show="cartSummaryCtrl.isLoggedIn">
                        {{'Create new list' | translate}}...
                    </sp-option>
                    <sp-option ng-repeat="shopList in cartSummaryCtrl.shopLists track by $index"
                        sp-click="cartSummaryCtrl.saveToShopList(shopList)">
                        {{shopList.name}}
                    </sp-option>
                </sp-dropdown>
            </span>

            <span class="clear-cart clickable" ng-click="cartSummaryCtrl.clearCart()">
                <span class="for-vertical-align"></span>
                <img src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/trash.png" alt="">
                <span>
                    {{('clear cart' | translate).replace('{cart}',
                    $root.config.retailer.settings.setCartNameToBasket ?
                    $root.config.retailer.settings.setCartNameToBasket : 'cart')}}
                </span>
            </span>
        </div>
    </div>
    <div class="left">
        <h1 class="title" id="page_title">
            {{('your shopping cart' | translate).replace('{cart}',
            $root.config.retailer.settings.setCartNameToBasket ?
            $root.config.retailer.settings.setCartNameToBasket :
            'cart')}}
        </h1>
    </div>
</div>
<div class="summary-content"
    ng-class="{'split-view': cartSummaryCtrl.showLastMinuteRecommendations, 'two-lines': !!$root.config.retailer.promotion && $root.config.retailer.allowCoupons}">
    <sp-list-items radio-value="cartSummaryCtrl.radioValue" split-view="cartSummaryCtrl.showLastMinuteRecommendations"
        ng-class="{'has-products-suggestions': cartSummaryCtrl.isProductSuggestionsActive && !cartSummaryCtrl.showLastMinuteRecommendations}">
    </sp-list-items>
    <checkout-bottom-banner class="summary-bottom-banner" next-action="cartSummaryCtrl.proceedToCheckout();"
        btn-text="{{'Proceed to Checkout' | translate}}" role="region" aria-label="{{'checkout footer' | translate}}"
        ng-class="{'split-view': cartSummaryCtrl.showLastMinuteRecommendations}">
    </checkout-bottom-banner>
</div>
<div class="fade" ng-if="cartSummaryCtrl.showLastMinuteRecommendations" ng-class="{'hide': removeFade}"
    ng-click="removeFade = true">
</div>