$productsSuggestionsHeight: 13em;
$productsSuggestionsNameWidth: 4.5em;
$productsSuggestionsOpenNameWidth: 10em;
$productsSuggestionsWaveWidth: 0.262em;
$closedProductsSuggestionsNameFontSize: 1.5em;
$openedProductsSuggestionsNameFontSize: 1.8em;
$closedProductsSuggestionsCarouselMarginLeft: -100%;
$openedProductsSuggestionsCarouselMarginLeft: 0;
$carouselHeight: 18.25em;
$carouselNewHeight: 19em;
$carouselCouponHeight: 21.75em;
$carouselTipDonationHeight: 8em;

$suggestionsAnimationDuration: 1s;

@import "./animations";

html.cart-summary section.view {
  &.split-view {
    padding-top: 7em;

    &.two-lines {
      padding-top: 10em;
    }

    > div {
      display: flex;
    }
  }

  div.fixed-banner {
    z-index: 3;

    &.split-view {
      height: 7em;
      width: 50%;
      min-width: 960px;
      left: auto;
      right: 0;
      display: grid;

      &.two-lines {
        height: 10em;

        .right {
          height: 5.5em;

          .content {
            display: grid;
            grid-template-columns: auto auto 1fr;
            grid-template-rows: 2.5em 2.5em;
            grid-row-gap: 0.5em;

            > :nth-child(4) {
              margin: 0;
              padding: 0;
              border: 0;
            }
          }
        }
      }

      .left {
        height: 4em;
        display: grid;
        align-items: center;
        grid-row: 1;

        .title {
          line-height: initial;
        }
      }

      .right {
        height: 2.5em;
        font-size: 12px;

        .content {
          display: flex;
          padding: 0;

          > :not(:first-child) {
            margin-left: 0.75em;
            padding-left: 0.75em;
          }

          .sort-by span {
            padding: 0 0.5em;
          }

          .add-coupon form {
            display: flex;
            align-items: center;

            input {
              width: 12em;
            }

            button {
              width: 8em;
              margin-left: 0.5em;
            }
          }

          .save-cart-to-shop-list .transparent-arrow {
            padding: 0 1.5em 0 0;
          }
        }
      }

      @media screen and (max-width: 1600px) {
        min-width: 720px;

        .left,
        .right {
          font-size: 11px;
        }

        .left {
          align-items: end;
        }

        .right > .content > span img {
          max-width: 19px !important;
          max-height: 19px !important;
        }
      }

      @media screen and (max-width: 1300px) {
        min-width: 640px;

        .left,
        .right {
          font-size: 9px;
        }

        .right > .content > span img {
          max-width: 15px !important;
          max-height: 15px !important;
        }
      }
    }

    .right,
    .left {
      height: 100%;
    }

    .right {
      float: right;

      .content {
        box-sizing: border-box;
        height: 100%;
        padding: 1.3em 0;

        > span {
          vertical-align: middle;
          &.sort-by {
            .sp-radio-buttons .sp-radio-option {
              width: 6em;
              padding-right: 0;
              padding-left: 0;
            }

            > span {
              display: inline-block;
              padding: 0 1em;
            }
          }

          &.clear-cart {
            border-left: 1px solid #cecece;
            height: 100%;
            margin-left: 1em;
            padding-left: 1em;
            display: inline-block;

            img {
              max-height: 23px;
              max-width: 23px;
              vertical-align: middle;
            }

            span {
              vertical-align: middle;

              .for-vertical-align {
                height: 100%;
                width: 0;
              }
            }
          }

          &.add-coupon {
            border-left: 1px solid #cecece;
            height: 100%;
            margin-left: 1em;
            padding-left: 1em;
            display: inline-block;

            form > * {
              display: inline-block;
              vertical-align: middle;
              margin: 0;
              height: 100%;
              border-radius: 5px;
              box-sizing: border-box;
            }

            input {
              padding: 0.5em;
              outline: 0;
              width: 60%;
              border: 1px solid #c8c8c8;
              vertical-align: middle;
            }

            button {
              line-height: 2.3em;
              padding: 0 2em;
              width: 36%;
              box-shadow: 0 0 0 rgba(0, 0, 0, 0);
            }
          }

          &.save-cart-to-shop-list {
            border-left: 1px solid #cecece;
            display: inline-block;
            height: 100%;
            margin-left: 1em;
            padding-left: 1em;

            sp-dropdown {
              border: 1px solid transparent;
              height: 100%;
              padding: 0 2em 0 1em;
              border-radius: 5px;

              .sp-dropdown-text > span {
                vertical-align: middle;

                .icon {
                  display: inline-block;
                  height: 100%;

                  img {
                    max-height: 23px;
                    max-width: 23px;
                    display: inline-block;
                    vertical-align: middle;
                  }
                }
              }

              .arrow {
                display: none;
                background-color: #c3c3c3;
              }
            }

            &:hover sp-dropdown {
              border-color: #e2e2e2;

              .arrow {
                position: absolute;
                display: block;
                top: 50%;
                margin-top: -0.5em;
                right: 0.5em;
              }
            }
          }
        }
      }
    }

    .left {
      float: left;

      .title {
        line-height: 3em;
        font-size: 1.67em;
        font-weight: normal;
        padding: 0 0.1em;
      }
    }
  }

  .products-suggestions-wrapper {
    position: fixed;
    bottom: 0;
    z-index: 99;
    transition: background 0.5s;

    &.open {
      top: 0;
      background: rgba(0, 0, 0, 0.3);
      transition-delay: $suggestionsAnimationDuration / 2;

      .close {
        display: block;
      }

      > .products-suggestions {
        box-sizing: border-box;
        pointer-events: all;

        > .name {
          width: $productsSuggestionsOpenNameWidth;

          > span {
            font-size: $openedProductsSuggestionsNameFontSize;
            height: auto;
            display: inline-block;
            vertical-align: middle;
            writing-mode: unset;
          }
        }

        > .sp-carousel {
          opacity: 1;

          * {
            visibility: visible;
          }
        }
      }
    }

    &.open-animations,
    &.close-animations {
      > .products-suggestions {
        animation-duration: $suggestionsAnimationDuration;

        > .name {
          animation-duration: $suggestionsAnimationDuration;

          > span {
            animation-duration: $suggestionsAnimationDuration;
          }
        }

        > .sp-carousel {
          animation-duration: $suggestionsAnimationDuration;
        }
      }
    }

    > .close {
      display: none;
      position: fixed;
      bottom: $productsSuggestionsHeight + 5.5em;

      > svg {
        width: 1.25em;
        height: 1.25em;
        fill: #ffffff;
      }
    }

    > .products-suggestions {
      position: fixed;
      z-index: 1;
      bottom: 5em;
      width: 100%;
      height: $productsSuggestionsHeight;
      pointer-events: none;
      box-sizing: border-box;

      > .name {
        position: absolute;
        z-index: 2;
        bottom: 0;
        height: 100%;
        padding: 1em;
        box-sizing: border-box;
        width: $productsSuggestionsNameWidth;
        text-align: center;
        color: #ffffff;
        pointer-events: all;
        white-space: nowrap;

        > span {
          display: inline-block;
          vertical-align: middle;
          width: 100%;
          white-space: normal;
          font-size: $closedProductsSuggestionsNameFontSize;
          font-weight: 100;
          writing-mode: vertical-rl;
          overflow: hidden;
        }

        > div.waves {
          position: absolute;
          top: 0;
          bottom: 0;
          flex-direction: column;
          justify-content: space-around;
          width: $productsSuggestionsWaveWidth;

          > svg {
            height: 100%;
            width: 100%;
          }
        }
      }

      > .sp-carousel {
        $actionWidth: 6em;

        background: #ffffff
          url("https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/products-suggestions-background.jpg")
          center center no-repeat;
        opacity: 0.5;
        background-size: cover;
        //transition: margin 0.5s ease-in, opacity 0.5s;

        > .action {
          width: $actionWidth;
          text-align: center;

          > button {
            $buttonSize: 2.5em;

            display: inline-block;
            vertical-align: middle;
            height: $buttonSize;
            width: $buttonSize;
            border-radius: $buttonSize;
            font-size: 1em;

            //> img {
            //  filter: invert(1);
            //  display: inline-block;
            //  vertical-align: middle;
            //}

            > svg {
              fill: #ffffff;
            }
          }
        }

        > .items {
          margin: 0 $actionWidth;
          box-sizing: border-box;

          .item {
            padding: 1em;
          }
        }

        * {
          visibility: hidden;
        }
      }
    }
  }

  .last-minute-recommendations {
    width: 50%;
    height: calc((100vh / var(--zoom)) - 8.5em);
    margin: -7em 0;
    overflow: auto;
    overflow: overlay;
    background-color: #f0f0f0;

    &.two-lines {
      margin: -10em 0;
    }

    > .header {
      height: 10em;
      position: relative;

      > .background-image {
        height: 13em;
        position: relative;

        > img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          position: absolute;
        }
      }

      > .stars {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        > img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      > .headline {
        width: calc(100% - 1em);
        //height: 3.75em;
        line-height: 1.75em;
        position: absolute;
        //padding: 2em 3em 0;
        @include ellipsis(2);

        h2 {
          padding: 0 0.25em;
          font-size: 20px;
          font-family: inherit;
          color: #ffffff;

          &.image {
            border-radius: 0.5em;
            background: rgba(0, 0, 0, 0.3);
          }
        }
      }

      > .lms-header {
        display: flex;
        margin: 1em 0.5em 0 0.5em;
        align-items: center;

        > .lms-title {
          width: 55%;
          margin-inline-start: 1.5em;
        }

        > .lms-loyalty-component {
          min-width: 440px;
          display: flex;
          justify-content: end;
          margin-inline-end: 1.5em;
          color: white;

          > .loyalty-package-lms-page {
            width: 440px;
            height: 84px;
            border-radius: 9px;
            font-size: 24px;
            display: flex;
            justify-content: center;
            align-items: center;

            > span {
              width: 75%;
              text-align: center;
              height: fit-content;
              font-weight: 900;
              font-size: 80%
            }
          }
        }
      }
    }

    > .sections {
      margin: -3em 0 2em;
      position: relative;

      > .section {
        width: calc(100% - 3em);
        display: grid;
        margin: 0 2em 1em;
        background-color: #ffffff;
        border-radius: 0.5em;

        &.loading {
          height: 0;
          margin: 0;
          padding: 0;
          overflow: hidden;
          visibility: hidden;
        }

        > .title {
          > h3 {
            margin: 0 1em;
            padding: 0.5em;
            font-size: 20px;
            font-family: inherit;
            color: #282828;
            border-bottom: 1px solid #f0f0f0;
          }
        }

        > .carousel {
          width: calc((50vw / var(--zoom)) - 4em);
          max-width: calc((100vw / var(--zoom)) - 960px - 4em);
          height: $carouselHeight;
          padding: 0.5em 0;
          background-color: #ffffff;

          @media screen and (max-width: 1600px) {
            max-width: calc((100vw / var(--zoom)) - 720px - 4em);
          }

          @media screen and (max-width: 1300px) {
            max-width: calc((100vw / var(--zoom)) - 640px - 4em);
          }

          &.new-promotion {
            height: $carouselNewHeight;
            &.show-original-price {
              height: $carouselNewHeight + 4em;
            }

            > .items > .scroller > .transform-wrapper > .item {
              > .product-item,
              > .special-item {
                height: $carouselNewHeight;
              }

              > .coupon-item {
                height: $carouselCouponHeight;
              }
            }
          }

          &.coupons-carousel {
            height: $carouselCouponHeight;
          }

          &.tip-donation-carousel {
            height: $carouselTipDonationHeight;
            padding: 1em 0;

            > .items > .scroller > .transform-wrapper > .item {
              padding: 0 0.5em;

              > .tip-donation-item {
                height: 100%;

                > .carousel-product-item {
                  > .data > .name {
                    min-height: 2em;
                    margin: 0.5em 0 1em;
                    @include ellipsis(2);
                  }

                  > .product-actions {
                    bottom: 1em;

                    > button {
                      width: calc(100% - 0.5em);
                    }
                  }
                }
              }
            }
          }

          > .action > button {
            border: 0;
          }

          > .items > .scroller > .transform-wrapper > .item {
            padding: 0 1em;

            > .product-item,
            > .special-item {
              width: 100%;
              height: $carouselHeight;
              padding: 0.5em;
            }

            > .special-item {
              border: 0;
            }
          }
        }
      }
    }
  }

  .summary-content {
    width: 100%;
    padding: 0 1em 5em 1em;
    box-sizing: border-box;

    &.split-view {
      width: 50%;
      min-width: 960px;
      height: calc((100vh / var(--zoom)) - 20.5em);
      padding: 0;
      float: right;
      overflow: auto;

      &.two-lines {
        height: calc((100vh / var(--zoom)) - 23.5em);
      }

      > .sp-list-items-wrapper {
        padding: 0 1em;

        > .elastic-row {
          visibility: hidden !important;

          span {
            padding: 0.3em 0.5em;
          }
        }

        > .content-table > table {
          > thead > tr > th {
            &.quantity,
            &.name {
              text-align: center;
            }
          }

          > tbody > tr {
            position: relative;

            &.sp-not-in-view {
              opacity: 1;
            }

            &:hover,
            &:focus-within,
            &.hover-mode {
              > td.regular-price,
              > td.total-price {
                opacity: 0;
              }

              > .actions-wrapper {
                opacity: 1;
              }
            }

            td.quantity {
              .audience {
                position: absolute;
                top: 0.75em;
                left: 3.25em;
                font-size: 0.75em;
                border-radius: 4px;
                border: 1px solid;
                color: #ffffff;
              }

              span.audience {
                padding: 0.25em;
              }

              img.audience {
                height: 1.5em;
              }
            }

            td.name {
              .img {
                position: relative;

                .product-main-tag-icon {
                  width: 1.5em;
                  right: 1em;
                  top: 0.25em;
                }
              }

              .data {
                width: calc(100% - 6em);
                position: relative;

                .brand-weight-wrapper {
                  display: flex;
                  align-items: center;
                  .brand,
                  .weight {
                    width: auto;
                    display: inline-block;
                    margin: 0.5em 0;
                    padding: 0.1em 0;
                  }

                  .weight.brand-available {
                    margin-left: 0.5em;
                    padding-left: 0.5em;
                    border-left: 1px solid;
                    display: flex;
                    align-items: center;
                    overflow: visible;

                    .bottle-deposit-disclaimer {
                      margin-left: 1em;
                      align-items: center;
                      background-color:  #ebe8e8;
                      color: #adadad;
                      border-radius: 5px;
                      padding: 3px;


                      img {
                        filter: grayscale(100%);
                      }

                      &-content {
                        display: flex;
                        position: unset;
                        z-index: 1;
                        justify-content: flex-start;
                        margin: 0 0 0 10px;
                        min-width: fit-content;

                        .text {
                          background-color: transparent;
                          padding: 0;
                          color: inherit;
                          line-height: 0;
                        }
                        .arrow {
                          display: none;
                        }
                      }
                    }
                  }
                }

                > .sp-promotion {
                  > .promotion-wrapper {
                    display: flex;
                    padding: 0.25em 0 0;
                    background: none;

                    > .tag {
                      padding: 0;
                    }

                    > div {
                      width: 16px;
                      height: 16px;

                      > span {
                        display: none;
                      }
                    }
                  }

                  > .promotion-tooltip {
                    display: grid;
                    top: -0.25em;
                    left: 0;
                    right: 0;
                    bottom: -0.25em;

                    > .tooltip {
                      max-height: 100%;
                    }
                  }
                }

                > .product-properties {
                  display: flex;
                  grid-column-gap: 1em;
                  align-items: center;
                  padding: 0.5em 0 0;
                  overflow: initial;

                  .property-name {
                    padding: 0;
                  }

                  .dropdown-wrapper sp-dropdown {
                    height: 2em;

                    .sp-dropdown-options-wrapper {
                      width: 100%;
                      left: -2px;
                      padding: 0;

                      .sp-option {
                        &:last-child {
                          border-bottom: 0;
                        }

                        label {
                          padding: 0.5em 0.75em;

                          .option-content {
                            padding: 0;

                            .option-link {
                              display: grid;
                              grid-row-gap: 0.25em;
                              padding: 0;

                              .value-name {
                                padding: 0;
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }

                > .cart-line-comments-wrapper {
                  margin: 0.5em 0;

                  input {
                    padding: 0.25em 0.5em;
                    font-size: 14px;
                  }
                }

                > .info-wrapper {
                  position: relative;
                  &.has-unit {
                    display: flex;
                    align-items: center;
                    gap: 12px;
                    > .name {
                      width: 80%;
                      white-space: normal;
                      word-wrap: break-word;
                    }
                  }
                  &.has-weight {
                    overflow: visible;
                    > .sp-unit-weight { 
                      position: absolute;
                      top: 150%;
                      left: 100%;
                      transform: translate(-100%, -50%);
                      z-index: 1;
                    }
                  }
                }
              }
            }

            > td.total-price > .sp-product-price {
              display: flex;
            }

            > td.coupon-info {
              justify-items: end;
              padding: 0;
              //display: grid;
              //grid-row-gap: 0.25em;
              position: absolute;
              top: 73%;
              right: 1em;
              transform: translateY(-50%);
              height: 2em;
              z-index: 1;

              > * {
                display: inline-block;
              }

              > button {
                width: 10em;
                height: 2em;
                //display: flex;
                //grid-column-gap: 0.5em;
                align-items: center;
                justify-content: center;
                padding: 0.25em 0.5em;
                font-size: 14px;
                background: white;
                color: #787878;
                border: 1px solid #a0a0a0;
              }

              > .error {
                height: calc(2em + 4px);
                //display: grid;
                align-items: center;
                font-size: 12px;
                font-weight: bold;
                color: #d6353a;
                position: relative;

                > .question-mark {
                  border: 1px solid;
                  border-radius: 100%;
                  padding: 0.02em 0.2em;
                }

                > .error-tooltip {
                  position: absolute;
                  bottom: 100%;
                  background-color: #ffffff;
                  text-align: left;
                  left: 0;
                  right: -30%;
                  box-shadow: 0 0 0.6em 0 rgba(0, 0, 0, 0.36);
                  display: none;
                  border-radius: 5px 5px 0 0;

                  .title {
                    background-color: #ffebeb;
                    padding: 0.7em;
                    border-radius: 5px 5px 0 0;
                  }

                  .description {
                    color: #787878;
                    font-weight: 400;
                    padding: 0.8em;
                    line-height: 1.25em;
                    font-size: 0.9em;
                  }

                  > * {
                    white-space: break-spaces;
                  }
                }

                &:hover, &:focus-within {
                  > .error-tooltip {
                    display: block;
                  }
                }
              }
            }

            > .actions-wrapper {
              opacity: 0;
            }

            > .actions-wrapper {
              display: grid;
              grid-row-gap: 0.25em;
              position: absolute;
              top: 50%;
              right: 1em;
              transform: translateY(-50%);

              > button {
                width: 10em;
                height: 2em;
                display: flex;
                grid-column-gap: 0.5em;
                align-items: center;
                justify-content: center;
                padding: 0.25em 0.5em;
                font-size: 14px;
                background: white;
                color: #787878;
                border: 1px solid #a0a0a0;
              }
            }

            &.coupon-row {
              > .actions-wrapper {
                top: 27%;
              }
            }
          }
        }
      }

      @media screen and (max-width: 1600px) {
        height: calc((100vh / var(--zoom)) - 27.5em);
        min-width: 720px;
        font-size: 12px;
      }

      @media screen and (max-width: 1300px) {
        height: calc((100vh / var(--zoom)) - 23.5em);
        min-width: 640px;
      }
    }

    > .sp-list-items-wrapper {
      &.has-products-suggestions {
        padding-bottom: $productsSuggestionsHeight;
      }

      td.specials {
        position: relative;
        > .sp-promotion {
          display: flex;
          justify-content: center;
          > .promotion-wrapper {
            display: flex;
            padding: 0.25em 0 0;
            background: none;

            > .tag {
              padding: 0;
            }

            > div {
              width: 16px;
              height: 16px;

              > span {
                display: none;
              }
            }
          }

          > .promotion-tooltip {
            display: grid;
            top: -0.25em;
            left: 0;
            right: 0;
            bottom: -0.25em;

            > .tooltip {
              max-height: 100%;
            }
          }
        }
      }

      td.remove-btn button {
        display: grid;
        align-items: center;
        justify-items: center;

        .remove-icon {
          margin: auto;
        }

        .delete-text {
          display: none;
        }
      }
    }
  }

  .fade {
    width: 50%;
    min-width: 960px;
    position: absolute;
    background: #000000;
    top: 0;
    bottom: -5em;
    right: 0;
    z-index: 90;
    opacity: 0.7;

    &.hide {
      display: none;
    }

    &:not(.hide) {
      animation: fadeOut 3s forwards;
      animation-delay: 5s;

      @keyframes fadeOut {
        from {
          opacity: 0.7;
          visibility: visible;
        }
        to {
          opacity: 0;
          visibility: hidden;
        }
      }
    }

    @media screen and (max-width: 1600px) {
      min-width: 720px;
    }

    @media screen and (max-width: 1300px) {
      min-width: 640px;
    }
  }
}

html.ltr.cart-summary section.view {
  .products-suggestions-wrapper {
    left: 0;

    &.open {
      right: 0;

      > .products-suggestions {
        margin-left: 0;

        > .name {
          left: 0;

          > span {
            transform: rotate(0deg);
          }
        }

        > .sp-carousel {
          margin-left: $openedProductsSuggestionsCarouselMarginLeft;
        }
      }
    }

    &.open-animations {
      > .products-suggestions {
        animation-name: ltrOpenSuggestions;

        > .name {
          animation-name: ltrOpenSuggestionsName;

          > span {
            animation-name: ltrOpenSuggestionsNameSpan;
          }
        }

        > .sp-carousel {
          animation-name: ltrOpenSuggestionsCarousel;
        }
      }
    }

    &.close-animations {
      > .products-suggestions {
        animation-name: ltrCloseSuggestions;

        > .name {
          animation-name: ltrCloseSuggestionsName;

          > span {
            animation-name: ltrCloseSuggestionsNameSpan;
          }
        }

        > .sp-carousel {
          animation-name: ltrCloseSuggestionsCarousel;
        }
      }
    }

    > .close {
      right: 0.5em;
    }

    > .products-suggestions {
      left: 0;
      padding-left: $productsSuggestionsOpenNameWidth;
      margin-left: -($productsSuggestionsOpenNameWidth -
            $productsSuggestionsNameWidth);

      > .name {
        left: $productsSuggestionsOpenNameWidth - $productsSuggestionsNameWidth;

        > span {
          transform: rotate(180deg);
        }

        > div.waves {
          left: 100%;
        }
      }

      > .sp-carousel {
        margin-left: $closedProductsSuggestionsCarouselMarginLeft;
      }
    }
  }
}

html.rtl.cart-summary section.view > div {
  div.fixed-banner {
    &.split-view {
      left: 0;
      right: auto;

      .right .content .save-cart-to-shop-list .transparent-arrow {
        padding: 0 0 0 1.5em;
      }
    }

    .right {
      float: left;

      .content {
        > span {
          &.clear-cart {
            margin: 0 1em 0 0;
            padding: 0 1em 0 0;
            border-left-width: 0;
            border-right: 1px solid #cecece;
          }

          &.add-coupon {
            border-left-width: 0;
            border-right: 1px solid #cecece;
            margin-left: 0;
            margin-right: 1em;
            padding-left: 0;
            padding-right: 1em;

            button {
              margin-left: 0;
              margin-right: 2%;
            }
          }

          &.save-cart-to-shop-list {
            margin-left: 0;
            padding-left: 0;
            margin-right: 1em;
            padding-right: 1em;
            border-left-width: 0;
            border-right: 1px solid #cecece;

            sp-dropdown {
              padding: 0 1em 0 2em;
            }

            &:hover sp-dropdown {
              .arrow {
                right: auto;
                left: 0.5em;
              }
            }
          }
        }
      }
    }

    .left {
      float: right;
    }
  }

  .products-suggestions-wrapper {
    right: 0;

    &.open {
      left: 0;

      > .products-suggestions {
        margin-right: 0;

        > .name {
          right: 0;
        }

        > .sp-carousel {
          margin-right: $openedProductsSuggestionsCarouselMarginLeft;
        }
      }
    }

    &.open-animations {
      > .products-suggestions {
        animation-name: rtlOpenSuggestions;

        > .name {
          animation-name: rtlOpenSuggestionsName;

          > span {
            animation-name: rtlOpenSuggestionsNameSpan;
          }
        }

        > .sp-carousel {
          animation-name: rtlOpenSuggestionsCarousel;
        }
      }
    }

    &.close-animations {
      > .products-suggestions {
        animation-name: rtlCloseSuggestions;

        > .name {
          animation-name: rtlCloseSuggestionsName;

          > span {
            animation-name: rtlCloseSuggestionsNameSpan;
          }
        }

        > .sp-carousel {
          animation-name: rtlCloseSuggestionsCarousel;
        }
      }
    }

    > .close {
      left: 0.5em;
    }

    > .products-suggestions {
      right: 0;
      padding-right: $productsSuggestionsOpenNameWidth;
      margin-right: -($productsSuggestionsOpenNameWidth -
            $productsSuggestionsNameWidth);

      > .name {
        right: $productsSuggestionsOpenNameWidth - $productsSuggestionsNameWidth;

        > div.waves {
          transform: rotate(180deg);
          right: 100%;
        }
      }

      > .sp-carousel {
        margin-right: $closedProductsSuggestionsCarouselMarginLeft;
      }
    }
  }

  .summary-content.split-view .sp-list-items-wrapper .content-table tbody tr {
    td.quantity {
      > svg {
        transform: scale(-1);
      }

      .audience {
        left: auto;
        right: 3.25em;
      }
    }

    td.name {
      .img {
        position: relative;

        .product-main-tag-icon {
          left: 1em;
          right: auto;
        }
      }

      .data .weight.brand-available {
        margin-left: 0;
        margin-right: 0.5em;
        padding-left: 0;
        padding-right: 0.5em;
        border-left: none;
        border-right: 1px solid;
      }
    }

    .actions-wrapper,
    td.coupon-info {
      left: 1em;
      right: auto;
    }

    .coupon-info > .error > .error-tooltip {
      text-align: right;
      right: 0;
      left: -30%;
    }
  }

  .fade {
    left: 0;
    right: auto;
  }
}

@media screen and (max-width: 1300px) {
  html.cart-summary {
    $cartSummaryFontSize: 0.86em;

    section.view {
      font-size: $cartSummaryFontSize;
    }

    &.ltr,
    &.rtl {
      section.view div.fixed-banner {
        top: ($headerResponsiveHeight / $cartSummaryFontSize) * 1em;
      }

      &.hub-child section.view div.fixed-banner {
        top: (
            ($headerResponsiveHeight + $hubHeaderHeight) / $cartSummaryFontSize
          ) * 1em;
      }
    }

    .disabled {
      opacity: 0.35;
      pointer-events: none;
    }

    span.out-of-stock:not(.suggestions) {
      position: absolute;
      top: 50%;
      height: 1.5em;
      line-height: 1.5em;
      padding: 0 0.4em;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      text-align: center;
      margin-top: -0.75em;
      color: #ffffff;
      font-size: 0.75em;
      white-space: nowrap;
      background-color: #f86b2f;
      width: auto;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

@media screen and (max-width: 1160px) {
  html.cart-summary section.view {
    div.fixed-banner .left {
      display: none;
    }
  }
}

@media screen and (max-width: 768px) {
  html.cart-summary section.view {
    div.fixed-banner {
      .right .content {
        font-size: 0.9em;
        > span.save-cart-to-shop-list sp-dropdown {
          padding: 0;
          .sp-dropdown-text {
            padding: 0;
          }
        }

        > span.sort-by .sp-radio-buttons .sp-radio-option {
          width: 5em;
        }
      }

      .left .title {
        font-size: 1.4em;
        line-height: 3.7em;
      }
    }
  }
}
