html.cart-summary section.view {
  div.fixed-banner {
    .left .title {
      font-family: $secondaryFontFamily;
      color: $secondaryColor;
    }

    .right .content > span.add-coupon button {
      font-family: $defaultFontFamily;
    }
  }

  .products-suggestions-wrapper > .products-suggestions {
    > .name {
      background: $mainColor;

      > div.waves > svg {
        fill: $mainColor;
      }
    }

    > .sp-carousel > .action > button {
      background: $mainColor;
    }
  }

  .last-minute-recommendations > .header.default-background {
    background-color: $mainColor;
  }

  .summary-content.split-view .cart-line-comments-wrapper input {
    border-color: $mainColor;
  }
}

html.checkout
  .dialog-wrapper
  .dialog.cart-summary-dialog
  .bottom-sales-items-description
  .apply-button {
  background-color: $mainColor;
  border-color: $highlightColor;
}
