<div role="alert" aria-atomic="true" aria-live="polite" tabindex="0" class="content">
    <div class="title" ng-bind="('clear cart?' | translate).replace('{cart}', $root.config.retailer.settings.setCartNameToBasket ? $root.config.retailer.settings.setCartNameToBasket : 'cart')" tabindex="0"></div>
    <div class="container" tabindex="0">
        <p class="text" ng-bind="('are you sure you want to remove all products from your shopping cart?' | translate).replace('{cart}', $root.config.retailer.settings.setCartNameToBasket ? $root.config.retailer.settings.setCartNameToBasket : 'cart')"></p>
    </div>

    <div class='buttons'>
        <button type="submit" class="clear-btn" ng-bind="::('yes, clear cart' | translate).replace('{cart}', $root.config.retailer.settings.setCartNameToBasket ? $root.config.retailer.settings.setCartNameToBasket : 'cart')" ng-click="clearAllCart()"></button>
        <button type="submit" class="cancel-btn" ng-bind="::'Cancel' | translate" ng-click="$dialog.hide()"></button>
    </div>
</div>

