.dialog-wrapper .dialog.clear-cart-popup .dialog-body {
  overflow: visible;
  height: auto;
  width: 400px;

  .content {
    padding: 0 1em;
    width: auto;
    height: auto;

    .text {
      line-height: 1.4em;
      font-size: 1.1em;
    }

    .title {
      line-height: 1em;
      font-size: 2em;
      margin-bottom: 0.5em;
      font-weight: normal;
    }

    .buttons {
      float: right;
      margin-top: 3em;
      margin-bottom: 1em;

      .clear-btn {
        font-weight: 500;
        color: white;
        border-radius: 5px;
        padding-right: 20px;
        padding-left: 20px;
      }
      .cancel-btn {
        color: #787878;
        border-color: #787878;
        border: 1px solid;
        background-color: white;
        padding: 0.35em 3em;
        font-weight: bold;
      }
    }
  }

  .rtl & {
    .buttons {
      float: left;
    }
  }
}