$margin-x: 50%;
$margin-y: 0.8em;

.toast {
  z-index: 99999;
  @include fixed();
  left: $margin-x;
  transform: translateX(-50%);
  bottom: $margin-y;
  transition: transform 2s ease-out 1s;
  min-width: 15em;
  background-color: #000000;
  color: #ffffff;
  padding: 1em;
  @include opacity(0.8);
  display: none;

  &.shown {
    display: block;
  }
}