<span><!--
    -->{{'Time' | translate}},{{'User' | translate}},{{'Changed By User' | translate}},{{'Action' | translate}},{{'Action Sum' | translate}},<!--
    -->{{'Remaining User Credit' | translate}},{{'Remaining Organization Credit' | translate}},,{{ "\n"}}<!--
    --><span ng-repeat="row in OrganizationLogsExport"><!--
        -->{{row.date}},{{(row.originFName || '') + ' ' + (row.originLName || '')}},{{row.firstName + ' ' + row.lastName}},{{row.action | translate}},{{row.orderSum}},{{row.remainingSum}},{{row.remainingOrganizationSum}},{{ "\n"}}<!--
    --></span><!--
--></span>
