<div class="component-wrapper external-services-component"
     ng-init="premiumLoyaltyCtrl.initExternalServicesComponent(component)"
     ng-style="{'background-color': component.content.componentBackgroundColor}">
    <div class="external-code-wrapper"
         ng-if="component.content.isExternalServicesCodeActive && premiumLoyaltyCtrl.userType !== $root.LOYALTY_PAGE_METHODS.NON_LOYALTY_MEMBER && premiumLoyaltyCtrl.userEligibleToRedeem"
         ng-click="premiumLoyaltyCtrl.openExternalRedeemCodeDialog(component)"
         ng-style="{'background-image': 'url(' + premiumLoyaltyCtrl.loyaltyClub.banners.mobileLpdExternalCodeButton + ')'}">
        <div ng-if="component.content.isButtonTextOn" class="button-title" ng-style="{'color': component.content.buttonColor}">
            {{component.content.buttonText[$root.config.language.culture] || ('Your personal payment code' | translate)}}</div>
        <div class="button-text" ng-style="{'color': component.content.buttonColor}">{{'Click here' | translate}}</div>
    </div>

    <div class="services-wrapper" ng-class="{'with-space': premiumLoyaltyCtrl.userType === $root.LOYALTY_PAGE_METHODS.NON_LOYALTY_MEMBER || !component.content.isExternalServicesCodeActive || !premiumLoyaltyCtrl.userEligibleToRedeem}"
    ng-if="premiumLoyaltyCtrl.userType === $root.LOYALTY_PAGE_METHODS.NON_LOYALTY_MEMBER || premiumLoyaltyCtrl.loyaltyClubDriver.clientConfig.banners.desktopLpdExternalServicesComponent || component.content.isTextualButtonOn">
        <h2 ng-style="{'color': component.content.externalServicesTitleColor}"
            ng-if="component.content.isTitleTextOn">
            {{component.content.externalServicesTitleText[$root.config.language.culture] || ('You can choose where and how to redeem your rewards!' | translate)}}
        </h2>
        <a ng-if="component.content.link" href="{{component.content.link}}">
            <img src="{{premiumLoyaltyCtrl.loyaltyClubDriver.clientConfig.banners.desktopLpdExternalServicesComponent}}"
                 alt="{{component.content.desktopExternalServicesImageAccessibility}}"/>
        </a>
        <img ng-if="!component.content.link" src="{{premiumLoyaltyCtrl.loyaltyClubDriver.clientConfig.banners.desktopLpdExternalServicesComponent}}"
             alt="{{component.content.desktopExternalServicesImageAccessibility}}"/>
        <button class="no-design external-services-button"
                ng-if="component.content.isTextualButtonOn"
                ng-click="premiumLoyaltyCtrl.openExternalServicesListDialog(component)"
                ng-style="{'color': component.content.externalServicesButtonColor}">
            {{component.content.externalServicesButtonText[$root.config.language.culture] || ('Here\'s a list of hundreds of external services to redeem points' | translate)}}
        </button>
    </div>
</div>

<ng-include ng-if="premiumLoyaltyCtrl.userType === $root.LOYALTY_PAGE_METHODS.NON_LOYALTY_MEMBER && !!premiumLoyaltyCtrl.signInComponentTypesObj[component.type]"
            src="$root.LOYALTY_PAGE_COMPONENT_TYPES.BY_VALUE[$root.LOYALTY_PAGE_COMPONENT_TYPES.BY_NAME.SIGN_IN_COMPONENT].templateUrl">
</ng-include>