<div class="component-wrapper loyalty-specials"
     ng-class="{'new-promotion': $root.config.retailer.settings.isNewPromotionDesignEnabled === 'true'}"
     ng-init="premiumLoyaltyCtrl.initGeneralComponent(component)"
     ng-style="{'background-image': 'url(' + premiumLoyaltyCtrl.loyaltyClubDriver.clientConfig.banners.desktopLpdSpecialCarousel + ')'}">

    <h2 ng-if="component.content.isTitleTextOn" ng-style="{'color': component.content.titleColor}">
        {{component.content.titleText[$root.config.language.culture] || ('Loyalty members enjoy the variety of promotions' | translate)}}
    </h2>

    <sp-carousel
            template-url="template/views/home/partials/special-carousel/index.html"
            load-more-items="userEditCtrl.loadSpecials"
            functions="userEditCtrl.specialsActions"
            item-width="161"
            rows="{default:1}"
            refresh-event="carousel.specials.add"
            watchers="userEditCtrl.specialsCarouselWatchers">
    </sp-carousel>
</div>

<ng-include ng-if="premiumLoyaltyCtrl.userType === $root.LOYALTY_PAGE_METHODS.NON_LOYALTY_MEMBER && !!premiumLoyaltyCtrl.signInComponentTypesObj[component.type]"
            src="$root.LOYALTY_PAGE_COMPONENT_TYPES.BY_VALUE[$root.LOYALTY_PAGE_COMPONENT_TYPES.BY_NAME.SIGN_IN_COMPONENT].templateUrl">
</ng-include>

