<div class="component-wrapper background-image main-banner display-grid"
     aria-label="{{component.content.desktopMainBannerAccessibility}}"
     ng-style="{'background-image': 'url(' + premiumLoyaltyCtrl.loyaltyClubDriver.clientConfig.banners.desktopLpdMainComponent + ')'}">
    <div>
        <h1 ng-if="component.content.isTitleTextOn" ng-style="{'color': component.content.titleColor}">
            {{component.content.titleText[$root.config.language.culture] || ('What kind of Foodie are you?' | translate)}}
        </h1>
    </div>
    <div>
        <h2 ng-if="component.content.isSubTitleTextOn" ng-style="{'color': component.content.titleColor}">
            {{component.content.subTitleText[$root.config.language.culture] || ('Cooking at home or eating outside?' | translate)}}
        </h2>
    </div>
    <div>
        <button ng-style="{'color': component.content.buttonColor, 'background-color': component.content.buttonBackgroundColor}"
                ng-click="premiumLoyaltyCtrl.goToSignIn(component)">
            {{component.content.signInButtonText[$root.config.language.culture] || ('Sign in/ Sign up' | translate)}}
        </button>

        <p
            class="external-text"
            ng-if="component.content.externalRegistration.isActive"
            ng-style="{
                'color': component.content.externalRegistration.textColor,
            }"
        >
            {{ component.content.externalRegistration.text[$root.config.language.culture] }}
        </p>
    </div>
</div>