<div class="component-wrapper background-image main-banner"
     aria-label="{{component.content.desktopMarketingBannerAccessibility}}"
     ng-style="{'background-image': 'url(' + premiumLoyaltyCtrl.loyaltyClubDriver.clientConfig.banners.desktopLpdMarketingComponent + ')'}">
</div>

<ng-include ng-if="premiumLoyaltyCtrl.userType === $root.LOYALTY_PAGE_METHODS.NON_LOYALTY_MEMBER && !!premiumLoyaltyCtrl.signInComponentTypesObj[component.type]"
            src="$root.LOYALTY_PAGE_COMPONENT_TYPES.BY_VALUE[$root.LOYALTY_PAGE_COMPONENT_TYPES.BY_NAME.SIGN_IN_COMPONENT].templateUrl">
</ng-include>