
<div class="component-wrapper background-image member-main-banner"
     aria-label="{{component.content.desktopMainBannerAccessibility}}"
     ng-style="{'background-image': 'url(' + premiumLoyaltyCtrl.loyaltyClub.banners.desktopLpdMemberMainComponent + ')'}">
    <h1 ng-if="component.content.isTitleTextOn" ng-style="{'color': component.content.titleColor}">
        {{component.content.titleText[$root.config.language.culture] || ('What kind of Foodie are you?' | translate)}}
    </h1>
    <h2 ng-if="component.content.isSubTitleTextOn" ng-style="{'color': component.content.titleColor}">
        {{component.content.subTitleText[$root.config.language.culture] || ('Cooking at home or eating outside?' | translate)}}
    </h2>
</div>