<div class="component-wrapper points-calculator"
     ng-style="{'background-color': component.content.backgroundColor}"
     ng-init="premiumLoyaltyCtrl.initPointsCalculator(component)">
    <div>
        <h2 ng-if="component.content.isTitleTextOn" ng-style="{'color': component.content.titleColor}">
            {{component.content.titleText[$root.config.language.culture] || ('Find out how much you\'ll earn from your purchases in a month.' | translate)}}
        </h2>
    </div>
    <div>
        <h3 ng-if="component.content.isSubTitleTextOn" ng-style="{'color': component.content.subTitleColor}">
            {{component.content.subTitleText[$root.config.language.culture] || ('What\'s your monthly shopping spend? (Estimated)' | translate)}}
        </h3>
    </div>
    <div>
        <div class="slider-container"
             ng-style="{'background-color': component.content.progressBarBackground}">
            <div class="slider">
                <input type="range"
                       id="range_input"
                       min="{{component.content.minValue}}"
                       max="{{component.content.maxValue}}"
                       ng-model="premiumLoyaltyCtrl.sliderValue"
                       step="{{component.content.sliderIncrements}}"
                       ng-change="premiumLoyaltyCtrl.onSliderValueChange(component)">
                <div class="slider-values" ng-style="{'color': component.content.progressBarColor}">
                    <div>{{$root.config.retailer.currencySymbol + component.content.minValue.toFixed()}}</div>
                    <div>{{$root.config.retailer.currencySymbol + component.content.maxValue.toFixed()}}</div>
                </div>
                <div class="current-value"
                     ng-style="{'color': component.content.progressBarColor,
                 'right': 'auto',
                 'left': ((premiumLoyaltyCtrl.sliderValue - component.content.minValue) / (component.content.maxValue - component.content.minValue) * 100) + '%'}">
                    {{$root.config.retailer.currencySymbol + premiumLoyaltyCtrl.sliderValue.toFixed()}}
                </div>
            </div>
        </div>
    </div>
    <div>
        <!-- <div class="cashback-calculator" ng-style="{'color': component.content.progressBarColor}">
            <span class="money">{{premiumLoyaltyCtrl.pointsToMoneyDemo | currency:null:premiumLoyaltyCtrl.loyaltyClubDriver.clientConfig.pointsDecimalRound}}</span>
            <span class="points">
            {{'(' + premiumLoyaltyCtrl.pointsDemo + '  ' +
            (premiumLoyaltyCtrl.loyaltyClubDriver.clientConfig.loyaltyPages.purchaseSummary[$root.config.language.culture].cashbackLabel ||
                    premiumLoyaltyCtrl.loyaltyClubDriver.clientConfig.loyaltyPages.purchaseSummary[$root.config.retailer.culture].cashbackLabel ||
                    ('Points' | translate)) + ')'}}</span>
        </div> -->
        <div ng-if="component.content.isTextDescOn" class="cashback-calculator" ng-style="{'color': component.content.progressBarColor}">
            <span ng-style="{'color': component.content.textDescColor}" class="money">{{component.content.textDesc[$root.config.language.culture]
                .replace('{spending amount}', $root.config.retailer.currencySymbol + premiumLoyaltyCtrl.sliderValue.toFixed())
                .replace('{club points amount}', premiumLoyaltyCtrl.pointsDemo)
                .replace('{club points name}', premiumLoyaltyCtrl.loyaltyClubPointsName)
            }}<span>
        </div>
    </div>
    <div>
        <div ng-if="component.content.isText1On" class="text-1" ng-style="{'color': component.content.text1Color}">
            {{component.content.text1[$root.config.language.culture] || ('In other words...' | translate)}}
        </div>
    </div>
    <div>
        <div ng-if="component.content.isText2On" class="text-2" ng-style="{'color': component.content.text2Color}">
            {{(component.content.text2[$root.config.language.culture] || ('It means you\'ll earn {yearly profit amount} per year' | translate)) | replaceAll:'{yearly profit amount}':($root.config.retailer.currencySymbol + premiumLoyaltyCtrl.yearlyProfitAmountDemo.toFixed())}}
        </div>
    </div>
</div>


<ng-include ng-if="premiumLoyaltyCtrl.userType === $root.LOYALTY_PAGE_METHODS.NON_LOYALTY_MEMBER && !!premiumLoyaltyCtrl.signInComponentTypesObj[component.type]"
            src="$root.LOYALTY_PAGE_COMPONENT_TYPES.BY_VALUE[$root.LOYALTY_PAGE_COMPONENT_TYPES.BY_NAME.SIGN_IN_COMPONENT].templateUrl">
</ng-include>