<div class="component-wrapper sign-in-component"
     ng-style="{'background-color': premiumLoyaltyCtrl.signInComponent.content.componentBackgroundColor}">
    <button ng-style="{'color': premiumLoyaltyCtrl.signInComponent.content.buttonColor, 'background-color': premiumLoyaltyCtrl.signInComponent.content.buttonBackgroundColor}"
            ng-click="premiumLoyaltyCtrl.goToSignIn(component)">
        {{premiumLoyaltyCtrl.signInComponent.content.buttonText[$root.config.language.culture] || ('Sign in/ Sign up' | translate)}}
    </button>
    <div ng-if="premiumLoyaltyCtrl.signInComponent.content.isDescriptionTextOn" class="desc">
        {{premiumLoyaltyCtrl.signInComponent.content.descriptionText[$root.config.language.culture] || ('Login / sign up to continue...it\'s easy!' | translate)}}
    </div>
</div>