<div class="navigation-bar">
    <span class="clickable" ng-click="goBack()">< {{'Back' | translate}}</span>
    <span>&nbsp;|&nbsp;</span>
    <span><button ng-click="shopListCtrl.save()" ng-bind="'Save' | translate"></button></span>
    <span>&nbsp;|&nbsp;</span>
    <h1 id="page_title">{{'Shopping list' | translate}}: {{shopListCtrl.shopList.name}}</h1>
</div>
<div class="shop-list-actions">
    <div class="content">
        <span ng-bind="'Actions on marked items' | translate"></span>
        <button ng-click="shopListCtrl.createNewCart();" ng-bind="('create new cart' | translate).replace('{cart}', $root.config.retailer.settings.setCartNameToBasket ? $root.config.retailer.settings.setCartNameToBasket : 'cart')"></button>
        <button ng-click="shopListCtrl.addToCart();" ng-bind="('add to cart' | translate).replace('{cart}', $root.config.retailer.settings.setCartNameToBasket ? $root.config.retailer.settings.setCartNameToBasket : 'cart')"></button>
    </div>
</div>

<sp-table class="{{'sp-table-shopping-list' + (shopListCtrl.sortByCategories ? ' sort-by-categories' : '') + ($root.config.retailer.settings.isNewPromotionDesignEnabled === 'true' ? ' new-promotion' : '')}}"
          sort-by-categories="shopListCtrl.sortByCategories"
          items="shopListCtrl.sortByCategories ? shopListCtrl.sortedListByTree : shopListCtrl.shopList.items"
          actions="shopListCtrl.actions"
          default-sort-by="(product.names | name).long"
          colspan="$root.config.retailer.settings.isNewPromotionDesignEnabled === 'true' ? 9 : 8"
          sp-aria-label="{{item.product | productName:item.isCase}}">
    <sp-table-column title="{{'Image' | translate}}">
        <div class="image-wrapper general-image-wrapper">
            <img ng-src="{{item.product | productImage:'small'}}" ng-class="{disabled: item.isProductOutOfStock}" alt="{{item.product | productName:item.isCase}}"/>
            <span ng-if="!item.product._suggestions && (item.isProductOutOfStock || item.isNeedToShowOutOfStockLabel)" class="out-of-stock">{{'Out of stock' | translate}}</span>
            <span class="out-of-stock suggestions text-1" ng-if="item.product._suggestions && (item.isProductOutOfStock || item.isNeedToShowOutOfStockLabel)" ng-click="openSuggestions(item)">{{'Out of Stock' | translate}}</span>
            <span class="out-of-stock suggestions text-2" ng-if="item.product._suggestions && (item.isProductOutOfStock || item.isNeedToShowOutOfStockLabel)" ng-click="openSuggestions(item)">
                <span><svg role="presentation" class="replace-arrow" focusable="false"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{'#sp-icons-replace-arrow-' + $root.config.language.direction}}"></use></svg></span>
                <span>{{'replace_2' | translate}}</span>
            </span>
            <span class="suggestions" ng-if="item.product._suggestions && (item.isProductOutOfStock || item.isNeedToShowOutOfStockLabel)">
                    <svg class="outline-large" focusable="false"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#sp-icons-out-of-stock-outline"></use></svg>
                    <svg class="outline-small" focusable="false"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#sp-icons-out-of-stock-outline-small"></use></svg>
                </span>
        </div>
    </sp-table-column>
    <sp-table-column title="{{'Name' | translate}}" sort-by="(product.names | name).long" style-class="{{'product-details' + (item.isProductOutOfStock ? ' disabled' : '')}}">
        <span ng-if="!!item.product" class="name">
            {{item.product | productName:item.isCase}}
        </span>
        <span ng-if="!item.product" class="name">{{'Not active' | translate}}</span>
    </sp-table-column>
    <sp-table-column style-class="{{($root.config.retailer.settings.isNewPromotionDesignEnabled === 'true' ? 'new-promotion' : 'new-promotion-hide') + (item.isProductOutOfStock ? ' disabled' : '')}}" ng-if="$root.config.retailer.settings.isNewPromotionDesignEnabled === 'true'">
        <sp-promotion product="item.product" is-list="true" ng-if="item.product && item.product.branch.specials.length"></sp-promotion>
    </sp-table-column>
    <sp-table-column title="{{'Price' | translate}}" sort-by="product | regularPrice" style-class="{{item.isProductOutOfStock ? 'disabled' : ''}}">
        {{item.product | regularPrice:item.isCase | currency}}
        <span ng-if="$root.config.retailer.settings.showPriceWithoutBottleDeposit && item.product && item.product.branch && item.product.branch.linkedProductPrice"
              class="bottle-deposit-disclaimer in-block">
        <img className="bottle-deposit-disclaimer-img" style="width:20px; height:20px" ng-src="{{'https://d226b0iufwcjmj.cloudfront.net/global/mobile/images/icons/info-icon.png'}}"/>
        <span class="bottle-deposit-disclaimer-content" >
            <span class="text">{{$root.config.retailer.settings.disclaimerOnCartPages[$root.config.language.id] || ('Price includes bottle deposit' | translate)}}</span>
            <span class="arrow"></span>
        </span>
    </span>
    </sp-table-column>
    <sp-table-column title="{{'Quantity' | translate}}" sort-by="quantity" style-class="{{item.isProductOutOfStock ? 'disabled shop-list-quantity' : 'shop-list-quantity'}}">
        <sp-quantity style="width: 50%" cart-line="item" on-plus="setQuantity(item, 1)" on-minus="setQuantity(item, -1)"
                     on-change="true" design="landscape" minus-alt="{{('reduce the amount of' | translate) + ' ' + (item.product | productName:item.isCase)}}"
                     plus-alt="{{('increase the amount of' | translate) + ' ' + (item.product | productName:item.isCase)}}"></sp-quantity>
    </sp-table-column>
    <sp-table-column title="{{'Total' | translate}}" sort-by="(product | regularPrice) * quantity" style-class="{{item.isProductOutOfStock ? 'disabled' : ''}}">
        <span ng-if="!$root.util.isUnitsWeighable(item.product) && !item.isCase">
               {{(item.product | regularPrice:item.isCase) * item.quantity | currency}}
        </span>
        <span ng-if="$root.util.isUnitsWeighable(item.product) && !item.isCase">
              {{ (item.product | regularPrice:item.isCase) * item.product.weight * item.quantity | currency }}
        </span>
    </sp-table-column>
    <sp-table-column title="{{'Product properties' | translate}}" style-class="{{item.isProductOutOfStock ? 'disabled' : ''}}">
            <product-properties item="item" ng-if="item.product.productProperties && item.product.productProperties.length"></product-properties>
    </sp-table-column>
    <sp-table-column title="{{'Comments' | translate}}" style-class="{{item.isProductOutOfStock ? 'disabled' : ''}}">
        {{item.comments}}
    </sp-table-column>
    <sp-table-column template="actionsCheckboxes" style-class="{{item.isProductOutOfStock ? 'disabled' : ''}}"></sp-table-column>
</sp-table>
