html.shop-list {
  .shop-list-actions {
    .content {
      padding: 1em;
      float: right;
    }

    &:after {
      content: '';
      display: block;
      clear: both;
    }
  }

  .shop-list-quantity input {
    width: 3em;
    text-align: center;
  }

  .bottle-deposit-disclaimer {

    margin-left: 1em;
    vertical-align: middle;

    &.in-block {
      display: inline-block!important;
    }
  }

  &.rtl {
    .shop-list-actions .content {
      float: left;
    }

    .bottle-deposit-disclaimer {
      margin-right: 1em;

      &.in-block {
        .bottle-deposit-disclaimer-content {
          left: 20px;
          right: unset;

          .arrow {
            border-right: 5px solid rgba(40, 40, 40, 0.76);
            border-left: unset;
          }
        }
      }
    }
  }
}
