<div class="bypass-blocks-wrapper"
     ng-include="'template/views/header/partials/bypass-blocks/index.html'"></div>
<div class="hub-header" ng-style="{'background-color': $root.config.hubRetailer.siteColor}"
    ng-include="'template/views/header/partials/hub-header/index.html'">
</div>
<div class="toolbar">
    <span class="logo">
        <a ui-sref="app.home">
            <span class="for-vertical-align"></span><!--
            --><img ng-src="{{::$root.config.retailer.logoUrl | image}}"
                    alt="{{('Logo {retailer_title} home page link' | translate).replace('{retailer_title}', $root.config.retailer.title)}}"/>
        </a>
    </span>

    <div class="accessibility-statement" ui-sref="app.accessibilityStatement" ng-if="$root.config.retailer.settings.accessibilityStatementEnabled === 'true'">
        <img class="accessibility-statement-logo" alt="" role="presentation" ng-src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/accessibility-icon-white.png"/>
        <span class="accessibility-statement-content">
            <span class="for-vertical-align"></span>
            <span class="text default-text-align">
                <span>{{'Accessibility Statement' | translate}}</span>
            </span>
        </span>
    </div>

    <span class="data" role="menubar">
        <span class="search-wrapper padding" role="region" aria-label="{{'Search' | translate}}"
              ng-class="::{'has-permanent-filters': $root.config.retailer.isPermanentViewFiltersActive}">
            <span class="search">
                <span class="input">
                    <input
                            ng-focus="headerCtrl.showAutocomplete = true"
                            sp-escape="headerCtrl.closeList($event)"
                        class="search-input"
                        aria-label="{{$root.searchText && $root.searchText[$root.config.language.culture].replace(
                            ('searchtext_storename_placeholder' | translate), $root.config.retailer.title
                        ) || (('Search'|translate)+ ' ' + $root.config.retailer.title)}}"
                        ng-model="headerCtrl.searchQuery"
                        type="search"
                        sp-placeholder="{{$root.searchText && $root.searchText[$root.config.language.culture].replace(
                            ('searchtext_storename_placeholder' | translate), $root.config.retailer.title 
                        ) || (('Search'|translate)+ ' ' + $root.config.retailer.title)}}"
                        autocomplete="off" aria-autocomplete="inline" aria-haspopup="true"
                        ng-change="headerCtrl.searchQuery.length > 200 && (headerCtrl.searchQuery = headerCtrl.searchQuery.substring(0, 200));"/>
                <sp-search-autocomplete
                            sp-escape
                            ng-if="$root.config.retailer.searchAutocompleteIsActive"
                            sp-model="headerCtrl.searchQuery">
                </sp-search-autocomplete>
                    <button sp-escape="exit" type="button" ng-click="headerCtrl.searchProducts($event);" aria-label="{{'search' | translate}}" class="icon dark">
                        <img src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/search_icon.png" alt="{{'search' | translate}}"/>
                    </button>
                </span>
                <sp-autocomplete
                        ng-if="!$root.config.retailer.searchAutocompleteIsActive"
                        sp-model="headerCtrl.searchQuery"
                        sp-shown="$root.isShowAutocomplete"
                        sp-get-options="headerCtrl.getAutoCompleteOptions()"
                        sp-choose="headerCtrl.searchProducts($event)"
                        sp-filters-template-url="template/views/header/partials/autocomplete-filter-option/index.html"
                        sp-filters="headerCtrl.autoCompleteFilters()">
                </sp-autocomplete>

            </span>

            <span class="permanent-filters padding" ng-if="::$root.config.retailer.isPermanentViewFiltersActive">
                <button class="no-design" ng-click="$root.PermanentViewFiltersDialog.show()">
                    <span class="main-flex" ng-if="!$root.PermanentFilters.values[$root.PermanentFilters.TYPES.PRODUCT_TAGS].length">
                        <span class="main-title block">{{($root.config.retailer.permanentViewFiltersTexts | name).buttonMainText || ("What\'s your lifestyle?" | translate)}}</span>
                        <span class="sub-title block">{{($root.config.retailer.permanentViewFiltersTexts | name).buttonSubText || ('Filter entire store' | translate)}}</span>
                    </span>
                    <span class="main-flex main-title" ng-if="$root.PermanentFilters.values[$root.PermanentFilters.TYPES.PRODUCT_TAGS].length">
                        {{'Store is filtered' | translate}}
                    </span>

                    <svg focusable="false">
                        <use xlink:href="#sp-icons-arrow-down"></use>
                    </svg>
                </button>
            </span>
        </span>

        <span class="links" ng-repeat-start="link in $root.config.retailer.toolbar | filter: {location: $root.LINK_LOCATIONS.TOP}">
            <a ng-if="link.embedded && !headerCtrl.isInternalUrl(link.url)" ui-sref="app.links({linkId: link.id})"
               aria-label="{{::link.name}}" title="{{::link.name}}">
                <span class="for-vertical-align"></span>
                <img ng-if="link.imageUrl" ng-src="{{::link.imageUrl}}" alt="{{::link.name}}"/>
            </a>
            <a ng-if="link.embedded && headerCtrl.isInternalUrl(link.url)" ng-href="{{link.url}}"
               aria-label="{{::link.name}}" title="{{::link.name}}">
                <span class="for-vertical-align"></span>
                <img ng-if="link.imageUrl" ng-src="{{::link.imageUrl}}" alt="{{::link.name}}"/>
            </a>
            <a ng-href="{{link.url}}" ng-if="!link.embedded" target="_blank"
               aria-label="{{::link.name}}" title="{{::link.name}}">
                <span class="for-vertical-align"></span>
                <img ng-if="link.imageUrl" ng-src="{{::link.imageUrl}}" alt="{{::link.name}}"/>
            </a>
        </span>
        <span class="border" ng-repeat-end></span>

        <a ng-repeat-start="webPage in $root.config.retailer.publishedWebPages | filter: {locationInWebsite: $root.WEB_PAGE_LOCATIONS.HEADER}" ui-sref="app.webPage({id: webPage.id})"
            aria-label="{{webPage.name}}" title="{{webPage.name}}">
            <span class="for-vertical-align"></span>
            <img ng-src="{{webPage.iconUrl}}" alt="{{webPage.name}}"/>
        </a>

        <span class="border" ng-repeat-end></span>

        <span class="coupons" ng-class="{'active': $root.util.getCurrentRoute().includes('coupons')}" ng-show="$root.config.retailer.settings.enablePersonalizedCoupons && headerCtrl.user.session.userId">
            <a ui-sref="app.myCoupons" title="{{('My Coupons' | translate) + (headerCtrl.numberOfCoupons !== undefined ? ' (' + headerCtrl.numberOfCoupons + ')' : '')}}">
                <img src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/coupon_top_bar.png" alt="{{'coupons' | translate}}"/>
                <span class="coupons-number" ng-if="headerCtrl.numberOfCoupons">{{headerCtrl.numberOfCoupons}}</span>
                <span>{{'My coupons' | translate}}</span>
            </a>
        </span>

        <span class="border" ng-show="$root.config.retailer.settings.enablePersonalizedCoupons && headerCtrl.user.session.userId"></span>
        <span class="newsletter" ng-click="headerCtrl.showNewsletterPopup()" ng-show="$root.config.retailer.settings.newsletterAllowPopup && !headerCtrl.hubData">
            <img src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/icon-newsletter-white.png" alt="{{'Sign up for the newsletter' | translate}}"/>
        </span>

        <span class="border" ng-show="$root.config.retailer.settings.newsletterAllowPopup && !headerCtrl.hubData"></span>

        <span class="retailer-data">
            <sp-dropdown role="menu">
                <sp-text aria-label="{{$root.config.retailer.title + ' ' + ('Additional options menu' | translate)}}">
                    <div class="retailer-data" ng-include="'template/partials/retailer-data/index.html'"></div>
                </sp-text>
                <sp-option sp-click="headerCtrl.openContactUs()" ng-if="$root.config.retailer.settings.isHiddenCrmActive !== 'true'">
                    <span class="for-vertical-align"></span>
                    <div class="img-container">
                        <img src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/icon-contact-us-white.png"
                             alt="" role="presentation"/>
                    </div>
                    <span class="text-container">{{'Contact Us' | translate}}</span>
                </sp-option>
                <sp-option sp-sref="app.retailerDetails.storeInformation">
                    <span class="for-vertical-align"></span>
                    <div class="img-container">
                        <img src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/icon-store-info-white.png"
                             alt="" role="presentation"/>
                    </div>
                    <span class="text-container">{{$root.config.retailer.branches.length > 1 ? 'Stores Info' : 'Store Info' | translate}}</span>
                </sp-option>
                <sp-option sp-sref="app.retailerDetails.times">
                    <span class="for-vertical-align"></span>
                    <div class="img-container">
                        <img src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/delivery-checkout-white.png"
                             alt="" role="presentation"/>
                    </div>
                    <span class="text-container">{{($root.config.retailer.pickup && !$root.config.retailer.delivery ? 'Pickup Times & Areas' : 'Delivery Times & Areas') | translate}}</span>
                </sp-option>
                <sp-option sp-sref="app.accessibilityStatement" ng-if="$root.config.retailer.settings.accessibilityStatement">
                    <span class="for-vertical-align"></span>
                    <div class="img-container">
                          <img src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/accessibility-icon-white.png"
                               alt="" role="presentation"/>
                    </div>
                    <span class="text-container">{{'Accessibility Statement' | translate}}</span>
                </sp-option>
                <sp-option ng-if="$root.config.chooseAreaEvent !== $root.SP_SERVICES.CHOOSE_AREA_EVENT.NONE"
                           sp-click="$root.ChooseAreaDialog.show(false, null, null, $event)">
                    <span class="for-vertical-align"></span>
                    <div class="img-container">
                        <img src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/change-store.png" alt="" role="presentation"/>
                    </div>
                    <span class="text-container">{{'Change Store' | translate}}</span>
                </sp-option>
            </sp-dropdown>
        </span>

        <span class="border"></span>

        <span class="language">
            <span class="for-vertical-align"></span><!--
            --><sp-dropdown sp-model="$root.config.language" role="menu">
                <sp-text aria-label="{{'Select language' | translate}}">
                    <img ng-src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/icon-language-white.png" alt="" role="presentation"/>
                    <span class="lang-name">{{$root.config.language.short}}</span>
                </sp-text>
                <sp-option ng-repeat="(key, lang) in $root.config.languages track by $index" sp-value="lang">
                    {{lang.short}}
                </sp-option>
            </sp-dropdown>
        </span>

        <span class="border"></span>

        <span class="user-details">
            <span class="for-vertical-align"></span><!--
            --><sp-dropdown ng-if="headerCtrl.user.session.userId" role="menu">
                <sp-text aria-label="{{'account' | translate}}">
                    <img alt="login" class="user-image" src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/icon-login-white.png" alt="{{'account' | translate}}"/>
                    <div class="user-name-wrapper">
                        <div class="user-name" ng-if="(headerCtrl.user.data.firstName + ' ' + headerCtrl.user.data.lastName).length > 20">
                            {{headerCtrl.user.data.firstName.substring(0, 11)}}<br/>
                            {{headerCtrl.user.data.lastName.substring(0, 11)}}
                        </div>
                        <div class="user-name" ng-if="(headerCtrl.user.data.firstName + ' ' + headerCtrl.user.data.lastName).length <= 20">
                            {{headerCtrl.user.data.firstName + ' ' + headerCtrl.user.data.lastName}}
                        </div>
                        <div class="verify" ng-if="!headerCtrl.user.isVerified()">
                            <a ng-click="$root.UserVerificationDialog.show(); $event.stopPropagation();">
                                {{'Verify account' | translate}}
                            </a>
                        </div>
                        <div class="organization-name" title="{{headerCtrl.user.data.organization.name}}" ng-if="headerCtrl.user.data.organization && headerCtrl.user.data.organization.name && headerCtrl.user.isVerified()">
                            {{headerCtrl.user.data.organization.name}}
                        </div>
                    </div>
                </sp-text>
                <sp-option ng-if="headerCtrl.user.session.userId && headerCtrl.retailerLoyaltyClubConfig.menu.isActive && headerCtrl.user.data.loyaltyClubs.length > 0" sp-sref="{{ 'app.userEdit.' + headerCtrl.membershipClubState.state + (headerCtrl.membershipClubState.stateParams ? ('(' + headerCtrl.membershipClubState.stateParams + ')') : '') }}" class="sp-option-point" ng-style="{'background-color': headerCtrl.retailerLoyaltyClubConfig.menu.backgroundColor, 'color': headerCtrl.retailerLoyaltyClubConfig.menu.textColor}">
                    <div class="option-content-user">
                        <div class="option-content-user-name">
                            {{ (headerCtrl.retailerLoyaltyClubConfig.menu.personalMessageText[headerCtrl.language]).replace('{full name}', headerCtrl.userFullname).replace('{first name}', headerCtrl.user.data.firstName) }}
                        </div>
                    </div>
                    <div class="option-content-point" >
                        <img alt="{{'coin'}}" class="" src="{{headerCtrl.retailerLoyaltyClubConfig.menu.icon}}"/>
                        <p ng-if="headerCtrl.userPoints === 0">{{headerCtrl.retailerLoyaltyClubConfig.menu.pointsAccumulationText.textZeroPoints[headerCtrl.language]}}</p>
                        <p ng-if="headerCtrl.userPoints > 0">{{(headerCtrl.retailerLoyaltyClubConfig.menu.pointsAccumulationText.textAccumulatedPoints[headerCtrl.language]).replace('{points amount}',headerCtrl.userPoints) }}</p>
                        <md class="arrow" tabindex="-1"></md>
                    </div>
                </sp-option>
                <sp-option sp-sref="app.userEdit.accountInfo">
                    {{'My Account' | translate}}
                </sp-option>
                <sp-option sp-sref="app.myCoupons" ng-if="$root.config.retailer.settings.enablePersonalizedCoupons">
                    <span>{{'My Coupons' | translate}}</span>
                    <span class="coupons-number" ng-if="headerCtrl.numberOfCoupons"> {{headerCtrl.numberOfCoupons}}</span>
                </sp-option>
                <sp-option sp-click="headerCtrl.user.logout()">
                    {{'Logout' | translate}}
                </sp-option>
            <!--<sp-option sp-click="$root.util.openTemp();">-->
            <!--{{'Open temp' | translate}}-->
            <!--</sp-option>-->
            </sp-dropdown>
            <button ng-if="!headerCtrl.user.session.userId" class="no-design login" ng-click="headerCtrl.openLoginDialog()">
                {{'Login' | translate}}
            </button>
        </span>
    </span>
</div>
<div class="menu" role="navigation" aria-label="{{'main manu' | translate}}" id="categories_menu" tabindex="-1">
    <ul role="menu" class="categories" ng-controller="HeaderPrutahCtrl"><!--
        --><li class="category" ng-repeat="category in headerCtrl.categories track by ::category.id"
                ng-mouseenter="headerCtrl.openCategory(category);" ng-mouseleave="headerCtrl.closeCategory(category);"
                role="menuitem"
                ng-class="{
                    open: headerCtrl.isOpen(category),
                    current: headerCtrl.isCurrentCategory(category.id),
                    'more-shown': category.showMore,
                    'has-scroll-bar': category.hasVerticalScrollbar,
                    'special-category': category.isCustomCategory,
                    'by-special-categories': category.bySpecialCategories
                }"><!--
            --><div class="category-content" ng-click="category.action(); headerCtrl.toggleCategoryPermanently(category);" aria-haspopup="true" aria-expanded="{{headerCtrl.isOpen(category) || false}}"><!--
                --><span class="for-vertical-align"></span><!--
                --><div class="content"><!--
                    --><div class="image"><!--
                        --><img class="normal" ng-src="{{::(category.iconImage || category.imageUrl)}}" alt="{{(category.names | name) || (category.name | translate)}}"/><!--
                        --><img class="current" ng-src="{{::(category.iconSelectedImage || (category.imageUrl || '').replace('normal', 'hover'))}}" alt="{{(category.names | name) || (category.name | translate)}}"/><!--
                    --></div><!--
                    --><div class="name"><!--
                        -->{{(category.names | name | retailerNameReplacement) || (category.name | translate | retailerNameReplacement)}}<!--
                    --></div><!--
                --></div><!--
            --></div><!--

            --><div class="sub-categories" ng-if="category.subCategories && category.firstOpen"
                    ng-style="{height: (!category.isCustomCategory && (category.subCategoryHeight || headerCtrl.subCategoryHeight)) + 'px'}"><!--
                --><div class="category-title-wrapper" ng-if="!category.isCustomCategory && !category.bySpecialCategories"><!--
                    --><div class="category-title">
                        {{category.names | name | retailerNameReplacement}}
                        <a ng-if="$root.config.isSpecialCategory[category.id]" class="specials-button" ui-sref="app.specials({filters: {category: [category.id]}})"><!--
                            --><img class="specials-image" ng-src="{{::$root.config.salesImageUrlWhite}}" alt="{{(category.names | name) + ' sales'}}"/>
                                {{'specials' | translate | retailerNameReplacement}}<!--
                        --></a><!--
                    --></div><!--
                --></div><!--
                --><div class="category-title-wrapper" ng-if="category.bySpecialCategories"><!--
                    --><div class="category-title">
                        <img class="category-title-image" ng-src="{{::$root.config.salesImageCategory}}" alt="{{category.names | name}}"/>
                        {{category.name | translate | retailerNameReplacement}}
                    </div><!--
                --></div><!--
                --><div class="sub-categories-fixed-titles" ng-if="::!category.isCustomCategory && !category.bySpecialCategories">
                    <ul class="sub-category-link" ng-repeat="subCategory in category.subCategories track by ::subCategory.id">
                        <a ui-sref="app.categoryProducts({cid: subCategory.id, filters: undefined, sort: undefined})" tabindex="-1" ng-class="{'focus': subCategory.inFocus}">{{subCategory.names | name}}</a>
                    </ul>
                </div><!--
                --><div class="sub-categories-content-wrapper"><!--
                    --><div class="sub-categories-content"><!--
                        --><ul class="sub-category" ng-repeat="subCategory in category.subCategories track by ::subCategory.id"><!--
                            --><a class="sub-category-link" ui-sref="app.categoryProducts({cid: subCategory.id, filters: undefined, sort: undefined})"
                                  ng-if="::!category.isCustomCategory" ng-focus="subCategory.inFocus = true" ng-blur="subCategory.inFocus = false"><!--
                                -->{{subCategory.names | name}}<!--
                            --></a><!--
                            --><li class="sub-sub-category not-sorted {{::subSubCategory.className}}" ng-repeat="subSubCategory in subCategory.subCategories track by ::subSubCategory.id"
                                  ng-class="{'more-row': $index >= headerCtrl.shownSubSubCategories}"><!--
                                --><a ng-if="!category.bySpecialCategories" ng-href="{{headerCtrl.getHrefFromState(subSubCategory.state || 'app.categoryProducts', {cid: subSubCategory.id, filters: undefined, sort: undefined})}}"><!--
                                    -->{{(subSubCategory.names | name) || (subSubCategory.name | translate)}}<!--
                                --></a><!--
                                --><a ng-if="category.bySpecialCategories" ui-sref="app.specials(subSubCategory.id ? {filters: {category: [subSubCategory.id]}} : {filters: undefined})"><!--
                                    -->{{(subSubCategory.names | name) || (subSubCategory.name | translate | retailerNameReplacement)}}<!--
                                --></a><!--
                            --></li><!--
                            --><li class="sub-sub-category sort-by-abc" ui-sref="app.categoryProducts({cid: subSubCategory.id, filters: undefined, sort: undefined})"
                                    ng-repeat="subSubCategory in ::subCategory.subCategories | orderBy:'names | name'"
                                    ng-if="::!category.isCustomCategory"><!--
                                -->{{subSubCategory.names | name | retailerNameReplacement}}<!--
                            --></li><!--
                            --><div class="more-details-button" ng-if="::(subCategory.subCategories.length > headerCtrl.shownSubSubCategories && !category.isCustomCategory)">
                                <a href="javascript:" ng-click="headerCtrl.toggleMoreSubSubCategories(category, $event)">{{'More' | translate}}...</a>
                            </div><!--
                        --></ul><!--
                    --></div><!--
                --></div><!--
                --><div class="show-less">
                    <a href="javascript:" ng-click="headerCtrl.toggleMoreSubSubCategories(category, $event)">{{'Less' | translate}}...</a>
                </div><!--
            --></div><!--
        --></li><!--
        --><div class="line"></div><!--
    --></ul>
</div>
<div class="spinner" ng-show="$root.isLoading"></div>
