$toolbarFontSize: 0.8em;
$general-padding: 1.282em;
$subSubCategoryPadding: 0.3em 0;
$subSubCategoryHeight: 1em;
$scrollBarWidth: 8px;
$subCategoryFontSize: 0.875em;
$subCategoryColumnPadding: 1.4em;
$subCategoryColumnBorder: 1px solid #F5F5F5;
$subCategoryColumnTitleHeight: 2em;
$showLessHeight: 1em;
$showLessVerticalPadding: 0.5em;
$subCategoriesGrayColor: #878787;
$searchBorderRadius: 5px;
$searchInputPaddingLeft: 1em;
$searchInputPaddingRight: 4em;
$subCategoriesTitleFontSize: 2.5em;
$subCategoriesTitleVerticalPadding: 0.6em;
$subCategoriesTitleHeight: 1em;
$permanentFiltersButtonWidth: 17.1875em;

body > header {
  background-color: #ffffff;
  @include fixed();
  height: $headerHeight;
  width: 100%;
  z-index: 91;

  html.hub-child & {
    height: $headerHeight + $hubHeaderHeight;
  }

  > .hub-header {
    display: none;
    position: relative;
    height: $hubHeaderHeight;

    html.hub-child & {
      display: block;
    }
  }

  /* Toolbar */
  > .toolbar {
    color: #ffffff;
    height: (($headerHeight / 2) / $toolbarFontSize) * 1em;
    @include box-sizing(border-box);
    font-size: $toolbarFontSize;
    @include display-flex();

    > *, > .data > * {
      display: inline-block;
      @include box-sizing(border-box);
      height: 100%;
      vertical-align: middle;

       > a {
         display: inline-block;
         height: 100%;
       }
    }

    > .accessibility-statement {
      display: flex;
      gap: 10px;
      align-items: center;
      padding-left: 20px;
      > .accessibility-statement-logo {
        width: 15px;
        height: 15px;
      }
      > .accessibility-statement-content {
        width: 50%;
        word-wrap: break-word;
        display: flex;
      }
    }

    > .logo {
      padding: 0.7em;
      flex: 0 0 auto; // prevents the logo from growing (and shrinking the search) on IE

      > a {
        height: 100%;
        display: inline-block;

        > img {
          display: inline-block;
          vertical-align: middle;
          max-width: 100%;
          max-height: 100%;
        }
      }
    }

    > .data {
      @include display-flex();
      @include main-flex();

      > span > span {
        vertical-align: middle;
      }

      > .search-wrapper {
        text-align: center;
        @include main-flex();
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;

        > .search {
          display: inline-block;
          width: 80%;
          height: 100%;
          position: relative;

          > .input {
            width: 100%;
            height: 100%;

            > input[type="search"] {
              -webkit-appearance: textfield;
              width: 100%;
              height: 100%;
              background-color: #ffffff;
              padding-left: $searchInputPaddingLeft;
              padding-right: $searchInputPaddingRight;
              border-width: 0;
              @include border-radius($searchBorderRadius);
              @include box-sizing(border-box);

              &::-webkit-search-cancel-button {
                -webkit-appearance: none;
                position: relative;
                width: 11px;
                height: 2em;
                margin: 0;
                background: url('https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/search-clear-button.png') no-repeat center center;
                cursor: pointer;
              }

              &.placeholder {
                color: #adadad;
                text-align: center;
                font-style: italic;
                text-transform: uppercase;
              }

              &:not(.placeholder) {
                font-size: 1.2em;
              }
            }

            > button {
              width: 3.3em;
              height: 100%;
              position: absolute;
              right: 0;
              top: 0;
              border-width: 0;
              @include border-radius(0 $searchBorderRadius $searchBorderRadius 0);
              @include box-shadow(none);

              > img {
                height: 100%;
                vertical-align: middle;
              }
            }
          }

          > .auto-complete .option.filter-option .filter-option-content .option-value {
            color: #7f7f7f;
            text-transform: capitalize;
            font-weight: normal;
          }
        }

        &.has-permanent-filters > .search {
          width: calc((100% - #{$permanentFiltersButtonWidth}) * 0.8);
        }

        > .permanent-filters {
           height: 100%;
           box-sizing: border-box;
           padding: 0;

           > button {
             width: $permanentFiltersButtonWidth;
             height: 100%;
             border-radius: 3px;
             color: #fff;
             display: flex;
             flex-direction: row;
             align-items: center;
             justify-content: center;
             padding: 0 0.625em;

             .block {
               display: block;
             }

             .main-title {
               font-size: 1.1719em;
               font-weight: bold;
             }

             .main-title, .sub-title {
               line-height: 1.1em;
             }

             .main-flex {
               flex: 1 1 auto;
             }

             > * {
               flex: 0 0 auto;
             }

             > svg {
               width: 0.875em;
               height: 100%;
               fill: #fff;
             }
           }
         }
      }

      > .user-details, > .language, > .retailer-data, > .newsletter, > .coupons {
        &.language img {
          @include border-radius(1em);
        }

        &.newsletter, &.coupons {
          cursor: pointer;
          > img {
            height: 2.3em;
            width: 2em;
            padding: 1.5em 1em;
          }
        }

        &.coupons {
          &.active {
            font-weight: bold;
          }

          > a {
            display: flex;
            grid-column-gap: 1em;
            align-items: center;
            position: relative;
            padding: 0 1em;

            > .coupons-number {
              width: 2em;
              line-height: 2em;
              position: absolute;
              top: 1em;
              left: 4em;
              text-align: center;
              font-size: 0.75em;
              border-radius: 50%;
              color: #ffffff;
              background-color: #be292b;

              .rtl & {
                right: 4.5em;
                left: auto;
              }
            }

            > img {
              height: 2.3em;
              max-width: 3em;

              .rtl & {
                @include flipH();
              }
            }
          }
        }

        > button.login {
          height: 100%;
          padding: 0 1em;
        }

        sp-dropdown {
          padding: 0;
          width: 100%;
          height: 100%;
          @include box-sizing(border-box);

          > .sp-dropdown-text {
            padding: 0 0.8em;

            .user-name-wrapper {
              padding: 0 0 0 0.5em;

              .verify {
                display: block;

                a {
                  text-decoration: underline;
                  color: #da3b39;
                }
              }

              .organization-name {
                display: block;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 11em;
                padding-top: 0.2em;
                font-weight: normal;
              }
            }

            .lang-name {
              padding: 0.5em;
            }
          }

          > .sp-dropdown-options-wrapper {
            border: none;
            color: #ffffff;
            @include box-sizing(border-box);

            > .sp-option {
              border: none;
              background-color: transparent;
              text-align: inherit;
              line-height: 2em;
              padding: 0 0.5em;
              &-point,
              &-point.active {
                background-color: #FF5F2C;
              }
              
              &-point:hover {
                background-color: inherit;
                opacity: 0.9;
              }

              .option-content {
                font-size: 1.1em;
                padding-left: 0.8em !important;

                &-user {
                  &-name {
                  }
                }
                &-point {
                  display: flex;
                  align-items: center;
                  gap: 5px;
                  line-height: 1em; 
                  img {
                    max-width: 1.8em;
                    max-height: 1.8em;
                  }
                  p {
                    font-size: 0.8em;
                  }
                  .arrow {
                    display: inline-block;
                    width: 1.8em;
                    height: 0.4em;
                    background-image: url(https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/icon-arrow-close-white.png);
                    background-repeat: no-repeat;
                    background-size: 100% 100%;
                    rotate: 90deg;
                  }
                }
              }
              .option-link {
                position: relative;

                .coupons-number {
                  width: 2em;
                  line-height: 2em;
                  position: absolute;
                  top: 0;
                  text-align: center;
                  font-size: 0.7em;
                  border-radius: 50%;
                  color: #ffffff;
                  background-color: #be292b;
                }
              }
            }
          }

          img {
            max-width: 2.3em;
            max-height: 2.3em;
          }

        }
      }

      > .language {
        sp-dropdown > .sp-dropdown-options-wrapper > .sp-option {
          text-align: center;
        }
      }

      > .retailer-data sp-dropdown {
        > .sp-dropdown-text {
          min-width: 13em;
        }
        > .sp-dropdown-options-wrapper {
          //padding: 0 0.8em;
          width: 100%;
          max-height: none;

          > .sp-option {
            line-height: 1.1em;

            .option-content {
              $imageSize: 2em;
              $imageHorizontalMargin: 0.8em;
              white-space: nowrap;
              height: 3em;

              .option-link {
                height: 100%;
                width: 100%;
              }

              .img-container {
                display: inline-block;
                vertical-align: middle;
                width: $imageSize;
                margin: 0 0.8em;

                img {
                  max-height: $imageSize;
                  max-width: $imageSize;
                  vertical-align: middle;
                }

                svg {
                  max-height: 3em;
                  max-width: 100%;
                  fill: #ffffff;
                }
              }

              .text-container {
                white-space: normal;
                display: inline-block;
                vertical-align: middle;
                width: 100%;
                box-sizing: border-box;

                $distance: $imageSize + ($imageHorizontalMargin * 2);

                .ltr & {
                  margin-left: $distance * -1;
                  padding-left: $distance;
                }

                .rtl & {
                  margin-right: $distance * -1;
                  padding-right: $distance;
                }
              }
            }
          }

          &:first-child {
            .option-content {
              border-top: 0;
            }
          }
        }
      }

      > .user-details sp-dropdown {
        > .sp-dropdown-text {
          min-width: 11em;
        }
        > .sp-dropdown-options-wrapper > .sp-option label {
          padding: 0;

          .option-content {
            padding-left: 2.5em;
            text-align: left;
          }
        }
      }

      > .links > a > img,
      > a > img {
        max-height: 50%;
        padding: $general-padding 0.5em;
      }

      > .border {
        padding: $general-padding 0;

        &:after {
          content: '';
          display: block;
          width: 1px;
          height: 100%;
        }
      }

      > .padding {
        padding: $general-padding 0;
        margin: 0 0.8em;
      }
    }
  }

  /* Menu */
  > .menu {
    /*background-color: #ffffff;*/
    height: $headerHeight / 2;
    @include box-sizing(border-box);
    @include box-shadow(0 1px 3px rgba(0, 0, 0, 0.4));

    > * {
      display: inline-block;
      height: 100%;
      vertical-align: top;
      @include box-sizing(border-box);
    }

    > .categories {
      display: flex;
      width: 100%;
      position: relative;

      > .line {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 4px;
        width: 0;
        /*@include transition(width 0.3s, left 0.3s);*/
        z-index: -1;
      }

      > .category {
        flex: 1 1 0;
        vertical-align: middle;
        display: inline-block;
        height: 100%;
        box-sizing: border-box;
        border-left: 1px solid #e0e0e0;

        &.fake {
          &, > .sub-categories {
            width: 0;
            overflow: hidden;
          }
        }

        &.open {
          > .sub-categories {
            display: block;
            @include opacity(0);
          }

          &.shown > .sub-categories {
            @include opacity(1);
          }
        }

        &.current {
          > .category-content {
            > .content {
              > .image > img {
                &.normal {
                  display: none;
                }

                &.current {
                  display: inline-block;
                }
              }

              > .name {
                color: #ffffff;
              }
            }
          }
        }

        > .category-content {
          text-align: center;
          height: 100%;
          width: 100%;
          padding: 0 0.2em;
          @include box-sizing(border-box);
          cursor: pointer;
          overflow: hidden;

          > .content {
            display: inline-block;
            vertical-align: middle;
            width: 100%;

            > .image {
              display: none;
              text-align: center;
              height: 1.5em;

              > img {
                height: 100%;
                width: auto;
                display: inline-block;

                &.current {
                  display: none;
                }
              }
            }

            > .name {
              text-align: center;
              font-size: 0.75em;
              font-weight: 700;
              color: #777777;
              width: 99.999%;
              height: 1em;
              word-break: break-word;
            }
          }
        }

        > .sub-categories {
          position: absolute;
          background-color: #ffffff;
          @include box-shadow(0 0 5px 0 #888888);
          /*height: 24em;*/
          display: none;
          @include transition(width 0.5s, height 0.5s);
          max-width: 100%;
          overflow: auto;
          > .category-title-wrapper {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            background-color: #ffffff;

            > .category-title {
              display: inline-flex;
              justify-content: space-between;
              font-size: $subCategoriesTitleFontSize;
              @include box-sizing(border-box);
              padding: $subCategoriesTitleVerticalPadding 0.4em;
              height: $subCategoriesTitleHeight + ($subCategoriesTitleVerticalPadding * 2);
              white-space: nowrap;
              min-width: 100%;

              .specials-button {
                font-size: 0.4em;
                padding: 0.5em 0.7em;
                border-radius: 3px;
                vertical-align: middle;
                line-height: 1.5;
                $specialsButtonMarginLeft: 1.3125em;

                .ltr & {
                  margin-left: $specialsButtonMarginLeft;
                }

                .rtl & {
                  margin-right: $specialsButtonMarginLeft;
                }

                .specials-image {
                  display: inline-block;
                  vertical-align: middle;
                }
              }

              > .category-title-image {
                display: inline-block;
                width: 1em;
                height: 1em;
                vertical-align: middle;
              }
            }
          }

          > .sub-categories-fixed-titles {
            position: absolute;
            top: ($subCategoriesTitleVerticalPadding * 2 + $subCategoriesTitleHeight) * clear-units($subCategoriesTitleFontSize / $subCategoryFontSize);
            left: 0;
            font-size: $subCategoryFontSize;
            font-weight: bold;
            background-color: #ffffff;
            white-space: nowrap;
            overflow: hidden;
            max-width: 100%;
            padding-right: 0;
            @include box-sizing(border-box);

            .sub-category-link {
              padding-left: $subCategoryColumnPadding;
              padding-right: $subCategoryColumnPadding;
              @include box-sizing(border-box);
              border-left: $subCategoryColumnBorder;
            }
          }

          &.right-0 {
            right: 0;
          }

          > .sub-categories-content-wrapper {
            font-size: 1em;
            height: 100%;
            @include box-sizing(border-box);
            padding-top: (($subCategoriesTitleVerticalPadding * 2 + $subCategoriesTitleHeight) * clear-units($subCategoriesTitleFontSize)) + ($subCategoryFontSize * clear-units($subCategoryColumnTitleHeight));

            > .sub-categories-content {
              white-space: nowrap;
              height: 100%;
              overflow: auto;
              max-width: 100%;

              &::-webkit-scrollbar {
                background-color: transparent;
                width: $scrollBarWidth;
                height: $scrollBarWidth;
              }

              &::-webkit-scrollbar-thumb {
                @include border-radius(5px);
                background-color: rgba(96, 96, 96, 0.2);

                &:hover {
                  background-color: rgba(96, 96, 96, 0.7);
                }

                &:active {
                  background-color: rgba(96, 96, 96, 1);
                }
              }

              > .sub-category {
                display: inline-block;
                vertical-align: top;
                box-sizing: border-box;
                padding: 0 $subCategoryColumnPadding $subCategoryColumnPadding $subCategoryColumnPadding;
                font-weight: 700;
                border-left: $subCategoryColumnBorder;
                color: $subCategoriesGrayColor;
                font-size: $subCategoryFontSize;
                margin-top: -1 * $subCategoryColumnTitleHeight;

                .sub-category-link {
                  height: $subCategoryColumnTitleHeight - 0.5em;
                  margin-bottom: 0.5em;
                }

                > .sub-sub-category {
                  display: block;
                  color: #555555;
                  padding: $subSubCategoryPadding;
                  font-weight: normal;
                  font-size: 0.95em;
                  cursor: pointer;
                  overflow: hidden;
                  height: $subSubCategoryHeight;
                  @include transition(height 0.5s, padding 0.5s);

                  &.more-row, &.sort-by-abc {
                    padding: 0;
                    height: 0;
                    border: 0;
                    margin: 0;
                  }
                }

                > .more-details-button {
                  padding-top: 0.5em;
                }
              }
            }
          }

          > .show-less {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            padding: $showLessVerticalPadding 0;
            height: $showLessHeight;
            text-align: center;
            background-color: #ffffff;
            display: none;
            font-weight: bold;
            color: $subCategoriesGrayColor;
            border-top: 2px solid #F0F0F0;
          }

          .sub-category-link {
            height: $subCategoryColumnTitleHeight;
            display: inline-block;
            cursor: pointer;
          }
        }

        &.by-special-categories, &.special-category {
          > .category-content > .content > .image {
            display: block;
            padding-bottom: 0.3em;
          }
        }

        &.by-special-categories > .sub-categories {
          > .category-title-wrapper > .category-title {
            display: inline-block;
          }

          > .sub-categories-content-wrapper {
            padding-top: (($subCategoriesTitleVerticalPadding * 2 + $subCategoriesTitleHeight) * clear-units($subCategoriesTitleFontSize));

            > .sub-categories-content {
              $bySpecialCategoriesVerticalPadding: 0.9375em;
              padding: 0 $bySpecialCategoriesVerticalPadding 1.25em $bySpecialCategoriesVerticalPadding;

              > .sub-category {
                margin-top: 0;
                padding: 0;
                border-left-width: 0;

                > .sub-sub-category {
                  padding: 0;
                  margin: 0.7519em 1.1278em;
                  border: solid #adadad 1px;
                  border-radius: 3px;
                  height: 2em;

                  > a {
                    display: inline-block;
                    vertical-align: middle;
                    padding: 0.5em 1em;
                    width: 100%;
                    box-sizing: border-box;
                  }
                }
              }
            }
          }
        }

        &.special-category:not(.by-special-categories) {
          > .sub-categories > .sub-categories-content-wrapper {
            padding-top: 0;

            > .sub-categories-content {
              overflow: visible;

              > .sub-category {
                margin-top: 0;
                padding: 0;
                width: 100%;

                > .sub-sub-category {
                  padding: 1em;
                  border-bottom: 1px solid #E9E9E9;
                }
              }
            }
          }
        }

        &.more-shown > .sub-categories {
          > .sub-categories-content-wrapper {
            padding-bottom: ($showLessVerticalPadding * 2) + $showLessHeight;

            > .sub-categories-content > .sub-category > .sub-sub-category {
              &.not-sorted {
                height: 0;
                padding: 0;
                border: 0;
                margin: 0;
              }

              &.sort-by-abc {
                height: $subSubCategoryHeight;
                padding: $subSubCategoryPadding;
              }
            }
          }

          > .show-less {
            display: block;
          }
        }

        &.has-scroll-bar > .sub-categories > .sub-categories-fixed-titles {
          padding-right: $scrollBarWidth;
        }
      }
    }
  }
}

.ie.ie9, .ie.ie8 {
  body > header > .toolbar {
    display: block;

    > .logo {
      width: 20%;
    }

    > .data {
      float: right;
      width: 79%;
      white-space: nowrap;

      > .user-details {
        width: 10%;
        @include box-sizing(border-box);
      }

      > .language {
        width: 6%;
        @include box-sizing(border-box);

        sp-dropdown {
          text-align: center;
        }
      }

      > .retailer-data {
        width: 14%;
      }

      > .search-wrapper {
        width: 69%;
      }

      > .padding {
        padding: $general-padding 0.8em;
        margin: 0;
      }
    }
  }

  &.rtl {
    body > header > .toolbar > .data {
      float: left;
    }
  }
}

.rtl {
  body > header {
    > .toolbar > .data {
      > .search-wrapper > .search > .input {
        > input {
          padding-right: $searchInputPaddingLeft;
          padding-left: $searchInputPaddingRight;

          &::-webkit-search-cancel-button {
            position: relative;
            margin: 0 -10px 0 0;
          }
        }

        > button {
          right: auto;
          left: 0;
          @include border-radius($searchBorderRadius 0 0 $searchBorderRadius);

          > img {
            transform: scaleX(-1);
          }
        }
      }

      > .user-details sp-dropdown {
        > .sp-dropdown-text .user-name-wrapper {
          padding: 0 0.5em 0 0;
        }

        > .sp-dropdown-options-wrapper > .sp-option .option-content {
          padding-left: 0;
          padding-right: 2.5em;
          text-align: right;
        }
      }
    }

    /* Menu */
    > .menu > .categories > .category {
      border-left-width: 0;
      border-right: 1px solid #e0e0e0;

      > .sub-categories {
        > .sub-categories-fixed-titles {
          left: auto;
          right: 0;
          padding-left: 0;

          .sub-category-link {
            border-left-width: 0;
            border-right: $subCategoryColumnBorder;
          }
        }

        &.right-0 {
          right: auto;
          left: 0;
        }

        > .sub-categories-content-wrapper > .sub-categories-content > .sub-category {
          border-left-width: 0;
          border-right: $subCategoryColumnBorder;
        }
      }

      &.by-special-categories > .sub-categories > .sub-categories-content-wrapper > .sub-categories-content > .sub-category {
        border-right-width: 0;
      }


      &.has-scroll-bar > .sub-categories > .sub-categories-fixed-titles {
        padding-right: 0;
        padding-left: $scrollBarWidth;
      }
    }
  }
}

html.hide-menu {
  $headerHideMenuHeight: $headerHeight / 2;
  $headerWithHubHideMenuHeight: $hubHeaderHeight + $headerHideMenuHeight;

  body > header {
    height: $headerHideMenuHeight !important;

    > .menu {
      display: none;
    }
  }

  .main {
    padding-top: $headerHideMenuHeight - 1em;
  }

  .fixed-banner {
    top: $headerHideMenuHeight !important;
  }

  &.hub-child {
    body > header {
      height: $headerWithHubHideMenuHeight !important;
    }

    .main {
      padding-top: $headerWithHubHideMenuHeight - 1em;
    }

    .fixed-banner {
      top: $headerWithHubHideMenuHeight !important;
    }
  }
}

//@media screen and (max-width: 1440px) {
//  body > header {
//    > .menu > .categories > .category {
//      > .sub-categories {
//        height: auto !important;
//
//        >.sub-categories-content-wrapper >.sub-categories-content {
//          white-space: normal;
//        }
//      }
//    }
//  }
//}

@media screen and (max-width: 1024px) {
  body > header {
    height: $headerResponsiveHeight;

    html.hub-child & {
      height: $headerResponsiveHeight + $hubHeaderHeight;
    }

    > .toolbar {
      height: (($headerResponsiveHeight * 0.58) / $toolbarFontSize) * 1em; // 58%

      > .data > .search-wrapper {
        text-align: right;
      }
    }

    > .menu {
      height: $headerResponsiveHeight * 0.42; // 42%

      > .categories > .category {
        > .category-content > .content {
          > .image {
            display: block;
          }

          > .name {
            display: none;
          }
        }

        &.special-category > .category-content > .content > .image {
          padding-bottom: 0;
          //display: block;
          //font-size: 0.65em;
        }

        > .sub-categories {
          //margin-right: 1em;
        }
      }
    }
  }

  .rtl body > header {
    > .toolbar > .data > .search-wrapper {
      text-align: left;
    }

    > .menu > .categories > .category > .sub-categories {
      //margin-right: 0;
      //margin-left: 1em;
    }
  }
}

@media screen and (max-width: 768px) {
  body > header {
    > .toolbar > .data {
      > .search-wrapper > .search {
        width: 95%;
      }

      > .retailer-data sp-dropdown > .sp-dropdown-text {
        width: 10em;
        min-width: 10em;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  body > header > .toolbar > .data > .user-details sp-dropdown > .sp-dropdown-text {
    min-width: 2em;

    .user-name-wrapper {
      display: none;
    }
  }
}
