$borderColor: '{{headerColor-#ffffff-70}}';
$dropdownColor: '{{headerColor-#ffffff-90}}';

body > header {
  > .toolbar {
    background-color: $headerColor;

    > .data {
      > .search-wrapper > .search {
        > .input {
          > input {
            color: $secondaryColor;
          }

          > button {
            background-color: $secondaryColor !important;
          }
        }

        > .auto-complete .option.filter-option .filter-option-content .option-filter-value {
          color: $mainColor;
        }
      }

      > .coupons{
        &.active {
          background-color: $dropdownColor;
        }
      }

      > .user-details, > .language, > .retailer-data {
        sp-dropdown {
          &.open {
            background-color: $dropdownColor;
          }

          > .sp-dropdown-text > .user-image {
            background-color: $mainColor;
          }

          > .sp-dropdown-options-wrapper {
            background-color: $headerColor;

            > .sp-option:hover, .sp-option.active {
                background-color: $dropdownColor;

            }

            > .sp-option .option-content {
              border-top: 1px solid $dropdownColor;
            }
          }
        }
      }

      > .border:after {
        background-color: $borderColor;
      }

      > .search-wrapper > .permanent-filters > button {
        background-color: $highlightColor;
      }
    }
  }

  > .menu > .categories {
    font-family: $secondaryFontFamily;

    > .line {
      background-color: $mainColor;
    }

    > .category {
      &.current {
        border-color: $mainColor;
        background-color: $mainColor;
      }

      > .category-content {
        color: $secondaryColor;

        > .content {
          > .image > img.normal {
            background-color: $mainColor;
          }

          > .name {
            font-family: $defaultFontFamily;
          }
        }
      }

      > .sub-categories {
        > .category-title-wrapper {
          font-family: $creativeFontFamily;
          color: $mainColor;

          > .category-title {
            .specials-button {
              background-color: $mainColor;
              color: white;
            }

            > .category-title-image {
              background: $mainColor;
            }
          }
        }

        > .sub-categories-content-wrapper > .sub-categories-content > .sub-category > .sub-sub-category:hover {
          color: $mainColor;
        }

        .sub-category-link {
          color: $mainColor;
        }
      }
    }
  }
}