<header ng-if="couponDetailsCtrl.coupon">
    <div class="coupon-title">
        <span class="audience"
            ng-if="couponDetailsCtrl.coupon.special.icons[couponDetailsCtrl.coupon.special.loyaltyClubsIds[0]][$root.config.language.id].description || couponDetailsCtrl.coupon.special.icons[couponDetailsCtrl.coupon.special.loyaltyClubsIds[0]][2].description"
            ng-bind="couponDetailsCtrl.coupon.special.icons[couponDetailsCtrl.coupon.special.loyaltyClubsIds[0]][$root.config.language.id].description || couponDetailsCtrl.coupon.special.icons[couponDetailsCtrl.coupon.special.loyaltyClubsIds[0]][2].description">
        </span>
        <span class="title" ng-bind="couponDetailsCtrl.coupon.couponName || couponDetailsCtrl.coupon.localName"></span>
    </div>

    <div class="coupon-description">
        <div class="description-text-wrapper" ng-if="couponDetailsCtrl.coupon.names[1].long">
            <svg focusable="false" ng-if="!couponDetailsCtrl.gifts.total">
                <use xlink:href="#sp-icons-gift"></use>
            </svg>
            <svg class="buy-and-get-icon" focusable="false" ng-if="couponDetailsCtrl.gifts.total && !couponDetailsCtrl.showGifts">
                <use xlink:href="#sp-icons-curved-arrow"></use>
            </svg>
            <button class="no-design"
                    ng-if="couponDetailsCtrl.gifts.total && couponDetailsCtrl.showGifts"
                    ng-click="couponDetailsCtrl.showGifts = false">
                <img src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/backward-arrow.png" alt="{{'Back' | translate}}"/>
            </button>
            <span class="description"
                  ng-bind="couponDetailsCtrl.coupon.names[1].long">
            </span>
        </div>
        <span class="terms" ng-if="(couponDetailsCtrl.coupon.description || ($root.userCouponsById[couponDetailsCtrl.coupon.id] && $root.userCouponsById[couponDetailsCtrl.coupon.id].description)) && !couponDetailsCtrl.terms"
              ng-bind="couponDetailsCtrl.coupon.description || $root.userCouponsById[couponDetailsCtrl.coupon.id].description">
        </span>
        <div class="info">
            <span class="expiration"
                ng-bind="('Valid' | translate) + ' ' + ((couponDetailsCtrl.coupon.couponEndDate < couponDetailsCtrl.coupon.special.endDate ? couponDetailsCtrl.coupon.couponEndDate : couponDetailsCtrl.coupon.special.endDate) | date: ($root.config.isUs ? 'MM/dd/yyyy' : 'dd/MM/yyyy'):'UTC')">
            </span>
            <span class="realizations" ng-if="couponDetailsCtrl.coupon.remainingredemptions"
                ng-bind="couponDetailsCtrl.coupon.remainingredemptions === 1 ? ('Can be redeemed once' | translate) : ('Can be redeemed {x} times' | translate).replace('{x}', couponDetailsCtrl.coupon.remainingredemptions)">
            </span>
        </div>
    </div>
</header>

<section class="items-wrapper max-two-rows" endless-scroll="couponDetailsCtrl.endlessScrollOptions"
         ng-if="!couponDetailsCtrl.terms && !couponDetailsCtrl.showGifts"
         ng-class="{'multi-buckets': couponDetailsCtrl.special.hasMultipleBuckets,
         'buy-and-get': couponDetailsCtrl.gifts.total,
         'one-line': couponDetailsCtrl.products.products.length <= 3 && !couponDetailsCtrl.special.hasMultipleBuckets}">
    <div class="items"
        ng-if="couponDetailsCtrl.products.products.length && !couponDetailsCtrl.coupon.special.hasMultipleBuckets">
        <div class="item product" ng-repeat="product in couponDetailsCtrl.products.products" sp-in-view-watcher>
            <sp-product product="product" hide-sales="true" tabindex="0"
                aria-labelledby="{{'product_' + product.id + '_name'}}"></sp-product>
        </div>
    </div>

    <span ng-if="couponDetailsCtrl.gifts.total && !couponDetailsCtrl.special.hasMultipleBuckets && couponDetailsCtrl.products.products.length <= 3"
          class="for-vertical-align"></span>

          <div class="no-items-massage" aria-relevant="all" aria-live="polite">
            <div ng-if="couponDetailsCtrl.productsChunkLoading" aria-label="{{'please wait, we are loading the products' | translate}}" class="no-items-massage">
                <strong>{{'Please wait, we are loading the products' | translate}}</strong>
            </div>
            <div ng-if="!couponDetailsCtrl.productsChunkLoading && !couponDetailsCtrl.products.products.length && !couponDetailsCtrl.coupon.special.hasMultipleBuckets" aria-label="{{'There are no available items for this promotion' | translate}}" class="no-items-massage">
                <strong>{{'There are no available items for this promotion' | translate}}</strong>
            </div>
          </div>

    <div class="purchase"
         ng-class="{'showen': couponDetailsCtrl.currentPurchase === $index}"
         ng-repeat="purchase in couponDetailsCtrl.special.levels[0].purchases"
        ng-if="couponDetailsCtrl.special.levels[0] && couponDetailsCtrl.special.levels[0].purchases && couponDetailsCtrl.special.levels[0].purchases.length && couponDetailsCtrl.special.hasMultipleBuckets">
<!--        <h3 class="purchase-title">{{('Buy' | translate) + ' ' + purchase.total}}</h3>-->
        <div class="purchase-title-wrapper"
             ng-click="couponDetailsCtrl.togglePurchase($index)">
            <h3 class="purchase-title">
                {{(purchase.type === 1 ? 'buy_units_total' : (purchase.type === 2 ? 'buy_currency_total' : (purchase.type === 3 ? 'buy_measure_total' : '')) | translate)
                    .replace('{total}', purchase.type === 2 ? (purchase.total | currency) : purchase.total).replace('{unit}', $root.defaultWeightUnit.names[$root.config.language.id])}}
            </h3>
            <div class="purchase-remainder" ng-if="!!purchase.remainder && couponDetailsCtrl.currentPurchase === $index">{{('add_units_special_purchase' | translate).replace('{remaining}', purchase.remainder)}}</div>
            <svg focusable="false" class="right">
                <use xlink:href="#sp-icons-arrow-down"></use>
            </svg>
        </div>
        <div class="items">
            <div class="item product" ng-repeat="product in purchase.esProducts" ng-if="!!product && product.id">
                <sp-product open-product="$root.util.openProduct(product)" product="product" hide-sales="true"
                    tabindex="0" aria-labelledby="{{'product_' + product.id + '_name'}}"></sp-product>
            </div>
        </div>
    </div>
</section>

<section class="items-wrapper buy-and-get" endless-scroll="couponDetailsCtrl.endlessScrollOptions"
         ng-class="{'one-line': couponDetailsCtrl.products.products.length <= 3 && !couponDetailsCtrl.special.hasMultipleBuckets}"
         ng-if="couponDetailsCtrl.showGifts">
    <div class="items" ng-if="couponDetailsCtrl.gifts.products.length">
        <div class="item product" ng-repeat="product in couponDetailsCtrl.gifts.products" sp-in-view-watcher>
            <sp-product open-product="$root.util.openProduct(product)" product="product" hide-sales="true" tabindex="0"
                aria-labelledby="{{'product_' + product.id + '_name'}}">
            </sp-product>
        </div>
    </div>

    <span ng-if="!couponDetailsCtrl.special.hasMultipleBuckets && couponDetailsCtrl.products.products.length <= 3"
          class="for-vertical-align">
    </span>
</section>

<section class="terms" ng-if="couponDetailsCtrl.terms" ng-bind-html="couponDetailsCtrl.terms | trustHtml"></section>

<footer ng-if="!couponDetailsCtrl.terms"
    ng-class="{'new-promotion': $root.config.retailer.settings.isNewPromotionDesignEnabled === 'true'}">

    <div class="special-info" ng-class="{'products-added': couponDetailsCtrl.quantity && couponDetailsCtrl.total, 'points': couponDetailsCtrl.coupon.pointrequirement}">
        <div ng-if="couponDetailsCtrl.coupon.pointrequirement" class="clip-price">
            {{'Clip for' | translate}}
            <span>{{couponDetailsCtrl.coupon.pointrequirement}}</span>
            <svg focusable="false" ng-if="!$root.config.retailer.settings.loyaltyPointsIcon">
                <use xlink:href="#sp-icons-coupon-coin"></use>
            </svg>
            <img ng-if="$root.config.retailer.settings.loyaltyPointsIcon"
                 ng-src="{{$root.config.retailer.settings.loyaltyPointsIcon}}" />
        </div>

        <span class="quantity" ng-if="couponDetailsCtrl.quantity">
            {{'Quantity' | translate}}: {{couponDetailsCtrl.quantity}}
            <span ng-if="showUnit">&nbsp;{{$root.defaultWeightUnit.names[$root.config.language.id]}}</span>
        </span>
        <span class="total" ng-if="couponDetailsCtrl.total">
            {{'Total' | translate}}:&nbsp;<sp-product-price regular-price="couponDetailsCtrl.total"></sp-product-price>
        </span>
        <span class="remaining"
              ng-if="$root.cart.specialReminders.onCoupons[couponDetailsCtrl.special.id] && $root.cart.specialReminders.onCoupons[couponDetailsCtrl.special.id].purchaseType === 1 && !couponDetailsCtrl.special.hasMultipleBuckets"
              ng-bind ="$root.COUPON_MEANINGLESS_REMAINING_VALUES.includes($root.cart.specialReminders.onCoupons[couponDetailsCtrl.special.id].remaining) ? ('add_units_coupon_no_remaining'|translate) : ('add_units_coupon'|translate).replace('{remaining}', $root.cart.specialReminders.onCoupons[couponDetailsCtrl.special.id].remaining)">
        </span>
        <span class="remaining"
              ng-if="$root.cart.specialReminders.onCoupons[couponDetailsCtrl.special.id] && $root.cart.specialReminders.onCoupons[couponDetailsCtrl.special.id].purchaseType === 2 && !couponDetailsCtrl.special.hasMultipleBuckets"
              ng-bind="('add_currency_coupon' | translate).replace('{remaining}', $root.cart.specialReminders.onCoupons[couponDetailsCtrl.special.id].remaining | currency)">
        </span>
        <span class="remaining"
              ng-if="$root.cart.specialReminders.onCoupons[couponDetailsCtrl.special.id] && $root.cart.specialReminders.onCoupons[couponDetailsCtrl.special.id].purchaseType === 3 && !couponDetailsCtrl.special.hasMultipleBuckets"
              ng-bind="('add_measure_coupon' | translate).replace('{remaining}', $root.cart.specialReminders.onCoupons[couponDetailsCtrl.special.id].remaining).replace('{unit}', $root.defaultWeightUnit.names[$root.config.language.id])">
        </span>

    </div>

    <div class="actions right">
        <button ng-click="couponDetailsCtrl.showGifts = true" ng-bind="::'Buy' | translate"
            ng-if="couponDetailsCtrl.gifts.total" ng-disabled="couponDetailsCtrl.showGifts">
        </button>

        <button ng-click="$dialog.hide()" ng-bind="(couponDetailsCtrl.gifts.total ? 'Get' : 'Done') | translate"
            ng-if="!!$root.cart.getProduct(couponDetailsCtrl.coupon).singleLine"
                ng-disabled="(couponDetailsCtrl.gifts.total && couponDetailsCtrl.showGifts !== true) || (couponDetailsCtrl.showGifts === true && $root.cart.specialReminders.onCoupons[couponDetailsCtrl.special.id] && !$root.cart.specialReminders.onCoupons[couponDetailsCtrl.special.id].awarded)">
        </button>

        <button ng-class="{'disabled': couponDetailsCtrl.coupon.notEnoughPoints}"
            ng-disabled="couponDetailsCtrl.coupon.notEnoughPoints"
            ng-if="!$root.cart.getProduct(couponDetailsCtrl.coupon).singleLine"
            ng-click="$root.cart.addLine({product: couponDetailsCtrl.coupon, type: $root.SP_SERVICES.CART_LINE_TYPES.COUPON, metaData: couponDetailsCtrl.coupon.id, isCouponPriceZero: $root.config.retailer.isCouponPriceZero});"
            ng-bind="couponDetailsCtrl.coupon.notEnoughPoints ? ('Not enough points' | translate) : couponDetailsCtrl.coupon.pointrequirement ? ('Clip for {x} points' | translate).replace('{x}', couponDetailsCtrl.coupon.pointrequirement) : ('Clip' | translate)">
        </button>
    </div>
</footer>