div.dialog.coupon-details-dialog > div.dialog-body {
  $itemWidth: 15em;
  $itemMargin: 0.75em;
  $itemsInRow: 3;
  $itemsWidth: ($itemWidth + $itemMargin) * $itemsInRow;
  $shadowColor: rgba(0, 0, 0, 0.075);

  padding: 3.25em 0 $itemMargin 0 !important;

  > button.close-dialog-corner-button {
    display: flex;
    margin: 0;
    padding: 0;

    .rtl & {
      left: 1em;
      right: auto;
    }
  }

  > header {
    width: $itemsWidth;

    > * {
      display: inline-block;
      vertical-align: middle;
    }

    > .coupon-title {
      min-height: 1.75em;
      display: grid;
      grid-template-columns: auto 1fr;
      grid-column-gap: 1em;
      align-items: center;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      margin: 0;
      padding: $itemMargin;
      background-color: #ffebeb;

      > .audience {
        height: 2em;
        display: flex;
        align-items: center;
        padding: 0 0.5em;
        color: white;
        border-radius: 0.25em;
        font-size: 13px;
      }

      > .title {
        max-height: 2em;
        overflow: hidden;
        color: $red;
        font-size: 18px;
        font-weight: bold;
        text-transform: uppercase;
        @include ellipsis(2);
      }
    }

    > .coupon-description {
      display: grid;
      grid-row-gap: 0.5em;
      padding: 0.5em 0;

      > .description-text-wrapper {
        > * {
          display: inline-block;
          vertical-align: middle;
        }

/*        > h1 {
          color: #000000;
          font-size: 16px;
          font-weight: normal;
          padding: 0 0.5em;
        }*/

        > svg {
          width: 2.688em;
          height: 2.688em;

          &.buy-and-get-icon {
            width: 2em;
            height: 2em;
          }
        }

        > button {
          height: 2em;
          > img {
            max-height: 100%;
            width: 1.5em;
            margin: 0 0.25em;
          }
        }

        > .description {
          font-size: 16px;
          width: 90%;
        }
      }

      > .terms {
        font-size: 14px;
      }

      > .info {
        display: flex;
        grid-column-gap: 0.5em;
        font-size: 12px;
        color: #787878;

        > .realizations {
          padding: 0 0.5em;
          border-left: 1px solid;

          .rtl & {
            border-right: 1px solid;
            border-left: none;
          }
        }
      }
    }
  }

  > footer {
    &.points {
      display: grid;
      grid-template-columns: 1fr auto;
    }

    &.new-promotion {
      display: grid;
      grid-template-columns: 1fr auto;
      grid-column-gap: 1em;

      .special-info {
        display: grid;
        grid-template-columns: 1fr;
        grid-column-gap: 1em;
        align-items: center;
        justify-items: end;
        margin-left: 0.5em;
        font-size: 18px;

        > .clip-price {
          display: flex;
          grid-column-gap: 0.25em;
          align-items: center;
          font-size: 16px;

          > span {
            font-size: 18px;
          }

          > svg,
          > img {
            width: 1.5em;
            height: 1.5em;
          }
        }

        &.points {
          grid-template-columns: auto 1fr;
        }

        &.products-added {
          grid-template-columns: auto auto 1fr;

          &.points {
            grid-template-columns: auto auto auto 1fr;
          }
        }

        .total {
          display: flex;

          .sp-product-price .price {
            font-weight: normal;
            color: black;
          }
        }

        .remaining {
          font-size: 14px;
          font-weight: bold;
          color: #ff5755;
          animation: flash 1.5s 3;
        }

        .special-terms-explanation {
          color: #ff5755;
          font-size: 0.8em;
          font-weight: 700;
        }
      }
    }

    .actions {
      display: flex;
      grid-column-gap: 1em;

      button {
        $padding: 2em;
        padding-right: $padding;
        padding-left: $padding;
        border: 1px solid;
        font-size: 16px;

        &.back {
          background-color: #ffffff;
        }

        &.disabled, &:disabled {
          background-color: #a5a5a6;
        }
      }
    }
  }

  > header,
  > footer {
    padding: 0 $itemMargin;
    box-sizing: border-box;
  }

  > section.items-wrapper {
    padding: $itemMargin $itemMargin 0 0;
    margin-bottom: $itemMargin;
    background: #f3f3f3;

    .item.product {
      .general-image-wrapper {
        
        > span.suggestions {
          left: 50%;
          transform: translateX(-50%);
        }

        .out-of-stock.suggestions {
          font-size: 0.75em;
          font-weight: 700;
          z-index: 3;
          &.text-1 {
            color: #F86B2F;
            top: 43%;
          }
    
          &.text-2 {
            color: #505050;
            top: 50%
        }
        }
      } 
    }

    $shadowSize: 0.5em;
    box-shadow: inset 0 $shadowSize $shadowSize (-$shadowSize) $shadowColor,
      inset 0 (-$shadowSize) $shadowSize (-$shadowSize) $shadowColor;

    &.multi-buckets {
      overflow: hidden;
      padding: $itemMargin $itemMargin 0 $itemMargin;
      min-height: 34.5em;
      width: 100%;
      box-sizing: border-box;

      > .purchase {
        width: 100%;
        box-sizing: border-box;

        &:first-child {
          > .purchase-title-wrapper {
            border-radius: 10px 10px 0 0;
          }
        }

        &:last-child {
          > .purchase-title-wrapper {
            border-bottom-width: 1px;
            border-radius: 0 0 10px 10px;
          }
        }

        > .purchase-title-wrapper {
          width: 100%;
          position: relative;
          padding: 1em 0;
          background-color: #FFEBEB;
          border: 1px solid #FF5755;
          border-bottom-width: 0;

          > * {
            display: inline-block;
          }

          > .purchase-title {
            font-size: 1.2em;
            font-weight: 700;
            padding: 0 1em;
            color: #505050;
            width: 70%;
          }

          > .purchase-remainder {
            color: #FF5755;
            font-weight: 600;
            font-size: 1.2em;
            animation: flash 1.5s 3;
          }

          > svg {
            color: #505050;
            height: 0.8em;
            width: 0.8em;
            border: 1px solid;
            border-radius: 100%;
            padding: 0.25em;
            margin: 0 1em;
            fill: #505050;
          }
        }

        > .items {
          overflow: auto;
          height: 0;
          width: 100%;
          border: 1px solid #FF5755;
          border-bottom-width: 0;
          transition: height .2s;
          padding: 0;
          visibility: hidden;

          > div.item {
            width: $itemWidth - 0.2em;
          }

          &::-webkit-scrollbar {
            background-color: transparent;
            width: 8px;
          }

          &::-webkit-scrollbar-thumb {
            @include border-radius(5px);
            background-color: rgba(96, 96, 96, 0.2);

            &:hover {
              background-color: rgba(96, 96, 96, 0.7);
            }

            &:active {
              background-color: rgba(96, 96, 96, 1);
            }
          }
        }

        &.showen {
          > .purchase-title-wrapper > svg {
            transform: rotate(180deg);
          }

          > .items {
            height: 22em;
            visibility: visible;
            padding-top: 1em;
          }

          &:last-child {
            > .purchase-title-wrapper {
              border-bottom-width: 0;
              border-radius: 0;
            }

            > .items {
              border-bottom-width: 1px;
              border-radius:  0 0 10px 10px;

            }
          }
        }
      }
    }

    &.buy-and-get:not(.multi-buckets) {
      margin: 1em;
      border: 1px solid #FF5755;
      border-radius: 13px;
      box-shadow: none;

      &.one-line {
        overflow:hidden;

        div.items {
          vertical-align: middle;
          display: inline-block;
          width: 99%;
        }
      }

      div.items {
        width: 100%;
        text-align: center;
        vertical-align: middle;

        > div.item {
          width: $itemWidth - 0.7em;
          text-align: start;
        }
      }
    }

    div.items {
      width: $itemsWidth;

      > div.item {
        width: $itemWidth;
        border: none !important;
        margin: 0 0 $itemMargin $itemMargin;
        padding: 0;

        > sp-product {
          display: block;
          width: 100%;
          height: 100%;
          box-sizing: border-box;
          padding: 1.2em 0.5em;
          box-shadow: 0 0 0.5em $shadowColor;
          > .sp-unit-weight {
            top: 53%;
            transform: translate(-50%, -53%);
          }
        }
      }
    }
  }

  .no-items-massage {
    text-align: center;
    height: 18.25em;
    display: grid;
    align-items: center;
  }

  > section.terms {
    width: $itemsWidth - $itemMargin;
    padding: $itemMargin;
    word-break: break-word;
    font-size: 14px;
    color: #78797a;
  }
}

.rtl {
  div.dialog.coupon-details-dialog>div.dialog-body>header>.coupon-description>.description-text-wrapper {
    > svg.buy-and-get-icon, > button > img {
      transform: scale(-1, 1);
    }
  }
}
