.dialog.coupon-details-dialog {
  .dialog-body {
    header > .coupon-title > .audience {
      background-color: $mainColor;
    }

    footer > .clip-price > svg {
      fill: $mainColor;
    }
  }
}
