input[type="text"], input[type="password"], input[type="email"], input[type="tel"], input[type="number"], input[type="date"], select, textarea {
  @include box-sizing(border-box);
  width: 100%;
  @include border-radius(5px);
  padding: 0.5em;
  border: 1px solid #adadad;
  margin: 0;
  outline: 0;

  &:hover {
    border-color: #878787;
  }

  &:active, &:focus {
    border-color: #606060;
  }

  $placeholderColor: #737373;
  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $placeholderColor;
  }
  &::-moz-placeholder { /* Firefox 19+ */
    color: $placeholderColor;
  }
  &:-ms-input-placeholder { /* IE 10+ */
    color: $placeholderColor;
  }
  &:-moz-placeholder { /* Firefox 18- */
    color: $placeholderColor;
  }
}

.rtl {
  .custom-phone-validation {
    direction: ltr;

    .label {
      order: 4;
    }

    .phone-length-message {
      width: 100%;
      order: 5;
    }
  }
}

.custom-phone-validation {
  align-items: center;
  display: flex!important;
  flex-wrap: wrap;

  .custom-phone-validation-item {
    margin-right: .5em;

    select {
      height: 40px;
      vertical-align: middle;

      &.has-error {
        border-color: #d44949;
      }
    }

    input {
      height: 40px;
      vertical-align: middle;
      max-width: 3.5em;
    }
  }

  .phone-input {
    height: 40px;
    font-size: .8em;
    flex: calc(50% - 1em);

    &-account {
      flex: 1;
      width: 100%!important;
    }
  }

  input {
    width: 12em!important;
  }

  .phone-length-message {
    margin-left: auto;
    margin-top: .5em;
    font-size: .8em;
    color: #8a8a8a;
    width: 70%;
  }

  &-cancel-button {
    width: 60px;
    margin-left: 10px;
    margin-right: -70px;
    font-size: .8em!important;
  }
}


.form {
  .two-inputs {
    > * {
      display: inline-block;
      margin: 0 !important;
      width: 49%;

      &:first-child {
        margin-right: 2% !important;
      }
    }
  }

  .input-group {
    width: 20em;
    padding: 0.5em 1em 0.5em 0;
    display: inline-block;
    vertical-align: top;

    h4 {
      margin: 0;
      padding: 1em 0;
    }

    .link a {
      text-decoration: underline;
    }

    .input-wrapper {
      width: 100%;
      padding: 0.5em 0;

      .open-popup {
        margin-top: 5px;
      }

      &.phone-wrapper {
        direction: ltr;

        > span {
          display: inline-block;
          height: 100%;
          @include box-sizing(border-box);
        }

        > .phone-type {
          text-align: left;
          width: 20%;
          float: left;
        }

        > .phone-number {
          width: 80%;
        }
      }

      textarea {
        height: 7em;
        max-height: 20em;
        max-width: 100%;
      }
    }
  }
}

form {
  .server-err-msg {
    color: #d44949;
    font-weight: bold;
    display: none;
    line-height: 1.2;

    &.shown {
      display: block;
    }
  }

  sp-captcha {
    display: block;
    margin: 1em 1px 0.5em 1px;

    .captcha-warning-msg {
      color: #d44949;
      font-size: 0.9em;
      font-weight: bold;
      display: none;
      padding: 2px 0px 0px 0px;
    }

    &.captcha-error {
      >.captcha-warning-msg {
        display: block;
      }
    }
  }

  > .form-required-fields {
    font-size: 0.8em;
    padding: 0.5em 0;
  }
}

.rtl {
  .form {
    .input-group {
      padding-right: 0;
      padding-left: 1em;

      .input-wrapper.phone-wrapper {
        text-align: right;

        > .phone-type {
          text-align: right;
          float: right;
        }
      }
    }

    .two-inputs > * {
      &:first-child {
        margin-right: 0 !important;
        margin-left: 2% !important;
      }
    }
  }
}

.reset-code-err {
  padding-block: 5em;
  text-align: center;
  font-weight: 600;
  color: #E71B1B;
}

.reset-password-form {
  .form-required-fields, .sp-password {
    margin: 1em 0;
  }

  .sp-password {
    .sp-inline-error {
      font-size: .8em;
      width: 13em;
    }
  }

  .sp-password + .sp-password {
    .sp-inline-error {
      top: .5em !important;
    }
  }
}
