<div class="balance-check">
    <div class="digits">
        <svg focusable="false">
            <use xlink:href="{{pass.type === 'ebt' ? '#sp-icons-ebt-card' : '#sp-icons-selected-credit-card'}}"></use>
        </svg>
        <span>**** **** **** {{pass.type === 'ebt' ? ebtPaymentCtrl.ebtLastDigits : ebtPaymentCtrl.mainLastDigits}}</span>
    </div>
</div>