<div class="checkout-content">
    <div class="tab" ui-view="updateOrderTab"></div>
</div>
<checkout-bottom-banner
        class="checkout-bottom-banner"
        without-content="!updateOrderCtrl.isUpdateEBTPayment"
        without-next-action="true"
        without-total="true"
        has-back-action="true"
        role="region" aria-label="{{'checkout footer' | translate}}">
</checkout-bottom-banner>