$selectorUpdateOrderBase: ' section.view .checkout-content .tab';
$updateOrderSelector: 'html.update-order' + $selectorUpdateOrderBase;
$updateOrderRtlSelector: 'html.update-order.rtl' + $selectorUpdateOrderBase;
$updateOrderLtrSelector: 'html.update-order.ltr' + $selectorUpdateOrderBase;

$radioColumnWidth: 1em;
$columnPaddingRight: 1em;

html.update-order section.view {
  .checkout-content {
    padding-bottom: 5em;

    .tab {
      padding-bottom: 1em;
      text-align: center;

      .delivery-details {
        padding: 1.5em 0;
      }

      > .tab-container {
        display: inline-block;
        vertical-align: top;
      }

      h1 {
        font-size: 2.3em;
      }

      h2, h5, h4 {
        color: #606060;
        padding-top: 0;
        font-size: 1.205em;
      }
    }
  }
}

html.rtl.update-order section.view {
  .checkout-content {
    .tab {
      > .details {
        .input-group {
          .input-wrapper {
            &.two-contents {
              > .content.err-input-wrapper {
                &.first, &:first-child {
                  .err-msg {
                    right: 245%;
                    left: auto;
                  }
                }
              }
              &.auto-complete-wrapper {
                > .auto-complete {
                  right: 30%;
                }
              }
            }

            &.comments-row > .content {
              .comment-place-holder {
                left: auto;
                right: 2%;
              }
            }

            .content.delivery-method-wrapper {
              .delivery-image{
                @include flipH();
              }
            }

            &.auto-complete-wrapper {
              > .auto-complete {
                right: 30%;
              }
            }

            //.content .sp-slider-picker .slider-items>.slider-item.selected>.slider-item-content>ng-include .selected-time{
            //  .time{
            //    display: inline-block;
            //  }
            //}
          }
        }
      }
    }
  }
}

.dialog.did-you-mean {
  h4 {
    padding: 0;
  }

  .address {
    padding: 1em 0;
    cursor: pointer;

    .sp-radio-buttons>label.sp-radio-option{
      display: block;

      .label {
        padding: 0 1em;
      }
    }
  }

  .buttons{
    padding-top: 1em;
    display: block;
    text-align: center;

    button {
      min-height: 2.5em;
      min-width: 8em;
      margin: 0 .7em;

      .cancel{
        border: 2px solid;
        padding: 7px;
        border-radius: 5px;
        background-color: #FFFFFF;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  html.update-order section.view {
    .checkout-content {
      .tab > .details {
        padding-right: 0;
      }
    }
  }

  html.rtl.update-order section.view {
    .checkout-content {
      .tab > .details {
        padding-left: 0;
      }
    }
  }
}
