<div class="help-buttons">
    <div class="continue-shopping" ng-if="!withoutContent">
        <button class="no-design" ng-click="continueShopping()">
            {{'Continue Shopping' | translate}}
        </button>
    </div>
    <span class="promotion" ng-if="$root.util.isRetailerPromotionActive() && !withoutNextAction">
        <button class="no-design disabled-opacity" ng-click="$root.util.openPromotionDialog();">
            <svg focusable="false">
                <use xlink:href="#sp-icons-promotion"></use>
            </svg>
            <span>{{$root.config.retailer.promotion.name}}</span>
        </button>
    </span><!--
    --><span class="faq" ng-if="!!faqText && sp.frontendData.retailer.faqs.length">
        <img src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/faq.png" alt=""/>
        <span class="text">
            {{faqText}} <a ui-sref="app.retailerDetails.faq">{{'Read More' | translate}}...</a>
        </span>
    </span>
</div>

<div class="total-summary" ng-if="!withoutContent" ng-class="{'back-only': withoutNextAction && withoutTotal && hasBackAction}">
    <div class="you-save" ng-if="$root.cart.total.colleagueForView">
                <span>
                    <span class="text">{{'Est. employee savings' | translate}}:</span>
                    <span class="price">{{$root.cart.total.colleagueForView | currency}}</span>
                </span>
    </div>
    <span class="saved-price" ng-if="!withoutTotal" ng-class="{'savings-3-line': !$root.isCreditCustomer && $root.cart.total.giftsForView && $root.cart.total.clubsGiftsForView && $root.cart.total.multiPassGift}">
    <div ng-if="$root.cart.total.giftsForView && !$root.isCreditCustomer">
            <span class="sale-icon">
                <img alt="{{'savings' | translate}}" ng-src="{{'https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/sale-small%translate%.png' | translateImage:{'he': '-hebrew'} }}"/>
            </span>
            <span>{{'You Save' | translate}}: <span class="price">{{$root.cart.total.giftsForView | currency}}</span></span>
        </div>
        <div ng-if="$root.cart.total.clubsGiftsForView && !$root.isCreditCustomer">
            <span class="sale-icon club-icon">
                <img alt="{{'membership savings' | translate}}" ng-src="{{'https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/sale-small%translate%.png' | translateImage:{'he': '-hebrew'} }}"/>
            </span>
            <span>{{'You Save' | translate}}: <span class="price">{{$root.cart.total.clubsGiftsForView | currency}}</span></span>
        </div>
        <div ng-if="$root.cart.total.multiPassGift && !$root.isCreditCustomer">
            <span>{{'Estimated employee savings' | translate}}: <span class="price">{{$root.cart.total.multiPassGift | currency}}</span></span>
        </div>
        <div class="you-save credit-customer" ng-if="$root.isCreditCustomer">
            <svg focusable="false" class="wallet-icon">
                <use xlink:href="" ng-attr-xlink:href="#sp-icons-wallet"></use>
            </svg>
           <span class="price">
                <span class="title">{{'Remaining credit' | translate}}</span>
                <span class="price" ng-class="{'not-enough': $root.creditCustomerRemainingSum < $root.cart.total.finalPriceForView }">{{$root.creditCustomerRemainingSum | currency:' '}}</span>
            </span>
        </div>
        <div ng-if="$root.config.retailer.loyaltyClubDriver.isActive && !$root.cart.total.clubsGiftsForView && !$root.cart.total.multiPassGift && !sideNavCtrl.userData.loyaltyClubCardId && $root.cart.total.simulateClubsGiftsForView && !$root.isCreditCustomer">
            <span class="sale-icon club-icon">
                <img alt="{{'potencial membership savings' | translate}}" ng-src="{{'https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/sale-small%translate%.png' | translateImage:{'he': '-hebrew'} }}"/>
            </span>
            <span>{{'Could Save' | translate}}: <span class="price">{{$root.cart.total.simulateClubsGiftsForView | currency}}</span></span>
        </div>
    </span><!--
    --><span class="est-total" ng-if="!withoutTotal">
        <span class="title">
            {{'Estimated Total' | translate}}:
        </span>
        <span class="total">
            <span class="price-total">{{deliveryCheckoutOrServiceFee ? ($root.cart.total.finalPriceForViewWithDeliveryFee || $root.cart.total.finalPriceForView | currency) : ($root.cart.total.finalPriceForView | currency)}}</span>
            <span ng-if="$root.config.retailer.settings.includeDeliveryFeeInCart === 'true' && !sideNavCtrl.isEmptyObjectWithDelivery($root.cart.lines) &&
            $root.config.getBranchArea().deliveryTypeId && $root.config.deliveryAreaPrice" class="delivery-info">{{'includes_delivery_type_' + $root.config.getBranchArea().deliveryTypeId + '_fee' | translate}}</span>
            <span class="items-total">({{$root.cart.total.lines}} {{$root.cart.total.lines === 1 ? 'item' : 'items' | translate}})</span>
        </span>
    </span><!--
    --><span class="back-button" ng-if="hasBackAction">
        <button class="no-design disabled-opacity" ng-click="back()">
            {{'Back' | translate}}
        </button>
    </span><!--
    --><span class="next-button" ng-if="!withoutNextAction">
        <button class="no-design disabled-opacity" ng-click="nextAction()" ng-disabled="nextDisabled || !$root.cart.sendingSucceeded">
            {{btnText}}
        </button>
    </span><!--
--></div>
