checkout-bottom-banner {
  @include fixed();
  top: 100%;
  left: 0;
  margin-top: -5em;
  height: 5em;
  width: 100%;
  padding: 1em;
  z-index: 90;
  box-sizing: border-box;

  &.split-view {
    width: 50%;
    min-width: 960px;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    left: auto;
    right: 0;

    .rtl & {
      left: 0;
      right: auto;

      > .help-buttons {
        > .continue-shopping,
        > .promotion {
          margin: 0;
        }
      }

      > .total-summary {
        margin-left: initial;
        margin-right: auto;

        > .est-total > .title {
          text-align: right;
        }

        > .back-button,
        > .next-button {
          padding: 0;
        }
      }
    }

    > .help-buttons {
      display: grid;
      grid-auto-flow: column;
      grid-column-gap: 0.5em;

      > .continue-shopping,
      > .promotion {
        margin: 0;

        > button {
          height: 100%;
          padding: 0 0.5em;
          font-size: 1em;
        }
      }

      > .promotion {
        max-width: 10em;

        > button {
          font-size: 0.8em;
        }
      }
    }

    > .total-summary {
      display: flex;
      grid-column-gap: 0.5em;
      grid-row-gap: 1.5em;
      align-items: center;
      margin-left: auto;

      > .saved-price {
        padding: 0;
      }

      > .est-total {
        > .title,
        > .total {
          font-size: 1em;
        }
      }

      > .back-button,
      > .next-button {
        padding: 0;

        > button {
          width: auto;
          padding: 0 0.5em;
          font-size: 1em;
        }
      }
    }

    @media screen and (max-width: 1600px) {
      height: 6.5em;
      min-width: 720px;
      margin-top: -6.5em;
      font-size: 12px;
    }

    @media screen and (max-width: 1300px) {
      height: 5.5em;
      min-width: 640px;
      margin-top: -5.5em;
    }
  }

  .help-buttons {
    float: left;

    > * {
      display: inline-block;
      vertical-align: middle;
    }

    > *:not(:last-child) {
      margin-right: 0.5em;
    }

    .continue-shopping {
      button {
        line-height: 3em;
        color: #ffffff;
        border: 1px solid #ffffff;
        padding: 0 2em;
        @include border-radius(5px);
      }
    }

    .promotion {
      button {
        height: 3rem;
        background-color: #ffffff;
        color: #606060;
        border-radius: 5px;
        padding: 0.5em;

        > svg {
          height: 2em;
          width: 2em;
          fill: #606060;
          vertical-align: middle;
          padding-right: 0.5em;
        }

        > span {
          vertical-align: middle;

          font-weight: 700;
        }
      }
    }

    .faq {
      position: relative;
      color: #000000;
      padding: 0 1em;

      &:hover > .text {
        display: block;
      }

      > .text {
        font-size: 0.9em;
        display: none;
        position: absolute;
        top: -3.8em;
        left: 80%;
        padding: 1em;
        background-color: #ffffff;
        height: 2em;
        border: 1px solid #adadad;
        @include border-radius(2em 2em 2em 0);
        width: 19em;

        > a {
          color: gray;
        }
      }
    }
  }

  .total-summary {
    float: right;

    .you-save {
      color: white;
    }

    &.back-only {
      float: none !important;
    }

    > * {
      display: inline-block;
      vertical-align: middle;
    }

    > .saved-price {
      padding: 0 1.2em;
      vertical-align: top;

      &.savings-3-line {
        margin-top: -0.7em;
      }

      > div {
        color: #ffffff;
        font-size: 0.9em;
        padding: 0.1em 0;

        > span {
          vertical-align: middle;
          display: inline-block;

          .price {
            direction: ltr;
            display: inline-block;
          }
        }

        > .sale-icon {
          width: 1.5em;
          height: 1.5em;
          display: inline-block;
          vertical-align: middle;

          > img {
            width: 100%;
            height: 100%;
            display: inline-block;
            vertical-align: middle;
          }
        }
      }
    }

    .est-total {
      padding: 0;

      .title,
      .total {
        display: block;
        color: #ffffff;
        text-align: right;
        padding: 0.1em 0;
      }

      .title {
        font-size: 1.2em;
        text-align: left;
      }

      .total {
        font-size: 1.1em;

        .price-total {
          font-weight: bold;
          direction: ltr;
          display: inline-block;
        }

        .items-total {
          font-size: 0.7em;
          color: #bfc3c1;
        }
      }
    }

    .back-button {
      padding-left: 1em;

      button {
        width: $checkoutBottomBannerNextButtonWidth / 2.3;
        line-height: 3rem;
        color: #ffffff;
        font-weight: normal;
        @include border-radius(5px);
        padding: 0 1.5rem;
        border: 1px solid #909392;
      }
    }

    .next-button {
      padding-left: 1em;

      button {
        font-size: 1.2em;
        width: $checkoutBottomBannerNextButtonWidth;
        line-height: 3rem;
        color: #ffffff;
        font-weight: bold;
        @include border-radius(5px);
        padding: 0 1.5rem;
        border-width: 1px;
        border-style: solid;
      }
    }
  }

  .credit-customer {
    height: 4em;
    font-weight: bold;
    border-right: 1px solid #ffffff;
    border-left: none;
    padding: 1em 0.5em !important;

    .wallet-icon {
      height: 1.8em;
      width: 2.3125em;
      display: inline-block;
      vertical-align: middle;
      fill: none;
      stroke: #505050;
    }

    .price {
      direction: ltr;
      display: inline-block;
      color: #ffffff;
      padding: 0 0.5625em;

      &.not-enough {
        color: #cd1c01;
        font-weight: bold;
      }

      .title {
        color: #ffffff;
        display: block;
      }
    }
  }
}

.rtl {
  checkout-bottom-banner {
    .help-buttons {
      float: right;

      > *:not(:last-child) {
        margin-right: 0;
        margin-left: 0.5em;
      }

      .faq > .text {
        left: auto;
        right: 80%;
      }
    }

    .total-summary {
      float: left;

      .est-total {
        .title,
        .total {
          text-align: left;
        }
      }

      .back-button {
        padding-left: 0;
        padding-right: 1em;
      }

      .next-button {
        padding-left: 0;
        padding-right: 1em;
      }

      .promotion button > svg {
        padding: 0 0 0 0.5em;
      }
    }

    .credit-customer {
      border-right: none;
      border-left: 1px solid #ffffff;
    }
  }
}

@media (max-width: 1300px) {
  checkout-bottom-banner {
    font-size: 14px;
    height: 5.1em;
    .help-buttons .continue-shopping button {
      padding: 0 1em;
    }

    .total-summary {
      .back-button button {
        width: 5.5rem;
      }

      .next-button button {
        width: 15rem;
      }
    }
  }

  .rtl {
    checkout-bottom-banner {
      .help-buttons .faq {
        > .text {
          left: auto;
          right: 80%;
          @include border-radius(2em 2em 0 2em);
        }
      }
    }
  }
}

@media (max-width: 768px) {
  checkout-bottom-banner.checkout-bottom-banner {
    .total-summary {
      .back-button button {
        padding: 0 0.5rem;
        width: 4rem;
      }

      .next-button button {
        width: 8rem;
      }
    }
  }
}
