checkout-bottom-banner {
  background-color: $secondaryColor;

  .help-buttons .promotion button > svg {
    fill: $mainColor;
  }

  .total-summary .next-button button {
    background-color: $highlightColor;
    border-color: $highlightColor;
  }
}