<div class="cancel-drop-pin-button-wrapper">
    <span>{{ 'address_drop_pin_message_1' | translate }}</span>
    <button type="button" class="no-design cancel-droppin-button" ng-click="detailsCtrl.cancelPinnedAddress()">
        {{ 'address_drop_pin_message_cancel' | translate }}
    </button>
</div>