<div class="input-wrapper two-contents">
    <label for="street_input" class="label flex-30">{{'Street' | translate}} *</label>
    <input class="flex-24" id="street_input" type="text" name="street" autocomplete="off"
        ng-model="checkoutCtrl.detailsData.address.street" required sp-inline-error />
    <label for="house_num_input" class="label second flex-20 text-center">{{'House Number' | translate}} *</label>
    <input class="flex-24" id="house_num_input" type="number" name="houseNum" min="1"
        ng-model="checkoutCtrl.detailsData.address.houseNumber" required sp-inline-error />
</div>