html.my-coupons {
  div.items-wrapper > div.items {
    border: none !important;
  }

  .one-column .coupon-group-title {
    padding: 0.25em;

    > .title {
      height: 1.5em;
      display: grid;
      grid-template-columns: 1fr auto;
      align-items: center;
      color: #a5a5a6;
      border-bottom: 1px solid;
      cursor: pointer;

      > svg {
        width: 1em;
        height: 1em;
        padding: 0 0.5em;
        fill: #a5a5a6;

        &.up {
          transform: scale(-1);
        }
      }
    }
  }

  .coupons-message {
    font-weight: 400;
    font-size: 1.25em;
    margin: 0 1em 0 11.75em;
  }
}
