<div class="checkout-content">
    <div class="tab" ui-view="checkoutTab"></div>
</div>
<checkout-bottom-banner
    class="checkout-bottom-banner"
    without-content="checkoutCtrl.isFinishTab"
    next-action="checkoutCtrl.nextTab();"
    btn-text="{{'NEXT' | translate}}"
    without-total="checkoutCtrl.isSummaryTab"
    aq-text="{{'What happens if something I ordered is not available?' | translate}}"
    has-back-action="true"
    next-disabled="checkoutCtrl.checkingOut"
    without-next-action="checkoutCtrl.isSummaryTab"
    role="region" aria-label="{{'checkout footer' | translate}}">
</checkout-bottom-banner>