$checkoutThemeSelector: 'html.checkout section.view .checkout-content .tab';



html.checkout section.view {
  .checkout-content .tab {
    > .details .input-group .input-wrapper > .content .sp-slider-picker .slider-items > li > .slider-item > .slider-item-content > ng-include > .date.today {
      font-family: $defaultFontFamily;
      color: $mainColor;
    }

    .delivery-details .input-wrapper > .label > .asap-selected {
      color: $mainColor;
      > img {
        background-color: $mainColor;
      }
    }
  }
}