<div class="cart-icon" ng-class="{'update-order-summary-data': finishCtrl.order && finishCtrl.order.id}">
    <span class="empty-cart">
        <img src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/empty-big-cart.png" alt=""/>
        <span class="v-icon">
            <img src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/big-v.png" alt=""/>
        </span>
    </span>
</div>

<div class="text-content secondary-font" ng-class="{'update-order-summary-data': finishCtrl.order && finishCtrl.order.id}">
    <h1 id="page_title">
       {{'Your order has been updated' | translate}}<br/>
    </h1>
    <h5 class="bold">
        {{'Order ID' | translate}}: {{updateOrderCtrl.oid || updateOrderCtrl.order.id}}
    </h5>
    <h4>
        {{'Please check your email for order details' | translate}}.<br/>
        {{'Thank you' | translate}}!
    </h4>
</div>
<div class="continue-btn" ng-class="{'update-order-summary-dataa': finishCtrl.order && finishCtrl.order.id}">
    <button class="block highlight bold" ng-click="finishCtrl.continue()">{{'HomePageNavigation' | translate}}</button>
</div>

<div class="edit-order-wrapper" ng-class="{'update-order-summary-data': finishCtrl.order && finishCtrl.order.id}">
    {{'Forgot something' | translate}}? {{'You can still edit your order' | translate}}&nbsp
    <button class="highlight-border" ng-click="finishCtrl.editOrder()">{{'Edit order' | translate}}</button>
</div>
<div class="update-order-summary">
    <h2>{{'Summary' | translate}}</h2>
    <p>{{'Order ID' | translate}}: {{updateOrderCtrl.oid || updateOrderCtrl.order.id || finishCtrl.order.id}}</p>
    <div class="update-order-summary-delivery strong">
        {{finishCtrl.order.branchDeliveryTypeId  == $root.SP_SERVICES.DELIVERY_TYPES.DELIVERY ? 'Delivery' : 'Pickup' | translate}}:
        <p><span>{{finishCtrl.order.formattedDeliveryDate}}</span><span>{{finishCtrl.order.formattedDeliveryTime}}</span></p>
    </div>

    <div class="update-order-summary-content">
        <div class="update-order-summary-content-info">
            <div ng-repeat="column in finishCtrl.columns" class="column">
                    <p ng-repeat="line in column" ng-class="line.classes"
                       ng-if="line.value || line.withoutValue">
                        <span>{{line.text | translate | creditCardName}}{{!line.hideColon ? ':' : ''}}</span>
                        <span>{{line.hasCurrency ? ((line.hasCurrency && line.value) && (line.value | currency)) : line.value}}</span>
                    </p>
            </div>
        </div>
    </div>
    <p>{{'An order summary email was sent to your inbox' | translate}}</p>
</div>
