<div class="content">
    <h1>{{'Accessibility Statement' | translate}}</h1>
    <div ng-if="!accessibilityStatement" class="default-text">
        <p>{{('accessibility_statement_p1' | translate).replace('{retailerName}', $root.config.retailer.title)}}</p>
        <p>{{'accessibility_statement_p2' | translate}}</p>
        <h2>{{'accessibility_statement_p3' | translate}}</h2>
        <ul>
            <li>{{'accessibility_point_1' | translate}}</li>
            <li>{{'accessibility_point_2' | translate}}</li>
            <li>{{'accessibility_point_3' | translate}}</li>
            <li>{{'accessibility_point_4' | translate}}</li>
            <li>{{'accessibility_point_5' | translate}}</li>
            <li>{{'accessibility_point_6' | translate}}</li>
            <li>{{'accessibility_point_7' | translate}}</li>
            <li>{{'accessibility_point_8' | translate}}</li>
            <li>{{'accessibility_point_9' | translate}}</li>
            <li>{{'accessibility_point_10' | translate}}</li>
        </ul>
    </div>

    <p ng-if="accessibilityStatement" ng-bind-html="accessibilityStatement | trustHtml"></p>
</div>