html.accessibility-statement {
  section.view .content {
    padding: 0 3em;
    background-color: #ffffff;

    > .default-text {
      h2 {
        color: #000000;
        font-size: 1.5em;
      }
      p {
        padding-bottom: 1em;
      };

      ul {
        > li {
          padding-bottom: 0.5em;
        }
      }
    }
  }
}
