.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltip-content {
  visibility: hidden;
  text-align: center;
  border-radius: 2em;
  border: 1px solid #cccccc;
  @include box-shadow(0 0 10px -4px #000000);
  padding: 1em;
  background-color: #ffffff;
  font-size: 0.7em;
  position: absolute;
  z-index: 99;
  bottom: 110%;
  left: 50%;
  margin-left: -70%;
  margin-right: -20%;
  color: #000000;
}

.tooltip:hover .tooltip-content {
  visibility: visible;
}
