<div class="external-code-dialog" ng-style="{'background-image': 'url(' + backgroundImage + ')', 'color': content.popupColor}">
    <button class="close-button" ng-click="hide()">X</button>
    <div class="content-wrapper">
        <sp-barcode scale="2" text="externalRedeemCode"></sp-barcode>
        <!-- <div class="code">{{externalRedeemCode}}</div> -->
        <div ng-if="content.isButtonTextOn" class="title">{{content.buttonText[$root.config.language.culture] || ('Your personal payment code' | translate)}}</div>
        <div ng-if="content.isPopupTextOn" class="description">{{content.popupText[$root.config.language.culture] || ('The code is only valid for the next 30 minutes' | translate)}}</div>
    </div>
</div>