.dialog.external-redeem-code-dialog {
  .close-dialog-corner-button {
    display: none;
  }

  .dialog-body {
    background: transparent;
    margin-left: 14.5em;

    .external-code-dialog {
      height: 420px;
      width: 420px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;

      .close-button {
        top: 4.5em;
        right: 3em;
        border: 2px solid #ffffff;
        padding: 0.4em;
        border-radius: 100%;
        position: absolute;
        height: 40px;
        width: 40px;
        font-weight: 600;
      }

/*      > button {
        position: absolute;
        background-color: #303b33;
        padding: 0.3em 0.5em;
        border-radius: 100%;
        color: #ffffff;
        right: 0.8em;
        border: 2px solid;
        top: 4em;
        font-size: 1.2em;
      }*/

      > .content-wrapper {
        height: 100%;
        flex-direction: column;
        display: flex;
        justify-content: center;
        text-align: center;
        padding: 0 2em;

        > sp-barcode {
          > #barcode {
            border-radius: 10px;
          }
        }

        .code {
          margin-top: 5em;
          font-size: 1.4em;
          font-weight: 600;
          letter-spacing: 1.5px;
        }

        .title {
          // font-size: 1.4em;
          font: 400 36px 'Karantina';
          // font-weight: 700;
          padding: 1em 0.5em 0 0.5em;
        }

        .description {
          padding: 0.7em 0.5em 0 0.5em;
        }
      }
    }
  }
}

.rtl .dialog.external-redeem-code-dialog .dialog-body {
  margin-right: 14.5em;
  margin-left: 0;
}

.external-redeem-code-dialog-wrapper {
  .overlay {
    background-color: rgba(0,0,0,.66);
  }
}