<div class="details tab-container default-text-align" ng-controller="PrutahCheckoutDetailsTabCtrl">
    <form
            name="checkoutCtrl.detailsForm"
            ng-submit="checkoutCtrl.nextTab();"
            ng-click="detailsCtrl.formOnClick($event)">
        <h1 class="secondary" id="page_title">{{detailsCtrl.primaryTitle() | translate}}</h1>
        <div class="input-group" role="region" aria-label="{{'delivery method' | translate}}">
            <div class="input-wrapper">
                <div class="label"></div><!--
                -->
                <div class="content delivery-method-wrapper">
                    <sp-radio options="detailsCtrl.deliveryMethodOptions"
                              sp-model="checkoutCtrl.detailsData.deliveryMethod"
                              sp-change="detailsCtrl.onDeliveryMethodChanged();" class="switcher"
                              ng-if="detailsCtrl.deliveryMethodOptions.length > 1"
                              aria-label="{{'Delivery method options' | translate}}"
                              sp-aria-label="{{option.label | translate}}"
                              role="radiogroup">
                        <img class="delivery-image" ng-src="{{option.selectedImage}}"
                             ng-show="option.value == checkoutCtrl.detailsData.deliveryMethod" alt=""/>
                        <img class="delivery-image" ng-src="{{option.image}}"
                             ng-show="option.value != checkoutCtrl.detailsData.deliveryMethod" alt=""/>
                        <span>{{option.label | translate}}</span>
                        <span class="for-vertical-align"></span>
                    </sp-radio>
                </div>
            </div>
        </div>

        <div class="form-required-fields">{{'Required fields are marked with *' | translate}}</div>

        <div>
            <div class="input-group" ng-class="{1:'fixed-height', 0:''}[detailsCtrl.pickupAreas.length > 1]"
                ng-if="!detailsCtrl.isEnabledAddressSettings" role="region" aria-labelledby="delivery_address_title">
                <h2 class="bold" id="delivery_address_title">
                    {{(checkoutCtrl.detailsData.deliveryMethod.id !== $root.SP_SERVICES.DELIVERY_TYPES.PICKUP ? 'Delivery Address' : 'Your Details') | translate}}
                </h2>
                <label class="server-err-msg"></label>
                <span ng-if="checkoutCtrl.detailsData.deliveryMethod.id !== $root.SP_SERVICES.DELIVERY_TYPES.PICKUP && checkoutCtrl.otherBranchResponse"
                      class="change-store error">
                    {{'Sorry, branch change required' | translate}}.
                    <button type="button" class="no-design"
                            ng-click="detailsCtrl.changeStore($event)">
                        {{'Change Store' | translate}}
                    </button>
                    <br/>
                    {{'This address could only be delivered from branch' | translate}}
                    {{checkoutCtrl.otherBranchResponse.branchName}}
                </span>
                <label class="input-wrapper"
                       ng-if="checkoutCtrl.detailsData.deliveryMethod.id == $root.SP_SERVICES.DELIVERY_TYPES.PICKUP && detailsCtrl.pickupAreas.length > 1">
                    <span class="label">
                        {{ 'Pickup Location' | translate}}
                    </span><!--
                -->
                    <div class="content">
                        <sp-dropdown sp-model="checkoutCtrl.area" sp-change="detailsCtrl.setDeliveryTimes();"
                                     class="transparent-arrow input">
                            <sp-text>
                                {{checkoutCtrl.area.branch.name + ' - ' + checkoutCtrl.area.name}}
                            </sp-text>
                            <sp-option ng-repeat="area in detailsCtrl.pickupAreas" sp-value="area">
                                {{area.branch.name + ' - ' + area.name}}
                            </sp-option>
                        </sp-dropdown>
                    </div>
                </label>
                <label class="input-wrapper">
                    <span class="label">{{'Full name' | translate}} *</span><!--
                --><input type="text" ng-model="checkoutCtrl.detailsData.friendlyName" class="content"
                          id="full_name_input" name="fullName" required sp-inline-error/><!--
                --></label>
                <div class="input-wrapper side-button"
                     ng-if="$root.config.retailer.settings.autocompleteAddressField && checkoutCtrl.detailsData.deliveryMethod.id === $root.SP_SERVICES.DELIVERY_TYPES.DELIVERY">
                    <label for="autocomplete_address" class="label">{{'Please type in your Zip code' | translate | retailerNameReplacement}}*</label>
                    <div class="container">
                        <input type="text" id="autocomplete_address" name="autocomplete_address"
                               class="content"
                               ng-model="checkoutCtrl.detailsData.address.zipCode"/>
                        <button class="open-popup" ng-disabled="!checkoutCtrl.detailsData.address.zipCode"
                                ng-click="detailsCtrl.openAutocompleteAddress($event)">
                            <span class="text">{{::'Find address' | translate}}</span>
                        </button>
                    </div>
                </div>
                <div class="input-wrapper wrap-as-relative d-flex"
                     ng-if="$root.config.retailer.settings.enableDefaultCountry && checkoutCtrl.detailsData.deliveryMethod.id === $root.SP_SERVICES.DELIVERY_TYPES.DELIVERY">
                    <label for="country_autocomplete_input" class="label">{{'Country' | translate}}*</label>
                    <input type="text" id="country_autocomplete_input" name="country"
                           class="content"
                           ng-disabled="($root.config.retailer.settings.autocompleteAddressField && !checkoutCtrl.hasAddressDetails &&
                           !checkoutCtrl.detailsData.address.country) || $root.config.retailer.settings.activeZipProvider.isLockedAddress"
                           ng-change="detailsCtrl.filterCountryNames()"
                           ng-blur="detailsCtrl.onCountryBlur()"
                           ng-model="checkoutCtrl.detailsData.address.country"
                           sp-inline-error
                           required />
                    <sp-autocomplete sp-model="checkoutCtrl.detailsData.address.country"
                                     sp-get-options="checkoutCtrl.countryNames"
                    ></sp-autocomplete>
                </div>

                <div class="input-wrapper wrap-as-relative city-input-wrapper"
                     ng-if="checkoutCtrl.detailsData.deliveryMethod.id !== $root.SP_SERVICES.DELIVERY_TYPES.PICKUP"
                     ng-class="{
                        'two-contents': (detailsCtrl.deliveryAreaMethod === $root.SP_SERVICES.DELIVERY_AREA_METHODS.POLYGON ||
                                        detailsCtrl.deliveryAreaMethod === $root.SP_SERVICES.DELIVERY_AREA_METHODS.GOOGLE_MAPS) && !$root.config.retailer.settings.autocompleteAddressField
                     }">
                    <label for="city_input" class="label">{{'City' | translate | retailerNameReplacement}} *</label><!--
                    --><input class="content first"
                              id="city_input"
                              type="text"
                              name="city"
                              ng-keyup="detailsCtrl.setDeliveryTimesAfterInactivity()"
                              ng-blur="detailsCtrl.onCityBlur()"
                              ng-change="detailsCtrl.onCityChange()"
                              ng-model="checkoutCtrl.detailsData.address.city"
                              ng-disabled="($root.config.retailer.settings.autocompleteAddressField && !checkoutCtrl.hasAddressDetails &&
                              !checkoutCtrl.detailsData.address.city) || $root.config.retailer.settings.activeZipProvider.isLockedAddress"
                              required
                              sp-inline-error
                              autocomplete="off"
                              placeholder="{{'City' | translate | retailerNameReplacement}}"
                              ng-class="{ 'form-control-error': detailsCtrl.isAddressVerificationEnabled && detailsCtrl.formErrorCtrl.city }" /><!--
                    --><label ng-if="(detailsCtrl.deliveryAreaMethod === $root.SP_SERVICES.DELIVERY_AREA_METHODS.POLYGON ||
                                     detailsCtrl.deliveryAreaMethod === $root.SP_SERVICES.DELIVERY_AREA_METHODS.GOOGLE_MAPS) && !$root.config.retailer.settings.autocompleteAddressField"
                              for="zip_code_input" class="label second zipcode">{{'Zip code' | translate | retailerNameReplacement}}</label><!--
                    --><input ng-if="(detailsCtrl.deliveryAreaMethod === $root.SP_SERVICES.DELIVERY_AREA_METHODS.POLYGON ||
                                     detailsCtrl.deliveryAreaMethod === $root.SP_SERVICES.DELIVERY_AREA_METHODS.GOOGLE_MAPS) && !$root.config.retailer.settings.autocompleteAddressField"
                              class="content" id="zip_code_input" type="text"
                              name="zipCodeInput" ng-model="checkoutCtrl.detailsData.address.zipCode"
                              ng-disabled="($root.config.retailer.settings.staticZipCode && $root.config.retailer.settings.staticZipCode.length) ||
                               $root.config.retailer.settings.autocompleteAddressField"
                              ng-keyup="detailsCtrl.setDeliveryTimesAfterInactivity()"
                              ng-blur="detailsCtrl.setDeliveryTimes();"
                              sp-inline-error/>
                    <sp-autocomplete
                            ng-if="checkoutCtrl.detailsData.deliveryMethod.id !== $root.SP_SERVICES.DELIVERY_TYPES.PICKUP &&
                            (detailsCtrl.deliveryAreaMethod === $root.SP_SERVICES.DELIVERY_AREA_METHODS.ZIP_CODE || detailsCtrl.deliveryAreaMethod === $root.SP_SERVICES.DELIVERY_AREA_METHODS.CITY)"
                            sp-model="checkoutCtrl.detailsData.address.city"
                            sp-choose="detailsCtrl.onCityChosen()"
                            sp-get-options="detailsCtrl.getCityAutoCompleteOptions()"
                            sp-value="option.name"
                            sp-require-match="true">
                    </sp-autocomplete>
                    <sp-autocomplete
                            ng-if="detailsCtrl.isAddressVerificationEnabled"
                            sp-model="checkoutCtrl.detailsData.address.city"
                            sp-choose="detailsCtrl.onCityChosen($event)"
                            sp-get-options="detailsCtrl.getCityAutoCompleteOptions()"
                            sp-value="option.name">
                    </sp-autocomplete>
                </div>

                <div class="err-input-wrapper"
                     ng-if="checkoutCtrl.detailsData.deliveryMethod.id !== $root.SP_SERVICES.DELIVERY_TYPES.PICKUP && (
                        detailsCtrl.deliveryAreaMethod === $root.SP_SERVICES.DELIVERY_AREA_METHODS.POLYGON ||
                        detailsCtrl.deliveryAreaMethod === $root.SP_SERVICES.DELIVERY_AREA_METHODS.GOOGLE_MAPS
                    )">
                    <label class="input-wrapper">
                        <span ng-if="checkoutCtrl.detailsData.address.isShowEditAddress" class="gg-map-confirmation-text">
                            {{ 'Is this address correct? You can now edit and refine it' | translate }}
                        </span>
                        <span class="label">{{('Address' | translate | retailerNameReplacement) + ((detailsCtrl.streetIsRequire || detailsCtrl.isAddressVerificationEnabled) ? ' *' : '')}}</span><!--
                    --><input class="content" id="address_text_input" type="text" name="text1"
                              placeholder="{{'Address' | translate | retailerNameReplacement}}"
                              ng-model="checkoutCtrl.detailsData.address.text1"
                              ng-keyup="detailsCtrl.setDeliveryTimesAfterInactivity()"
                              ng-keydown="detailsCtrl.onAddressInputKeyDown()"
                              ng-change="detailsCtrl.onAddressChange()"
                              ng-blur="!detailsCtrl.isGoogleMapDialogOpening && detailsCtrl.onAddressBlur()"
                              ng-disabled="($root.config.retailer.settings.autocompleteAddressField && !checkoutCtrl.hasAddressDetails &&
                              !checkoutCtrl.detailsData.address.text1) || $root.config.retailer.settings.activeZipProvider.isLockedAddress || checkoutCtrl.detailsData.address.isDisabledAddressField"
                              ng-required="!checkoutCtrl.detailsData.address.geoCoordinates && (detailsCtrl.streetIsRequire || detailsCtrl.isAddressVerificationEnabled)"
                              autocomplete="off"
                              ng-class="{ 'form-control-error': detailsCtrl.isAddressVerificationEnabled && detailsCtrl.formErrorCtrl.text1 && !checkoutCtrl.detailsData.address.geoCoordinates}"
                              sp-inline-error
                              sp-inline-error-attach-to-parent="div" />
                        <sp-autocomplete
                            ng-if="detailsCtrl.isAddressVerificationEnabled && !detailsCtrl.streetIsRequire"
                            sp-model="checkoutCtrl.detailsData.address.text1"
                            sp-choose="detailsCtrl.onAddressChosen($event)"
                            sp-get-options="detailsCtrl.getAddressAutoCompleteOptions()"
                            sp-value="option.name">
                        </sp-autocomplete>
                        <sp-autocomplete-address-and-map
                            ng-if="detailsCtrl.isAddressVerificationEnabled && detailsCtrl.streetIsRequire && checkoutCtrl.detailsData.address.hasHouseNumberAndRoute"
                            hide-if-empty="true"
                            sp-value="option.name"
                            sp-model="checkoutCtrl.detailsData.address.text1"
                            sp-choose="detailsCtrl.onAddressChosen($event)"
                            sp-get-options="detailsCtrl.getAddressAutoCompleteOptions()"
                            sp-open-google-map="detailsCtrl.openGoogleMapDialog()">
                        </sp-autocomplete-address-and-map>
                        <div ng-if="checkoutCtrl.detailsData.address.isShowEditAddress" ng-click="detailsCtrl.editUnrecognizedAddress()"
                            class="btn-edit-address">
                            <svg focusable="false" width="24" height="24">
                                <use xlink:href="#sp-icons-black-edit"></use>
                            </svg>
                            <span class="btn-edit-address__tooltip">{{ 'Edit Your Address' | translate }}</span>
                        </div>
                    </label>
                </div>

                <div class="err-input-wrapper"
                     ng-if="checkoutCtrl.detailsData.deliveryMethod.id !== $root.SP_SERVICES.DELIVERY_TYPES.PICKUP &&
                     (detailsCtrl.deliveryAreaMethod === $root.SP_SERVICES.DELIVERY_AREA_METHODS.ZIP_CODE || detailsCtrl.deliveryAreaMethod === $root.SP_SERVICES.DELIVERY_AREA_METHODS.CITY)">
                    <div class="input-wrapper wrap-as-relative two-contents for-zipcode">
                        <label for="street_input" class="label">{{'Street' | translate}}
                            {{detailsCtrl.streetIsRequire ? '*' : ''}}</label><!--
                        --><input class="content"
                                  ng-class="{'first': !$root.config.retailer.enableFloorApartment}"
                                  id="street_input"
                                  type="text"
                                  name="street"
                                  autocomplete="off"
                                  ng-change="detailsCtrl.onStreetBlur();"
                                  ng-model="checkoutCtrl.detailsData.address.street"
                                  ng-disabled="!checkoutCtrl.detailsData.address.city"
                                  ng-required="detailsCtrl.streetIsRequire"
                                  sp-inline-error/><!--
                        --><label for="house_num_input" class="label second">{{'House No.' | translate}} *</label><!--
                        --><input class="content" id="house_num_input" type="number"
                                  ng-class="{'second': !$root.config.retailer.enableFloorApartment}"
                                  name="houseNum" ng-model="checkoutCtrl.detailsData.address.houseNumber"
                                  ng-keyup="detailsCtrl.setDeliveryTimesAfterInactivity()"
                                  ng-blur="detailsCtrl.setDeliveryTimes();"
                                  ng-disabled="($root.config.retailer.settings.autocompleteAddressField && !checkoutCtrl.hasAddressDetails &&
                                  !checkoutCtrl.detailsData.address.houseNumber) || $root.config.retailer.settings.activeZipProvider.isLockedAddress"
                                  required
                                  sp-inline-error/><!--
                        -->
                        <sp-autocomplete
                                sp-choose="detailsCtrl.onStreetBlur();"
                                sp-model="checkoutCtrl.detailsData.address.street"
                                sp-get-options="detailsCtrl.getStreetAutoCompleteOptions()"
                                sp-require-match="detailsCtrl.streetRequireMatch"
                                ng-disabled="($root.config.retailer.settings.autocompleteAddressField && !checkoutCtrl.hasAddressDetails &&
                                !checkoutCtrl.detailsData.address.street) || $root.config.retailer.settings.activeZipProvider.isLockedAddress"
                                sp-reload-options-on="checkout.city.change">
                        </sp-autocomplete><!--
                        --><label for="entry_input1" class="label third"
                                  ng-if="!$root.config.retailer.enableFloorApartment">{{'Entrance' | translate}}</label><!--
                        --><select id="entry_input1" class="content second" name="entry"
                                   ng-model="checkoutCtrl.detailsData.address.entry"
                                   ng-if="!$root.config.retailer.enableFloorApartment"
                                   ng-options="(entry | translate) as (entry | translate) for entry in detailsCtrl.entries"
                                   ng-disabled="$root.config.retailer.settings.autocompleteAddressField && !checkoutCtrl.hasAddressDetails && !checkoutCtrl.detailsData.address.entry"
                                   ng-change="detailsCtrl.setDeliveryTimes()">
                    </select>
                    </div>
                </div>

                <div class="input-wrapper two-contents"
                     ng-if="$root.config.retailer.enableFloorApartment && checkoutCtrl.detailsData.deliveryMethod.id !== $root.SP_SERVICES.DELIVERY_TYPES.PICKUP"><!--
                        --><label for="entry_input" class="label">{{'Entrance' | translate}}</label><!--
                        --><span class="content"><!--
                            --><select id="entry_input" class="content" name="entrance"
                                       ng-model="checkoutCtrl.detailsData.address.entry"
                                       ng-options="(entry | translate) as (entry | translate) for entry in detailsCtrl.entries"
                                       ng-disabled="$root.config.retailer.settings.autocompleteAddressField && !checkoutCtrl.hasAddressDetails && !checkoutCtrl.detailsData.address.entry"
                                       ng-change="detailsCtrl.setDeliveryTimes()"
                                       sp-inline-error>
                                    <option ng-value=""></option>
                                </select><!--
                         --></span><!--
                         --><span class="content"><!--
                            --><label for="floor_input" class="label second">{{'Floor' | translate}}</label><!--
                            --><input id="floor_input" name="floor" class="content second" type="number" step="1"
                                      ng-disabled="$root.config.retailer.settings.autocompleteAddressField && !checkoutCtrl.hasAddressDetails && !checkoutCtrl.detailsData.address.floor"
                                      ng-model="checkoutCtrl.detailsData.address.floor" sp-inline-error/><!--
                            --><label for="apartment_input" class="label second">{{'Apartment' | translate}}</label><!--
                            --><input id="apartment_input" class="content second" type="text" name="apartment"
                                      ng-disabled="$root.config.retailer.settings.autocompleteAddressField && !checkoutCtrl.hasAddressDetails && !checkoutCtrl.detailsData.address.apartment"
                                      ng-model="checkoutCtrl.detailsData.address.apartment"
                                      sp-inline-error/><!--
                        --></span>
                </div>

                <label class="input-wrapper"
                       ng-if="checkoutCtrl.detailsData.deliveryMethod.id !== $root.SP_SERVICES.DELIVERY_TYPES.PICKUP">
                    <span class="label">{{'More details' | translate | retailerNameReplacement}}</span><!--
                    --><input class="content" id="address_text2_input" name="text2" type="text"
                              ng-model="checkoutCtrl.detailsData.address.text2"
                              placeholder="{{$root.config.retailer.enableFloorApartment ? '' : ((!(detailsCtrl.deliveryAreaMethod === $root.SP_SERVICES.DELIVERY_AREA_METHODS.ZIP_CODE || detailsCtrl.deliveryAreaMethod === $root.SP_SERVICES.DELIVERY_AREA_METHODS.CITY) ? (('Entrance' | translate) + ', ') : '') + ('Apartment, Suite, Building, Floor, etc.' | translate))}}"
                              maxlength="255" sp-inline-error/>
                </label>

                <label ng-class="{'custom-phone-validation': detailsCtrl.customPhoneValidation}"
                       class="input-wrapper label">
                    <span class="label">{{'Mobile' | translate}} *</span>
                    <span class="custom-phone-validation-item"
                          ng-if="detailsCtrl.editPhoneMode && $root.config.retailer.customPhoneValidation.countryCodes && $root.config.retailer.customPhoneValidation.countryCodes.length">
                        <select ng-class="{'has-error': detailsCtrl.phoneNumber != checkoutCtrl.detailsData.mobilePhone.phoneNumber ? !detailsCtrl.validateCountryCode(checkoutCtrl.detailsData.mobilePhone.countryCode) : false}"
                                id="country_code_select" class="content second form-control"
                                name="countryCode"
                                ng-model="checkoutCtrl.detailsData.mobilePhone.countryCode"
                                ng-options="countryCode as countryCode for countryCode in $root.config.retailer.customPhoneValidation.countryCodes">
                        </select>
                    </span>

                    <span class="custom-phone-validation-item"
                          ng-if="detailsCtrl.editPhoneMode && $root.config.retailer.customPhoneValidation.areaCodes && $root.config.retailer.customPhoneValidation.areaCodes.length">
                        <select ng-class="{'has-error': detailsCtrl.phoneNumber != checkoutCtrl.detailsData.mobilePhone.phoneNumber ? !detailsCtrl.validateAreaCode(checkoutCtrl.detailsData.mobilePhone.areaCode) : false}"
                                id="area_code_select" class="content second form-control"
                                name="areaCode"
                                ng-model="checkoutCtrl.detailsData.mobilePhone.areaCode"
                                ng-options="areaCode as areaCode for areaCode in $root.config.retailer.customPhoneValidation.areaCodes">
                        </select>
                    </span><!--
                --><input class="content" id="mobile_input" type="tel" name="phone"
                          ng-model="checkoutCtrl.detailsData.mobilePhone.customPhoneNumber"
                          ng-if="detailsCtrl.editPhoneMode && detailsCtrl.customPhoneValidation"
                          ng-pattern="detailsCtrl.customPhoneRegExp"
                          ng-click="detailsCtrl.phoneEditMode($event, true)"
                          required
                          sp-inline-error/>
                    <input class="content" id="mobile_input" type="tel" name="phone"
                           ng-model="checkoutCtrl.detailsData.mobilePhone.phoneNumber"
                           ng-if="!detailsCtrl.customPhoneValidation"
                           ng-pattern="detailsCtrl.phoneRegExp"
                           ng-click="detailsCtrl.phoneEditMode($event, true)"
                           required
                           sp-inline-error/>
                    <input required sp-inline-error
                           ng-focus="detailsCtrl.phoneEditMode($event, true)"
                           ng-if="!detailsCtrl.editPhoneMode && detailsCtrl.customPhoneValidation"
                           class="content" type="tel" ng-model="checkoutCtrl.compiledPhoneNumber"/>
                    <button type="button" ng-if="detailsCtrl.editPhoneMode && checkoutCtrl.detailsData.mobilePhone.phoneNumber !== undefined"
                            class="custom-phone-validation-cancel-button"
                            ng-click="detailsCtrl.phoneEditMode($event, false)">Cancel
                    </button>
                    <span class="phone-length-message"
                          ng-if="detailsCtrl.editPhoneMode &&
                          $root.config.retailer.customPhoneValidation.phoneNumberRange.min &&
                           $root.config.retailer.customPhoneValidation.phoneNumberRange.max">
                            {{('custom-phone-validation-range' | translate).replace('{min}', $root.config.retailer.customPhoneValidation.phoneNumberRange.min).replace('{max}', $root.config.retailer.customPhoneValidation.phoneNumberRange.max)}}
                        </span>
                    <span class="phone-length-message" ng-if="detailsCtrl.editPhoneMode &&
                           $root.config.retailer.customPhoneValidation.phoneNumberRange.min &&
                           !$root.config.retailer.customPhoneValidation.phoneNumberRange.max">{{('custom-phone-validation-min' | translate).replace('{min}', $root.config.retailer.customPhoneValidation.phoneNumberRange.min)}}</span>
                    <span class="phone-length-message" ng-if="detailsCtrl.editPhoneMode &&
                          !$root.config.retailer.customPhoneValidation.phoneNumberRange.min &&
                           $root.config.retailer.customPhoneValidation.phoneNumberRange.max">{{('custom-phone-validation-max' | translate).replace('{max}', $root.config.retailer.customPhoneValidation.phoneNumberRange.max)}}</span>
                </label>
            </div>
            <ng-include ng-if="detailsCtrl.isEnabledAddressSettings" src="'template/views/checkout/partials/checkout-address/index.html'"></ng-include>

            <div class="input-group delivery-details" role="region" aria-labelledby="delivery_details_title">
                <h2 class="bold delivery-address-title" id="delivery_details_title">
                    {{(checkoutCtrl.detailsData.deliveryMethod.id !== $root.SP_SERVICES.DELIVERY_TYPES.PICKUP ? 'Delivery' : 'Pickup') + ' Details' | translate}}
                </h2>
                <div class="input-wrapper" ng-if="(checkoutCtrl.detailsData.deliveryMethod.id === $root.SP_SERVICES.DELIVERY_TYPES.PICKUP) && !checkoutCtrl.areasOptions.length">
                    <div
                         class="bold store-location-wrapper">
                            {{'The pickup will be picked from' | translate}}
                        <div class="store-location" ng-if="!detailsCtrl.selectedPickupArea.isPickupAddressDisplayed">
                            {{checkoutCtrl.area.branchName}},
                            {{$root.config.branch.location || ''}}
                            {{$root.config.branch.city}}
                        </div>
                        <div class="store-location" ng-if="detailsCtrl.selectedPickupArea.isPickupAddressDisplayed">
                            {{detailsCtrl.selectedPickupArea.name}}
                        </div>
                    </div>
                </div>
                <div class="input-wrapper" ng-class="{'pickup-method':checkoutCtrl.detailsData.deliveryMethod.id === $root.SP_SERVICES.DELIVERY_TYPES.PICKUP}">
                    <div class="change-to-delivery-method" ng-if="detailsCtrl.deliveryMethodOptions.length > 1">
                        <img ng-if="checkoutCtrl.detailsData.deliveryMethod.id !== $root.SP_SERVICES.DELIVERY_TYPES.PICKUP"
                             class="pickup-image"
                                ng-src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/icon-pickup-tab-grey.png" alt="pickupImage"/>
                        <img ng-if="checkoutCtrl.detailsData.deliveryMethod.id === $root.SP_SERVICES.DELIVERY_TYPES.PICKUP"
                             class="delivery-image"
                                ng-src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/icon-delivery-tab-grey.png" alt="deliveryImage"/>
                        <button type="button" class="no-design" ng-click="detailsCtrl.changeToDeliveryMethod()">
                            {{'Change to ' + (checkoutCtrl.detailsData.deliveryMethod.id !== $root.SP_SERVICES.DELIVERY_TYPES.PICKUP ? 'pickup' : 'delivery') | translate}}</button>
                    </div>
                </div>
                <div class="input-wrapper senior-citizen-section"
                     ng-if="$root.config.retailer.isSeniorCitizenActive && checkoutCtrl.detailsData.deliveryMethod.id !== $root.SP_SERVICES.DELIVERY_TYPES.PICKUP">
                    <div class="label"></div><!--
                    -->
                    <div class="content">
                        <button type="button" class="main-indication"
                                ng-click="detailsCtrl.showSeniorCitizen()"
                                ng-if="!detailsCtrl.isSeniorCitizen">
                            {{'I am a senior citizen' | translate}}
                        </button>
                        <span ng-if="detailsCtrl.isSeniorCitizen" class="main-indication">
                            <svg focusable="false">
                                <use xlink:href="#sp-icons-v"></use>
                            </svg>
                            {{'I am a senior citizen' | translate}}
                        </span>
                        <span class="disclaimer">
                            * {{'May grant you priority delivery slots' | translate}}
                        </span>
                    </div>
                </div>
                <div class="input-wrapper" ng-if="checkoutCtrl.timesOptions.length > 1">
                    <div class="label" id="delivery_type_title">{{'Delivery type' | translate}}</div><!--
                    -->
                    <div class="content times-options-wrapper">
                        <sp-radio options="checkoutCtrl.timesOptions" class="switcher"
                                  value-key="option" sp-model="checkoutCtrl.timesOption"
                                  sp-change="detailsCtrl.onTimesOptionChange()"
                                  aria-labelledby="delivery_type_title" role="radiogroup">
                            {{option.label | translate}}
                        </sp-radio>
                    </div>
                </div>
                <div role="region" aria-labelledby="delivery_area_title">
                    <div class="input-wrapper"
                         ng-if="checkoutCtrl.detailsData.deliveryMethod.id === $root.SP_SERVICES.DELIVERY_TYPES.PICKUP">
                        <div class="label"></div>
                        <div class="change-store content bold">
                            <button class="no-design" ng-click="detailsCtrl.changeStore()"
                                    ng-bind="'Change Store' | translate"></button>
                        </div>
                    </div>
                    <div class="input-wrapper" ng-if="checkoutCtrl.areasOptions.length">
                        <div class="label" id="delivery_area_title">
                            {{checkoutCtrl.detailsData.deliveryMethod.id === $root.SP_SERVICES.DELIVERY_TYPES.PICKUP ? 'Pickup Address' : 'Delivery Area' | translate}}
                            *
                        </div><!--
                        -->
                        <div class="content delivery-areas-auto-complete">
                            <input id="delivery_area"
                                   type="text"
                                   ng-model="checkoutCtrl.areaQuery"
                                   autocomplete="off"
                                   name="areaQuery"
                                   sp-inline-error
                                   sp-inline-error-attach-to-parent="div"
                                   ng-change="detailsCtrl.setDeliveryTimesFromAutocomplete()"
                                   required/>
                            <sp-autocomplete
                                    sp-model="checkoutCtrl.areaQuery"
                                    sp-option-model="checkoutCtrl.areaChosenOption"
                                    sp-get-options="checkoutCtrl.areasOptions"
                                    sp-choose="detailsCtrl.setDeliveryTimesFromAutocomplete($event)"
                                    sp-value="option.name"
                                    sp-identifier="option.id"
                                    sp-require-match="true"
                                    sp-show-on-focus="true"
                                    threshold="0">
                            </sp-autocomplete>
                        </div>
                    </div>
                </div>
                <div class="input-wrapper" ng-if="checkoutCtrl.area.deliveryProviderId === $root.SP_SERVICES.DELIVERY_PROVIDERS.MANUAL &&
                                                  checkoutCtrl.area.providerExtraData.showShippingInputAtCheckout">
                    <label class="label"
                           for="shipping_carrier_input">{{:: checkoutCtrl.area.providerExtraData.shippingInputTitle}}</label><!--
                    --><input id="shipping_carrier_input"
                              type="text"
                              ng-model="checkoutCtrl.detailsData.shippingCarrierCode"
                              name="shippingCarrier"
                              class="content"
                              sp-inline-error
                              ng-required=":: checkoutCtrl.area.providerExtraData.isShippingInputRequired"/>
                    <div class="input-description">
                        {{:: checkoutCtrl.area.providerExtraData.shippingInputDescription}}
                    </div>
                </div>
                <div class="input-wrapper" ng-if="checkoutCtrl.timesOption" aria-labelledby="delivery_time_title" role="region">
                    <div class="label" id="delivery_time_title">
                        {{(checkoutCtrl.detailsData.deliveryMethod.id !== $root.SP_SERVICES.DELIVERY_TYPES.PICKUP ? 'Delivery' : 'Pickup') + ' Time' | translate}}
                        <span ng-if="$root.config.retailer.twoHourLaw && checkoutCtrl.detailsData.deliveryMethod.id !== $root.SP_SERVICES.DELIVERY_TYPES.PICKUP"
                              class="meta-text">
                            {{'The waiting period will not exceed two hours' | translate}}
                        </span>
                        <span ng-if="checkoutCtrl.detailsData.delivery.times.asap"
                              class="meta-text asap-selected">
                            <img ng-src="{{'https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/small-v.png'}}"
                                 alt="">
                            {{'Sooner if possible' | translate}}
                        </span>
                        <span ng-if="$root.config.retailer.deliveryCustomerDisplayDays && !checkoutCtrl.isDeliveryWithinDaysOnly"
                              class="meta-text">
                            &#x200E;({{($root.config.retailer.deliveryCustomerDisplayDays) + ' ' + ('available days' | translate)}})
                        </span>
                    </div><!--
                    -->
                    <div class="content"
                         sp-inline-error="{{detailsCtrl.deliveryTimeError}}"
                         role="region"
                         tabindex="0"
                         aria-label="{{('select ' + (checkoutCtrl.detailsData.deliveryMethod.id !== $root.SP_SERVICES.DELIVERY_TYPES.PICKUP ? 'delivery' : 'pickup') + ' time') | translate}}"
                         ng-if="!checkoutCtrl.isDeliveryWithinDaysOnly">
                        <sp-slider-pickers class="full-size"
                                           direction="'horizontal'"
                                           sp-model="checkoutCtrl.detailsData.delivery"
                                           sp-change="detailsCtrl.deliveryTimeError = null;"
                                           picker="checkoutCtrl.timesOption.picker"
                                           items="6"
                                           sp-disable-items="detailsCtrl.checkingAddressInProgress"
                                           sp-disabled-selected="detailsCtrl.disabledTimeChosen()"
                                           sp-on-last-option="detailsCtrl.setDeliveryTimes({scroll: scroll})">
                        </sp-slider-pickers>
                        <div class="business-days-disclaimer"
                             ng-if="checkoutCtrl.timesOption.picker.primaryItem.customData.deliveryTimeTypeId === $root.DELIVERY_TIMES_TYPES.DELIVERY_WITHIN_DAYS">
                            * {{'Business days' | translate}}
                        </div>
                    </div><!--
                    -->
                    <div class="content delivery-within-days-line" ng-if="checkoutCtrl.isDeliveryWithinDaysOnly">
                        <div class="img">
                            <img ng-src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/express-{{::checkoutCtrl.timesOption.picker.primaryItem.customData.deliveryTypeStr}}-grey.png"
                                 alt="{{'express delivery' | translate}}">
                        </div>
                        <div class="delivery-text">
                            <div class="title">
                                {{'Delivery within' | translate}}
                                {{checkoutCtrl.timesOption.picker.primaryItem.dropDown.items[0].daysRange}}
                                {{'Days' | translate}}*
                            </div>
                            <div class="price">
                                <div class="main-row">
                                    {{'Delivery price' | translate}}:
                                    <span ng-if="::checkoutCtrl.timesOption.picker.primaryItem.price">
                                        {{::checkoutCtrl.timesOption.picker.primaryItem.price | currency}}
                                    </span>
                                    <span ng-if="::!checkoutCtrl.timesOption.picker.primaryItem.price">
                                        {{'Free' | translate}}
                                    </span>
                                </div>

                                <div class="specials-wrapper"
                                     ng-if="checkoutCtrl.timesOption.picker.primaryItem.specials.length">
                                    <div class="special-content"
                                         ng-repeat="primarySpecial in checkoutCtrl.timesOption.picker.primaryItem.specials">
                                        <sp-sale-icon product-special="primarySpecial"
                                                      without-actions="true"></sp-sale-icon>
                                        <span class="description">{{primarySpecial.descriptions && primarySpecial.descriptions[$root.config.language.culture] ? primarySpecial.descriptions[$root.config.language.culture] : primarySpecial.description}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="delivery-disclaimer">
                            {{'We will contact you in order to' | translate}}<br/>
                            {{'schedule the delivery hours' | translate}}<br/>
                            <span class="business-days-disclaimer">* {{'Business days' | translate}}</span>
                        </div>
                    </div>
                </div>
                <div role="region" aria-labelledby="allow_substitutions_title">
                    <div class="input-wrapper" ng-if="detailsCtrl.shownSubstitutePreferences.length > 1">
                        <div class="label top" id="allow_substitutions_title">{{'Allow Substitutions' | translate}}?
                        </div><!--
                    -->
                        <div class="content substitute-preferences-wrapper {{'has-' + detailsCtrl.shownSubstitutePreferences.length + '-options'}}">
                            <sp-radio options="detailsCtrl.shownSubstitutePreferences" class="switcher"
                                      value-key="option" sp-model="checkoutCtrl.detailsData.substitutePreferences"
                                      help-text="{{'substitute_preference_' + option + '_description' | translate}}"
                                      role="radiogroup" aria-label="{{'substitute preference options' | translate}}">
                                {{'substitute_preference_' + option + '_label' | translate}}
                            </sp-radio>
                        </div>
                    </div>
                    <div class="input-wrapper"
                         ng-if="$root.config.retailer.isLeaveByTheDoorEnabled && checkoutCtrl.detailsData.deliveryMethod.id === $root.SP_SERVICES.DELIVERY_TYPES.DELIVERY">
                        <div class="label"></div>
                        <sp-checkbox sp-model="checkoutCtrl.detailsData.leaveByTheDoor">
                            {{'Please leave the order outside the door if nobody\'s home' | translate}}
                        </sp-checkbox>
                    </div>
                </div>
                <div class="input-wrapper" ng-if="detailsCtrl.isReceiptOption">
                    <div class="label top">{{'Receipt' | translate}}</div>
                    <div class="content substitute-preferences-wrapper {{'has-' + detailsCtrl.receiptOptions.length + '-options'}}">
                        <sp-radio options="detailsCtrl.receiptOptions" class="switcher"
                                  value-key="option" sp-model="checkoutCtrl.detailsData.receiptOption"
                                  help-text="{{'receipt_option_' + option | translate}}"
                                  role="radiogroup">
                            {{'receipt_option_title_' + option | translate}}
                        </sp-radio>
                    </div>
                </div>
                <div class="input-wrapper comments-row">
                    <label class="label" for="comments_textarea">
                        {{'Anything Else' | translate}}?
                    </label><!--
                    -->
                    <div class="content" id="content" ng-class="{'has-comment':!!checkoutCtrl.detailsData.comments}">
                        <div class="comment-place-holder">
                            <img src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/comment.png" alt=""/>
                            {{'Add comments' | translate}}
                        </div>
                        <textarea id="comments_textarea" ng-model="checkoutCtrl.detailsData.comments"
                                  name="comments"
                                  sp-inline-error
                        ></textarea>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
