$labelWidth: 30%;
$contentWidth: 100% - $labelWidth;

#{$checkoutSelector} > .details {
  width: 50em;

  h1 {
    padding-bottom: 0.5em;
  }

  .change-store {
    position: relative;
    width: fit-content !important;
    display: inline-block;
    white-space: normal;

    &.error {
      color: #d44949;
      font-weight: bold;
    }

    > button {
      text-decoration: underline;
    }
  }

  .server-err-msg.shown {
    display: inline-block;
  }

  .top-title .info-title {
    padding-bottom: 0.4em;
    font-size: 1.1em;
    color: #878787;
  }

  .input-group {

    &.fixed-height {
      min-height: 20.5em;
    }

    > .delivery-address-title {
      padding: 0;
    }

    .pickup-method {
      position: relative;
      top: 2.3em;
    }

    .store-location-wrapper {
      position: relative;
      left: 30%;
      top: 1.5em;

      .store-location {
        font-weight: normal;
        position: relative;
        top: 0.5em;
      }
    }

    .input-wrapper {
      position: relative;
      padding: 0.5em 0;
      display: block;
      white-space: nowrap;

      &.wrap-as-relative {
        position: relative;
      }

      .change-to-delivery-method {
        position: relative;
        display: flex;
        justify-content: flex-end;

        > img {
          margin-right: 0.4em;
          margin-top: 0.1em;
        }

        .delivery-image {
          width: 2.3em;
          height: 1em;
        }

        .pickup-image {
          width: 1.3em;
          margin-bottom: 0.15em;
        }

        > button {
          text-decoration: underline;
        }
      }

      $labelWidth: 30%;

      > .label, .content > .label {
        width: $labelWidth;
        display: inline-block;
        vertical-align: middle;
        color: #8a8a8a;
        white-space: initial;

        &.top {
          vertical-align: top;
          padding-top: 0.6em;
        }

        > .meta-text {
          display: block;
          font-size: 0.75em;
          white-space: normal;
          padding-top: 1em;
        }
      }

      $contentWidth: 100% - $labelWidth;

      > .content {
        width: $contentWidth;
        display: inline-block;
        vertical-align: middle;

        .sp-slider-picker {
          .slider-primary-item > .slider-primary-item-btn {
            position: relative;

            > ng-include {
              font-style: italic;
              font-size: 0.8em;

              > .time {
                color: #1f0000;
                font-weight: 700;
                line-height: 1.3;
              }

              > .delivery-type {
                color: #1f0000;
                font-size: 0.87em;
              }

              > .price {
                color: #1f0000;
                font-weight: bold;
                font-size: 0.87em;
              }

              > img {
                max-height: 1.5em;
                //padding: 0.4em 0.3em 0 0.3em;
              }

              > .tool-tip {
                $width: 15em;

                display: none;
                position: absolute;
                z-index: 1;
                top: 100%;
                left: 50%;
                width: $width;
                margin-left: -($width / 2);
                border: 1px solid;
                margin-top: 1em;
                background-color: #ffffff;
                padding: 0.5em;
                white-space: normal;
                box-sizing: border-box;

                &:before {
                  $size: 1em;

                  content: '';
                  position: absolute;
                  top: -0.6em;
                  left: 50%;
                  margin-left: -($size / 2);
                  border-left: 1px solid;
                  border-top: 1px solid;
                  transform: rotate(45deg);
                  width: $size;
                  height: $size;
                  background-color: #ffffff;
                }
              }
            }

            &:hover > ng-include > .tool-tip {
              display: block;
            }
          }

          .slider-primary-item-btn.selected > ng-include {

            > .time {
              color: #ffffff;
            }

            > .price, .delivery-type {
              color: #ffffff;
            }
          }

          .slider-items > .slider-item {
            > .slider-item-content > ng-include {
              text-align: center;

              > * {
                white-space: normal;
              }

              > .date {
                color: #1f0000;
                font-size: 0.85em;
                padding-bottom: 0.3em;

                &.today {
                  font-weight: bold;
                }
              }

              > .date-name {
                color: #1f0000;
                font-size: 1.2em;
                text-transform: uppercase;
                line-height: 1.4em;
              }

              .selected-time {
                direction: ltr;
                display: none;
                color: #ffffff;
                font-size: 0.65em;

                > div {
                  line-height: 100%;
                }
              }

              .shipping-day {
                font-size: 0.8em;
              }
            }

            &:not(.disabled) {
              &.selected > .slider-item-content > ng-include {

                > .date, > .date.today, > .date-name {
                  color: #ffffff;
                }

                .selected-time {
                  display: block;
                }

                .time {
                  line-height: 1.4;
                  display: block;
                }
              }
            }

            &.focus {
              outline-offset: -0.2em;
            }
          }
        }

        .business-days-disclaimer {
          font-size: 0.9em;
          text-align: right;
          padding: 0.3em 0.3em 0 0.3em;
        }

        &.delivery-areas-auto-complete > .auto-complete {
          z-index: 100;
        }

        sp-dropdown .sp-dropdown-options-wrapper {
          @include border-radius(0 0 5px 5px);

          .sp-option {
            line-height: 1.5em;
          }
        }

        &.delivery-method-wrapper, &.substitute-preferences-wrapper {
          .sp-radio-buttons {
            @include box-sizing(border-box);
            width: 100%;

            > label {
              @include box-sizing(border-box);

              .label {
                > * {
                  display: inline-block;
                  vertical-align: middle;
                }

                img {
                  padding: 0 0.3em;
                }
              }
            }
          }
        }

        &.delivery-method-wrapper .sp-radio-buttons > label {
          height: 3em;
          width: 50%;
        }

        &.substitute-preferences-wrapper {
          height: 6.5em;

          .sp-radio-buttons {
            display: inline-flex;
          }

          .sp-radio-buttons > label.sp-radio-option {
            display: inline-flex;
            justify-content: center;
            align-items: center;

            .label {
              white-space: pre-line;
            }
          }

          .sp-radio-buttons > label {
            width: 25%;
          }

          &.has-3-options .sp-radio-buttons > label {
            width: 33.3333%;
          }

          &.has-2-options .sp-radio-buttons > label {
            width: 50%;
          }

          &.has-5-options .sp-radio-buttons > label {
            width: 20%;
          }

          &.has-6-options .sp-radio-buttons > label {
            width: 16.6666667%;
          }
        }

        &.delivery-within-days-line {
          height: 5.625em;
          display: inline-flex;
          flex-direction: row;
          align-items: center;
          justify-content: start;

          .img {
            padding: 0 1em;

            img {
              width: 3.2em;
              display: block;
            }
          }

          .delivery-text {
            padding-right: 2em;

            .title {
              font-size: 1.125em;
              font-weight: bold;
              color: #76bfa3;
              padding-bottom: 0.3em;
            }

            .price {
              font-size: 0.875em;
              color: #000;

              .main-row {
                display: block;
              }

              .specials-wrapper {
                display: block;
                padding-top: 0.5em;

                .special-content {
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  justify-content: start;
                  color: #000;
                  font-weight: 400;
                  background-color: #fff;

                  .sp-sale-icon {
                    flex: 0 0 auto;
                    position: relative;
                    left: auto;
                    right: auto;
                    top: auto;
                    bottom: auto;
                    width: 1.5em;
                    height: 1.5em;

                    img {
                      width: 100%;
                      height: 100%;
                    }
                  }

                  .description {
                    flex: 1 1 auto;
                    white-space: normal;
                    padding: 0 0.3em 0.3em 0.3em;

                    &:last-child {
                      padding-bottom: 0;
                    }
                  }
                }
              }
            }
          }

          .delivery-disclaimer {
            font-size: 0.875em;
            color: #78797a;
            padding: 0.3em 1em;
            border-left: 1px solid #d2d2d3;
            line-height: 1.2;

            .business-days-disclaimer {
              display: inline-block;
              padding-left: 0;
              padding-right: 0;
            }
          }
        }
      }

      > div.input-description {
        margin-left: $labelWidth;
        width: $contentWidth;
      }

      &.two-contents {
        $twoContentsWidth: ($contentWidth - ($contentWidth * 0.25)) / 2;

        > .content {
          width: $twoContentsWidth;
        }

        > span.content {
          .label.second {
            width: 46%;
          }

          .content.second {
            width: 27.33%;
          }
        }

        select.content {
          background-color: white;
          padding: 0.6em;
          height: 2.95em;
        }

        > .content.err-input-wrapper {
          &.first, &:first-child {
            .err-msg {
              left: 245%;
            }
          }
        }

        $remainingWidth: $contentWidth - $twoContentsWidth;

        .label.second, .label.third {
          box-sizing: border-box;
          padding: 0 0.8125em;
        }

        .label.second {
          width: $remainingWidth * 0.4;
        }

        .label.second.zipcode {
          width: $remainingWidth * 0.3;
        }

        .label.third {
          width: $remainingWidth * 0.28;
        }

        .content.second {
          width: $remainingWidth * 0.3066;
        }

        .content {
          width: $remainingWidth * 0.65;
        }

        &.for-zipcode {
          .content.second, .content.third {
            width: $remainingWidth * 0.175;
          }

          .label.third, .label.second {
            width: $remainingWidth * 0.3;
          }
        }

        &.auto-complete-wrapper {
          > .auto-complete {
            width: ($contentWidth - ($contentWidth * 0.3)) / 2;
            left: 30%;
            top: 85%;
            border: 1px solid #adadad;
            z-index: 2;
          }
        }
      }

      &.comments-row > .content {
        position: relative;

        textarea {
          font-size: 1em;
          height: 3.5em;
          resize: none;
          background-color: transparent;
        }

        .comment-place-holder {
          position: absolute;
          top: 0.5em;
          left: 2%;
          color: #adadad;
          font-style: italic;
          font-size: 1em;
          z-index: -1;

          > img {
            display: inline-block;
            vertical-align: middle;
            padding: 0 0.2em;
          }
        }

        &.has-comment .comment-place-holder {
          display: none;
        }
      }

      &.auto-complete-wrapper {
        .auto-complete {
          top: 90%;
          width: $contentWidth;
          left: 30%;
        }
      }

      &.senior-citizen-section > .content {
        > .main-indication {
          display: inline-block;
          vertical-align: middle;
          background: #fff;
          border: 1px solid #a5a5a6;
          box-sizing: border-box;
          border-radius: 5px;
          padding: 0.4em 2em;
          font-size: 1em;
          line-height: 1;
        }

        > button.main-indication {
          color: #000;
        }

        > span.main-indication {
          color: #289d5d;

          svg {
            width: 1em;
            height: 0.75em;
            fill: #67ac5b;
          }
        }

        .disclaimer {
          color: #9f9f9f;
          font-size: 0.875em;
          display: inline-block;
          vertical-align: middle;
          padding: 0 1em;
        }
      }

      &.side-button {
        display: flex;
        align-items: center;

        > .container {
          flex: 1;
          display: flex;

          .content {
            margin-right: 5px;
          }
        }
      }

      &.d-flex {
        display: flex;
        align-items: center;
      }
    }
  }

  .address-form-settings-wrapper {

    .address-form-settings{
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 1rem;

      .cancel-drop-pin-button-wrapper {
        display: flex; 
        gap: 2rem;
        align-items: center;
        
        .cancel-droppin-button {
          border: 1px solid;
          border-radius: 5px;
          padding: 3px;
        }
      }
    }

    .error {
      color: #d44949;
      font-weight: bold;
    }

    .form-control-error {
      border: 1px solid red !important;
    }

    .input-wrapper{
      display: flex;
      align-items: center;
      width: 100%;
      position: relative;

      .valid-input-icon {
        color: green;
        font-size: 1.4em;
        position: relative;
        left: -3%;
        visibility: hidden;
      }

      .is-valid-zipcode{
        visibility: visible;
      }
    }

    .auto-complete-wrapper {
      .auto-complete {
        top: 90%;
        width: $contentWidth;
        left: 30%;
      }
    }

    .d-flex{
      display: flex;
    }

    .w-full{
      width: 100%;
    }

    .btn-edit-address {
      top: 20%;
      right: 2%;
    }

    .btn-edit-address__tooltip {
      width: fit-content;
    }


    .input-with-edit-icon {
      padding-right: 2.2rem;
    }

    $positions: relative;
    @each $position in $positions {
      .#{$position} {
        position: $position;
      }
    }

    $aligns: center, left, unset;
    @each $align in $aligns {
      .text-#{$align} {
        text-align: $align;
      }
    }

    $flex-percents: 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 44, 46, 54, 70, 72, 73, 80;
    @each $percent in $flex-percents {
      .flex-#{$percent} {
        flex: $percent;
      }
    }

    $gaps: 2, 4;
    @each $gap in $gaps {
      .gap-#{$gap} {
        gap: ($gap / 4) * 1rem;
      }
    }
  }
}

#{$checkoutRtlSelector} > .details .input-group .input-wrapper {
  > div.input-description {
    margin-left: 0;
    margin-right: $labelWidth;
  }

  > .store-location-wrapper {
    margin-right: 60%;
  }

  > .change-to-delivery-method {
    > img {
      margin-left: 0.3em;
    }
  }

  > .content {
    .business-days-disclaimer {
      text-align: left;
    }

    &.delivery-within-days-line {
      .delivery-text {
        padding-right: 0;
        padding-left: 2em;
      }

      .delivery-disclaimer {
        border-left-width: 0;
        border-right: 1px solid #d2d2d3;
      }
    }
  }
}

.rtl {
  .side-button {
    > .container {
      .content {
        margin-right: 0 !important;
        margin-left: 5px;
      }
    }
  }
  .valid-input-icon {
    left: 3% !important;
  }
}

.form-control-error {
  border: 1px solid red !important;
}

.city-input-wrapper .auto-complete {
  width: fit-content !important;
}

#address_text_input + .auto-complete {
  white-space: initial;
}

#text1 + .auto-complete {
  white-space: initial;
}

.btn-edit-address {
  position: absolute;
  right: 1%;
  top: 50%;
  width: fit-content;
  cursor: pointer;

  &__tooltip {
    position: absolute;
    top: 120%;
    left: -6%;
    z-index: 99;
    transform: translateX(-50%);
    display: block;
    padding: 10px 12px;
    width: 120px;
    border-radius: 6px;
    font-size: 14px;
    color: #fff;
    text-align: center;
    background-color: #282828;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s;

    &::after {
      content: '';
      position: absolute;
      top: -18px;
      left: 50%;
      margin-left: -5px;
      border-width: 10px;
      border-style: solid;
      border-color: transparent transparent #282828 transparent;
    }
  }

  &:hover &__tooltip {
      visibility: visible;
      opacity: 1;
  }
}

.gg-map-confirmation-text {
  position: relative;
  left: 30%;
  display: block;
  height: 24px;
  font-size: 14px;
}

.rtl {
  #mobile_input {
    text-align: right;
  }
  .btn-edit-address {
    right: unset;
    left: 1%;
  }

  .address-form-settings-wrapper{
    .btn-edit-address {
      right: unset !important;
      left: 2%;
    }

    .input-with-edit-icon {
      padding-right: 0.5rem !important;
      padding-left: 2.4rem;
    }
  }

  .gg-map-confirmation-text {
    right: 30%;
  }
}