#{$checkoutThemeSelector} > .details {
  .input-group .input-wrapper > .content .sp-slider-picker {
    .slider-items > .slider-item > .slider-item-content > ng-include > .date.today {
      font-family: $defaultFontFamily;
      color: $mainColor;
    }

    .slider-primary-item > .slider-primary-item-btn > ng-include > .tool-tip {
      border-color: $mainColor;

      &:before {
        border-color: $mainColor;
      }
    }
  }

  .address-form-settings-wrapper {
    .address-form-settings{
      .input-wrapper{
        color: #8a8a8a;
      }
      
      input{
        color: black;
      }
    }

    .auto-complete {
      z-index: 91;
      max-height: 10em;
      overflow: auto;
    }

    .cancel-drop-pin-button-wrapper {
      color: $mainColor;
    }
  }

  .delivery-details .input-wrapper > .label > .asap-selected {
    color: $mainColor;
    > img {
      background-color: $mainColor;
    }
  }
}