<div itemprop="offers" itemtype="https://schema.org/Offer" itemscope class="sp-product-price">
    <span ng-if="showDisclaimerOnCartPages && product && product.branch && product.branch.linkedProductPrice" id="{{'bottle_disclaimer_' + product.id}}" class="bottle-deposit-disclaimer">
        <img className="bottle-deposit-disclaimer-img" style="width:20px; height:20px" ng-src="{{'https://d226b0iufwcjmj.cloudfront.net/global/mobile/images/icons/info-icon.png'}}"/>
        <span class="bottle-deposit-disclaimer-content">
            <span class="text">{{disclaimerOnCartPages[$root.config.language.id] || ('Price includes bottle deposit' | translate)}}</span>
            <span class="arrow"></span>
        </span>
    </span>
    <span class="sale-price"
          ng-if="(salePrice || salePrice === 0) && regularPrice != salePrice && type !== $root.SP_SERVICES.CART_LINE_TYPES.COUPON">
        <span class="sr-only-element">{{'Sale price' | translate}}</span>
        {{packQuantity && salePrice ?
        (((packQuantity ? (packQuantity + ' ' + ('forPackQuantity' | translate) + ' ' ) : '')
         + (salePrice * ((packQuantity ? packQuantity : 1) | roundCurrency) | currency)
         + ((!salePrice || regularPrice == salePrice) && showWeightUnit ? ' / ' + (unitOfMeasure | name) : '')))
        :
        ((salePrice | currency) + (showWeightUnit ? ' / ' + (unitOfMeasure | name) : ''))
        }}
        <span class="sr-only-element">{{'instead' | translate}}</span>
    </span>
    <meta
        itemprop="price"
        ng-if="(salePrice || salePrice === 0) && regularPrice != salePrice && type !== $root.SP_SERVICES.CART_LINE_TYPES.COUPON"
        content="{{(packQuantity && salePrice ? salePrice * (packQuantity ? packQuantity : 1) : salePrice) | roundCurrency}}"
    />

    <span  class="{{((salePrice || salePrice === 0) && regularPrice != salePrice ? 'regular-' : '') + 'price'}}"
           ng-class="{'sale-price': type === $root.SP_SERVICES.CART_LINE_TYPES.COUPON}"
           ng-hide="type === $root.SP_SERVICES.CART_LINE_TYPES.COUPON && !salePrice">
                <span class="sr-only-element" ng-if="(salePrice || salePrice === 0) && regularPrice != salePrice">{{'Regular price' | translate}}</span>
        {{

        ((packQuantity ? (packQuantity + ' ' + ('forPackQuantity' | translate) + ' ' ) : '')
         + ( packQuantity && packPrice ? (packPrice | currency) : (regularPrice * ((packQuantity ? packQuantity : 1) | roundCurrency) | currency))
         + ((!salePrice || regularPrice == salePrice) && showWeightUnit ? ' / ' + (unitOfMeasure | name) : ''))
        }}
    </span>

    <meta
        itemprop="{{((salePrice || salePrice === 0) && regularPrice != salePrice ? '' : 'price')}} "
        ng-hide="type === $root.SP_SERVICES.CART_LINE_TYPES.COUPON && !salePrice"
        content="{{((regularPrice * (packQuantity ? packQuantity : 1)) | roundCurrency)}}"
    />

    <span class="normalize-price" ng-if="isFlexibleUnitNormalization && !!product.unitOfNormalization && type !== $root.SP_SERVICES.CART_LINE_TYPES.DELIVERY">
        {{product.unitPrice | spDynamicUnitsPrice: product.unitOfNormalization}}
    </span>

    <span class="normalize-price" ng-if="$root.config.retailer.shouldNormalizePrice && !hideNormalizePrice && !showWeightUnit && product && product.weight && !product.isWeighable &&
    (!isFlexibleUnitNormalization || isFlexibleUnitNormalization && !product.unitOfNormalization)">
        {{((salePrice && regularPrice != salePrice) ? salePrice : priceToNormalize) | spUnitsPrice:
            ((product.numberOfItems || 1) * product.weight * (product.isCaseMode && product.branch.case.items || 1)):
            (unitOfMeasure | name):
            ($root.config.language.culture):
            $root.config.retailer.settings.displayedPriceMeasureNormalizer:
            $root.config.retailer.settings.measureMetersForLengthUnit}}
    </span>
    <meta itemprop="priceCurrency" content="{{$root.ANALYTICS_CURRENCY[$root.config.retailer.currencySymbol]}}" />
</div>
