div.sp-product-price {
  > *:not(meta):not(.normalize-price) {
    font-weight: 700;
    display: inline-block;
    direction: ltr;
  }

  .new-promotion & {
    > .sale-price {
      color: #e15856;
    }
  }

  > .price, > .normalize-price {
    color: #606060;
  }

  > .regular-price {
    color: #adadad;
    text-decoration: line-through;
  }

  > .normalize-price {
    display: block;
    font-size: 0.75em;
    font-weight: 400;
    margin-top: 0.4em;
  }
}

.product-bottle-deposit-disclaimer {
  font-size: 14px;
}

.bottle-deposit-disclaimer {
  font-weight: normal;
  display: flex!important;
  align-items: center;
  justify-content: flex-end;
  position: relative;

    &:hover {
       .bottle-deposit-disclaimer-content {
        display: flex;
      }
    }

  &-content {
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    justify-content: flex-end;
    width: 100%;
    right: 1em;
    z-index: 100;
    min-width: 220px;
    margin-right: 10px;
    display: none;

    .arrow {
      width: 0;
      height: 0;
      border-top: 5px solid transparent;
      border-bottom: 5px solid transparent;
      border-left: 5px solid rgba(40, 40, 40, 0.76);
      display: block;
    }

    .text {
      background-color:  rgba(40, 40, 40, 0.76);
      padding: 12px;
      white-space: break-spaces;
      border-radius: 2px;
      font-size: 14px;
      color: white;
    }
  }
}

.rtl {
  div.sp-product-price {
    //don't do this to sale price because it switches out the "-" for coupons
    > .price {
      direction: ltr;
    }

    .bottle-deposit-disclaimer {
      justify-content: flex-start;

      &-content {
        left: 30px;
        right: unset;
        flex-direction: row-reverse;

        .arrow {

          border-right: 5px solid rgba(40, 40, 40, 0.76);
          border-left: unset;
        }
      }
    }

  }
}
