<div class="product-item item product" ng-repeat="item in chunk">
    <sp-product product="item" tabindex="0" class="clickable" size="medium" ng-click="functions.openProduct(item)"
        aria-labelledby="{{'product_' + item.id + '_name'}}">
    </sp-product>
</div>