<div class="user-edit" refresher="$root.config.language.id" role="region" aria-label="{{'navigation' | translate}}">
    <div class="account-options">
        <a class="continue-shopping-button" ui-sref="app.home">
            <svg focusable="false">
                <use xlink:href="#sp-icons-arrow-left"></use>
            </svg>
            <span>{{'Continue Shopping' | translate}}</span>
        </a>
        <div class="options-wrapper">
            <a class="option-btn clickable" ng-repeat="tab in userEditCtrl.tabs"
                ui-sref-active="selected"
               ui-sref="{{tab.state === 'myCoupons' ? ('app.myCoupons({fromAccount: true})') : ('app.userEdit.' + tab.state + (tab.stateParams ? ('(' + tab.stateParams + ')') : ''))}}"
               aria-current="{{!!userEditCtrl.$state.current.name.includes(tab.state) ? 'page' : ''}}" ng-click="userEditCtrl.switchTab()">
                <span class="" ng-bind="::tab.title | translate"></span>
            </a>
        </div>
        <div class="accumulation-redemption-history-btn" ng-style="{'background': userEditCtrl.retailerAccumulation.content.btnBgColor, 'color': userEditCtrl.retailerAccumulation.content.btnTextColor}"
            ng-click="userEditCtrl.openAccumulationRedemptionDialog()" ng-if="userEditCtrl.currentState.name === 'app.userEdit.premiumLoyaltyClub' && userEditCtrl.retailerAccumulation.isActive">
            <img src="{{userEditCtrl.retailerLoyaltyClubBanner.accumulationAndRedemptionBtnIcon || 'https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/points-accumulation/accumulate_btn_icon.png'}}" alt="">
            {{userEditCtrl.retailerAccumulation.content.btnText[$root.config.language.culture] || userEditCtrl.accumulationDefaultText.btnText[$root.config.language.culture]}}
        </div>
    </div>

    <ui-view name="tab" role="tabpanel" aria-label="{{'main display' | translate}}" class="{{userEditCtrl.$state.current.views.tab.controller}}"></ui-view>
</div>