$formInputTitleWidth: 22%;
$formInputWidth: 67%;
$saveButtonMarginRight: 7.5%;


.user-edit {
  .input-gender-wrapper {
    display: flex;
    gap: 20px;
  }
  
  .gender-buttons {
    display: flex;
    flex-direction: column;
  }

  .account-options {
    width: 14.438em;
    margin: 0 2em;
    font-size: 0.875em;
    overflow: hidden;
    color: #606060;
    display: inline-block;
    vertical-align: top;
    position: sticky;
    top: 12em;

    .continue-shopping-button {
      width: 100%;
      display: block;
      padding: 1em 0;
      text-align: center;
      color: #ffffff;
      margin-bottom: 0.5em;
      border-radius: 5px;

      > * {
        display: inline-block;
        vertical-align: middle;
      }

      svg {
        height: 1em;
        width: 1em;
        fill: #ffffff;
      }
    }

    .options-wrapper {
      border: 1px solid #adadad;
      @include border-radius(5px);

      .option-btn {
        display: block;
        border-bottom: 1px solid #adadad;;
        width: 100%;
        height: 3.875em;
        line-height: 3.875em;
        padding: 0 1em;
        box-sizing: border-box;
        white-space: nowrap;
        overflow: hidden;

        &.selected {
          color: #ffffff;
        }
      }
    }

    .accumulation-redemption-history-btn{
      color: #fff;
      font-weight: bold;
      box-shadow: -1.478883981704712px 1.478883981704712px 5.915535926818848px 0px rgba(0, 0, 0, 0.29);
      padding: 10px;
      display: flex;
      align-items: center;
      margin-top: 30px;
      gap: 4px;
      border-radius: 5px;
      cursor: pointer;
      &>img{
        width: 40px;
      }
    }
  }

  ui-view {
    display: inline-block;
    width: 70%;
    color: #606060;
    padding-left: 1.3em;

    &.PremiumLoyaltyClubCtrl,&.ContactUsCtrl {
      width: calc(100% - 18.5em);
      box-sizing: border-box;
      padding: 0;
    }
  }

  .detail-title {
    padding-top: 0;
    color: #353b37;
    font-size: 1.5em;
    font-weight: 700;
  }

  .detail-subtitle {
    font-size: 0.875em;
    font-weight: 400;
    padding-bottom: 1em;
  }

  .detail-message {
    margin-bottom: 20px;
    margin-top: 5px;
    color: #606060 !important;
  }

  .account-detail-title {
    font-weight: 400;
    font-size: 1.205em;
    padding: 0 0 1em 0;
    margin: 0;
  }

  .message-wrapper {
    display: block;
    margin-top:30px;
  }

  .coupon-points-info {
    height: 34px;
    float: right;
    display: flex;
    grid-column-gap: 0.5em;
    align-items: center;
    margin-right: 2em;
    font-size: 16px;

    > .coupon-points {
      display: flex;
      align-items: center;

      > svg,
      > img {
        width: 1.5em;
        height: 1.5em;
      }
    }
  }

  .account-info {
    .form.user-edit-form .user-details {
      display: block;
      color: #606060;

      .account-detail-title {
        padding-top: 0;
        color: #353b37;
        font-size: 1.5em;
        font-weight: 700;
      }

      .input-group {
        font-size: 0.875em;
        width: 49.5%;
        @include box-sizing(border-box);
        padding-bottom: 1em;

        .input-wrapper {
          input:disabled {
            background: #ebebeb;
          }
          input, textarea {
            width: $formInputWidth;
          }

          .input-desc {
            display: inline-block;
            width: $formInputTitleWidth;

            &.comments {
              vertical-align: top;
            }
          }

          div {
            input, select {
              width: $formInputWidth / 4;
              background-color: white;
            }
            .input-desc.second {
              margin-left: 4em;
            }
          }

          .err-input-wrapper {
            width: $formInputWidth;
            display: inline-block;

            input {
              width: 100%;
            }
          }

          label input {
            width: inherit;
          }

          &.phone-wrapper {
            > .phone-type {
              width: $formInputTitleWidth;
              @include box-sizing(border-box);
              line-height: 2.5em;
            }

            > .phone-number {
              width: 50%;

              input[type="tel"] {
                width: 100%;
              }
            }
          }
        }

        &.second {
          .input-wrapper {
            .input-desc, &.phone-wrapper > .phone-type {
              padding-left: 100% - $formInputWidth - $formInputTitleWidth - ($saveButtonMarginRight * 2.02);
            }
          }
        }

        .auto-complete-wrapper > .auto-complete {
          left: $formInputTitleWidth;
          width: $formInputWidth;
          top: 100%;
        }
      }
    }

    .gender-buttons .sp-radio-buttons {
      padding-left: 0;
      padding-right: 0;

      .sp-radio-option {
        padding-left: 0;
        padding-right: 1em;

        &:before {
          margin-left: 0;
          margin-right: 0.5em;
        }
      }
    }

    .save-button {
      padding-right: 0.875em;
      margin-right: 1% + $saveButtonMarginRight;
    }

    .submit {
      width: inherit;
      padding: 0.5em 2em;
    }
  }

  .account-info-wrapper {
    display: flex;
    flex-direction: row;
  }

  .address-form-field-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
    .title-wrapper {
      display: flex;
      justify-content: space-between;
    }

    .zip-code-input-wrapper {
      display: flex;
      align-items: center;
      position: relative;
    }

    .valid-input-icon {
      color: green;
      font-size: 1.4em;
      position: absolute;
      right: 2%;
    }
  
    .input-flex-wrapper {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 1.5rem;
      align-items: baseline;
      justify-content: space-between;
    }
  
    .input-flex-item {
      width: 47%;
      position: relative;
    }

    .cancel-drop-pin-wrapper {
      display: flex;
      flex-direction: column;
      font-size: 0.8rem;
      gap: 1rem;
    }

    .cancel-drop-pin-button-wrapper {
      display: flex;
      align-items: center;
      gap: 2rem;
      font-size: 1rem;
  
      .cancel-droppin-button {
        border: 1px solid;
        padding: 2px;
        border-radius: 5px;
        font-size: 1em;
      }
    }

    .btn-edit-address {
      top: 40%;
    }

    .input-disable {
      pointer-events: none;
      opacity: 0.5;
    }

    .auto-complete {
      z-index: 91;
      max-height: 10em;
      overflow: auto;
    }

    .btn-edit-address__tooltip {
      width: fit-content;
    }

    .w-full{
      width: 100%;
    }

    .input-with-edit-icon {
      padding-right: 2.2rem;
    }

    .right-side {
      box-sizing: border-box;
      padding-left: 2rem;
    }

    .promotion-checkbox-wrapper {
      display: flex;
      flex-direction: column;

      .checkbox-label-hidden {
        visibility: hidden;
      }
    }

    $widths: 30, 35, 70;
    @each $width in $widths {
      .w-#{$width} {
        width: $width * 1%;
      }
    }
  }
  
  .personal-details-form {
    padding: 0 0 2rem 0;
  }
  
  .address-form {
    padding: 2rem 0;
  }

  .sp-radio-buttons > label.sp-radio-option {
    display: block;

    &:before {
      margin: 0 0.5em;
    }

    .label {
      display: inline-block;
      vertical-align: middle;
    }
  }

  .credit-card-details {
    border-bottom: 1px solid rgba(173, 173, 173, 0.4);
    padding-bottom: 1.5em;

    .cards-list {
      font-size: 1.051em;
      font-weight: 400;
      padding-bottom: 1em;

      .card-hidden-no-wrapper {
        display: flex;
        gap: 10px;
        direction: ltr;
      }

      .card-hidden-no {
        direction: ltr;
      }
    }
  }

  .add-card-btn-wrapper {
    font-size: 0.875em;
    font-weight: 400;

    .add-btn {
      border: 2px solid;
      //margin: 0 1.1em;
    }

    .remove-card-btn {
      border: 2px solid;
      padding: 7px;
      @include border-radius(5px);
    }
  }

  .link-back {
    color: blue;
  }

  button:disabled {
    opacity: 0.2;
  }

  .single-ticket {
    padding: 1em;
    border: 1px solid #cacaca;
    margin: 1.5em 0;
    overflow: hidden;
    display: block;
    @include border-radius(5px);

    > .basic {
      cursor: pointer;

      .toggle-ticket {
        height: 0.7em;
        width: 1.5em;
        margin-top: 0.5em;
      }

      .ticket-name {
        font-size: 1em;
        font-weight: 600;
        padding-bottom: 0.9em;
        max-width: 90%;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      .ticket-details {
        font-size: 0.9em;
      }
    }

    > .extra {
      height: 0;
      white-space: nowrap;
      @include transition(height 0.4s);
      overflow: hidden;

      > * {
        vertical-align: top;
      }
    }

    &.open-ticket {

      > .extra {
        height: 15em;
        overflow-y: auto;
        overflow-x: hidden;

        .user-comment {
          padding: 1.7em 0;
          width: 90%;
          height: 3em;

          > * {
            display: inline-block;
            vertical-align: top;
            @include box-sizing(border-box);
            padding-left: 0.2em;

            > * {
              width: 100%;
            }
          }

          > .comment-wrapper {
            padding-left: 0.2em;
            width: 60%;
          }

          > .add-button-wrppaer {
            width: 15%;
            height: 100%;

            > * {
              display: inline-block;
              vertical-align: middle;
            }
          }

          > .attachment {
            width: 25%;

            .title {
              white-space: normal;
              padding: 0.7em;
              font-size: 0.8em;
              color: #B9B9B6;
              overflow-wrap: break-word;
            }

            > .sp-file-input {
              border: 1px solid #adadad;
              height: 3.2em;
              width: 100%;
              @include border-radius(5px);
            }
          }
        }

        table {
          width: 90%;
          .ticket-comment {
            white-space: normal;
            line-height: 1.2;
            margin: 0;
          }
        }

        thead {
          background-color: rgba(128, 128, 128, 0.19);
        }
      }
    }

    &.only-one {
      border-width: 0;
      padding: 0;

      > .basic {
        cursor: auto;

        .toggle-ticket {
          display: none;
        }
      }

      > .extra {
        height: auto;
        overflow: hidden;
      }
    }
  }

  .auto-complete-scroll {
    max-height: 280px;
    overflow-y: scroll;
  }
}

.rtl {
  .user-edit .single-ticket.open-ticket > .extra .user-comment > .attachment .title {
    margin-right: -1.2em;
  }

  .user-edit {
    .account-options .continue-shopping-button > svg {
      transform: scaleX(-1);
    }

    .coupon-points-info {
      float: left;
      margin-left: 2em;
      margin-right: 0;
    }

    .account-info {
      .form.user-edit-form .user-details {
        .input-group {
          &.second {
            .input-wrapper {
              .input-desc, &.phone-wrapper > .phone-type {
                padding-left: 0;
                padding-right: 100% - $formInputWidth - $formInputTitleWidth - ($saveButtonMarginRight * 2.02);
              }
            }
          }
          div {
            .input-desc.second {
              margin-right: 6.8em;
              margin-left: 0;
              width: 15%;
            }
          }
        }
      }

      .gender-buttons .sp-radio-buttons .sp-radio-option {
        padding-right: 0;
        padding-left: 1em;

        &:before {
          margin-left: 0.5em;
          margin-right: 0;
        }
      }

      .save-button {
        padding-right: 0;
        padding-left: 0.875em;
        margin-right: 0;
        margin-left: 1%;
      }
    }

    .address-form-field-wrapper {
      .btn-edit-address, .valid-input-icon {
        right: unset;
        left: 2%;
      }

      .input-with-edit-icon {
        padding-right: 0.5rem !important;
        padding-left: 2.2rem;
      }
    }
  }
}

@media screen and (max-height: 1080px) {
  .user-edit .account-info .form.user-edit-form .user-details {
    .input-group {
      padding-bottom: 1.3em;
    }

    .account-detail-title {
      padding-bottom: 0.5em;
    }
  }
}
