html.user-edit {
  .account-options .continue-shopping-button {
    background-color: $secondaryColor;
  }

  .selected {
    background-color: $mainColor;
  }

  .add-card-btn-wrapper {
    .no-design {
      border-color: $mainColor;
      color: $mainColor;
    }

    .add-btn {
      border-color: $mainColor;
    }
  }

  .detail-title {
    font-family: $defaultFontFamily;
  }

  .accumulation-redemption-history-btn{
    background: $mainColor;
  }

  .address-form-field-wrapper {
    .cancel-drop-pin-button-wrapper {
      color: $mainColor;
    }
  }
}