<div class="single-order-page-wrapper">
    <div class="navigation-bar">
        <div class="title">
            <h1 id="page_title">{{'Order number' | translate}}: {{order.id}}</h1>
        </div>

        <div class="actions">
            <span>
                {{'Actions on marked items' | translate}}
                -
                {{singleOrderItemCtrl.checkedItemsLength || 0}}/{{order.lines.length}}
            </span>
            <button ng-click="singleOrderItemCtrl.addToCart();" ng-bind="('add to cart' | translate).replace('{cart}', $root.config.retailer.settings.setCartNameToBasket ? $root.config.retailer.settings.setCartNameToBasket : 'cart')" class="add-to-cart-btn"></button>
            <button ng-click="singleOrderItemCtrl.createNewCart();" ng-bind="('create new cart' | translate).replace('{cart}', $root.config.retailer.settings.setCartNameToBasket ? $root.config.retailer.settings.setCartNameToBasket : 'cart')"></button>
        </div>
    </div>

    <sp-table class="{{'single-order-table' + ($root.config.retailer.settings.isNewPromotionDesignEnabled === 'true' ? ' new-promotion' : '')}}"
              items="order.lines"
              actions="singleOrderItemCtrl.actions"
              on-select="singleOrderItemCtrl.checkedItemsLength = selectedCount;"
              selected-change-event="singleOrder.lines.checkedChanged">
        <sp-table-column title="{{'Image' | translate}}">
            <div class="image-wrapper general-image-wrapper">
                <img ng-src="{{item.product | productImage:'small'}}" alt="{{item.product | productName:item.isCase}}" ng-class="{'disabled': item.isProductOutOfStock}"/>
                <span ng-if="!item.product._suggestions && (item.isProductOutOfStock || item.isNeedToShowOutOfStockLabel)" class="out-of-stock">{{'Out of stock' | translate}}</span>
                <span class="out-of-stock suggestions text-1" ng-if="item.product._suggestions && (item.isProductOutOfStock || item.isNeedToShowOutOfStockLabel)" ng-click="openSuggestions(item)">{{'Out of Stock' | translate}}</span>
                <span class="out-of-stock suggestions text-2" ng-if="item.product._suggestions && (item.isProductOutOfStock || item.isNeedToShowOutOfStockLabel)" ng-click="openSuggestions(item)">
                <span><svg role="presentation" class="replace-arrow" focusable="false"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{'#sp-icons-replace-arrow-' + $root.config.language.direction}}"></use></svg></span>
                <span>{{'replace_2' | translate}}</span>
                </span>
                <span class="suggestions" ng-if="item.product._suggestions && (item.isProductOutOfStock || item.isNeedToShowOutOfStockLabel)">
                    <svg class="outline-large" focusable="false"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#sp-icons-out-of-stock-outline"></use></svg>
                    <svg class="outline-small" focusable="false"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#sp-icons-out-of-stock-outline-small"></use></svg>
                </span>
            </div>
        </sp-table-column>
        <sp-table-column title="{{'Name' | translate}}" sort-by="(product.names | name).long" style-class="{{'product-details' + (item.isProductOutOfStock ? ' disabled' : '')}}">
            <span ng-if="!!item.product" class="name">
                {{item.product | productName:item.isCase}}
            </span>
            <span ng-if="!item.product" class="name">{{item.name + ' ' + '(Not active)' | translate}}</span>
        </sp-table-column>
        <sp-table-column style-class="{{($root.config.retailer.settings.isNewPromotionDesignEnabled === 'true' ? 'new-promotion' : 'new-promotion-hide') + (item.isProductOutOfStock ? ' disabled' : '')}}">
            <sp-promotion product="item.product" is-list="true" ng-if="item.product && item.product.branch.specials.length"></sp-promotion>
        </sp-table-column>
        <sp-table-column title="{{'Price' | translate}}" sort-by="product | regularPrice" style-class="{{item.isProductOutOfStock ? 'disabled' : ''}}">
            <span class="price-flex" ng-if="!!item.product">
                {{item.product | regularPrice:item.isCase | currency}}
                <span ng-if="$root.config.retailer.settings.showPriceWithoutBottleDeposit && item.product && item.product.branch && item.product.branch.linkedProductPrice"
                      id="{{'bottle_disclaimer_' + item.product.id}}"
                      ng-click="shopListCtrl.showDisclaimer($event, item.product.id)"
                      class="bottle-deposit-disclaimer">
        <img className="bottle-deposit-disclaimer-img" style="width:20px; height:20px" ng-src="{{'https://d226b0iufwcjmj.cloudfront.net/global/mobile/images/icons/info-icon.png'}}"/>
                    <span class="bottle-deposit-disclaimer-content">
                        <span class="text">{{$root.config.retailer.settings.disclaimerOnCartPages[$root.config.language.id] || ('Price includes bottle deposit' | translate)}}</span>
                        <span class="arrow"></span>
                    </span>
                </span>
        </sp-table-column>
        <sp-table-column title="" sort-by="" style-class="{{item.isProductOutOfStock ? 'disabled' : ''}}">
            <sp-unit-weight  product="item.product" cart-line="item" ng-if="item.product.productDisplayModeId === $root.PRODUCT_DISPLAY.WEIGHT_AND_UNIT.id && $root.config.retailer.enableSwitchUnitWeight && $root.util.isUnitsWeighable(item.product)" ng-click="$event.stopPropagation();" product-id="item.product.id" on-unit="onUnitClick(item)" on-weight="onWeightClick(item)"></sp-unit-weight>
        </sp-table-column>
        <sp-table-column title="{{'Quantity' | translate}}" sort-by="quantity" style-class="single-order-quantity {{item.isProductOutOfStock ? 'disabled' : ''}}">
            <span ng-if="!!item.product">
                <span>
                    <sp-quantity cart-line="item" on-plus="setQuantity(item, 1)" on-minus="setQuantity(item, -1)"
                                on-change="true" design="landscape"></sp-quantity>
                </span>
            </span>
        </sp-table-column>
        <sp-table-column title="{{'Product properties' | translate}}" style-class="smart-list-quantity {{item.isProductOutOfStock ? 'disabled' : ''}}">
            <product-properties item="item" ng-if="item.product.productProperties && item.product.productProperties.length"></product-properties>
        </sp-table-column>
        <sp-table-column title="{{'Total' | translate}}" sort-by="(product | regularPrice) * quantity" style-class="{{item.isProductOutOfStock ? 'disabled' : ''}}">
            <span ng-if="!!item.product">
                 {{(item.product | regularPrice:item.isCase) * (item.isWeightable ? item.actualQuantity : item.quantity) | currency}}
            </span>
        </sp-table-column>
        <sp-table-column style-class="action-checkbox" template="actionsCheckboxes"></sp-table-column>
    </sp-table>
</div>
