html.single-order {
  $actionsPaddingRight: 1em;
  $navigationBarExtension: 2em;

  .single-order-page-wrapper {
    .navigation-bar {
      .title {
        h1 {
          font-size: 1em;
          color: #000000;
          padding: 0;
        }

        h3 {
          font-size: 0.625em;
          color: #000000;
          padding: 0;
        }

        .site-popular-products-disclaimer {
          display: none;
        }
      }

      .actions {
        font-size: 1em;
        height: 100%;
        display: flex;
        align-items: center;
        color: #000;
        float: right;
        padding-right: $actionsPaddingRight;

        span {
          margin: 0 0.4em;
        }

        .add-to-cart-btn {
          margin-right: 0.5em;
        }
      }
    }

    .nothing-found {
      text-align: center;
      font-weight: bold;
      margin-top: 3em;
    }

    .single-order-table {
      display: block;

      table {
        thead {
          label {
            outline: none;
          }
        }

        tbody {
          tr {
            td {

              .data {
                display: block;
                text-align: center;
              }

              label {
                outline: none;

                &.checkbox {
                  padding: 0 1.4em;

                  &.disabled {
                    cursor: default;

                    span.box.true {
                      background-color: #797979;
                    }

                  }
                }
              }
            }
          }
        }
      }

      .image-wrapper {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 6em;
      }

      .single-order-quantity {
        .sp-quantity {
          width: 12em;

          .est-weight {
            left: 0;
            right: 0;
            text-align: center;
            top: auto;
            bottom: -1.3em;
          }
        }

        .single-order-in-cart {
          font-weight: bold;
          color: white;
          padding: 0.3em 0.8em;
          height: 100%;
          width: 100%;
          box-sizing: border-box;
          border-radius: 3px;
        }
      }
    }

    &.site-popular-products {
      .navigation-bar {
        // extend the height by 2 em
        height: $navigationBarHeight + $navigationBarExtension;

        .title {
          h1 {
            padding-bottom: 0.3em;
          }

          .site-popular-products-disclaimer {
            display: block;
          }
        }
      }

      .single-order-table {
        // only add margin for the extended part, the section.view is already doing the $navigationBarHeight
        margin-top: $navigationBarExtension;
      }
    }

    .disabled {
      opacity: 0.35;
      pointer-events: none;
    }

    .out-of-stock {
      position: absolute;
      top: 50%;
      height: 1.5em;
      line-height: 1.5em;
      padding: 0 0.4em;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      text-align: center;
      margin-top: -0.75em;
      color: #ffffff;
      font-size: 0.75em;
      white-space: nowrap;
      background-color: #F86B2F;
      width: auto;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .price-flex {
    display: flex;

    .bottle-deposit-disclaimer {
      margin-left: 1em;
    }
  }

  &.rtl {
    .single-order-page-wrapper .navigation-bar .actions {
      float: left;
      padding-right: 0;
      padding-left: $actionsPaddingRight;
    }

    .add-to-cart-btn {
      margin-left: 0.5em;
    }
  }
}
