<div class="title-wrapper" ng-class="{'has-image': !!group.value.image}">
    <span class="for-vertical-align"></span><!--
    --><span class="title">
        <span class="name">{{(group.value.names | name).name}}</span>
        <span ng-show="!!(group.value.names | name).description" class="description">{{(group.value.names | name).description}}</span>
    </span>
</div>
<div class="image">
    <span class="for-vertical-align"></span><!--
    --><img ng-src="{{group.value.image}}" alt=""/>
</div>