<div class="content" ng-if="!contactUsCtrl.isSent">
    <div id="contact_us_dialog_title" class="title" ng-bind="::'Contact Us' | translate"></div>
    <p ng-bind="::('How can we help you today' | translate) + '?'"></p>

    <!--<p>{{'Email' | translate}}:</p>-->
    <p ng-if="contactUsCtrl.retailerDetails.contactPhone"
       ng-bind="::(('Phone' | translate) + ': ' + contactUsCtrl.retailerDetails.contactPhone)"></p>

    <form sp-form-accessibility name="contactUsForm" ng-submit="contactUsCtrl.send(contactUsForm, $event)" novalidate>
        <div class="input-wrapper">
            <input type="text" id="name_input" name="fullName" placeholder="{{::'Name' | translate}}" ng-model="contactUsCtrl.details.fullName" required maxlength="50" sp-inline-error/>
        </div>

        <div class="input-wrapper">
            <input type="email" id="email_input" name="email" placeholder="{{::'E-Mail' | translate}}" ng-model="contactUsCtrl.details.email" required sp-inline-error/>
        </div>

        <div class="input-wrapper">
            <input type="tel" id="phone_input" name="phone" placeholder="{{::'Phone' | translate}}" ng-model="contactUsCtrl.details.phone" ng-pattern="/^\(?\+?(\d[\s,\-,(,),,,]*){8,15}$/" sp-inline-error/>
        </div>

        <div class="input-wrapper">
            <textarea maxlength="3950" id="message_input" name="message" placeholder="{{::'How can we help you'| translate}}?" ng-model="contactUsCtrl.details.message" required sp-inline-error></textarea>
        </div>

        <sp-captcha is-invalid="contactUsCtrl.captchaIsInvalid"  ng-if="contactUsCtrl.showCaptcha"></sp-captcha>

        <!--<div class="input-wrapper">-->
        <!--<sp-file-input sp-model="details.attachment" placeholder="{{'drag files or browse...' | translate}}"></sp-file-input>-->
        <!--</div>-->

        <button type="submit" class="send-btn" ng-bind="::'Send' | translate"></button>
    </form>
</div>

<div ng-if="contactUsCtrl.isSent" class="sent-successfully" aria-live="assertive" aria-relevant="additions">
    <p class="title" ng-bind="::'Your message has been sent' | translate" id="contact_us_dialog_title"></p>
    <p class="text" ng-bind="::'Thank you for contacting us' | translate"></p>
</div>
