.dialog-wrapper .dialog.contact-us .dialog-body {
  overflow: visible;
  min-width: 18em;
  min-height: 32em;

  .content {
    padding: 0 1em;

    .title {
      font-size: 1.5em;
      padding: 0 0 0.5em 0;
    }

    p {
      font-weight: 100;
      line-height: 1.5em;
    }

    .input-wrapper {
      padding-top: 1em;
      width: 20em;
      margin-top: 1em;

      > * {
        width: 100%;
        padding: 0.5em;
        border: 1px solid gray;
        border-radius: 5px;
        height: 100%;
      }

      .title {
        font-size: 1em;
        padding: 1em;
      }

      textarea {
        font-size: 1em;
      }
    }

    .send-btn {
      width: 20em;
      padding: 0.5em;
      font-weight: 600;
      margin: 0.5em 0 0 0;
    }
  }

  .sent-successfully {
    position: absolute;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.92);
    top: 2.5em;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 7em 2em;
    @include box-sizing(border-box);
    text-align: center;

    .title {
      font-size: 1.5em;
      line-height: 1.5em;
      font-weight: 700;
    }

    .text {
      font-size: 1.2em;
      font-weight: 500;
    }
  }

  sp-captcha {
    transform: scale(0.9);
    transform-origin: top right;
    width: 20em;
  }

  .ltr & {
    sp-captcha {
      transform-origin: top left;
    }
  }

}