<div ng-controller="EditOrderTimeslotCtrl as editOrderTimeslotCtrl" class="timeslot">
	<div ng-if="editOrderTimeslotCtrl.order">
		<div class="delivery-time">
			<div class="grid-container">
				<div class="address-title">
					<p>{{((editOrderTimeslotCtrl.order.branchDeliveryTypeId ===
					$root.SP_SERVICES.DELIVERY_TYPES.PICKUP ? 'Pickup Address:' : 'Delivery Address:')) | translate }}</p>
				</div>
				<div class="address-content">
					<p ng-if="editOrderTimeslotCtrl.order.branchDeliveryTypeId === $root.SP_SERVICES.DELIVERY_TYPES.PICKUP">
						{{editOrderTimeslotCtrl.pickingAddress | retailerNameReplacement}}
					</p>
					<p ng-if="editOrderTimeslotCtrl.order.branchDeliveryTypeId === $root.SP_SERVICES.DELIVERY_TYPES.DELIVERY">
						{{editOrderTimeslotCtrl.order.fixedAddress}}
					</p>
				</div>
				<div class="delivery-time-title">
					<p>{{(editOrderTimeslotCtrl.order.branchDeliveryTypeId ===
						$root.SP_SERVICES.DELIVERY_TYPES.PICKUP ? 'Pickup Time:' : 'Delivery Time:') | translate }}</p>
				</div>
				<div class="delivery-time-content">
					<p>
						{{'on_day'| translate}}

						{{(editOrderTimeslotCtrl.order.shippingTimeFrom | date: 'EEEE' :'UTC') | translate}},
						{{(editOrderTimeslotCtrl.order.shippingTimeFrom | date: ($root.config.isUs ? 'MM/dd/yyyy':'dd/MM/yyyy') :'UTC') }}

						{{'at_hour'| translate}}
						<span class="times">
							{{(editOrderTimeslotCtrl.order.shippingTimeFrom | date: ($root.config.isUs ? 'h:mma' : 'HH:mm'):'UTC')+ ' -'}} 
							{{(editOrderTimeslotCtrl.order.shippingTimeTo | date: ($root.config.isUs ? 'h:mma':'HH:mm'):'UTC')}}
						</span>
					</p>
				</div>
			</div>

			<hr class="line">

			<div class="timeslot-text">
				<div class="title">
					<p>{{((editOrderTimeslotCtrl.order.branchDeliveryTypeId === $root.SP_SERVICES.DELIVERY_TYPES.PICKUP ?
					'wish_to_change_pickup' : 'wish_to_change_delivery')) | translate }}</p>
				</div>
				<br>
				<div>
					<p>{{ 'Select date & time' | translate }}</p>
				</div>
			</div>
		</div>
		<div class="content" role="region" tabindex="0"
			aria-label="{{('select ' + (editOrderTimeslotCtrl.order.branchDeliveryTypeId !== $root.SP_SERVICES.DELIVERY_TYPES.PICKUP ? 'delivery' : 'pickup') + ' time') | translate}}">
			<sp-slider-pickers class="full-size" direction="'horizontal'" sp-model="updateOrderV2Ctrl.delivery"
				sp-change="editOrderTimeslotCtrl.deliveryTimeError = null;"
				picker="editOrderTimeslotCtrl.timesOption.picker" items="6"
				sp-default-time="editOrderTimeslotCtrl.default"
				sp-disable-items="editOrderTimeslotCtrl.checkingAddressInProgress"
				sp-disabled-selected="editOrderTimeslotCtrl.disabledTimeChosen()"
				sp-on-last-option="editOrderTimeslotCtrl.setDeliveryTimes({scroll: scroll})"
				is-from-edit-order="true">
			</sp-slider-pickers>
		</div>

		<div class="buttons">
			<button class="disabled-opacity" ng-click="updateOrderV2Ctrl.next();editOrderTimeslotCtrl.loading = true;" aria-label="Confirm Update"
				ng-disabled="editOrderTimeslotCtrl.isDisabledUpdateTimeSlot() || editOrderTimeslotCtrl.loading"
				ng-bind="::'CONFIRM UPDATE' | translate"></button>
		</div>
	</div>

	<div class="loading-wrapper" ng-if="!editOrderTimeslotCtrl.order">
		<span class="for-vertical-align"></span>
		<img src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/loading.gif" alt="{{'Loading' | translate}}"/>
	</div>
</div>