$contentWidth: 90%;
$spaceBetweenSliderItems: 0 1em;
$sliderWidth: 100%;
$sliderHeight: 7em;


.timeslot {
  width: 64.8em;
  min-height: 35em;

  padding: 0;
  overflow: hidden;

  .loading-wrapper {
    width: 100%;
    height: 100%;
  }

  // .line {
  //   margin-top: 1em;
  // }
  .delivery-time {
    width: $contentWidth;
    margin: auto;
    margin-bottom: 2em;

    .grid-container {
      display: grid;
      grid-template-columns: fit-content(20%);
      row-gap: 0.5em;
      column-gap: 2em;
      padding-bottom: 0.5em;
      
      .address-title {
        grid-column: 1;
        grid-row: 1;
        font-weight: bold;
      }
      .address-content{
        grid-column: 2;
        grid-row: 1;
      }

      .delivery-time-title {
        grid-column: 1;
        grid-row: 2;
        font-weight: bold;
      }
      .delivery-time-content{
        grid-column: 2;
        grid-row: 2;
      }
    }

    .title {
      font-weight: bold;
    }

    .times {
      direction: ltr;
      display: inline-block;
    }

    .line {
      margin-bottom: 1em;
    }

    .empty-space {
      padding-bottom: 1.5em;
      min-width: 2em;
    }
  }

  .timeslot-text {
    .title {
      margin-bottom: 1em;
    }
  }

  .content {
    margin: auto;
    width: $contentWidth;
    margin-top: 2em;
    white-space: nowrap;
    
    .sp-slider-picker {
      .slider-primary-item>.slider-primary-item-btn {
        position: relative;

        >ng-include {
          font-style: italic;
          font-size: 0.8em;

          >.time {
            color: #1f0000;
            font-weight: 700;
            line-height: 1.3;
          }

          >.delivery-type {
            color: #1f0000;
            font-size: 0.87em;
          }

          >.price {
            color: #1f0000;
            font-weight: bold;
            font-size: 0.87em;
          }

          >img {
            max-height: 1.5em;
          }

          >.tool-tip {
            $width: 15em;

            display: none;
            position: absolute;
            z-index: 1;
            top: 100%;
            left: 50%;
            width: $width;
            margin-left: -($width / 2);
            border: 1px solid;
            margin-top: 1em;
            background-color: #ffffff;
            padding: 0.5em;
            white-space: normal;
            box-sizing: border-box;

            &:before {
              $size: 1em;

              content: '';
              position: absolute;
              top: -0.6em;
              left: 50%;
              margin-left: -($size / 2);
              border-left: 1px solid;
              border-top: 1px solid;
              transform: rotate(45deg);
              width: $size;
              height: $size;
              background-color: #ffffff;
            }
          }
        }

        &:hover>ng-include>.tool-tip {
          display: block;
        }
      }

      .slider-primary-item-btn.selected>ng-include {

        >.time {
          color: #ffffff;
        }

        >.price,
        .delivery-type {
          color: #ffffff;
        }
      }

      .slider-items-padding-wrapper>.slider-items-wrapper>.slider-items>.slider-item {
        padding: $spaceBetweenSliderItems;
      }
      .slider-items>.slider-item {

        >.disabled {
          cursor: not-allowed;
        }

        >.slider-item-content>ng-include {
          text-align: center;

          >* {
            white-space: normal;
          }

          >.date {
            color: #1f0000;
            font-size: 1em;
            padding-bottom: 0.3em;

            &.today {
              font-weight: bold;
            }
          }

          >.date-name {
            color: #1f0000;
            font-size: 1.2em;
            text-transform: uppercase;
            line-height: 1.4em;
          }

          .selected-time {
            direction: ltr;
            display: none;
            color: #ffffff;
            font-size: 0.8em;

            >div {
              line-height: 100%;
            }
          }

          .shipping-day {
            font-size: 0.8em;
          }
        }

        &:not(.disabled) {
          &.selected>.slider-item-content>ng-include {

            >.date,
            >.date.today,
            >.date-name {
              color: #ffffff;
            }

            .selected-time {
              display: block;
            }

            .time {
              line-height: 1.4;
              display: block;
            }
          }
        }

        &.focus {
          outline-offset: -0.2em;
        }
      }
    }

    .sp-slider-picker-wrapper.horizontal.full-size .sp-slider-picker {
      width: $sliderWidth;
      height: $sliderHeight;
      >.slider-items-padding-wrapper{
        width: 95%;
        >.slider-items-wrapper>.slider-items>.slider-item>.slider-item-content.disabled{
          background: repeating-linear-gradient(-45deg, #ededed, #ededed 1px, #fff 1px, #fff 4px);
          cursor: default;
          opacity: .6;
        }
      }
    }

    .business-days-disclaimer {
      font-size: 0.9em;
      text-align: right;
      padding: 0.3em 0.3em 0 0.3em;
    }

    &.delivery-areas-auto-complete>.auto-complete {
      z-index: 100;
    }

    sp-dropdown .sp-dropdown-options-wrapper {
      @include border-radius(0 0 5px 5px);

      .sp-option {
        line-height: 1.5em;
      }
    }

    &.delivery-method-wrapper,
    &.substitute-preferences-wrapper {
      .sp-radio-buttons {
        @include box-sizing(border-box);
        width: 100%;

        >label {
          @include box-sizing(border-box);

          .label {
            >* {
              display: inline-block;
              vertical-align: middle;
            }

            img {
              padding: 0 0.3em;
            }
          }
        }
      }
    }

    &.delivery-method-wrapper .sp-radio-buttons>label {
      height: 3em;
      width: 50%;
    }

    &.substitute-preferences-wrapper {
      height: 6.5em;

      .sp-radio-buttons {
        display: inline-flex;
      }

      .sp-radio-buttons>label.sp-radio-option {
        display: inline-flex;
        justify-content: center;
        align-items: center;

        .label {
          white-space: pre-line;
        }
      }

      .sp-radio-buttons>label {
        width: 25%;
      }

      &.has-3-options .sp-radio-buttons>label {
        width: 33.3333%;
      }

      &.has-2-options .sp-radio-buttons>label {
        width: 50%;
      }

      &.has-5-options .sp-radio-buttons>label {
        width: 20%;
      }

      &.has-6-options .sp-radio-buttons>label {
        width: 16.6666667%;
      }
    }

    &.delivery-within-days-line {
      height: 5.625em;
      display: inline-flex;
      flex-direction: row;
      align-items: center;
      justify-content: start;

      .img {
        padding: 0 1em;

        img {
          width: 3.2em;
          display: block;
        }
      }

      .delivery-text {
        padding-right: 2em;

        .title {
          font-size: 1.125em;
          font-weight: bold;
          color: #76bfa3;
          padding-bottom: 0.3em;
        }

        .price {
          font-size: 0.875em;
          color: #000;

          .main-row {
            display: block;
          }

          .specials-wrapper {
            display: block;
            padding-top: 0.5em;

            .special-content {
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: start;
              color: #000;
              font-weight: 400;
              background-color: #fff;

              .sp-sale-icon {
                flex: 0 0 auto;
                position: relative;
                left: auto;
                right: auto;
                top: auto;
                bottom: auto;
                width: 1.5em;
                height: 1.5em;

                img {
                  width: 100%;
                  height: 100%;
                }
              }

              .description {
                flex: 1 1 auto;
                white-space: normal;
                padding: 0 0.3em 0.3em 0.3em;

                &:last-child {
                  padding-bottom: 0;
                }
              }
            }
          }
        }
      }

      .delivery-disclaimer {
        font-size: 0.875em;
        color: #78797a;
        padding: 0.3em 1em;
        border-left: 1px solid #d2d2d3;
        line-height: 1.2;

        .business-days-disclaimer {
          display: inline-block;
          padding-left: 0;
          padding-right: 0;
        }
      }
    }
  }


  &.text {
    margin: 1em auto;
    max-width: 23em;
  }


  .buttons {
    padding-top: 7em;
    text-align: center;

    >button {
      font-weight: 700;
      min-width: 16em;
      min-height: 3.5em;
      margin: 0 .7em;
      font-size: 1.3em;
      >span {
        font-size: large;
      }
    }
  }

  &:last-child {
    padding-bottom: 0;
  }

  >.slider {
    text-align: center;
  }
}