<div class="category-products-wrapper" ng-controller="PrutahTemplateCategoryProductsCtrl">
    <sp-items
            design="categoryCtrl.category._actualType === $root.CATEGORIES_TYPES.MENU ? $root.SP_ITEMS_DESIGNS.MENU : $root.SP_ITEMS_DESIGNS.REGULAR"
            items="categoryCtrl.products"
            total="categoryCtrl.total"
            no-results-message="{{'sorry_2' | translate}},<br/>{{'We couldn\'t find any products' | translate}}"
            banner-title="{{categoryCtrl.category.names | name}}"
            category-description="{{categoryCtrl.category.categoryDescription}}"
            img="{{categoryCtrl.category._siteImage}}"
            template-url="template/partials/{{categoryCtrl.category._actualType === $root.CATEGORIES_TYPES.MENU ? 'menu-' : ''}}product-item/index.html"
            filters="categoryCtrl.filters"
            sorters="categoryCtrl.sorters"
            item-class="product"
            on-click="categoryCtrl.openProduct($item, $index)"
            group-by="categoryCtrl.category._actualType == $root.CATEGORIES_TYPES.MENU && categoryCtrl.groupBy"
            size="{{categoryCtrl.category._actualType === $root.CATEGORIES_TYPES.LARGE_ITEMS ? 'large' : 'medium'}}"
            ng-class="{'large-items': categoryCtrl.category._actualType === $root.CATEGORIES_TYPES.LARGE_ITEMS, 'new-promotion': $root.config.retailer.settings.isNewPromotionDesignEnabled === 'true'}"
            show-item-description="categoryCtrl.category._actualType === $root.CATEGORIES_TYPES.LARGE_ITEMS"
            category-type="categoryCtrl.category._actualType">
    </sp-items>
</div>