<div class="forgot-something-v2">
    <div class="title-wrapper">
        <svg focusable="false">
            <use xlink:href="#sp-icons-noti-bell"></use>
        </svg>

        <div class="title">
            <p>{{ 'Forgot Something' | translate }}?</p>
            <p>{{ 'forgot_sth_want_to_change_' + editOrderCtrl.deliveryTypeText | translate }}</p>
        </div>
    </div>

    <div class="btn-wrapper">
        <button class="update-button white-solid"
            ng-disabled="editOrderCtrl.ordersService.orderInEdit || !$root.util.isOrderEditable(editOrderCtrl.order)"
            ng-click="editOrderCtrl.onClickUpdateOrder()">
            {{'Update order' | translate }}
        </button>
    </div>
</div>