.forgot-something-v2 {
  display: flex;
  flex-direction: column;
  padding: 1em 1.5em;

  .title-wrapper {
    display: flex;
    align-items: center;
    gap: 1em;
    margin-bottom: 1em;

    svg {
      max-width: 30px;
      max-height: 30px;
    }

    .title {
      color: #fff;
      display: flex;
      flex-direction: column;
      gap: 0.5em;
      font-size: 0.9em
    }
  }

  .btn-wrapper {
    display: flex;

    .update-button {
      font-weight: bold;
      flex: 1
    }
  }
}