sp-input {
    position: relative;
    display: flex;
    align-items: flex-end;

    border: 1px solid #C8C8C8;
    border-radius: 10px;

    padding: 8px 20px;

    min-height: 50px;

    box-sizing: border-box;

    > * {
        font-size: 16px;
    }

    > label {
        position: absolute;
        top: 16px;

        font-size: 16px;
        transition: 0.2s;
        pointer-events: none;
    }

    input[type="text"], 
    input[type="password"], 
    input[type="email"], 
    input[type="tel"], 
    input[type="number"], 
    input[type="date"], 
    select, 
    textarea {
        background: none;
        color: #616161;

        border: none;
        outline: none;

        padding: 0;
        margin: 0;

        -webkit-text-fill-color: inherit !important;
        -webkit-background-clip: text !important;
        background-clip: text !important;

        &:focus {
            outline: none !important;
        }
    }

    &.has-errors {
        border-color: #ED1C24;

        &:has(.error-message) {
            margin-bottom: 24px;
        }
        
        &:focus-within {
            label {
                color: #ED1C24;
            }
        }
    }

    &:has(input:disabled) {
        opacity: 0.6;
    }

    &:focus-within:not(&.has-errors) {
        border-color: #282828;
    }

    &.floating-label > label {
        top: 4px;
        font-size: 12px;

        padding-left: 0px;
    }

    .error-message {
        position: absolute;
        top: 100%;
        left: 0;

        margin-top: 4px;

        font-size: 14px;

        width: 100%;
        max-width: 100%;
        overflow: hidden;
        white-space: inherit;
    }

    .sp-inline-error {
        font-size: 12px;
        padding-top: 0;
    }

    &.sp-inline-error-invalid > label {
        color: #ff0000;
    }

    button {
        align-self: center;
        &.rounded {
            overflow: hidden;
            border-radius: 10em;
            border: 1px solid;
            padding: 0.2em 0.4em;
            font-size: 16px;
            margin-top: 10px;
        }

        .eye-off-ico {
            width: 17px;
            height: 16px;
        }
    }
}

html.rtl {
    sp-input {
        .error-message {
            right: 0;
        }
    }
}
