<div class="content default-text-align">
    <header>
        <span id="membership_expired_dialog_title">{{::'Your membership has expired' | translate}}</span>
    </header>
    <div class="text">
        <div class="loyalty-name">{{loyaltyWarningCtrl.loyaltyClubDriver.name || $root.config.retailer.title}}</div>
        <p>{{'Hello' | translate}} {{loyaltyWarningCtrl.userData.firstName}}, <br/></p>
        <p>{{'Your club membership has expired on' | translate}}
        {{loyaltyWarningCtrl.userLoyaltyClub.loyaltyClubExpiration | date:loyaltyWarningCtrl.dateFormat:'UTC' }}.<br/>
            {{'Membership number' | translate}}: {{loyaltyWarningCtrl.userLoyaltyClub.loyaltyCardId}}<br/><br>
            {{'Renew you membership and enjoy exclusive benefits and discounts' | translate}}.<br/></p>
    </div>
    <div class="buttons">
        <button ng-hide="!loyaltyWarningCtrl.isRenewActive" ng-click="$dialog.hide('Renew')">{{::'Renew membership' | translate}}<span class="price">{{loyaltyWarningCtrl.renewProductPrice | currency}}</span></button>
        <button ng-click="$dialog.hide('FindCustomer')">{{::'Enter a valid number' | translate}}</button>
    </div>
    <footer>
        <span>{{'Customer service' | translate }}: {{loyaltyWarningCtrl.contactPhone}}</span>
        <span class="right" ng-click="$dialog.hide()"
              ng-if="!$root.config.retailer.loyaltyClubDriver.clientConfig.isRegisterToClubObligation">
            {{::'No thanks, continue shopping' | translate}}
        </span>
    </footer>
</div>
