.dialog-wrapper .dialog.loyalty-membership-expired .dialog-body {
  padding: 0;
  width: 40em;

  > .content {
    padding: 0;

    > header {
      font-size: 1.4em;
      font-weight: 700;
      background-color: #f6f5f3;
      padding: 0.7em;
    }

    > .text {
      font-size: 1em;
      line-height: 1.4em;
      padding: 1em;

      > .loyalty-name {
        color: #4B4C4D;
        font-size: 1.6em;
      }

      > p {
        margin: 0.3em 0;
        padding: 0;
      }
    }

    > .buttons {
      margin: 1em;

      > button {
        .price {
          background-color: #00b050;
          padding: 0 0.3em;
          margin: 0 0.6em;
        }
      }
    }

    > footer {
      margin : 1em;

      > .right {
        color: #0773c0;
        text-decoration: underline;
      }
    }
  }
}

.rtl .dialog-wrapper .dialog.loyalty-membership-expired .dialog-body {
  > .close-dialog-corner-button {
    left: 1em;
    right: auto;
  }

  > .content {
    > .buttons {
      text-align: left;
    }
  }
}