<div class="special-discount">
    <h1 class="detail-title" ng-bind="::'Employee Discount' | translate" id="page_title"></h1>

    <ng-include src="'template/views/user-edit/special-discount/' + specialDiscountCtrl.template"></ng-include>
</div>