<div class="multipass">

    <div class="multipass-form" ng-if="!specialDiscountCtrl.discountClubCardId && specialDiscountCtrl.received">
        <h5 class="title">{{::'Employee discount card holder?' | translate}}</h5>
        <form name="specialDiscountCtrl.connectForm" class="form" ng-submit="specialDiscountCtrl.connect()" novalidate>
            <div class="input-group">
                <div class="input-wrapper">
                    <span class="input-desc">{{::'Personal Id' | translate}}</span>
                    <input type="text" id="card_id" name="personalId"
                           ng-class="{'sp-inline-error-invalid': specialDiscountCtrl.connectData.personalIdInvalid}"
                           ng-keyup="specialDiscountCtrl.connectData.personalIdInvalid = false"
                           ng-model="specialDiscountCtrl.connectData.personalId" minlength="9" maxlength="9" pattern="[0-9]+" required/>
                </div>
                <div class="left error-message"><span ng-if="specialDiscountCtrl.error" ng-bind="specialDiscountCtrl.error"></span></div>
                <div class="right save-button">
                    <button type="submit" id="btn-submit">{{::'Identify' | translate}}</button>
                </div>
            </div>
        </form>
    </div>

    <div class="multipass-data" ng-if="specialDiscountCtrl.discountClubCardId && specialDiscountCtrl.received">
        <h5 class="title">{{::'Employee discount card data' | translate}}</h5>
        <div ng-if="specialDiscountCtrl.userData.error" class="error">
            <span class="label">{{::'Error' | translate}}:</span>
            {{::specialDiscountCtrl.userData.error | translate}}
        </div>
        <div>
            <span class="label">{{::'Card Id' | translate}}:</span>
            {{specialDiscountCtrl.userData.cardId}}
        </div>
        <div>
            <span class="label">{{::'Name' | translate}}:</span>
            {{specialDiscountCtrl.userData.name}}
        </div>
        <div>
            <span class="label">{{::'Discount' | translate}}:</span>
            {{specialDiscountCtrl.userData.discount}}%
        </div>
        <div>
            <span class="label">{{::'Club Name' | translate}}:</span>
            {{specialDiscountCtrl.userData.clubName}}
        </div>
        <div>
            <span class="label">{{::'Remaining Obligo' | translate}}:</span>
            <span><b>{{specialDiscountCtrl.userData.obligoRemaining}} {{$root.config.retailer.currencySymbol}}</b></span>
        </div>
        <div>
            <span class="label">{{::'Monthly Obligo' | translate}}:</span>
            <span>{{specialDiscountCtrl.userData.obligoTotal}} {{$root.config.retailer.currencySymbol}}</span>
        </div>
        <div>
            <span class="label">{{::'Obligo Type' | translate}}:</span>
            {{::'Monthly discount obligo' | translate}}
        </div>
    </div>

    <div class="multipass-inprogress" ng-if="!specialDiscountCtrl.received">{{::'Getting data...' | translate}}</div>

</div>