.multipass {
  h5 {
    padding-top: 0;
  }

  .multipass-form {
    .save-button {
      padding-top: 0.5em;
    }

    .error-message {
      white-space: normal;
      width: 60%;
    }
  }

  .multipass-data {
    div {
      margin-bottom: 1em;

      span.label {
        display: inline-block;
        padding: 0 1em;
        min-width: 10em;
      }

      &.error {
        color: #d44949;
      }
    }
  }
}