<div class="container-cancel">
	<h2 class="title" id="cancel_order_dialog_title">
		<span ng-if="!orderCancelled" class="warning" ng-bind="::('Cancel Order' | translate) + '?'"></span>
		<span ng-if="orderCancelled" ng-bind="::'Your order was cancelled' | translate"></span>
	</h2>

	<h4 ng-bind="::('Are you sure you want to cancel this order' | translate) + ':'" ng-if="!orderCancelled"></h4>

	<div class="order-details">
		<div>{{::'Order #' | translate}} <span class="bold" ng-bind="::order.id"></span></div>
		<div>
			{{::order.branchDeliveryTypeId == $root.SP_SERVICES.DELIVERY_TYPES.DELIVERY ? 'Delivery' : 'Pickup' | translate}}:
			<span ng-if="order.deliveryTimeTypeId !== $root.DELIVERY_TIMES_TYPES.DELIVERY_WITHIN_DAYS">
				<span class="bold" ng-if="::!$root.config.retailer.twoHourLaw || order.branchDeliveryTypeId != $root.SP_SERVICES.DELIVERY_TYPES.DELIVERY">
					{{::order.shippingTimeFrom | date:($root.config.isUs ? 'MM/dd/yyyy' : 'dd/MM/yyyy'):'UTC'}},
					<span class="inline-block" dir="ltr">
						{{::(order.shippingTimeFromDisplay || order.shippingTimeFrom) | date:($root.config.isUs ? 'hh:mma' : 'HH:mm'):'UTC'}}
						-
						{{::order.shippingTimeTo | date:($root.config.isUs ? 'hh:mma' : 'HH:mm'):'UTC'}}
					</span>
				</span>
				<span class="bold" ng-if="::$root.config.retailer.twoHourLaw && order.branchDeliveryTypeId == $root.SP_SERVICES.DELIVERY_TYPES.DELIVERY">
					{{::order.shippingTimeFrom | date:($root.config.isUs ? 'MM/dd/yyyy' : 'dd/MM/yyyy'):'UTC'}},
					{{::(order.shippingTimeFromDisplay || order.shippingTimeFrom) | date:($root.isUs ? 'hh:mma' : 'HH:mm'):'UTC'}}
				</span>
			</span>
			<span class="bold" ng-if="order.deliveryTimeTypeId === $root.DELIVERY_TIMES_TYPES.DELIVERY_WITHIN_DAYS">
				{{'Within' | translate}} {{::order.deliveryTimeDaysRange}} {{'business days' | translate}}
			</span>
		</div>
		<div>{{::'Total' | translate}}: <span class="bold" ng-bind="::order.totalAmount - order.ebtSnapTaxSaved + order.ebtWeightDeposit | currency"></span></div>
		<div ng-if="orderCancelled && order.paymentData && order.paymentData.ebtPayment">
			<h5> {{ 'Your EBT card was refunded' | translate }}</h5>
		</div>
	</div>
  <div ng-if="order.paymentData.mainPayment.paymentMethodId != SP_PAYMENTS.PAYMENT_METHODS.IDS.CALL_CUSTOMER" class="card-details">
    <span class="card-details-card">
      {{'cancel_order_credit_card'  | translate}} <span class='inline-block' dir='ltr'>**** {{::order.paymentData.mainPayment.lastFourDigits}}</span>
    </span>
    <span class="card-details-info">
      {{'cancel_order_credit_card_sum'  | translate}}: {{::order.paymentData.mainPayment.initialAmount | currency}}
    </span>
  </div>
  <div class="card-details" ng-if="order.paymentData.ebtPayment ? true : false">
    <span class="card-details-card">
      {{'cancel_order_ebt_card' | translate}} **** {{::order.paymentData.ebtPayment.lastFourDigits}}
    </span>
    <span class="card-details-info"   ng-if="order.paymentData.ebtSNAPPayment ? true : false">
      {{'cancel_order_ebt_snap_refund' | translate}}: {{::order.paymentData.ebtSNAPPayment ? order.paymentData.ebtSNAPPayment.initialAmount : null | currency}}
    </span>
    <span class="card-details-info"  ng-if="order.paymentData.ebtCashPayment ? true : false">
      {{'cancel_order_ebt_cash_refund' | translate}}: {{::order.paymentData.ebtCashPayment.initialAmount ? order.paymentData.ebtCashPayment.initialAmount : null | currency}}
    </span>
  </div>

	<div class="card-details" ng-if="order.additionalData">
    	<span class="card-details-info"   ng-if="order.additionalData.ebtBalance.fsBalanceUpdated ? true : false">
      {{'cancel_order_updated_snap_balance' | translate}}: {{::order.additionalData.ebtBalance.fsBalanceUpdated | currency}}
    </span>
		<span class="card-details-info"  ng-if="order.additionalData.ebtBalance.cbBalanceUpdated ? true : false">
      {{'cancel_order_updated_cash_balance' | translate}}: {{::order.additionalData.ebtBalance.cbBalanceUpdated | currency}}
    </span>
	</div>

	<h4 ng-bind="::'This order will not be charged' | translate" ng-if="orderCancelled"></h4>

	<h5 ng-if="orderCancelled">{{('A confirmation email was sent to {email}' | translate).replace('{email}' ,user.username)}}</h5>

	<div class="buttons" ng-if="!orderCancelled">
		<button class="no-design" ng-click="$dialog.hide()" aria-label="Keep the order" ng-bind="::'Keep the order' | translate"></button>
		<button class="no-design primary" ng-click="cancelOrder()" aria-label="Cancel Order" ng-bind="::'Cancel Order' | translate"></button>
	</div>
	<div class="buttons" ng-if="orderCancelled">
		<button class="no-design" ng-click="$dialog.hide()" aria-label="Close" ng-bind="::'Close' | translate"></button>
	</div>
</div>
