.dialog.cancel-order-dialog .dialog-body > .container-cancel {
  text-align: center;
  width: 25em;
  display: block;
  h2 {
    color: #000000;
    font-size: 1.375em;
    padding: 0;

    .warning {
      color: #da3b39;
    }
  }

  h4 {
    color: #000000;
    font-size: 1em;
    padding: 1em 0 0 0;
  }

  h5 {
    color: #000000;
    font-size: 0.9em;
    padding: 0.7em 0 0 0;
  }

  .order-details {
    line-height: 1.6;
    padding: 1em 0 0.3em 0;
  }

  .buttons {
    margin-top: 2vw;
    button {
      font-size: 1em;
      text-align: center;
      border-radius: 3px;
      border: 1px solid #78797a;
      color: #1E1F21;
      height: 2.5em;
      width: 10em;
      padding: 0 1em;
      margin: 0 1em;

      &.primary {
        background: #da3b39;
        font-weight: bold;
        color: #fff;
      }
    }
  }
  .card-details {
    margin-top: 2vw;
    color: rgb(117, 117, 117);
    line-height: 20px;
    span{
      display: block;
      &.inline-block{
        display: inline-block;
      }
    }
    &-card{
      font-weight: 600;
    }
  }
}