<div class="gift-card"
     ng-class="{'open-card': data.selectedGiftCard === chunk[0].paymentMethodId}"
     ng-click="functions.toggleSelectedGiftCard(chunk[0].paymentMethodId)">
            <span class="gift-card-name bold" ng-class="{'disabled-card': !data.balanceToBePayed && !data.redeemedGiftCards[chunk[0].paymentMethodId]}">
              {{chunk[0].paymentMethodId | paymentMethod | translate}}</span>
    <div class="redeemed-amount" ng-if="data.redeemedGiftCards[chunk[0].paymentMethodId]">{{data.redeemedGiftCards[chunk[0].paymentMethodId].amount | currency}}</div>
</div>