<div class="content">
    <svg focusable="false" aria-labelledby="coupon_icon" role="img">
        <title id="close_title">{{'icon' | translate}}</title>>
        <use xlink:href="#sp-icons-coupon-reminder"></use>
    </svg>
    <div class="text">
        <h1 class="reminder-title" ng-if="couponReminderCtrl.coupon.reminderTitle">{{couponReminderCtrl.coupon.reminderTitle}}</h1>
        <div class="reminder-desc" ng-if="couponReminderCtrl.coupon.reminderDescription">{{couponReminderCtrl.coupon.reminderDescription}}</div>
    </div>
</div>
<div class="footer">
    <a ng-if="!couponReminderCtrl.isInCart" ui-sref="app.myCoupons" ng-click="$dialog.hide();" ng-bind="'View all coupons' | translate"></a>
    <div ng-if="couponReminderCtrl.isInCart">{{'The coupon is in your cart' | translate}}</div>
</div>