.dialog-wrapper .dialog.coupon-reminder .dialog-body {
  width: 33em;
  padding: 0;
  .content {
    padding: 2em;
    padding-bottom: 1em;
    svg {
      display: inline-block;
      vertical-align: top;
      width: 8.18em;
      height: 9.75em;
    }

    .text {
      display: inline-block;
      vertical-align: middle;
      width: 18em;
      padding-left: 2em;

      .reminder-title {
        padding: 0 0 0.3em 0;
        font-size: 1.8em;
        font-weight: bold;
      }

      .reminder-desc {
        line-height: 1.4em;
        font-size: 1.2em;
      }

      .coupon-name {
        padding: 0 0 0.3em 0;
        font-size: 1.8em;
        font-weight: bold;
      }
    }
  }

  .footer {
    padding: 2em;
    border-top: 4px dashed #CFCCCD;
    text-align: center;

    a {
      padding: 0.5em 1em;
      color: #ffffff;
      border-radius: 5px;
      font-size: 1.3em;
    }
  }
}

html.rtl .dialog-wrapper .dialog.coupon-reminder .dialog-body {
  .content .text {
    padding-left: 0;
    padding-right: 2em;
  }
}
