<div>
    <div class="summary-line sub-line">
        <span class="left price">{{'Subtotal' | translate}}</span>
        <span class="right price ltr">{{$root.cart.total.finalPriceWithoutTax | currency}}</span>
        <div class="clear"></div>
    </div>
    <div class="summary-line sub-line" ng-if="$root.cart.total.tax || summaryCtrl.ebtCalculatedAmounts.total.taxSaved">
        <span class="left price">{{'Tax' | translate}}</span>
        <span class="right price ltr">{{(($root.cart.total.tax || 0) | roundCurrency) - (summaryCtrl.ebtCalculatedAmounts.total.taxSaved || 0) | currency}}</span>
        <div class="clear"></div>
    </div>
    <div class="summary-line sub-line fee-price-line" ng-if="!!$root.cart.total.serviceFee.priceWithTax">
        <span class="left price">{{'Service Fee' | translate}}</span>
        <span class="right price ltr" ng-class="{'has-sale': $root.cart.total.serviceFee.giftsWithTax || $root.cart.total.serviceFee.clubsGiftsWithTax}">
            <span class="final-price">
               {{$root.cart.total.serviceFee.finalPriceWithTax ? ('Only' | translate) + ' ' + ($root.cart.total.serviceFee.finalPriceWithTax | currency) : ('Free' | translate)}}
            </span>
            <span class="original-price">
                {{$root.cart.total.serviceFee.priceWithTax | currency}}
            </span>
        </span>
        <div class="clear"></div>
    </div>
    <div class="summary-line sub-line fee-price-line" ng-if="!!$root.cart.total.deliveryCost.priceWithTax">
        <span class="left price">{{(checkoutCtrl.detailsData.deliveryMethod.id == $root.SP_SERVICES.DELIVERY_TYPES.DELIVERY ? 'Delivery' : 'Pickup') + ' Fee' | translate}}</span>
        <span class="right price ltr" ng-class="{'has-sale': $root.cart.total.deliveryCost.giftsWithTax || $root.cart.total.deliveryCost.clubsGiftsWithTax}">
            <span class="final-price">
                {{$root.cart.total.deliveryCost.finalPriceWithTax ? ('Only' | translate) + ' ' + ($root.deliveryFeeFromTimeslot || $root.cart.total.deliveryCost.finalPriceWithTax | currency) : ('Free' | translate)}}
            </span>
            <span class="original-price">
                {{$root.cart.total.deliveryCost.priceWithTax | currency}}
            </span>
        </span>
        <div class="clear"></div>
    </div>
    <div class="summary-line with-padding" ng-if="checkoutCtrl.area.deliveryProviderId === $root.SP_SERVICES.DELIVERY_PROVIDERS.MANUAL && checkoutCtrl.area.providerExtraData.shippingInputDescription">
        {{checkoutCtrl.area.providerExtraData.shippingInputDescription}}
    </div>
    <div class="summary-line sub-line" ng-if="!!$root.cart.total.markup">
        <span class="left price">{{'Markup' | translate}}</span>
        <span class="right price ltr">{{$root.cart.total.markup | currency}}</span>
        <div class="clear"></div>
    </div>

    <div class="summary-line sub-line" ng-show="summaryCtrl.ebtCalculatedAmounts.fs.deposit">
        <span class="left price">{{'EBT SNAP Weight debit' | translate}}</span>
        <span class="right price ltr">{{summaryCtrl.ebtCalculatedAmounts.fs.deposit | currency}}</span>
        <div class="clear"></div>
    </div>
    <div class="summary-line sub-line" ng-show="summaryCtrl.ebtCalculatedAmounts.cb.deposit">
        <span class="left price">{{'EBT Cash Weight debit' | translate}}</span>
        <span class="right price ltr">{{summaryCtrl.ebtCalculatedAmounts.cb.deposit | currency}}</span>
        <div class="clear"></div>
    </div>
</div>

<div class="points-discount-details" ng-if="!checkoutCtrl.summaryData.paymentMethod.isStandAlone && summaryCtrl.isUsedCashbackPoints
&& checkoutCtrl.summaryData.paymentMethod.name !== $root.SP_PAYMENTS.PAYMENT_METHODS.NAMES.EBT">
    <div class="points-discount">
        <span class="left points-discount-title">{{('Payment with' | translate) + ' ' +
                (summaryCtrl.activeCashbackLoyalty.loyaltyPages.purchaseSummary[$root.config.language.culture].cashbackLabel ||
                summaryCtrl.activeCashbackLoyalty.loyaltyPages.purchaseSummary[$root.config.retailer.culture].cashbackLabel ||
                ('loyalty points' | translate))}}</span>
        <span class="right price ltr">{{'-' + (summaryCtrl.availableUserCashback | currency : '' : 1)}}</span>
    </div>
</div>

<div class="border"></div>
<div class="summary-line total-line">
    <div>
        <span class="left"><!--
            --><span class="sum-explan" tabindex="0"><!--
                --><img class="question-mark" aria-describedby="sum_explanation" ng-src="{{'https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/icon_question_mark.png'}}" alt=""/>
                <div class="explanation" id="sum_explanation" aria-hidden="false">
                    {{'Once we complete picking your order, we adjust your final charge based on weight adjustments, substitutions & out of stock items' | translate}}.
                    <div class="arrow"></div>
                </div>
            </span>
            {{'TOTAL' | translate}} ({{'estimated' | translate}})
        </span>
        <span ng-if="!checkoutCtrl.summaryData.paymentMethod.isStandAlone && summaryCtrl.isUsedCashbackPoints &&
        checkoutCtrl.summaryData.paymentMethod.name !== $root.SP_PAYMENTS.PAYMENT_METHODS.NAMES.EBT" class="right price ltr sum">
        {{(($root.cart.total.finalPriceWithTax + $root.cart.total.serviceFee.finalPriceWithTax +
                $root.cart.total.deliveryCost.finalPriceWithTax + summaryCtrl.ebtCalculatedAmounts.total.deposit -
                summaryCtrl.ebtCalculatedAmounts.total.taxSaved) - summaryCtrl.availableUserCashback) | currency}}
        </span>
        <span ng-if="checkoutCtrl.summaryData.paymentMethod.isStandAlone || !summaryCtrl.isUsedCashbackPoints ||
        checkoutCtrl.summaryData.paymentMethod.name === $root.SP_PAYMENTS.PAYMENT_METHODS.NAMES.EBT" class="right price ltr sum">
            {{($root.cart.total.finalPriceWithTax + $root.cart.total.serviceFee.finalPriceWithTax +
              $root.cart.total.deliveryCost.finalPriceWithTax + summaryCtrl.ebtCalculatedAmounts.total.deposit -
              summaryCtrl.ebtCalculatedAmounts.total.taxSaved) | currency}}
        </span>
        <div class="clear"></div>
    </div>
    <div class="multipass-discount" ng-if="$root.cart.total.multiPassGift && !$root.isCreditCustomer">
        <span class="left price">{{('Estimated employee savings' | translate)}}</span>
        <span class="right price ltr">{{($root.cart.total.multiPassGift | currency)}}</span>
        <div class="clear"></div>
    </div>
</div>
<div class="you-saved-wrapper"
     ng-if="($root.cart.total.giftsWithTax || $root.cart.total.clubsGiftsWithTax || $root.cart.total.serviceFee.giftsWithTax ||
     $root.cart.total.serviceFee.clubsGiftsWithTax || $root.cart.total.deliveryCost.giftsWithTax || $root.cart.total.deliveryCost.clubsGiftsWithTax) && !$root.isCreditCustomer">
    <div class="title">{{'You saved on this purchase' | translate}}</div>
    <div class="you-saved"
         ng-if="($root.cart.total.giftsWithTax || $root.cart.total.serviceFee.giftsWithTax || $root.cart.total.serviceFee.clubsGiftsWithTax || $root.cart.total.deliveryCost.giftsWithTax || $root.cart.total.deliveryCost.clubsGiftsWithTax) && !$root.isCreditCustomer">
            <span class="">
                <span class="special-icon">{{'Sale' | translate}}</span>
                <span>{{('specials' | translate | retailerNameReplacement)}}:</span>
            </span>
        <span class="gift-price ltr right">{{($root.cart.total.giftsWithTax + $root.cart.total.serviceFee.giftsWithTax + $root.cart.total.serviceFee.clubsGiftsWithTax + $root.cart.total.deliveryCost.giftsWithTax + $root.cart.total.deliveryCost.clubsGiftsWithTax) | currency}}</span>
    </div>
    <div class="you-saved" ng-if="$root.cart.total.clubsGiftsWithTax && $root.cart.total.loyaltyClubs"
         ng-repeat="(id, totals) in $root.cart.total.loyaltyClubs">
             <span class="">
                <span class="club-icon">{{'Club' | translate}}</span>
                 <span>{{totals.name}}:</span>
            </span>
        <span class="gift-price ltr right">{{totals.clubGiftsWithTax | currency}}</span>
    </div>
    <div class="you-saved loyalty" ng-if="$root.cart.total.colleagueForView">
        <span>
            <span class="text">{{'Est. employee savings' | translate}}:</span>
            <span class="price ltr">{{$root.cart.total.colleagueForView | currency}}</span>
        </span>
    </div>
    <div class="clear"></div>
</div>
<div class="detailed-payments" ng-if="checkoutCtrl.summaryData.paymentMethod.name !== $root.SP_PAYMENTS.PAYMENT_METHODS.NAMES.EBT">
    <div class="summary-line sub-line">
        <span class="left price">{{checkoutCtrl.summaryData.paymentMethod.name | translate | creditCardName}}</span>
        <span class="right price ltr">
            {{((($root.cart.total.finalPriceWithTax + $root.cart.total.serviceFee.finalPriceWithTax + $root.cart.total.deliveryCost.finalPriceWithTax) -
                (!checkoutCtrl.summaryData.paymentMethod.isStandAlone && summaryCtrl.isUsedCashbackPoints ? summaryCtrl.availableUserCashback : 0) -
                (summaryCtrl.totalGiftCards || 0))  | roundCurrency)| currency}}
        </span>
        <div class="clear"></div>
        <div ng-if="summaryCtrl.redeemedGiftCardIds" ng-repeat="giftCardId in summaryCtrl.redeemedGiftCardIds">
            <span class="left price">{{giftCardId | paymentMethod | translate}}</span>
            <span class="right price ltr">{{summaryCtrl.redeemedGiftCards[giftCardId].amount | currency}}</span>
            <div class="clear"></div>
        </div>
    </div>
</div>
<div class="ebt-group"
     ng-if="checkoutCtrl.summaryData.paymentMethod.name === $root.SP_PAYMENTS.PAYMENT_METHODS.NAMES.EBT">
    <div class="summary-line sub-line">
        <span class="left price">{{'EBT SNAP' | translate}}</span>
        <span class="right price ltr">{{(!summaryCtrl.errorState.SNAP && checkoutCtrl.summaryData.ebt.fsAmount) ? checkoutCtrl.summaryData.ebt.fsAmount : 0 | currency}}</span>
        <div class="clear"></div>
    </div>
    <div class="summary-line sub-line" ng-if="summaryCtrl.ebtBranchSettings[summaryCtrl.ebtBranchSettings.branchId].eBTCashAllowed">
        <span class="left price">{{'EBT Cash' | translate}}</span>
        <span class="right price ltr">{{(!summaryCtrl.errorState.CASH && checkoutCtrl.summaryData.ebt.cbAmount) ? checkoutCtrl.summaryData.ebt.cbAmount : 0 | currency}}</span>
        <div class="clear"></div>
    </div>
    <div class="summary-line sub-line">
        <span class="left price">{{'Credit Card' | translate | creditCardName}}</span>
        <span class="right price ltr">
            {{(summaryCtrl.errorState.CASH || summaryCtrl.errorState.SNAP) ? 0 : ((($root.cart.total.finalPriceWithTax + $root.cart.total.serviceFee.finalPriceWithTax +
                $root.cart.total.deliveryCost.finalPriceWithTax) | roundCurrency) - summaryCtrl.ebtCalculatedAmounts.total.amountWithTax - summaryCtrl.ebtCalculatedAmounts.total.taxSaved) | currency}}
        </span>
        <div class="clear"></div>
    </div>
</div>

<div class="summary-line" ng-if="$root.config.retailer.settings.checkoutSummaryText && !$root.isCreditCustomer">
    <div class="retailer-text" ng-bind-html="$root.config.retailer.settings.checkoutSummaryText"></div>
</div>
