.dialog-wrapper .dialog.permanent-view-filters-dialog .dialog-body > section {
  header h4 {
    color: $highlightColor;
  }

  .content .store-icon {
    fill: $mainColor;
  }

  footer > button.main {
    background-color: $mainColor;
  }
}