<div  >

<div class="banner-container" ng-if="productTagProductsCtrl.productTagBanner.imageUrl" style="padding: 1em;">
    <a ng-if="productTagProductsCtrl.productTagBanner.imageUrl" class="banner-link"
        ng-attr-href="{{productTagProductsCtrl.productTagBanner.href}}" target="_blank">
        <img ng-src="{{productTagProductsCtrl.productTagBanner.imageUrl}}"
            />
    </a>
</div>

    <div class="specials specials-wrapper"  ng-if="productTagProductsCtrl.specials && productTagProductsCtrl.specials.length" ng-controller="PrutahTemplateSpecialsCtrl">
        <sp-items
                total = "productTagProductsCtrl.specialsTotal"
                banner-title="{{'Specials' | translate}}"
                items="productTagProductsCtrl.specials"
                no-results-message="{{'sorry_2' | translate}},<br/>{{"We couldn\'t find any specials" | translate}}"
                item-class="special-item"
                ng-class="{'new-promotion': $root.config.retailer.settings.isNewPromotionDesignEnabled === 'true'}"
                template-url="template/partials/special-item/index.html"
                on-click="productTagProductsCtrl.openSpecial($item, $index)">
        </sp-items>
    </div>


    <div ng-controller="PrutahTemplateProductTagProductsCtrl" class="category-products-wrapper" ng-class="{'products-container' :(productTagProductsCtrl.specials && productTagProductsCtrl.specials.length)}" >
        <sp-items
                total="productTagProductsCtrl.total"
                no-results-message="{{'No products found' | translate}}"
                design="$root.SP_ITEMS_DESIGNS.REGULAR"
                items="productTagProductsCtrl.products"
                banner-title="{{productTagProductsCtrl.productTag.languages | name:'displayName'}}"
                template-url="template/partials/product-item/index.html"
                item-class="product"
                ng-class="{'new-promotion': $root.config.retailer.settings.isNewPromotionDesignEnabled === 'true'}"
                on-click="productTagProductsCtrl.openProduct($item, $index)"
                back-btn="true"
                image-banner-present="productTagProductsCtrl.productTagBanner.imageUrl">
        </sp-items>
    </div>

</div>
