html.product-tag-products {
  .category-products-wrapper {
    .tag-message {
      padding: 1em;
    }
  }

  .banner-container {
    margin-top: 6.688em;

    +.category-product-container {
      .items-wrapper {
        padding-top: 0;
      }
    }

    .banner-link {
      display: block;
      width: 100%;
      height: fit-content;

      img {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: contain;
      }
    }
  }
}

.products-container {
  .items-wrapper {
    padding-top: 0!important;
  }
}

.specials sp-items:not(.new-promotion) .items-wrapper .item {
  height: 9.375em;
}
