.loading-dialog-wrapper {
  &.force-show {
    display: block !important;
  }

  .overlay, .dialog {
    @include fixed();
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .overlay {
    background-color: transparent;
    z-index: 998;
  }

  .dialog {
    text-align: center;
    z-index: 999;

    &.animated {
      @include animation(0.5s);
    }

    .dialog-body {
      display: inline-block;
      background-color: transparent;
      @include box-shadow(none);
      padding: 1em;
      margin: auto;
      vertical-align: middle;
      overflow: auto;
      min-height: 0;
      min-width: 0;
      max-width: 80%;
      max-height: 90%;
      @include border-radius(2px);
    }
  }
}

.loading-wrapper {
  display: none;
  text-align: center;

  img {
    display: inline-block;
    vertical-align: middle;
    max-width: 99%;
    max-height: 100%;
  }

  &.shown {
    display: block;
  }
}