
<div class="content form-wrapper">
    <form class="choose-area" ng-if="chooseAreaCtrl.visibleState === chooseAreaCtrl.chooseArea">
        <div ng-if="chooseAreaCtrl.chooseArea.foundAreas.length > 1">
           <h2 class="sub-title-1">{{chooseAreaCtrl.currentAdvancedAreaAvailabilitySettings.popupSecondSubTitle[chooseAreaCtrl.currentScenario.property] || (chooseAreaCtrl.currentScenario.defaultPopupSubTitlePickup | translate)}}</h2>
        </div>

        <div class="filter-areas-input-wrapper" ng-if="chooseAreaCtrl.chooseArea.foundAreas.length > 1">
            <svg focusable="false" class="search-icon">
                <use xlink:href="#sp-icons-search-v2"></use>
            </svg>
            <input type="text" class="advanced-area-input" style="border:0; border-bottom: 2px solid black; border-radius: unset" ng-model="chooseAreaCtrl.chooseAreaQuery" placeholder="{{:: 'Search' | translate}}"
                   ng-keydown="chooseAreaCtrl.onKeyDown($event)"/>
        </div>

        <div class="single-area" ng-if="chooseAreaCtrl.chooseArea.foundAreas.length === 1 || chooseAreaCtrl.isBranchNameHidden()">
            <div class="main-data" id="area_main_data">
                <div class="store-icon" ng-if="$root.config.multiRetailers">
                    <img ng-src="{{chooseAreaCtrl.chooseArea.foundAreas[0].branch.logoUrl || chooseAreaCtrl.chooseArea.foundAreas[0].retailer.logoUrl}}"
                         alt="{{'Branch Logo' | translate}}"/>
                </div>
                <svg focusable="false">
                    <use xlink:href="#sp-icons-delivery" ng-if="chooseAreaCtrl.chooseArea.foundAreas[0].deliveryTypeId === $root.SP_SERVICES.DELIVERY_TYPES.DELIVERY"></use>
                    <use xlink:href="#sp-icons-express-delivery" ng-if="chooseAreaCtrl.chooseArea.foundAreas[0].deliveryTypeId === $root.SP_SERVICES.DELIVERY_TYPES.EXPRESS_DELIVERY"></use>
                    <use xlink:href="#sp-icons-retailer-details" ng-if="chooseAreaCtrl.chooseArea.foundAreas[0].deliveryTypeId === $root.SP_SERVICES.DELIVERY_TYPES.PICKUP"></use>
                </svg>

                <div class="delivery-method-name">
                    {{:: ('delivery_type_' + chooseAreaCtrl.chooseArea.foundAreas[0].deliveryTypeId) | translate}}
                </div>

                <h1 class="title"
                    ng-bind="::(chooseAreaCtrl.chooseArea.isOnlyPickupResults ? ('Pickup service only' | translate) :
                    (!chooseAreaCtrl.chooseArea.isPickupButton ? ('Yes' | translate) + '!' :
                    (chooseAreaCtrl.chooseArea.foundAreas.length === 1 ? (('See you soon' | translate) + '!') : ('Select a store for pickup' | translate))))">
                </h1>

                <h2 class="sub-title secondary-font delivery-method-sub-title"
                    ng-bind="::(!chooseAreaCtrl.chooseArea.isPickupButton && !chooseAreaCtrl.chooseArea.isOnlyPickupResults ? 'We serve your area' :
                    (chooseAreaCtrl.chooseArea.foundAreas.length === 1 ? 'The order will wait for you at the store' : 'Choose the pickup location')) | translate">
                </h2>

                <span class="limit" ng-if="chooseAreaCtrl.chooseArea.foundAreas[0].deliveryItemsLimit">
                    {{:: ('Limited to {deliveryItemsLimit} products' | translate).replace('{deliveryItemsLimit}', chooseAreaCtrl.chooseArea.foundAreas[0].deliveryItemsLimit)}}
                </span>

                <span class="delivery-within-days" ng-if="chooseAreaCtrl.isShowDeliveryWithinDaysWarning(chooseAreaCtrl.chooseArea.foundAreas[0])">
                    <span class="limit">
                        {{::('Limited to products marked with "{tagName}" tag only' | translate)
                            .replace('{tagName}', (chooseAreaCtrl.deliveryWithinDaysTag.languages | name:'displayName'))}}
                    </span>
                </span>

                <div class="address">
                    <span ng-if="chooseAreaCtrl.isBranchNameHidden()">{{chooseAreaCtrl.area}}</span>
                    <span ng-if="!chooseAreaCtrl.isBranchNameHidden()">{{:: ('From Branch' | translate) + ': ' + ((chooseAreaCtrl.chooseArea.foundAreas[0].isPickupAddressDisplayed) ? (chooseAreaCtrl.chooseArea.foundAreas[0].name) : (chooseAreaCtrl.getBranchLocation(chooseAreaCtrl.chooseArea.foundAreas[0])))}}</span>
                </div>
            </div>

            <button id="continue_shopping_btn" type="button" ng-click="chooseAreaCtrl.chooseArea.submit(chooseAreaCtrl.chooseArea.foundAreas[0]);"
                    aria-describedby="area_main_data" ng-bind="chooseAreaCtrl.currentAdvancedAreaAvailabilitySettings.continueShoppingTextButton[1] || :: 'Continue Shopping' | translate"
                    ng-style="{'background-color': chooseAreaCtrl.bgColor, 'color': chooseAreaCtrl.textColor}"></button>
        </div>

        <div class="areas-list" ng-class="{'store-list': chooseAreaCtrl.chooseArea.foundAreas.length > 5}" ng-if="chooseAreaCtrl.chooseArea.foundAreas.length > 1 && !chooseAreaCtrl.isBranchNameHidden()">
            <div ng-repeat="foundArea in chooseAreaCtrl.chooseArea.foundAreas | filter:chooseAreaCtrl.filterFoundAreas | orderBy:'-preferredRetailerSort'" tabindex="0">
                <div class="icons">
                    <div class="store-icon">
                        <img ng-src="{{chooseAreaCtrl.currentAdvancedAreaAvailabilitySettings.storeIcon || chooseAreaCtrl.defaultStoreIcon}}"
                             alt="{{'Branch Logo' | translate}}"/>
                    </div>
                </div>
                <div class="main-info">
                    <!-- <div class="main-row">
                        {{::('delivery_type_' + foundArea.deliveryTypeId) | translate}}
                    </div> -->
                    <span class="limit" ng-if="foundArea.deliveryItemsLimit">
                        {{::('Limited to {deliveryItemsLimit} products' | translate).replace('{deliveryItemsLimit}', foundArea.deliveryItemsLimit)}}
                    </span>
                    <span class="delivery-within-days" ng-if="chooseAreaCtrl.isShowDeliveryWithinDaysWarning(foundArea)">
                        <span class="limit">
                            {{::('Limited to products marked with "{tagName}" tag only' | translate)
                                .replace('{tagName}', (chooseAreaCtrl.deliveryWithinDaysTag.languages | name:'displayName'))}}
                        </span>
                    </span>
                    <div class="address" ng-if="foundArea.deliveryTypeId === $root.SP_SERVICES.DELIVERY_TYPES.PICKUP">
                        {{::chooseAreaCtrl.getBranchLocation(foundArea)}}
                    </div>
                    <div class="address" ng-if="foundArea.deliveryTypeId !== $root.SP_SERVICES.DELIVERY_TYPES.PICKUP">
                        {{::foundArea.branch.name}}
                    </div>
                    <div class="description main-color" ng-if="foundArea.deliveryTypeId !== $root.SP_SERVICES.DELIVERY_TYPES.PICKUP">
                        {{::foundArea.name}}
                    </div>
                    <div class="description main-color" ng-if="foundArea.deliveryProviderId === $root.SP_SERVICES.DELIVERY_PROVIDERS.MANUAL">
                        {{::foundArea.providerName}}
                    </div>
                </div>
                <button type="button" class="button-choose advanced-area-btn" ng-click="chooseAreaCtrl.chooseArea.submit(foundArea);"
                        aria-label="{{::('Choose' | translate) + ' ' + (foundArea.deliveryTypeId === $root.SP_SERVICES.DELIVERY_TYPES.PICKUP ? chooseAreaCtrl.getBranchLocation(foundArea) : foundArea.branch.name)}}"
                        ng-bind=":: 'Choose' | translate"
                        ng-style="{'background-color': chooseAreaCtrl.bgColor, 'color': chooseAreaCtrl.textColor}"></button>
            </div>
        </div>

        <div class="not-found-area-message popup-sub-title" role="alert" aria-relevant="additions"
             ng-if="!(chooseAreaCtrl.chooseArea.foundAreas | filter:chooseAreaCtrl.filterFoundAreas).length">
             
             {{'Unfortunately we didn\'t find any stores in this area' | translate}}<br/><br/>
            {{'Try a different area name' | translate}}
        </div>
    </form>

</div>
