$color: #666666;
$borderColor: #dadada;
$border: 1px solid #c2c2c2;

.advanced-area-availability {

  .filter-areas-input-wrapper {
      position: relative;
    
      .search-icon {
        width: 5%;
        height: 1.25em;
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        transform: translateY(-50%);
        color: silver;
      }

      .advanced-area-input {
        padding-left: 1.5em;

        .rtl & {
          padding-right: 1.5em;
        }
      }
    }

  .form-wrapper {
    background-color: white;
    padding: 5px;

    .single-area {
      padding-top: 1em;
      
      .main-data {
        >svg {
          height: 3.8125em;
          width: 100%;
          fill: #505050;
        }
  
        .delivery-method-name {
          font-size: 1.125em;
          font-weight: 700;
          margin: .5em 0 1.5em 0;
        }
  
        .delivery-method-sub-title {
          font-size: 1.3em;
          font-weight: 600;
          padding-top: .3em;
        }
  
        .address {
          font-size: .875em;
          margin-bottom: 2em;
          width: 100%;
        }
      }
    }
  }

  .popup-sub-title {
    margin-top: 10px;
  }

  .delivery-method-sub-title {
    font-size: 1.3em;
    font-weight: 600;
    padding-top: 0.3em;
  }

    .areas-list {
      max-height: 24em;
      overflow-y: scroll;
      margin-top: 1em;
      &::-webkit-scrollbar {
        background-color: transparent;
        width: 8px;
      }

      &::-webkit-scrollbar-thumb {
        @include border-radius(5px);
        background-color: rgba(96, 96, 96, 0.2);

        &:hover, &:focus-within {
          background-color: rgba(96, 96, 96, 0.7);
        }

        &:active {
          background-color: rgba(96, 96, 96, 1);
        }
      }

      >div {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0;
        border-bottom: $border;
        height: 4em;
        box-sizing: border-box;
        color: #282828;
  
        >* {
          flex: 0 0 auto;
        }
  
        >.icons {
          .store-icon {
            width: 4.25em;
            height: 1.875em;
  
            img {
              width: 4.25em;
              height: 1.875em;
            }
          }
  
          $chooseAreaSvgPaddingRight: 1em;
  
          .ltr & {
            padding-right: $chooseAreaSvgPaddingRight;
          }
  
          .rtl & {
            padding-left: $chooseAreaSvgPaddingRight;
          }
  
          >svg {
            width: 4.25em;
            height: 1.875em;
            fill: #616161;
          }
        }
  
        >div.main-info {
          flex: 1 1 auto;
  
          .ltr & {
            text-align: left;
          }
  
          .rtl & {
            text-align: right;
          }
  
          >* {
            font-size: 0.875em;
            width: 100%;
          }
  
          >.main-row {
            font-size: 1.125em;
            font-weight: bold;
            padding-bottom: 0.27778em;
          }
  
          .limit {
            display: inline-block;
            vertical-align: top;
            width: auto;
          }
  
          .delivery-within-days {
            padding: 0.2em 0;
  
            .limit {
              display: inline;
            }
  
            .ltr & {
              margin-right: 1em;
            }
  
            .rtl & {
              margin-left: 1em;
            }
          }
  
          .description,
          .address {
            margin-top: 0.4286em;
          }
  
          .description {
            font-weight: bold;
          }
  
          .address {
            color: #737373;
          }
        }
  
        >div.secondary-info {
          font-size: 0.875em;
          width: 10.1429em;
        }
      }

      .advanced-area-btn{
        min-width: 5em;
      }
    }
    
  .rtl .dialog-wrapper .dialog.choose-area-dialog .dialog-body > .content > form > button.back {
    text-align: right;
  }

}
