<div class="coupon"
    ng-class="{'coupon-used': !!$root.cart.specialReminders.onCoupons[item.special.id] || (!$root.cart.specialReminders.onCoupons[item.special.id] && item.isclipped)}">
    <product-image product="item" image-url="item.special.frontendImageUrl" size="medium"></product-image>
    <span class="audience bg-main-color"
        ng-if="item.loyaltyClubId !== $root.LOYALTY_CLUB_DRIVERS.CHIPPER && (item.special.icons[item.special.loyaltyClubsIds[0]][$root.config.language.id].description || item.special.icons[item.loyaltyClubsIds[0]][2].description)"
        ng-bind="item.special.icons[item.special.loyaltyClubsIds[0]][$root.config.language.id].description || item.special.icons[item.loyaltyClubsIds[0]][2].description">
    </span>
    <img class="audience"
        ng-if="item | productMainTag:$root.PermanentFilters.values[$root.PermanentFilters.TYPES.PRODUCT_TAGS]"
        ng-src="{{(item | productMainTag:$root.PermanentFilters.values[$root.PermanentFilters.TYPES.PRODUCT_TAGS]).languages | name:'iconResourceUrl'}}"
        alt="{{(item | productMainTag:$root.PermanentFilters.values[$root.PermanentFilters.TYPES.PRODUCT_TAGS]).languages | name:'displayName'}}" />
</div>

<div ng-if="item.pointrequirement" class="clip-price">
    {{'Clip for' | translate}}
    <span>{{item.pointrequirement}}</span>
    <svg focusable="false" ng-if="!$root.config.retailer.settings.loyaltyPointsIcon">
        <use xlink:href="#sp-icons-coupon-coin"></use>
    </svg>
    <img ng-if="$root.config.retailer.settings.loyaltyPointsIcon"
        ng-src="{{$root.config.retailer.settings.loyaltyPointsIcon}}" />
</div>

<div class="name-wrapper bg-main-color" ng-if="$root.util.showCouponDescription()">
    <span class="name">{{item.couponName || item.localName}}</span>
    <span class="terms">{{item.description}}</span>
</div>

<div class="name bg-main-color" ng-if="!$root.util.showCouponDescription()" ellipsis title="{{item.couponName || item.localName}}"></div>

<div class="heart"
    ng-if="!item.externalCoupon && !(item | productMainTag:$root.PermanentFilters.values[$root.PermanentFilters.TYPES.PRODUCT_TAGS])">
</div>
<svg class="scissors main-color" focusable="false">
    <use xlink:href="#sp-icons-coupon-scissors"></use>
</svg>

<div class="alert-wrapper" ng-if="$root.config.retailer.settings.showCouponsAlerts === 'true'">
    <div class="alert"
        ng-if="$root.config.retailer.settings.showAlmostExpiredCouponAlert === 'true' && item.expireInDays >= 0">
        <div class="icon">
            <svg focusable="false">
                <use xlink:href="#sp-icons-coupon-alert-clock"></use>
            </svg>
        </div>
        <span ng-if="item.expireInDays === 0">{{'Coupon expires today' | translate}}</span>
        <span ng-if="item.expireInDays > 0">
            {{('Coupon expires in {x} days' | translate).replace('{x}', item.expireInDays)}}
        </span>
    </div>

    <div class="alert"
        ng-if="$root.config.retailer.settings.showAddedButNotClippedCouponAlert === 'true' && !!$root.cart.specialReminders.onProducts[item.special.id] && !$root.cart.specialReminders.onProducts[item.special.id].awarded">
        <div class="icon">
            <svg focusable="false">
                <use xlink:href="#sp-icons-coupon-alert-scissors"></use>
            </svg>
        </div>
        <span>{{'Product in cart' | translate}}. <strong>{{'Clip coupon' | translate}}</strong></span>
    </div>

    <div class="alert"
        ng-if="$root.config.retailer.settings.showClippedButNotAddedCouponAlert === 'true' && !!$root.cart.specialReminders.onCoupons[item.special.id] && !$root.cart.specialReminders.onCoupons[item.special.id].awarded">
        <div class="icon">
            <svg focusable="false">
                <use xlink:href="#sp-icons-coupon-alert-cart"></use>
            </svg>
        </div>
        <span>{{'Coupon clipped' | translate}}. <strong>{{'Add product' | translate}}</strong></span>
    </div>
</div>

<div class="bottom">
    <div class="expiration"
        ng-bind=":: ('Valid' | translate) + ' ' + ((item.couponEndDate < item.special.endDate ? item.couponEndDate : item.special.endDate) | date: ($root.config.isUs ? 'MM/dd/yyyy' : 'dd/MM/yyyy'):'UTC')">
    </div>
    <div class="realizations" ng-if="item.remainingredemptions"
        ng-bind="item.remainingredemptions === 1 ? ('Can be redeemed once' | translate) : ('Can be redeemed {x} times' | translate).replace('{x}', item.remainingredemptions)">
    </div>
    <div ng-if="item.terms" class="terms" ng-bind="'Terms' | translate"
        ng-click="$root.util.showCouponDetailsDialog(item, true); $event.stopPropagation();">
    </div>
</div>

<button class="add-to-cart" ng-class="{'disabled': item.notEnoughPoints}" ng-disabled="item.notEnoughPoints"
    ng-bind="item.notEnoughPoints ? ('Not enough points' | translate) : item.pointrequirement ? ('Clip for {x} points' | translate).replace('{x}', item.pointrequirement) : ('Clip & Add' | translate)"
    ng-if="!$root.cart.specialReminders.onCoupons[item.special.id] && !item.isclipped"
    ng-click="$root.cart.addLine({product: item, type: $root.SP_SERVICES.CART_LINE_TYPES.COUPON, metaData: item.id, isCouponPriceZero: $root.config.retailer.isCouponPriceZero, quantity: item.couponAvailableQuantity || 1}); $event.stopPropagation();">
</button>
<button class="add-to-cart" ng-bind="'Add' | translate"
    ng-if="!$root.cart.specialReminders.onCoupons[item.special.id] && item.isclipped"
    ng-click="$root.cart.addLine({product: item, type: $root.SP_SERVICES.CART_LINE_TYPES.COUPON, metaData: item.id, isCouponPriceZero: $root.config.retailer.isCouponPriceZero, quantity: item.couponAvailableQuantity || 1}); $event.stopPropagation();">
</button>
<button class="add-to-cart" ng-bind="'Add products' | translate"
    ng-if="!!$root.cart.specialReminders.onCoupons[item.special.id] && !$root.cart.specialReminders.onCoupons[item.special.id].awarded">
</button>
