.coupon-item {
  position: relative;
  padding: 0.25em;
  box-sizing: border-box;
  vertical-align: top;
  cursor: pointer;

  > div.coupon {
    $padding: 0.3125em;

    position: relative;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: $padding;
    box-sizing: border-box;
    text-align: center;
    border: 1px dashed #505050;

    > .audience {
      position: absolute;
      top: 7.5em;
      left: 1em;
      border-radius: 4px;
      border: 1px solid;
      font-size: 15px;
      color: #ffffff;

      .rtl & {
        right: 1em;
        left: auto;
      }
    }

    > span.audience {
      padding: 0.3em 0.5em;
    }

    > img.audience {
      height: 24px;
      top: 6.25em;
    }

    > .image-wrapper {
      width: 90%;
      height: auto;
      flex: 1 1 auto;
      margin: 6.75em auto 3.5em;
    }

    &.coupon-used {
      opacity: 0.5;

      $color: rgba(0, 0, 0, 0.3);
      background: repeating-linear-gradient(
        135deg,
        $color,
        $color 2px,
        transparent 1px,
        transparent 8px
      );

      > div.bottom > div.valid-until {
        opacity: 1;
      }
    }
  }

  > div.clip-price {
    width: 100%;
    position: absolute;
    left: 0;
    top: 9.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column-gap: 0.25em;
    font-size: 10px;

    > span {
      font-size: 18px;
    }

    > svg,
    > img {
      width: 2.25em;
      height: 2.25em;
    }
  }

  > div.name-wrapper {
    height: 2.75em;
    position: absolute;
    top: 0.5em;
    left: 0.5em;
    right: 0.5em;
    padding: 1em;
    text-align: center;
    color: #ffffff;
    overflow: hidden;

    > span.name {
      @include ellipsis(2);
      font-weight: 700;
    }

    > span.terms {
      @include ellipsis(2);
      font-size: 0.75em;
      margin-top: 0.3em;
      line-height: 1.2em;
    }
  }

  > div.name {
    height: 2.75em;
    position: absolute;
    top: 0.5em;
    left: 0.5em;
    right: 0.5em;
    padding: 1em;
    text-align: center;
    font-weight: 700;
    color: #ffffff;
    overflow: hidden;
  }

  > div.heart {
    width: 8px;
    height: 8px;
    position: absolute;
    top: 1em;
    left: 1em;
    transform: rotate(45deg);
    background-color: #ffffff;

    &:before,
    &:after {
      width: 8px;
      height: 8px;
      position: absolute;
      border-radius: 50%;
      background-color: #ffffff;
      content: "";
    }

    &:before {
      bottom: 0px;
      left: -5px;
    }

    &:after {
      top: -5px;
      right: 0px;
    }

    .rtl & {
      right: 1em;
      left: auto;
    }
  }

  > svg.scissors {
    width: 2.7em;
    height: 2em;
    position: absolute;
    top: 4.25em;
    left: 50%;
    transform: translateX(-50%);
    fill: #ffffff;

    html.rtl & {
      transform: translateX(-50%) scaleX(-1);
    }
  }

  > .alert-wrapper {
    > .alert {
      min-height: 26px;
      line-height: 16px;
      position: absolute;
      bottom: 5.25em;
      left: 0.75em;
      right: 0.75em;
      display: flex;
      align-items: center;
      grid-column-gap: 0.5em;
      padding: 4px 0.5em;
      border-radius: 0.25em;
      font-size: 12px;
      font-weight: bold;
      color: #ff5553;
      background-color: #ffebeb;

      span {
        font-weight: 400;
      }

      > .icon {
        width: 20px;
        min-width: 20px;
        height: 20px;
        min-height: 20px;
        display: grid;
        border-radius: 50%;
        background-color: #ff5553;

        > svg {
          width: 12px;
          height: 12px;
          margin: auto;
          fill: #ffebeb;
        }
      }
    }
  }

  > div.bottom {
    width: 100%;
    height: 3em;
    position: absolute;
    left: 0;
    bottom: 0.5em;

    > * {
      transition: opacity 0.4s;
    }

    > .expiration,
    > .realizations {
      text-align: center;
      line-height: 16px;
      font-size: 14px;
      color: #505050;
    }

    > .terms {
      text-align: center;
      line-height: 20px;
      font-size: 12px;
      text-decoration: underline;
      color: #929497;
      cursor: pointer;
    }
  }

  > button.add-to-cart {
    width: -moz-available;
    height: 2.25em;
    position: absolute;
    left: 0.5em;
    right: 0.5em;
    bottom: 1.5em;
    padding: 0;
    opacity: 0;

    &.disabled {
      background-color: #a5a5a6;
    }
  }

  &:hover > button.add-to-cart {
    opacity: 1;
  }

  &:focus-within > button.add-to-cart {
    opacity: 1;
  }

  &:not(:hover) > button.add-to-cart {
    opacity: 0;
  }

  &.with-terms {
    > div.name-wrapper {
      height: 4em;
    }

    > div.coupon {
      > .audience {
        top: 8.75em;
      }

      > .image-wrapper {
        margin: 8em auto 4.5em;
      }
    }

    > div.clip-price {
      top: 11.5em;
    }

    > svg.scissors {
      top: 5.5em;
    }
  }
}
