<div class="header">
    <button type="button" ng-click="registerCtrl.backToLogin()" class="arrow-btn">
        <svg class="back-ico">
            <use xlink:href="#sp-icons-arrow-left-v2"></use>
        </svg>
    </button>

    <button type="button" ng-click="registerCtrl.backClose()" class="close-btn">
        <svg class="close-ico">
            <use xlink:href="#sp-icons-close"></use>
        </svg>
    </button>
</div>

<div class="retailer-logo">
    <img ng-src="{{::$root.config.retailer.logoUrl | image}}" />
</div>

<form class="form" name="registerForm" ng-submit="registerCtrl.register(registerForm, $event);" ng-if="!registerCtrl.userLogin" autocomplete="one-time-code">
    <h4 class="title" ng-style="{'color': loginOrRegisterCtrl.signupFormTitleColor}">{{loginOrRegisterCtrl.signupFormTitle || ('New here? Sign up' | translate)}}</h4>

    <p class="addons-text">
        {{::'Already have an account?' | translate}}
        <button type="button" class="link-btn" ng-click="registerCtrl.backToLogin()">{{::'Log in' | translate}}</button>
    </p>

    <p class="subtitle" ng-style="{'color': loginOrRegisterCtrl.signupFormSubtitleColor}">{{loginOrRegisterCtrl.signupFormSubtitle || ('Registering to the website automatically registers to Tiv Taam club without any cost or obligations' | translate)}}</p>

    <div class="user-activation-required" ng-if="registerCtrl.showSuccessMessage">
        {{'Your account requires activation.' | translate}} </br>
        {{'email with activation link have been sent to your email.' | translate}}
        <div>
            <span>{{('The link is valid for {link_ttl} minutes' | translate).replace('{link_ttl}', $root.config.retailer.settings.userEmailVerificationExpirationMinutes)}}</span>
            <button type="button" ng-click="registerCtrl.resendActivationLink(registerForm, $event)" class="no-design resend-activation-link">
                {{'Didn\'t receive an email' | translate}}? - {{'Send again' | translate}}
            </button>
        </div>
    </div>

    <sp-input class="floating-label" ng-repeat-start="field in loginOrRegisterCtrl.allRegistrationFields" 
    ng-if="field.type === 'text' || field.type === 'email' || field.type === 'password' || field.type === 'number'" 
    ng-class="{'has-errors': (registerForm[field.label].$touched || registerForm.$submitted) && registerForm[field.label].$invalid}">
        <label for="{{field.model}}">{{field.label | translate}} {{field.isRequired ? '*' : ''}}</label>
        <input flex="grow" id="{{field.model}}" autocomplete="one-time-code"
        name="{{field.label}}" 
        type="{{field.type}}" 
        ng-model="loginOrRegisterCtrl.user[field.model]" 
        ng-required="field.isRequired" 
        ng-pattern="field.match.regexp" 
        ng-minlength="field.minLength" 
        ng-maxlength="field.maxLength"
        confirm-password="loginOrRegisterCtrl.user.password" />
        <button type="button" class="ico-btn" ng-if="field.type === 'password'">
            <svg class="eye-off-ico">
                <use xlink:href="#sp-icons-eye-off"></use>
            </svg>
        </button>
        <div class="error-message" 
        ng-messages="(registerForm[field.label].$touched || registerForm.$submitted) && registerForm[field.label].$error" 
        ng-if="registerForm[field.label].$invalid" aria-live="off">
            <div ng-message="minlength" role="alert" ng-bind=":: field.minLengthErrMessage | translate"></div>
            <div ng-message="maxlength" role="alert" ng-bind=":: field.maxLengthErrMessage | translate">
            </div>
            <div ng-message="required" role="alert" ng-bind=":: (('Please enter' | translate) + ' ' + (field.label | translate)) | translate">
            </div>
            <div ng-message="email" role="alert" ng-bind=":: 'Please enter a valid email address' | translate"></div>
            <div ng-message="pattern" role="alert" ng-bind=":: field.match.errorMessage | translate">
            </div>
            <div ng-message="equal" role="alert" ng-bind=":: 'Please confirm password' | translate">
            </div>
        </div>
    </sp-input>

    <div class="dropdown-container" 
    ng-if="field.type === 'radio'" 
    ng-class="{'active': openDropdown}">
        <div class="selected-option" ng-click="openDropdown = !openDropdown">
            <span>{{(loginOrRegisterCtrl.selectedOption ? loginOrRegisterCtrl.selectedOption.label : field.label) | translate}}</span>
            <svg class="ico-arrow">
                <use xlink:href="#sp-icons-arrow-down"></use>
            </svg>
    
            <div ng-if="openDropdown" class="option-list-container">
                <div class="option-list-inner-wrapper">
                    <div class="option-item-container" 
                    ng-repeat="opt in field.options" 
                    ng-click="loginOrRegisterCtrl.onSelect(field.model, opt)">
                        {{opt.label | translate}}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <sp-input class="floating-label" ng-repeat-end="" ng-if="field.type === 'date'">
        <label for="{{field.label}}">{{field.label | translate}} {{field.isRequired ? '*' : ''}}</label>
        <input flex="grow" type="date" ng-model="loginOrRegisterCtrl.user[field.model]" name="{{field.label}}" ng-required="{{!!field.isRequired}}" />
    </sp-input>

    <sp-captcha ng-if="registerCtrl.showCaptcha" is-invalid="registerCtrl.captchaIsInvalid"></sp-captcha>

    <sp-checkbox id="termsAndConditionsText" sp-model="loginOrRegisterCtrl.user.policyApproval" i-name="policyApproval" i-form="registerForm">
        <span ng-bind-html="loginOrRegisterCtrl.termsAndConditionsText"></span>
    </sp-checkbox>
    <sp-checkbox id="promotionText" sp-model="loginOrRegisterCtrl.user.allowSendPromotions" i-name="allowSendPromotions" i-form="registerForm">
        <span ng-bind-html="loginOrRegisterCtrl.promotionText"></span>
    </sp-checkbox>
    <sp-checkbox id="loyaltyTermsText" sp-model="loginOrRegisterCtrl.user.byLaws" i-name="byLaws" i-form="registerForm">
        <span ng-bind-html="loginOrRegisterCtrl.loyaltyTermsText"></span>
    </sp-checkbox>

    <div class="server-err-msg" role="alert" aria-live="assertive" ng-if="!registerCtrl.showSuccessMessage"></div>
    
    <button type="submit" class="block" ng-disabled="registrationInProcess" ng-style="{'color': loginOrRegisterCtrl.signupFormBtnTextColor}">{{loginOrRegisterCtrl.signupFormBtnText || ('Sign up' | translate)}}</button>
</form>

<div class="after-register" ng-if="registerCtrl.userLogin">
    <div>{{::'Registration Completed' | translate}}</div>
    <button type="button" ng-click="registerCtrl.hideDialog()">{{::'Continue Shopping' | translate}}</button>
</div>