<div class="extended-loyalty">
    <div class="header" ng-style="{'background-color': extendedLoyaltyCtrl.loyaltyClubDriver.clientConfig.extendedLoyaltyClubBackgroundColor}">
        <div class="image-wrapper">
            <img ng-src="{{extendedLoyaltyCtrl.loyaltyClubDriver.clientConfig.banners.desktopExtendedLoyaltyClubRegister}}" alt="{{extendedLoyaltyCtrl.loyaltyClubDriver.clientConfig.alt}}"/>
        </div>
        <div class="text-wrapper"
             ng-class="{'extra-padding': extendedLoyaltyCtrl.currentLevel === extendedLoyaltyCtrl.registrationLevels.REGISTER_SUCCESS ||
             extendedLoyaltyCtrl.currentLevel === extendedLoyaltyCtrl.registrationLevels.REGISTERED}">
            <h1 class="title" ng-if="extendedLoyaltyCtrl.title"
                id="page_title"
                ng-style="{'color': (extendedLoyaltyCtrl.loyaltyClubDriver.clientConfig.extendedLoyaltyClubMainTitleColor || '#000000')}"
                ng-bind="extendedLoyaltyCtrl.title">
            </h1>
            <h2 class="description" ng-if="extendedLoyaltyCtrl.description"
                ng-style="{'color': (extendedLoyaltyCtrl.loyaltyClubDriver.clientConfig.extendedLoyaltyClubDescriptionColor || '#000000')}"
                ng-bind="extendedLoyaltyCtrl.description">
            </h2>
        </div>
    </div>

    <span class="right contact-phone" ng-if="$root.config.retailer.contactPhone">{{('Customer service' | translate) + ': ' + $root.config.retailer.contactPhone}}</span>

    <div class="content">
        <form sp-form-accessibility name="loyaltyForm"
              ng-if="extendedLoyaltyCtrl.currentLevel === extendedLoyaltyCtrl.registrationLevels.LOYALTY ||
                    (extendedLoyaltyCtrl.isUserLoggedIn && extendedLoyaltyCtrl.currentLevel === extendedLoyaltyCtrl.registrationLevels.REGISTER)"
              ng-submit="extendedLoyaltyCtrl.next(loyaltyForm, extendedLoyaltyCtrl.isUserLoggedIn ? extendedLoyaltyCtrl.registrationLevels.REGISTER : extendedLoyaltyCtrl.registrationLevels.WEBSITE, $event)"
              novalidate>
            <h3>{{'1. ' +('Loyalty club details' | translate)}}</h3>

            <div class="server-err-msg"></div>

            <div class="input-wrapper">
                <label class="input-desc" for="first_name">{{::'First name' | translate}}*</label><!--
                --><input type="text" id="first_name" name="firstName" ng-model="extendedLoyaltyCtrl.registerData.firstName" required
                          sp-inline-error/>
            </div>
            <div class="input-wrapper">
                <label class="input-desc" for="last_name">{{::'Last name' | translate}}*</label><!--
                --><input type="text" id="last_name" name="lastName" ng-model="extendedLoyaltyCtrl.registerData.lastName" required
                          sp-inline-error/>
            </div>
            <div class="input-wrapper">
                <label class="input-desc" for="personal_id">{{::'Personal ID' | translate}}*</label><!--
                --><input type="text" id="personal_id" name="personalId" maxlength="9" minlength="9" ng-pattern="/^[0-9]*$/"
                          ng-model="extendedLoyaltyCtrl.registerData.personalId" required sp-inline-error/>
            </div>
            <div class="input-wrapper">
                <span class="input-desc" id="gender">{{::'Gender' | translate}}</span>
                <sp-radio class="gender-buttons"
                          role="radiogroup"
                          aria-labelledby="gender"
                          sp-model="extendedLoyaltyCtrl.registerData.gender"
                          options="extendedLoyaltyCtrl.radioOptions">
                </sp-radio>
            </div>
            <div class="input-wrapper">
                <label class="input-desc" for="birth_date_input">{{::'Birth date' | translate}}</label><!--
                --><input id="birth_date_input" type="date" ng-format="{{$root.isUs ? 'MM/dd/yyyy' : 'dd/MM/yyyy'}}" ng-model="extendedLoyaltyCtrl.registerData.birthDate"/>
            </div>
            <div class="input-wrapper">
                <label class="input-desc" for="home_phone_number_input">{{::'Mobile phone' | translate}}*</label><!--
                --><input name="phoneNum" id="home_phone_number_input" type="tel" ng-model="extendedLoyaltyCtrl.registerData.phoneNum"
                          ng-pattern="/^\(?\+?(\d[\s,\-,(,),,,]*){10,12}$/" required sp-inline-error/>
            </div>
            <div class="input-wrapper">
                <label class="input-desc" for="city">{{::'City' | translate}}*</label><!--
                --><input type="text" id="city" name="city" ng-model="extendedLoyaltyCtrl.registerData.city" required
                          sp-inline-error autocomplete="off"/>
                <sp-autocomplete sp-model="extendedLoyaltyCtrl.registerData.city"
                                 sp-get-options="userEditCtrl.getCityAutoCompleteOptions(extendedLoyaltyCtrl.registerData.city)"
                                 sp-require-match="true">
                </sp-autocomplete>
            </div>
            <div class="input-wrapper">
                <label class="input-desc" for="street">{{::'Street' | translate}}</label><!--
                --><input type="text" id="street" name="street" ng-model="extendedLoyaltyCtrl.registerData.street"/>
            </div>
            <div class="input-wrapper">
                <label class="input-desc" for="house_num">{{::'House number' | translate}}</label><!--
                --><input type="number" max="3000" id="house_num" name="houseNum" ng-model="extendedLoyaltyCtrl.registerData.houseNum"
                          sp-inline-error/>
            </div>
            <div class="input-wrapper">
                <sp-checkbox sp-model="extendedLoyaltyCtrl.registerData.allowSendPromotions">{{::'Please let me know about promotions on Site and Club' | translate}}</sp-checkbox>
            </div>
            <div class="input-wrapper">
                <sp-checkbox sp-model="extendedLoyaltyCtrl.registerData.bylaws" i-name="loyaltyPolicyApproval" sp-change="loyaltyPolicyApproval = '';" i-sp-inline-error i-sp-inline-error-attach-to-parent="label">
                    {{('loyalty_terms_confirm' | translate) + ' '}}
                    <a class="terms-link" ui-sref="app.loyaltyTerms" ng-bind="'loyalty TERMS' | translate"></a>
                    {{' *'}}
                </sp-checkbox>
            </div>
            <button type="submit">{{::(extendedLoyaltyCtrl.isUserLoggedIn ? 'Join Club' : 'Continue') | translate}}</button>
        </form>

        <form sp-form-accessibility name="websiteForm"
              ng-if="extendedLoyaltyCtrl.currentLevel === extendedLoyaltyCtrl.registrationLevels.WEBSITE ||
                    (!extendedLoyaltyCtrl.isUserLoggedIn && extendedLoyaltyCtrl.currentLevel === extendedLoyaltyCtrl.registrationLevels.REGISTER)"
              ng-submit="extendedLoyaltyCtrl.next(websiteForm, extendedLoyaltyCtrl.registrationLevels.REGISTER, $event)" novalidate>
            <h3>{{'2. ' +('Website Registration' | translate)}}</h3>

            <div class="server-err-msg"></div>

            <div class="input-wrapper">
                <span class="input-desc">{{::'Email' | translate}}*</span><!--
                --><input type="email" id="email" name="email" ng-model="extendedLoyaltyCtrl.registerData.email"
                          required sp-inline-error/>
            </div>
            <div class="input-wrapper">
                <span class="input-desc">{{::'Password' | translate}}*</span><!--
                --><sp-password sp-model="extendedLoyaltyCtrl.registerData.password" i-name="password" i-id="password"
                             sp-minlength="6" sp-maxlength="30" sp-pattern="/(?=.*[0-9])(?=.*[^0-9])/" required i-sp-inline-error></sp-password>
            </div>
             <div class="input-wrapper">
                <span class="input-desc">{{::'Confirm Password' | translate}}*</span><!--
                 --><sp-password sp-model="extendedLoyaltyCtrl.registerData.confirmPassword" i-name="confirmPassword"
                                 i-id="confirm_password" required i-sp-inline-error></sp-password>
             </div>
            <sp-captcha is-invalid="extendedLoyaltyCtrl.captchaIsInvalid" ng-if="extendedLoyaltyCtrl.showCaptcha"></sp-captcha>
            <div class="input-wrapper">
                <sp-checkbox sp-model="extendedLoyaltyCtrl.registerData.policyApproval" i-name="policyApproval" sp-change="policyApprovalError = '';" i-sp-inline-error i-sp-inline-error-attach-to-parent="div">
                    {{('I agree to the' | translate) + ' '}}
                    <a class="terms-link" ui-sref="app.termsAndConditions" ng-bind="'Terms & Conditions' | translate"></a>
                    {{'and the' | translate}}
                    <a class="terms-link" ui-sref="app.policies" ng-bind="'Privacy Policy' | translate"></a>
                    {{('policy_end' | translate) + ' *'}}
                </sp-checkbox>
            </div>
            <button type="submit">{{::'REGISTER' | translate}}</button>
        </form>

        <div class="customer-details" ng-if="extendedLoyaltyCtrl.currentLevel === extendedLoyaltyCtrl.registrationLevels.REGISTER_SUCCESS ||
            extendedLoyaltyCtrl.currentLevel === extendedLoyaltyCtrl.registrationLevels.REGISTERED">
            <div class="customer-card" tabindex="0" aria-live="{{extendedLoyaltyCtrl.registerSuccess ? 'assertive' : 'false'}}" aria-relevant="additions">
                <div class="logo-wrapper">
                    <img alt="{{extendedLoyaltyCtrl.loyaltyClubDriver.clientConfig.alt}}" ng-src="{{:: extendedLoyaltyCtrl.loyaltyClubDriver.clientConfig.banners.mobileExtendedLoyaltyClubCardLogo}}"/>
                </div>
                <div>
                    <span>{{('Club member name' | translate) + ': '}}</span>
                    <span>{{(extendedLoyaltyCtrl.userData.firstName + ' ' + extendedLoyaltyCtrl.userData.lastName)}}</span>
                </div>
                <div>
                    <span>{{('mobile phone' | translate) + ': '}}</span>
                    <span>{{extendedLoyaltyCtrl.userData.phones[0].phoneNumber}}</span>
                </div>
                <div>
                    <span>{{('customer id' | translate) + ': '}}</span>
                    <span>{{extendedLoyaltyCtrl.userData.loyaltyClubCardId}}</span>
                </div>
                <div>
                    <span>{{('Expiration date' | translate) + ': '}}</span>
                    <span>{{extendedLoyaltyCtrl.userData.loyaltyClubExpiration | date: $root.config.language.culture === 'en' ? 'MM/dd/yyyy' : 'dd/MM/yyyy'}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="specials-carousel" ng-if="extendedLoyaltyCtrl.currentLevel === extendedLoyaltyCtrl.registrationLevels.REGISTER_SUCCESS || extendedLoyaltyCtrl.currentLevel === extendedLoyaltyCtrl.registrationLevels.REGISTERED">
        <span class="left"> {{('{clubname} Special Deals' | translate).replace('{clubname}', ($root.config.retailer.loyaltyClubDriver.name ? $root.config.retailer.loyaltyClubDriver.name : ('membership_club' | translate)))}}</span>
        <sp-carousel
                template-url="template/views/home/partials/special-carousel/index.html"
                load-more-items="extendedLoyaltyCtrl.loadSpecials"
                functions="extendedLoyaltyCtrl.specialsActions"
                item-width="278"
                rows="{default:1}"
                refresh-event="carousel.specials.add"
                watchers="extendedLoyaltyCtrl.specialsCarouselWatchers">
        </sp-carousel>
    </div>
</div>
