.extended-loyalty {
  width: 944px;
  margin: 0 auto;

  .header {
    text-align: center;
    border-radius: 10px;
    .image-wrapper img {

    }

    .text-wrapper {
      padding: 0 35% 1em 35%;

      > * {
        padding: 0.8em 0 0 0;
        font-weight: bold;
      }
      .title {
        font-size: 2em;
      }

      .description {
        font-size: 1.25em;
      }

      &.extra-padding  {
        padding-bottom: 5em;
      }
    }
  }

  .content {
    padding: 0 30%;

    h3 {
      font-size: 1.375em;
    }

    form {
      padding-bottom: 2em;
      .input-wrapper {
        padding-bottom: 1em;
        width: 100%;
      }

      .terms-link {
        text-decoration: underline;
        color: #0000FF;

      }

      button {
        width: 100%;
      }

      .sp-radio-buttons > label.sp-radio-option {
        display: inline-block;
      }
    }

    .customer-details {
      position: relative;
      box-sizing: border-box;
      padding: 0 16%;
      min-height: 10em;

      .customer-card {
        position: absolute;
        background-color: #ffffff;
        top: -3em;
        padding: 1.5em;
        width: 68%;
        box-sizing: border-box;
        border: 1px solid #000000;
        box-shadow: 0 0 9px rgba(0, 0, 0, 0.25);
        border-radius: 20px;

        .logo-wrapper {
          text-align: center;
          padding: 0 2em;

          img {
            max-width: 100%;
          }
        }
      }
    }
  }

  .contact-phone {
    text-decoration: underline;
  }

  .specials-carousel {
    padding-bottom: 2em;
    height: 22.4em;

    > span {
      font-size: 1.625em;
      font-weight: bold;
      color: #000000;
      padding-bottom: 0.5em;
    }

      .special-item {
        border-width: 1px 1px;
      }
  }
}