<div class="google-map-dialog">
    <h3 class="google-map-dialog__title">{{ 'gg_map_dialog_title' | translate }}</h3>
    <span class="google-map-dialog__hint">{{ 'gg_map_dialog_hint' | translate }}</span>
    <div ng-if="!googleMapDialogCtrl.mapErrorMessage" class="google-map-dialog__address">
        <span>{{ googleMapDialogCtrl.formattedAddress }}</span>
    </div>
    <button class="google-map-dialog__btn-save" ng-disabled="googleMapDialogCtrl.mapErrorMessage"
        ng-click="googleMapDialogCtrl.handleOnSaveSelectedAddress()">
        {{ 'Save' | translate }}
    </button>
    <div ng-if="!googleMapDialogCtrl.mapErrorMessage" class="google-map-dialog__search">
        <svg focusable="false" width="24" height="24">
            <use xlink:href="#sp-icons-search"></use>
        </svg>
        <input id="pac-input" type="text" placeholder="{{ 'Find address' | translate }}">
    </div>
    <div class="google-map-dialog__map">
        <div ng-if="!googleMapDialogCtrl.mapErrorMessage" id="map"></div>
        <div ng-if="googleMapDialogCtrl.mapErrorMessage" class="google-map-dialog__map__error">
            <span>{{ googleMapDialogCtrl.mapErrorMessage }}</span>
        </div>
    </div>
</div>