<div class="retailers">
    <img ng-repeat="retailer in $root.config.retailers" ng-src="{{retailer.logoUrl | image}}"
         alt=""/>

    <img class="bottom" src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/zip-code-background.jpg" alt=""/>
</div>
<div class="content" ng-controller="PrutahTemplateChooseAreaCtrl">
    <form class="filter-areas" ng-submit="chooseAreaCtrl.filterAreas.submit(true);"
          ng-if="chooseAreaCtrl.visibleState === chooseAreaCtrl.filterAreas">
        <h1 id="choose_area_dialog_title" class="title">
            {{chooseAreaCtrl.isChangeArea ? (('Change ' + ($root.config.isZipCodeArea ? 'zip code' : 'area') | translate | retailerNameReplacement)) : chooseAreaCtrl.chooseAreaText && !!chooseAreaCtrl.chooseAreaText.title.length ? chooseAreaCtrl.chooseAreaText.title : ('Welcome' | translate)}}
        </h1>

        <h2 class="sub-title secondary-font">{{chooseAreaCtrl.chooseAreaText && !!chooseAreaCtrl.chooseAreaText.explanation.length ?  chooseAreaCtrl.chooseAreaText.explanation : ('Let\'s make sure we\'re available in your area' | translate)}}.</h2>

        <div class="input-and-submit">
            <div class="input">
                  <input id="filter-areas-input" type="text" ng-model="chooseAreaCtrl.area" autocomplete="off"
                         aria-label="{{chooseAreaCtrl.chooseAreaText && !!chooseAreaCtrl.chooseAreaText.placeholder.length ? chooseAreaCtrl.chooseAreaText.placeholder : ((chooseAreaCtrl.chooseAreaMode === $root.SP_SERVICES.CHOOSE_AREA_MODE.TYPE_GOOGLE_ADDRESS ?'Please enter a delivery address' : 'Please enter a ' + ($root.config.isZipCodeArea ? 'zip code' : 'city')) | translate | retailerNameReplacement)}}"
                       sp-placeholder="{{chooseAreaCtrl.chooseAreaText && !!chooseAreaCtrl.chooseAreaText.placeholder.length ? chooseAreaCtrl.chooseAreaText.placeholder : ((chooseAreaCtrl.chooseAreaMode === $root.SP_SERVICES.CHOOSE_AREA_MODE.TYPE_GOOGLE_ADDRESS ?'Please enter a delivery address' : 'Please enter a ' + ($root.config.isZipCodeArea ? 'zip code' : 'city')) | translate | retailerNameReplacement)}}"
                       name="{{$root.config.isZipCodeArea ? 'zipCode' : 'area'}}" required
                       ng-change="chooseAreaCtrl.chooseArea.resetErrors();"/>
                <!-- TODO: check if choose can submit the form instead of copy the "ng-submit" -->
                <sp-autocomplete sp-model="chooseAreaCtrl.area"
                                 sp-get-options="chooseAreaCtrl.filterAreas.autoComplete()"
                                 threshold="0"
                                 sp-choose="chooseAreaCtrl.filterAreas.submit(true);"
                                 hide-if-empty="!chooseAreaCtrl.addressChoices.length">
                </sp-autocomplete>
            </div>

            <button type="submit">{{::'Check' | translate}}</button>
        </div>

        <div class="server-err-msg"></div>

        <div class="enter-full-address-error error" ng-if="chooseAreaCtrl.filterAreas.enterFullAddressError"
             role="alert" aria-relevant="additions">
            {{'Please add street and house number' | translate}}
        </div>

        <div class="invalid-address-error error" ng-if="chooseAreaCtrl.filterAreas.invalidAddressError"
             role="alert" aria-relevant="additions">
            {{'Please enter a valid address' | translate}}
        </div>

        <div class="pickup" ng-if="chooseAreaCtrl.pickupAreas.length">
            <svg focusable="false" class="store-icon">
                <use xlink:href="#sp-icons-retailer-details"></use>
            </svg>
            <span>
                <button class="no-design" ng-click="chooseAreaCtrl.filterAreas.pickup();"
                   ng-bind=":: 'Or select a store for pickup' | translate"></button>
                <span ng-bind=":: 'Choose a convenient time & pickup your order at one of our stores' | translate"></span>
            </span>
        </div>
    </form>

    <form class="choose-area" ng-if="chooseAreaCtrl.visibleState === chooseAreaCtrl.chooseArea">
        <button ng-click="chooseAreaCtrl.goToFilterAreas()"
           ng-if="chooseAreaCtrl.chooseAreaMode !== $root.SP_SERVICES.CHOOSE_AREA_MODE.CHOOSE_RETAILER"
           ng-bind="::'<< Back' | translate" class="no-design back"></button>

        <div ng-if="chooseAreaCtrl.chooseArea.foundAreas.length > 1 && !chooseAreaCtrl.isBranchNameHidden()">
            <h1 class="title"
                ng-bind="::(chooseAreaCtrl.chooseArea.isOnlyPickupResults ? ('Pickup service only' | translate) :
                    (!chooseAreaCtrl.chooseArea.isPickupButton ? ('Yes' | translate) + '!' :
                    (chooseAreaCtrl.chooseArea.foundAreas.length === 1 ? (('See you soon' | translate) + '!') : ('Select a store for pickup' | translate))))">
            </h1>

            <h2 class="sub-title secondary-font delivery-method-sub-title"
                ng-bind="::(!chooseAreaCtrl.chooseArea.isPickupButton && !chooseAreaCtrl.chooseArea.isOnlyPickupResults ? 'We serve your area' :
                    (chooseAreaCtrl.chooseArea.foundAreas.length === 1 ? 'The order will wait for you at the store' : 'Choose the pickup location')) | translate">
            </h2>
        </div>

        <div class="filter-areas-input-wrapper">
            <input type="text" ng-model="chooseAreaCtrl.chooseAreaQuery" placeholder="{{:: 'Search' | translate}}"
                   ng-keydown="chooseAreaCtrl.onKeyDown($event)"
                   ng-if="chooseAreaCtrl.chooseArea.foundAreas.length > 3"/>
        </div>

        <div class="single-area" ng-if="chooseAreaCtrl.chooseArea.foundAreas.length === 1 || chooseAreaCtrl.isBranchNameHidden()">
            <div class="main-data" id="area_main_data">
                <div class="store-icon" ng-if="$root.config.multiRetailers">
                    <img ng-src="{{chooseAreaCtrl.chooseArea.foundAreas[0].branch.logoUrl || chooseAreaCtrl.chooseArea.foundAreas[0].retailer.logoUrl}}"
                         alt="{{'Branch Logo' | translate}}"/>
                </div>
                <svg focusable="false">
                    <use xlink:href="#sp-icons-delivery" ng-if="chooseAreaCtrl.chooseArea.foundAreas[0].deliveryTypeId === $root.SP_SERVICES.DELIVERY_TYPES.DELIVERY"></use>
                    <use xlink:href="#sp-icons-express-delivery" ng-if="chooseAreaCtrl.chooseArea.foundAreas[0].deliveryTypeId === $root.SP_SERVICES.DELIVERY_TYPES.EXPRESS_DELIVERY"></use>
                    <use xlink:href="#sp-icons-retailer-details" ng-if="chooseAreaCtrl.chooseArea.foundAreas[0].deliveryTypeId === $root.SP_SERVICES.DELIVERY_TYPES.PICKUP"></use>
                </svg>

                <div class="delivery-method-name">
                    {{:: ('delivery_type_' + chooseAreaCtrl.chooseArea.foundAreas[0].deliveryTypeId) | translate}}
                </div>

                <h1 class="title"
                    ng-bind="::(chooseAreaCtrl.chooseArea.isOnlyPickupResults ? ('Pickup service only' | translate) :
                    (!chooseAreaCtrl.chooseArea.isPickupButton ? ('Yes' | translate) + '!' :
                    (chooseAreaCtrl.chooseArea.foundAreas.length === 1 ? (('See you soon' | translate) + '!') : ('Select a store for pickup' | translate))))">
                </h1>

                <h2 class="sub-title secondary-font delivery-method-sub-title"
                    ng-bind="::(!chooseAreaCtrl.chooseArea.isPickupButton && !chooseAreaCtrl.chooseArea.isOnlyPickupResults ? 'We serve your area' :
                    (chooseAreaCtrl.chooseArea.foundAreas.length === 1 ? 'The order will wait for you at the store' : 'Choose the pickup location')) | translate">
                </h2>

                <span class="limit" ng-if="chooseAreaCtrl.chooseArea.foundAreas[0].deliveryItemsLimit">
                    {{:: ('Limited to {deliveryItemsLimit} products' | translate).replace('{deliveryItemsLimit}', chooseAreaCtrl.chooseArea.foundAreas[0].deliveryItemsLimit)}}
                </span>

                <span class="delivery-within-days" ng-if="chooseAreaCtrl.isShowDeliveryWithinDaysWarning(chooseAreaCtrl.chooseArea.foundAreas[0])">
                    <span class="limit">
                        {{::('Limited to products marked with "{tagName}" tag only' | translate)
                            .replace('{tagName}', (chooseAreaCtrl.deliveryWithinDaysTag.languages | name:'displayName'))}}
                    </span>
                </span>

                <div class="address">
                    <span ng-if="chooseAreaCtrl.isBranchNameHidden()">{{chooseAreaCtrl.area}}</span>
                    <span ng-if="!chooseAreaCtrl.isBranchNameHidden()">{{:: ('From Branch' | translate) + ': ' + ((chooseAreaCtrl.chooseArea.foundAreas[0].isPickupAddressDisplayed) ? (chooseAreaCtrl.chooseArea.foundAreas[0].name) : (chooseAreaCtrl.getBranchLocation(chooseAreaCtrl.chooseArea.foundAreas[0])))}}</span>
                </div>

<!--                <div class="description" ng-if="chooseAreaCtrl.chooseArea.foundAreas[0].name && chooseAreaCtrl.chooseArea.foundAreas[0].deliveryTypeId !== $root.SP_SERVICES.DELIVERY_TYPES.PICKUP">-->
<!--                    {{:: chooseAreaCtrl.chooseArea.foundAreas[0].name}}-->
<!--                </div>-->

<!--                <div class="description" ng-if="chooseAreaCtrl.chooseArea.foundAreas[0].deliveryProviderId === $root.SP_SERVICES.DELIVERY_PROVIDERS.MANUAL">-->
<!--                    {{:: chooseAreaCtrl.chooseArea.foundAreas[0].providerName}}-->
<!--                </div>-->
            </div>

            <button id="continue_shopping_btn" type="button" ng-click="chooseAreaCtrl.chooseArea.submit(chooseAreaCtrl.chooseArea.foundAreas[0]);"
                    aria-describedby="area_main_data" ng-bind=":: 'Continue Shopping' | translate"></button>
        </div>

        <div class="areas" ng-class="{'store-list': chooseAreaCtrl.chooseArea.foundAreas.length > 5}" ng-if="chooseAreaCtrl.chooseArea.foundAreas.length > 1 && !chooseAreaCtrl.isBranchNameHidden()">
            <div ng-repeat="foundArea in chooseAreaCtrl.chooseArea.foundAreas | filter:chooseAreaCtrl.filterFoundAreas | orderBy:'-preferredRetailerSort'" tabindex="0">
                <div class="icons">
                    <div class="store-icon" ng-if="$root.config.multiRetailers">
                        <img ng-src="{{foundArea.branch.logoUrl || foundArea.retailer.logoUrl}}"
                             alt="{{'Branch Logo' | translate}}"/>
                    </div>
                    <svg focusable="false">
                        <use xlink:href="#sp-icons-delivery" ng-if="foundArea.deliveryTypeId === $root.SP_SERVICES.DELIVERY_TYPES.DELIVERY"></use>
                        <use xlink:href="#sp-icons-express-delivery" ng-if="foundArea.deliveryTypeId === $root.SP_SERVICES.DELIVERY_TYPES.EXPRESS_DELIVERY"></use>
                        <use xlink:href="#sp-icons-retailer-details" ng-if="foundArea.deliveryTypeId === $root.SP_SERVICES.DELIVERY_TYPES.PICKUP"></use>
                    </svg>
                </div>
                <div class="main-info">
                    <div class="main-row">
                        {{::('delivery_type_' + foundArea.deliveryTypeId) | translate}}
                    </div>
                    <span class="limit" ng-if="foundArea.deliveryItemsLimit">
                        {{::('Limited to {deliveryItemsLimit} products' | translate).replace('{deliveryItemsLimit}', foundArea.deliveryItemsLimit)}}
                    </span>
                    <span class="delivery-within-days" ng-if="chooseAreaCtrl.isShowDeliveryWithinDaysWarning(foundArea)">
                        <span class="limit">
                            {{::('Limited to products marked with "{tagName}" tag only' | translate)
                                .replace('{tagName}', (chooseAreaCtrl.deliveryWithinDaysTag.languages | name:'displayName'))}}
                        </span>
                    </span>
                    <div class="address" ng-if="foundArea.deliveryTypeId === $root.SP_SERVICES.DELIVERY_TYPES.PICKUP">
                        {{::chooseAreaCtrl.getBranchLocation(foundArea)}}
                    </div>
                    <div class="address" ng-if="foundArea.deliveryTypeId !== $root.SP_SERVICES.DELIVERY_TYPES.PICKUP">
                        {{::foundArea.branch.name}}
                    </div>
                    <div class="description main-color" ng-if="foundArea.deliveryTypeId !== $root.SP_SERVICES.DELIVERY_TYPES.PICKUP">
                        {{::foundArea.name}}
                    </div>
                    <div class="description main-color" ng-if="foundArea.deliveryProviderId === $root.SP_SERVICES.DELIVERY_PROVIDERS.MANUAL">
                        {{::foundArea.providerName}}
                    </div>
                </div>
                <button type="button" class="choose-button" ng-click="chooseAreaCtrl.chooseArea.submit(foundArea);"
                        aria-label="{{::('Choose' | translate) + ' ' + (foundArea.deliveryTypeId === $root.SP_SERVICES.DELIVERY_TYPES.PICKUP ? chooseAreaCtrl.getBranchLocation(foundArea) : foundArea.branch.name)}}"
                        ng-bind=":: 'Choose' | translate"></button>
            </div>
        </div>

        <div class="not-found-area-message" role="alert" aria-relevant="additions"
             ng-if="!(chooseAreaCtrl.chooseArea.foundAreas | filter:chooseAreaCtrl.filterFoundAreas).length">
            {{'Unfortunately we didn\'t find any stores in this area' | translate}}.<br/>
            {{'Try a different area name' | translate}}.
        </div>
    </form>

    <form id="areaNotFoundForm" class="area-not-found" name="areaNotFoundForm" ng-submit="chooseAreaCtrl.areaNotFoundLog.submit();"
          ng-if="chooseAreaCtrl.visibleState === chooseAreaCtrl.areaNotFoundLog">
        <button ng-click="chooseAreaCtrl.goToFilterAreas()"
           ng-bind="::'<< Back' | translate" class="no-design back"></button>

        <h1 ng-bind=":: ('Apologies' | translate) + '...'" id="area_not_found_title"></h1>

        <h2 class="sub-title secondary-font" id="area_not_found_sub_title">
            {{'Sorry, We do not deliver to your area' | translate}}.<br/>
            {{'Please type in your email And we will let you know when we expand to your location' | translate}}.
        </h2>

        <div class="input">
            <input aria-describedby="area_not_found_title area_not_found_sub_title" id="emailAddress" type="email" ng-model="chooseAreaCtrl.userEmail"
                   placeholder="{{:: 'Email Address' | translate}}" required/>

            <button type="submit" ng-disabled="areaNotFoundForm.$invalid"
                    ng-bind=":: 'Keep in Touch' | translate"></button>
        </div>

        <button ng-click="chooseAreaCtrl.goToFilterAreas()" class="no-design back try-different-address">
            {{'Try a different location' | translate}}
        </button>

        <div class="customer-service" ng-bind=":: ('Customer Service' | translate) + ' ' + $root.config.retailer.contactPhone"></div>
    </form>
</div>
