.dialog-wrapper .dialog.choose-area-dialog {
  $color: #666666;
  $borderColor: #dadada;

  .dialog-body {
    $dialogPadding: 1.5em;

    padding: 0;
    width: 47em;
    overflow: visible;
    display: inline-flex;

    &.choose-area-state {
      // will work only in IE
      overflow: auto;

      > .content {
        // will not work in IE but will work on every other normal browser
        overflow: auto;
      }
    }

    #filter-areas-input.placeholder {
      color: #929292;
    }

    h1, h2 {
      padding: 0;
      color: $color;
    }

    h1 {
      font-weight: 700;
      font-size: 2.1875em;
    }

    h2 {
      font-size: 1em;
      padding: 1em 0;
    }

    button {
      font-weight: 700;
    }

    > .retailers {
      margin: $dialogPadding 0;
      flex: 0 0 36%;
      display: flex;
      flex-direction: column;
      align-items: center;

      > img {
        flex: 0 0 auto;
        max-width: 60%;

        &.bottom {
          margin-top: auto;
        }
      }

      $leftBorder: 1px solid $borderColor;
      .ltr & {
        border-right: $leftBorder;
      }
      .rtl & {
        border-left: $leftBorder;
      }
    }

    > .content {
      flex: 1 1 auto;
      box-sizing: border-box;
      padding: $dialogPadding 1.875em;
      min-height: 24em;

      > form {
        position: relative;
        height: 100%;
        color: $color;

        > button.back {
          text-align: left;
          font-weight: 400;
          color: #000000;
          display: block;
          cursor: pointer;
          text-decoration: underline;
          font-size: 0.75em;
          //margin-bottom: 2em;
        }

        &.filter-areas {
          > div.input-and-submit {
            padding-top: 1em;
            width: 15.5em;

            > div.input {
              width: 100%;

              > .auto-complete {
                font-size: 1em;
              }
            }

            > button[type="submit"] {
              width: 100%;
              margin-top: 0.5em;
            }
          }

          .error {
            border-radius: 5px;
            background-color: #d24a4c;
            width: 100%;
            box-sizing: border-box;
            color: #fff;
            margin-top: 0.625em;
            padding: 0.5em 1em;

            &.enter-full-address-error {
              background: #ff8a00;
            }
          }

          > .pickup {
            position: absolute;
            bottom: $dialogPadding + 0.5em;

            > * {
              vertical-align: middle;
              display: inline-block;
              text-align: initial;
            }

            > svg {
              fill: #787878;
              width: 2em;
              height: 2em;

              $margin: 0.2em;
              .ltr & {
                margin-right: $margin;
              }
              .rtl & {
                margin-left: $margin;
              }
            }

            > span {
              > button {
                display: block;
                color: #2f80ed;
                text-decoration: underline;
                cursor: pointer;
                font-weight: 400;
              }

              > span {
                font-size: 0.75em;
                color: #737373;
                line-height: 1.5em;
              }
            }
          }
        }

        &.choose-area {
          $border: 1px solid #ededed;

          display: flex;
          flex-direction: column;
          height: 100%;

          > .single-area, > .areas {
            //border-top: $border;
            //margin-top: 1.4375em;

            &.single-area {
              text-align: center;

              > .main-data {
                //height: 16.188em;
                display: flex;
                flex-direction: column;
                //border-bottom: $border;
                justify-content: center;
                align-items: center;
                color: #282828;

                .delivery-method-title {
                  font-size: 0.875em;
                  color: #787878;
                  padding-bottom: 1.2858em;
                }

                .delivery-method-sub-title {
                  font-size: 1.3em;
                  font-weight: 600;
                  padding-top: 0.3em;
                }


                > svg {
                  height: 3.8125em;
                  width: 100%;
                  fill: #505050;
                }

                .delivery-method-name {
                  font-size: 1.125em;
                  font-weight: bold;
                  margin: 0.5em 0 1.5em 0;
                }

                .limit {
                  margin-top: 0.375em;
                }

                .address {
                  font-size: 0.875em;
                  margin-bottom: 2em;
                  // width for ie
                  width: 100%;
                }

                .description {
                  margin-top: 1.875em;
                }
              }

              > button {
                padding: 10px;
              }
            }

            &.areas > div {
              display: flex;
              flex-direction: row;
              align-items: center;
              padding: 0;
              border-bottom: $border;
              height: 6.875em;
              box-sizing: border-box;
              color: #282828;

              > * {
                flex: 0 0 auto;
              }

              > .icons {
                $chooseAreaSvgPaddingRight: 1em;
                .ltr & {
                  padding-right: $chooseAreaSvgPaddingRight;
                }
                .rtl & {
                  padding-left: $chooseAreaSvgPaddingRight;
                }

                > svg {
                  width: 4.25em;
                  height: 1.875em;
                  fill: #616161;
                }
              }

              > div.main-info {
                flex: 1 1 auto;

                .ltr & {
                  text-align: left;
                }
                .rtl & {
                  text-align: right;
                }

                > * {
                  font-size: 0.875em;
                  width: 100%;
                }

                > .main-row {
                  font-size: 1.125em;
                  font-weight: bold;
                  padding-bottom: 0.27778em;
                }

                .limit {
                  display: inline-block;
                  vertical-align: top;
                  width: auto;
                }

                .delivery-within-days {
                  padding: 0.2em 0;

                  .limit {
                    display: inline;
                  }

                  .ltr & {
                    margin-right: 1em;
                  }
                  .rtl & {
                    margin-left: 1em;
                  }
                }

                .description, .address {
                  margin-top: 0.4286em;
                }

                .description {
                  font-weight: bold;
                }

                .address {
                  color: #737373;
                }
              }

              > div.secondary-info {
                font-size: 0.875em;
                width: 10.1429em;
              }
            }

            .limit {
              color: #ffffff;
              background-color: #616161;
              padding: 0.1em 0.3em;
              line-height: 1.1;
            }

            .delivery-within-days {
              display: block;
              padding: 0.4em 0.3em;

              .limit {
                display: inline;
                vertical-align: middle;
                padding: 0;
              }
            }
          }

          > .areas.store-list {
            max-height: 26em;
            padding: 0 1em;
            overflow-y: scroll;
            margin-top: 1em;
            &::-webkit-scrollbar {
              background-color: transparent;
              width: 8px;
            }
  
            &::-webkit-scrollbar-thumb {
              @include border-radius(5px);
              background-color: rgba(96, 96, 96, 0.2);
  
              &:hover, &:focus-within {
                background-color: rgba(96, 96, 96, 0.7);
              }
  
              &:active {
                background-color: rgba(96, 96, 96, 1);
              }
            }
          }

          .store-icon {
            max-width: 7.1429em;
            height: 1.5em;
            margin: 0 auto 0.3em auto;
            text-align: center;

            img {
              max-width: 100%;
              max-height: 100%;
            }
          }

          .not-found-area-message {
            font-size: 0.875em;
            margin-top: 0.8572em;
            font-weight: bold;
          }
        }

        &.area-not-found {
          > div.input {
            display: flex;

            > input {
              flex: 1 1;
            }

            > button {
              $margin: 0.5em;

              .ltr & {
                margin-left: $margin;
              }

              .rtl & {
                margin-right: $margin;
              }
            }
          }

          > .customer-service {
            position: absolute;
            bottom: 0;
            width: 100%;
            border-top: 1px solid $borderColor;
            text-align: center;
            padding-top: 2em;
          }

          > .try-different-address {
            margin-top: 1em;
            font-size: 1em;
          }
        }
      }
    }
  }
}

.rtl .dialog-wrapper .dialog.choose-area-dialog .dialog-body > .content > form > button.back {
  text-align: right;
}
