<div class="fixed-banner-wrapper" ng-class="{'show-back-btn': !!backBtn, 'has-banner-image': !!img}" ng-controller="SpItemsFixedBannerPrutahTemplateCtrl">
    <div class="fixed-banner">
        <div class="background-img-wrapper" ng-style="{'background-image': 'url(' + img + ')'};"></div>
        <div class="banner-body">
            <div class="main-row default-text-align-important" ng-class="itemClass">
                <button class="back-btn no-design secondary-font" ng-click="back()"> <span> < </span>{{::'Back' | translate}} |</button>
                <h1 id="page_title" class="title secondary-font" title="{{bannerTitle | retailerNameReplacement}}">{{bannerTitle | retailerNameReplacement}}</h1>
                <div class="search-products" ng-if="$root.config.retailer.searchAutocompleteIsActive && onSearchProducts && hasSelectedFilters && !hideInnerFilterField">
                    <form name="searchProducts">
                        <svg focusable="false" role="presentation">
                            <use xlink:href="#sp-icons-search"></use>
                        </svg>
                        <input type="search" placeholder="{{'Find a product' | translate}}" ng-model="searchProductsModel" ng-change="searchProductsChanged(searchProductsModel)"/>
                    </form>
                </div>
                <div class="filtering-filters" sp-scroll-actions-container="horizontal">
                    <div class="filters-group" ng-repeat="filter in filters track by $index" ng-hide="filter.notFinished">
                        <span class="filters-item" ng-repeat="valueItem in filter.value">
                            <img class="filter-icon" ng-if="filter.options.icon(valueItem)" ng-src="{{filter.options.icon(valueItem)}}"
                                 alt="{{filter.options.namesNgFilter ? filter.options.namesNgFilter(valueItem.name) : ((valueItem.name | name) || ('Other' | translate))}}"/>
                            <span class="name">{{filter.options.namesNgFilter ? filter.options.namesNgFilter(valueItem.name) : ((valueItem.name | name | retailerNameReplacement) || ('Other' | translate))}}</span>

                            <svg class="pin" ng-if="filter.permanentFiltersType && $root.PermanentFilters.hasProductTagFilter(valueItem.value)">
                                <use xlink:href="#sp-icons-sticky-pin"></use>
                            </svg>
                            <button class="no-design x"
                                    ng-click="valueItem.checked = !valueItem.checked; onChangeFilter(filter, valueItem);"
                                    aria-labelledby="{{'close_button_title_' + $index}}">
                                <svg focusable="false">
                                    <title id="{{'close_button_title_' + $index}}">{{('Remove' | translate) + ' ' + (filter.options.namesNgFilter ? filter.options.namesNgFilter(valueItem.name) : ((valueItem.name | name) || ('Other' | translate)))}}</title>
                                    <use xlink:href="#sp-icons-close"></use>
                                </svg>
                            </button>
                        </span>
                    </div>
                    <button class="no-design link" ng-if="hasSelectedFilters" ng-click="clearAllFilters()">
                        {{'Clear all' | translate}}
                    </button>
                </div>
            </div>
            <div class="add-coupon" ng-if="templateUrl.includes('coupon-item') && ($root.config.retailer.allowCoupons || $root.config.retailer.settings.showPointBalance === 'true')">
                <!--  
                <a href="#" ng-click="back();" ng-if="stateParams.fromAccount === 'true'">
                    <svg focusable="false">
                        <use xlink:href="#sp-icons-arrow-left"></use>
                    </svg>
                    <span>{{'Back to my account' | translate}}</span>
                </a>
                -->
                <form ng-if="$root.config.retailer.allowCoupons && $root.config.retailer.settings.searchCouponEnabled" name="coupon1" ng-submit="searchCoupon($root.couponFilter, filters)" aria-label="{{'Search coupon' | translate}}">
                    <input type="search" placeholder="{{$root.config.retailer.settings.searchCouponText || ('Search coupon' | translate)}}" ng-model="$root.couponFilter" ng-change="searchCouponChanged($root.couponFilter, filters)"/>
                    <button type="submit">
                        <svg style="width: 16px; height: 16px;" class="main-color ng-scope" focusable="false">
                            <use xlink:href="#sp-icons-coupon-search"></use>
                        </svg>
                        <span>{{'Search' | translate}}</span>
                    </button>
                </form>
                <form name="coupon" ng-submit="addCouponToCart($root.couponCode)" aria-label="{{'Add coupon' | translate}}">
                    <input type="text" placeholder="{{$root.config.retailer.settings.addCouponText || ('Add coupon' | translate)}}" ng-model="$root.couponCode" maxlength="100"/>
                    <button type="submit" ng-bind="'Add' | translate"></button>
                </form>
                <div ng-if="$root.config.retailer.settings.showPointBalance === 'true'" class="coupon-points-info">
                    <span>{{'Your points' | translate}}:</span>
                    <div class="coupon-points">
                        <svg focusable="false" ng-if="!$root.config.retailer.settings.loyaltyPointsIcon">
                            <use xlink:href="#sp-icons-coupon-coin"></use>
                        </svg>
                        <img ng-if="$root.config.retailer.settings.loyaltyPointsIcon" ng-src="{{$root.config.retailer.settings.loyaltyPointsIcon}}" />
                        <span>{{userPoints}}</span>
                    </div>
                </div>
            </div>
            <p ng-if="categoryDescription" ellipsis title="{{categoryDescription}}" class="description secondary-font"></p>
        </div>
    </div>
</div>
<div class="tools-wrapper" ng-show="hasTools" role="region" aria-label="{{'filters & sorting' | translate}}">
    <div class="tools">
        <div class="tools-opener" ng-click="toggleFilters();" aria-haspopup="listbox" aria-expanded="{{filtersShown}}">
            <img class="icon" src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/filter_icon.png" alt="{{'filters' | translate}}"/>
            <h2 class="text">
                {{'Narrow your choice' | translate}}
            </h2>
            <span class="close-icon">
                <img src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/arrow_double_left.png" alt="{{'close filters' | translate}}"/>
            </span>
        </div>
        <div class="tools-content" ng-init="filterInitLimit = 8;">
            <div class="tool-wrapper" ng-repeat="sorter in sorters track by $index">
                <h5 ng-show="sorter.title" class="tool-title" id="sorter_title">
                    {{sorter.title | translate}}
                </h5>
                <div class="sorter">
                    <sp-dropdown sp-model="sorter.value" multi-value="sorter.multi" class="transparent-arrow input" aria-labelledby="sorter_title">
                        <sp-text>
                        <span ng-if="sorter.notFinished">
                            <img src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/loading.gif" alt="{{'loading' | translate}}"/>
                        </span>
                            <span ng-if="!sorter.notFinished">
                            {{!sorter.multi && sorter.value ? (sorter.namesNgFilter(sorter.value.name)) : (sorter.defaultText ? (sorter.defaultText | translate) : (sorter.title ? (sorter.title | translate) : 'sorter'))}}
                        </span>
                        </sp-text>
                        <sp-option ng-repeat="item in sorter.options.items | orderBy:(sorter.options.orderBy || 'value')" sp-value="item" multi-checkbox-model="item.checked">
                            {{item.name | translate}}
                        </sp-option>
                    </sp-dropdown>
                </div>
            </div>
            <div class="filters-loading-wrapper" ng-show="filtersNotFinished">
                <img src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/loading-line.gif" alt="{{'loading' | translate}}"/>
            </div>
            <div ng-repeat="filter in filters track by $index" class="tool-wrapper"
                 ng-if="filter.options.items.length > (filter.notInclusive ? 0 : 1)" ng-hide="filter.notFinished">
                <!--ng-class="::{ permanent: filter.permanentFiltersType }"-->
                <div class="filter-title tool-title">
                    <div>
                        <h5 ng-show="filter.title">
                            {{filter.titleNgFilter() || (filter.title | translate)}}
                        </h5>
                        <!--<div ng-if="::filter.permanentFiltersType" class="entire-store">
                            {{'Filter entire store' | translate}}
                        </div>-->
                    </div>

                    <button class="clear-all no-design" ng-class="{'filter-is-clear':!filter.value || !filter.value.length}" ng-click="clearAllFilter(filter)">
                        {{'Clear All' | translate}}
                    </button>
                </div>
                <ul class="filter">
                    <li class="filter-item-wrapper" ng-class="{checked: item.checked}"
                        ng-repeat="item in filter.options.items | orderBy:(filter.options.orderBy || 'value') | limitTo:(filter.viewAll ? filter.options.items.length : filterInitLimit)">
                        <button class="no-design" ng-click="item.checked = !item.checked; onChangeFilter(filter, item);" role="checkbox" aria-checked="{{item.checked}}">
                            <span class="text">
                                <img class="filter-icon" ng-if="filter.options.icon(item)" ng-src="{{filter.options.icon(item)}}"
                                     alt="{{filter.options.namesNgFilter ? filter.options.namesNgFilter(item.name) : ((item.name | name) || ('Other' | translate))}}"/>
                                <span class="main" title="{{filter.options.namesNgFilter ? filter.options.namesNgFilter(item.name) : ((item.name | name | retailerNameReplacement) || ('Other' | translate))}}">
                                    {{filter.options.namesNgFilter ? filter.options.namesNgFilter(item.name) : ((item.name | name | retailerNameReplacement) || ('Other' | translate))}}&nbsp;{{(item.count || item.count === 0) ? '(' + item.count + ')' : ''}}
                                </span>
                            </span>

                            <span class="icons">
                                <svg class="pin" ng-if="filter.permanentFiltersType && $root.PermanentFilters.hasProductTagFilter(item.value)">
                                    <use xlink:href="#sp-icons-sticky-pin"></use>
                                </svg>
                                <svg class="x" focusable="false">
                                    <use xlink:href="#sp-icons-close"></use>
                                </svg>
                            </span>
                        </button>
                    </li>
                </ul>
                <button class="more-btn no-design" ng-if="filter.options.items.length > filterInitLimit" ng-click="filter.viewAll = !filter.viewAll;">
                    {{filter.viewAll ? 'Show less' : 'Show more' | translate}}
                </button>
            </div>
        </div>
    </div>
</div>
<div class="items-wrapper" ng-class="{'no-results': !items.length, 'menu': design == $root.SP_ITEMS_DESIGNS.MENU, 'landing-page-banner': imageBannerPresent}" role="region" aria-label="{{'product list' | translate}}">
    <div class="items" ng-if="!groupBy.by">
        <div sp-in-view-watcher
             threshold="{{threshold}}"
             ng-repeat="item in items track by $index" class="item" ng-class="itemClass"
             ng-include="templateUrl" ng-click="clickOnItem(item, $index);"
             ng-style="{
                width: calculateItemWidth(item) + 'px',
                display: calculateItemWidth(item) === 0 ? 'none' : 'inline-block'
             }"
             tabindex="{{(spTabindex || spTabindex === 0) ? spTabindex : '-1'}}"
             role="{{spRole || 'presentation'}}">
        </div>
    </div>
    <div class="items" ng-if="!!groupBy.by">
        <div ng-repeat="group in groups track by $index" ng-class="{'one-column': group.isOneColumn}" class="group">
            <div class="group-title" ng-class="groupBy.titleStyleClass" ng-include="groupBy.templateUrl" ng-click="hideGroups[group.value] = !hideGroups[group.value]"></div>
            <div class="one-column-items" ng-style="{'display': hideGroups[group.value] ? 'none' : 'block'}" ng-if="group.isOneColumn">
                <div sp-in-view-watcher ng-repeat="item in group.items track by $index" class="item" ng-class="itemClass" ng-include="templateUrl" ng-click="clickOnItem(item, $index);"
                     ng-style="{width: design == $root.SP_ITEMS_DESIGNS.MENU ? '' : (itemWidth.itemCurrent + (item.hasBumper ? itemWidth.itemCurrent * 2 : 0)) + 'px'}"></div>
            </div>
            <div class="two-columns-items" ng-if="!group.isOneColumn">
                <div ng-repeat="column in group.columns track by $index" class="group-column" ng-style="{width: (100 / group.columns.length) + '%'}">
                    <div ng-repeat="item in column.items track by $index" class="item" ng-class="itemClass" ng-include="templateUrl" ng-click="clickOnItem(item, $index);"
                         ng-style="{width: design == $root.SP_ITEMS_DESIGNS.MENU ? '' : (itemWidth.itemCurrent + (item.hasBumper ? itemWidth.itemCurrent * 2 : 0)) + 'px'}"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="loading-wrapper">
        <img src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/loading-line.gif" alt="{{'loading' | translate}}"/>
    </div>
    <div ng-if="total === 0  && !!noResultsMessage" class="no-results-message">
        <svg focusable="false">
            <use xlink:href="#sp-icons-no-items-found"></use>
        </svg>
        <h5 role="alert" aria-atomic="true" aria-live="assertive" tabindex="0"  class="bold" ng-bind-html="noResultsMessage" ></h5>
        <div class="filters-message" ng-if="hasSelectedFilters">
            <div>{{'Try editing your filters' | translate}}</div>
            <div class="margin">
                {{'Or' | translate}}<br/>
                <button class="no-design link" ng-click="clearAllFilters()">{{'clear_all_filters_2' | translate}}</button>
            </div>
        </div>
    </div>
</div>
<div class="cant-find-item" ng-click="cantFindItem.openDialog();" ng-class="{'no-results': !total && !!noResultsMessage && initialized}"
     ng-mouseover="cantFindItem.text.show();" ng-mouseleave="cantFindItem.text.hide();">
    <img src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/cant-find-item.png" alt=""/><!--
    --><span class="text-wrapper"><!--
        --><span class="text">{{"Can't find item?" | translate}}</span><!--
        --><span class="for-vertical-align"></span><!--
    --></span>
</div>
