$bannerHeight: 7.688em;
$bannerBodyVerticalPadding: 1.1em;
$filterWidth: 13.5em;
$itemsPadding: 1em;
$cantFindItemMargin: 1em;
$itemBorderColor: #e7e7e7;
$menuItemMinHeight: 2em;
$itemHeight: 18.25em;
$itemNewHeight: 19em;
$couponItemHeight: 21.75em;

//==Kulinarik Large Items
//$largeBannerHeight: 16em;
$largeBannerHeight: 7.688em;
//$largeBannerPaddingBottom: 1em;
//$largeBannerImageWidth: 20em;

.items-wrapper {
  &.max-two-rows {
    min-height: $itemHeight;
    max-height: $itemHeight * 1.5;
    overflow: auto;

    .new-promotion & {
      min-height: $itemNewHeight;
    }
  }

  .item {
    height: $itemHeight;

    .new-promotion & {
      height: $itemNewHeight;
    }

    .new-promotion.show-original-price & {
      height: $itemNewHeight + 4em;
    }

    &.coupon-item {
      height: $couponItemHeight;
    }
  }
}

.item .product-actions {
  @include opacity(0);
}

html.my-coupons sp-items .items-wrapper {
  padding-top: 3em !important;
}

section.view {
  .item.fake {
    height: $itemHeight;
    width: 0 !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
    border-right-width: 0 !important;
    border-left-width: 0 !important;

    &.menu-item {
      height: auto;
      min-height: $menuItemMinHeight;
    }

    .new-promotion & {
      height: $itemNewHeight;
    }
  }

  sp-items {
    .item {
      display: inline-block;
    }

    > .items-wrapper {
      padding-top: $bannerHeight;
      padding-left: $itemsPadding;
      padding-right: $itemsPadding;
      padding-bottom: 5.5em;

      > .items {
        position: relative;
        border-top: 1px solid $itemBorderColor;
        border-left: 1px solid $itemBorderColor;
      }

      .group {
        padding-top: 0.2em;

        .two-columns-items .group-column {
          display: inline-block;
          vertical-align: top;
          @include box-sizing(border-box);
          padding-right: 1em;

          &:last-child {
            padding-right: 0;
          }
        }

        .one-column-items {
          display: none;
        }

        &.one-column {
          .one-column-items {
            display: block;
          }

          .two-columns-items {
            display: none;
          }
        }
      }

      > .loading-wrapper {
        display: block;
        margin: 0;
        padding: 0.2em 0;
        text-align: center;
        visibility: hidden;

        &.active {
          visibility: visible;
        }

        img {
          height: 0.5em;
          width: auto;
        }
      }

      &.no-results {
        padding-bottom: $itemsPadding;
      }

      &.menu {
        > .items {
          border-top-width: 0;
          border-left-width: 0;

          .item {
            display: block;
            height: auto;
            min-height: $menuItemMinHeight;
            border-right: 1px solid $itemBorderColor;
            border-left: 1px solid $itemBorderColor;
            border-top: 1px solid $itemBorderColor;
            border-bottom-width: 0;

            &:first-child {
              @include vendor-prefix(border-top-right-radius, 3px);
              @include vendor-prefix(border-top-left-radius, 3px);
            }

            &:last-child {
              border-bottom: 1px solid $itemBorderColor;
              @include vendor-prefix(border-bottom-right-radius, 3px);
              @include vendor-prefix(border-bottom-left-radius, 3px);
            }
          }
        }
      }

      > .no-results-message {
        margin-top: 5em;
        text-align: center;

        > svg {
          width: 5.5em;
          height: 4.0625em;
          fill: #505050;
        }

        .filters-message {
          color: #4b4c4d;

          .margin {
            margin-top: 0.5em;
          }
        }

        button.link {
          text-decoration: underline;
        }
      }
    }

    > .cant-find-item {
      @include fixed();
      left: $cantFindItemMargin;
      bottom: $cantFindItemMargin;
      color: #ffffff;
      cursor: pointer;
      z-index: 20;

      > img, > .text-wrapper > .text {
        vertical-align: middle;
      }

      > img {
        padding: 1em;
        @include border-radius(100%);
        @include box-shadow(0 0 3px rgba(0, 0, 0, 0.7));
      }

      > .text-wrapper {
        position: absolute;
        z-index: 1;
        left: 90%;
        top: 0;
        height: 100%;
        display: block;
        width: 0;
        @include transition(width 0.2s);

        > .text {
          display: inline-block;
          vertical-align: middle;
          width: 100%;
          overflow: hidden;
          white-space: nowrap;
          padding: 0.6em 0;
          @include border-radius(0 3px 3px 0);
          @include box-shadow(1.5px 0 1.5px rgba(0, 0, 0, 0.7));
        }
      }

      &.no-results {
        display: inline-block;
        position: relative;
        left: auto;
        bottom: auto;
        margin: $cantFindItemMargin;
      }

      &.open, &.no-results {
        > span {
          width: 8em;
        }
      }
    }

    > .tools-wrapper {
      display: block;
      @include fixed();
      z-index: 9;
      width: 2em;
      top: 0;
      left: 0;
      padding-top: $headerHeight;
      @include box-sizing(border-box);
      @include transition(width 200ms linear);

      html.hub-child & {
        padding-top: $headerHeight + $hubHeaderHeight;
      }

      .tools {
        $toolsOpenerHeight: 2em;

        width: 100%;
        padding: $bannerHeight 0 3.5em 0;
        @include box-sizing(border-box);
        display: flex;
        flex-direction: column;

        .tools-opener {
          flex: 0 0 auto;
          padding: 0.5em;
          @include box-sizing(border-box);
          @include border-radius(0 5px 5px 0);
          @include user-select(none);
          @include box-shadow(0px 0px 9px 0px #A3A3A3);
          width: 100%;
          height: $toolsOpenerHeight;
          @include transition(width 200ms linear);
          overflow: hidden;
          cursor: pointer;
          text-align: left;

          > img.icon {
            height: 1em;
          }

          .text {
            vertical-align: top;
            line-height: 1.2em;
            color: #ffffff;
            font-size: 0.9em;
            padding: 0;
          }

          .close-icon {
            float: right;
            margin: 0 0.5em;

            > img {
              height: 1em;
            }
          }

          .text, .close-icon {
            display: none;
          }
        }

        .tools-content {
          display: none;
          flex: 1 1 auto;
          height: 100%;
          box-sizing: border-box;
          clear: both;
          overflow: auto;
          padding: 0;

          &::-webkit-scrollbar {
            background-color: transparent;
            width: 8px;
          }

          &::-webkit-scrollbar-thumb {
            @include border-radius(5px);
            background-color: rgba(96, 96, 96, 0.2);

            &:hover {
              background-color: rgba(96, 96, 96, 0.7);
            }

            &:active {
              background-color: rgba(96, 96, 96, 1);
            }
          }

          .filters-loading-wrapper {
            width: 100%;
            text-align: center;

            > img {
              height: 10px;
              display: inline-block;
            }
          }

          .tool-wrapper {
            border-bottom: 1px solid #E9E9E9;
            padding: 0.7em 1em;

            /*&.permanent {
              background-color: #f2f2f2;
            }*/

            h5 {
              padding: 0;
              font-weight: 700;
              font-size: 0.93em;
            }

            .tool-title {
              padding: 0 0 0.6em 0;
              min-height: 1.1em;
            }

            .filter-title {
              margin: 0;
              display: flex;
              flex-direction: row;
              align-items: baseline;
              justify-content: space-between;

              h5, .clear-all {
                flex: 0 0 auto;
                display: inline-block;
              }

              .entire-store {
                font-size: 0.75em;
                color: #4b4c4d;
                padding-top: 0.3em;
              }

              .clear-all {
                padding: 0 0.5em;
                font-size: 0.8em;
                font-weight: 100;
                background-color: transparent;
                border-width: 0;
                vertical-align: middle;
                @include box-shadow(none);
                @include border-radius(5px);
                &.filter-is-clear {
                  display: none;
                }
              }
            }

            .filter, .sorter {
              padding: 0;

              .filter-item-wrapper {
                padding: 0.1em 0;
                white-space: nowrap;

                > button {
                  border-radius: 5px;
                  font-size: 0.8125em;
                  width: 100%;
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  justify-content: space-between;
                  padding: 0 0.5em;
                  height: 2.2308em;
                  overflow: hidden;

                  .ltr & {
                    text-align: left;
                  }
                  .rtl & {
                    text-align: right;
                  }

                  > .text {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: flex-end;
                    overflow: hidden;

                    > * {
                      display: inline-block;
                      vertical-align: middle;
                      flex: 0 0 auto;
                    }

                    .main {
                      flex: 1 1 auto;
                      text-overflow: ellipsis;
                      overflow: hidden;
                      white-space: nowrap;
                      padding: 0.3em 0;
                    }

                    img {
                      height: 2em;
                      width: 1.5em;
                      object-fit: contain;

                      .ltr & {
                        margin-right: 0.3em;
                      }
                      .rtl & {
                        margin-left: 0.3em;
                      }
                    }
                  }

                  > .icons {
                    line-height: 0.5em;

                    .ltr & {
                      margin-left: 0.3em;
                    }
                    .rtl & {
                      margin-right: 0.3em;
                    }

                    svg {
                      display: inline-block;
                      vertical-align: middle;
                      fill: #d2d2d3;

                      &.pin {
                        width: 1.1539em;
                        height: 1.1539em;
                        margin: 0 0.4em;
                      }

                      &.x {
                        visibility: hidden;
                        width: 0.9231em;
                        height: 0.9231em;
                      }
                    }
                  }

                  &:hover, &:focus {
                    background-color: #f3f3f3;
                  }
                }

                &.checked > button {
                  background-color: #ede1a4;

                  > .icons svg {
                    fill: #505050;
                    visibility: visible;
                  }
                }
              }
            }

            .sorter sp-dropdown {
              width: 100%;
              @include box-sizing(border-box);
              height: 1.875em;
              color: #737373 !important;
              font-size: 0.875em;

              .sp-option {
                text-align: initial;
              }
            }

            .more-btn {
              font-size: 0.75em;
              font-weight: bold;
              color: #282828;
              text-decoration: underline;
            }
          }
        }
      }
    }

    .fixed-banner-wrapper {
      @include box-sizing(border-box);
      @include fixed();
      top: $headerHeight;
      z-index: 9;
      left: 0;
      width: 100%;
      background-color: #ffffff;

      html.hub-child & {
        top: $headerHeight + $hubHeaderHeight;
      }

      .ltr & {
        padding-right: $sidenavWidth + 2em;
      }
      .rtl & {
        padding-left: $sidenavWidth + 2em;
      }

      html.close-sidenav.ltr & {
        padding-right: 1em;
      }
      html.close-sidenav.rtl & {
        padding-left: 1em;
      }

      .fixed-banner {
        /*border-bottom: 1px solid #EBEBEB;*/
        @include box-sizing(border-box);
        height: $bannerHeight;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: stretch;
        @include transition(padding-left 200ms, padding-right 200ms);

        html.close-sidenav.ltr & {
          padding-right: $sidenavWidth;
        }
        html.close-sidenav.rtl & {
          padding-left: $sidenavWidth;
        }

        > .background-img-wrapper {
          overflow: hidden;
          width: $filterWidth;
          z-index: -1;
          position: absolute;
          top: 0;
          bottom: 0;
          @include opacity(1);
          @include transition(opacity 400ms);
          background-size: auto $bannerHeight;
          background-repeat: no-repeat;

          .ltr & {
            left: 0;
            background-position: left center;
          }
          .rtl & {
            right: 0;
            background-position: right center;
          }
        }

        .banner-body {
          flex: 1 1 auto;
          display: flex;
          flex-direction: column;
          align-items: stretch;
          justify-content: center;
          box-sizing: border-box;
          overflow: hidden;

          .ltr & {
            padding-left: 1em;
            text-align: left;
          }
          .rtl & {
            padding-right: 1em;
            text-align: right;
          }

          > .main-row {
            padding: $bannerBodyVerticalPadding 0;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: stretch;

            > .title, > .back-btn {
              flex: 0 0 auto;
              font-size: 1.8666875em;
              margin: 0;
              font-weight: 300;
              line-height: 1.2em;
            }

            > .title {
              padding: 0;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
            }

            > .back-btn {
              display: none;

              .ltr & {
                margin-right: 1em;
              }
              .rtl & {
                margin-left: 1em;
              }
            }

            > .search-products {
              form {
                margin-left: 2em;
                padding-left: 1em;
                border-radius: 5px;
                border: 1px solid #787878;
                background: #ffffff;

                .rtl & {
                  margin-right: 2em;
                  margin-left: 0;
                  padding-left: 0;
                  padding-right: 1em;
                }

                > * {
                  vertical-align: middle;
                }

                > svg {
                  height: 1em;
                  width: 1em;
                  fill: var(--Grey-3, #787878);
                  transform: scaleX(-1);
                }

                > input {
                  font-size: 0.875em;
                  border: none;
                  padding: 0.3em 0;
                }
              }
            }

            > .filtering-filters {
              flex: 1 1 auto;
              white-space: nowrap;

              .ltr & {
                margin-left: 1em;
              }
              .rtl & {
                margin-right: 1em;
              }

              .filters-group {
                display: inline-block;
                vertical-align: middle;

                > .filters-item {
                  $itemVerticalPadding: 0.8em;
                  display: inline-flex;
                  flex-direction: row;
                  align-items: center;
                  vertical-align: middle;
                  font-size: 0.75em;
                  margin: 0 0.3334em;
                  background-color: #ede1a4;
                  border-radius: 5px;
                  padding: 0 $itemVerticalPadding;
                  height: 2.4em;
                  color: #1e1f21;

                  $innerHeight: .5em;
                  $innerItemPadding: 0.5em;
                  .ltr & {
                    padding-right: $itemVerticalPadding - $innerItemPadding;
                  }
                  .rtl & {
                    padding-left: $itemVerticalPadding - $innerItemPadding;
                  }

                  > .name {
                    font-size: 1.0834em;
                  }

                  > .filter-icon, > .name {
                    .ltr & {
                      padding-right: $innerItemPadding;
                    }
                    .rtl & {
                      padding-left: $innerItemPadding;
                    }
                  }

                  > .filter-icon {
                    max-height: 2em;
                    max-width: 2em;
                  }

                  > .x {
                    height: 1em;
                    width: 1em;
                    box-sizing: content-box;
                    padding: $innerItemPadding;

                    > svg {
                      width: 100%;
                      height: 100%;
                      fill: #4b4c4d;
                      vertical-align: top;
                    }
                  }

                  > .pin {
                    height: 1.3em;
                    width: 1.3em;
                    fill: #505050;

                    .ltr & {
                      padding-left: $innerItemPadding;
                    }
                    .rtl & {
                      padding-right: $innerItemPadding;
                    }
                  }
                }
              }

              .link {
                text-decoration: underline;
                margin: 0 1em;
              }
            }
          }

          > .add-coupon {
            display: flex;
            grid-column: 1;
            grid-row: 2;
            grid-column-gap: 2em;
            align-items: center;
            padding: 0.75em 0;
            font-size: 16px;

            > a {
              height: 24px;
              display: flex;
              grid-column-gap: 0.5em;
              align-items: center;
              padding-right: 2em;
              font-size: 14px;
              color: #787878;
              border-right: 1px solid #787878;

              > svg {
                width: 1em;
                height: 1em;
                fill: #787878;

                .rtl & {
                  transform: scaleX(-1);
                }
              }

              .rtl & {
                padding-left: 2em;
                padding-right: 0;
                border-left: 1px solid #787878;
                border-right: none;
              }
            }

            > form {
              display: flex;
              grid-column-gap: 0.5em;
              font-size: 14px;

              > input {
                padding: 4px;
              }

              > button {
                width: 8em;
                padding: 4px;
              }
            }

            > .coupon-points-info {
              height: 24px;
              display: flex;
              grid-column-gap: 0.5em;
              align-items: center;
              margin-left: auto;
              padding: 0 0.25em;
              font-size: 16px;

              .rtl & {
                margin-right: auto;
                margin-left: initial;
              }

              > .coupon-points {
                display: flex;
                align-items: center;

                > svg,
                > img {
                  width: 1.5em;
                  height: 1.5em;
                }
              }
            }
          }

          > .description {
            overflow: hidden;
            width: 100%;
            height: 2.7em;
            line-height: 1.3em;
          }
        }
      }

      &.has-banner-image .fixed-banner {
        .ltr & {
          padding-left: $filterWidth;
        }
        .rtl & {
          padding-right: $filterWidth;
        }
      }

      &.show-back-btn .fixed-banner {
        .banner-body > .main-row > .back-btn {
          display: block;
        }
      }
    }

    &.tools-shown {
      > .items-wrapper {
        margin-left: $filterWidth;
      }

      > .cant-find-item {
        left: $filterWidth + $cantFindItemMargin;
      }

      > .tools-wrapper {
        width: $filterWidth;
        height: 100%;

        .tools {
          height: 100%;

          .tools-opener {
            padding-right: 0;
            padding-left: $itemsPadding;
            width: $filterWidth - 1em;

            .text, .close-icon {
              display: inline-block;
            }
          }

          .tools-content {
            display: block;
          }
        }
      }

      &.banner-one-line > .tools-wrapper .tools .tools-opener {
        width: 100%;
        @include border-radius(0);
        @include box-shadow(none);
      }
    }

    &.banner-one-line .fixed-banner-wrapper {
      .fixed-banner {
        border-bottom: 1px solid $itemBorderColor;

        .banner-body > .description {
          display: block;
        }

        .background-img-wrapper {
          @include opacity(0);
        }
      }

      &.has-banner-image .fixed-banner {
        .ltr & {
          padding-left: 0;
        }
        .rtl & {
          padding-right: 0;
        }
      }
    }

    &.large-items {
      //==Kulinarik Large Items
      //.fixed-banner-wrapper {
      //  .fixed-banner {
      //    height: $largeBannerHeight;
      //    padding-bottom: $largeBannerPaddingBottom;
      //
      //    > .background-img-wrapper {
      //      width: $largeBannerImageWidth;
      //      background-size: cover;
      //      bottom: $largeBannerPaddingBottom;
      //    }
      //
      //    .banner-body {
      //      > .main-row {
      //        padding-top: 3em;
      //      }
      //
      //      .description {
      //        width: 60%;
      //        font-size: 1em;
      //        line-height: 1.5em;
      //        height: auto;
      //        max-height: 6em;
      //      }
      //    }
      //  }
      //
      //  &.has-banner-image .fixed-banner {
      //    .ltr & {
      //      padding-left: $largeBannerImageWidth;
      //    }
      //
      //    .rtl & {
      //      padding-right: $largeBannerImageWidth;
      //    }
      //  }
      //}

      > .items-wrapper {
        padding-top: $largeBannerHeight;

        .items {
          border: 0;
          width: calc(100% + 1em);
          display: block;
          margin: 0px -0.5em;

          .rtl & {
            border: 0; //?
          }

          .item {
            height: 26em;
            border: 0;
            margin-bottom: 1em;

            > .product-item {
              padding: 0;
            }
          }
        }
      }

      > .tools-wrapper {
        .tools {
          padding: $largeBannerHeight 0 0 0;
        }
      }

      &.banner-one-line .fixed-banner-wrapper {
        .fixed-banner {
          padding-bottom: 0;

          .banner-body > .main-row {
            padding-top: $bannerBodyVerticalPadding;
          }

          > .background-img-wrapper {
            bottom: 0;
          }
        }

        &.has-banner-image .fixed-banner {
          .ltr & {
            padding-left: 0;
          }
          .rtl & {
            padding-right: 0;
          }
        }
      }

      &.new-promotion > .items-wrapper .items .item {  
        height: 26.5em;
      }
    }
  }
}

html.rtl {
  section.view {
    sp-items {
      > .cant-find-item {
        left: auto;
        right: $cantFindItemMargin;

        > .text-wrapper {
          left: auto;
          right: 90%;

          > .text {
            @include border-radius(3px 0 0 3px);
            @include box-shadow(-1.5px 0 1.5px rgba(0, 0, 0, 0.7));
          }
        }
      }

      .item {
        border-width: 0 0 1px 1px;
      }

      &.tools-shown {
        > .cant-find-item {
          left: auto;
          right: $filterWidth + $cantFindItemMargin;
        }

        > .tools-wrapper {
          .tools {
            .tools-opener {
              padding-left: 0;
              padding-right: $itemsPadding;
            }
          }
        }

        .items-wrapper {
          margin-left: 0;
          margin-right: $filterWidth;
          padding-right: 0;
          padding-left: $itemsPadding;
        }
      }

      > .items-wrapper {
        > .items {
          border-left-width: 0;
          border-right: 1px solid $itemBorderColor;
        }

        .group .two-columns-items .group-column {
          padding-right: 0;
          padding-left: 1em;

          &:last-child {
            padding-left: 0;
          }
        }

        &.menu > .items {
          border-right-width: 0;
        }
      }

      > .tools-wrapper {
        left: auto;
        right: 0;

        .tools {
          .tools-opener {
            @include border-radius(5px 0 0 5px);
            text-align: right;

            .close-icon {
              @include flipH();
              float: left;

              > img {
                height: 1em;
              }
            }
          }
        }
      }

      .product > div > .actions > div.sp-quantity > .btns-row > button > img {
        margin-left: 0.2em;
      }
    }
  }
}

$itemResponsiveHeight: 17em;

html {
  &.product-tag-products {
    section.view sp-items {
      >.landing-page-banner {
        padding-top: 2em;
      }
    }
  }
}

@media screen and (max-width: 1300px) {
  section.view sp-items {
    > .tools-wrapper {
      padding-top: $headerResponsiveHeight;

      html.hub-child & {
        padding-top: $headerResponsiveHeight + $hubHeaderHeight;
      }
    }

    .fixed-banner-wrapper {
      top: $headerResponsiveHeight;

      html.hub-child & {
        top: $headerResponsiveHeight + $hubHeaderHeight;
      }
    }
  }
}

@media screen and (max-width: 1440px) {
  section.view sp-items > .items-wrapper .group {
    .one-column-items {
      display: block;
    }

    .two-columns-items {
      display: none;
    }
  }
}

@media screen and (max-width: 768px) {
  section.view {
    .item.fake {
      height: $itemResponsiveHeight;

      &.menu-item {
        height: auto;
      }
    }

    sp-items .fixed-banner-wrapper .fixed-banner .banner-body > .main-row {
      > .title, > .back-btn {
        font-size: 1.7em;
      }
    }
  }

  html.search-products, html.category-products, html.special, html.product-tag-products {
    section.view {
      .item {
        height: $itemResponsiveHeight;
      }
    }
  }


}
