section.view {
  sp-items {
    > .cant-find-item {
      > img, > .text-wrapper > .text {
        background-color: $mainColor;
      }
    }

    > .tools-wrapper .tools {
      .tools-opener {
        background-color: $headerColor;

        .text {
          font-family: $defaultFontFamily;
        }
      }

      .tools-content {
        .filter, .sorter {
          h5 {
            color: $headerColor;
          }

          .tool-content .checkbox > .box.true {
            background-color: $headerColor;
          }
        }
      }
    }

    .fixed-banner-wrapper .fixed-banner .banner-body {
      > .main-row {
        > .title, > .back-btn {
          color: $secondaryColor;
        }

        > .filtering-filters .link {
          color: $mainColor;
        }
      }

      > .add-coupon > .coupon-points-info > .coupon-points > svg {
        fill: $mainColor;
      }
    }
  }
}