<div class="contact-details-wrapper">
    <h1 id="page_title" ng-bind="::'Contact details' | translate"></h1>
    <div>
        <p ng-bind-html="contactDetailsCtrl.content| trustHtml"></p>
    </div>
</div>