<form class="form" name="createShopListForm" ng-submit="createShopListCtrl.create();">
    <div class="input-wrapper">
        <input placeholder="{{'Shopping list name' | translate}}" type="text" ng-model="createShopListCtrl.shopListName" name="shopListName" sp-inline-error required/>
    </div>
    <div class="add-products-wrapper">
        <sp-checkbox sp-model="createShopListCtrl.addCartProducts">{{('add cart products' | translate).replace('{cart}', $root.config.retailer.settings.setCartNameToBasket ? $root.config.retailer.settings.setCartNameToBasket : 'cart')}}</sp-checkbox>
    </div>
    <div class="buttons">
        <button type="submit" ng-disabled="createShopListForm.$invalid">{{'Create' | translate}}</button>
    </div>
</form>
