<!-- ng-if to make sure sp-sale-icon will start after special has been set -->
<header ng-if="specialDetailsCtrl.special">
    <sp-sale-icon special="specialDetailsCtrl.special" without-actions="true"
        ng-if="$root.config.retailer.settings.isNewPromotionDesignEnabled !== 'true'">
    </sp-sale-icon>
    <div class="promotion-title" ng-if="$root.config.retailer.settings.isNewPromotionDesignEnabled === 'true'">
        <span class="audience"
            ng-if="specialDetailsCtrl.special.icons[specialDetailsCtrl.special.loyaltyClubsIds[0]][$root.config.language.id].description || specialDetailsCtrl.special.icons[specialDetailsCtrl.special.loyaltyClubsIds[0]][2].description"
            ng-bind="specialDetailsCtrl.special.icons[specialDetailsCtrl.special.loyaltyClubsIds[0]][$root.config.language.id].description || specialDetailsCtrl.special.icons[specialDetailsCtrl.special.loyaltyClubsIds[0]][2].description">
        </span>
        <span class="tag" ng-bind="($root.config.retailer.settings.showPriceWithoutBottleDeposit && specialDetailsCtrl.special.names[$root.config.language.id].promotionTagWithoutDeposit) ? specialDetailsCtrl.special.names[$root.config.language.id].promotionTagWithoutDeposit : specialDetailsCtrl.special.names[$root.config.language.id].promotionTag"></span>
    </div>

    <div class="promotion" ng-if="$root.config.retailer.settings.isNewPromotionDesignEnabled !== 'true'">
        <h3 class="default-font" ng-bind=":: 'Add products to earn this promotion' | translate"></h3>
        <h2 id="special_details_title" class="default-font"
            ng-bind=":: specialDetailsCtrl.special.descriptions.length > 0 ? specialDetailsCtrl.special.descriptions[$root.config.language.culture] : specialDetailsCtrl.special.description">
        </h2>
    </div>
    <div class="promotion-description" ng-if="$root.config.retailer.settings.isNewPromotionDesignEnabled === 'true'"
        ng-class="{ 'buy-and-get-special': specialDetailsCtrl.gifts.total }">
        <div class="description">
            <div class="description-text-wrapper">
                <svg focusable="false" ng-if="!specialDetailsCtrl.gifts.total">
                    <use xlink:href="#sp-icons-gift"></use>
                </svg>
                <svg class="buy-and-get-icon" focusable="false" ng-if="specialDetailsCtrl.gifts.total && !specialDetailsCtrl.showGifts">
                    <use xlink:href="#sp-icons-curved-arrow"></use>
                </svg>
                <button class="no-design"
                        ng-if="specialDetailsCtrl.gifts.total && specialDetailsCtrl.showGifts"
                        ng-click="specialDetailsCtrl.showGifts = false">
                    <img src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/backward-arrow.png" alt="{{'Back' | translate}}"/>
        <!--            <svg class="buy-and-get-icon" focusable="false">
                        <use xlink:href="#sp-icons-backward-arrow"></use>
                    </svg>-->
                </button>

                <h1 id="special_details_title" class="description" ng-bind="($root.config.retailer.settings.showPriceWithoutBottleDeposit && specialDetailsCtrl.special.names[$root.config.language.id].nameWithoutDeposit) ? specialDetailsCtrl.special.names[$root.config.language.id].nameWithoutDeposit : specialDetailsCtrl.special.names[$root.config.language.id].name"></h1>
            </div>
            <div class="info">
                <div>
                    <span class="expiration" ng-if="$root.config.retailer.showSpecialsValidity">
                        {{'special_exp_new' | translate}}
                        {{specialDetailsCtrl.special.endDate | date: ($root.config.isUs ? 'MM.dd.yyyy' :
                        'dd.MM.yyyy'):'UTC'}}
                    </span>
                    <span class="boundary" ng-if="$root.config.retailer.showSpecialsValidity && specialDetailsCtrl.special.names[$root.config.language.id].limitText"></span>
                    <span class="realizations" ng-if="specialDetailsCtrl.special.names[$root.config.language.id].limitText"
                        ng-bind="specialDetailsCtrl.special.names[$root.config.language.id].limitText">
                    </span>
                </div>
                <span class="legal-text">
                    <span ng-repeat="loyaltyId in specialDetailsCtrl.special.loyaltyClubsIds" ng-if="$root.config.retailer.loyaltyClubs && specialDetailsCtrl.special && specialDetailsCtrl.special.loyaltyClubsIds && specialDetailsCtrl.special.loyaltyClubsIds.length 
                    && $root.config.retailer.loyaltyClubs[loyaltyId].creditCardLegalText
                    && $root.config.retailer.loyaltyClubs[loyaltyId].creditCardLegalText.isActive" 
                    ng-bind="$root.config.retailer.loyaltyClubs[loyaltyId].creditCardLegalText.text[$root.config.language.culture]"></span>   
                </span>
            </div>
        </div>
    </div>
</header>

<section class="items-wrapper" endless-scroll="specialDetailsCtrl.endlessScrollOptions"
         ng-if="!specialDetailsCtrl.showGifts && !specialDetailsCtrl.specialInactive"
         ng-class="{'multi-buckets': specialDetailsCtrl.special.hasMultipleBuckets,
         'buy-and-get': specialDetailsCtrl.gifts.total,
         'one-line': specialDetailsCtrl.products.products.length <= 3 && !specialDetailsCtrl.special.hasMultipleBuckets}">
    <div class="items" ng-if="specialDetailsCtrl.products.products.length && !specialDetailsCtrl.special.hasMultipleBuckets">
        <div class="item product" ng-repeat="product in specialDetailsCtrl.products.products" sp-in-view-watcher>
            <sp-product open-product="$root.util.openProduct(product)" product="product" hide-sales="true" tabindex="0"
                        aria-labelledby="{{'product_' + product.id + '_name'}}"></sp-product>
        </div>
    </div>
    <span ng-if="specialDetailsCtrl.gifts.total && !specialDetailsCtrl.special.hasMultipleBuckets && specialDetailsCtrl.products.products.length <= 3"
          class="for-vertical-align"></span>

    <div class="purchase"
         ng-class="{'showen': specialDetailsCtrl.currentPurchase === $index}"
         ng-repeat="purchase in specialDetailsCtrl.special.levels[0].purchases"
         ng-if="specialDetailsCtrl.special.levels[0] && specialDetailsCtrl.special.levels[0].purchases && specialDetailsCtrl.special.levels[0].purchases.length && specialDetailsCtrl.special.hasMultipleBuckets">
        <div class="purchase-title-wrapper"
             ng-click="specialDetailsCtrl.togglePurchase($index, purchase.id)"
             aria-expanded="{{specialDetailsCtrl.currentPurchaseId === purchase.id}}"
             aria-controls="{{'purchase_' + $index + '_products'}}">
            <h3 class="purchase-title">
                {{(purchase.type === 1 ? (purchase.total === 1 ? 'buy_unit_total' : 'buy_units_total') : (purchase.type === 2 ? 'buy_currency_total' : (purchase.type === 3 ? 'buy_measure_total' : '')) | translate)
                    .replace('{total}', purchase.type === 2 ? (purchase.total | currency) : purchase.total).replace('{unit}', $root.defaultWeightUnit.names[$root.config.language.id])}}
            </h3>
            <div class="purchase-remainder" ng-if="!!purchase.remainder && specialDetailsCtrl.currentPurchase === $index">{{('add_units_special_purchase' | translate).replace('{remaining}', purchase.remainder)}}</div>
            <svg focusable="false" class="right">
                <use xlink:href="#sp-icons-arrow-down"></use>
            </svg>
        </div>
        <div class="items" id="{{'purchase_' + $index + '_products'}}">
            <div class="item product" ng-repeat="product in purchase.esProducts" ng-if="!!product && product.id">
                <sp-product open-product="$root.util.openProduct(product)" product="product" hide-sales="true" tabindex="0"
                            aria-labelledby="{{'product_' + product.id + '_name'}}"></sp-product>
            </div>
        </div>
    </div>
</section>

<section class="items-wrapper buy-and-get" endless-scroll="specialDetailsCtrl.endlessScrollOptions"
         ng-class="{'one-line': specialDetailsCtrl.products.products.length <= 3 && !specialDetailsCtrl.special.hasMultipleBuckets}"
         ng-if="specialDetailsCtrl.showGifts && !specialDetailsCtrl.specialInactive">
    <div class="items" ng-if="specialDetailsCtrl.gifts.products.length">
        <div class="item product" ng-repeat="product in specialDetailsCtrl.gifts.products" sp-in-view-watcher>
            <sp-product open-product="$root.util.openProduct(product)" product="product" hide-sales="true" tabindex="0"
                aria-labelledby="{{'product_' + product.id + '_name'}}">
            </sp-product>
        </div>
    </div>
    <div ng-if="!specialDetailsCtrl.gifts.products.length" class="no-items-massage">
        <strong>{{'There are no available items for this promotion' | translate}}</strong>
    </div>

    <span ng-if="!specialDetailsCtrl.special.hasMultipleBuckets && specialDetailsCtrl.products.products.length <= 3"
          class="for-vertical-align">
    </span>
</section>

<section class="items-wrapper" ng-if="specialDetailsCtrl.specialInactive">
    <span class="for-vertical-align"></span><!--
    --><div class="special-inactive-message">{{'There are no available items for this promotion' | translate}}</div>
</section>

<footer ng-class="{'new-promotion': $root.config.retailer.settings.isNewPromotionDesignEnabled === 'true'}">
    <div class="special-info" ng-class="{'products-added': specialDetailsCtrl.quantity && specialDetailsCtrl.total}">
        <span class="quantity" ng-if="specialDetailsCtrl.quantity">
            {{'Quantity' | translate}}: {{specialDetailsCtrl.quantity}}
            <span ng-if="showUnit">&nbsp;{{$root.defaultWeightUnit.names[$root.config.language.id]}}</span>
        </span>
        <span class="total" ng-if="specialDetailsCtrl.total">
            {{'Total' | translate}}:&nbsp;<sp-product-price regular-price="specialDetailsCtrl.total"></sp-product-price>
        </span>
        <span class="remaining"
            ng-if="$root.cart.specialReminders.onProducts[specialDetailsCtrl.special.id].purchaseType === 1 && !specialDetailsCtrl.special.hasMultipleBuckets"
            ng-bind="('add_units_special' | translate).replace('{remaining}', $root.cart.specialReminders.onProducts[specialDetailsCtrl.special.id].remaining)">
        </span>
        <span class="remaining"
            ng-if="$root.cart.specialReminders.onProducts[specialDetailsCtrl.special.id].purchaseType === 2 && !specialDetailsCtrl.special.hasMultipleBuckets"
            ng-bind="('add_currency_special' | translate).replace('{remaining}', $root.cart.specialReminders.onProducts[specialDetailsCtrl.special.id].remaining | currency)">
        </span>
        <span class="remaining"
            ng-if="$root.cart.specialReminders.onProducts[specialDetailsCtrl.special.id].purchaseType === 3 && !specialDetailsCtrl.special.hasMultipleBuckets"
            ng-bind="('add_measure_special' | translate).replace('{remaining}', $root.cart.specialReminders.onProducts[specialDetailsCtrl.special.id].remaining).replace('{unit}', $root.defaultWeightUnit.names[$root.config.language.id])">
        </span>
    </div>

    <div class="actions right">
<!--        <button class="back" ng-click="specialDetailsCtrl.showGifts = false" ng-bind="::'Back' | translate"
            ng-if="specialDetailsCtrl.gifts.total && specialDetailsCtrl.showGifts">
        </button>-->

        <button ng-click="specialDetailsCtrl.showGifts = true" ng-bind="::'Buy' | translate"
                ng-if="specialDetailsCtrl.gifts.total"
                ng-disabled="!(specialDetailsCtrl.isGiftAbsolute && specialDetailsCtrl.isTotalPurchaseEnoughForGift) && ((!specialDetailsCtrl.quantity && !$root.cart.specialReminders.onProducts[specialDetailsCtrl.special.id]) ||
                (specialDetailsCtrl.quantity && $root.cart.specialReminders.onProducts[specialDetailsCtrl.special.id] && $root.cart.specialReminders.onProducts[specialDetailsCtrl.special.id].showProductsFrom !== 'gifts')
                || !specialDetailsCtrl.purchaseQuantity || specialDetailsCtrl.showGifts)">
        </button>

        <button ng-click="$dialog.hide()" ng-bind="(specialDetailsCtrl.gifts.total ? 'Get' : 'Done') | translate"
                ng-disabled="(specialDetailsCtrl.special.hasMultipleBuckets && (!specialDetailsCtrl.quantity || ($root.cart.specialReminders.onProducts[specialDetailsCtrl.special.id] && !$root.cart.specialReminders.onProducts[specialDetailsCtrl.special.id].awarded))) ||
                (!(specialDetailsCtrl.isGiftAbsolute && specialDetailsCtrl.isTotalPurchaseEnoughForGift) && ((specialDetailsCtrl.gifts.total && specialDetailsCtrl.showGifts !== true) || (specialDetailsCtrl.showGifts === true && $root.cart.specialReminders.onProducts[specialDetailsCtrl.special.id] && !$root.cart.specialReminders.onProducts[specialDetailsCtrl.special.id].awarded)))">
        </button>
    </div>
</footer>
