div.dialog.special-details > div.dialog-body {
  $itemWidth: 15em;
  $itemMargin: 0.75em;
  $itemsInRow: 3;
  $itemsWidth: ($itemWidth + $itemMargin) * $itemsInRow;
  $shadowColor: rgba(0, 0, 0, 0.075);
  $red: #FF5755;
  $textColor: #505050;

  padding: 3.25em 0 $itemMargin 0 !important;
  width: $itemsWidth + 2em;

  > button.close-dialog-corner-button {
    display: flex;
    margin: 0;
    padding: 0;

    .rtl & {
      left: 1em;
      right: auto;
    }
  }

  > header {
    width: 100%;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.07);

    > * {
      display: inline-block;
      vertical-align: middle;
    }

    > .sp-sale-icon {
      $spSaleIconSize: 3em;

      position: relative;
      top: auto;
      right: auto;
      bottom: auto;
      left: auto;
      width: $spSaleIconSize;
      height: $spSaleIconSize;

      // svg for kikar
      > img,
      > svg {
        width: $spSaleIconSize;
        height: $spSaleIconSize;
      }
    }

    > .promotion-title {
      min-height: 1.75em;
      display: grid;
      grid-template-columns: auto 1fr;
      grid-column-gap: 1em;
      align-items: center;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      margin: 0;
      padding: 0.75em 1em;
      background-color: #ffebeb;

      > .audience {
        height: 2em;
        display: flex;
        align-items: center;
        padding: 0 0.5em;
        color: white;
        border-radius: 0.25em;
        font-size: 13px;
      }

      > .tag {
        max-height: 2em;
        overflow: hidden;
        color: $red;
        font-size: 18px;
        font-weight: bold;
        text-transform: uppercase;
        @include ellipsis(2);
      }
    }

    > .promotion {
      margin: 0 0.25em;

      /*min-height: 4em;
      display: grid;
      align-items: center;
      margin: 0.25em 0.25em -1em;*/

      > h2,
      > h3 {
        margin: 0.2em 0;
        padding: 0;
        font-size: 1.3em;
        color: #000000;
      }

      > h2 {
        font-weight: 700;
      }
    }

    > .promotion-description {
      display: grid;
      grid-column-gap: 1em;
      grid-row-gap: 0.5em;
      padding: 1em 0.25em;

      &.buy-and-get-special {
        width: 100%;
        grid-template-columns: 1fr auto;
        margin: 0;
      }

      > .description {
        display: grid;
        grid-row-gap: 0.5em;
        align-content: center;

        > span {
          font-size: 16px;
        }

        > .description-text-wrapper {
          > * {
            display: inline-block;
            vertical-align: middle;
          }

          > h1 {
            color: $textColor;
            font-size: 16px;
            font-weight: normal;
            padding: 0 0.5em;
            width: 90%;
          }

          > svg {
            width: 2.688em;
            height: 2.688em;

            &.buy-and-get-icon {
              width: 2em;
              height: 2em;
            }
          }

          > button {
            height: 2em;
            > img {
              max-height: 100%;
              width: 1.5em;
              margin: 0 0.25em;
            }
          }
        }

        > .info {
          display: flex;
          flex-direction: column;
          padding: 0 3.5em;
          >div{
            display: flex;
            gap: 4px;
            width: 50%;
            > span{
              color: #78797a;
              font-size: 11px;
              line-height: 1.2em;
            }
            >span.boundary{
              width: 1px;
              background: #78797a;
            }
          }
          > .legal-text{
            color: #78797a;
            font-size: 11px;
            width: 100%;
            display: flex;
            flex-direction: column;
          }
        }
      }
    }
  }

  > section.items-wrapper {
    height: 30em;
    overflow: auto;
  }

  > footer {
    &.new-promotion {
      display: grid;
      grid-template-columns: 1fr auto;
      grid-column-gap: 1em;

      .special-info {
        display: grid;
        grid-template-columns: 1fr;
        grid-column-gap: 1em;
        align-items: center;
        justify-items: end;
        margin-left: 0.5em;
        font-size: 18px;

        &.products-added {
          grid-template-columns: auto auto 1fr;
        }

        .quantity, .total {
          color: $textColor;
          font-weight: 600;
        }

        .total {
          display: flex;

          .sp-product-price .price {
            font-weight: 600;
            color: $textColor;
          }
        }

        .remaining {
          font-size: 14px;
          font-weight: bold;
          color: $red;
          animation: flash 1.5s 3;
        }

        .special-terms-explanation {
          color: $red;
          font-size: 0.8em;
          font-weight: 700;
        }
      }
    }

    .actions {
      display: flex;
      grid-column-gap: 1em;

      button {
        $padding: 2em;
        padding-right: $padding;
        padding-left: $padding;
        border: 1px solid;
        font-size: 16px;
        border-radius: 28px;

        &.back {
          background-color: #ffffff;
        }

        &:disabled {
          color: #696969;
          background-color: #ffffff;
          border-color: #696969;
        }
      }
    }
  }

  > header,
  > footer {
    padding: 0 $itemMargin;
    box-sizing: border-box;
  }

  > section.items-wrapper {
    padding: $itemMargin $itemMargin 0 0;
    margin-bottom: $itemMargin;
    background: #f3f3f3;

    $shadowSize: 0.5em;
    box-shadow: inset 0 $shadowSize $shadowSize (-$shadowSize) $shadowColor,
      inset 0 (-$shadowSize) $shadowSize (-$shadowSize) $shadowColor;

    &.multi-buckets {
      padding: $itemMargin $itemMargin 0 $itemMargin;
      height: 34.5em;
      width: 100%;
      box-sizing: border-box;
      background-color: #ffffff;

      > .purchase {
        width: 100%;
        box-sizing: border-box;
        background: #f3f3f3;

        &:first-child {
          > .purchase-title-wrapper {
            border-radius: 10px 10px 0 0;
          }
        }

        &:last-child {
          > .purchase-title-wrapper {
            border-bottom-width: 1px;
            border-radius: 0 0 10px 10px;
          }
        }

        > .purchase-title-wrapper {
          width: 100%;
          position: relative;
          padding: 1em 0;
          background-color: #FFEBEB;
          border: 1px solid $red;
          border-bottom-width: 0;

          > * {
            display: inline-block;
          }

          > .purchase-title {
            font-size: 1.125em;
            font-weight: 700;
            padding: 0 1em;
            color: $textColor;
            width: 70%;
          }

          > .purchase-remainder {
            color: $red;
            font-weight: 600;
            font-size: 1.125em;
            animation: flash 1.5s 3;
          }

          > svg {
            color: $textColor;
            height: 0.8em;
            width: 0.8em;
            border: 1px solid;
            border-radius: 100%;
            padding: 0.25em;
            margin: 0 1em;
            fill: $textColor;
          }
        }

        > .items {
          overflow: auto;
          height: 0;
          width: 100%;
          border: 1px solid $red;
          border-bottom-width: 0;
          transition: height .2s;
          padding: 0;
          visibility: hidden;

          > div.item {
            width: $itemWidth - 0.2em;
          }

          &::-webkit-scrollbar {
            background-color: transparent;
            width: 8px;
          }

          &::-webkit-scrollbar-thumb {
            @include border-radius(5px);
            background-color: rgba(96, 96, 96, 0.2);

            &:hover {
              background-color: rgba(96, 96, 96, 0.7);
            }

            &:active {
              background-color: rgba(96, 96, 96, 1);
            }
          }
        }

        &.showen {
          > .purchase-title-wrapper > svg {
            transform: rotate(180deg);
          }

          > .items {
            height: 22em;
            visibility: visible;
            padding-top: 1em;
          }

          &:last-child {
            > .purchase-title-wrapper {
              border-bottom-width: 0;
              border-radius: 0;
            }

            > .items {
              border-bottom-width: 1px;
              border-radius:  0 0 10px 10px;

            }
          }
        }
      }
    }

    &.buy-and-get:not(.multi-buckets) {
      margin: 1em;
      border: 1px solid $red;
      border-radius: 13px;
      box-shadow: none;

      &.one-line {
        overflow:hidden;

        div.items {
          vertical-align: middle;
          display: inline-block;
          width: 99%;
        }
      }

      .no-items-massage {
        text-align: center;
        height: 18.25em;
        display: grid;
        align-items: center;
      }

      div.items {
        width: 100%;
        text-align: center;
        vertical-align: middle;

        > div.item {
          width: $itemWidth - 0.7em;
          text-align: start;
        }
      }
    }

     div.items {
      width: $itemsWidth;

      > div.item {
        width: $itemWidth;
        border: none !important;
        margin: 0 0 $itemMargin $itemMargin;
        padding: 0;

        > sp-product {
          display: block;
          width: 100%;
          height: 100%;
          box-sizing: border-box;
          padding: 1.2em 0.5em;
          box-shadow: 0 0 0.5em $shadowColor;
          > .sp-unit-weight {
            top: 35%;
            transform: translate(-50%, -35%);
            &.kikar-template {
              top: 53%;
              transform: translate(-50%, -53%);
            }
          }
        }
      }
    }

    > .special-inactive-message {
      font-size: 1.5em;
      font-weight: 700;
      text-align: center;
      width: 100%;
      vertical-align: middle;
      display: inline-block;
      color: #3c3c3c;
    }
  }
}

.rtl {
  div.dialog.special-details > div.dialog-body > header > .promotion-description > .description > .description-text-wrapper  {
    > svg.buy-and-get-icon, > button > img {
      transform: scale(-1, 1);
    }
  }
}
