div.dialog.special-details {
  div.dialog-body {
    header {
      > .promotion-title > .audience {
        background-color: $mainColor;
      }

      > .buy-and-get-special > .buy-and-get {
        > .buy,
        > .get {
          color: $mainColor;

          &.active > .circle {
            background-color: $mainColor;
            border-color: $mainColor;
          }

          > .circle {
            border-color: $mainColor;
          }
        }

        > .arrow {
          &::after {
            border-color: $mainColor;
          }

          &::before {
            background-color: $mainColor;
          }
        }
      }
    }

    footer > .actions > button {
      border-color: $mainColor;

      &.back {
        color: $mainColor;
      }
    }
  }
}
