<div class="no-pickup-content">
    <div class="popup-title">
        <h1>
            {{chooseAreaCtrl.currentAdvancedAreaAvailabilitySettings.popupTitle[chooseAreaCtrl.currentScenario.property]
            || (chooseAreaCtrl.currentScenario.defaultPopupTitle | translate)}}</h1>
    </div>

    <ng-include src="chooseAreaCtrl.tabs[1].templateUrl"></ng-include>
</div>