.dialog-wrapper .dialog.choose-area-dialog {
  .dialog-body {
    .no-pickup-content {
      .popup-title {
        padding-top: 8em;
        background-color: white;
        height: 1em;

        h1, h2 {
          padding: 0;
          color: #000000;
    
        }
      }

      .sub-title-1{
        padding: 1em 4em;
      }

      .input-and-submit {
        margin-top: 3em;
      }
    }

  }
}