<button ng-click="headerCtrl.bypassBlock('categories_menu')"
   class="no-design visually-hidden visible-when-focused bypass-block-link menu">
    {{'Skip to categories menu' | translate}}
</button>
<button ng-click="headerCtrl.bypassBlock('main_content')"
   class="no-design visually-hidden visible-when-focused bypass-block-link">
    {{'Skip to main content' | translate}}
</button>
<button ng-click="headerCtrl.bypassBlock('footer')"
   class="no-design visually-hidden visible-when-focused bypass-block-link menu">
    {{'Skip to footer' | translate}}
</button>