body > header > .bypass-blocks-wrapper {
  position: absolute;
  .visually-hidden {
    clip: rect(1px 1px 1px 1px); /* IE 6/7 */
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    margin: -1px;
  }

  /*
   * For `.visually-hidden` elements that should be visible when it gains focus.
   */
  .visible-when-focused:focus {
    clip: auto;
    height: auto;
    overflow: visible;
    position: static;
    white-space: normal;
    width: auto;
    margin: auto;
  }

  /*
   * Style for "Skip Navigation" type links.  Should have an href linked to
   * button `.bypass-block-target` element.
   */
  .bypass-block-link {
    position: absolute;
    text-decoration: none;
    background: #ffffff;
    border: 2px solid #000000;
    padding: 0.2em;
    z-index: 10;
  }
}

html.hide-menu {
  body > header > .bypass-blocks-wrapper {
    .menu {
      display: none;
    }
  }
}