<td class="quantity">
    <div class="quantity-text" ng-class="{disabled: item.isProductOutOfStock}">
        <span class="for-vertical-align"></span>
        <span>{{item | cartLineQuantity:null:item.soldBy}}</span>
    </div>
    <div class="actions"
        ng-if="item.type !== $root.SP_SERVICES.CART_LINE_TYPES.DELIVERY && item.type !== $root.SP_SERVICES.CART_LINE_TYPES.COUPON  && !item.isProductOutOfStock">
        <product-actions product="item.product" line="item" hide-cart="true" mode="landscape" sp-aria-live="true">
        </product-actions>
    </div>
</td>
<td class="name">
    <div class="img">
        <product-image in-cart-suggestion="true" product="item.product" image-url="item.product.image.url" size="small"
            is-product-out-of-stock="{{item.isProductOutOfStock}}"
            is-need-to-show-out-of-stock-label="{{item.isNeedToShowOutOfStockLabel}}"></product-image>
        <div class="image-wrapper register-loyalty-image" ng-class="{'disabled': item.isProductOutOfStock}">
            <div class="image"
                ng-style="{'background-image': 'url(' + ('https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/club-icon%translate%.png' | translateImage:{'he': '-hebrew'}) + ')'}">
            </div>
        </div>
        <div class="product-main-tag-icon-wrapper"
            ng-if="item.product | productMainTag:$root.PermanentFilters.values[$root.PermanentFilters.TYPES.PRODUCT_TAGS]">
            <img class="product-main-tag-icon"
                ng-src="{{(item.product | productMainTag:$root.PermanentFilters.values[$root.PermanentFilters.TYPES.PRODUCT_TAGS]).languages | name:'iconResourceUrl'}}"
                alt="{{(item.product | productMainTag:$root.PermanentFilters.values[$root.PermanentFilters.TYPES.PRODUCT_TAGS]).languages | name:'displayName'}}" />
        </div>
        <div class="removed-text">
            <span class="for-vertical-align"></span>
            <span class="middle">{{'Removed' | translate}}</span>
        </div>
    </div>
    <div class="data" ng-class="{disabled: item.isProductOutOfStock}">
        <div class="brand-weight-wrapper">
            <div class="brand" ng-if="!!(item.product.brand.names | name)">
                {{item.product.brand.names | name}}
            </div>
            <div class="weight" ng-class="{'brand-available': !!(item.product.brand.names | name)}" ng-if="($root.util.isUnitsWeighable(item.product) && item.soldBy === $root.PRODUCT_DISPLAY.UNIT.name) || !item.product.isWeighable" ng-style="{ visibility: !!(item.product | productWeight:item.isCase) || (item.product && item.product.branch.specials.length) ? 'visible' : 'hidden', display: !(item.product | productWeight:item.isCase) && !(item.product && item.product.branch.specials.length) ? 'none' : ''}">
                {{ item.soldBy ? (item.product | productWeight:item.isCase:null:item.quantity:item.soldBy) : (item.product | productWeight:item.isCase) }}
                <span ng-if="$root.config.retailer.settings.showPriceWithoutBottleDeposit && item.product && item.product.branch && item.product.branch.linkedProductPrice" id="{{'bottle_disclaimer_' + product.id}}" class="bottle-deposit-disclaimer">
                    <img className="bottle-deposit-disclaimer-img" style="width:20px; height:20px" ng-src="{{'https://d226b0iufwcjmj.cloudfront.net/global/mobile/images/icons/info-icon.png'}}"/>
                    <span class="bottle-deposit-disclaimer-content">
                        <span class="text">{{$root.config.retailer.settings.disclaimerOnCartPages[$root.config.language.id]  || ('Price includes bottle deposit' | translate)}}</span>
                        <span class="arrow"></span>
                    </span>
                </span>
            </div>
        </div>

        <div class="info-wrapper">
            <p class="name" id="{{'item_' + item.id + '_name'}}">
                {{item.product | productName:item.isCase}}
            </p>
        </div>
            
        <sp-promotion product="item.product" is-list="true" ng-if="item.product && $root.util.filterProductSpecials(item.product.branch).length">
        </sp-promotion>
        <product-properties item="item" ng-if="item.product.productProperties && item.product.productProperties.length">
        </product-properties>
        <sp-cart-line-comments sp-line="item" show-product-property="false" sp-hide="!item._showComment"
            sp-blur="item._showComment = false" sp-set-focus="item._showComment"
            ng-if="item.type !== $root.SP_SERVICES.CART_LINE_TYPES.DELIVERY && !item.isProductOutOfStock">
        </sp-cart-line-comments>
    </div>
</td>
<td class="unit-weight">
    <sp-unit-weight product="item.product" cart-line="item" ng-if="item.product.productDisplayModeId === $root.PRODUCT_DISPLAY.WEIGHT_AND_UNIT.id && $root.config.retailer.enableSwitchUnitWeight && $root.util.isUnitsWeighable(item.product)" ng-click="$event.stopPropagation();" product-id="item.product.id"></sp-unit-weight>
</td>
<td class="regular-price">
    <sp-product-price ng-if="item.type !== $root.SP_SERVICES.CART_LINE_TYPES.COUPON"
        regular-price="item.product | regularPrice:item.isCase"
        show-weight-unit="!item.isCase && item.product.isWeighable"
        product="item.product"
        ng-class="{'disabled': item.isProductOutOfStock}"
        hide-normalize-price="true">
    </sp-product-price>
</td>
<td class="total-price" ng-class="{'disabled': item.isProductOutOfStock}">
    <sp-product-price class="reverse-text-align" regular-price="item.totalPriceForView"
        sale-price="item.finalPriceForView"
                      show-weight-unit="false"
                      type="item.type"
                      hide-normalize-price="true">
    </sp-product-price>
</td>
<div class="actions-wrapper">
    <button ng-if="item.type !== $root.SP_SERVICES.CART_LINE_TYPES.DELIVERY" ng-click="removeItem(item)"
        ng-focus="hoverMode($event);">
        <img class="remove-icon" src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/trash-small.png"
            alt="{{('remove from cart' | translate).replace('{cart}', $root.config.retailer.settings.setCartNameToBasket ? $root.config.retailer.settings.setCartNameToBasket : 'cart')}}" />
        <span>{{'Remove' | translate}}</span>
    </button>

    <button ng-if="!item.isProductOutOfStock" ng-click="item._showComment = true" ng-focus="hoverMode($event);">
        <img class="remove-icon" src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/edit-small.png"
            alt="{{'add note for product' | translate}}" />
        <span>{{ item.comments ? ('Edit comment' | translate) : ('Add comment' | translate) }}</span>
    </button>
</div>
