<div class="sp-unit-weight">
  <button type="button" id="unit-toggle" class="unit-option" ng-class="{active: !!cartLine && cartLine.soldBy === $root.PRODUCT_DISPLAY.UNIT.name || product.soldBy === $root.PRODUCT_DISPLAY.UNIT.name}" ng-click="spUnitWeightCtrl.onUnitClick()">{{'Unit' | translate}}</button>
  <button type="button" id="weight-toggle" class="weight-option" ng-class="{active: !!cartLine && cartLine.soldBy === $root.PRODUCT_DISPLAY.WEIGHT.name || product.soldBy === $root.PRODUCT_DISPLAY.WEIGHT.name}" ng-click="spUnitWeightCtrl.onWeightClick()">{{ spUnitWeightCtrl.unitOfMeasure[spUnitWeightCtrl.language] }}</button>
</div>