$med-radius: 24px;
$color: #002339;
.sp-unit-weight {
  box-sizing: border-box;
  width: -moz-fit-content;
  width: fit-content;
  display: flex !important;
  justify-content: space-between;
  border-radius: $med-radius;
  font: 400 1.0625em 'Inter';
  text-transform: capitalize;
  color: black;
  background-color: #ECECEC;
  > .unit-option,
  > .weight-option {
    &:focus,
    &:active,
    &:hover {
      cursor: pointer;
      background-color: inherit !important;
      color: inherit;
    }
    box-sizing: inherit;
    flex: 1;
    display: inline-block;
    min-width: 50px;
    text-transform: capitalize;
    text-align: center;
    padding: 5px 10px;
    border-radius: $med-radius;
    transition: all .2s ease;
    background-color: inherit;
    color: inherit;
  }
  > .unit-option.active,
  > .weight-option.active {
    &:focus,
    &:active,
    &:hover {
      opacity: 0.85;
    }
    color: #fff;
  }
}