.sp-unit-weight {
  > .unit-option.active,
  > .weight-option.active {
    &:focus,
    &:active,
    &:hover {
      background-color: $mainColor !important;
    }
    background-color: $mainColor;
  }
}