<div class="content">
    <div id="out_of_stock_dialog_title" class="title" ng-bind="('the items below will be removed from your cart' | translate).replace('{cart}', $root.config.retailer.settings.setCartNameToBasket ? $root.config.retailer.settings.setCartNameToBasket : 'cart')"></div>
    <div class='sub-title' ng-if="outOfStockCtrl.productsCount">{{('{product_count} out of stock products will not be supplied' | translate).replace('{product_count}', outOfStockCtrl.productsCount)}}</div>
    <div class='sub-title' ng-if="outOfStockCtrl.couponsCount">{{('{coupons_count} expired coupons cannot be redeemed' | translate).replace('{coupons_count}', outOfStockCtrl.couponsCount)}}</div>

    <div class="container">
        <div class='product' ng-repeat="item in outOfStockCtrl.lines track by $index">
            <div class='image'>
                <product-image product="item.product" simple-image="true" image-url="item.product.image.url" size="small"></product-image>
            </div>
            <div class='description'>
                <p class='brand' ng-if="item.product.brand.names">{{item.product.brand.names | name}}</p>
                <p class='product-name'>{{item.product | productName:item.isCase}}</p>
                <p class='item-label' ng-if="item.isProductOutOfStock || item.isNeedToShowOutOfStockLabel">{{'Out of stock' | translate}}</p>
                <p class='item-label' ng-if="item.isCouponActive == false">{{'Expired' | translate}}</p>
            </div>
        </div>
    </div>

    <div class='buttons'>
        <button type="submit" class="grey" ng-bind="::('back to cart' | translate).replace('{cart}', $root.config.retailer.settings.setCartNameToBasket ? $root.config.retailer.settings.setCartNameToBasket : 'cart')" ng-click="outOfStockCtrl.backToCart()"></button>
        <button type="submit" ng-disabled="outOfStockCtrl.isSentData" class="send-btn" ng-bind="::'Confirm' | translate" ng-click="outOfStockCtrl.removeLines()"></button>
    </div>
</div>
