.dialog-wrapper .dialog.out-of-stock-popup .dialog-body {
  overflow: visible;

  .content {
    padding: 0 1em;
    width: 500px;
    height: 500px;

    .title {
      line-height: 1em;
      font-size: 1.67em;
      margin-bottom: 1em;
      font-weight: normal;
      color: #505050;
    }

    .sub-title {
      color: #DA2419;
    }

    .sub-title::first-letter {
      font-weight: bold;
    }

    .sub-title-bold {
      color: #DA2419;
      font-weight: bold;

    }

    p {
      font-weight: 100;
      line-height: 1.5em;
    }

    .container {
      height: 300px;
      overflow-y: auto;
      border-top: 1px solid #ECECEC;
      border-bottom: 1px solid #ECECEC;
      margin-top: 1em;
      margin-bottom: 1em;
      padding: 10px 5px;

      .product {
        display: table;
        margin-top: 20px;

        .general-image-wrapper {
          .suggestions.outline {
            left: 14%;
            transform: translateX(-50%);
            top: 32%;
          }
          .out-of-stock.suggestions {
            font-size: 0.65em;
            font-weight: 700;
            left: 14%;
            transform: translateX(-50%);
            z-index: 4;
      
            &.text-1 {
              color: #F86B2F;
              top: 36%;
            }
            &.text-2 {
              color: #505050;
              top: 36%;
              display: none;
            }
          }
        }

        .image {
          float: left;
          margin: 0px 10px;
          min-width: 75px;
          span {
            display: table;
            margin: 0 auto;
          }
        }
  
        .description {
          float: left;
          margin: 0px 10px;
          vertical-align: middle;
  
          .brand {
            height: 1em;
            font-size: 1em;
            font-weight: 400;
            padding-bottom: 0.6em;
            color:#C8C8C8 !important;
          }
          .product-name {
            color: #A0A0A0;
            font-weight: 400;
            font-size: 1em;
            line-height: 1.19em;
          }
          .item-label {
            color: #F86B2F;
            font-weight: 400;
          }
        }
      }
    }

    .buttons {
      float: right;

      .send-btn {
        width: 8em;
        padding: 0.5em;
        font-weight: 500;
        text-transform: uppercase !important;
        margin: 0.5em 0 0 0;
      }
      .grey {
        color: #505050;
      }
    }
  }

  .rtl & {
    .buttons {
      float: left;
    }

    .product {
      display: table;
      .image {
        float: right !important;
      }

      .description {
        float: right !important;
      }
    }
  }

}