<div class="summary tab-container">
    <div class="summary-details">
        <div class="center">
            <h1 class="title" id="page_title">{{'Checkout Summary' | translate}}</h1>
            <p class="center substitutions" ng-if="!!updateOrderCtrl.detailsData.substitutePreferences">
                {{'Substitutions Choice' | translate}}:
                {{'substitute_preference_' + updateOrderCtrl.detailsData.substitutePreferences + '_label' | translate}}
            </p>

            <div class="summary-line sub-line">
                <span class="left price">{{'Updated Subtotal' | translate}}</span>
                <span class="right price ltr">{{$root.cart.total.finalPriceWithoutTax | currency}}</span>
                <div class="clear"></div>
            </div>
            <div class="summary-line sub-line" ng-if="$root.cart.total.tax || updateOrderPaymentCtrl.ebtCalculatedAmounts.total.taxSaved">
                <span class="left price">{{'Tax' | translate}}</span>
                <span class="right price ltr">{{(($root.cart.total.tax || 0) | roundCurrency) - (updateOrderPaymentCtrl.ebtCalculatedAmounts.total.taxSaved || 0) | currency}}</span>
                <div class="clear"></div>
            </div>
            <div class="summary-line sub-line fee-price-line" ng-if="!!$root.cart.total.serviceFee.priceWithTax">
                <span class="left price">{{'Service Fee' | translate}}</span>
                <span class="right price ltr" ng-class="{'has-sale': $root.cart.total.serviceFee.giftsWithTax || $root.cart.total.serviceFee.clubsGiftsWithTax}">
                    <span class="final-price">
                        {{$root.cart.total.serviceFee.finalPriceWithTax ? ('Only' | translate) + ' ' + ($root.cart.total.serviceFee.finalPriceWithTax | currency) : ('Free' | translate)}}
                    </span>
                    <span class="original-price">
                        {{$root.cart.total.serviceFee.priceWithTax | currency}}
                    </span>
                </span>
                <div class="clear"></div>
            </div>

            <div class="summary-line sub-line fee-price-line" ng-if="!!$root.cart.total.deliveryCost.priceWithTax">
                <span class="left price">{{(updateOrderPaymentCtrl.order.branchDeliveryTypeId == $root.SP_SERVICES.DELIVERY_TYPES.DELIVERY ? 'Delivery' : 'Pickup') + ' Fee' | translate}}</span>
                <span class="right price ltr" ng-class="{'has-sale': $root.cart.total.deliveryCost.giftsWithTax || $root.cart.total.deliveryCost.clubsGiftsWithTax}">
                    <span class="final-price">
                        {{$root.cart.total.deliveryCost.finalPriceWithTax ? ('Only' | translate) + ' ' + ($root.cart.total.deliveryCost.finalPriceWithTax | currency) : ('Free' | translate)}}
                    </span>
                    <span class="original-price">
                        {{$root.cart.total.deliveryCost.priceWithTax | currency}}
                    </span>
                </span>
                <div class="clear"></div>
            </div>
            <div class="summary-line sub-line" ng-if="!!$root.cart.total.markup">
                <span class="left price">{{'Markup' | translate}}</span>
                <span class="right price ltr">{{$root.cart.total.markup | currency}}</span>
                <div class="clear"></div>
            </div>

            <div class="summary-line" ng-show="updateOrderPaymentCtrl.ebtCalculatedAmounts.fs.deposit">
                <span class="left price">{{'EBT SNAP Weight debit' | translate}}</span>
                <span class="right price ltr">{{updateOrderPaymentCtrl.ebtCalculatedAmounts.fs.deposit | currency}}</span>
                <div class="clear"></div>
            </div>
            <div class="summary-line" ng-show="updateOrderPaymentCtrl.ebtCalculatedAmounts.cb.deposit">
                <span class="left price">{{'EBT Cash Weight debit' | translate}}</span>
                <span class="right price ltr">{{updateOrderPaymentCtrl.ebtCalculatedAmounts.cb.deposit | currency}}</span>
                <div class="clear"></div>
            </div>

            <div class="border"></div>
            <div class="summary-line total-line">
                <div>
                     <span class="left"><!--
                        --><span class="sum-explan" tabindex="0"><!--
                            --><img class="question-mark" aria-describedby="sum_explanation" ng-src="{{'https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/icon_question_mark.png'}}" alt=""/>
                            <div class="explanation" id="sum_explanation" aria-hidden="false">
                                {{'Once we complete picking your order, we adjust your final charge based on weight adjustments, substitutions & out of stock items' | translate}}.
                                <div class="arrow"></div>
                            </div>
                        </span>
                        {{'TOTAL' | translate}} ({{'estimated' | translate}})
                    </span>
                    <span class="right price ltr sum">
                    {{($root.cart.total.finalPriceWithTax + $root.cart.total.serviceFee.finalPriceWithTax +
                            $root.cart.total.deliveryCost.finalPriceWithTax + updateOrderPaymentCtrl.ebtCalculatedAmounts.total.deposit -
                            updateOrderPaymentCtrl.ebtCalculatedAmounts.total.taxSaved) | currency}}
                    </span>
                    <div class="clear"></div>
                </div>

                <div ng-if="($root.cart.total.giftsWithTax || $root.cart.total.serviceFee.giftsWithTax || $root.cart.total.deliveryCost.giftsWithTax) && !$root.isCreditCustomer">
                <span class="left you-save you-save-sale">
                    <svg focusable="false">
                        <use xlink:href="" ng-attr-xlink:href="{{'#sp-icons-sale%translate%' | translateImage:{'he': '-he'} }}"></use>
                    </svg><!--
            -->{{('You saved' | translate)}} :
                    <span class="gift-price">
                        {{($root.cart.total.giftsWithTax + $root.cart.total.serviceFee.giftsWithTax + $root.cart.total.deliveryCost.giftsWithTax | currency)}}</span>

                </span>
                    <div class="clear"></div>
                </div>

                <div ng-if="($root.cart.total.clubsGiftsWithTax || $root.cart.total.serviceFee.clubsGiftsWithTax || $root.cart.total.deliveryCost.clubsGiftsWithTax)">
                <span class="left you-save club-savings sale-icon club-icon">
                    <svg focusable="false">
                        <use xlink:href="" ng-attr-xlink:href="{{'#sp-icons-sale%translate%' | translateImage:{'he': '-he'} }}"></use>
                    </svg><!--
            -->{{('Membership savings' | translate)}} :
                    <span class="gift-price">
                        {{($root.cart.total.clubsGiftsWithTax + $root.cart.total.serviceFee.clubsGiftsWithTax + $root.cart.total.deliveryCost.clubsGiftsWithTax | currency)}}</span>
                </span>
                    <div class="clear"></div>
                </div>

                <div class="multipass-discount" ng-if="$root.cart.total.multiPassGift && !$root.isCreditCustomer">
                    <span class="left price">{{('Estimated employee savings' | translate)}}</span>
                    <span class="right price ltr">{{($root.cart.total.multiPassGift | currency)}}</span>
                    <div class="clear"></div>
                </div>

                <div ng-if="$root.config.retailer.loyaltyClubDriver.isActive && !$root.cart.total.clubsGiftsForView && $root.cart.total.simulateClubsGiftsForView && !$root.isCreditCustomer">
                <span class="left you-save club-savings sale-icon club-icon">
                    <svg focusable="false">
                        <use xlink:href="" ng-attr-xlink:href="{{'#sp-icons-sale%translate%' | translateImage:{'he': '-he'} }}"></use>
                    </svg><!--
            -->{{('Could save' | translate)}} :
                    <span class="gift-price">
                        {{($root.cart.total.simulateClubsGiftsForView | currency)}}</span>
                </span>
                    <div class="clear"></div>
                </div>

                <div ng-if="$root.config.retailer.loyaltyClubDriver.isActive && $root.config.retailer.loyaltyClubDriver.clientConfig.showCashbackLabel && $root.cart.total.lines && !$root.isCreditCustomer">
                <span class="left you-save club-savings">
                    <svg focusable="false">
                        <use xlink:href="" ng-attr-xlink:href="{{'#sp-icons-sale%translate%' | translateImage:{'he': '-he'} }}"></use>
                    </svg><!--
                --><span class="text" ng-bind-html="$root.util.getCashbackLabel((updateOrderPaymentCtrl.userLoyaltyClubCardId ?
                                            $root.config.retailer.loyaltyClubDriver.clientConfig.text.customerSavingLabel :
                                            $root.config.retailer.loyaltyClubDriver.clientConfig.text.customerCouldSaveLabel), $root.cart.total.finalPriceForView)"></span>
                </span>
                    <span class="join-or-connect right" ng-if="!updateOrderPaymentCtrl.userLoyaltyClubCardId" ui-sref="app.userEdit.loyalty"
                          ng-bind="(updateOrderPaymentCtrl.userLoyaltyVerificationStatus ? 'Connect' : 'Join') | translate"></span>
                </div>
            </div>
            <div class="ebt-group"
                 ng-if="updateOrderCtrl.summaryData.paymentMethod.name === $root.SP_PAYMENTS.PAYMENT_METHODS.NAMES.EBT">
                <div class="summary-line">
                    <span class="left price">{{'EBT SNAP' | translate}}</span>
                    <span class="right price ltr">{{updateOrderCtrl.summaryData.ebt.fsAmount || 0 | currency}}</span>
                    <div class="clear"></div>
                </div>
                <div class="summary-line" ng-if="updateOrderCtrl.ebtBranchSettings[updateOrderCtrl.ebtBranchSettings.branchId].eBTCashAllowed">
                    <span class="left price">{{'EBT Cash' | translate}}</span>
                    <span class="right price ltr">{{updateOrderCtrl.summaryData.ebt.cbAmount || 0 | currency}}</span>
                    <div class="clear"></div>
                </div>
                <div class="summary-line">
                    <span class="left price">{{'Credit Card' | translate | creditCardName}}</span>
                    <span class="right price ltr">
                    {{((($root.cart.total.finalPriceWithTax + $root.cart.total.serviceFee.finalPriceWithTax +
                            $root.cart.total.deliveryCost.finalPriceWithTax) | roundCurrency) - updateOrderPaymentCtrl.ebtCalculatedAmounts.total.amountWithTax) | currency}}
                </span>
                    <div class="clear"></div>
                </div>
            </div>
            <div>
                <div class="summary-line sub-line">
                    <span class="left price">{{'Previously Charged' | translate}}</span>
                    <span class="right price ltr">{{updateOrderPaymentCtrl.order.initialCheckoutCharge | currency}}</span>
                    <div class="clear"></div>
                </div>
                <div class="summary-line sub-line">
                    <span class="left price">{{'Remaining Balance' | translate}}</span>
                    <span class="right price ltr">
                        {{$root.cart.total.finalPriceWithTax + $root.cart.total.serviceFee.finalPriceWithTax + $root.cart.total.deliveryCost.finalPriceWithTax - updateOrderPaymentCtrl.order.initialCheckoutCharge | currency}}
                    </span>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>

    <form name="paymentForm" class="paymentForm"  ng-if="!$root.isCreditCustomer" novalidate>
        <div class="payment-details">
            <h2 class="title">
                {{updateOrderPaymentCtrl.isRememberCreditCardsMode ? 'Payment Details' : 'Payment Details' | translate}}
            </h2>

            <div ng-if="updateOrderPaymentCtrl.paymentMethods.length && updateOrderPaymentCtrl.paymentMethods.length > 1">
                <h2 class="payment-title">{{'Choose how you\'d like to pay' | translate}}</h2>

                <div class="payment-methods">
                    <sp-radio sp-model="updateOrderCtrl.summaryData.paymentMethod" options="updateOrderPaymentCtrl.paymentMethods"
                              value-key="option" sp-change="updateOrderPaymentCtrl.onPaymentMethodChanged()"
                    role="radiogroup" aria-label="{{'Payment method options' | translate}}">
                        <span class="paypal-image" ng-if="option.name === $root.SP_PAYMENTS.PAYMENT_METHODS.NAMES.PAYPAL">
                            <img src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/paypal-logo.png"
                                 alt="{{'PayPal Logo' | translate}}">
                        </span>
                        <span class="masterpass-image" ng-if="option.name === $root.SP_PAYMENTS.PAYMENT_METHODS.NAMES.I_CREDIT_MASTER_PASS">
                            <img src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/masterpass-logo.png?a"
                                 alt="{{'MasterPass Logo' | translate}}">
                        </span>
                        <span class="bit-image" ng-if="option.name === $root.SP_PAYMENTS.PAYMENT_METHODS.NAMES.BIT">
                            <img src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/bit-logo.svg"
                                 alt="{{'Bit Logo' | translate}}">
                        </span>
                        <span class="payment-option-{{(option.name || '').toLowerCase()}}" ng-if="option.name !== $root.SP_PAYMENTS.PAYMENT_METHODS.NAMES.PAYPAL && option.name !== $root.SP_PAYMENTS.PAYMENT_METHODS.NAMES.I_CREDIT_MASTER_PASS && option.name !== $root.SP_PAYMENTS.PAYMENT_METHODS.NAMES.BIT">
                            {{option.name | translate}}
                        </span>
                    </sp-radio>
                </div>
            </div>

            <div class="payment-border"></div>

            <div class="call-customer-description" ng-if="updateOrderCtrl.summaryData.paymentMethod.name === $root.SP_PAYMENTS.PAYMENT_METHODS.NAMES.CALL_CUSTOMER">
                {{'Once we collected your order, we will call to collect your payment' | translate}}
            </div>

            <div class="credit-on-file" ng-if="updateOrderCtrl.summaryData.paymentMethod.name === $root.SP_PAYMENTS.PAYMENT_METHODS.NAMES.STORE_CREDIT">
                <h3 class="bold">{{'Enter your credit on file' | translate}}</h3>
                <div>
                    <input
                        type="text"
                        name="storecredit"
                        ng-model="updateOrderCtrl.summaryData.storeCredit"
                        required
                        sp-inline-error/>
                </div>
            </div>

            <div class="check-out-button paypal-button" ng-if="updateOrderCtrl.summaryData.paymentMethod.name === $root.SP_PAYMENTS.PAYMENT_METHODS.NAMES.PAYPAL && !updateOrderCtrl.summaryData.paypalAccount">
                <button class="no-design disabled-opacity" ng-click="updateOrderPaymentCtrl.openPayPalWindow();" ng-disabled="updateOrderPaymentCtrl.checkOutDisabled || !$root.cart.sendingSucceeded">
                    <span class="for-vertical-align"></span><!--
                    --><span>{{'Pay with' | translate}} </span>
                    <img src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/paypal-logo.png" alt="{{'PayPal Logo' | translate}}"/>
                </button>
            </div>

            <div class="check-out-button masterpass-button" ng-if="updateOrderCtrl.summaryData.paymentMethod.name === $root.SP_PAYMENTS.PAYMENT_METHODS.NAMES.I_CREDIT_MASTER_PASS">
                <button class="no-design" ng-click="updateOrderPaymentCtrl.openICreditMasterPassWindow();" ng-disabled="updateOrderPaymentCtrl.checkOutDisabled || !$root.cart.sendingSucceeded">
                    <span>{{'Pay with' | translate}}</span>
                    <img ng-src="{{'https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/masterpass-button-' + $root.config.language.direction + '.png'}}" alt="MasterPass"/>
                </button>
            </div>

            <div class="check-out-button bit-button" ng-if="updateOrderCtrl.summaryData.paymentMethod.name === $root.SP_PAYMENTS.PAYMENT_METHODS.NAMES.BIT">
                <div id="bit-payment-button-container" ng-init="updateOrderPaymentCtrl.initBitButton()"></div>
            </div>

            <div class="ebt-details"
                ng-if="updateOrderCtrl.summaryData.paymentMethod.name === $root.SP_PAYMENTS.PAYMENT_METHODS.NAMES.EBT && updateOrderCtrl.detailsData && !updateOrderPaymentCtrl.orderInEdit">
                <h3 class="bold"
                    ng-if="updateOrderCtrl.summaryData.paymentMethod.name === $root.SP_PAYMENTS.PAYMENT_METHODS.NAMES.EBT">
                    {{'EBT payment' | translate}} ({{'step' | translate}} 1/2)
                </h3>

                <div class="add-card-btn-wrapper" ng-if="!updateOrderPaymentCtrl.ebtCards.length">
                    <button type="button" class="no-design main-color pay-button" ng-click="updateOrderPaymentCtrl.showAddEBTCardDialog();">
                        <span class="text">{{'Add EBT card' | translate}}</span>
                    </button>
                </div>

                <div class="ebt-card-wrapper" ng-if="updateOrderPaymentCtrl.ebtCards.length">
                    <div class="ebt-card-number-wrapper">
                        <div class="card-icon">
                            <svg focusable="false">
                                <use xlink:href="#sp-icons-ebt-card"></use>
                            </svg>
                        </div>
                        <div class="card">
                            <div class="number">*** **** **** **** {{updateOrderPaymentCtrl.ebtCards[0].lastFourDigits}}</div>
                            <div class="remove-button">
                                <button type="button" class="no-design" ng-click="updateOrderPaymentCtrl.removeCard(updateOrderPaymentCtrl.ebtCards[0].id);">
                                    {{'Remove' | translate}}
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="ebt-amount">
                        <div class="title">
                            {{'EBT SNAP' | translate}}
                        </div>
                        <div class="data-row" ng-if="updateOrderPaymentCtrl.ebtBalance">
                            <span class="title">{{'Balance' | translate}}:</span>
                            <span>{{updateOrderPaymentCtrl.ebtBalance.fsBalance || 1 | currency}}</span>
                        </div>
                        <div class="data-row" ng-if="updateOrderPaymentCtrl.cartEBTEligibleData">
                            <span class="title">{{'Eligible' | translate}}:</span>
                            <span>
                                {{updateOrderPaymentCtrl.cartEBTEligibleData.snap.totalWithoutTax | currency}}
                                <span ng-include="'template/views/checkout/partials/ebt-weight-debit-disclaimer/index.html'"></span>
                            </span>
                        </div>
                        <div class="data-row input-wrapper">
                            <span class="title">{{'Amount to pay' | translate}}:</span>
                            <span>
                                <input type="number" name="ebtFSAmount" ng-model="updateOrderCtrl.summaryData.ebt.fsAmount"
                                       sp-inline-error ng-change="updateOrderPaymentCtrl.onEBTAmountChange()"/>
                                {{$root.config.retailer.currencySymbol}}
                            </span>
                        </div>
                    </div>
                    <div class="ebt-amount">
                        <div class="title" ng-if="updateOrderPaymentCtrl.ebtBranchSettings[updateOrderPaymentCtrl.ebtBranchSettings.branchId].eBTCashAllowed">
                            {{'EBT Cash' | translate}}
                        </div>
                        <div class="data-row" ng-if="updateOrderPaymentCtrl.ebtBalance">
                            <span class="title">{{'Balance' | translate}}:</span>
                            <span>{{updateOrderPaymentCtrl.ebtBalance.cbBalance || 1 | currency}}</span>
                        </div>
                        <div class="data-row" ng-if="updateOrderPaymentCtrl.cartEBTEligibleData">
                            <span class="title">{{'Eligible' | translate}}:</span>
                            <span>
                                {{updateOrderPaymentCtrl.cartEBTEligibleData.entireCart.totalWithTax - updateOrderPaymentCtrl.ebtCalculatedAmounts.fs.amountWithTax -
                                  updateOrderPaymentCtrl.ebtCalculatedAmounts.fs.depositWithTax | currency}}
                                <span ng-include="'template/views/checkout/partials/ebt-weight-debit-disclaimer/index.html'"></span>
                            </span>
                        </div>
                        <div class="data-row input-wrapper">
                            <span class="title">{{'Amount to pay' | translate}}:</span>
                            <span>
                                <input type="number" name="ebtCBAmount" ng-model="updateOrderCtrl.summaryData.ebt.cbAmount"
                                       sp-inline-error ng-change="updateOrderPaymentCtrl.onEBTAmountChange()"/>
                                {{$root.config.retailer.currencySymbol}}
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ebt-details"
                 ng-if="updateOrderCtrl.summaryData.paymentMethod.name === $root.SP_PAYMENTS.PAYMENT_METHODS.NAMES.EBT && updateOrderPaymentCtrl.orderInEdit">
                <h3 class="bold"
                    ng-if="updateOrderCtrl.summaryData.paymentMethod.name === $root.SP_PAYMENTS.PAYMENT_METHODS.NAMES.EBT">
                    {{'EBT payment' | translate}} ({{'step' | translate}} 1/2)
                </h3>

                <div class="add-card-btn-wrapper" ng-if="!updateOrderPaymentCtrl.ebtCards.length">
                    <button type="button" class="no-design main-color pay-button" ng-click="updateOrderPaymentCtrl.showAddEBTCardDialog();">
                        <span class="text">{{'Add EBT card' | translate}}</span>
                    </button>
                </div>

                <div class="ebt-card-wrapper" ng-if="updateOrderPaymentCtrl.ebtCards.length">
                    <div class="ebt-card-number-wrapper">
                        <div class="card-icon">
                            <svg focusable="false">
                                <use xlink:href="#sp-icons-ebt-card"></use>
                            </svg>
                        </div>
                        <div class="card">
                            <div class="number">*** **** **** **** {{updateOrderPaymentCtrl.ebtCards[0].lastFourDigits}}</div>
                            <div class="remove-button">
                                <button type="button" class="no-design" ng-click="updateOrderPaymentCtrl.removeCard(updateOrderPaymentCtrl.ebtCards[0].id);">
                                    {{'Remove' | translate}}
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="ebt-update">
                        <div class="checkbox">
                           <span class="title">
                                <sp-checkbox sp-model="true"></sp-checkbox>
                            {{'EBT Cash' | translate}}
                           </span>
                            <span>
                              {{ updateOrderPaymentCtrl.remainingEbtPayment.cash | currency}}
                            </span>
                        </div>
                    </div>
                    <div class="ebt-update">
                        <div class="checkbox">
                           <span class="title">
                                <sp-checkbox sp-model="true"></sp-checkbox>
                            {{'EBT SNAP' | translate}}
                           </span>
                            <span>
                               {{ updateOrderPaymentCtrl.remainingEbtPayment.snap | currency}}
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="credit-card-details"
                 ng-if="(updateOrderCtrl.summaryData.paymentMethod.name === $root.SP_PAYMENTS.PAYMENT_METHODS.NAMES.CREDIT_CARD ||
                 updateOrderCtrl.summaryData.paymentMethod.name === $root.SP_PAYMENTS.PAYMENT_METHODS.NAMES.EBT)">
                <div class="add-credit-card-details" ng-if="updateOrderPaymentCtrl.isRememberCreditCardsMode">
                    <h3 class="bold"
                        ng-if="updateOrderCtrl.summaryData.paymentMethod.name === $root.SP_PAYMENTS.PAYMENT_METHODS.NAMES.CREDIT_CARD">
                        {{'Your credit cards' | translate | creditCardName}}
                    </h3>
                    <h3 class="bold"
                        ng-if="updateOrderCtrl.summaryData.paymentMethod.name === $root.SP_PAYMENTS.PAYMENT_METHODS.NAMES.EBT">
                        {{'Credit card' | translate | creditCardName}} ({{'step' | translate}} 2/2)
                    </h3>

                    <div class="ebt-credit-card-disclaimer"
                         ng-if="updateOrderCtrl.summaryData.paymentMethod.name === $root.SP_PAYMENTS.PAYMENT_METHODS.NAMES.EBT">
                        {{'Please provide a credit card as backup. Any additional charges will be made to this payment method' | translate}}.
                    </div>

                    <div class="credit-cards-wrapper">
                        <table>
                            <tbody>
                            <tr ng-repeat="creditCard in updateOrderPaymentCtrl.creditCards">
                                <td class="radio-column">
                                    <!--<span ng-if="updateOrderPaymentCtrl.creditCards.length > 1">-->
                                    <span>
                                        <sp-radio sp-model="updateOrderCtrl.summaryData.creditCard" sp-name="credit-card" sp-value="creditCard"></sp-radio>
                                    </span>
                                </td>
                                <td class="card-number" ng-click="updateOrderPaymentCtrl.chooseCreditCard(creditCard)">
                                    <span class="card-hidden-no">**** **** **** </span>{{creditCard.lastFourDigits}}
                                </td>
                                <td class="cvv">
                                    <input id="cvv" type="text" name="cvv" autocomplete="off" ng-model="updateOrderCtrl.summaryData.cvv"
                                           ng-if="creditCard == updateOrderCtrl.summaryData.creditCard"
                                           placeholder="{{'CVV' | translate}}" sp-inline-error/>
                                </td>
                                <td>
                                    <div class="cvv-explain" ng-if="creditCard == updateOrderCtrl.summaryData.creditCard">
                                        <span class="question-mark">?</span>
                                        <div class="explanation">
                                            <span class="general-text">{{'CVV is an anti-fraud security feature to help verify that you are in possession of your credit card' | translate}}.</span>
                                            <img src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/credit-card-cvv.png" alt=""/>
                                            <span class="detailed-text">{{'The three-digit CVV number is printed on the signature panel on the back of the card immediately after the card\'s account number' | translate}}</span>
                                            <div class="arrow"></div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="has-credit-cards-details" ng-if="!updateOrderPaymentCtrl.hasCard">
                        <div class="add-card-btn-wrapper">
                        <button type="button" class="no-design main-color pay-button"  id="add_card"
                                ng-click="updateOrderPaymentCtrl.showAddCardDialog();">
                            <img class="bg-main-color" src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/icon_add_card.png" alt=""/>
                            <span class="text">{{'Add card' | translate}}</span>
                        </button>
                        </div>
                    </div>

                    <div class="has-credit-cards-details" ng-if="updateOrderPaymentCtrl.hasCard">
                        <div class="add-card-btn-wrapper">
                            <button type="button" class="no-design main-color" id="add_new_card"
                                    ng-click="updateOrderPaymentCtrl.showAddCardDialog();">
                                <img class="bg-main-color" src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/icon_add_card.png" alt=""/>
                                <span class="text">{{'Add another card' | translate}}</span>
                            </button>
                    </div>

                    <div class="payments-number" ng-if="!!$root.config.creditCardConfig.paymentsNumber
                                                        && ($root.config.creditCardConfig.paymentsNumber | number) > 1
                                                        && updateOrderCtrl.summaryData.creditCard.cardType != $root.CREDIT_CARD_TYPES.DIRECT">
                            <span>{{'Payments number' | translate}}&nbsp;</span>
                            <sp-dropdown sp-model="updateOrderCtrl.summaryData.paymentsNumber" class="transparent-arrow input narrow">
                                <sp-text>
                                    {{updateOrderCtrl.summaryData.paymentsNumber}}
                                </sp-text>

                                <sp-option ng-repeat="num in ($root.config.creditCardConfig.paymentsNumber | arrayInLength)" sp-value="num">
                                    {{num}}
                                </sp-option>
                            </sp-dropdown>
                        </div>
                    </div>
                </div>

                <div class="gift-payment" ng-class="{'border-top': updateOrderPaymentCtrl.isRememberCreditCardsMode, 'border-bottom': !updateOrderPaymentCtrl.isRememberCreditCardsMode}"
                     ng-if="$root.config.retailer.allowGiftCardsInCheckout">
                    <h3>{{'Add your gift card' | translate}}</h3>
                    <input name="giftCards.0" type="text" ng-model="updateOrderCtrl.summaryData.giftCardId" sp-inline-error/>
                </div>

                <div class="pay-with-credit-card"
                     ng-if="!updateOrderPaymentCtrl.isRememberCreditCardsMode && updateOrderPaymentCtrl.paymentIFrameUrl &&
                            updateOrderPaymentCtrl.creditCardWindowType !== $root.SP_PAYMENTS.CREDIT_CARD_WINDOW_TYPES.WINDOW">
                    <iframe id="payment_iframe" ng-init="updateOrderPaymentCtrl.bindIFrameLoad();" ng-src="{{updateOrderPaymentCtrl.paymentIFrameUrl}}"></iframe>
                </div>

                <div class="check-out-button pay-button"
                     ng-if="!updateOrderPaymentCtrl.isRememberCreditCardsMode && updateOrderPaymentCtrl.creditCardWindowType === $root.SP_PAYMENTS.CREDIT_CARD_WINDOW_TYPES.WINDOW">
                    <button type="button" class="no-design"  id="pay_button"
                            ng-click="updateOrderPaymentCtrl.checkoutUpdate(paymentForm)"
                            ng-disabled="updateOrderPaymentCtrl.checkingOut || !$root.cart.sendingSucceeded">
                        <span class="text">{{'Pay with Credit Card' | translate}}</span>
                    </button>
                </div>
            </div>

            <div class="credit-card-details"  ng-if="updateOrderCtrl.summaryData.paymentMethod.name === $root.SP_PAYMENTS.PAYMENT_METHODS.NAMES.PAYPAL && updateOrderPaymentCtrl.paypalAccounts.length">
                <div class="add-paypal-accounts-details">
                    <h3 class="bold">{{'Your PayPal accounts' | translate}}</h3>

                    <div class="paypal-accounts-wrapper">
                        <table>
                            <tbody>
                            <tr ng-repeat="paypalAccount in updateOrderPaymentCtrl.paypalAccounts" >
                                <td class="radio-column">
                                    <!--<span ng-if="updateOrderPaymentCtrl.creditCards.length > 1">-->
                                    <span>
                                        <sp-radio sp-model="updateOrderCtrl.summaryData.paypalAccount" sp-name="paypal" sp-value="paypalAccount"></sp-radio>
                                    </span>
                                </td>
                                <td class="paypal-account" ng-click="updateOrderCtrl.summaryData.paypalAccount = paypalAccount">
                                    <img class="bg-main-color" src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/paypal-account.png" alt=""/>
                                    <span class="Email"></span>{{paypalAccount.email}}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="has-paypal-account-details" ng-if="!updateOrderCtrl.summaryData.paypalAccount">
                        <div class="add-card-btn-wrapper">
                            <button type="button" class="no-design main-color"  id="add_paypal_account"
                                    ng-click="updateOrderPaymentCtrl.openPayPalWindow();">
                                <img class="bg-main-color" src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/add-account-icon.png" alt=""/>
                                <span class="text">{{'Add PayPal Account' | translate}}</span>
                            </button>
                        </div>
                    </div>

                    <div class="has-paypal-account-details" ng-if="updateOrderCtrl.summaryData.paypalAccount">
                        <div class="add-card-btn-wrapper">
                            <button type="button" class="no-design main-color" id="add_new_paypal_account"
                                    ng-click="updateOrderPaymentCtrl.openPayPalWindow();">
                                <img class="bg-main-color" src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/add-account-icon.png" alt=""/>
                                <span class="text">{{'Add another account' | translate}}</span>
                            </button>
                        </div>
                    </div>
                    <br>
                </div>
            </div>

            <div ng-if="updateOrderCtrl.summaryData.paymentMethod.name === $root.SP_PAYMENTS.PAYMENT_METHODS.NAMES.ORGANIZATION">
                <div class="bold" ng-bind="('On Credit Payment' | translate)"></div>
                <h5 class="bold" ng-bind="updateOrderPaymentCtrl.userOrganization.name"></h5>

                <div ng-if="!updateOrderPaymentCtrl.userOrganization.isActive" class="error-message bold text-align-center">
                    {{'Sorry, Your organization account is inactive' | translate}}
                </div>

                <div ng-if="updateOrderPaymentCtrl.userOrganization.isActive">
                    <input type="text"
                           name="order_organization_confirm"
                           ng-model="updateOrderCtrl.summaryData.organization"
                           placeholder="{{'Please enter order confirmation number' | translate}}"
                           required
                           sp-inline-error/>
                </div>
            </div>

            <div class="check-out-button" ng-if="updateOrderPaymentCtrl.isShowCheckoutButton()">
                <button class="no-design disabled-opacity"
                        ng-click="updateOrderPaymentCtrl.checkoutUpdate(paymentForm)"
                        ng-disabled="updateOrderPaymentCtrl.checkingOut || !$root.cart.sendingSucceeded">
                    {{'PLACE ORDER' | translate}}
                </button>
            </div>
        </div>
    </form>

    <form name="paymentForm" class="paymentForm credit-customer-payment-form" novalidate aria-labelledby="payment_title" ng-if="$root.isCreditCustomer">
        <div class="payment-details">
            <h1 class="title">
                {{'Payment Details' | translate}}
            </h1>

            <div ng-if="updateOrderPaymentCtrl.userOrganization && updateOrderPaymentCtrl.userOrganization.id">{{updateOrderPaymentCtrl.userOrganization.name}}</div>
            <h5 class="bold">{{updateOrderPaymentCtrl.userOrganization && updateOrderPaymentCtrl.userOrganization.id ? 'Payment by organization credit' : 'Payment by credit' | translate}}</h5>

            <div class="credit-customer-line">
                <svg focusable="false" class="wallet-icon">
                    <use xlink:href="#sp-icons-wallet"></use>
                </svg>
                <span class="text">{{'Remaining Credit' | translate}}:</span>
                <span class="price" ng-class="{'not-enough': $root.creditCustomerRemainingSum < ($root.cart.total.finalPriceWithTax + $root.cart.total.serviceFee.finalPriceWithTax + $root.cart.total.deliveryCost.finalPriceWithTax) }">{{$root.creditCustomerRemainingSum | currency:' '}}</span>
            </div>

            <div class="check-out-button">
                <button class="no-design disabled-opacity" ng-click="updateOrderPaymentCtrl.checkoutCreditCustomer(paymentForm)" ng-disabled="updateOrderPaymentCtrl.checkingOut || !$root.cart.sendingSucceeded">
                    {{'PLACE ORDER' | translate}}
                </button>
            </div>

        </div>
    </form>
</div>
