#{$updateOrderThemeSelector} > .summary {
  .payment-details {
    h5, h3 {
      font-family: $defaultFontFamily;
    }

    h1.title, h2.title {
      font-family: $defaultFontFamily;
      color: $mainColor;
    }

    .payment-title {
      font-family: $defaultFontFamily;
    }

    .credit-card-details .credit-cards-wrapper table tbody td #cvv {
      font-family: $defaultFontFamily;
      border-color: $mainColor;
      //border-color: $highlightColor;
    }

    .credit-card-details .credit-cards-wrapper table tbody td .cvv-explain {
      .question-mark {
        border-color: $mainColor;
        color: $mainColor;
      }

      .explanation .detailed-text {
        font-family: $defaultFontFamily;
        color: $mainColor;
      }
    }

    .check-out-button button {
      background-color: $mainColor;
    }

    .ebt-details .ebt-card-wrapper {
      .ebt-card-number-wrapper .balance-button button {
        border-color: $mainColor;
      }

      .ebt-amount > .title {
        color: $mainColor;
      }
    }
  }

  .summary-details {
    .title {
      font-family: $defaultFontFamily;
    }
    .asap {
      color: $mainColor;

      img {
        background-color: $mainColor;
      }
    }

    .address {
      font-family: $defaultFontFamily;
      color: #0F1010;
      //color: $mainColor;
    }

    h5, p, .sub-line {
      font-family: $defaultFontFamily;
    }

    .summary-line.total-line .question-mark {
      font-family: $defaultFontFamily;
      background-color: $mainColor;
    }

    .delivery-image {
      background-color: $mainColor;
    }

    .arrow:after {
      background-color: $mainColor;
    }
  }
}