
<div class="delivery-address-as-billing">
    <div class="title">{{'Add your credit/debit card' | translate}}</div>
    <div class="address-wrapper">
        <sp-checkbox sp-model="dialogCtrl.sendUserAddress">
            {{::'Use my delivery address as my billing address*' | translate}}
        </sp-checkbox>
        <p>{{dialogCtrl.compiledUserAddress}}</p>
    </div>
    <p class="description">{{::'*By checking this option you approve transfer of your address data to the payment provider' | translate}}</p>
    <div class='buttons'>
        <button type="submit" class="cancel-btn" ng-bind="::'Cancel' | translate" ng-click="$dialog.hide()"></button>
        <button type="submit" class="clear-btn" ng-bind="::('Continue' | translate)" ng-click="continue()"></button>
    </div>
</div>
