.delivery-address-as-billing {
  .title {
    line-height: 1em;
    font-size: 2em;
    margin-bottom: 0.5em;
    font-weight: normal;
    color: #87B826;
  }

  .address-wrapper {
    background-color: #FFF4954D;
    padding: 6px 0;
    width: 100%;

    > * {
      padding-left: 6px;
    }

    p {
      color: #A0A0A0;
      font-size: 15px;
      padding-left: 1.8em;
    }

    .checkbox {
      padding: 10px;
    }
  }

  .description {
    font-size: 12px;
    padding-top: 5px;
    padding-bottom: 10px;
  }

  .buttons {
    float: right;
    margin-top: 3em;
    margin-bottom: 1em;

    .clear-btn {
      font-weight: 500;
      color: white;
      border-radius: 5px;
      padding: 0.35em 3em;
    }

    .cancel-btn {
      color: #787878;
      border-color: #787878;
      border: 1px solid;
      background-color: white;
      padding: 0.35em 3em;
      font-weight: bold;
    }
  }

  .rtl & {
    .buttons {
      float: left;
    }
    .address-wrapper {
      > * {
        padding-right: 6px;
      }
    }
  }
}
