.dialog-wrapper > .dialog.senior-citizen-verification-dialog .dialog-body {
  width: 25em;
  padding: 1em;
  text-align: center;
  overflow: visible;
  box-sizing: border-box;

  section {
    h2 {
      font-size: 1.5em;
      font-weight: bold;
      margin-top: 0;
      padding: 1em 1.8334em;
      line-height: 1.2;
    }

    h4 {
      font-size: 1.125em;
      font-weight: normal;
      padding: 1em 2.4444em;
      color: #000;
      line-height: 1.4;
    }

    label {
      display: block;
      font-size: 1.125em;
      font-weight: bold;
      padding-top: 1.5em;
      padding-bottom: 0.2em;
    }

    .input-sub-title {
      font-size: 0.875em;
      font-weight: normal;
    }

    .input-wrapper {
      padding: 1em 0;

      input {
        width: 15em;
      }
    }

    button {
      display: block;
      width: auto;
      min-width: 10em;
      font-size: 1em;
      margin: 1.125em auto 0 auto;

      &.link-button {
        background-color: transparent;
        color: #000;
        text-decoration: underline;

        &:hover, &:focus, &:active {
          background-color: transparent;
        }
      }
    }

    &.success-section {
      h2 {
        margin-top: 2em;
      }

      h2, h4 {
        padding-right: 0;
        padding-left: 0;
      }

      button {
        margin-top: 3em;
        margin-bottom: 3.5em;
      }
    }

    &.disclaimer-section {
      font-size: 0.875em;
      color: #4b4c4d;
      margin-top: 2em;
    }
  }
}