$rowAbsoluteDetailsWidth: 15em;
$rowAbsoluteDetailsPadding: 0.2em;
$priceWidth: 4em;
$quantityCountWidth: 4em;
$rowDetailsFontSize: 1.1em;
$rowNameMinHeight: 1.1em;
$rowVerticalPadding: 0.6em;

.items-wrapper.menu .items {
  .family-group-title {
    position: relative;

    .title-wrapper {
      @include box-sizing(border-box);
      width: 100%;
      padding: 1em 10em 1em 0;

      > .title {
        display: inline-block;
        vertical-align: bottom;

        > * {
          display: block;
        }

        .name {
          padding: 0.2em 0;
          font-size: 1.9em;
        }

        .description {
          padding: 0.5em 0;
          font-size: 1.1em;
        }
      }

      &.has-image {
        height: 10em;
      }
    }

    .image {
      position: absolute;
      top: 0;
      right: 0;
      width: 10em;
      height: 100%;
      padding: 1em 0;
      @include box-sizing(border-box);

      img {
        display: inline-block;
        vertical-align: middle;
        max-width: 100%;
        height: 100%;
      }
    }
  }

  .item.product {
    cursor: pointer;

    > .details {
      position: relative;
      white-space: nowrap;
      @include box-sizing(border-box);
      padding: $rowVerticalPadding 0.5em;
      font-size: $rowDetailsFontSize;

      > .name {
        padding-right: $rowAbsoluteDetailsWidth;
        width: 100%;
        @include box-sizing(border-box);
        min-height: $rowNameMinHeight;
        white-space: normal;
      }

      > .absolute {
        position: absolute;
        top: 0;
        right: 0;
        height: ($rowVerticalPadding * 2) + $rowNameMinHeight;
        width: $rowAbsoluteDetailsWidth + ($rowAbsoluteDetailsPadding * 2);
        @include box-sizing(border-box);
        padding: $rowAbsoluteDetailsPadding;
        white-space: nowrap;

        > .price, > .comments, > .quantity-count {
          display: inline-block;
          vertical-align: middle;
        }

        > .price {
          width: $priceWidth;

          > .sp-product-price {
            display: inline-block;
            vertical-align: middle;

            .price {
              color: #908c89;
              display: inline-block;
              direction: ltr;
            }
          }
        }

        > .comments {
          width: $rowAbsoluteDetailsWidth - $priceWidth - $quantityCountWidth;
          height: 100%;
          padding: 0 0.2em;
          @include box-sizing(border-box);

          .cart-line-comments-wrapper {
            height: 100%;
            width: 100%;
            position: relative;

            .cart-line-comments-input-wrapper {
              display: block;
              position: absolute;
              top: 0;
              left: -100%;
              height: 100%;
              width: $rowAbsoluteDetailsWidth - $priceWidth - $quantityCountWidth + 0.5em;
              background-color: #ffffff;
              z-index: 1;
              @include opacity(0);
              @include transition(opacity 0.2s);
              @include vendor-prefix(transition-delay, 100ms);

              input {
                padding-top: 0;
                padding-bottom: 0;
                height: 100%;
                font-size: 0.9em;

              }
            }

            .cart-line-comments {
              height: 100%;
              display: block;
              @include opacity(0);
              @include transition(opacity 0.2s);
              @include vendor-prefix(transition-delay, 100ms);
            }

            &.has-cart-line-comments .cart-line-comments {
              @include opacity(1);
            }
          }
        }

        > .quantity-count {
          width: $quantityCountWidth;
          height: 100%;

          > .sp-cart-line-count {
            display: inline-block;
            height: 100%;
            width: 100%;

            > .count-wrapper {
              padding-left: 0;
              padding-right: 0;
              text-align: center;
            }
          }
        }

        > .cart-line-actions {
          position: absolute;
          top: 0;
          right: 0;
          width: $rowAbsoluteDetailsWidth - $priceWidth - 1em;
          height: 100%;
          padding: 0.2em;
          @include box-sizing(border-box);

          > .product-actions {
            height: 100%;
            width: 100%;
            font-size: 0.9em;
            @include opacity(0);
            @include transition(opacity 0.2s);
            @include vendor-prefix(transition-delay, 100ms);

            > * {
              height: 100%;
            }

            > .add-to-cart {
              width: 100%;
            }
          }
        }
      }
    }

    > .long-name {
      color: #868484;
      padding: 0 (0.5em + $rowAbsoluteDetailsWidth * clear-units($rowDetailsFontSize)) 0.5em 0.5em;
      line-height: 125%;
    }

    &:hover > .details > .absolute {
      > .cart-line-actions > .product-actions {
        @include opacity(1);
      }

      > .comments .cart-line-comments-wrapper {
        .cart-line-comments-input-wrapper {
          display: block;
          @include opacity(1);
        }

        .cart-line-comments {
          @include opacity(0);
        }
      }
    }
  }
}

.rtl {
  .items-wrapper.menu .items {
    .family-group-title {
      .title-wrapper {
        padding: 1em 0 1em 10em;
      }

      .image {
        right: auto;
        left: 0;
      }
    }

    .item.product {
      > .details {
        > .name {
          padding-right: 0;
          padding-left: $rowAbsoluteDetailsWidth;
        }

        > .absolute {
          right: auto;
          left: 0;

          > .comments .cart-line-comments-wrapper .cart-line-comments-input-wrapper {
            left: auto;
            right: -100%;
          }

          > .cart-line-actions {
            right: auto;
            left: 0;
          }
        }
      }

      > .long-name {
        padding: 0 0.5em 0.5em (0.5em + $rowAbsoluteDetailsWidth * clear-units($rowDetailsFontSize));
      }
    }
  }
}