<div class="sp-list-items-wrapper">
    <div class="elastic-row">
        <span ng-if="!splitView"></span><!--
        --><span class="quantity" ng-bind="'Quantity' | translate"></span><!--
        --><span class="name" ng-bind="'Product name' | translate"></span><!--
        --><span ng-if="!splitView"></span><!--
        --><span class="unit-weight"></span><!--
        --><span ng-bind="'Unit price' | translate"></span><!--
        --><span ng-bind="'Price' | translate"></span><!--
        --><span ng-bind="'Product properties' | translate" ng-if="!splitView"></span><!--
        --><span ng-bind="'Notes' | translate" ng-if="!splitView"></span>
    </div>
    <div class="content-table" ng-controller="ElasticHeaderCtrl">
        <table class="items-table">
            <thead ng-if="hiddenHeader ? false : true">
                <tr class="static-row">
                    <th class="remove-btn" ng-if="!splitView"></th>
                    <th class="quantity">{{'Quantity' | translate}}</th>
                    <th class="name">{{'Product name' | translate}}</th>
                    <th class="specials" ng-if="!splitView">
                        <span class="sr-only-element">{{'Specials' | translate}}</span>
                    </th>
                    <th class="unit-weight"></th>
                    <th class="regular-price">{{'Unit price' | translate}}</th>
                    <th class="total-price">{{'Price' | translate}}</th>
                    <th class="product-properties" ng-if="!splitView">{{'Product properties' | translate}}</th>
                    <th class="notes" ng-if="!splitView">{{'Notes' | translate}}</th>
                </tr>
            </thead>
            <tbody class="delivery-fee"
                ng-if="$root.config.retailer.settings.includeDeliveryFeeInCart === 'true' && $root.config.deliveryAreaPrice"
                ng-click="openDeliveryFeePopup()">
                <tr class="delivery-fee-row" ng-if="deliveryFeeLine && $root.config.deliveryAreaPrice">
                    <td class="remove-btn"></td>
                    <td class="quantity"></td>
                    <td class="label name">
                        <div ng-if="!splitView" class="img"></div>
                        <div>{{'delivery_type_' + $root.config.getBranchArea().deliveryTypeId + '_fee' | translate}}
                        </div>
                    </td>
                    <td ng-if="!splitView" class="regular-price"></td>
                    <td ng-if="!splitView"></td>
                    <td class="total-price">
                        <span
                            ng-if="!(deliveryFeeLine.totalPriceForView > 0 || deliveryFeeLine.product.branch.regularPrice)">0.00</span>
                        <sp-product-price
                            ng-if="deliveryFeeLine.totalPriceForView > 0 || deliveryFeeLine.product.branch.regularPrice"
                            regular-price="deliveryFeeLine.product | regularPrice: deliveryFeeLine.isCase"
                            sale-price="deliveryFeeLine.removed ? (deliveryFeeLine.product | salePrice: deliveryFeeLine.isCase) : deliveryFeeLine.finalPriceForView"
                            product="deliveryFeeLine.removed && deliveryFeeLine.product" type="deliveryFeeLine.type"
                            ng-class="{'disabled': deliveryFeeLine.isProductOutOfStock}" hide-normalize-price="true">
                        </sp-product-price>
                    </td>
                    <td class="product-properties"></td>
                    <td class="notes"></td>
                </tr>
            </tbody>
            <tbody ng-if="coupons.length">
                <tr class="category-name">
                    <th colspan="9">
                        {{'Coupons' | translate}}
                    </th>
                </tr>
                <tr ng-if="!splitView" sp-in-view-watcher
                    ng-repeat="item in coupons | orderBy:'item.names | name' track by item.id"
                    ng-include="'template/views/cart-summary/partials/coupon-row/index.html'"
                    class="item-row coupon-row"></tr>
                <tr ng-if="splitView" ng-repeat="item in coupons | orderBy:'item.names | name' track by item.id"
                    ng-include="'template/views/cart-summary/partials/coupon-row-split-view/index.html'"
                    class="item-row coupon-row"></tr>
            </tbody>
            <tbody
                ng-repeat="category in (radioValue == 'category' ? itemsByCategories : itemsByOrder) | orderBy:'(names ? (names | name) : (name | translate))' track by category.id"
                ng-class="{'cart-by-categories': radioValue === 'category', 'cart-by-order': radioValue === 'order'}">
                <tr ng-if="isShowCategory && category.items.length" class="category-name" role="presentation">
                    <th colspan="9" role="presentation">
                        {{category.names ? (category.names | name) : (category.name | translate)}}
                    </th>
                </tr>
                <tr ng-if="!splitView" sp-in-view-watcher ng-repeat="item in category.items track by item.id"
                    sp-in-view-watcher-refresh-on="['cart.lines.add', 'cart.lines.remove', 'cart.update.complete']"
                    ng-include="tagSellDate ? 'template/views/cart-summary/partials/product-row-tag-sell-date/index.html' : 'template/views/cart-summary/partials/product-row/index.html'"
                    class="item-row static-row-content"
                    ng-class="{removed: item.removed && !item.isProductOutOfStock, 'register-loyalty': item.type == $root.SP_SERVICES.CART_LINE_TYPES.REGISTER_LOYALTY}"
                    aria-labelledby="{{'item_' + item.id + '_name'}}"
                    id="{{ 'item_line_' + item.id }}"
                    ng-mouseenter="toggleProductActions('mouseenter', item.id)"
                    ng-mouseleave="toggleProductActions('mouseleave', item.id)"></tr>
                <tr ng-if="splitView" ng-repeat="item in category.items track by item.id"
                    sp-in-view-watcher-refresh-on="['cart.lines.add', 'cart.lines.remove', 'cart.update.complete']"
                    ng-include="'template/views/cart-summary/partials/product-row-split-view/index.html'"
                    class="item-row static-row-content"
                    ng-class="{removed: item.removed && !item.isProductOutOfStock, 'register-loyalty': item.type == $root.SP_SERVICES.CART_LINE_TYPES.REGISTER_LOYALTY}"
                    aria-labelledby="{{'item_' + item.id + '_name'}}"
                    id="{{ 'item_line_' + item.id }}"
                    ng-mouseenter="toggleProductActions('mouseenter', item.id)"
                    ng-mouseleave="toggleProductActions('mouseleave', item.id)"></tr>
            </tbody>
            <tbody ng-if="hasSpecialReminders">
                <tr class="category-name">
                    <th colspan="9" ng-bind="'More Specials' | translate"></th>
                </tr>
                <tr ng-repeat="(specialId, specialData) in $root.cart.specialReminders.inCart track by specialId"
                    class="item-row static-row-content special-reminder" sp-in-view-watcher ng-if="!splitView && !specialData.isUsedRemainder">
                    <td colspan="2"></td>
                    <td class="name" colspan="3">
                        <div class="img">
                            <span class="for-vertical-align"></span>
                            <img alt="{{'sale' | translate}}"
                                ng-if="!specialData.awarded || specialData.showProductsFrom"
                                ng-src="{{'https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/sale-small%translate%.png' | translateImage:{'he': '-hebrew'} }}" />
                            <svg focusable="false" role="img"
                                ng-if="specialData.awarded && !specialData.showProductsFrom">
                                <use xlink:href="#sp-icons-done"></use>
                            </svg>
                        </div>
                        <div>
                            <div class="bold"
                                ng-bind="(specialData.awarded ? (specialData.showProductsFrom ? 'Select your benefit' : 'special_reminder_awarded_bubble_title') : 'special_reminder_bubble_title') | translate">
                            </div>
                                <div ng-bind="specialData.names && specialData.names[$root.config.language.culture] ? specialData.names[$root.config.language.culture] : specialData.description"></div>
                        </div>
                    </td>
                    <td class="actions" colspan="3">
                        <button ng-bind="'Select' | translate"
                            ng-click="$root.util.showSpecialDetailsDialog(specialId, specialData.showProductsFrom);"
                            ng-if="specialData.showProductsFrom" class="highlight"></button>
                    </td>
                </tr>
                <tr ng-repeat="(specialId, specialData) in $root.cart.specialReminders.inCart track by specialId"
                    class="item-row static-row-content special-reminder" ng-if="splitView && !specialData.isUsedRemainder">
                    <td class="name" colspan="3">
                        <div class="img">
                            <span class="for-vertical-align"></span>
                            <img alt="{{'sale' | translate}}"
                                ng-if="!specialData.awarded || specialData.showProductsFrom"
                                ng-src="{{'https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/sale-small%translate%.png' | translateImage:{'he': '-hebrew'} }}" />
                            <svg focusable="false" role="img"
                                ng-if="specialData.awarded && !specialData.showProductsFrom">
                                <use xlink:href="#sp-icons-done"></use>
                            </svg>
                        </div>
                        <div>
                            <div class="bold"
                                ng-bind="(specialData.awarded ? (specialData.showProductsFrom ? 'Select your benefit' : 'special_reminder_awarded_bubble_title') : 'special_reminder_bubble_title') | translate">
                            </div>
                            <div ng-bind="specialData.names && specialData.names[$root.config.language.culture] ? specialData.names[$root.config.language.culture] : specialData.description"></div>
                        </div>
                    </td>
                    <td class="actions">
                        <button ng-bind="'Select' | translate"
                            ng-click="$root.util.showSpecialDetailsDialog(specialId, specialData.showProductsFrom);"
                            ng-if="specialData.showProductsFrom" class="highlight"></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
