.sp-list-items-wrapper {
  height: 100%;

  .elastic-row {
    visibility: hidden;
    position: absolute;
    background-color: #ffffff;

    > span {
      display: inline-block;
      padding: 0.3em 0.2em;
      vertical-align: middle;
      font-weight: normal;
      color: #878787;
      box-sizing: border-box;

      &.name {
        padding-left: 6em;
      }
    }
  }

  .items-table {
    width: 100%;

    th, td {
      padding: 0.3em 0.2em;
      vertical-align: middle;
    }

    .elastic-row {
      visibility: hidden;
    }

    thead th {
      box-sizing: border-box;
      font-weight: normal;
      color: #878787;
      text-align: left;

      &.quantity {
        text-align: center;
      }
    }

    tbody th {
      background-color: rgb(235, 235, 235);
      color: #737373;
      font-weight: normal;
    }
    
    tbody tr.category-name {
      text-align: center;
    }

    tbody > tr.item-row {
      > td {
        height: 4em;

        &.remove-btn {
          width: 2.2em;

          button {
            opacity: 0;
            transition: opacity 100ms;
            width: 2.2em;
            height: 2.2em;
            background-color: #ce0a0a;
            border-radius: 5px;
            box-shadow: none;
            font-weight: bold;
          }
        }

        &.quantity {
          position: relative;
          text-align: center;
          width: 9em;

          > div.quantity-text {
            width: 9em;
            height: 100%;
          }

          .actions {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            transition: opacity 100ms;
            display: grid;
            align-items: center;

            .sp-quantity {
              display: inline-block;
              vertical-align: middle;
              height: 2.2em;

              &.weighable > .btns-row {
                > .quantity-wrapper > sp-vertical-value-slider {
                  margin-right: 0;
                  width: 3em;
                  border-radius: 5px 0 0 5px;
                  border-right-width: 0;
                }
              }

              > .btns-row {
                > button {
                  width: 2.2em;
                  border-radius: 5px;
                  text-align: center;
                  padding: 0;

                  &.plus img {
                    padding: 0;

                    &.cart {
                      display: none;
                    }
                  }
                }

                > .quantity-wrapper {
                  border-top-width: 0;
                  border-bottom-width: 0;
                  width: 4.6em;
                  background-color: #ffffff;

                  > .weight, > sp-vertical-value-slider input {
                    color: #606060;
                  }

                  > .weight, > sp-vertical-value-slider {
                    background-color: #ffffff;
                    box-sizing: border-box;
                    border: 1px solid #adadad;
                  }

                  > .weight {
                    @include border-radius(0 5px 5px 0);
                    border-left-width: 0;
                    margin-right: 0.2em;
                    width: 1.7em;
                  }

                  > sp-vertical-value-slider {
                    margin: 0 0.2em;
                    width: 4.2em;
                    border-radius: 5px;
                  }
                }
              }
            }

            .add-to-cart {
              .text {
                display: none;
              }
            }
          }
        }

        &.name {
          white-space: nowrap;

          > * {
            display: inline-block;
            vertical-align: middle;
          }

          > .img {
            text-align: center;
            width: 4em;
            padding: 0.2em 1em;
            height: 100%;

            img, svg {
              max-height: 100%;
              max-width: 100%;
            }

            .removed-text {
              display: none;
              position: absolute;
              left: 0;
              top: 50%;
              width: 100%;
              height: 1.5em;
              padding: 0;
              box-sizing: border-box;
              text-align: center;
              margin-top: -0.75em;
              color: #ffffff;
              font-weight: bold;
              font-size: 0.75em;
              white-space: nowrap;
              border-radius: 1px;
              background-color: #adadad;
            }

            > .image-wrapper.register-loyalty-image {
              display: none;
            }
          }

          > .data {
            > * {
              width: 100%;
              white-space: nowrap;
              text-overflow: ellipsis;
              overflow: hidden;
            }

            > .name {
              color: #737373;
              font-size: 1em;
              line-height: 1.19em;
            }

            > .brand, > .weight {
              height: 1em;
              font-size: 0.8em;
              padding: 0.6em 0;
              color: #adadad;
              display: flex;
              align-items: center;
              overflow: visible;

              .bottle-deposit-disclaimer {
                margin-left: 1em;
                align-items: center;
                background-color:  #ebe8e8;
                color: #adadad;
                border-radius: 5px;
                padding: 3px;


                img {
                  filter: grayscale(100%);
                }

                &-content {
                  display: flex;
                  position: unset;
                  z-index: 1;
                  justify-content: flex-start;
                  margin: 0 0 0 10px;
                  min-width: fit-content;

                  .text {
                    background-color: transparent;
                    padding: 0;
                    color: inherit;
                    line-height: 0;
                  }
                  .arrow {
                    display: none;
                  }
                }
              }
            }
          }
        }

        &.regular-price {
          width: 7em;
          white-space: nowrap;
          padding: 0 0.8em;
        }

        &.specials {
          width: 5em;
          padding-left: 1em;
          padding-right: 1em;

          &.has-specials {
            width: 25em;
          }

          .special {
            white-space: nowrap;

            > * {
              display: inline-block;
              vertical-align: middle;
            }

            > .sale-icon {
              width: 1.4em;
              height: 1.4em;
              margin: 0 0.2em;

              > img {
                display: inline-block;
                vertical-align: middle;
                width: 100%;
                height: 100%;
              }
            }
          }
        }

        &.total-price  {
          .reverse-text-align {
            text-align: left;
          }

          .sp-product-price {
            display: flex;
            flex-direction: row-reverse;
            justify-content: flex-end;
            align-items: center;

            .bottle-deposit-disclaimer {
              margin-left: 1em;
            }
          }
        }

        &.product-properties {
          font-size: small;
          &.large-property {
            > .product-properties {
              > .dropdown-wrapper { 
                width: 100%;
              }
            }
          }
        }

        &.notes {
          textarea {
            width: 13em;
            resize: none;
          }

          .cart-line-comments-wrapper {
            .cart-line-property {
              padding: 0.5em 0;
            }
          }
        }
      }

      &:hover, &:focus-within, &.hover-mode {
        td {
          &.remove-btn button, &.quantity .actions {
            opacity: 1;
          }
        }
      }

      &.removed {
        .img, .name, .specials, .regular-price, .total-price, .notes, .quantity-text {
          opacity: .35;
        }
        td {
          &.name > .img {
            position: relative;

            .removed-text {
              display: block;
            }
          }

          &.remove-btn > button {
            width: initial;

            > .remove-icon {
              display: none;
            }

            > .delete-text {
              display: inline-block;
            }
          }
        }
      }

      &.register-loyalty td {
        &.name > .img > .image-wrapper {
          display: none;

          &.register-loyalty-image {
            display: block;
          }
        }

        &.notes > * {
          display: none;
        }

        &.quantity > * {
          display: none;
        }

        &.name {
          > .brand, > .weight {
            visibility: hidden;
          }
        }
      }

      &.coupon-row {
        > td {
          &.quantity > svg {
            $size: 2.5em;
            width: $size;
            height: $size;
          }

          &.name > div.data > div.title {
            font-weight: 700;
          }

          &.coupon-actions {
            text-align: center;

            > div.error {
              margin: 0.5em 0;
              color: #d6353a;
              font-weight: 700;
              position: relative;

              > .question-mark {
                border: 1px solid;
                border-radius: 100%;
                padding: 0.05em 0.25em;
              }

              > .error-tooltip {
                position: absolute;
                bottom: 100%;
                background-color: #ffffff;
                text-align: left;
                left: 30%;
                right: -10%;
                box-shadow: 0 0 0.6em 0 rgba(0, 0, 0, 0.36);
                display: none;
                border-radius: 5px 5px 0 0;

                .title {
                  background-color: #ffebeb;
                  padding: 0.7em;
                  border-radius: 5px 5px 0 0;
                }

                .description {
                  color: #787878;
                  font-weight: 400;
                  padding: 0.8em;
                  line-height: 1.2em;
                  font-size: 0.85em;
                }

                > * {
                  white-space: break-spaces;
                }
              }

              &:hover, &:focus-within {
                > .error-tooltip {
                  display: block;
                }
              }
            }

            > button {
              font-weight: 700;
              padding: 0.2em 2em;
            }
          }
        }

        .disabled {
          opacity: 0.35;
          pointer-events: none;
        }
  
        .coupon-expired {
          height: auto;
          white-space: pre-line;
          line-height: 1.5em;
          padding: 0 0.4em;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          text-align: center;
          color: #ffffff;
          font-size: 0.75em;
          background-color: #F86B2F;
          vertical-align: middle;
          margin-top: 30%;
        }
      }

      &.special-reminder {
        background-color: #FEF5E0;

        > td.actions > button {
          padding: 0.3em 1em;
        }

        > td.name > div.img {
          > img, > svg {
            vertical-align: middle;
          }

          > svg {
            $size: 1.75em;
            width: $size;
            height: $size;
          }
        }
      }
    }
    
    .disabled {
      opacity: 0.35;
      pointer-events: none;
    }

    .out-of-stock {
      position: absolute;
      top: 50%;
      height: 1.5em;
      line-height: 1.5em;
      padding: 0 0.4em;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      text-align: center;
      margin-top: -0.75em;
      color: #ffffff;
      font-size: 0.63em;
      white-space: nowrap;
      background-color: #F86B2F;
      width: auto;
      left: 50%;
      transform: translateX(-50%);
    }

    .hide-product-actions {
      .product-actions {
        display: none !important;
      }
    }
  }


}

.ltr .sp-list-items-wrapper {
  .elastic-row > span {
    text-align: left;
  }
}

.rtl .sp-list-items-wrapper {
  .elastic-row > span {
    text-align: right;

    &.name {
      padding-left: 0.2em;
      padding-right: 6em;
    }
  }

  .items-table {
    thead th {
      text-align: right;
    }

    tbody {
      .item-row td {
        &.total-price .reverse-text-align {
          text-align: right;
        }

        &.quantity .actions .sp-quantity.weighable > .btns-row {
          > .quantity-wrapper > sp-vertical-value-slider {
            border-right-width: 1px;
            border-left-width: 0;
            margin: 0 0.2em 0 0;
            border-radius: 0 5px 5px 0;
          }

          .weight {
            border-left-width: 1px;
            border-right-width: 0;
            margin: 0 0 0 0.2em;
            box-sizing: border-box;
            border-radius: 5px 0 0 5px;
          }
        }
      }

      > tr.item-row.coupon-row > td.coupon-actions > div.error > .error-tooltip {
        text-align: right;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .sp-list-items-wrapper {
    .items-table {
      td, th {
        &.name {
          max-width: 12em;
        }
      }

      tbody .item-row td {
        &.quantity {
          width: 6.5em;
          > div.quantity-text {
            width: 6em;
          }

          .actions .sp-quantity > .btns-row {
            > button {
              width: 1.8em;
            }

            > .quantity-wrapper > sp-vertical-value-slider {
              width: 2.5em;
            }
          }
        }
        &.notes textarea {
          width: 7em;
        }
      }
    }
  }
}
