<div refresher="$root.config.language.id" ng-controller="SidenavPrutahTemplateCtrl" ng-init="sideNavCtrl.reloadCart()">
<!--    {{sideNavCtrl.nextDelivery.times | json}}-->
    <nav class="cart" ng-class="{'has-gifts': $root.cart.total.giftsForView || $root.cart.total.clubsGiftsForView || $root.cart.total.simulateClubsGiftsForView,
        'has-multipass-discount': $root.cart.total.multiPassGift,
        'has-next-delivery': ($root.config.retailer.delivery || $root.config.retailer.pickup) && (!!sideNavCtrl.nextDelivery.times.length || sideNavCtrl.ordersService.orderInEdit),
        'has-promotion': $root.util.isRetailerPromotionActive(),
        'has-no-available-slots': $root.noAvailableDeliverySlots && !sideNavCtrl.ordersService.orderInEdit,
        'in-edit-order': sideNavCtrl.ordersService.orderInEdit}">   
        <header ng-click="sideNavCtrl.toggleCart();" class="clickable secondary-font" aria-expanded="{{!sideNavCtrl.isCartClosed}}">
            <div class="left">
                <img class="toggle-cart" src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/cart_arrow.png" alt="{{sideNavCtrl.isCartClosed ? ('open cart' | translate) : ('close cart' | translate)}}" tabindex="0"/><!--
                --><img class="cart-icon" src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/cart.png" alt="" role="presentation"/><!--
                --><span class="summary" ng-class="{'clean-cart-button': $root.cart.total.lines}">
                    <div class="items-count">{{$root.cart.total.lines + ' ' + ($root.cart.total.lines === 1 ? 'item' : 'items' | translate)}}</div>
                    <div class="price">{{$root.config.retailer.settings.includeDeliveryFeeInCart === 'true' && !sideNavCtrl.isEmptyObjectWithDelivery($root.cart.lines)
                            && sideNavCtrl.deliveryCheckoutOrServiceFee ? ($root.cart.total.finalPriceForViewWithDeliveryFee || sideNavCtrl.finalPriceForViewWithDeliveryFee | currency) :
                            ($root.cart.total.finalPriceForView | currency)}}</div>
                </span><!--
                --><img ng-if="$root.cart.total.lines" 
                        class="clean-cart-icon" ng-click="$event.stopPropagation(); sideNavCtrl.clearCart();"
                        src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/trash.png"
                        alt="{{'Delete shopping cart' | translate}}"
                        tabindex="0"><!--
                --><span class="for-vertical-align"></span>
            </div>
            <div class="right">
                <span class="for-vertical-align"></span><!--
                --><span class="button highlight order" ng-click="sideNavCtrl.checkoutV2(); $root.config.retailer.promotion.popupOnCartSummary && $root.util.openPromotionDialog(); $event.stopPropagation();" ng-disabled="!$root.cart.total.actualLines">{{(!sideNavCtrl.ordersService.orderInEdit ? 'Checkout' : 'Update Order') | translate}}</span>
            </div>
        </header>

        <div class="no-available-slots-wrapper"
             ng-class="{'has-popup': $root.config.retailer.settings.shippingNoAvailableSlotsPopupEnable}"
             ng-click="sideNavCtrl.deliveryNoAvailableSlotsPopup()"
             ng-if="$root.config.retailer.settings.shippingNoAvailableSlotsPopupEnable && $root.noAvailableDeliverySlots && !sideNavCtrl.ordersService.orderInEdit">
            <span class="for-vertical-align"></span>
            <span class="no-deliveries-icon right">
                <svg focusable="false">
                    <use xlink:href="#sp-icons-no-delivery-slots"></use>
                </svg>
                <span class="for-vertical-align"></span>
            </span>

            <div class="no-deliveries-text left">
               <span>{{'No available deliveries in the upcoming days' | translate}}</span>
            </div>

            <svg focusable="false" class="sp-icons-arrow-down">
                <use xlink:href="#sp-icons-arrow-down"></use>
            </svg>
        </div>

        <div class="no-available-slots-wrapper"
             ng-class="{'has-popup': $root.config.retailer.settings.shippingNoAvailableSlotsPopupEnable}"
             ng-if="!$root.config.retailer.settings.shippingNoAvailableSlotsPopupEnable && $root.noAvailableDeliverySlots && !sideNavCtrl.ordersService.orderInEdit">
            <span class="for-vertical-align"></span>
            <span class="no-deliveries-icon right">
                <svg focusable="false">
                    <use xlink:href="#sp-icons-no-delivery-slots"></use>
                </svg>
                <span class="for-vertical-align"></span>
            </span>

            <div class="no-deliveries-text left">
                <span>{{'No available deliveries in the upcoming days' | translate}}</span>
            </div>

            <svg focusable="false" class="sp-icons-arrow-down">
                <use xlink:href="#sp-icons-arrow-down"></use>
            </svg>
        </div>
        <div class="next-delivery-wrapper"
             ng-if="!sideNavCtrl.ordersService.orderInEdit && ($root.config.retailer.delivery || $root.config.retailer.pickup)"
             ng-class="{'show-more-details': sideNavCtrl.nextDelivery.showMoreDetails}">
            <div class="next-delivery-content"
                 ng-repeat="time in sideNavCtrl.nextDelivery.times"
                 ng-class="{'active': time._isActiveInNav}"
                 ng-click="sideNavCtrl.toggleNextDeliveryMoreDetails()"
            aria-expanded="{{sideNavCtrl.nextDelivery.showMoreDetails}}"
            aria-controls="next_delivery_more_details">
                <span class="for-vertical-align"></span><!--
                --><span class="next-delivery-icon"
                         ng-class="::{
                            'delivery-within-hours': time.type == $root.DELIVERY_TIMES_TYPES.DELIVERY_WITHIN_HOURS
                         }">
                    <img ng-if=":: (time.type != $root.DELIVERY_TIMES_TYPES.DELIVERY_WITHIN_HOURS && sideNavCtrl.nextDelivery.currentNextDeliveryTypeId === $root.SP_SERVICES.DELIVERY_TYPES.DELIVERY)"
                         src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/next-delivery-icon.png" alt="{{'Delivery' | translate}}"/>
                    <img ng-if=":: (time.type == $root.DELIVERY_TIMES_TYPES.DELIVERY_WITHIN_HOURS  && sideNavCtrl.nextDelivery.currentNextDeliveryTypeId === $root.SP_SERVICES.DELIVERY_TYPES.DELIVERY)"
                         src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/express-delivery-white.png" alt="{{'Express delivery' | translate}}"/>
                    <svg ng-if=":: sideNavCtrl.nextDelivery.currentNextDeliveryTypeId === $root.SP_SERVICES.DELIVERY_TYPES.PICKUP">
                        <use xlink:href="#sp-icons-retailer-details"></use>
                    </svg>
                    <!--<img src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/express-delivery-white.png" alt="{{'Express delivery' | translate}}"/>-->
                    <img class="delivery-sale-icon sale-icon" ng-if="time.deliveryProduct && time.deliveryProduct.branch.specials && time.deliveryProduct.branch.specials.length && !time.deliveryProduct.branch.specials[0].isCoupon"
                         ng-src="{{('https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/sale-icon%translate%.png') | translateImage:{'he': '-hebrew'} }}" alt="{{'Sale' | translate}}"/>
                </span><!--
                --><span class="next-delivery-text">
                    <span class="next-delivery"><!--
                        --><span class="title" ng-bind="('Next Delivery' | translate) + ':'" ng-if="sideNavCtrl.nextDelivery.currentNextDeliveryTypeId !== $root.SP_SERVICES.DELIVERY_TYPES.PICKUP"></span><!--
                        --><span class="title" ng-bind="('Next Pickup' | translate) + ':'" ng-if="sideNavCtrl.nextDelivery.currentNextDeliveryTypeId === $root.SP_SERVICES.DELIVERY_TYPES.PICKUP"></span>&nbsp;<!--
                        --><span ng-if=":: time.type == $root.DELIVERY_TIMES_TYPES.DELIVERY_WITHIN_HOURS"><!--
                            -->{{'Get it within' | translate}} {{:: time.timeRange | date:'H:mm':'UTC' }} {{'hrs' | translate}}
                        </span><!--
                        --><span ng-if=":: time.type == $root.DELIVERY_TIMES_TYPES.DELIVERY_WITHIN_DAYS"><!--
                            -->{{'Get it within' | translate}} {{::time.daysRange}} {{'Business Days' | translate}}
                        </span><!--
                        --><span ng-if=":: time.type == $root.DELIVERY_TIMES_TYPES.REGULAR"><!---->

                            <span ng-if="time.isWithinSixDays">
                                {{time.isToday ? 'Today' : ('day' + time.dayInWeek) | translate}}
                            </span>
                            <span ng-if="!time.isWithinSixDays">
                                {{time.date | date:($root.config.isUs ? 'MM/dd': 'dd/MM'):'UTC' }}
                             </span>
                                <span class="times">
                                {{(($root.config.retailer.twoHourLaw && sideNavCtrl.nextDelivery.currentNextDeliveryTypeId !== $root.SP_SERVICES.DELIVERY_TYPES.PICKUP ? time.fromDisplay : time.from)) | date:($root.config.isUs ? 'hh:mm a': 'HH:mm'):'UTC' }}
                                <span ng-if="!$root.config.retailer.twoHourLaw || sideNavCtrl.nextDelivery.currentNextDeliveryTypeId === $root.SP_SERVICES.DELIVERY_TYPES.PICKUP">
                                    -
                                    {{time.to | date:($root.config.isUs ? 'hh:mm a': 'HH:mm'):'UTC' }}
                                </span>
                            </span><!--
                        --></span>
                        <span aria-label="{{sideNavCtrl.deliveryDisclaimerPopUpMessage[$root.config.language.id] || 'delivery_disclaimer_default_text' | translate}}" ng-if="sideNavCtrl.isEnableDeliveryDisclaimerPopUp" class="tooltips-icon"
                            tabindex="0"
                            sp-tooltip="{{sideNavCtrl.deliveryDisclaimerPopUpMessage[$root.config.language.id] || 'delivery_disclaimer_default_text' | translate}}"
                            sp-tooltip-remove-previous="true" sp-tooltip-checking-over="true">
                            <svg class="icons-exclamation-mark-circle" focusable="false" role="presentation"
                                ng-style="{'color': sp.themeConfig.mainColor}">
                                <use xlink:href="#sp-icons-delivery-pop-up-mark-circle"></use>
                            </svg>
                        </span>
                    </span>
                    <span ng-if="time.deliveryProduct && time.deliveryProduct.branch.specials && time.deliveryProduct.branch.specials.length">
                        <span ng-repeat="special in time.deliveryProduct.branch.specials" ng-if="!special.isCoupon">
                            {{special.descriptions && special.descriptions[$root.config.language.culture] ? special.descriptions[$root.config.language.culture] : special.description}}
                        </span>
                    </span>
                </span><!--
                --><span class="more-details-icon">
                    <span class="arrow">
                        <span class="for-vertical-align"></span><!--
                        --><img src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/cart_arrow.png" alt="{{'More details' | translate}}"/>
                    </span>
                </span>
            </div>
            <div class="next-delivery-more-details" id="next_delivery_more_details"
                 aria-hidden="{{sideNavCtrl.nextDelivery.showMoreDetails ? false : true}}"
            aria-label="{{'Additional delivery times' | translate}}">
                <div class="more-details-content">
                    <div class="delivery-type-buttons">
                        <button ng-repeat="(type, areasSlots) in sideNavCtrl.nextDelivery.moreSlots"
                                ng-click="sideNavCtrl.setCurrentMoreSlots(areasSlots, type);"
                                class="no-design" ng-class="{'active': sideNavCtrl.selectedDeliveryType == type}"
                                ng-if="sideNavCtrl.nextDelivery.moreSlotsTypes.length > 1">
                            {{'delivery_type_' + type + '_times' | translate}}
                        </button>
                    </div>
                    <div tabindex="0" ng-if="sideNavCtrl.isEnableDeliveryDisclaimerPopUp" class="next-delivery-message-pop-up"
                        ng-style="{'background-color': sideNavCtrl.deliveryDisclamerPopupColor.backgroundColor, 'color': sideNavCtrl.deliveryDisclamerPopupColor.textColor}"
                        class="ng-binding">
                        {{sideNavCtrl.deliveryDisclaimerPopUpMessage[sideNavCtrl.languageId] || 'delivery_disclaimer_default_text' |
                        translate }}
                    </div>

                    <div class="slots" ng-if="!sideNavCtrl.nextDelivery.currentMoreSlots.length">
                        <ul>
                            <li class="slot">{{'No available slots' | translate}}</li>
                        </ul>
                    </div>

                    <div class="slots" ng-repeat="(areaId, area) in sideNavCtrl.nextDelivery.currentMoreSlots.areas">
                        <div class="area-name" ng-if="sideNavCtrl.nextDelivery.currentMoreSlots.length > 1" ng-bind=":: area.areaName"></div>

                        <ul>
                            <li class="slot" ng-if="area.slots[$root.DELIVERY_TIMES_TYPES.DELIVERY_WITHIN_HOURS]">
                                {{'Within' | translate}}
                                {{::area.slots[$root.DELIVERY_TIMES_TYPES.DELIVERY_WITHIN_HOURS].timeRange | date:'H:mm':'UTC' }}
                                {{'hrs' | translate}}
                            </li>
                            <li class="slot" ng-if="area.slots[$root.DELIVERY_TIMES_TYPES.DELIVERY_WITHIN_DAYS]">
                                {{'Within' | translate}}
                                {{::area.slots[$root.DELIVERY_TIMES_TYPES.DELIVERY_WITHIN_DAYS].daysRange}}
                                {{'Business Days' | translate}}
                            </li>
                            <li class="slot" ng-repeat="slot in area.slots[$root.DELIVERY_TIMES_TYPES.REGULAR]">
                                <span class="title">{{slot.isToday ? 'Today' : ('day' + slot.day) | translate}} {{slot.date | date:($root.config.isUs ? 'MM/dd': 'dd/MM'):'UTC' }}</span>
                                <ul>
                                    <li class="time" ng-repeat="time in slot.times | orderBy:('fromDisplay' || 'from')" ng-if="!time.disabled">
                                        <img class="sale-icon" alt="slot sale icon"
                                             ng-if="!sideNavCtrl.nextDelivery.isAllSpecialSlots && time.deliveryProduct &&
                                                    time.deliveryProduct.branch.specials && !time.deliveryProduct.branch.specials[0].isCoupon"
                                             ng-src="{{('https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/sale-icon%translate%.png') | translateImage:{'he': '-hebrew'} }}"/>
                                        <span class="times" ng-if="!$root.config.retailer.twoHourLaw || slot.deliveryTypeId == $root.SP_SERVICES.DELIVERY_TYPES.PICKUP">
                                            {{time.from | date:($root.config.isUs ? 'hh:mm a': 'HH:mm'):'UTC' }}
                                            -
                                            {{time.to | date:($root.config.isUs ? 'hh:mm a': 'HH:mm'):'UTC' }}
                                        </span>
                                        <span class="times" ng-if="$root.config.retailer.twoHourLaw && slot.deliveryTypeId != $root.SP_SERVICES.DELIVERY_TYPES.PICKUP">
                                            {{time.fromDisplay | date:($root.config.isUs ? 'hh:mm a': 'HH:mm'):'UTC' }}
                                        </span>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="next-delivery-wrapper" ng-show="sideNavCtrl.ordersService.orderInEdit">
            <div class="edit-order">
                <span class="for-vertical-align"></span><!--
                --><span class="title-wrapper">
                    <span class="title">
                        <span class="order-id">{{'Order ' | translate}} {{sideNavCtrl.ordersService.orderInEdit.id}}</span>
                        <span ng-if="sideNavCtrl.ordersService.orderInEdit.deliveryTimeTypeId !== $root.DELIVERY_TIMES_TYPES.DELIVERY_WITHIN_DAYS">
                            {{sideNavCtrl.ordersService.orderInEdit.shippingTimeFrom | date:'EEEE':'UTC' | translate}},
                            <span class="direction" ng-if="!$root.config.retailer.twoHourLaw || sideNavCtrl.ordersService.orderInEdit.branchDeliveryTypeId != $root.SP_SERVICES.DELIVERY_TYPES.DELIVERY">
                                {{(sideNavCtrl.ordersService.orderInEdit.shippingTimeFromDisplay || sideNavCtrl.ordersService.orderInEdit.shippingTimeFrom) | date:($root.config.isUs ? 'hh:mma' : 'HH:mm'):'UTC' }}
                                -
                                {{sideNavCtrl.ordersService.orderInEdit.shippingTimeTo | date:($root.config.isUs ? 'hh:mma' : 'HH:mm'):'UTC' }}
                            </span>
                            <span class="direction" ng-if="$root.config.retailer.twoHourLaw && sideNavCtrl.ordersService.orderInEdit.branchDeliveryTypeId == $root.SP_SERVICES.DELIVERY_TYPES.DELIVERY">
                                {{(sideNavCtrl.ordersService.orderInEdit.shippingTimeFromDisplay || sideNavCtrl.ordersService.orderInEdit.shippingTimeFrom) | date:($root.config.isUs ? 'hh:mma' : 'HH:mm'):'UTC' }}
                            </span>
                        </span>
                        <span ng-if="sideNavCtrl.ordersService.orderInEdit.deliveryTimeTypeId === $root.DELIVERY_TIMES_TYPES.DELIVERY_WITHIN_DAYS">
                            {{sideNavCtrl.ordersService.orderInEdit.shippingTimeFrom | date:($root.config.isUs ? 'MM.dd.yyyy' : 'dd.MM.yyyy'):'UTC' }},
                            {{'Within' | translate}} {{::sideNavCtrl.ordersService.orderInEdit.deliveryTimeDaysRange}} {{'business days' | translate}}
                        </span>
                    </span>
                </span><!--
                --><span class="btn-wrapper reverse-text-align" ng-click="sideNavCtrl.editOrderCancel();">
                    <span class="btn-content">
                        <img src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/cancel-small-white.png" alt=""/><span class="title">{{'Cancel Update' | translate}}</span>
                    </span>
                </span>
            </div>
        </div>

        <button class="promotion bg-main-color no-design" ng-if="$root.util.isRetailerPromotionActive()" ng-click="$root.util.openPromotionDialog();">
            {{$root.config.retailer.promotion.name}}
        </button>

        <div class="content-wrapper" ng-class="{
            'small': $root.cart.total.giftsForView,
            'time-slot': $root.util.isEnableUpdateTimeSlot()
            }">
            <div class="content">
                <section class="empty-cart"
                         ng-show="!$root.cart.total.actualLines && !sideNavCtrl.updatedOrder && !$root.cart.total.coupons">
                    <span class="for-vertical-align"></span><!--
                    --><div class="middle">
                        <span class="empty" ng-if="!sideNavCtrl.editOrderCancelled && !$root.config.retailer.isSmartListDisplayEnabled"><!--
                            --><span class="title">{{"Let's start" | translate}}</span>
                               <span class="content">{{'Adding some items' | translate}}</span>
                               <img src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/orders-history-cart.png" alt="{{('add to cart' | translate).replace('{cart}', $root.config.retailer.settings.setCartNameToBasket ? $root.config.retailer.settings.setCartNameToBasket : 'cart')}}"/>
                        </span>

                        <span class="empty-cart-smart-list" ng-if="!sideNavCtrl.editOrderCancelled && $root.config.retailer.isSmartListDisplayEnabled && sideNavCtrl.cartIsEmpty === true">
                            <h4>{{'Your time is precious' | translate}}!</h4>
                            <h5>{{'We have prepared a list of products you usually purchase' | translate}}</h5>
                            <button ng-click="sideNavCtrl.goToSmartList()">
                                <span>{{'Add products from the list' | translate}}</span>
                            </button>
                        </span>

                        <span ng-if="sideNavCtrl.editOrderCancelled">
                            <span class="for-vertical-align"></span><!--
                            --><img src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/cancel.png" alt=""/>
                            <div class="edit-order-cancel">{{'Canceling' | translate}}
                                <br/>
                                {{'Update' | translate}}
                                <span class="dots">...</span>
                            </div>
                            <div class="title bold">
                                <div>{{'Your original order is' | translate}}</div>
                                <div>{{'in process ' | translate}}</div>
                            </div>
                        </span>

                    </div>
                </section>

                <section class="update-order" ng-show="sideNavCtrl.updatedOrder && !$root.cart.total.actualLines">
                    <span class="for-vertical-align"></span><!--
                    --><div class="middle">
                         <span class="circle">
                             <span class="for-vertical-align"></span><!--
                             --><img src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/v.png" alt=""/>
                        </span><!--
                         --><div class="order-details">{{'Your Order' | translate}}
                                <br/>
                               {{'has been Updated' | translate}}
                           </div>
                          <div class="order-number">
                            {{'Order ID' | translate}}: {{sideNavCtrl.updatedOrder.id}}
                          </div>
                         <div class="order-text">
                             {{'Please check your email for order details' | translate}}.<br/>
                             {{'Thank you' | translate}}!
                         </div>
                      </div>
                </section>

                <section class="products-wrapper products-scrollable-wrapper" ng-show="$root.cart.total.actualLines || $root.cart.total.coupons">
                    <div class="delivery-item" ng-if="$root.config.retailer.settings.includeDeliveryFeeInCart === 'true'">
                        <div ng-if="(line.type == $root.SP_SERVICES.CART_LINE_TYPES.DELIVERY) && line.id > 0"
                             ng-repeat="(id, line) in $root.cart.lines">
                            <div class="delivery-fee" ng-click="sideNavCtrl.openDeliveryFeePopup()">
                                <span class="label">{{'delivery_type_' + $root.config.getBranchArea().deliveryTypeId + '_fee' | translate}}</span>
                                <span class="price">
                                    <sp-product-price class="reverse-text-align flex-column"
                                                        regular-price="line.removed ? (line.product | regularPrice: line.isCase) : line.totalPriceForView"
                                                        sale-price="line.removed ? (line.product | salePrice: line.isCase) : line.finalPriceForView"
                                                        product="line.removed && line.product"
                                                        type="line.type"
                                                        ng-class="{'disabled': line.isProductOutOfStock}"
                                                        hide-normalize-price="true"
                                                        show-disclaimer-on-cart-pages="$root.config.retailer.settings.showPriceWithoutBottleDeposit">

                                    </sp-product-price>
                                </span>
                            </div>
                            <div class="delivery-fee-explain" ng-if="$root.config.retailer.settings.legalTermsDeliveryText">
                                <span ng-bind-html="$root.config.retailer.settings.legalTermsDeliveryText"></span>
                            </div>
                            <div class="delivery-fee-explain" ng-if="!$root.config.retailer.settings.legalTermsDeliveryText">
                                <span>{{'delivery-fee-explain-default' | translate}}</span>
                            </div>
                        </div>
                    </div>

                    <div ng-if="!sideNavCtrl.sortCartByCategories" class="products" >
                        <div class="product-in-cart" id="sidenav_line_{{line.$key}}" sp-in-view-watcher
                             ng-if="line.type == $root.SP_SERVICES.CART_LINE_TYPES.PRODUCT  || line.type == $root.SP_SERVICES.CART_LINE_TYPES.COUPON || line.type == $root.SP_SERVICES.CART_LINE_TYPES.REGISTER_LOYALTY"
                             ng-repeat="(id, line) in $root.cart.lines | orderObjectBy:'sort'"
                             ng-class="{removed: line.removed && !line.isProductOutOfStock, 'out-stock': line.isProductOutOfStock, 'register-loyalty': line.type == $root.SP_SERVICES.CART_LINE_TYPES.REGISTER_LOYALTY, 'focus-in': line._inFocus}"
                             ng-mouseenter="line._mouseHover = true; sideNavCtrl.toggleProductActions('mouseenter', line.id)" 
                             ng-mouseleave="line._mouseHover = false; sideNavCtrl.toggleProductActions('mouseleave', line.id)"
                             ng-focus="line._mouseHover = true; sideNavCtrl.toggleProductActions('focus', line.id)"
                             ng-blur="line._mouseHover = false; sideNavCtrl.toggleProductActions('blur', line.id)"
                             ng-hide="line.isHideFromCart"
                             sp-focus-in sp-focus-in-action="line._inFocus"
                             tabindex="0"
                             role="presentation"
                             ng-click="line.type === $root.SP_SERVICES.CART_LINE_TYPES.PRODUCT && line.product && !line.isProductOutOfStock && $root.util.openProduct(line.product)"
                             aria-label="{{line.product | productName:line.isCase:'short'}}">
                            <button class="no-design delete hover-action" ng-click="$root.cart.removeLine(line); $event.stopPropagation();"
                                    ng-hide="sideNavCtrl.ordersService.orderInEdit && line.type == $root.SP_SERVICES.CART_LINE_TYPES.REGISTER_LOYALTY" tabindex="0">
                                <span class="for-vertical-align"></span><!--
                                --><img src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/delete-icon.png" class="middle remove-icon" alt="{{('Delete' | translate) + ' ' + (line.product | productName:line.isCase:'short')}}"/><!--
                                --><span class="middle delete-text">{{'Delete' | translate}}</span>
                            </button>

                            <div class="product-wrapper"
                                 ng-if="line.type === $root.SP_SERVICES.CART_LINE_TYPES.PRODUCT || line.type === $root.SP_SERVICES.CART_LINE_TYPES.REGISTER_LOYALTY"
                                 ng-class="{'new-promotion': $root.config.retailer.settings.isNewPromotionDesignEnabled === 'true'}" tabindex="0">
                                <img class="product-main-tag-icon" ng-if="line.product | productMainTag:$root.PermanentFilters.values[$root.PermanentFilters.TYPES.PRODUCT_TAGS]"
                                     ng-src="{{(line.product | productMainTag:$root.PermanentFilters.values[$root.PermanentFilters.TYPES.PRODUCT_TAGS]).languages | name:'iconResourceUrl'}}"
                                     alt="{{(line.product | productMainTag:$root.PermanentFilters.values[$root.PermanentFilters.TYPES.PRODUCT_TAGS]).languages | name:'displayName'}}"/>

                                <div class="actions hover-action" ng-if="!line.isProductOutOfStock" ng-click="$event.stopPropagation();" ng-class="{
                                        'three-chars': (line.quantity.toString()).length == 4,
                                        'four-chars': (line.quantity.toString()).length >= 5
                                    }" ng-mouseenter="line._mouseHover = false;" ng-mouseleave="line._mouseHover = true;" role="none" tabindex="-1">
                                    <product-actions product="line.product" line="line" hide-cart="true" mode="portrait"></product-actions>
                                </div>

                                <div class="product-data disabled-if-removed"
                                     ng-click="line.type === $root.SP_SERVICES.CART_LINE_TYPES.PRODUCT && line.product && !line.isProductOutOfStock && $root.util.openProduct(line.product)"
                                     role="{{line.type === $root.SP_SERVICES.CART_LINE_TYPES.PRODUCT && line.product && !line.isProductOutOfStock ? 'button' : ''}}"
                                     tabindex="{{line.type === $root.SP_SERVICES.CART_LINE_TYPES.PRODUCT && line.product && !line.isProductOutOfStock ? 0 : -1}}">
                                    <div class="quantity" ng-class="{
                                        'disabled': line.isProductOutOfStock,
                                        'three-chars': (line.quantity | number:((line.soldBy === $root.PRODUCT_DISPLAY.WEIGHT.name && $root.util.isUnitsWeighable(line.product)) || (!line.soldBy && $root.util.isWeightQuantity(line.product)) ? 2 : 0)).length == 4,
                                        'four-chars': (line.quantity | number:((line.soldBy === $root.PRODUCT_DISPLAY.WEIGHT.name && $root.util.isUnitsWeighable(line.product)) || (!line.soldBy && $root.util.isWeightQuantity(line.product)) ? 2 : 0)).length >= 5}">
                                         {{line | cartLineQuantity:null:line.soldBy}}
                                    </div><!--
                                    -->
                                    <sp-unit-weight class="hover-action" product="line.product" cart-line="line" ng-if="line.product.productDisplayModeId === $root.PRODUCT_DISPLAY.WEIGHT_AND_UNIT.id && $root.config.retailer.enableSwitchUnitWeight && $root.util.isUnitsWeighable(line.product)" ng-click="$event.stopPropagation();" product-id="line.product.id"></sp-unit-weight><!--
                                    --><div class="image">
                                        <div ng-if="line.product.productDisplayModeId === $root.PRODUCT_DISPLAY.WEIGHT_AND_UNIT.id && $root.config.retailer.enableSwitchUnitWeight && $root.util.isUnitsWeighable(line.product)" class="hover-action backdrop">
                                        </div>
                                        <span ng-if="line.totalPriceForView !== line.finalPriceForView && !line.removed && !line.isProductOutOfStock && line.type !== $root.SP_SERVICES.CART_LINE_TYPES.COUPON && !line.isPseudo && $root.config.retailer.settings.isNewPromotionDesignEnabled !== 'true'"
                                                 class="sale-icon"
                                                 ng-class="{'club-icon': sideNavCtrl.checkLineLoyaltyGift(line), 'disabled': line.isProductOutOfStock}">
                                            <img ng-src="{{('https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/' + (sideNavCtrl.checkLineLoyaltyGift(line) ? 'club' : 'sale') + '-icon%translate%.png') | translateImage:{'he': '-hebrew'} }}"
                                                 alt="{{(sideNavCtrl.checkLineLoyaltyGift(line) ? 'club ' : '') + 'sale' | translate}}"/>
                                        </span>
                                        <product-image in-cart-suggestion="true" product="line.product" image-url="line.product.image.url" is-product-out-of-stock="{{line.isProductOutOfStock}}" is-need-to-show-out-of-stock-label="{{line.isNeedToShowOutOfStockLabel}}" size="small"></product-image><div class="image-wrapper register-loyalty-image">
                                            <div class="image" ng-style="{'background-image': 'url(' + ('https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/club-icon%translate%.png' | translateImage:{'he': '-hebrew'}) + ')'}"></div>
                                        </div><!--
                                        --><div class="removed-text display-if-removed" ng-if="!line.isProductOutOfStock" ng-bind=":: 'Removed' | translate"></div>
                                    </div><!--
                                    --><div class="data" ng-class="{'disabled': line.isProductOutOfStock}">
                                        <div class="brand">{{line.product.brand.names | name}}</div>
                                        <div class="name" ellipsis max-height-ellipsis="true"
                                            title="{{line.product | productName:line.isCase:'short'}}">
                                        </div>
                                        <div class="weight">
                                            <span ng-if="(line.soldBy === $root.PRODUCT_DISPLAY.UNIT.name && $root.util.isUnitsWeighable(line.product)) || (!line.soldBy && $root.util.isUnitsWeighable(line.product)) && !line.isCase">
                                                {{('Est. total weight' | translate) + ' ' + (line.product | productWeight:line.isCase:null:line.quantity:line.soldBy) }}
                                            </span>
                                            <span ng-if="!line.soldBy && line.product.weight && !$root.util.isUnitsWeighable(line.product)">
                                                {{line.product | productWeight:line.isCase}}
                                            </span>
                                        </div>
                                    </div>
                                    <sp-product-price class="reverse-text-align"
                                                         regular-price="line.removed ? (line.product | regularPrice: line.isCase) : line.totalPriceForView"
                                                         sale-price="line.removed ? (line.product | salePrice: line.isCase) : line.finalPriceForView"
                                                         product="line.removed && line.product"
                                                         type="line.type"
                                                         ng-class="{'disabled': line.isProductOutOfStock}"
                                                         hide-normalize-price="true"
                                                         show-disclaimer-on-cart-pages="$root.config.retailer.settings.showPriceWithoutBottleDeposit">
                                    </sp-product-price>
                                    <sp-promotion product="line.product" is-cart="true" ng-if="$root.util.filterProductSpecials(line.product.branch).length && $root.config.retailer.settings.isNewPromotionDesignEnabled === 'true'"></sp-promotion>
                                </div>
                                <sp-cart-line-comments sp-line="line"
                                                       sp-hide="line.removed || line.isProductOutOfStock || (!line._mouseHover && !line._inFocus) || (line.type && line.type !== $root.SP_SERVICES.CART_LINE_TYPES.PRODUCT)"
                                                       show-product-property="true">

                                </sp-cart-line-comments>
                            </div>

                            <div class="coupon-wrapper" ng-if="line.type === $root.SP_SERVICES.CART_LINE_TYPES.COUPON">
                                <product-actions class="display-if-removed hover-action" product="line.product" line="line" hide-cart="true" mode="portrait"></product-actions>
                                <div class="error" ng-class="{'disabled': line.isCouponActive === false}"
                                     ng-mouseover="sideNavCtrl.setErrorTooltipPosition($event, 90)" ng-focus="sideNavCtrl.setErrorTooltipPosition($event, 90)"
                                     ng-mouseleave="sideNavCtrl.errorTooltipStyle = {}" ng-blur="sideNavCtrl.errorTooltipStyle = {}"
                                     ng-if="$root.cart.specialReminders.onCoupons[line.product.branch.specials[0].id] && !$root.cart.specialReminders.onCoupons[line.product.branch.specials[0].id].awarded">
                                    <div class="error-tooltip"
                                         ng-style="sideNavCtrl.errorTooltipStyle"
                                         ng-if="$root.userCouponsById[line.product.id] && $root.userCouponsById[line.product.id].description">
                                        <div class="title">{{$root.userCouponsById[line.product.id].couponName || $root.userCouponsById[line.product.id].localName}}</div>
                                        <div class="description">{{$root.userCouponsById[line.product.id].description}}</div>
                                    </div>
                                    <span class="text" ng-bind="::('coupon_requirements_error' | translate)"></span>
                                    <span class="question-mark" ng-if="$root.userCouponsById[line.product.id] && $root.userCouponsById[line.product.id].description">?</span>
                                </div>
                                <div class="data disabled-if-removed">
                                    <div class="coupon-icon" ng-class="{'disabled': line.isCouponActive === false}">
                                        <svg focusable="false" class="icon">
                                            <use xlink:href="#sp-icons-coupon-indication"></use>
                                        </svg>
                                        <span class="audience"
                                              ng-init="special = $root.util.filterProductSpecials(line.product.branch)[0]"
                                              ng-if="special.icons[special.loyaltyClubsIds[0]][$root.config.language.id].description || special.icons[special.loyaltyClubsIds[0]][2].description"
                                              ng-bind="special.icons[special.loyaltyClubsIds[0]][$root.config.language.id].description || special.icons[special.loyaltyClubsIds[0]][2].description">
                                        </span>
                                        <img class="audience"
                                             ng-if="line.product | productMainTag:$root.PermanentFilters.values[$root.PermanentFilters.TYPES.PRODUCT_TAGS]"
                                             ng-src="{{(line.product | productMainTag:$root.PermanentFilters.values[$root.PermanentFilters.TYPES.PRODUCT_TAGS]).languages | name:'iconResourceUrl'}}"
                                             alt="{{(line.product | productMainTag:$root.PermanentFilters.values[$root.PermanentFilters.TYPES.PRODUCT_TAGS]).languages | name:'displayName'}}" />
                                    </div>
                                    <div class="removed-text display-if-removed" ng-bind=":: 'Removed' | translate"></div>
                                    <div class="name" title="{{:: line.product | productName:line.isCase:'long'}}"
                                        ng-bind=":: line.product | productName:line.isCase:'long'" ng-class="{'disabled': line.isCouponActive === false}"></div>
                                    <div ng-if="line.isCouponActive === false"  class="coupon-expired">{{'Expired' | translate}}</div>
                                </div>
                                <button class="add-products"
                                        ng-if="$root.cart.specialReminders.onCoupons[line.product.branch.specials[0].id].showProductsFrom && line.isCouponActive"
                                        ng-class="{link: $root.cart.specialReminders.onCoupons[line.product.branch.specials[0].id].awarded}"
                                        ng-click="$root.util.showCouponDetailsDialog(line.product);">
                                        {{couponReminder = $root.cart.specialReminders.onCoupons[line.product.branch.specials[0].id];""}}
                                    <span ng-if="couponReminder.purchaseType === 1"
                                          ng-bind="(( (couponReminder.remaining === 1 && 'add_unit_cart_coupon') 
                                          || ($root.COUPON_MEANINGLESS_REMAINING_VALUES.includes(couponReminder.remaining) && 'Add Products') 
                                          || 'add_units_cart_coupon')  | translate).replace('{remaining}', couponReminder.remaining)">
                                    </span>
                                    <span ng-if="couponReminder.purchaseType === 2"
                                          ng-bind="('add_currency_cart_coupon' | translate).replace('{remaining}', couponReminder.remaining | currency)">
                                    </span>
                                    <span ng-if="couponReminder.purchaseType === 3"
                                          ng-bind="('add_measure_cart_coupon' | translate).replace('{remaining}', couponReminder.remaining).replace('{unit}', $root.defaultWeightUnit.names[$root.config.language.id])">
                                    </span>
                                    <span ng-if="!couponReminder.purchaseType"
                                          ng-bind="'Add Products' | translate">
                                        </span>
                                </button>
                                <svg ng-if="$root.couponsWithPoints.includes(line.product.id) && !$root.config.retailer.settings.loyaltyPointsIcon">
                                    <use xlink:href="#sp-icons-coupon-coin"></use>
                                </svg>
                                <img ng-if="$root.couponsWithPoints.includes(line.product.id) && $root.config.retailer.settings.loyaltyPointsIcon" ng-src="{{$root.config.retailer.settings.loyaltyPointsIcon}}" />
                            </div>
                        </div>
                    </div>
                    <div ng-if="sideNavCtrl.sortCartByCategories" class="products product-by-category">
                        <div class="product-by-category-outer" ng-repeat="items in sideNavCtrl.sortedCartByTree">
                            <div class="product-by-category-outer-name">
                                {{items[0].type === 3 ? ('Coupons' | translate) : ''}}
                                {{items[0].isPseudo ? items[0].product.categories && items[0].product.categories[0] ? (items[0].product.categories[0].names | name) : ('Unknown' | translate) : (items[0].product.family.categories[0].names | name)}}
                            </div>

                            <div class="product-in-cart" id="sidenav_line_{{line.$key}}"
                                 ng-if="line.type == $root.SP_SERVICES.CART_LINE_TYPES.PRODUCT  || line.type == $root.SP_SERVICES.CART_LINE_TYPES.COUPON || line.type == $root.SP_SERVICES.CART_LINE_TYPES.REGISTER_LOYALTY"
                                 ng-repeat="line in items"
                                 ng-class="{removed: line.removed && !line.isProductOutOfStock, 'out-stock': line.isProductOutOfStock, 'register-loyalty': line.type == $root.SP_SERVICES.CART_LINE_TYPES.REGISTER_LOYALTY, 'focus-in': line._inFocus}"
                                 ng-mouseenter="line._mouseHover = true; sideNavCtrl.toggleProductActions('mouseenter', line.id)"
                                 ng-mouseleave="line._mouseHover = false; sideNavCtrl.toggleProductActions('mouseleave', line.id)"
                                 ng-hide="line.isHideFromCart"
                                 sp-focus-in sp-focus-in-action="line._inFocus"
                                 tabindex="0"
                                 role="presentation"
                                 ng-click="line.type === $root.SP_SERVICES.CART_LINE_TYPES.PRODUCT && line.product && !line.isProductOutOfStock && $root.util.openProduct(line.product)"
                                 aria-label="{{line.product | productName:line.isCase:'short'}}"
                                 ng-init="sideNavCtrl.scrollToAffectedLine(line.id, '.products-scrollable-wrapper')">
                                <button ng-if="!(line.type == $root.SP_SERVICES.CART_LINE_TYPES.DELIVERY)" class="no-design delete hover-action"
                                        ng-click="$root.cart.removeLine(line); $event.stopPropagation();"
                                        ng-hide="sideNavCtrl.ordersService.orderInEdit && line.type == $root.SP_SERVICES.CART_LINE_TYPES.REGISTER_LOYALTY">
                                    <span class="for-vertical-align"></span><!--
                                --><img src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/delete-icon.png"
                                        class="middle remove-icon"
                                        alt="{{('Delete' | translate) + ' ' + (line.product | productName:line.isCase:'short')}}"/><!--
                                --><span class="middle delete-text">{{'Delete' | translate}}</span>
                                </button>

                                <div class="product-wrapper"
                                     ng-if="line.type === $root.SP_SERVICES.CART_LINE_TYPES.PRODUCT || line.type === $root.SP_SERVICES.CART_LINE_TYPES.REGISTER_LOYALTY"
                                     ng-class="{'new-promotion': $root.config.retailer.settings.isNewPromotionDesignEnabled === 'true'}">
                                    <img class="product-main-tag-icon"
                                         ng-if="line.product | productMainTag:$root.PermanentFilters.values[$root.PermanentFilters.TYPES.PRODUCT_TAGS]"
                                         ng-src="{{(line.product | productMainTag:$root.PermanentFilters.values[$root.PermanentFilters.TYPES.PRODUCT_TAGS]).languages | name:'iconResourceUrl'}}"
                                         alt="{{(line.product | productMainTag:$root.PermanentFilters.values[$root.PermanentFilters.TYPES.PRODUCT_TAGS]).languages | name:'displayName'}}"/>

                                    <div class="actions hover-action" ng-if="!line.isProductOutOfStock"
                                         ng-click="$event.stopPropagation();" ng-class="{
                                        'three-chars': (line.quantity.toString()).length == 4,
                                        'four-chars': (line.quantity.toString()).length >= 5
                                    }" ng-mouseenter="line._mouseHover = false;"
                                         ng-mouseleave="line._mouseHover = true;" role="none" tabindex="-1">
                                        <product-actions product="line.product" line="line" hide-cart="true" mode="portrait"></product-actions>
                                    </div>

                                    <div class="product-data disabled-if-removed">
                                        <div class="quantity" ng-class="{
                                        'disabled': line.isProductOutOfStock,
                                        'three-chars': (line.quantity | number:(line.soldBy === 'Weight' || $root.util.isWeightQuantity(line.product) ? 2 : 0)).length == 4,
                                        'four-chars': (line.quantity | number:(line.soldBy === 'Weight' || $root.util.isWeightQuantity(line.product) ? 2 : 0)).length >= 5}">
                                            {{line | cartLineQuantity:null:line.soldBy}}
                                        </div><!--
                                        -->
                                        <sp-unit-weight class="hover-action" product="line.product" cart-line="line" ng-if="line.product.productDisplayModeId === $root.PRODUCT_DISPLAY.WEIGHT_AND_UNIT.id && $root.config.retailer.enableSwitchUnitWeight && $root.util.isUnitsWeighable(line.product)" ng-click="$event.stopPropagation();" product-id="line.product.id"></sp-unit-weight><!--
                                        -->        
                                        <div class="image">
                                            <div ng-if="line.product.productDisplayModeId === $root.PRODUCT_DISPLAY.WEIGHT_AND_UNIT.id && $root.config.retailer.enableSwitchUnitWeight && $root.util.isUnitsWeighable(line.product)" class="hover-action backdrop">
                                            </div>
                                            <span ng-if="line.totalPriceForView !== line.finalPriceForView && !line.removed && !line.isProductOutOfStock && line.type !== $root.SP_SERVICES.CART_LINE_TYPES.COUPON && !line.isPseudo && $root.config.retailer.settings.isNewPromotionDesignEnabled !== 'true'"
                                                class="sale-icon"
                                                ng-class="{'club-icon': sideNavCtrl.checkLineLoyaltyGift(line), 'disabled': line.isProductOutOfStock}">
                                                <img ng-src="{{('https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/' + (sideNavCtrl.checkLineLoyaltyGift(line) ? 'club' : 'sale') + '-icon%translate%.png') | translateImage:{'he': '-hebrew'} }}"
                                                    alt="{{(sideNavCtrl.checkLineLoyaltyGift(line) ? 'club ' : '') + 'sale' | translate}}"/>
                                            </span>
                                            <product-image in-cart-suggestion="true"
                                                           product="line.product" image-url="line.product.image.url"
                                                           is-product-out-of-stock="{{line.isProductOutOfStock}}"
                                                           is-need-to-show-out-of-stock-label="{{line.isNeedToShowOutOfStockLabel}}"
                                                           size="small"></product-image>
                                            <div class="image-wrapper register-loyalty-image">
                                                <div class="image"
                                                     ng-style="{'background-image': 'url(' + ('https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/club-icon%translate%.png' | translateImage:{'he': '-hebrew'}) + ')'}"></div>
                                            </div><!--
                                        -->
                                            <div class="removed-text display-if-removed"
                                                 ng-if="!line.isProductOutOfStock"
                                                 ng-bind=":: 'Removed' | translate"></div>
                                        </div><!--
                                    -->
                                        <div class="data" ng-class="{'disabled': line.isProductOutOfStock}">
                                            <div class="brand">{{line.product.brand.names | name}}</div>
                                            <div class="name" ellipsis
                                                 title="{{(line.product.names | name).short}}">
                                            </div>
                                            <div class="weight">
                                            <span ng-if="(line.soldBy === $root.PRODUCT_DISPLAY.UNIT.name && $root.util.isUnitsWeighable(line.product)) || (!line.soldBy && $root.util.isUnitsWeighable(line.product)) && !line.isCase">
                                                {{('Est. total weight' | translate) + ' ' + (line.product | productWeight:line.isCase:null:line.quantity:line.soldBy)
                                                }}
                                            </span>
                                                <span ng-if="!line.soldBy && line.product.weight && !$root.util.isUnitsWeighable(line.product)">
                                                {{line.product | productWeight:line.isCase}}
                                            </span>
                                            </div>
                                        </div>
                                        <sp-product-price class="reverse-text-align"
                                                          regular-price="line.removed ? (line.product | regularPrice: line.isCase) : line.totalPriceForView"
                                                          sale-price="line.removed ? (line.product | salePrice: line.isCase) : line.finalPriceForView"
                                                          product="line.removed && line.product"
                                                          type="line.type"
                                                          ng-class="{'disabled': line.isProductOutOfStock}"
                                                          hide-normalize-price="true"

                                                          show-disclaimer-on-cart-pages="$root.config.retailer.settings.showPriceWithoutBottleDeposit">
                                        </sp-product-price>
                                        <sp-promotion product="line.product" is-cart="true" ng-if="$root.util.filterProductSpecials(line.product.branch).length && $root.config.retailer.settings.isNewPromotionDesignEnabled === 'true'"></sp-promotion>
                                    </div>
                                    <sp-cart-line-comments sp-line="line"
                                                           sp-hide="line.removed || line.isProductOutOfStock || (!line._mouseHover && !line._inFocus) || (line.type && line.type !== $root.SP_SERVICES.CART_LINE_TYPES.PRODUCT)"
                                                           show-product-property="true">

                                    </sp-cart-line-comments>
                                </div>

                                <div class="coupon-wrapper"
                                     ng-if="line.type === $root.SP_SERVICES.CART_LINE_TYPES.COUPON">
                                    <product-actions class="display-if-removed hover-action" product="line.product" line="line" hide-cart="true" mode="portrait"></product-actions>
                                    <div class="error" ng-class="{'disabled': line.isCouponActive === false}"
                                         ng-mouseover="sideNavCtrl.setErrorTooltipPosition($event, 90)" ng-focus="sideNavCtrl.setErrorTooltipPosition($event, 90)"
                                         ng-mouseleave="sideNavCtrl.errorTooltipStyle = {}" ng-blur="sideNavCtrl.errorTooltipStyle = {}"
                                         ng-if="$root.cart.specialReminders.onCoupons[line.product.branch.specials[0].id] && !$root.cart.specialReminders.onCoupons[line.product.branch.specials[0].id].awarded">
                                        <div class="error-tooltip"
                                             ng-style="sideNavCtrl.errorTooltipStyle"
                                             ng-if="$root.userCouponsById[line.product.id] && $root.userCouponsById[line.product.id].description">
                                            <div class="title">{{$root.userCouponsById[line.product.id].couponName || $root.userCouponsById[line.product.id].localName}}</div>
                                            <div class="description">{{$root.userCouponsById[line.product.id].description}}</div>
                                        </div>
                                        <span class="text" ng-bind="::('coupon_requirements_error' | translate)"></span>
                                        <span class="question-mark" ng-if="$root.userCouponsById[line.product.id] && $root.userCouponsById[line.product.id].description">?</span>
                                    </div>
                                    <div class="data disabled-if-removed">
                                        <div class="removed-text display-if-removed"
                                             ng-bind=":: 'Removed' | translate"></div>
                                        <div class="coupon-icon" ng-class="{'disabled': line.isCouponActive === false}">
                                            <svg focusable="false" class="icon">
                                                <use xlink:href="#sp-icons-coupon-indication"></use>
                                            </svg>
                                            <span class="audience"
                                                  ng-init="special = $root.util.filterProductSpecials(line.product.branch)[0]"
                                                  ng-if="special.icons[special.loyaltyClubsIds[0]][$root.config.language.id].description || special.icons[special.loyaltyClubsIds[0]][2].description"
                                                  ng-bind="special.icons[special.loyaltyClubsIds[0]][$root.config.language.id].description || special.icons[special.loyaltyClubsIds[0]][2].description">
                                            </span>
                                            <img class="audience"
                                                 ng-if="line.product | productMainTag:$root.PermanentFilters.values[$root.PermanentFilters.TYPES.PRODUCT_TAGS]"
                                                 ng-src="{{(line.product | productMainTag:$root.PermanentFilters.values[$root.PermanentFilters.TYPES.PRODUCT_TAGS]).languages | name:'iconResourceUrl'}}"
                                                 alt="{{(line.product | productMainTag:$root.PermanentFilters.values[$root.PermanentFilters.TYPES.PRODUCT_TAGS]).languages | name:'displayName'}}" />
                                        </div>
                                        <div class="name" title="{{:: line.product | productName:line.isCase:'long'}}"
                                             ng-bind=":: line.product | productName:line.isCase:'long'"
                                             ng-class="{'disabled': line.isCouponActive === false}"></div>
                                        <div ng-if="line.isCouponActive === false" class="coupon-expired">
                                            {{'Expired' | translate}}
                                        </div>
                                    </div>
                                    <button ng-if="$root.cart.specialReminders.onCoupons[line.product.branch.specials[0].id].showProductsFrom && line.isCouponActive"
                                            class="add-products" ng-class="{link: $root.cart.specialReminders.onCoupons[line.product.branch.specials[0].id].awarded}"
                                            ng-click="$root.util.showCouponDetailsDialog(line.product);">
                                            {{couponReminder = $root.cart.specialReminders.onCoupons[line.product.branch.specials[0].id];""}}
                                        <span ng-if="$root.cart.specialReminders.onCoupons[line.product.branch.specials[0].id].purchaseType === 1"
                                              ng-bind="(( (couponReminder.remaining === 1 && 'add_unit_cart_coupon') 
                                              || ($root.COUPON_MEANINGLESS_REMAINING_VALUES.includes(couponReminder.remaining) && 'Add Products') 
                                              || 'add_units_cart_coupon')  | translate).replace('{remaining}', couponReminder.remaining)">
                                        </span>
                                        
                                        <span ng-if="$root.cart.specialReminders.onCoupons[line.product.branch.specials[0].id].purchaseType === 2"
                                              ng-bind="('add_currency_cart_coupon' | translate).replace('{remaining}', $root.cart.specialReminders.onCoupons[line.product.branch.specials[0].id].remaining | currency)">
                                        </span>
                                        <span ng-if="$root.cart.specialReminders.onCoupons[line.product.branch.specials[0].id].purchaseType === 3"
                                              ng-bind="('add_measure_cart_coupon' | translate).replace('{remaining}', $root.cart.specialReminders.onCoupons[line.product.branch.specials[0].id].remaining).replace('{unit}', $root.defaultWeightUnit.names[$root.config.language.id])">
                                        </span>
                                        <span ng-if="!$root.cart.specialReminders.onCoupons[line.product.branch.specials[0].id].purchaseType"
                                              ng-bind="'Add Products' | translate">
                                        </span>
                                    </button>
                                    <svg ng-if="$root.couponsWithPoints.includes(line.product.id) && !$root.config.retailer.settings.loyaltyPointsIcon">
                                        <use xlink:href="#sp-icons-coupon-coin"></use>
                                    </svg>
                                    <img ng-if="$root.couponsWithPoints.includes(line.product.id) && $root.config.retailer.settings.loyaltyPointsIcon" ng-src="{{$root.config.retailer.settings.loyaltyPointsIcon}}" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="special-reminders" ng-class="sideNavCtrl.isSpecialRemindersExpanded ? 'expanded' : 'collapse'">
                        <div ng-repeat="(specialId, specialData) in $root.cart.specialReminders.inCart track by specialId"
                             ng-if="!specialData.isUsedRemainder"
                             class="special-reminder-wrapper" sp-in-view-watcher>
                            <div class="special-reminder">
                                <img ng-src="{{('https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/sale-icon%translate%.png') | translateImage:{'he': '-hebrew'} }}"
                                     alt="{{'sale' | translate}}" ng-if="!specialData.awarded || specialData.showProductsFrom"/>
                                <svg focusable="false" class="awarded-icon" role="img" ng-if="specialData.awarded && !specialData.showProductsFrom">
                                    <use xlink:href="#sp-icons-done"></use>
                                </svg>
                                <div class="data">
                                    <div class="bold" ng-bind="(specialData.awarded ? (specialData.showProductsFrom ? 'Select your benefit' : 'special_reminder_awarded_bubble_title') : 'special_reminder_bubble_title') | translate"></div>
                                    <div ng-bind="specialData.names && specialData.names[$root.config.language.culture] ? specialData.names[$root.config.language.culture] : specialData.description"></div>
                                </div>
                                <button ng-if="specialData.showProductsFrom" ng-bind=":: 'Select' | translate" class="highlight"
                                        ng-click="$root.util.showSpecialDetailsDialog(specialId, specialData.showProductsFrom);"></button>
                            </div>
                        </div>
                        <button class="no-design" ng-click="sideNavCtrl.toggleSpecialReminders();"
                                ng-bind="('Show ' + (sideNavCtrl.isSpecialRemindersExpanded ? 'Less' : 'More') + ' Specials') | translate"
                                ng-if="sideNavCtrl.specialRemindersLength > 1"></button>
                    </div>
                </section>

                <section class="orders-history">
                    <h4>{{'Choose Order' | translate}}</h4>
                    <sp-carousel ng-show="sideNavCtrl.ordersHistoryCarouselArray.length" class="orders-history"
                                 items="sideNavCtrl.ordersHistoryCarouselArray"
                                 load-more-items="sideNavCtrl.ordersHistoryCarouselLoadMore" shown-size="2"
                                 template-url="template/views/sidenav/partials/order-carousel/index.html"
                                 functions="sideNavCtrl.ordersHistoryCrouselFunctions" data="{order: sideNavCtrl.historyOrder}"></sp-carousel>
                </section>
            </div>
        </div>

        <footer>
            <div class="loading-wrapper">
                <img src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/loading-line.gif" alt="{{'Loading' | translate}}"/>
            </div>
            <button ng-if="!sideNavCtrl.ordersService.orderInEdit.id" class="no-design disabled-opacity orders-history-button" ng-click="sideNavCtrl.toggleOrdersHistory()">
                <span>{{(sideNavCtrl.ordersHistoryOpen ? 'Hide' : 'Show') + ' previous orders' | translate}}</span>
                <img src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/icon-arrow-close-grey.png"/>
            </button>

            <div class="you-save credit-customer" ng-if="$root.isCreditCustomer">
                <span class="wallet-icon">
                    <svg focusable="false">
                        <use xlink:href="" ng-attr-xlink:href="{{'#sp-icons-wallet'}}"></use>
                    </svg>
                </span>
                <span class="text">{{'Remaining Credit' | translate}}:</span>
                <span class="price" ng-class="{'not-enough': $root.creditCustomerRemainingSum < $root.cart.total.finalPriceForView }">{{$root.creditCustomerRemainingSum | currency:' '}}</span>
            </div>

            <div class="you-save" ng-if="!$root.isCreditCustomer">
                <span class="sale-icon">
                    <img ng-src="{{('https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/sale-icon%translate%.png') | translateImage:{'he': '-hebrew'} }}"
                         alt="{{'sale' | translate}}"/>
                </span>
                <span class="text">{{'You save' | translate}}:</span>
                <span class="price" ng-class="{'has-value': $root.cart.total.giftsForView}">{{$root.cart.total.giftsForView | currency}}</span>
            </div>
            <div class="you-save" ng-if="$root.cart.total.colleagueForView">
                <span>
                    <span class="text">{{'Est. employee savings' | translate}}:</span>
                    <span class="price">{{$root.cart.total.colleagueForView | currency}}</span>
                </span>
            </div>

            <div class="you-save club-savings"
                 ng-if="$root.config.retailer.loyaltyClubDriver.isActive && $root.cart.total.clubsGiftsForView && !$root.isCreditCustomer">
                <span class="sale-icon">
                    <img ng-src="{{('https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/club-icon%translate%.png') | translateImage:{'he': '-hebrew'} }}"
                         alt="{{'club' | translate}}"/>
                </span>
                <span class="text">{{'Membership savings' | translate}}:</span>
                <span class="price" ng-class="{'has-value': $root.cart.total.clubsGiftsForView}">
                    {{$root.cart.total.clubsGiftsForView | currency}}
                </span>
            </div>

            <div class="you-save club-savings"
                 ng-if="$root.config.retailer.loyaltyClubDriver.isActive && !$root.cart.total.clubsGiftsForView && !sideNavCtrl.userData.loyaltyClubCardId && $root.cart.total.simulateClubsGiftsForView && !$root.isCreditCustomer">
                <span class="sale-icon">
                    <img ng-src="{{('https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/club-icon%translate%.png') | translateImage:{'he': '-hebrew'} }}"
                    alt="{{'club' | translate}}"/>
                </span>
                <span class="text">{{'Could save' | translate}}:</span>
                <span class="price" ng-class="{'has-value': $root.cart.total.simulateClubsGiftsForView}">
                    {{$root.cart.total.simulateClubsGiftsForView | currency}}</span>

                <span ng-if="$root.config.retailer.loyaltyClubDriver.isActive && !$root.cart.total.clubsGiftsForView && !sideNavCtrl.userData.loyaltyClubCardId && $root.cart.total.simulateClubsGiftsForView && !$root.isCreditCustomer"
                      class="join-or-connect" ui-sref="app.userEdit.{{$root.config.retailer.loyaltyClubDriver.clientConfig.extendedLoyaltyClub ? 'extendedLoyalty' : 'loyalty'}}"
                      ng-bind="::'Connect' | translate"></span>
            </div>

            <div class="you-save club-savings multipass-discount" ng-if="!$root.isCreditCustomer && $root.cart.total.multiPassGift">
                <span class="text">{{'Estimated employee savings' | translate}}:</span>
                <span class="price">{{$root.cart.total.multiPassGift | currency}}</span>
            </div>
            
            <div class="have-point" id="loyalty-point" ng-if="!sideNavCtrl.isAccumulatedPointsDriver && sideNavCtrl.moneyToPoint && $root.config.retailer.loyaltyClubDriver.isActive && sideNavCtrl.loyaltyClubClientConfig && sideNavCtrl.loyaltyClubClientConfig.loyaltyPages.accumulatedPointElementInCartComponent.isActive"
                ng-style="{'background-color': (sideNavCtrl.loyaltyClubClientConfig.loyaltyPages.accumulatedPointElementInCartComponent.backgroundColor || '#fff'), 'border-color': (sideNavCtrl.loyaltyClubClientConfig.loyaltyPages.accumulatedPointElementInCartComponent.backgroundColor || '#fff')}">
                <span class="point-icon">
                    <img ng-src="{{sideNavCtrl.loyaltyClubClientConfig.loyaltyPages.visibility.clubPointIcon}}"
                        alt="{{'club' | translate}}" ng-if="sideNavCtrl.loyaltyClubClientConfig.loyaltyPages.visibility.clubPointIcon"  />
                </span><!--
                        --><span class="text"
                    ng-style="{'color': sideNavCtrl.loyaltyClubClientConfig.loyaltyPages.accumulatedPointElementInCartComponent.textColor}">{{sideNavCtrl.loyaltyClubClientConfig.loyaltyPages.accumulatedPointElementInCartComponent.textNames[$root.config.language.culture] | translate}}</span>
                <span class="point-container">
                    <span class="point">{{sideNavCtrl.moneyToPoint}}</span>
                    <span ng-if="sideNavCtrl.loyaltyClubClientConfig.loyaltyPages.visibility.tex[$root.config.language.culture]">{{sideNavCtrl.loyaltyClubClientConfig.loyaltyPages.visibility.tex[$root.config.language.culture]}}</span>
                    <span ng-if="!sideNavCtrl.loyaltyClubClientConfig.loyaltyPages.visibility.tex[$root.config.language.culture]">{{'points' | translate}}</span>
                </span>
            </div>

            <div class="have-point" ng-if="sideNavCtrl.isAccumulatedPointsDriver"
                 ng-style="{'background-color': (sideNavCtrl.accumulatedPointsBgColor || '#fff'), 'border-color': (sideNavCtrl.accumulatedPointsBgColor || '#fff')}">
                <span class="point-icon">
                    <img ng-src="{{sideNavCtrl.clubPointIcon}}"
                         alt="{{'club' | translate}}" ng-if="sideNavCtrl.clubPointIcon"/>
                </span>
                <span class="text"
                   ng-style="{'color': sideNavCtrl.accumulatedPointsTextColor}">
                    {{sideNavCtrl.componentPointsText}}
                </span>
                <span class="point-container">
                    <span class="point">{{sideNavCtrl.moneyToPoint}}</span>
                    <span>{{sideNavCtrl.accumulatedPointsUnit}}</span>
                </span>
            </div>

            <button ng-click="sideNavCtrl.checkoutV2(); $root.config.retailer.promotion.popupOnCartSummary && $root.util.openPromotionDialog();" class="checkout disabled-opacity no-design small-font"
               ng-disabled="!$root.cart.total.actualLines || sideNavCtrl.disableUpdateOrder">
                <span>
                    <img ng-if="sideNavCtrl.ordersService.orderInEdit" src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/circle-arrow.png" alt=""/>
                    <span>
                        {{(!sideNavCtrl.ordersService.orderInEdit ? 'Checkout' : 'Update Order') | translate}}
                        &nbsp;
                        <span class="price">{{$root.config.retailer.settings.includeDeliveryFeeInCart === 'true' && !sideNavCtrl.isEmptyObjectWithDelivery($root.cart.lines) &&
                            sideNavCtrl.deliveryCheckoutOrServiceFee ? ($root.cart.total.finalPriceForViewWithDeliveryFee || sideNavCtrl.finalPriceForViewWithDeliveryFee | currency) :
                            ($root.cart.total.finalPriceForView | currency)}}</span>
                        <span ng-if="$root.config.retailer.settings.includeDeliveryFeeInCart === 'true' && !sideNavCtrl.isEmptyObjectWithDelivery($root.cart.lines) &&
                        $root.config.getBranchArea().deliveryTypeId && $root.config.deliveryAreaPrice" class="delivery-info">{{'includes_delivery_type_' + $root.config.getBranchArea().deliveryTypeId + '_fee' | translate}}</span>
                    </span>
                </span>
            </button>

            <button ng-click="$root.util.openEditOrderDialog('TIMESLOT', false, sideNavCtrl.ordersService.orderInEdit.id);" class="checkout invert-color disabled-opacity no-design small-font"
               ng-if="$root.util.isEnableUpdateTimeSlot()" 
               ng-disabled="!sideNavCtrl.isCanUpdateTimeSlot(sideNavCtrl.ordersService.orderInEdit)">
                <span>
                    <!-- <img ng-if="sideNavCtrl.ordersService.orderInEdit" src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/circle-arrow.png" alt=""/> -->
                    <span>
                        {{(sideNavCtrl.ordersService.orderInEdit.branchDeliveryTypeId === $root.SP_SERVICES.DELIVERY_TYPES.PICKUP ?
							'Save & Change Pickup Time' : 'Save & Change Delivery Time') | translate}}
                        &nbsp;
                    </span>
                </span>
            </button>
        </footer>
    </nav>

    <nav class="order-history-wrapper" ng-class="{'open': sideNavCtrl.orderHistoryOpen, 'half-open': sideNavCtrl.orderHistoryHalfOpen}">
        <div ng-class="{'shown': !sideNavCtrl.historyOrder}" class="loading-wrapper">
            <span class="for-vertical-align"></span><!--
            --><img src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/loading.gif" alt="{{'Loading' | translate}}"/>
        </div>
        <div class="order-history" ng-if="!!sideNavCtrl.historyOrder">
            <header class="nav-header secondary-font">
                <span class="for-vertical-align"></span>
                <button class="no-design close" ng-click="sideNavCtrl.closeOrderHistory();"></button>
                <div class="data">
                    <div class="date">{{sideNavCtrl.historyOrder.timePlaced | date:($root.config.isUs ? 'MM.dd.yyyy' : 'dd.MM.yyyy'):'UTC'}}</div>
                    <div class="total">{{sideNavCtrl.historyOrderCheckedLinesTotal}} {{'items' | translate}}</div>
                </div>
            </header>

            <section class="actions reverse-text-align" ng-if="!$root.util.isOrderEditable(sideNavCtrl.historyOrder)">
                <button class="left check-all no-design" ng-click="sideNavCtrl.checkAllHistoryOrderLines(true);" ng-if="!sideNavCtrl.historyOrderCheckedLinesTotal">
                    {{'Check all' | translate}}
                </button>
                <button class="left uncheck-all no-design" ng-click="sideNavCtrl.checkAllHistoryOrderLines(false);" ng-if="sideNavCtrl.historyOrderCheckedLinesTotal">
                    {{'Uncheck all' | translate}}
                </button>
                <sp-arrows-button color="grey" label="{{('Add' | translate) + ' ' + sideNavCtrl.historyOrderCheckedLinesTotal + ' ' + ('items' | translate)}}"
                                 ng-click="sideNavCtrl.addCheckedHistoryOrderLines();" ng-disabled="!sideNavCtrl.historyOrderCheckedLinesTotal"></sp-arrows-button>
            </section>
            <section class="actions reverse-text-align" ng-if="$root.util.isOrderEditable(sideNavCtrl.historyOrder)"><!--
                --><span class="for-vertical-align"></span><!--
                --><sp-arrows-button color="grey" label="{{'Edit order' | translate}}" ng-click="$root.util.editOrder(sideNavCtrl.historyOrder.id, { isFromCart: true } );"></sp-arrows-button><!--
            --></section>

            <div class="content-wrapper" 
            ng-class="{
                'small': $root.cart.total.giftsForView,
                'time-slot': $root.util.isEnableUpdateTimeSlot()
                }">
                <section class="content products">
                    <div class="product-in-cart" ng-repeat="line in sideNavCtrl.historyOrder.lines track by line.id">
                        <div class="product-wrapper">
                            <div class="product-data" ng-click="!line.isProductOutOfStock && sideNavCtrl.openOrderProduct(line)">
                                <span class="for-vertical-align"></span><!--
                                --><span ng-click="$event.stopPropagation()" ng-class="{'disabled': line.isProductOutOfStock}">
                                    <sp-checkbox ng-if="line.product" sp-model="line.checked" sp-change="sideNavCtrl.onCheckHistoryOrderLine(line);"></sp-checkbox>
                                    <div class="disabled-checkbox" ng-if="!line.product"></div>
                                </span><!--
                            --><product-image in-cart-suggestion="true" product="line.product" image-key="images" size="small" is-product-out-of-stock="{{line.isProductOutOfStock}}" is-need-to-show-out-of-stock-label="{{line.isNeedToShowOutOfStockLabel}}"></product-image><!--
                            --><div class="data" ng-class="{'disabled': line.isProductOutOfStock}">
                                <div class="brand-and-weight" ellipsis title="{{line.product.brand.names && (line.product.brand.names | name)}}{{line.product.brand.names && line.product.weight ? ' | ' : '' }}{{line.product.weight && (line.product | productWeight:line.isCase)}}"></div>
                                <div class="name">{{(line.product.names | name).short || line.name}}</div>
                                <div class="price">
                                    <sp-product-price
                                        regular-price="line.product ? (line.product | regularPrice:line.isCase) : line.regularPrice"
                                        sale-price="line.product && !line.isCase && (line.product | salePrice)"
                                        product="line.product"
                                        hide-normalize-price="true"
                                        show-disclaimer-on-cart-pages="$root.config.retailer.settings.showPriceWithoutBottleDeposit">
                                    </sp-product-price>
                                </div>
                            </div><!--
                            --><sp-arrows-button ng-if="line.product && !(line.isProductOutOfStock || $root.cart.isSuggestionsActive(line))" color="white" ng-click="sideNavCtrl.addHistoryOrderLine(line); $event.stopPropagation();"></sp-arrows-button><!--
                            --><img class="fold" ng-if="!line.isProductOutOfStock" src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/order-line-fold.png" alt=""/>
                        </div>
                        <sp-cart-line-comments sp-line="line"
                                                sp-hide="line.removed || line.isProductOutOfStock || (!line._mouseHover && !line._inFocus) || (line.type && line.type !== $root.SP_SERVICES.CART_LINE_TYPES.PRODUCT)"
                                                show-product-property="true" sp-readonly-comments="true">
                        </sp-cart-line-comments>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </nav>
</div>
