$margin: 1em;
$sideNavDistanceFromHeader: 0.6em;
$sideNavHeaderHeight: 4.3em;
$sideNavNextDeliveryHeight: 3.5em;
$sideNavFooterHeight: 9em;
$youSaveInFooterHeight: 1.5em;
$loadingWrapperHeight: 1em;
$orderHistoryHeaderHeight: 2.375em;
$orderHistoryFooterHeight: 1.5em;
$orderHistorySectionPadding: 0.7em;
$sideNavBackgroundColor: #F3F3F3;
$nextDeliveryHorizontalPadding: 0.5em;

$deleteButtonPosition: 0.5em;
$productDataPadding: 0.5em;
$productActionsMarginLeft: $productDataPadding / 2;
$productActionsPosition: 3.5%;
$nextDeliveryMoreSlotPaddingLeftLtr: 2.6em;
$nextDeliveryBorder: 1px solid #acacac;
$nextDeliveryMoreSlotPaddingRightRtl: 3.7em;

$hubShoppingCartPadding: 4.45em;

html {
  &.rtl .delivery-fee .price {
    float: left !important;
  }
}

html {
  .product-in-cart {
    position: relative;
    border-bottom: 1px solid #E7E7E7;
    background-color: #ffffff;
    box-sizing: border-box;

    .bottle-deposit-disclaimer {
      position: unset;
      margin-bottom: .2em;

      &-content {
        top: 57%;
        right: 1.5em;
      }
    }

    .hover-action {
      opacity: 0;
      transition: 0.2s;
    }

    &:hover, &.focus-in {
      .hover-action {
        opacity: 1;
      }
    }

    .display-if-removed {
      display: none;
    }

    div.removed-text {
      position: absolute;
      top: 50%;
      $height: 1.5em;
      height: $height;
      line-height: $height;
      padding: 0;
      box-sizing: border-box;
      text-align: center;
      margin-top: -0.75em;
      color: #ffffff;
      font-weight: bold;
      font-size: 0.75em;
      white-space: nowrap;
      border-radius: 1px;
      background-color: #adadad;
    }

    &.removed {
      > button.delete {
        width: auto;
        color: #ffffff;
        font-weight: bold;
        font-size: 0.9em;

        > .delete-text {
          display: inline-block;
        }

        > img.remove-icon {
          display: none;
        }
      }

      .disabled-if-removed {
        opacity: 0.35;
      }

      .display-if-removed {
        display: block;
      }
    }


    &.out-stock {
      > button.delete {
        width: auto;
        color: #ffffff;
        font-weight: bold;
        font-size: 0.9em;

        > .delete-text {
          display: inline-block;
        }

        > img.remove-icon {
          display: none;
        }
      }
    }

    > button.delete {
      position: absolute;
      z-index: 1;
      top: $deleteButtonPosition;
      right: $deleteButtonPosition;
      background-color: #ce0a0a;
      width: 2em;
      height: 2em;
      text-align: center;
      padding: 0 0.5em;
      border-radius: 5px;

      > .delete-text {
        display: none;
      }

      > img.remove-icon {
        opacity: 0.8;
      }

      &:hover, &:focus {
        > img.remove-icon {
          @include opacity(1);
        }
      }
    }

    > .product-wrapper {
      position: relative;

      > .actions {
        > .product-actions {
          position: absolute;
          z-index: 1;
          top: 5%;
          left: $productActionsPosition;
          margin-left: $productActionsMarginLeft;
          height: 90%;
          width: 10%;
          padding: 0;
        }

        &.three-chars .product-actions > .sp-quantity > .btns-row input {
          font-size: 0.9em;
        }

        &.four-chars > .product-actions > .sp-quantity > .btns-row input {
          font-size: 0.7em;
        }
      }

      > .product-data {
        height: 4.5em;
        padding: $productDataPadding;
        display: flex;
        align-items: center;

        > * {
          display: inline-block;
          vertical-align: middle;
          overflow: hidden;
          box-sizing: border-box;
          color: #606060;
        }

        > .quantity {
          text-align: center;
          width: 14.5%;
          font-weight: 700;
          height: auto;

          &.three-chars {
            font-size: 0.6em;
          }

          &.four-chars {
            font-size: 0.7em;
          }
        }

        > .sp-unit-weight {
          position: absolute;
          font-size: 0.6em;
          left: 20%;
          top: 90%;
          z-index: 2;
          transform: translate(-20%, -90%);
          > .weight-option,
          > .unit-option {
            min-width: 30px;
            padding: 4px 8px;
          }
        }

        > .image {
          height: 100%;
          width: 25%;
          margin: 0 1%;
          overflow: visible;
          position: relative;

          > .backdrop {
            position: absolute;
            left: 0;
            top: 0;
            z-index: 1;
            width: 100%;
            height: 100%;
            background-color: rgba(255, 255, 255, 0.7);
          }

          > .sale-icon {
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            height: 1.4em;
            width: 1.4em;

            > img {
              display: inline-block;
              vertical-align: middle;
              height: 100%;
              width: 100%;
            }
          }

          > .image-wrapper.register-loyalty-image {
            display: none;
          }

          > div.removed-text {
            width: 100%;
          }
        }

        > .data {
          width: 45%;
          height: 100%;

          > .brand, > .weight, > .brand-and-weight, > .price {
            color: #adadad;
            padding: 0.5em 0;
            font-size: 0.688em;
            height: 1em;
          }

          > .name {
            color: #737373;
            font-size: 0.813em;
            min-height: 2.2em;
          }
        }

        > .sp-product-price {
          vertical-align: bottom;
          font-size: 0.84em;
          width: 26%;
          align-self: end;
        }

        .disabled {
          opacity: 0.35;
          pointer-events: none;
        }

        .out-of-stock {
          position: absolute;
          top: 50%;
          height: 1.5em;
          line-height: 1.5em;
          padding: 0 0.4em;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          text-align: center;
          margin-top: -0.75em;
          color: #ffffff;
          font-size: 0.6em;
          white-space: nowrap;
          background-color: #F86B2F;
          width: auto;
          left: 50%;
          transform: translateX(-50%);
        }
      }

      > .cart-line-comments-wrapper {
        position: relative;
        margin-left: 7.3em;

        > .cart-line-property {
          padding: 0.25em 0;
          font-size: 0.8em;
        }

        > .cart-line-comments-input-wrapper {
          height: 0;

          > .cart-line-comments-input {
            position: absolute;
            z-index: 1;
            bottom: 0.5em;
            font-size: 0.7em;
            left: 3.5em;
            border: 1px solid #b7b7b7;
            width: 10em;
            background-color: #ffffff;
            padding: 0.3em 1em 0.3em 0.3em;
            @include border-radius(3px);
            color: #000000;
          }
        }

        &.has-cart-line-comments {
          padding: 0.25em 0;
          border-top: 1px solid #e7e7e7;

          > .cart-line-comments-input-wrapper {
            height: auto;
            padding: 0.25em 0;

            > .cart-line-comments-input {
              position: static;
              width: 95%;
            }
          }

          > .cart-line-comments {
            padding: 0.25em 0;
          }
        }

        > .cart-line-comments {
          $fontSize: 0.7em;
          font-size: $fontSize;
          line-height: 2 * $fontSize;
          width: 95%;
        }
      }

      &.new-promotion {
        > .product-data > .sp-promotion {
          width: fit-content;

          > .promotion-tag,
          > .save {
            position: absolute;
            bottom: 0.5em;
            left: 15%;
            width: 21%;
            padding: 0.3em 0.25em;
            border-radius: 0.5em;

            &.small {
              padding: 0.3em 0.25em;
            }
          }

          > .save.small {
            bottom: 2.5em;
          }
        }

        > .cart-line-comments-wrapper > .cart-line-comments {
          width: 90%;
          margin: 0 5%;
        }
      }
    }

    &.register-loyalty {
      > .product-wrapper > .product-data > .image > .image-wrapper {
        display: none;

        &.register-loyalty-image {
          display: block;
        }
      }
    }

    > .coupon-wrapper {
      display: flex;
      grid-column-gap: 0.5em;
      border: 1px dashed;
      min-height: 3em;
      padding: 0.5em;
      flex-direction: column;
      flex-wrap: wrap;

      .disabled {
        opacity: 0.35;
        pointer-events: none;
      }

      .coupon-expired {
        height: auto;
        line-height: 1.5em;
        padding: 0 0.4em;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        text-align: center;
        margin-top: -0.25em;
        color: #ffffff;
        font-size: 0.75em;
        white-space: nowrap;
        background-color: #F86B2F;
        width: fit-content;
      }

      > div.product-actions {
        position: absolute;
        z-index: 1;
        $margin: 0.25em;
        top: $margin;
        bottom: $margin;
        margin: 0 $margin;
        left: $productActionsPosition;
        width: 2em;
      }

      > div.error {
        color: #d6353a;
        font-weight: 700;
        padding-right: 2em;
        white-space: nowrap;
        font-size: 0.8125em;
        margin: 0 0.5em;

        .question-mark {
          border: 1px solid;
          border-radius: 100%;
          padding: 0 0.24em;
          font-size: 0.9em;
        }

        .error-tooltip {
          position: fixed;
          bottom: 93%;
          background-color: #ffffff;
          display: none;
          z-index: 10;
          width: 85%;

          .title {
            font-size: 1.35em;
            background-color: #ffebeb;
            padding: 0.7em;
            line-height: 1.2em;
          }

          .description {
            color: #787878;
            font-weight: 400;
            padding: 1em;
            line-height: 1.2em;
            background-color: #ffffff;
            box-shadow: 0 4px 0.3em 0 rgba(0, 0, 0, 0.36);
          }

          > * {
            white-space: break-spaces;
          }
        }

        &:hover {
          .error-tooltip {
            display: block;
          }
        }
      }

      > div.data {
        flex: 1 1 auto;
        display: flex;
        flex-direction: row;
        grid-row-gap: 0.5em;
        font-size: 0.8125em;
        min-width: 0;
        position: relative;
        align-items: center;

        > div.coupon-icon {
          position: relative;
          flex: 0 0 auto;

          > .audience {
            position: absolute;
            top: 0.25em;
            left: -0.5em;
            font-size: 12px;
            border-radius: 4px;
            border: 1px solid;

            color: #ffffff;
          }

          > span.audience {
            padding: 0.25em;
          }

          > img.audience {
            height: 1.5em;
            margin: 0;
          }

          > svg.icon {
            width: 2.5em;
            height: 2.5em;
            margin: 0.5em;
          }
        }

        > div.removed-text {
          $width: 5em;
          width: $width;
          left: 50%;
          margin-left: -$width / 2;
          font-size: 1em;
        }

        > div.name {
          overflow: hidden;
          padding-right: 2em;
          line-height: 1.1em;
        }

        > button {
          min-height: 1.5em;
          align-self: flex-end;
          font-weight: 700;
          padding: 0 0.5em;

          &.link {
            background: transparent !important;
            color: #a3a3a3;
            text-decoration: underline;
            padding: 0.5em 0 0;
          }
        }
      }

      > button.add-products {
        min-height: 1.5em;
        align-self: flex-end;
        font-weight: 700;
        padding: 0 0.5em;
        font-size: 0.8125em;
        margin-left: auto;

        &.link {
          background: transparent !important;
          color: #a3a3a3;
          text-decoration: underline;
          padding: 0;
        }
      }

      > svg,
      > img {
        width: 1.5em;
        height: 1.5em;
        position: absolute;
        top: 0.5em;
        right: 0.5em;
        align-self: normal;
      }
    }
  }

  .product-by-category {

    &-outer {
      &-name {
        text-align: center;
        font-weight: 500;
        padding: 5px 0;
        background-color: #D2D2D3;
      }


      .product-in-cart .product-data > .sp-product-price {
        width: 22%;
      }
    }
  }

  .delivery-fee {
    border-bottom: 1px solid #e7e7e7;
    padding: 1em 0.5em;
    margin-top: 0.5em;
    background-color: white;
    cursor: pointer;

    .label {
      padding-left: 1em;
      color: #636363;
    }

    .price {
      float: right;
      font-weight: 700;
      color: #505050 !important;
      font-size: small;
    }
  }

  .delivery-fee-explain {
    display: none;
    z-index: 4;
    position: fixed;
    max-width: 78.5%;
    padding: 1em 1.5em;
    background-color: white;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.16);
    font-weight: 300;
    line-height: 105.19%;
    color: #78797A;
  }

  .delivery-item:hover {
    .delivery-fee-explain {
      display: block;
    }
  }

  .delivery-info {
    font-size: small;
    font-weight: 300;

    span {
      text-transform: lowercase;
    }
  }

  .small-font {
    font-size: 91%;

    .delivery-info {
      font-size: smaller;
    }
  }

  .delivery-fee-row {
    height: 2.5em;
    border-top: 1px solid #EBEBEB;

    td {
      vertical-align: middle !important;
      padding: 0.3em 0.2em;
    }

    .img {
      width: 4em;
      padding: 0.2em 1em;
      height: 100%;
    }

    .label {
      display: flex;
      padding-left: 0.2em !important;
      line-height: 1.8em;
    }

    .label div {
      display: inline-block;
    }
  }

  .delivery-fee-row .price {
    font-size: 100% !important;
  }

  .total-price {
    padding-left: 0.2em !important;

    .price {
      text-align: left !important;
      float: none;
    }
  }


  div.sidenav {
    box-sizing: border-box;

    height: 100%;
    width: $sidenavWidth;
    
    @include fixed();

    z-index: 10;
    top: $headerHeight;
    right: 0;

    padding-bottom: $headerHeight;

    transition: height 0.4s, padding-bottom 0.4s;

    > div {
      position: relative;
      height: 100%;

      > nav {
        position: relative;
        background: $sideNavBackgroundColor;
        overflow: hidden;
        height: 100%;
        box-shadow: 0 0 0.563em 0 rgba(0, 0, 0, 0.36);

        > header, header.nav-header, > footer, > .next-delivery-wrapper {
          position: absolute;
          z-index: 1;
          left: 0;
          width: 100%;
        }

        header {
          top: 0;
        }

        footer {
          bottom: 0;
        }

        &.cart {
          $buttonHeight: ($sideNavFooterHeight - $loadingWrapperHeight) / 2;

          > .content-wrapper {
            box-sizing: border-box;
            height: 100%;
            padding-top: $sideNavHeaderHeight;
            padding-bottom: $sideNavFooterHeight;

            &.small {
              padding-bottom: 9.5em;
            }

            > div.content {
              overflow: hidden;
              height: 100%;

              > section {
                @include transition(0.4s);
              }

              > section.empty-cart {
                height: 100%;
                text-align: center;

                div .empty {
                  > * {
                    margin: 0;
                    padding: 0;
                  }

                  > .title {
                    color: #ccc;
                    font-weight: 400;
                    display: block;
                  }

                  > .content {
                    color: #ccc;
                    font-weight: 700;
                    display: block;
                  }

                  > img {
                    padding-top: 3em;
                  }
                }

                .edit-order-cancel {
                  padding-top: 1em;
                  color: #7a827d;
                  font-weight: 400;
                  font-size: 1.75em;
                }

                .dots {
                  padding-top: 1em;
                  display: block;
                }

                .title {
                  padding-top: 1em;
                  display: block;
                }

                .empty-cart-smart-list {
                  display: block;

                  h4 {
                    font-size: 1.4em;
                    margin-bottom: 0;
                    padding-bottom: 0;
                  }

                  h5 {
                    font-size: 1em;
                    width: 70%;
                    margin: 0 auto;
                  }

                  button {
                    font-size: 1em;
                    margin: 0.1em 1em;
                    padding: 0.6em 2em;

                    span {
                      display: block;
                    }
                  }
                }
              }

              > section.update-order {
                height: 100%;
                text-align: center;

                div {
                  > * {
                    margin: 0;
                    padding: 0;
                  }

                  > .circle {

                    width: 3.2em;
                    height: 3.2em;
                    display: inline-block;
                    @include border-radius(100%);

                    img {
                      display: inline-block;
                      vertical-align: middle;
                      height: 1.3em;
                    }
                  }

                  > .order-details {
                    padding-top: 1em;
                    font-size: 1.75em;
                    font-weight: 400;
                    line-height: 1;
                  }

                  > .order-number {
                    padding-top: 1em;
                    font-size: 1.125em;
                    font-weight: 400;
                    text-align: center;
                  }

                  > .order-text {
                    padding-top: 1em;
                    color: #878787;
                    font-size: 0.76em;
                    font-weight: 400;
                    line-height: 1.5;
                  }
                }
              }

              > section.products-wrapper {
                height: 100%;
                overflow-y: scroll;

                > div.special-reminders {
                  font-size: 0.75em;

                  $specialReminderHeight: 3em;
                  $specialReminderPadding: 0.25em;
                  $specialReminderMargin: 0.3125em;
                  $moreButtonPadding: 0.25em;

                  > div.special-reminder-wrapper {
                    overflow: hidden;
                    height: $specialReminderHeight;
                    margin: 0 $specialReminderMargin;
                    padding: $specialReminderPadding;
                    border: 1px solid #c8c8c8;
                    background-color: #FEF5E0;
                    transition: 0.4s, opacity 0s;

                    > div.special-reminder {
                      display: flex;
                      flex-direction: row;
                      height: 100%;

                      > img, > svg {
                        flex: 0 0 auto;
                        width: 2em;
                        height: 2em;
                        align-self: flex-start;
                      }

                      > div.data {
                        flex: 1 1 auto;
                        align-self: center;
                        padding: 0 0.5em;
                      }

                      > button {
                        align-self: flex-end;
                        padding: 0.2em 0.5em;
                      }
                    }
                  }

                  &.collapse {
                    > div.special-reminder-wrapper:nth-child(n+2) {
                      height: 0;
                      border-top-width: 0;

                      > div.special-reminder {
                        visibility: hidden;
                      }
                    }

                    > div.special-reminder-wrapper:nth-child(n+4) {
                      padding: 0;
                      border: none;
                    }

                    > button {
                      margin-top: (-0.5em - ($moreButtonPadding * 2));
                      line-height: 1em;
                    }
                  }

                  > div.special-reminder-wrapper:first-child, &.expanded > div.special-reminder-wrapper {
                    margin-top: $specialReminderMargin;
                    border-top-width: 1px;

                    > div.special-reminder {
                      visibility: visible;
                    }
                  }

                  > button {
                    display: block;
                    margin: $specialReminderMargin auto 0 auto;
                    border: 1px solid #a0a0a0;
                    background-color: #ffffff;
                    padding: $moreButtonPadding 1em;
                    border-radius: 5px;
                  }
                }
              }

              > section.orders-history {
                padding: 1em 0.5em;
                text-align: center;
                @include box-sizing(border-box);

                ng-include {
                  padding: 1em;

                  > .cart {
                    @include animation-duration(0.5s);
                    cursor: pointer;
                    background-color: #ffffff;
                    position: relative;
                    height: 100%;
                    @include box-shadow(0 0 3px rgba(0, 0, 0, 0.4));

                    &.selected {
                      margin-top: -4px;
                      @include box-shadow(0 0 3px 1px rgba(0, 0, 0, 0.4));

                      > header {
                        padding: 0.2em 0;
                      }
                    }

                    > header {
                      position: absolute;
                      width: 100%;
                      top: 0;
                      left: 0;
                      text-align: center;
                      @include box-sizing(border-box);
                      height: $orderHistoryHeaderHeight;
                      padding: 0.2em;
                      color: #ffffff;

                      > .date {
                        font-weight: 700;
                        font-size: 0.9em;
                      }

                      > .day {
                        font-size: 0.75em;
                        line-height: 1.3em;
                      }
                    }

                    > section {
                      padding-left: $orderHistorySectionPadding;
                      padding-right: $orderHistorySectionPadding;
                      padding-top: $orderHistoryHeaderHeight + $orderHistorySectionPadding;
                      padding-bottom: $orderHistoryFooterHeight + $orderHistorySectionPadding;
                      @include box-sizing(border-box);
                      height: 100%;

                      .lines {
                        height: 100%;
                        width: 100%;
                        overflow: hidden;

                        div.line {
                          padding: 2px 0;

                          > * {
                            background-color: #f7f7f7;
                            display: inline-block;
                            vertical-align: middle;
                          }

                          > .box {
                            height: 0.6em;
                            width: 0.6em;
                          }

                          > .border {
                            height: 0.2em;
                            width: 2.8em;
                          }
                        }
                      }
                    }

                    > footer {
                      font-size: 0.9em;
                      height: $orderHistoryFooterHeight;
                      position: absolute;
                      bottom: 0;
                      left: 0;
                      width: 100%;

                      > .items-count {
                        font-size: 1em;
                        font-weight: 700;
                        text-align: center;
                      }
                    }
                  }
                }

                .sp-carousel {
                  height: 17em;

                  > .action button {
                    background: transparent;
                  }
                }
              }
            }
          }

          > footer {
            @include transition(bottom 0.4s);

            .loading-wrapper {
              height: $loadingWrapperHeight;
            }

            > .you-save {
              text-align: center;
              height: $youSaveInFooterHeight;
              display: none;

              > .sale-icon {
                height: 100%;
                width: 1.5em;
                display: inline-block;
                vertical-align: middle;

                > img {
                  height: 100%;
                  vertical-align: middle;
                }
              }

              &.credit-customer {
                display: block;

                span.wallet-icon svg, svg.wallet-icon {
                  height: 110%;
                  width: 2em;
                  display: inline-block;
                  vertical-align: middle;
                  fill: none;
                  stroke: #505050;
                }

                .text {
                  padding: 0 0.4em;
                }

                .price {
                  direction: ltr;
                  display: inline-block;

                  &.not-enough {
                    color: #D6353A;
                    font-weight: bold;
                  }
                }
              }

              .join-or-connect {
                cursor: pointer;
                border: 1px solid #414141;
                padding: 0 1em;
                border-radius: 1.3125em;
                vertical-align: middle;
              }
            }

            .have-point {
              height: 32px;
              border-radius: 5px;
              position: relative;
              border: solid 2px;
              filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.20));
              justify-content: space-between;
              align-items: center;
              display: flex;
              padding: 5px 10px;
              margin: 4px 10px;
              gap: 5px;
              transition: scale 0.3s ease-in-out;
              top: 7px;
              > .text {
                width: 70%;
                font-size: 12px;
                flex-grow: 1;
                font-weight: normal;
              }

              > .point-container {
                min-width: 43px;
                color: var(--grey-1, #282828);
                text-align: center;
                font-family: Open Sans;
                font-size: 12px;
                > .point{
                  font-size: 14px;
                  font-style: normal;
                  font-weight: 700;
                  line-height: 15px;
                }
              }

              > .point-icon {
                
                > img {
                  max-width: 30px;
                  max-height: 20px;
                  vertical-align: middle;
                }
              }

              &::after {
                top: 43px;
                left: 7%;
                content: " ";
                position: absolute;
                border-top: 4px solid;
                border-color: inherit;
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
              }
            }

            .point-scale{
              scale: 1.05;
            }
            
            > a, > button {
              display: block;
              width: 100%;
              padding: 0.5em 1em;
              text-align: center;
              @include box-sizing(border-box);
              height: $buttonHeight;

              > span {
                display: block;
                @include border-radius(3px);
                padding: 0.9em;
                height: 100%;
                cursor: pointer;
                @include box-sizing(border-box);

                > img {
                  height: 100%;
                  display: inline-block;
                  vertical-align: middle;
                  margin-right: 1em;
                }
              }
            }

            > .orders-history-button{
              height: 30px;
              font-size: 13px;
              display: flex;
              justify-content: center;
              align-items: center;
              gap:5px;
              background: $sideNavBackgroundColor;
              &> span {
                color: #6D6D6D;
                padding: 0;
              }
            } 

            > .checkout {
              font-weight: bold;

              &.invert-color > span {
                background-color: #ffffff;
              }

              > span {
                color: #ffffff;
                display: flex;
                flex-direction: row;
                align-content: center;
                justify-content: center;
                align-items: center;

                > span.price {
                  display: inline-block;
                  direction: ltr;
                  width: 5em;
                }
              }
            }
          }

          > .next-delivery-wrapper {
            display: none;
            $nextDeliveryFontSize: 0.9;
            font-size: $nextDeliveryFontSize * 1em;
            top: $sideNavHeaderHeight / $nextDeliveryFontSize;
            height: $sideNavNextDeliveryHeight / $nextDeliveryFontSize;
            color: #ffffff;
            box-sizing: border-box;
            white-space: nowrap;
            z-index: 2;
            width: 100%;

            .times {
              direction: ltr;
              display: inline-block;
            }

            > .next-delivery-content {
              margin-left: -100%;
              display: inline-block;
              height: 100%;
              width: 100%;
              padding: 0 $nextDeliveryHorizontalPadding;
              @include box-sizing(border-box);
              @include transition(margin-left 1s ease-in-out);
              overflow: hidden;
              cursor: pointer;

              &.active {
                margin-left: 0;
              }

              > * {
                display: inline-block;
                vertical-align: middle;
              }

              > .next-delivery-icon {
                padding-right: 0.5em;
                position: relative;
                margin-right: 0.2em;

                img {
                  height: 1em;
                }

                svg {
                  height: 2em;
                  width: 2.285em;
                  fill: #fff;
                }

                .delivery-sale-icon {
                  position: absolute;
                  top: -0.85em;
                  right: 0;
                  width: 1.4em;
                  height: 1.4em;
                }
              }

              > .next-delivery-text {
                padding-right: $nextDeliveryHorizontalPadding * 2.5;

                > * {
                  display: block;
                  line-height: 1.4em;
                  font-size: 0.85em;
                }
                .tooltips-icon{
                  border-radius: 100%;
                  position: fixed;
                  text-align: center;
                  margin: -1.5% 2%;
                  z-index: 9999; 
                  padding: 0.5rem 0;
                  .icons-exclamation-mark-circle{
                    width: 1.2em;
                    height: 1.2em;
                    transform: rotate(180deg);
                  }
                  .tooltip-content{
                    border-radius: 2px;
                    background-color: #000000;
                    color: #FFFFFF;
                    border: none;
                    box-shadow: none;
                    font-size: 12px;
                    bottom: 90%;
                    position: fixed;
                    margin: 0 -50% 0 -50%;
                    left: 70%;
                  }
                }
              }
              

              > .more-details-icon {
                position: absolute;
                right: $nextDeliveryHorizontalPadding;
                top: 28%;
                height: 30%;
                width: 1.2em;
                border: 1px solid #ffffff;
                color: #ffffff;
                @include border-radius(100%);
                text-align: center;

                > * {
                  position: absolute;
                  width: 100%;
                  height: 100%;
                  left: 0;
                  top: 0;
                  transition: #{transform} 0.5s, opacity 0.5s;

                  > * {
                    display: inline-block;
                    vertical-align: middle;
                  }
                }

                //> .icon {
                //  @include opacity(1);
                //@include rotate(0);
                //}

                > .arrow {
                  @include opacity(1);
                  @include rotate(-180);
                  // transform: rotate(0deg);

                  > img {
                    //padding-top: 0.2em;
                    width: 50%;
                  }
                }
              }
            }

            .next-delivery-more-details {
              position: absolute;
              top: 100%;
              overflow: hidden;
              $moreDetailsHeight: 30em;
              width: 100%;
              .next-delivery-message-pop-up{
                height: 2.5rem;
                font-size: 12px;
                display: flex;
                align-items: center;
                padding: 0 1rem;
              }
              > .more-details-content {
                width: 100%;
                overflow: auto;
                max-height: $moreDetailsHeight;
                $moreDetailsVerticalPadding: 0.2em;
                padding: $moreDetailsVerticalPadding 0;
                margin-top: -1 * ($moreDetailsHeight + ($moreDetailsVerticalPadding * 2));
                @include transition(margin-top 0.3s linear);
                white-space: normal;

                > .delivery-type-buttons > button {
                  width: 50%;
                  padding: 0.5em 0;
                  border-right: $nextDeliveryBorder;

                  &:last-child {
                    border-right-width: 0;
                  }

                  &:not(.active) {
                    border-bottom: $nextDeliveryBorder;
                  }

                  &.active {
                    border-top: $nextDeliveryBorder;
                  }

                  &.active {
                    font-weight: 700;
                  }
                }

                > .slots {
                  max-height: 17em;
                  overflow: auto;

                  > .area-name {
                    padding: 0.5em 1em;
                  }

                  ul .slot {
                    width: 49.9%;
                    display: inline-block;
                    vertical-align: top;
                    @include box-sizing(border-box);
                    padding: 0.5em 1em;
                    font-size: 0.92em;

                    > * {
                      display: block;
                      line-height: 1.4em;
                    }

                    .sale-icon {
                      height: 1.2em;
                      width: 1.2em;

                    }
                  }
                }
              }
            }

            &.show-more-details {
              > .next-delivery-content > .more-details-icon {
                //> .icon {
                //  @include opacity(0);
                //  transform: rotate(360deg);
                //}

                > .arrow {
                  @include opacity(1);
                  @include rotate(0);
                }
              }

              .next-delivery-more-details > .more-details-content {
                margin-top: 0;
              }
            }

            /*> img {
              height: 1.5em;
            }*/

            .edit-order {
              width: 100%;
              height: 100%;
              // padding-top: 0.5em;
              @include box-sizing(border-box);
              color: #ffffff;

              > * {
                display: inline-block;
                vertical-align: middle;
              }

              > .title-wrapper, > .btn-wrapper {
                padding: 0 0.4em;
                @include box-sizing(border-box);
              }

              > .title-wrapper {
                width: 53%;
                font-size: 0.8em;
                white-space: nowrap;

                > * {
                  vertical-align: middle;
                }

                > .title {
                  display: inline-block;
                  font-size: 0.9em;
                  line-height: 1.3;
                  padding: 0.2em 0.5em 0 0.5em;

                  .order-id {
                    width: 8.1em;
                    white-space: normal;
                  }

                  .times {
                    .direction {
                      direction: ltr;
                      display: inline-block;
                    }
                  }
                }
              }

              > .btn-wrapper {
                width: 46%;
                display: inline-block;
                @include box-sizing(border-box);
                vertical-align: middle;
                padding: 0 1em;
                color: #ffffff;

                .btn-content {
                  cursor: pointer;
                  padding: 0.85em 0.9em;
                  border: 1px solid #ffffff;
                  font-size: 0.8em;
                  @include border-radius(5px);
                  font-weight: normal;
                  // line-height: 1.3;

                  img {
                    margin-right: 0.5em;
                    vertical-align: middle;
                  }

                  .title {
                    max-width: 7.1em;
                    white-space: normal;
                    text-align: center;
                    display: inline-block;
                    vertical-align: middle;
                  }
                }
              }
            }
          }

          > .no-available-slots-wrapper {
            display: block;
            position: absolute;
            padding: 0 0.8em;
            $nextDeliveryFontSize: 0.9;
            font-size: $nextDeliveryFontSize * 1em;
            top: $sideNavHeaderHeight / $nextDeliveryFontSize;
            height: $sideNavNextDeliveryHeight / $nextDeliveryFontSize;
            box-sizing: border-box;
            z-index: 2;
            width: 100%;
            background-color: #FFFDC1;

            .no-deliveries-icon {
              height: 100%;
              width: 13%;
              display: block;
              text-align: center;
              box-sizing: border-box;

              svg {
                height: 2.1em;
                width: 2.2em;
                display: inline-block;
                vertical-align: middle;
                fill: none;
                stroke: #BE1625;
              }
            }

            .no-deliveries-text {
              height: 100%;
              width: 84%;
              display: block;
              box-sizing: border-box;
              color: #BE1625;
              font-weight: bold;
              line-height: 1.2em;

              span {
                height: $sideNavNextDeliveryHeight / $nextDeliveryFontSize;
                vertical-align: middle;
                display: table-cell;
              }
            }

            .sp-icons-arrow-down {
              display: none;
            }

            &.has-popup {
              cursor: pointer;

              .no-deliveries-text {
                margin: 0 6% 0 0;
                width: 78%;
              }

              .sp-icons-arrow-down {
                display: block;
                position: absolute;
                top: $sideNavNextDeliveryHeight / $nextDeliveryFontSize / 2;
                right: 0.6em;
                left: auto;
                height: 0.9em;
                margin-top: -0.4em;
                width: 0.9em;
                fill: #BE1625;
                stroke: none;
              }
            }

          }

          $promotionHeight: 3em;
          $promotionMargin: 0.5em;
          $promotionActualHeight: $promotionHeight - ($promotionMargin * 2);

          > .promotion {
            display: none;
            position: absolute;
            top: $sideNavHeaderHeight;
            z-index: 1;
            color: #ffffff;
            $width: 95%;
            width: $width;
            margin: $promotionMargin;
            height: $promotionActualHeight;
            line-height: $promotionActualHeight;
            box-sizing: border-box;
            border-radius: 5px;
            text-align: center;
          }

          &.has-next-delivery {
            > .next-delivery-wrapper {
              display: block;
            }

            > .content-wrapper {
              padding-top: $sideNavHeaderHeight + $sideNavNextDeliveryHeight;
            }
          }

          &.has-multipass-discount {
            .multipass-discount {
              display: block;
              height: 1.3em;
            }
          }

          &.has-no-available-slots {
            > .content-wrapper {
              padding-top: $sideNavHeaderHeight + $sideNavNextDeliveryHeight;
            }
          }

          &.has-promotion {
            > .promotion {
              display: block;
            }

            > .content-wrapper {
              padding-top: $sideNavHeaderHeight + $sideNavNextDeliveryHeight;
            }
          }

          &.has-next-delivery.has-promotion {
            > .promotion {
              top: $sideNavHeaderHeight + $sideNavNextDeliveryHeight;
            }

            > .content-wrapper {
              padding-top: $sideNavHeaderHeight + $sideNavNextDeliveryHeight + $promotionHeight;
            }
          }

          &.has-gifts {
            > .content-wrapper {
              padding-bottom: $sideNavFooterHeight + $youSaveInFooterHeight;
            }

            > footer > .you-save {
              display: block;
            }
          }

          &.in-edit-order {
            > .content-wrapper {
              padding-bottom: $sideNavFooterHeight - $buttonHeight;

              &.time-slot {
                padding-bottom: $sideNavFooterHeight;
              }
            }

            > footer > .orders-history-button {
              display: none;
            }
          }


          &.has-gifts.in-edit-order {
            > .content-wrapper {
              padding-bottom: $sideNavFooterHeight + $youSaveInFooterHeight;
              
              &.time-slot {
                padding-bottom: $sideNavFooterHeight;
              }
            }
          }
        }

        &.order-history-wrapper {
          position: absolute;
          top: 0;
          right: 0;
          width: $sidenavWidth;
          z-index: -1;
          @include transition(right 0.4s, left 0.4s);
          @include box-shadow(none);

          &.open, &.open.half-open {
            @include box-shadow(0 0 8px rgba(0, 0, 0, 0.6));
            right: $sidenavWidth;
          }

          &.half-open {
            right: $sidenavWidth / 2;
          }

          > .order-history {
            height: 100%;

            > header {
              > .close {
                background: url("https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/close-previous-order.png") center center no-repeat;
                width: 1em;
                height: 1em;
                margin-right: 1em;
              }

              > .data {
                height: auto;
                display: inline-block;

                > .date {
                  font-size: 1.25em;
                  font-weight: 700;
                  vertical-align: middle;
                }
              }
            }

            $actionHeight: 3.5em;

            section.actions {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              align-items: center;
              position: absolute;
              top: $sideNavHeaderHeight;
              right: 0;
              left: 0;
              padding: 0 0.6em;
              height: $actionHeight;
              z-index: 1;

              > .check-all, > .uncheck-all {
                font-size: 0.8em;
                text-align: left;
              }
            }

            div.content-wrapper {
              @include box-sizing(border-box);
              height: 100%;
              padding-top: $sideNavHeaderHeight + $actionHeight;

              > section.products {
                height: 100%;
                overflow: auto;

                > .product-in-cart.focus-mode .product-data > .fold {
                  @include opacity(1);
                }

                > .product-in-cart .product-data {
                  overflow: visible;

                  > .image-wrapper {
                    width: 23%;
                    padding: 0 2.5%;
                  }

                  > .data {
                    width: 65%;
                  }

                  > .sp-arrows-button {
                    position: absolute;
                    right: 0;
                    top: 1.875em;
                    opacity: 0;
                    @include transition(opacity 0.4s, right 0.4s);
                    @include box-shadow(-3px 0 6px #ffffff);
                  }

                  > .checkbox {
                    margin-left: 1em;

                    > .box {
                      margin: 0 !important;
                    }
                  }

                  > .fold {
                    position: absolute;
                    bottom: -13px;
                    left: 0;
                    z-index: 1;
                    @include opacity(0);
                    @include transition(opacity 400ms);
                  }

                  &:hover {
                    > .fold {
                      @include opacity(1);
                    }

                    > .sp-arrows-button {
                      @include opacity(1);
                      right: 1.25em;
                    }
                  }

                  .disabled-checkbox {
                    width: 1em;
                    height: 1em;
                    border: 1px solid #ADADAD;
                    @include border-radius(5px);
                    background-color: $sideNavBackgroundColor;
                  }
                }

                > .product-in-cart > .product-wrapper > .cart-line-comments-wrapper {
                  margin-left: 6.9em;
                }
              }
            }
          }

          .disabled {
            opacity: 0.35;
            pointer-events: none;
          }

          .out-of-stock {
            position: absolute;
            top: 50%;
            height: 1.5em;
            line-height: 1.5em;
            padding: 0 0.4em;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            text-align: center;
            margin-top: -0.75em;
            color: #ffffff;
            font-size: 0.75em;
            white-space: nowrap;
            background-color: #F86B2F;
            width: auto;
            left: 50%;
            transform: translateX(-50%);
          }

          > .loading-wrapper {
            height: 100%;
          }
        }

        > header, header.nav-header {
          width: 100%;
          height: $sideNavHeaderHeight;
          color: #ffffff;
          padding: 0.6em;
          @include box-sizing(border-box);

          > * {
            vertical-align: middle;
            height: 100%;
          }

          .right {
            .button {
              display: inline-block;
              padding: 0.75em 0.6em;
              max-width: 7.5em;
              max-height: 1.75em;
              vertical-align: middle;
              font-weight: 700;
              font-size: 0.8em;
              @include border-radius(5px);
              @include box-shadow(none);

              &[disabled] {
                @include opacity(0.5);
              }
            }
          }

          .left {
            > * {
              display: inline-block;
              vertical-align: middle;
              margin-right: 0.3em;
            }

            > .toggle-cart {
              max-height: 0.6em;
              @include transition(0.4s);
            }

            > .cart-icon {
              max-height: 1.8em;
            }

            > .clean-cart-icon {
              max-height: 18px;
              max-width: 18px;
              vertical-align: middle;
              background-color: #666666;
              padding: 5px;
              border: 0.5px solid #666666;
              border-radius: 6px;
            }

            > .clean-cart-icon:hover {
              background-color: #d1d1d1;
              border: 0.5px solid #787878;
            }

            > .summary > div.price {
              font-weight: 700;
              direction: ltr;
            }

            .for-vertical-align {
              margin-right: 0;
            }
          }
        }
      }
    }
  }

  &.hide-sidenav div.sidenav {
    display: none;
  }

  &.close-sidenav div.sidenav {
    height: $sideNavHeaderHeight;
    padding-bottom: 0;

    > div > nav.cart {
      > *:not(header) {
        visibility: hidden;
      }

      > header .toggle-cart {
        @include rotate(180);
      }

      > footer {
        bottom: $sideNavFooterHeight * -1;
      }

      &.has-gifts > footer {
        bottom: ($sideNavFooterHeight + $youSaveInFooterHeight) * -1;
      }
    }
  }

  &.hub-child {
    div.sidenav {
      padding-top: $hubShoppingCartPadding;
    }

    &.close-sidenav div.sidenav {
      height: $hubShoppingCartPadding + $sideNavHeaderHeight;
    }
  }

  &.rtl {
    div.sidenav {
      right: auto;
      left: 0;

      > div > nav {
        &.cart > .next-delivery-wrapper > .next-delivery-content {
          margin-left: 0;
          margin-right: -100%;
          @include transition(margin-right 1s ease-in-out);

          &.active {
            margin-right: 0;
          }

          > .next-delivery-icon {
            padding-right: 0;
            padding-left: 0.4em;
            margin-right: 0;
            margin-left: 0.2em;

            .delivery-sale-icon {
              left: 0;
              right: auto;
            }
          }

          > .next-delivery-text {
            padding-right: 0;
            padding-left: $nextDeliveryHorizontalPadding * 2.5;
          }

          > .more-details-icon {
            right: auto;
            left: $nextDeliveryHorizontalPadding;
          }
        }

        &.order-history-wrapper {
          right: auto;
          left: 0;

          &.open, &.open.half-open {
            right: auto;
            left: $sidenavWidth;
          }

          &.half-open {
            right: auto;
            left: $sidenavWidth / 2;
          }

          > .order-history {
            > header > .close {
              margin-right: 0;
              margin-left: 1em;
            }

            section.actions {
              > .check-all, > .uncheck-all {
                text-align: right;
              }
            }

            div.content-wrapper section.products > .product-in-cart {
              .product-data {
                > .sp-arrows-button {
                  @include transition(opacity 0.4s, left 0.4s);
                  right: auto;
                  left: 0;
                }

                > .checkbox {
                  margin-left: 0;
                  margin-right: 1em;
                }

                > .fold {
                  right: 0;
                  left: auto;
                  @include flipH();
                }

                &:hover > .sp-arrows-button {
                  right: auto;
                  left: 1.25em;
                }
              }

              &.focus-mode {
                .product-data > .sp-arrows-button {
                  right: auto;
                  left: 1.25em;
                }
              }
            }
          }
        }

        > header .left {
          > * {
            margin-right: 0;
            margin-left: 0.3em;
          }

          .for-vertical-align {
            margin-left: 0;
          }
        }
      }
    }

    .product-in-cart {
      > button.delete {
        right: auto;
        left: $deleteButtonPosition;
      }

      > .product-wrapper {
        > .actions {
          > .product-actions {
            left: auto;
            right: $productActionsPosition;
            margin-left: 0;
            margin-right: $productActionsMarginLeft;
          }
        }

        > .cart-line-comments-wrapper {
          margin-left: 0;
          margin-right: 7.3em;

          > .cart-line-comments-input-wrapper > .cart-line-comments-input {
            left: auto;
            right: 0.6em;
            padding: 0.3em 0.3em 0.3em 1em;
          }
        }

        &.new-promotion {
          > .product-data > .sp-promotion {
            > .promotion-tag,
            > .save {
              left: auto;
              right: 17%;
            }
          }
        }
      }

      > .coupon-wrapper {
        > div.product-actions {
          left: auto;
          right: $productActionsPosition;
        }

        > div.error {
          padding-left: 2em;
          padding-right: 0;
        }

        > div.data {
          > div.coupon-icon {
            > .audience {
              right: -0.5em;
              left: auto;
            }

            > svg {
              @include flipH();
            }
          }

          > div.name {
            padding-left: 2em;
            padding-right: 0;
          }
        }

        > svg,
        > img {
          left: 0.5em;
          right: auto;
        }
      }

      .product-data > .image > .sale-icon {
        left: auto;
        right: 0;
      }

      .product-data {
        > .sp-unit-weight {
          left: 80%;
          top: 90%;
          transform: translate(-80%, -90%);
        }  
      }
    }

    div.sidenav > div > nav.cart > footer {
      a, button {
        span > img {
          margin-right: 0;
          margin-left: 1em;
        }
      }
    }

    div.sidenav > div > nav.cart > .next-delivery-wrapper .edit-order > .btn-wrapper {
      .btn-content {
        padding: 0.84em 0.75em;

        img {
          margin-left: 0.5em;
          margin-right: auto;
        }
      }
    }

    div.sidenav > div > nav.cart > .next-delivery-wrapper .next-delivery-more-details > .more-details-content > .delivery-type-buttons > button {
      border-right-width: 0;
      border-left: $nextDeliveryBorder;

      &:last-child {
        border-left-width: 0;
      }
    }

    .product-by-category-outer > .product-in-cart > .product-wrapper {
      > .product-data > .sp-promotion {
        > .promotion-tag,
        > .save {
          right: 18%;
        }
      }

      > .cart-line-comments-wrapper {
        margin-right: 7.8em;
      }
    }
  }

  &.ltr {
    div.sidenav > div > nav.cart > .next-delivery-wrapper > .next-delivery-content > .next-delivery-icon.delivery-within-hours img {
      @include flipH();
    }

    div.sidenav > div > nav.cart > .no-available-slots-wrapper {
      &.has-popup {
        .no-deliveries-text {
          margin: 0 0 0 6%;
        }

        .sp-icons-arrow-down {
          left: 0.6em;
          right: auto;
        }
      }
    }

    .product-by-category-outer > .product-in-cart > .product-wrapper {
      > .product-data > .sp-promotion {
        > .promotion-tag,
        > .save {
          left: 15%;
        }
      }

      > .cart-line-comments-wrapper {
        margin-left: 7.8em;
      }
    }
  }
}

.hide-product-actions {
  .hover-action {
    visibility: hidden;
  }
}

@media screen and (max-width: 1024px) {
  html div.sidenav {
    width: $responsiveSidenavWidth;

    top: $headerResponsiveHeight;

    > div > nav {
      > header .right .button {
        padding: 0.75em 0.2em;
        max-width: 6.5em;
      }

      &.cart > .content-wrapper > div.content > section.orders-history ng-include > .cart {
        font-size: 0.8em;
      }
    }

    > div > nav.order-history-wrapper {
      width: $responsiveSidenavWidth;

      &.open {
        right: $responsiveSidenavWidth;
      }

      > .order-history section.actions {
        button.sp-arrows-button > span.label {
          padding: 0 1em 0 0.5em;
        }
      }
    }
  }

  html.rtl div.sidenav > div > nav.order-history-wrapper.open {
    left: $responsiveSidenavWidth;
  }
}

@media screen and (max-height: 768px) {
  html {
    div.sidenav > div > nav.cart > .content-wrapper > div.content > section.orders-history {
      .sp-carousel {
        height: 12.5em;
      }
  
      > h4 {
        padding: 0;
      }
    }
  }
}
