html {
  .product-in-cart {
    > .cart-line-comments-wrapper > .comments {
      color: $mainColor;
    }

    > div.coupon-wrapper {
      border-color: $mainColor;

      > .coupon-icon {
        > svg {
          color: $mainColor;
        }

        .audience {
          background-color: $mainColor;
        }
      }

      > svg {
        fill: $mainColor;
      }
    }
  }

  .product-by-category {
    &-outer {

      .product-in-cart {

        &.highlight {
          border: 1px solid $mainColor!important;
        }
      }
    }
  }

  div.sidenav > div > nav {
    &.cart {
      > .content-wrapper > div.content {
        > section.empty-cart {
            .title {
              color: $mainColor;
            }
        }

        > section.update-order {
          div {

            > .circle {
              background-color: #8dc63f;
            }

            > .order-details {
              color: $mainColor;
              font-family: $defaultFontFamily;
            }

            > .order-number {
              color: $mainColor;
              font-family: $defaultFontFamily;
            }

            > .order-text {
              font-family: $defaultFontFamily;
            }
          }
        }
        > section.orders-history {

          > h4 {
            color: $secondaryColor;
          }

          ng-include > .cart {
            &.selected {
              border: 4px solid $secondaryColor;
            }

            > header {
              background-color: $secondaryColor;
            }
          }
        }
      }

      > footer {
        > * {
          font-family: $secondaryFontFamily;
        }

        > .checkout > span {
          background-color: $highlightColor;
        }

        > .checkout {
          &.invert-color {
            > span {
              color: $highlightColor;
              border-color: $highlightColor;
              border: solid;
            }
          }
        }
      }
    }

    &.order-history-wrapper > .order-history {
      > header {
        background: '{{secondaryColor-#ffffff-90}}';
      }

      section.actions {
        > .check-all, > .uncheck-all {
          color: $mainColor;
        }
      }
    }

    > header {
      background-color: $secondaryColor;

      .right .button {
        background-color: $highlightColor;
      }
    }

    > .next-delivery-wrapper {
      background-color: '{{secondaryColor-#ffffff-90}}';

      > .next-delivery-more-details {
        background-color: '{{secondaryColor-#ffffff-90}}';

        > .more-details-content > .slots ul .slot > .title {
          color: '{{secondaryColor-#ffffff-30}}';
        }
      }
    }

    > .promotion {
      background: $mainColor;
    }
  }
}