<div class="header">
    <button type="button" ng-click="formCompletionCtrl.goBack()" class="arrow-btn">
        <svg class="back-ico">
            <use xlink:href="#sp-icons-arrow-left-v2"></use>
        </svg>
    </button>

    <button type="button" ng-click="formCompletionCtrl.toggleCloseConfirmation = true" class="close-btn">
        <svg class="close-ico">
            <use xlink:href="#sp-icons-close"></use>
        </svg>
    </button>
</div>

<div class="retailer-logo">
    <img ng-src="{{::$root.config.retailer.logoUrl | image}}" />
</div>

<form class="form enterCompletionForm" name="enterCompletionForm" ng-submit="formCompletionCtrl.complete(enterCompletionForm, $event)" autocomplete="one-time-code">
    <div class="warning-wrapper" ng-if="formCompletionCtrl.toggleCloseConfirmation">
        <p>
            {{ ::'Are you sure you want to log out? This action will cancel the login / registration process' | translate }}
        </p>
        <button class="block" type="button" ng-click="formCompletionCtrl.toggleCloseConfirmation = false">
            {{ ::'Continue' | translate }}
        </button>
        <button type="button" class="look-like-anchor-btn" ng-click="formCompletionCtrl.closeDialogAndLogout()">
            {{ ::'Yes, log out' | translate }}
        </button>
    </div>

    <h4 class="title">{{formCompletionCtrl.completionFormTitle}}</h4>

    <p class="subtitle">{{formCompletionCtrl.completionFormSubtitle}}</p>

    <sp-input class="floating-label" ng-repeat-start="field in formCompletionCtrl.completionFormFields" 
    ng-if="field.type === 'text' || field.type === 'password' || field.type === 'email'" 
    ng-class="{'has-errors': (enterCompletionForm[field.label].$touched || enterCompletionForm.$submitted) && enterCompletionForm[field.label].$invalid}">
        <label for="{{field.model}}">{{field.label | translate}} {{field.isRequired ? '*' : ''}}</label>
        <input flex="grow" id="{{field.model}}" name="{{field.label}}" type="{{field.type}}" autocomplete="one-time-code"
        ng-disabled="((field.model === 'email' && formCompletionCtrl.shouldDisableEmailField) || (field.model === 'phoneNumber' && formCompletionCtrl.shouldDisablePhoneNumberField)) || (formCompletionCtrl.disabledFields.indexOf(field.model) > -1)" 
        ng-model="formCompletionCtrl.user[field.model]" 
        ng-required="field.isRequired" 
        ng-pattern="field.match.regexp" 
        ng-minlength="field.minLength" 
        ng-maxlength="field.maxLength" 
        confirm-password="formCompletionCtrl.user.password" />
        <button type="button" class="ico-btn" ng-if="field.type === 'password'">
            <svg class="eye-off-ico">
                <use xlink:href="#sp-icons-eye-off"></use>
            </svg>
        </button>
        <div class="error-message" ng-messages="(enterCompletionForm[field.label].$touched || enterCompletionForm.$submitted) && enterCompletionForm[field.label].$error" ng-if="enterCompletionForm[field.label].$invalid" aria-live="off">
            <div ng-message="minlength" role="alert" ng-bind=":: field.minLengthErrMessage | translate"></div>
            <div ng-message="maxlength" role="alert" ng-bind=":: field.maxLengthErrMessage | translate"></div>
            <div ng-message="required" role="alert" ng-bind=":: (('Please enter' | translate) + ' ' + (field.label | translate)) | translate"></div>
            <div ng-message="email" role="alert" ng-bind=":: 'Please enter a valid email address' | translate"></div>
            <div ng-message="pattern" role="alert" ng-bind=":: field.match.errorMessage | translate"></div>
            <div ng-message="equal" role="alert" ng-bind=":: 'Please confirm password' | translate"></div>
        </div>
    </sp-input>

    <div class="dropdown-container" ng-if="field.type === 'radio'" ng-class="{'active': openDropdown}">
        <div class="selected-option" ng-click="openDropdown = !openDropdown">
            <span>{{(formCompletionCtrl.selectedOption ? formCompletionCtrl.selectedOption.label : field.label) | translate}}</span>
            <svg class="ico-arrow">
                <use xlink:href="#sp-icons-arrow-down"></use>
            </svg>

            <div ng-if="openDropdown" class="option-list-container">
                <div class="option-list-inner-wrapper">
                    <div class="option-item-container" ng-repeat="opt in field.options" ng-click="formCompletionCtrl.onSelect(field.model, opt)">
                        {{opt.label | translate}}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <sp-input class="floating-label" ng-repeat-end="" ng-if="field.type === 'date'">
        <label for="{{field.label}}">{{field.label | translate}} {{field.isRequired ? '*' : ''}}</label>
        <input flex="grow" type="date" ng-model="formCompletionCtrl.user[field.model]" name="{{field.label}}" ng-required="{{!!field.isRequired}}" />
    </sp-input>

    <sp-captcha is-invalid="formCompletionCtrl.captchaIsInvalid" message="{{formCompletionCtrl.captchaMessage}}"></sp-captcha>

    <sp-checkbox id="{{checkbox.label}}" ng-repeat="checkbox in formCompletionCtrl.checkboxes" sp-model="formCompletionCtrl.user[checkbox.model]" i-name="{{checkbox.label}}">
        <span ng-bind-html="checkbox.label"></span>
    </sp-checkbox>

    <div class="server-err-msg" ng-if="!formCompletionCtrl.showSuccessMessage"></div>

    <button type="submit" class="block">{{formCompletionCtrl.completionFormBtxText}}</button>
</form>