<div id="cvv-confirm-update" class="cvv-confirm-update">
  <button ng-click="cvvConfirmCtrl.closeDialog()" class="no-design"
          ng-bind="::('<< ' + ('back to cart' | translate).replace('{cart}', $root.config.retailer.settings.setCartNameToBasket ? $root.config.retailer.settings.setCartNameToBasket : 'cart'))">
  </button>
  <div class="cvv-confirm-update-title">
    <span>{{'Order Update' | translate}}</span>
  </div>
  <div class="cvv-confirm-update-body">
    <div class="cvv-confirm-update-body-total">
      <div>
        <span>
          {{'Updated order value' | translate}} {{'(estimated)' | translate}}
        </span>
        <div class="price right price-wrap">
          <span>{{!sideNavCtrl.isEmptyObjectWithDelivery($root.cart.lines) ?
            ($root.cart.total.finalPriceForViewWithDeliveryFee || $root.cart.total.finalPriceForView | currency:' ') :
            ($root.cart.total.finalPriceForView | currency:'')}}</span> <br />
          <span
            ng-if="$root.config.retailer.settings.includeDeliveryFeeInCart === 'true' && !sideNavCtrl.isEmptyObjectWithDelivery($root.cart.lines) &&
            $root.config.getBranchArea().deliveryTypeId && $root.config.deliveryAreaPrice"
            class="delivery-info">{{'includes_delivery_type_' + $root.config.getBranchArea().deliveryTypeId + '_fee' |
            translate}}</span>
        </div>
      </div>
    </div>

      <div class="cvv-confirm-update-body-info">
        {{ 'In order to complete the order update, please choose the payment method' | translate}}:
      </div>
      <div class="credit-cards-wrapper">
        <table>
          <tbody>
            <tr ng-repeat="creditCard in cvvConfirmCtrl.creditCards">
              <td class="radio-column">
                <span>
                  <sp-radio sp-model="cvvConfirmCtrl.summaryData.creditCard" sp-value="creditCard"
                    sp-disabled="!creditCard.isActive" sp-name="credit-card"
                    ng-click="!creditCard.isActive ? cvvConfirmCtrl.showAddCardDialog() : cvvConfirmCtrl.chooseCreditCard(creditCard)">
                  </sp-radio>
                </span>
              </td>
              <td class="card-number" ng-if="creditCard.isActive"
                ng-click="cvvConfirmCtrl.chooseCreditCard(creditCard)">
                <span class="card-hidden-no">**** **** **** </span>{{creditCard.lastFourDigits}}
              </td>
              <td class="card-number" ng-if="!creditCard.isActive" ng-click="cvvConfirmCtrl.showAddCardDialog()">
                <span class="card-hidden-no">**** **** **** </span>{{creditCard.lastFourDigits}}
              </td>
              <td class="cvv">
                <input id="cvv" type="text" name="cvv" autocomplete="off" ng-model="cvvConfirmCtrl.summaryData.cvv"
                  ng-if="creditCard == cvvConfirmCtrl.summaryData.creditCard" placeholder="{{'Enter CVV' | translate}}"
                  sp-inline-error sp-inline-error-class="cvv-error" />

                <span ng-click="cvvConfirmCtrl.showAddCardDialog()" ng-if="!creditCard.isActive"> {{'Activate card'
                  |translate}}</span>
              </td>
              <span ng-if="cvvConfirmCtrl.errorState.cvv">
                {{cvvConfirmCtrl.errorState.cvv}}
              </span>
            </tr>
          </tbody>
        </table>
        <div class="has-credit-cards-details" ng-if="cvvConfirmCtrl.hasCard">
          <div class="add-card-btn-wrapper">
            <button type="button" class="no-design" id="add_new_card" ng-click="cvvConfirmCtrl.showAddCardDialog()">
              <img class="bg-main-color" src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/icon_add_card.png" alt=""/>
              <span class="text">{{'Add another card' | translate}}</span>
            </button>
          </div>
        </div>
      </div>
      <div>
        <button ng-click="cvvConfirmCtrl.confirmUpdate()" class="button-confirm-update">
          {{::'Confirm Update' | translate}}
        </button>
      </div>


  </div>
