.cvv-confirm-update {
  padding: 20px;

  &-title,
  &-total,
  &-info {
    font: 700 30px 'Open Sans Hebrew';
    text-align: justify;
    display: block;
    margin: 10px auto;
    
  }
  .checkbox {
    padding: 10px 0px;
  }
&-title{
  text-align: center;
  margin-bottom: 26px;
}
  &-body {
    width: 80%;
    margin: 0 auto;
    display: block;
    &-total {
      span {
        font-size: 16px;
        color: #88AE37;
      }
      margin-bottom: 20px;
    }

    &-info,
    span {
      font-size: 20px;
      font-weight: 400;
      margin-bottom: 40px;
    }
  }
  .has-credit-cards-details{
    width: 80%;
    margin-top: 10px;
    svg {
      width: 30px;
      height: 30px;
      margin-right: 30px;
    }
    span{
      margin: 0;
    }
    button{
      width: 70%;
      display: flex;
      align-items: center;
    }
  }
  table{
    width: 80%;
    margin-top: 40px;
  }
  .button-confirm-update{
    background: #88AE37;
    color: #414141;
    font: 700 20px 'Open Sans hebrew';
    border-radius:  53px;
    width: 310px;
    height: 55px;
    display: block;
    margin: 20px auto;
  }
}