<div class="header">
    <button type="button" ng-click="loginCtrl.changeView(null, true)" class="arrow-btn">
        <svg class="back-ico">
            <use xlink:href="#sp-icons-arrow-left-v2"></use>
        </svg>
    </button>

    <button type="button" ng-click="loginCtrl.backClose()" class="close-btn">
        <svg class="close-ico">
            <use xlink:href="#sp-icons-close"></use>
        </svg>
    </button>
</div>

<div class="retailer-logo">
    <img ng-src="{{::$root.config.retailer.logoUrl | image}}" />
</div>

<ng-switch on="loginCtrl.currentView">
    <form ng-switch-default class="form" name="loginForm" ng-submit="loginCtrl.login(loginForm, $event);" novalidate autocomplete="off">
        <h4 class="title" ng-style="{'color': loginOrRegisterCtrl.loginFormTitleColor}">{{loginOrRegisterCtrl.loginFormTitle}}</h4>

        <p class="addons-text">
            {{::'Do not have an account?' | translate}}
            <button type="button" class="link-btn" ng-click="loginOrRegisterCtrl.show(loginOrRegisterCtrl.tabs[1])">
                {{::'Sign up' | translate}}
            </button>
        </p>

        <p class="subtitle" ng-if="loginOrRegisterCtrl.loginFormSubtitle" ng-style="{'color': loginOrRegisterCtrl.loginFormSubtitleColor}">
            {{loginOrRegisterCtrl.loginFormSubtitle}}
        </p>

        <div class="login-err" ng-show="loginCtrl.showLoginErr || loginCtrl.showServerError">
            <span class="text" ng-if="loginCtrl.showLoginErr">
                {{::'Invalid Username or Password' | translate}}
            </span>
        </div>

        <sp-input class="floating-label" ng-class="{'has-errors': loginForm.email.$touched && loginForm.email.$invalid || loginCtrl.showLoginErr}">
            <label for="email">{{::'Email' | translate}} *</label>
            <input id="email" name="email" type="email" value="" ng-model="loginOrRegisterCtrl.user.email" autofocus required />
            <div class="error-message" ng-messages="(loginForm.email.$touched || loginForm.$submitted) && loginForm.email.$error" ng-if="loginForm.email.$invalid" aria-live="off">
                <div ng-message="required" role="alert" ng-bind=":: 'Please enter email' | translate"></div>
                <div ng-message="email" role="alert" ng-bind=":: 'Please enter a valid email address' | translate"></div>
            </div>
        </sp-input>

        <sp-input class="floating-label" ng-class="{'has-errors': loginForm.password.$touched && loginForm.password.$invalid || loginCtrl.showLoginErr}">
            <label for="password">{{::'Password' | translate}} *</label>
            <input id="password" name="password" type="password" ng-model="loginOrRegisterCtrl.user.password" required />
            <button type="button" class="ico-btn">
                <svg class="eye-off-ico">
                    <use xlink:href="#sp-icons-eye-off"></use>
                </svg>
            </button>
            <div class="error-message" ng-messages="(loginForm.password.$touched || loginForm.$submitted) && loginForm.password.$error" 
            ng-if="loginForm.password.$invalid" aria-live="off">
                <div ng-message="required" role="alert" ng-bind=":: (('Please enter' | translate) + ' ' + ('password' | translate))"></div>
            </div>
        </sp-input>

        <div ng-if="loginCtrl.showCaptcha">
            <sp-captcha is-invalid="true"></sp-captcha>
        </div>

        <button type="submit" class="block" ng-style="{'color': loginOrRegisterCtrl.loginFormBtnTextColor}">{{loginOrRegisterCtrl.loginFormBtnText}}</button>

        <div class="forgot-password">
            <a class="no-design" ng-attr-title="{{ 'Forgot password?' | translate }}" ng-click="loginCtrl.showForgotPassword();" href="">{{::'Forgot Your Password?' | translate}}</a>
        </div>
    </form>

    <form id="selectOtpOption" ng-switch-when="selectOtpOption" class="form selectOtpOption" name="selectOtpOption">
        <h4 class="title">
            {{::'Login with a one time password' | translate}}
        </h4>
        <div class="options-container">
            <div ng-if="loginCtrl.config.retailer.settings.allowLoginBySmsVerification === 'true'" class="option">
                <button type="button" class="block" ng-click="loginCtrl.showEnterSmsOrMail(loginCtrl.LoginWithOtpOptions.PHONE_NUMBER)">
                    <svg class="phone-ico">
                        <use xlink:href="#sp-icons-phone"></use>
                    </svg>
                    {{::'Continue with SMS' | translate}}
                </button>
            </div>
            <div ng-if="loginCtrl.config.retailer.settings.allowLoginByEmailVerification === 'true'" class="option">
                <button type="button" class="block" ng-click="loginCtrl.showEnterSmsOrMail(loginCtrl.LoginWithOtpOptions.EMAIL)">
                    <svg class="mailbox-white-ico">
                        <use xlink:href="#sp-icons-mailbox-white"></use>
                    </svg>
                    {{::'Continue with email' | translate}}
                </button>
            </div>
        </div>
    </form>

    <form id="enterOtpPhoneOrEmail" ng-switch-when="enterOtpPhoneOrEmail" class="form enterOtpPhoneOrEmail" name="enterOtpPhoneOrEmail" 
    ng-submit="loginCtrl.sendOneTimeCode(enterOtpPhoneOrEmail, $event)" autocomplete="off">
        <h4 class="title" ng-style="{'color': loginOrRegisterCtrl.otpFormTitleColor}">{{loginOrRegisterCtrl.otpFormTitle}}</h4>

        <p class="subtitle" ng-style="{'color': loginOrRegisterCtrl.otpFormSubtitleColor}">{{loginOrRegisterCtrl.otpFormSubtitle}}</p>

        <sp-input class="floating-label" 
        ng-if="loginOrRegisterCtrl.unifiedAuthSettings.loginAndRegistrationWithOTP.shouldUnifyOTPFieldForEmailAndPhone" 
        ng-class="{'has-errors': (enterOtpPhoneOrEmail.otpPhoneNumberOrEmail.$touched || enterOtpPhoneOrEmail.$submitted) && enterOtpPhoneOrEmail.otpPhoneNumberOrEmail.$invalid}">
            <label>{{::'Phone number or Email' | translate}} *</label>
            <input type="text" name="otpPhoneNumberOrEmail" autofocus
            ng-model="loginCtrl.otpPhoneOrEmail" 
            ng-pattern="/^(?:\d{10}|[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,})$/" required />
            <div class="error-message" 
            ng-messages="enterOtpPhoneOrEmail.otpPhoneNumberOrEmail.$error" 
            ng-show="(enterOtpPhoneOrEmail.otpPhoneNumberOrEmail.$touched || enterOtpPhoneOrEmail.$submitted) && enterOtpPhoneOrEmail.otpPhoneNumberOrEmail.$invalid" aria-live="off">
                <div ng-message="required" role="alert" ng-bind=":: 'Please enter phone number or email' | translate"></div>
                <div ng-message="pattern" role="alert" ng-bind=":: 'Please enter a valid phone number or email' | translate"></div>
            </div>
        </sp-input>

        <sp-input class="floating-label" ng-if="loginCtrl.otpOptionSelected === loginCtrl.LoginWithOtpOptions.EMAIL && !loginOrRegisterCtrl.unifiedAuthSettings.loginAndRegistrationWithOTP.shouldUnifyOTPFieldForEmailAndPhone" ng-class="{'has-errors': (enterOtpPhoneOrEmail.otpEmail.$touched || enterOtpPhoneOrEmail.$submitted) && enterOtpPhoneOrEmail.otpEmail.$invalid}">
            <label>{{::'Email' | translate}} *</label>
            <input type="email" name="otpEmail" ng-model="loginCtrl.otpPhoneOrEmail" required />
            <div class="error-message" ng-messages="enterOtpPhoneOrEmail.otpEmail.$error" ng-show="(enterOtpPhoneOrEmail.otpEmail.$touched || enterOtpPhoneOrEmail.$submitted) && enterOtpPhoneOrEmail.otpEmail.$invalid" aria-live="off">
                <div ng-message="required" role="alert" ng-bind="::'Please enter your email' | translate"></div>
                <div ng-message="email" role="alert" ng-bind="::'Please enter a valid email address' | translate"></div>
            </div>
        </sp-input>

        <sp-input class="floating-label" ng-if="loginCtrl.otpOptionSelected === loginCtrl.LoginWithOtpOptions.PHONE_NUMBER && !loginOrRegisterCtrl.unifiedAuthSettings.loginAndRegistrationWithOTP.shouldUnifyOTPFieldForEmailAndPhone" ng-class="{'has-errors': (enterOtpPhoneOrEmail.otpPhone.$touched || enterOtpPhoneOrEmail.$submitted) && enterOtpPhoneOrEmail.otpPhone.$invalid}">
            <label>{{::'Phone number' | translate}} *</label>
            <input ng-keydown="loginCtrl.filterNonDigits($event)" ng-change="loginCtrl.filterNonDigitsOnChange()" name="otpPhone" 
            ng-model="loginCtrl.otpPhoneOrEmail" type="text" minlength="10" maxlength="10" ng-pattern="/^\d{10}$/gm" required />
            <div class="error-message" ng-messages="(enterOtpPhoneOrEmail.otpPhone.$touched || enterOtpPhoneOrEmail.$submitted) && enterOtpPhoneOrEmail.otpPhone.$error" ng-if="(enterOtpPhoneOrEmail.otpPhone.$touched || enterOtpPhoneOrEmail.$submitted) && enterOtpPhoneOrEmail.otpPhone.$invalid" aria-live="off">
                <div ng-message="required" role="alert" ng-bind=":: ('Please enter your phone number') | translate"></div>
                <div ng-message="pattern" role="alert" ng-bind=":: 'Enter valid phone number (10 digits)' | translate"></div>
            </div>
        </sp-input>

        <button class="block" type="submit" ng-disable="!loginCtrl.otpPhoneOrEmail" ng-style="{'color': loginOrRegisterCtrl.otpFormBtnTextColor}">
            {{loginOrRegisterCtrl.otpFormBtnText}}
        </button>
    </form>

    <form id="otpError" ng-switch-when="otpError" class="form otpError" name="otpError">
        <h4 class="title" ng-style="{'color': loginOrRegisterCtrl.otpFormTitleColor}">{{loginOrRegisterCtrl.otpFormTitle}}</h4>

        <div class="otp-error-container">
            <div class="error-text" ng-bind="loginCtrl.showAccountSuspended ? 'Sorry, You have exceeded the number of attempts allowed for the current user.' : (loginCtrl.otpOptionSelected === loginCtrl.LoginWithOtpOptions.PHONE_NUMBER ? 'Sorry, we cannot proceed using this phone number' : 'Sorry, we cannot proceed using this email') | translate"></div>
            <p ng-if="!loginCtrl.showAccountSuspended">{{ ('please try again or contact customer service for assistance: XXX-XXXXXX' | translate).replace('XXX-XXXXXX', $root.config.retailer.contactPhone) }}</p>
            <p ng-if="loginCtrl.showAccountSuspended">{{ ('please try again later or contact customer service for assistance: XXX-XXXXXX' | translate).replace('{otpUserBlockMinutes}', loginCtrl.config.retailer.settings.otpUserBlockMinutes).replace('XXX-XXXXXX', $root.config.retailer.contactPhone) }}</p>
        </div>

        <button type="submit" class="block" ng-click="loginCtrl.goToEnterOtp()">{{::'Try again' | translate}}</button>
    </form>

    <form id="enterCodeToValidate" ng-switch-when="enterCodeToValidate" class="form enterCodeToValidate" name="enterCodeToValidate" ng-submit="loginCtrl.validateOtpCode(enterCodeToValidate, $event)">
        <h4 class="title">{{loginCtrl.enterCodeToValidateFormTitle}}</h4>

        <p class="subtitle" ng-bind-html="loginCtrl.enterCodeToValidateFormSubtitle"></p>

        <p class="invalid-or-expired-text" ng-if="loginCtrl.showInvalidOrExpiredText">{{::'Invalid OTP code. Please try again' | translate}}</p>

        <div class="otp-code-input" style="direction: ltr">
            <input ng-repeat="i in loginCtrl.numberOfDigitsForOTPCode track by $index" type="text" minlength="1" maxlength="1" class="input" 
            md-autofocus="$index === 0"
            ng-model="loginCtrl.otpCodeInputs[$index]" 
            ng-change="loginCtrl.setFocus($index)"
            ng-paste="loginCtrl.handlePasteEvent($event)"
            required />
        </div>

        <button type="submit" ng-class="{'btn-disabled': enterCodeToValidate.$invalid}" class="block" ng-disabled="enterCodeToValidate.$invalid">{{loginCtrl.enterCodeToValidateFormButton}}</button>

        <p class="addons-text">
            {{'Didn\'t receive the code?' | translate}}
            <button type="button" class="link-btn" ng-click="loginCtrl.sendOneTimeCode()">
                {{'Send again' | translate}}
            </button>
        </p>
    </form>

    <form id="forgotPasswordForm" ng-switch-when="forgottenPassword" class="form forgotPasswordForm" name="forgotPasswordForm" 
    ng-submit="loginCtrl.getForgotPasswordCode(forgotPasswordForm, $event);" role="region" aria-label="{{ ('Forgot password?' | translate).replace('?', '') }}" tabindex="0">
        <div class="server-err-msg"></div>

        <div role="alert" aria-atomic="true" aria-live="polite" tabindex="0" class="reset-password-sent" ng-if="loginCtrl.showForgotPasswordSentAlert">
            <div ng-bind="::'Please check your inbox and follow the instructions' | translate"></div>
            <div class="text-error">{{::'If you haven\'t received an email, please check if you mistyped your email address or contact customer service' | translate}} {{config.retailer.contactPhone || '' }}</div>
        </div>

        <sp-input class="floating-label" ng-class="{'has-errors': forgotPasswordForm.email.$touched && forgotPasswordForm.email.$invalid}">
            <label for="Email">{{::'Email' | translate}} *</label>
            <input id="Email" name="email" type="email" ng-model="loginOrRegisterCtrl.user.email" aria-describedby="forgotPasswordForm" required />
            <div class="error-message" ng-messages="(forgotPasswordForm.email.$touched || forgotPasswordForm.$submitted) && forgotPasswordForm.email.$error" 
            ng-if="forgotPasswordForm.email.$invalid" aria-live="off">
                <div ng-message="required" role="alert" ng-bind=":: (('Please enter' | translate) + ' ' + ('Email' | translate))"></div>
                <div ng-message="email" role="alert" ng-bind=":: 'Please enter a valid email address' | translate"></div>
            </div>
        </sp-input>

        <sp-captcha ng-if="loginCtrl.showResetCaptcha" is-invalid="loginCtrl.captchaIsInvalid"></sp-captcha>

        <button class="block" type="submit">{{::'Reset Password' | translate}}</button>
    </form>

    <form ng-switch-when="resetPassword" class="form reset-password-form" name="resetPasswordForm" ng-submit="loginCtrl.savePassword(resetPasswordForm, $event);" novalidate>
        <sp-input class="floating-label" ng-class="{'has-errors': resetPasswordForm.newPassword.$touched && resetPasswordForm.newPassword.$invalid}">
            <label for="newPassword">{{::'New password' | translate}} *</label>
            <input id="newPassword" name="newPassword" type="password" ng-model="loginCtrl.resetData.newPassword" minlength="6" maxlength="30" required ng-pattern="/(?=.*[0-9])(?=.*[^0-9])/" />
            <button type="button" class="ico-btn">
                <svg class="eye-off-ico">
                    <use xlink:href="#sp-icons-eye-off"></use>
                </svg>
            </button>
            <div class="error-message" ng-messages="(resetPasswordForm.newPassword.$touched || resetPasswordForm.$submitted) && resetPasswordForm.newPassword.$error" ng-if="resetPasswordForm.newPassword.$invalid" aria-live="off">
                <div ng-message="required" role="alert" ng-bind=":: (('Please enter' | translate) + ' ' + ('Password' | translate))"></div>
                <div ng-message="minlength" role="alert" ng-bind=":: ('password: minlength error') | translate"></div>
                <div ng-message="minlength" role="alert" ng-bind=":: ('password: maxlength error') | translate"></div>
                <div ng-message="pattern" role="alert" ng-bind=":: ('Password must contain at least one numeric digit and one character') | translate"></div>
            </div>
        </sp-input>

        <sp-input class="floating-label" ng-class="{'has-errors': resetPasswordForm.confirmPassword.$touched && resetPasswordForm.confirmPassword.$invalid}">
            <label for="confirmPassword">{{::'Confirm password' | translate}} *</label>
            <input id="confirmPassword" name="confirmPassword" type="password" 
            ng-model="loginCtrl.resetData.confirmPassword" required confirm-password="loginCtrl.resetData.newPassword" />
            <button type="button" class="ico-btn">
                <svg class="eye-off-ico">
                    <use xlink:href="#sp-icons-eye-off"></use>
                </svg>
            </button>
            <div class="error-message" 
            ng-messages="(resetPasswordForm.confirmPassword.$touched || resetPasswordForm.$submitted) && resetPasswordForm.confirmPassword.$error" 
            ng-if="resetPasswordForm.confirmPassword.$invalid" aria-live="off">
                <div ng-message="required" role="alert" ng-bind=":: (('Please enter' | translate) + ' ' + ('Confirm Password' | translate))"></div>
                <div ng-message="equal" role="alert" ng-bind=":: ('The passwords must match') | translate"></div>
            </div>
        </sp-input>

        <sp-captcha ng-if="loginCtrl.showSaveCaptcha" is-invalid="loginCtrl.captchaIsInvalid"></sp-captcha>

        <button class="block" type="submit">{{::'Reset password' | translate}}</button>
    </form>

    <form ng-switch-when="chooseUniqueEmail" class="chooseUniqueEmail" name="chooseUniqueEmail" ng-submit="loginCtrl.validateOtpCode(chooseUniqueEmail, $event)">
        <h4 class="title">
            {{loginOrRegisterCtrl.chooseUniqueEmailTitle}}
        </h4>

        <div class="alert-wrapper">
            <span>
                <svg class="info-ico">
                    <use xlink:href="#sp-icons-info"></use>
                </svg>
            </span>
            <p>{{ loginOrRegisterCtrl.chooseUniqueEmailSubtitle }}</p>
        </div>

        <sp-radio options="loginCtrl.duplicatedEmails" sp-model="loginCtrl.selectedUniqueEmail" aria-label="{{'Choose unique email' | translate}}"></sp-radio>

        <p class="confirmation-text">
            {{'Are you sure you want to continue with this email?' | translate}}
        </p>

        <button type="submit" class="block" ng-disabled="!loginCtrl.selectedUniqueEmail">{{::'Continue' | translate}}</button>
    </form>

    <form ng-switch-when="enterFacebookRegistrationForm" class="enterFacebookRegistrationForm" name="enterFacebookRegistrationForm" ng-submit="loginCtrl.sendOneTimeCode(enterFacebookRegistrationForm, $event)">
        <h4 class="title">{{loginOrRegisterCtrl.facebookRegistrationFormTitle}}</h4>

        <p class="subtitle">{{loginOrRegisterCtrl.facebookRegistrationFormSubtitle}}</p>

        <sp-input class="floating-label" ng-class="{'has-errors': (enterFacebookRegistrationForm.otpPhoneNumberOrEmail.$touched || enterFacebookRegistrationForm.$submitted) && enterFacebookRegistrationForm.otpPhoneNumberOrEmail.$invalid}">
            <label>{{::'Phone number' | translate}} *</label>
            <input type="text" name="otpPhoneNumberOrEmail" ng-model="loginCtrl.otpPhoneOrEmail" required ng-pattern="/^\d{10}$/gm" minlength="10" maxlength="10" />
            <div class="error-message" ng-messages="enterFacebookRegistrationForm.otpPhoneNumberOrEmail.$error" 
            ng-show="(enterFacebookRegistrationForm.otpPhoneNumberOrEmail.$touched || enterFacebookRegistrationForm.$submitted) && enterFacebookRegistrationForm.otpPhoneNumberOrEmail.$invalid" aria-live="off">
                <div ng-message="required" role="alert" ng-bind=":: 'Please enter your phone number' | translate"></div>
                <div ng-message="pattern" role="alert" ng-bind=":: 'Enter valid phone number (10 digits)' | translate"></div>
            </div>
        </sp-input>

        <sp-captcha is-invalid="loginCtrl.captchaIsInvalid"></sp-captcha>

        <button type="submit" class="block">{{loginOrRegisterCtrl.facebookRegistrationFormBtnText}}</button>
    </form>

    <div role="alert" aria-atomic="true" aria-live="polite" tabindex="0" ng-switch-when="resetPasswordError" class="reset-code-err-wrapper">
        <div class="reset-code-err">{{'This action cannot be completed at this time' | translate}}</div>
        <button type="button" ng-click="loginCtrl.backToLogin()" class="block">{{::'Back to login' | translate}}</button>
    </div>
</ng-switch>

<div class="footer" layout="column" ng-show="loginOrRegisterCtrl.showFooter">
    <div class="divider-with-middel-text">{{'Or' | translate}}</div>

    <ng-switch on="loginOrRegisterCtrl.currentView">
        <button type="button" class="action-btn" ng-click="loginCtrl.changeView(loginOrRegisterCtrl.LoginOrRegisterScreens.DEFAULT)" 
        ng-if="$root.config.retailer.settings.allowLoginByEmailVerification === 'true'" 
        ng-switch-when="enterOtpPhoneOrEmail|selectOtpOption" ng-switch-when-separator="|">
            <svg class="mailbox-ico">
                <use xlink:href="#sp-icons-mailbox"></use>
            </svg>
            {{::'Continue with Email and password' | translate}}
        </button>

        <button type="button" class="action-btn" ng-click="loginCtrl.changeView(loginOrRegisterCtrl.LoginOrRegisterScreens.SELECT_OTP_OPTION)" ng-switch-when="default" ng-switch-when-separator="|">
            <svg class="otp-ico">
                <use xlink:href="#sp-icons-otp"></use>
            </svg>
            <span>
                {{::'Continue with a one time password' | translate}}
            </span>
        </button>
    </ng-switch>

    <button type="button" class="action-btn" ng-click="loginCtrl.changeView(loginOrRegisterCtrl.LoginOrRegisterScreens.ENTER_FACEBOOK_REGISTRATION_FORM)" ng-if="loginOrRegisterCtrl.unifiedAuthSettings.facebookRegistrationForm.shouldEnableFacebookRegistrationForm">
        <svg class="fb-ico">
            <use xlink:href="#sp-icons-facebook-v2"></use>
        </svg>
        {{::'Continue with Facebook' | translate}}
    </button>
</div>