<div class="cart secondary-font" ng-init="order = chunk[0]" ng-class="{'selected': data.order.id == order.id}"
     ng-click="functions.openHistoryOrder(order.id);" ng-mouseenter="functions.openHistoryOrder(order.id, true);"
     ng-mouseleave="functions.closeOrderHistory(true)">
    <header class="default-text-align">
        <div class="date">{{order.timePlaced | date:($root.config.isUs ? 'MM.dd.yyyy' : 'dd.MM.yyyy'):'UTC'}}</div>
        <div class="day">{{order.timePlaced | date:'EEEE':'UTC' | translate}}</div>
    </header>

    <section>
        <div class="lines">
            <div class="line" ng-repeat="index in [1, 2, 3, 4, 5, 6, 7, 8]">
                <span class="box"></span>
                <span class="border"></span>
            </div>
        </div>
    </section>

    <footer>
        <div class="items-count">
            {{order.itemsCount + ' ' + ('Items' | translate)}}
        </div>
    </footer>
</div>