<span ng-class="{'image-wrapper': !simpleImage}">
    <span class="top-part-opacity"></span>
    <div ng-if="!simpleImage && details" class="details show-on-hover">
        <span class="for-vertical-align"></span><!--
        -->
        <!-- <img src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/product-details.png" alt="" role="presentation"/> -->
    </div>
    <div ng-if="!simpleImage" class="image" ng-class="{'coupon-image': isCoupon, 'disabled': isProductOutOfStock == 'true' || isProductOutOfStock == true}" ng-style="{'background-image': 'url(' + imageUrl + ')'}"></div>
    <img ng-if="simpleImage" ng-src="{{imageUrl}}" alt="" ng-class="{'disabled': isProductOutOfStock === 'true'}"/>
    <span class="out-of-stock out-of-stock-tag" ng-if="!((line.product._suggestions && line.product._suggestions.length > 0) || (product._suggestions && product._suggestions.length > 0) || (product.item._suggestions && product.item._suggestions.length > 0)) && ((line.product.branch.isOutOfStock || product.branch.isOutOfStock || product.item.branch.isOutOfStock) || (isProductOutOfStock === 'true' || isNeedToShowOutOfStockLabel === 'true')) && !showReplacementLabel">{{'Out of stock' | translate}}</span>

    <span class="general-image-wrapper" ng-if="((line.product._suggestions && line.product._suggestions.length > 0) || showReplacementLabel || (product._suggestions && product._suggestions.length > 0) || (product.item._suggestions && product.item._suggestions.length > 0)) && ((line.product.showOutOfStock || product.showOutOfStock || product.item.branch.isOutOfStock) || (isProductOutOfStock === 'true' || isNeedToShowOutOfStockLabel === 'true'))">
        <span class="out-of-stock suggestions text-1" ng-click="openSuggestions($event)">{{'Out of Stock' | translate}}</span>
        <span class="out-of-stock suggestions text-2" ng-click="openSuggestions($event)">
            <span><svg class="replace-arrow" focusable="false"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{'#sp-icons-replace-arrow-' + $root.config.language.direction}}"></use></svg></span>
            <span>{{'replace_2' | translate}}</span>
        </span>
        <span class="suggestions outline">
            <svg class="outline-large" focusable="false"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#sp-icons-out-of-stock-outline"></use></svg>
            <svg class="outline-small" focusable="false"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#sp-icons-out-of-stock-outline-small"></use></svg>
        </span>
    </span>
</span>
