@mixin full-width-center {
  width: 100%;
  right: 0;
  left: 0;
  padding: 0;
  transform: none;
}

.image-wrapper {
  display: block;
  position: relative;
  text-align: center;
  height: 100%;

  .top-part-opacity {
    display: none;
  }

  > .image {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    &.coupon-image{
      width: 65% !important;
      margin: auto;
    }
  }

  > div.details {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    text-align: center;
    @include transition(opacity 0.2s);
    @include opacity(0);

    > img {
      display: inline-block;
      vertical-align: middle;
    }
  }
}

$in-cart-selector: '.product-in-cart > .product-wrapper > .product-data &';
$in-cart-selector-rtl: '.rtl .product-in-cart > .product-wrapper > .product-data &';
$in-cart-selector-k: 'html div.sidenav > section.cart >.collapsible > section.cart .product-in-cart > .product-content > .image &';
$in-dialog-selector: '.dialog-wrapper .dialog.product-suggestions-popup .dialog-body &';
$cart-summary-p: 'html.cart-summary section.view .summary-content .sp-list-items-wrapper .items-table & ';
$cart-summary-k: 'html.cart-summary section.view .cart-summary-wrapper .sp-list-items-wrapper & ';
$smart-list-k: 'html.smart-list .smart-list-container .smart-list-table & ';
$smart-list-p: 'html.smart-list .smart-list-page-wrapper .smart-list-table & ';
$shop-list: 'html.shop-list .sp-table-shopping-list & ';
$shop-list-k: 'html.shop-list .shop-list-container .sp-table-shopping-list & ';
$shop-list-k-rtl: 'html.rtl.shop-list .shop-list-container .sp-table-shopping-list & ';
$order-history: 'html.order sp-table & ';
$order-history-rtl: 'html.rtl.order sp-table & ';
$single-order: 'html.single-order sp-table & ';
$history-order-k: 'html div.sidenav > section.cart.history-order-shown >.history-order & ';
$large-products-carosel: '.content-wrapper > .large-products-carousel .carousel-component-product-item &';
$category-page: '.category-products-wrapper .product-item & ';
// $specials-dialog: '.dialog-wrapper .items-wrapper .item &'; // this was too general
$specials-dialog: 'div.dialog.special-details > div.dialog-body .items-wrapper .item &';
$search-page: '.search-products-wrapper .items-wrapper &';
$last-minute-recommendation: '.last-minute-recommendations .products-carousel .product-item &';
$special-carosel: '.home-page-wrapper .content-wrapper .specials-carousel &';
$special-page: '.specials-wrapper .special-item .special-product &';
$search-bar: '.search-wrapper .sp-search-autocomplete .products &';

  $smart-list: #{$smart-list-p}, #{$smart-list-k};
  $cart-summary: #{$cart-summary-p}, #{$cart-summary-k};
  $all: #{$in-cart-selector}, #{$in-cart-selector-k}, #{$in-dialog-selector}, #{$cart-summary}, #{$smart-list}, #{$order-history}, #{$shop-list},
  #{$large-products-carosel}, #{$category-page}, #{$specials-dialog}, #{$search-page},
  #{$last-minute-recommendation}, #{$special-carosel}, #{$special-page}, #{$search-bar}, #{$single-order}, #{$history-order-k};


.general-image-wrapper {
  width: 100%;

  #{$in-cart-selector} {
    font-size: 0.8em;
  }

#{$in-cart-selector-k} {
    position: absolute;
    height: 6em;
    width: 6em;
    right: 0;
    font-size: 0.85em;
  }

  #{$cart-summary} {
    position: absolute;
    height: 6em;
    width: 6em;
    left: 20%;
    font-size: 0.88em;
  }

  #{$cart-summary-p} {
    top: 21%;
    min-height: 6em;
  }

  #{$cart-summary-k} {
    top: 50%;
    transform: translateY(-50%);
  }

  #{$order-history} {
    top: 0;
    min-height: 6em;
  }

  > span.out-of-stock.suggestions {
    #{$all} {
      z-index: 3;
      background: none;
      font-size: 0.68em;
      font-weight: 700;

      &.text-1 {
        color: #F86B2F;
      }

      &.text-2 {
        color: #505050;
      }
    }

    #{$large-products-carosel} {
      left: 50%;
      transform: translateX(-50%);
      &.text-1 {
        top: 55%;
      }

      &.text-2 {
        top: 61%;
      }
    }

    #{$category-page} {
      left: 50%;
      transform: translateX(-50%);
      &.text-1 {
        top: 44%;
      }

      &.text-2 {
        top: 53%;
      }
    }

    #{$specials-dialog} {
      left: 50%;
      transform: translateX(-50%);
      &.text-1 {
        top: 46%;
      }

      &.text-2 {
        top: 55%;
      }
    }

    #{$search-page} {
      left: 50%;
      transform: translateX(-50%);
      &.text-1 {
        top: 43%;
      }

      &.text-2 {
        top: 52%;
      }
    }

    #{$last-minute-recommendation} {
      left: 50%;
      transform: translateX(-50%);
      width: 170%;
      &.text-1 {
        top: 42%;
      }

      &.text-2 {
        top: 51%;
      }
    }

    #{$special-carosel} {
      left: 50%;
      &.text-1 {
        top: 46%;
      }

      &.text-2 {
        top: 55%;
      }
    }

    #{$special-page} {
      left: 50%;
      &.text-1 {
        top: 46%;
      }

      &.text-2 {
        top: 55%;
      }
    }

    #{$search-bar} {
      left: 50%;
      &.text-1 {
        top: 35%;
      }

      &.text-2 {
        top: 62%;
      }
    }

    #{$in-cart-selector} {
      right: 0;
      // width: 7.2em; // dont use this for now may need in future

      left: -0.4em;

      &.text-1 {
        top: 61%;
      }

      &.text-2 {
        top: 77%;
      }
    }

    #{$in-cart-selector-rtl} {
      right: -0.4em;
      left: 0;
    }

    #{$in-cart-selector-k} {
      left: 50%;

      &.text-1 {
        top: 55%;
      }

      &.text-2 {
        top: 70%;
      }
    }

    #{$in-dialog-selector} {
      &.text-1 {
        top: 41%;
        font-size: 0.7em;
        width: 7.5em;
      }

      &.text-2 {
        display: none;
      }
    }

    #{$cart-summary-p} {
      left: 2.1em;

      &.text-1 {
        top: 56%;
      }

      &.text-2 {
        top: 70%;
      }
    }

    #{$cart-summary-k} {
      left: 32%;
      &.text-1 {
        top: 60%;
      }

      &.text-2 {
        top: 77%;
      }
    }

    #{$smart-list} {
      &.text-1 {
        top: 57%;
      }
    }

    #{$smart-list-p} {
      &.text-2 {
        top: 73%;
      }
    }

    #{$smart-list-k} {
      &.text-2 {
        top: 68%;
      }
    }

    #{$order-history} {
      @include full-width-center;

      &.text-1 {
        top: 55%;
      }

      &.text-2 {
        top: 72%;
      }
    }

    #{$single-order} {
      @include full-width-center;

      &.text-1 {
        top: 55%;
      }

      &.text-2 {
        top: 72%;
      }
    }

    #{$history-order-k} {
      @include full-width-center;

      &.text-1 {
        top: 55%;
      }

      &.text-2 {
        top: 72%;
      }
    }

    #{$shop-list} {
      @include full-width-center;

      &.text-1 {
        top: 55%;
      }

      &.text-2 {
        top: 70%;
      }
    }

    #{$shop-list-k} {
      font-size: 0.65em;

      &.text-1 {
        top: 58%;
      }

      &.text-2 {
        top: 75%;
      }
    }
  }

  > span.suggestions.outline {
    #{$large-products-carosel} {
      left: 50%;
      transform: translateX(-50%);
      top: 46%;
    }
    #{$category-page} {
      left: 50%;
      transform: translateX(-50%);
    }
    #{$specials-dialog} {
      left: 50%;
      transform: translateX(-50%);
      top: 33%;
    }
    #{$search-page} {
      left: 50%;
      transform: translateX(-50%);
      top: 29%;
    }
    #{$last-minute-recommendation} {
      left: 50%;
      transform: translateX(-50%);
      top: 30%;
    }
    #{$special-carosel} {
      left: 50%;
      transform: translateX(-50%);
      top: 30%;
    }
    #{$special-page} {
      left: 50%;
      transform: translateX(-50%);
      top: 30%;
    }
    #{$search-bar} {
      left: 50%;
      transform: translateX(-50%);
      top: -7%;
    }
  }

  > span.suggestions {
    // display: none;
    position: absolute;
    top: 30%;
    left: -1.2em;
    cursor: pointer;
    z-index: 2;

    #{$all} {
      display: initial;
    }

    #{$in-cart-selector-k} {
      left: 0;
    }

    #{$in-dialog-selector} {
      left: 0;
      right: 0;

      &.out-of-stock {
        width: 100% !important;
      }

      > svg.outline-small {
        display: initial;
      }

      > svg.outline-large {
        display: none;
      }
    }

    #{$in-cart-selector} {
      top: 33%;
      font-size: 1em;
      transform: none;
      right: 0;
      left: -0.4em;
    }

    #{$in-cart-selector-rtl} {
      right: -0.4em;
      left: 0;
    }

    #{$in-cart-selector-rtl} {
      // left: 0;

      &.text-1 {
        // left: 4.2em;
      }

      &.text-2 {
        // left: 4.2em;
      }
    }

    #{$smart-list} {
      left: auto;
    }

    #{$order-history} {
      top: 30%;
      left: 0;
      right: 0;
    }

    #{$single-order} {
      top: 30%;
      left: 0;
      right: 0;
    }

    #{$shop-list} {
      right: 0;
      left: 0;
    }

    #{$shop-list-k} {
      @include full-width-center;

      svg {
        position: initial !important;

        &.outline-large {
          width: 100% !important;
          height: 4.2em !important;
        }
      }
    }

    #{$cart-summary-p} {
      left: -1.5em;
    }

    #{$shop-list-k-rtl} {
      left: -3em;

      &.text-1 {
        left: 2.6em;
      }

      &.text-2 {
        left: 3em;
      }
    }

    > span > svg.replace-arrow {
      height: 1em !important;
      width: 1.1em !important;
      stroke-width: 0.5;
      stroke: #505050;
      fill: #505050 !important;
      overflow: visible;
      position: initial !important;
    }

    > svg.outline-large, svg.outline-small {
      height: 4em !important;
      width: 6em !important;
      right: auto !important;

      &.outline-small {
        display: none;
      }

      #{$cart-summary} {
        max-height: none;
        max-width: none;
      }

      #{$cart-summary-k} {
        height: 5em !important;
        width: 6.5em !important;
      }
    }
  }
}

.image-wrapper {
  #{$cart-summary-p} {
    min-height: 7em;
  }

  #{$shop-list} {
    min-height: 5.5em;
  }
}
