<md-dialog class="delivery-fee-info">
  <md-content>
    <div class="bottom-wrap">
      <div ng-bind-html="displayText" class="description"></div>
      <div class="ok-button action" ng-click="hide()">
        <span ng-bind="'Close' | translate"></span>
      </div>
    </div>
  </md-content>
</md-dialog>