$green: #88AE37;

html .dialog-wrapper > .dialog.delivery-fee-info-dialog > .dialog-body {
  width: 21em;
  padding: 2em 4rem;

  .delivery-fee-info {

    .bottom-wrap {
      padding: 0 2rem;
    }

    .action {
      cursor: pointer;
      text-align: center;
      color: #ffffff;
      border-radius: 5px;
      padding: 0.5em;
      font-weight: 600;

      &.ok-button {
        border-radius: 53px;
        padding: 1em;
        width: 50%;
        margin: auto;
      }

      span {
        display: inline-block;
      }
    }

    .header {
      text-align: center;
      font-size: 1.5em;
      line-height: 1.3em;
      font-weight: 600;
      margin-bottom: $bottom-spacing;
      padding: 0 0.5rem;
    }

    .description {
      text-align: center;
      line-height: 1.4em;
      margin-bottom: 1em;
    }

    .bold {
      font-weight: 600;
    }
  }
}