$circleSize: 2.7em;
$circleMarginBorderHeight: 0.17em;
$circleBorderWidth: 2px;
$bubbleClosePadding: 2.7em;

.sp-bubble.home-page-bubble {
  z-index: 90;
  @include animation(slideInLeft 0.5s both ease);

  width: 22.5em;
  overflow: hidden;
  @include box-sizing(border-box);
  padding: 0 1em;

  .bubble-close {
    background-image: url('https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/close-popup.png');
    background-position: center center;
    background-repeat: no-repeat;
    width: 21px;
    height: 21px;
    position: absolute;
    z-index: 91;
    top: 2.4em;
    left: auto;
    right: $bubbleClosePadding;
    cursor: pointer;
    zoom: 0.6;
  }


  .arrow-wrapper {
    display: block;
    position: relative;
    height: 1.3em;
    margin-bottom: -1px;
    border-color: rgba(204, 204, 204, 0.8);
    border-style: solid;
    border-left-width: 1px;
    margin-top: -2px;
    overflow: hidden;
    z-index: 91;

    > .arrow {
      border: 1px solid #cccccc;
      display: inline-block;
      vertical-align: bottom;
      width: 1.7em;
      height: 2.1em;
      margin-bottom: -1.7em;
      margin-left: -1em;
      @include rotate(45);
      background-color: #ffffff;
    }
  }

  .home-page-bubble-nav {
    position: absolute;
    z-index: 91;
    top: 1.4em;
    left: auto;
    right: 1.2em;
    width: 4.4em;
    height: 1.2em;

    .nav-counter {
      display: inline-block;
      height: 1.2em;
      width: 2.4em;
      text-align: center;
      color: #4a4a4a;
      font-size: 0.9em;
    }

    .nav-arrow {
      height: 0.8em;
      width: 1em;
      cursor: pointer;
      margin-top: 0.1em;
      fill: #4a4a4a;

      &.nav-arrow-left {
        float: right;
        transform: scale(-1);
      }

      &.nav-arrow-right {
        float: left;
        transform: scale(1);
      }
    }
  }

  .bubble-bg {
    background-color: #ffffff;
  }

  .home-page-bubble-message {
    @include animation(fadeIn 0.5s both ease);
    display: block;
    min-height: 12em;
    max-height: 16em;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #ffffff;
    border: 1px solid rgba(204, 204, 204, 0.6);
    padding: 0.7em 1.5em 1em 1.5em;
    line-height: 1.4em;
    position: relative;

    &::-webkit-scrollbar {
      background-color: transparent;
      width: 8px;
    }

    &::-webkit-scrollbar-thumb {
      @include border-radius(5px);
      background-color: rgba(96, 96, 96, 0.2);

      &:hover {
        background-color: rgba(96, 96, 96, 0.7);
      }

      &:active {
        background-color: rgba(96, 96, 96, 1);
      }
    }

    &.with-paging h4 {
      margin: 0.6em 0 0 0;
    }

    h4 {
      padding: 0 0 0.8em 0;
      line-height: 1.1em;
      font-size: 1.4em;
    }

    em, i {
      font-style: italic;
    }

    p {
      padding-bottom: 0.4em;
    }

    u {
      text-decoration: underline;
    }
  }

  .edit-order-bubble {
    @include animation(fadeIn 0.5s both ease);

    .order-details-wrapper {
      //border: 1px solid #cccccc;
      border: 1px solid rgba(204, 204, 204, 0.6);
      background-color: #ffffff;
      padding: 1em 1.5em 0.6em 1.5em;

      .header {
        .title {
          font-weight: bold;
          padding-bottom: 1em;
        }

        .order-details {
          .order-number {
            font-size: 1em;
            font-weight: 400;;
          }

          .dote {
            color: #ccc;
          }

          .view-order {
            font-size: 0.8em;
            cursor: pointer;
            //color: #878787;
            font-weight: 700;
          }
        }

        .delivery-time {
          font-size: 0.8em;
          padding-top: 0.5em;
          font-weight: 400;
          // color: #878787;

          .times {
            direction: ltr;
            display: inline-block;
          }
        }
      }

      .order-status-wrapper {
        // padding: 1.5em 0 1em 0;
        // padding: 1em;
        // padding-right: 1em;
        // padding-left: 1em;
        padding-top: 1.5em;
        padding-bottom: 1em;
        display: inline-block;

        .circle {
          display: inline-block;
          position: relative;
          height: $circleSize;
          width: $circleSize;
          text-align: center;
          // border: $circleBorderWidth solid;
          @include border-radius(100%);
          margin-bottom: 0.7em;
          svg {
            display: inline-block;
            width: 60%;
            height: 100%;
          }

          .title {
            font-size: 0.71em;
            font-weight: 700;
          }

          img {
            display: inline-block;
            vertical-align: middle;
            height: 1.1em;
          }

          .label-wrapper {
            display: block;
            text-align: center;
            position: absolute;
            top: 100%;
            left: -25%;
            width: 150%;
            padding-top: 0.2em;
            height: auto;

            .label {
              display: inline-block;
              vertical-align: middle;
              font-size: 0.7em;
            }
          }

          &.border {
            margin-right: $circleSize;

            &:after {
              content: '';
              position: absolute;
              top: 50%;
              left: 105%;
              height: 2px;
              // height: $circleMarginBorderHeight;
              width: $circleSize;
              margin-top: -1 * ($circleBorderWidth / 2);
              margin-right: $circleBorderWidth;
            }
          }
        }

        &.active .label-wrapper .label {
          font-weight: bold;
        }
      }

      .help {
        // text-align: center;
        color: #878787;
        font-size: 0.82em;
        font-weight: normal;
        padding-top: 1.3em;
        padding-bottom: 0;
        line-height: 0.4em;

        .phoneNumber {
          direction: ltr;
          display: inline-block;
        }
      }
    }

    &.with-paging .order-details-wrapper {
      padding-top: 1.8em;
    }

    .forgot-something {
      width: 100%;
      display: flex;
      align-items: center;
      height: 3.3em;
      @include box-sizing(border-box);
      color: #ffffff;
      padding: 0 1em;

      > .title-wrapper, > .btn-wrapper {
        @include box-sizing(border-box);
      }

      > .title-wrapper {
        width: 55%;
        font-size: 0.9em;
        line-height: 1.3;
        white-space: nowrap;
        display: flex;
        align-items: center;

        > .title {
          flex: 1 1 auto;
          white-space: normal;
          font-size: 0.9em;
          padding: 0 0.5em;
        }
      }

      > .btn-wrapper {
        width: 45%;

        button {
          font-size: 0.8em;
          font-weight: normal;
          line-height: 1;
          border: 1px solid #ffffff;
          padding: 0.7em 1em;
          color: #ffffff;
        }
      }
    }
  }
}

.rtl {
  .sp-bubble.home-page-bubble {
    @include animation(slideInRight 0.5s both ease);

    .bubble-close {
      left: $bubbleClosePadding;
      right: auto;
    }

    .arrow-wrapper {
      border-left-width: 0;
      border-color: #cccccc;
      border-style: solid;
      border-right-width: 1px;

      > .arrow {
        margin-left: 0;
        margin-right: -1em;
        @include rotate(-45);
      }
    }

    .home-page-bubble-nav {
      left: 1.2em;
      right: auto;

      .nav-arrow-left {
        float: left;
        transform: scale(1);
      }

      .nav-arrow-right {
        float: right;
        transform: scale(-1);
      }
    }

    .edit-order-bubble {
      .order-details-wrapper {

        padding: 1em 1.5em 0.6em 0;
      
        .order-status-wrapper {
          .circle {
            img {
              &.flip {
                @include flipH();
              }
            }

            // .label-wrapper {
            //   left: auto;
            //   right: 0;
            // }

            &.border {
              margin-right: 0;
              margin-left: $circleSize;

              &:after {
                right: 100%;
                left: auto;
                margin-right: 0;
                margin-left: $circleBorderWidth;
              }
            }
          }
        }
      }
    }
  }
}
