.edit-order-bubble {
  .order-details-wrapper {
    .header {
      .order-number {
        color: $mainColor;
      }

      .view-order {
        color: $mainColor;
      }
    }

    .order-status-wrapper {
      .circle {
        &.active {
          border: 2px solid $mainColor;
        }
        &:not(.active) {
          border: 2px solid #A0A0A0;
        }
        &.border {
          &.active {
            &:after {
              background-color: $mainColor;

              //-webkit-transition: background-color 10s;
             // transition: background-color 10s;
            }
          }

          &:not(.active) {
            &:after {
              background-color: #A0A0A0;
            }
          }
        }
        &.active {
          svg {
            fill: $mainColor;
          }
        // animation-name: change-bg-color;
        //  animation-duration: 2s;

          .label-wrapper .label {
            font-weight: bold;
            color: $mainColor;
          }
        }
        &:not(.active) {
          svg {
            fill: #A0A0A0;
          }
          .label-wrapper.label{
            font-weight: normal;
            color: #878787;
          }
        }
        .title {
          font-family: $defaultFontFamily;
        }
      }
    }

    .order-delivery-time {
      //.delivery-time-header {
      //  font-family: $defaultFontFamily;
      //}

      //.delivery-time {
      //  color: $mainColor;
      //}
    }

    .help {
      font-family: $defaultFontFamily;
    }
  }

  .forgot-something {
    background-color: $mainColor;

    > .title-wrapper {
      > .title {
        font-family: $defaultFontFamily;
      }
    }

    > .btn-wrapper {
      button{
        font-family: $defaultFontFamily;
      }
      button[disabled] {
        opacity: 0.3;
      }

      .statusDisable{
        opacity: 0.3;
      }
    }
  }
}




//@keyframes change-bg-color {
//  from {
//    background-color: red;
//  }
//
//  to {
//    background-color: $mainColor;
//  }
//}