.sp-password {
  position: relative;

  > input {
    padding-right: 1em;
    width: 100%;
    @include box-sizing(border-box);
  }

  > .eye-icon {
    position: absolute;
    height: 100%;
    width: 1em;
    right: 1em;
    top: 0;
    cursor: pointer;
    background-size: 100% auto;
    background-image: url('https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/eye-ic.png');
    background-position: center;
    background-repeat: no-repeat;
  }
}

.rtl {
  .sp-password {
    > input {
      padding-right: 0.5em;
      padding-left: 1em;
    }

    > .eye-icon {
      right: auto;
      left: 1em;
    }
  }
}