<div class="header">
    <div class="header-1">
        {{'suggestions_dialog_header_1' | translate}}
    </div>
    <div class="header-2">
        {{'suggestions_dialog_header_2' | translate}}
    </div>
    <div class="header-wrapper">
        <div class="header-3">
            {{'suggestions_dialog_header_3' | translate}}
        </div>
<!--        div here for spacing -->
        <div></div>
        <div class="header-4">
            {{'suggestions_dialog_header_4' | translate}}
        </div>
    </div>
</div>

<div class="content">
    <div class="oos-item-wrapper">
        <sp-items
                threshold="0"
                class="out-of-stock"
                total="productSuggestionsCtrl.productsTotal"
                items="productSuggestionsCtrl.products"
                template-url="template/partials/product-item/index.html"
                item-class="product"
                on-click="productSuggestionsCtrl.productClick($item)">
        </sp-items>
    </div>
    <div class="line-divider"></div>
    <div class="carousel-wrapper">
        <sp-carousel
                template-url="template/dialogs/product/partials/product-carousel/index.html"
                shown-size="::3" rows="::1"
                item-class="product clickable"
                items="productSuggestionsCtrl.product._suggestions"
                event-id="productSuggestionsCtrl.eventId"
                sp-click="productSuggestionsCtrl.productClick">
        </sp-carousel>
    </div>
</div>
<div class="footer">
    <button class="close-button main-color" ng-click="$dialog.hide()">{{'Done' | translate}}</button>
</div>