$grey-color: #505050;

.dialog-wrapper .dialog.product-suggestions-popup .dialog-body {
  min-width: 95%;
  padding-top: 1em;

  .close-dialog-corner-button {
    .rtl & {
      left: 1em;
      right: auto;
    }
  }

  div.header-wrapper, div.content {
    display: grid !important;
    grid-template-columns: 24% 1.5% 74.5%;
  }

  .rtl & {
    padding-left: 0;
    padding-right: 0.9em;
  }

  .ltr & {
    padding-right: 0;
    padding-left: 0.9em;
  }

  div.header {
    $header-margin: 0.3em;

    .ltr & {
      margin-left: $header-margin;
    }

    .rtl & {
      margin-right: $header-margin;
    }

    > div.header-1 {
      margin-top: 0.3em;
      font-weight: 500;
      font-size: 1.625em;
      line-height: 1.875em;
      color: $grey-color;
    }

    > div.header-2 {
      font-weight: 400;
      font-size: 1em;
      line-height: 1.3125em;
      color: $grey-color;
    }

    > div.header-wrapper {
      margin-top: 2.5em;
      margin-bottom: 1.5em;

      > div {
        display: inline-block;
        font-weight: 600;

        &.header-3 {
          color: #F76222;
        }

        &.header-4 {
          color: #509E24;
          padding: 0 2.6em;
        }
      }
    }
  }

  div.content {
    height: 25em;
    display: flex;
  }

  div.oos-item-wrapper {
    border: solid #e5edec;
    margin-right: 5%;
    margin-left: 5%;
  }

  div.line-divider {
    $border: 2px solid $grey-color;
    .ltr & {
      border-right: $border;
    }

    .rtl & {
      border-left: $border;
    }
  }

  div.carousel-wrapper {
    margin: 0 0.5em;

    .sp-carousel .items ng-include {
      border-top: solid #e5edec;
      border-bottom: solid #e5edec;

      .rtl & {
        border-left: solid #e5edec;

        &:first-child {
          border-right: solid #e5edec;
        }
      }

      .ltr & {
        border-right: solid #e5edec;

        &:first-child {
          border-left: solid #e5edec;
        }
      }
    }
  }

  div.divider {
    height: 100%;
    width: 58px;
  }

  .item.product sp-product .name {
    height: 2em;
  }

  sp-items.out-of-stock {
    $padding: 0.9375em;
    $margin: 2.6875em;

    pointer-events: none;

    .ltr & {
      padding-right: $padding;
      margin-right: $margin;
    }

    .rtl & {
      padding-left: $padding;
      margin-left: $margin;
    }

    div.items-wrapper {
      height: 100%;

      div.items {
        height: 100%;

        .item.product {
          height: 100%;
          border: none;
          width: 100% !important;

          sp-product {
            > .image-wrapper {
              opacity: 0.69;
            }
          }
        }

        div.count-wrapper {
          display: none;
        }
      }
    }
  }

  div.fixed-banner-wrapper,
  div.cant-find-item,
  div.fixed-wrapper,
  div.sp-cart-line-count {
    display: none !important;
  }

  div.footer {
    text-align: end;
    margin-top: 1.2em;

    button.close-button {
      width: 11.8125em;
      height: 2.3125em;

      .ltr & {
        margin-right: 2.8em !important;
      }

      .rtl & {
        margin-left: 2.8em !important;
      }
    }
  }
}
