<div class="navigation-bar">
    <h1 id="page_title" ng-bind="'My Shopping Lists' | translate"></h1>
</div>
<sp-table items="shopListsCtrl.shopLists" actions="shopListsCtrl.shopListActions" style-class="high-columns shopping-lists-table" row-ng-click="openShopList(item)">
    <sp-table-column style-class="shopping-lists-name" title="{{'Name' | translate}}" sort-by="name">
        <span ng-if="item.isSmartList">{{item.name | translate}}</span>
        <span ng-if="!item.isSmartList">{{item.name}}</span>
    </sp-table-column>
    <sp-table-column title="{{'Items' | translate}}" sort-by="itemsCount">
        {{item.itemsCount}}
    </sp-table-column>
    <sp-table-column title="{{'Creation date' | translate}}" sort-by="creationDate">
        {{item.creationDate | date: ($root.config.isUs ? 'MM/dd/yyyy' : 'dd/MM/yyyy'):'UTC'}}
    </sp-table-column>
    <sp-table-column title="{{'Actions' | translate}}">
        <button ng-if="item.id" ng-click="createNewCart(item, $event);" ng-keydown="$event.stopPropagation();">
            {{('create new cart' | translate).replace('{cart}', $root.config.retailer.settings.setCartNameToBasket ? $root.config.retailer.settings.setCartNameToBasket : 'cart')}}
        </button>
        <button ng-if="item.id" ng-click="addToCart(item, $event);" ng-keydown="$event.stopPropagation();">
            {{('add to cart' | translate).replace('{cart}', $root.config.retailer.settings.setCartNameToBasket ? $root.config.retailer.settings.setCartNameToBasket : 'cart')}}
        </button>
        <button ng-if="!item.id" ng-click="openShopList(item, $event);" ng-keydown="$event.stopPropagation();">
            {{('add to cart' | translate).replace('{cart}', $root.config.retailer.settings.setCartNameToBasket ? $root.config.retailer.settings.setCartNameToBasket : 'cart')}}
        </button>
        <button ng-if="item.id" ng-click="remove(item, $event);" ng-keydown="$event.stopPropagation();">{{'Remove' | translate}}</button>
    </sp-table-column>
</sp-table>

<div style="padding: 1em;">
    <button ng-click="shopListsCtrl.createShopList();" ng-bind="'Create new shopping list' | translate"></button>
</div>
