html.shop-lists {
  .shopping-lists-table {
    .shopping-lists-name {
      span {
        padding: 0 0.5em;
        display: flex;
        align-items: center;
        min-height: 3em;
      }
    }
  }
}

