.has-overflow {
  &:after {
    content: '';
    height: 3em;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 3;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 60%, rgba(255,255,255,1) 100%);
  }

  .read-more-link {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 4;
    width: 100%;
    cursor: pointer;
    text-decoration: underline;
    text-align: right;

    .rtl & {
      text-align: left;
    }

    &:after {
      content: '';
      display: inline-block;
      margin: 2px 4px 0 4px;
      float: right;
      width: 14px;
      height: 14px;
      background-image: url(https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/dropdown-arrow-transparent-down.png);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      background-color: #606060;

      .rtl & {
        float: left;
      }
    }
  }


  &.all-shown {
    overflow: visible !important;
    max-height: none !important;
    padding-bottom: 2em;

    &:after {
      display: none;
    }

    .read-more-link {
      &:after {
        background-image: url(https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/dropdown-arrow-transparent-up.png);
      }
    }

  }
}