<div class="smart-list-page-wrapper" ng-class="{'site-popular-products': !!smartListCtrl.smartList.isSitePopularProducts}">
    <div class="navigation-bar">
        <div class="title">
            <h1 id="page_title">{{'The products I usually purchase' | translate}}</h1>
            <h3 class="site-popular-products-disclaimer bold">
                {{'Future purchases will generate a list of popular items bought by you and update your Products list' | translate}}.<br/>
                {{'In the meantime, you can use the popular items list on the website' | translate}}.
            </h3>
        </div>

        <div class="actions">
            <span>
                {{'Actions on marked items' | translate}}
                -
                {{smartListCtrl.checkedItemsLength || 0}}/{{smartListCtrl.smartList.items.length}}
            </span>
            <button ng-click="smartListCtrl.addToCart();" ng-bind="('add to cart' | translate).replace('{cart}', $root.config.retailer.settings.setCartNameToBasket ? $root.config.retailer.settings.setCartNameToBasket : 'cart')"></button>
        </div>
    </div>

    <sp-table class="{{'smart-list-table' + (smartListCtrl.sortByCategories ? ' sort-by-categories' : '') + ($root.config.retailer.settings.isNewPromotionDesignEnabled === 'true' ? ' new-promotion' : '')}}"
              actions="smartListCtrl.actions"
              sort-by-categories="smartListCtrl.sortByCategories"
              items="smartListCtrl.sortByCategories ? smartListCtrl.sortedListByTree : smartListCtrl.smartList.items"
              on-select="smartListCtrl.checkedItemsLength = selectedCount;"
              selected-change-event="smartList.items.checkedChanged"
              colspan="$root.config.retailer.settings.isNewPromotionDesignEnabled === 'true' ? 9 : 8">
        <sp-table-column title="{{'Image' | translate}}">
            <div class="image-wrapper general-image-wrapper">
                <img ng-src="{{item.product | productImage:'small'}}" alt="{{item.product | productName:item.isCase}}" ng-class="{'disabled': item.isProductOutOfStock}"/>
                <span class="out-of-stock" ng-if="!item.product._suggestions && (item.isProductOutOfStock || item.isNeedToShowOutOfStockLabel)">{{'Out of stock' | translate}}</span>
                <span class="out-of-stock suggestions text-1" ng-if="item.product._suggestions && (item.isProductOutOfStock || item.isNeedToShowOutOfStockLabel)" ng-click="openSuggestions(item)">{{'Out of Stock' | translate}}</span>
                <span class="out-of-stock suggestions text-2" ng-if="item.product._suggestions && (item.isProductOutOfStock || item.isNeedToShowOutOfStockLabel)" ng-click="openSuggestions(item)">
                    <span><svg role="presentation" class="replace-arrow" focusable="false"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{'#sp-icons-replace-arrow-' + $root.config.language.direction}}"></use></svg></span>
                    <span>{{'replace_2' | translate}}</span>
                </span>
                <span class="suggestions" ng-if="item.product._suggestions && (item.isProductOutOfStock || item.isNeedToShowOutOfStockLabel)">
                    <svg class="outline-large" focusable="false"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#sp-icons-out-of-stock-outline"></use></svg>
                    <svg class="outline-small" focusable="false"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#sp-icons-out-of-stock-outline-small"></use></svg>
                </span>
            </div>
        </sp-table-column>
        <sp-table-column title="{{'Name' | translate}}" sort-by="(product.names | name).long" style-class="{{'product-details' + (item.isProductOutOfStock ? ' disabled' : '')}}">
            <span ng-if="!!item.product" class="name">
                {{item.product | productName:item.isCase}}
            </span>
            <span ng-if="!item.product" class="name">{{'Not active' | translate}}</span>
        </sp-table-column>
        <sp-table-column style-class="{{($root.config.retailer.settings.isNewPromotionDesignEnabled === 'true' ? 'new-promotion' : 'new-promotion-hide') + (item.isProductOutOfStock ? ' disabled' : '')}}" ng-if="$root.config.retailer.settings.isNewPromotionDesignEnabled === 'true'">
            <sp-promotion product="item.product" is-list="true" ng-if="item.product && item.product.branch.specials.length"></sp-promotion>
        </sp-table-column>
        <sp-table-column title="{{'Comments' | translate}}" style-class="{{item.isProductOutOfStock ? 'disabled' : ''}}">
            {{item.productPropertyValue ? ((item.productPropertyValue.propertyNames | name:'name') + ': ' + (item.productPropertyValue.names | name:'name')) : ''}}
        </sp-table-column>
        <sp-table-column title="{{'Price' | translate}}" sort-by="product | regularPrice" style-class="{{item.isProductOutOfStock ? 'disabled' : ''}}">
            {{item.product | regularPrice:item.isCase | currency}}
            <span ng-if="$root.config.retailer.settings.showPriceWithoutBottleDeposit && item.product && item.product.branch && item.product.branch.linkedProductPrice"
                  id="{{'bottle_disclaimer_' + item.product.id}}"
                  class="bottle-deposit-disclaimer">
        <img className="bottle-deposit-disclaimer-img" style="width:20px; height:20px" ng-src="{{'https://d226b0iufwcjmj.cloudfront.net/global/mobile/images/icons/info-icon.png'}}"/>
                <span class="bottle-deposit-disclaimer-content">
                    <span class="text">{{$root.config.retailer.settings.disclaimerOnCartPages[$root.config.language.id] || ('Price includes bottle deposit' | translate)}}</span>
                    <span class="arrow"></span>
                </span>
            </span>
        </sp-table-column>
        <sp-table-column title="" sort-by="" style-class="unit-weight {{item.isProductOutOfStock ? 'disabled' : ''}}">
            <sp-unit-weight product="item.product" cart-line="item" ng-if="item.product.productDisplayModeId === $root.PRODUCT_DISPLAY.WEIGHT_AND_UNIT.id && $root.config.retailer.enableSwitchUnitWeight && !item.inCart && $root.util.isUnitsWeighable(item.product)" ng-click="$event.stopPropagation();" product-id="item.product.id" on-unit="onUnitClick(item)" on-weight="onWeightClick(item)"></sp-unit-weight>
        </sp-table-column>
        <sp-table-column title="{{'Quantity' | translate}}" sort-by="quantity" style-class="smart-list-quantity {{item.isProductOutOfStock ? 'disabled' : ''}}">
            <span ng-if="!item.inCart">
                <sp-quantity cart-line="item" on-plus="setQuantity(item, 1)" on-minus="setQuantity(item, -1)"
                             on-change="true" design="landscape" plus-alt="{{('increase the amount of' | translate) + ' ' + (item.product | productName:item.isCase)}}"
                             minus-alt="{{('reduce the amount of' | translate) + ' ' + (item.product | productName:item.isCase)}}"></sp-quantity>
            </span>
            <span ng-if="item.inCart" class="smart-list-in-cart">
                <span ng-if="!item.product.isWeighable || item.soldBy === $root.PRODUCT_DISPLAY.UNIT.name && $root.util.isUnitsWeighable(item.product)">{{item.inCartQuantity}}</span>
                <span ng-if="(item.soldBy === $root.PRODUCT_DISPLAY.WEIGHT.name && $root.util.isUnitsWeighable(item.product)) || $root.util.isWeightQuantity(item.product)">{{item.product | productWeight:item.isCase:null:item.inCartQuantity:item.soldBy}}</span>
                <span>{{('in cart' | translate).replace('{cart}', $root.config.retailer.settings.setCartNameToBasket ? $root.config.retailer.settings.setCartNameToBasket : 'cart')}}</span>
            </span>
        </sp-table-column>
        <sp-table-column title="{{'Product properties' | translate}}" style-class="product-properties {{item.isProductOutOfStock ? 'disabled' : ''}}">
            <product-properties item="item" ng-if="item.product.productProperties && item.product.productProperties.length"></product-properties>
        </sp-table-column>
        <sp-table-column title="{{'Total' | translate}}" sort-by="(product | regularPrice) * quantity" style-class="{{item.isProductOutOfStock ? 'disabled' : ''}}">
            {{(item.product.isWeighable && item.product.weight ? item.product.weight * (item.product | regularPrice:item.isCase) : (item.product | regularPrice:item.isCase)) * item.quantity | currency}}
        </sp-table-column>
        <sp-table-column style-class="action-checkbox" template="actionsCheckboxes"></sp-table-column>
    </sp-table>

    <div class="nothing-found" ng-if="smartListCtrl.smartList && smartListCtrl.smartList.error">
        {{smartListCtrl.smartList.error | translate}}
    </div>
</div>
