html.smart-list {
  $actionsPaddingRight: 1em;
  $navigationBarExtension: 2em;

  .smart-list-page-wrapper {
    .navigation-bar {
      display: flex;

      .actions {
        margin-left: auto;

        button {
          white-space: nowrap;
        }
      }

      .title {
        h1 {
          font-size: 1em;
          color: #000000;
          padding: 0;
        }

        h3 {
          font-size: 0.625em;
          color: #000000;
          padding: 0;
        }

        .site-popular-products-disclaimer {
          display: none;
        }
      }

      .actions {
        font-size: 1em;
        height: 100%;
        display: flex;
        align-items: center;
        color: #000;
        float: right;
        padding-right: $actionsPaddingRight;

        span {
          margin: 0 0.4em;
        }
      }
    }

    .nothing-found {
      text-align: center;
      font-weight: bold;
      margin-top: 3em;
    }

    .smart-list-table {
      display: block;

      &.sort-by-categories {
        table {
          tbody {
            .category-header {
              padding: 10px 0;
              background-color: #EAE9E7;
              text-align: center;
            }
          }
        }
      }

      table {
        thead {
          label {
            outline: none;
          }
        }

        tbody {
          tr {
            td {

              .data {
                display: block;
                text-align: center;
              }

              label {
                outline: none;

                &.checkbox {
                  padding: 0 1.4em;

                  &.disabled {
                    cursor: default;

                    span.box.true {
                      background-color: #797979;
                    }

                  }
                }
              }
            }
          }
        }
      }

      .disabled {
        opacity: 0.35;
        pointer-events: none;
      }

      .out-of-stock {
        position: absolute;
        top: 50%;
        height: 1.5em;
        line-height: 1.5em;
        padding: 0 0.4em;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        text-align: center;
        margin-top: -0.75em;
        color: #ffffff;
        font-size: 0.75em;
        white-space: nowrap;
        background-color: #F86B2F;
      }

      .image-wrapper {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 6em;
      }

      .unit-weight{
        > .sp-unit-weight {
          margin-right: 2em;
        }
      }

      .product-properties {
        margin-bottom: 1.2em;
      }

      .smart-list-quantity {
        .sp-quantity {
          width: 12em;

          .est-weight {
            left: 0;
            right: 0;
            text-align: center;
            top: auto;
            bottom: -1.3em;
          }
        }

        .smart-list-in-cart {
          font-weight: bold;
          color: white;
          padding: 0.3em 0.8em;
          height: 100%;
          width: 100%;
          box-sizing: border-box;
          border-radius: 3px;
        }
      }
    }

    &.site-popular-products {
      .navigation-bar {
        // extend the height by 2 em
        height: $navigationBarHeight + $navigationBarExtension;

        .title {
          h1 {
            padding-bottom: 0.3em;
          }

          .site-popular-products-disclaimer {
            display: block;
          }
        }
      }

      .smart-list-table {
        // only add margin for the extended part, the section.view is already doing the $navigationBarHeight
        margin-top: $navigationBarExtension;
      }
    }
  }

  .bottle-deposit-disclaimer {
    display: inline-block!important;
    margin-left: 1em;
  }

  &.rtl {
    .smart-list-page-wrapper .navigation-bar .actions {
      float: left;
      padding-right: 0;
      padding-left: $actionsPaddingRight;
    }

    .smart-list-table {
      .unit-weight{
        > .sp-unit-weight {
          margin-right: 0;
          margin-left: 2em;
        }
      }
    }
  }
}
