<div class="sp-point-redemption" ng-style="memberLoyaltyType[$root.USER_LOYALTY_TYPES.ELIGIBLE_TO_REDEEM] && {'background-image': 'url(' + memberLoyaltyTypeConfig[$root.USER_LOYALTY_TYPES.ELIGIBLE_TO_REDEEM].backgroundImgs.desktopImg + ')'} || memberLoyaltyType[$root.USER_LOYALTY_TYPES.NOT_ELIGIBLE_TO_REDEEM] && {'background-image': 'url(' + memberLoyaltyTypeConfig[$root.USER_LOYALTY_TYPES.NOT_ELIGIBLE_TO_REDEEM].backgroundImgs.desktopImg + ')'} || memberLoyaltyType[$root.USER_LOYALTY_TYPES.NOT_REGISTER] && {'background-image': 'url(' + memberLoyaltyTypeConfig[$root.USER_LOYALTY_TYPES.NOT_REGISTER].backgroundImgs.desktopImg + ')'} || memberLoyaltyType[$root.USER_LOYALTY_TYPES.POINT_IS_ZERO] && {'background-image': 'url(' + memberLoyaltyTypeConfig[$root.USER_LOYALTY_TYPES.POINT_IS_ZERO].backgroundImgs.desktopImg + ')'}">
    <div class="loyalty-member-content" ng-class="{ 
        'type-1': memberLoyaltyType[$root.USER_LOYALTY_TYPES.ELIGIBLE_TO_REDEEM],
        'type-2': memberLoyaltyType[$root.USER_LOYALTY_TYPES.NOT_ELIGIBLE_TO_REDEEM] || memberLoyaltyType[$root.USER_LOYALTY_TYPES.POINT_IS_ZERO]}" ng-if="!memberLoyaltyType[$root.USER_LOYALTY_TYPES.NOT_REGISTER]"
    >
        <h1 class="loyalty-heading" ng-class="{ 
            'type-1': memberLoyaltyType[$root.USER_LOYALTY_TYPES.ELIGIBLE_TO_REDEEM],
            'type-2': memberLoyaltyType[$root.USER_LOYALTY_TYPES.NOT_ELIGIBLE_TO_REDEEM],
            'type-4': memberLoyaltyType[$root.USER_LOYALTY_TYPES.POINT_IS_ZERO]}"
        ng-style="memberLoyaltyType[$root.USER_LOYALTY_TYPES.ELIGIBLE_TO_REDEEM] && {'color': memberLoyaltyTypeConfig[$root.USER_LOYALTY_TYPES.ELIGIBLE_TO_REDEEM].title.textColor} || memberLoyaltyType[$root.USER_LOYALTY_TYPES.NOT_ELIGIBLE_TO_REDEEM] && {'color': memberLoyaltyTypeConfig[$root.USER_LOYALTY_TYPES.NOT_ELIGIBLE_TO_REDEEM].title.textColor} || memberLoyaltyType[$root.USER_LOYALTY_TYPES.POINT_IS_ZERO] && {'color': memberLoyaltyTypeConfig[$root.USER_LOYALTY_TYPES.POINT_IS_ZERO].title.textColor}">{{ memberLoyaltyType[$root.USER_LOYALTY_TYPES.ELIGIBLE_TO_REDEEM] ? (memberLoyaltyTypeConfig[$root.USER_LOYALTY_TYPES.ELIGIBLE_TO_REDEEM].title.text[language]).replace('{points amount}', userPoints) : memberLoyaltyType[$root.USER_LOYALTY_TYPES.NOT_ELIGIBLE_TO_REDEEM] ? (memberLoyaltyTypeConfig[$root.USER_LOYALTY_TYPES.NOT_ELIGIBLE_TO_REDEEM].title.text[language]).replace('{points amount}',  userPoints) : (memberLoyaltyTypeConfig[$root.USER_LOYALTY_TYPES.POINT_IS_ZERO].title.text[language]).replace('{points amount}',  userPoints) }}</h1>

        <h3 class="loyalty-sub-heading" ng-class="{ 
            'type-1': memberLoyaltyType[$root.USER_LOYALTY_TYPES.ELIGIBLE_TO_REDEEM],
            'type-2': memberLoyaltyType[$root.USER_LOYALTY_TYPES.NOT_ELIGIBLE_TO_REDEEM] || memberLoyaltyType[$root.USER_LOYALTY_TYPES.POINT_IS_ZERO]
        }"
        ng-style="memberLoyaltyType[$root.USER_LOYALTY_TYPES.ELIGIBLE_TO_REDEEM] && {'color': memberLoyaltyTypeConfig[$root.USER_LOYALTY_TYPES.ELIGIBLE_TO_REDEEM].subTitle.textColor} || memberLoyaltyType[$root.USER_LOYALTY_TYPES.NOT_ELIGIBLE_TO_REDEEM] && {'color': memberLoyaltyTypeConfig[$root.USER_LOYALTY_TYPES.NOT_ELIGIBLE_TO_REDEEM].subTitle.textColor} || memberLoyaltyType[$root.USER_LOYALTY_TYPES.POINT_IS_ZERO] && {'color': memberLoyaltyTypeConfig[$root.USER_LOYALTY_TYPES.POINT_IS_ZERO].subTitle.textColor}">{{ memberLoyaltyType[$root.USER_LOYALTY_TYPES.ELIGIBLE_TO_REDEEM] ? (memberLoyaltyTypeConfig[$root.USER_LOYALTY_TYPES.ELIGIBLE_TO_REDEEM].subTitle.text[language]).replace('{cashback amount}', cashbackAmount) : memberLoyaltyType[$root.USER_LOYALTY_TYPES.NOT_ELIGIBLE_TO_REDEEM] ? (memberLoyaltyTypeConfig[$root.USER_LOYALTY_TYPES.NOT_ELIGIBLE_TO_REDEEM].subTitle.text[language]).replace('{money amount}',  loyaltyClubDriverClientConfig.minPointsNum -  userPoints) : (memberLoyaltyTypeConfig[$root.USER_LOYALTY_TYPES.POINT_IS_ZERO].subTitle.text[language]).replace('{points amount}',  loyaltyClubDriverClientConfig.minPointsNum) }}</h3>

        <div class="points-progress-bar-wrapper" ng-if="memberLoyaltyType[$root.USER_LOYALTY_TYPES.NOT_ELIGIBLE_TO_REDEEM] || memberLoyaltyType[$root.USER_LOYALTY_TYPES.POINT_IS_ZERO]" ng-style="memberLoyaltyType[$root.USER_LOYALTY_TYPES.NOT_ELIGIBLE_TO_REDEEM] && {'background-color':  memberLoyaltyTypeConfig[$root.USER_LOYALTY_TYPES.NOT_ELIGIBLE_TO_REDEEM].progressBar.barColor} || memberLoyaltyType[$root.USER_LOYALTY_TYPES.POINT_IS_ZERO] && {'background-color':  memberLoyaltyTypeConfig[$root.USER_LOYALTY_TYPES.POINT_IS_ZERO].progressBar.barColor}">
            <div class="progress-bar-description" ng-style="memberLoyaltyType[$root.USER_LOYALTY_TYPES.NOT_ELIGIBLE_TO_REDEEM] && {'color':  memberLoyaltyTypeConfig[$root.USER_LOYALTY_TYPES.NOT_ELIGIBLE_TO_REDEEM].progressBar.textColor} || memberLoyaltyType[$root.USER_LOYALTY_TYPES.POINT_IS_ZERO] && {'color':  memberLoyaltyTypeConfig[$root.USER_LOYALTY_TYPES.POINT_IS_ZERO].progressBar.textColor}">
                {{ memberLoyaltyType[$root.USER_LOYALTY_TYPES.NOT_ELIGIBLE_TO_REDEEM] ? (memberLoyaltyTypeConfig[$root.USER_LOYALTY_TYPES.NOT_ELIGIBLE_TO_REDEEM].progressBar.text[language]).replace('{points amount}', userPoints) : (memberLoyaltyTypeConfig[$root.USER_LOYALTY_TYPES.POINT_IS_ZERO].progressBar.text[language]).replace('{points amount}', userPoints) }}
            </div>
            <div class="points-progress-bar">
                <div class="progress-bar">
                    <div class="inner-progress-bar" ng-style="memberLoyaltyType[$root.USER_LOYALTY_TYPES.NOT_ELIGIBLE_TO_REDEEM] && {'width': percentOfProgress + '%', 'background-color':  memberLoyaltyTypeConfig[$root.USER_LOYALTY_TYPES.NOT_ELIGIBLE_TO_REDEEM].progressBar.progressColor} || memberLoyaltyType[$root.USER_LOYALTY_TYPES.POINT_IS_ZERO] && {'width': percentOfProgress + '%', 'background-color':  memberLoyaltyTypeConfig[$root.USER_LOYALTY_TYPES.POINT_IS_ZERO].progressBar.progressColor}"></div>
                </div>
                <span ng-style="memberLoyaltyType[$root.USER_LOYALTY_TYPES.NOT_ELIGIBLE_TO_REDEEM] && {'color':  memberLoyaltyTypeConfig[$root.USER_LOYALTY_TYPES.NOT_ELIGIBLE_TO_REDEEM].progressBar.textColor} || memberLoyaltyType[$root.USER_LOYALTY_TYPES.POINT_IS_ZERO] && {'color':  memberLoyaltyTypeConfig[$root.USER_LOYALTY_TYPES.POINT_IS_ZERO].progressBar.textColor}">{{ loyaltyClubDriverClientConfig.minPointsNum }}</span>
            </div>
        </div>

        <div class="loyalty-button-container" ng-class="{
                'has-one-button': !memberLoyaltyTypeConfig[$root.USER_LOYALTY_TYPES.ELIGIBLE_TO_REDEEM].specialsAndCouponsBtns.loyaltyCouponsBtn.isActive || !memberLoyaltyTypeConfig[$root.USER_LOYALTY_TYPES.ELIGIBLE_TO_REDEEM].specialsAndCouponsBtns.loyaltySpecialsBtn.isActive }" ng-if="memberLoyaltyType[$root.USER_LOYALTY_TYPES.ELIGIBLE_TO_REDEEM]" >
            <md-button class="loyalty-button-item" ng-class="{
                'has-one-button': !memberLoyaltyTypeConfig[$root.USER_LOYALTY_TYPES.ELIGIBLE_TO_REDEEM].specialsAndCouponsBtns.loyaltySpecialsBtn.isActive}" ng-style="{'background-color': memberLoyaltyTypeConfig[$root.USER_LOYALTY_TYPES.ELIGIBLE_TO_REDEEM].specialsAndCouponsBtns.btnBackgroundColor, 'color': memberLoyaltyTypeConfig[$root.USER_LOYALTY_TYPES.ELIGIBLE_TO_REDEEM].specialsAndCouponsBtns.btnTextColor}" ng-if="memberLoyaltyTypeConfig[$root.USER_LOYALTY_TYPES.ELIGIBLE_TO_REDEEM].specialsAndCouponsBtns.loyaltyCouponsBtn.isActive">
                <a ui-sref="app.myCoupons" class="member-loyalty-links">
                    <img class="coupons-icon" ng-src="{{memberLoyaltyTypeConfig[$root.USER_LOYALTY_TYPES.ELIGIBLE_TO_REDEEM].specialsAndCouponsBtns.loyaltyCouponsBtn.icon}}" alt="coupons">
                    <span  class="number-of-coupons">{{ numberOfCoupons }}</span>
                    <p class="coupons-description">{{
                        memberLoyaltyTypeConfig[$root.USER_LOYALTY_TYPES.ELIGIBLE_TO_REDEEM].specialsAndCouponsBtns.loyaltyCouponsBtn.text[language]}}</p>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 13"  ng-style="{'stroke': memberLoyaltyTypeConfig[$root.USER_LOYALTY_TYPES.ELIGIBLE_TO_REDEEM].specialsAndCouponsBtns.btnTextColor}" fill="none">
                        <path d="M2 11.5801L6.81026 6.79003L2 2" stroke="black" stroke-width="2.20527" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </a>
            </md-button>

            <md-button class="loyalty-button-item" ng-class="{
                'has-one-button': !memberLoyaltyTypeConfig[$root.USER_LOYALTY_TYPES.ELIGIBLE_TO_REDEEM].specialsAndCouponsBtns.loyaltyCouponsBtn.isActive}" ng-style="{'background-color': memberLoyaltyTypeConfig[$root.USER_LOYALTY_TYPES.ELIGIBLE_TO_REDEEM].specialsAndCouponsBtns.btnBackgroundColor, 'color': memberLoyaltyTypeConfig[$root.USER_LOYALTY_TYPES.ELIGIBLE_TO_REDEEM].specialsAndCouponsBtns.btnTextColor}" ng-if="memberLoyaltyTypeConfig[$root.USER_LOYALTY_TYPES.ELIGIBLE_TO_REDEEM].specialsAndCouponsBtns.loyaltySpecialsBtn.isActive" ng-click="onSpecialsClick()">
                <div class="member-loyalty-links">
                        <img class="specials-icon" ng-src="{{memberLoyaltyTypeConfig[$root.USER_LOYALTY_TYPES.ELIGIBLE_TO_REDEEM].specialsAndCouponsBtns.loyaltySpecialsBtn.icon}}" alt="Specials">
                        <span class="number-of-specials">{{ totalSpecials }}</span>
                        <p class="specials-description">{{memberLoyaltyTypeConfig[$root.USER_LOYALTY_TYPES.ELIGIBLE_TO_REDEEM].specialsAndCouponsBtns.loyaltySpecialsBtn.text[language]}}</p>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 13" ng-style="{'stroke': memberLoyaltyTypeConfig[$root.USER_LOYALTY_TYPES.ELIGIBLE_TO_REDEEM].specialsAndCouponsBtns.btnTextColor}" fill="none">
                            <path d="M2 11.5801L6.81026 6.79003L2 2" stroke="black" stroke-width="2.20527" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                </div>
            </md-button>
        </div>

        <div class="loyalty-button-container" ng-class="{
            'has-one-button': !memberLoyaltyTypeConfig[$root.USER_LOYALTY_TYPES.NOT_ELIGIBLE_TO_REDEEM].specialsAndCouponsBtns.loyaltyCouponsBtn.isActive || !memberLoyaltyTypeConfig[$root.USER_LOYALTY_TYPES.NOT_ELIGIBLE_TO_REDEEM].specialsAndCouponsBtns.loyaltySpecialsBtn.isActive
        }" ng-if="memberLoyaltyType[$root.USER_LOYALTY_TYPES.NOT_ELIGIBLE_TO_REDEEM]" >
            <md-button class="loyalty-button-item" ng-class="{
                'has-one-button': !memberLoyaltyTypeConfig[$root.USER_LOYALTY_TYPES.NOT_ELIGIBLE_TO_REDEEM].specialsAndCouponsBtns.loyaltySpecialsBtn.isActive }" ng-style="{'background-color': memberLoyaltyTypeConfig[$root.USER_LOYALTY_TYPES.NOT_ELIGIBLE_TO_REDEEM].specialsAndCouponsBtns.btnBackgroundColor, 'color': memberLoyaltyTypeConfig[$root.USER_LOYALTY_TYPES.NOT_ELIGIBLE_TO_REDEEM].specialsAndCouponsBtns.btnTextColor}" ng-if="memberLoyaltyTypeConfig[$root.USER_LOYALTY_TYPES.NOT_ELIGIBLE_TO_REDEEM].specialsAndCouponsBtns.loyaltyCouponsBtn.isActive">
                <a ui-sref="app.myCoupons" class="member-loyalty-links">
                    <img class="coupons-icon" ng-src="{{memberLoyaltyTypeConfig[$root.USER_LOYALTY_TYPES.NOT_ELIGIBLE_TO_REDEEM].specialsAndCouponsBtns.loyaltyCouponsBtn.icon}}" alt="coupons">
                    <span  class="number-of-coupons">{{ numberOfCoupons }}</span>
                    <p class="coupons-description">{{
                        memberLoyaltyTypeConfig[$root.USER_LOYALTY_TYPES.NOT_ELIGIBLE_TO_REDEEM].specialsAndCouponsBtns.loyaltyCouponsBtn.text[language] }}</p>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 13"  ng-style="{'stroke': memberLoyaltyTypeConfig[$root.USER_LOYALTY_TYPES.NOT_ELIGIBLE_TO_REDEEM].specialsAndCouponsBtns.btnTextColor}" fill="none">
                        <path d="M2 11.5801L6.81026 6.79003L2 2" stroke="black" stroke-width="2.20527" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </a>
            </md-button>

            <md-button class="loyalty-button-item" ng-class="{
                'has-one-button': !memberLoyaltyTypeConfig[$root.USER_LOYALTY_TYPES.NOT_ELIGIBLE_TO_REDEEM].specialsAndCouponsBtns.loyaltyCouponsBtn.isActive }" ng-style="{'background-color': memberLoyaltyTypeConfig[$root.USER_LOYALTY_TYPES.NOT_ELIGIBLE_TO_REDEEM].specialsAndCouponsBtns.btnBackgroundColor, 'color': memberLoyaltyTypeConfig[$root.USER_LOYALTY_TYPES.NOT_ELIGIBLE_TO_REDEEM].specialsAndCouponsBtns.btnTextColor}" ng-if="memberLoyaltyTypeConfig[$root.USER_LOYALTY_TYPES.NOT_ELIGIBLE_TO_REDEEM].specialsAndCouponsBtns.loyaltySpecialsBtn.isActive" ng-click="onSpecialsClick()">
                <div class="member-loyalty-links">
                        <img class="specials-icon" ng-src="{{memberLoyaltyTypeConfig[$root.USER_LOYALTY_TYPES.NOT_ELIGIBLE_TO_REDEEM].specialsAndCouponsBtns.loyaltySpecialsBtn.icon}}" alt="Specials">
                        <span class="number-of-specials">{{ totalSpecials }}</span>
                        <p class="specials-description">{{ memberLoyaltyTypeConfig[$root.USER_LOYALTY_TYPES.NOT_ELIGIBLE_TO_REDEEM].specialsAndCouponsBtns.loyaltySpecialsBtn.text[language] || 'Loyalty Specials'}}</p>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 13" ng-style="{'stroke': memberLoyaltyTypeConfig[$root.USER_LOYALTY_TYPES.NOT_ELIGIBLE_TO_REDEEM].specialsAndCouponsBtns.btnTextColor}" fill="none">
                            <path d="M2 11.5801L6.81026 6.79003L2 2" stroke="black" stroke-width="2.20527" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                </div>
            </md-button>
        </div>

        <div class="loyalty-button-container" ng-class="{
            'has-one-button': !memberLoyaltyTypeConfig[$root.USER_LOYALTY_TYPES.POINT_IS_ZERO].specialsAndCouponsBtns.loyaltyCouponsBtn.isActive || !memberLoyaltyTypeConfig[$root.USER_LOYALTY_TYPES.POINT_IS_ZERO].specialsAndCouponsBtns.loyaltySpecialsBtn.isActive }" ng-if="memberLoyaltyType[$root.USER_LOYALTY_TYPES.POINT_IS_ZERO]" >
            <md-button class="loyalty-button-item" ng-class="{
                'has-one-button': !memberLoyaltyTypeConfig[$root.USER_LOYALTY_TYPES.POINT_IS_ZERO].specialsAndCouponsBtns.loyaltySpecialsBtn.isActive}" ng-style="{'background-color': memberLoyaltyTypeConfig[$root.USER_LOYALTY_TYPES.POINT_IS_ZERO].specialsAndCouponsBtns.btnBackgroundColor, 'color': memberLoyaltyTypeConfig[$root.USER_LOYALTY_TYPES.POINT_IS_ZERO].specialsAndCouponsBtns.btnTextColor}" ng-if="memberLoyaltyTypeConfig[$root.USER_LOYALTY_TYPES.POINT_IS_ZERO].specialsAndCouponsBtns.loyaltyCouponsBtn.isActive">
                <a ui-sref="app.myCoupons" class="member-loyalty-links">
                    <img class="coupons-icon" ng-src="{{memberLoyaltyTypeConfig[$root.USER_LOYALTY_TYPES.POINT_IS_ZERO].specialsAndCouponsBtns.loyaltyCouponsBtn.icon}}" alt="coupons">
                    <span  class="number-of-coupons">{{ numberOfCoupons }}</span>
                    <p class="coupons-description">{{
                        memberLoyaltyTypeConfig[$root.USER_LOYALTY_TYPES.POINT_IS_ZERO].specialsAndCouponsBtns.loyaltyCouponsBtn.text[language]}}</p>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 13"  ng-style="{'stroke': memberLoyaltyTypeConfig[$root.USER_LOYALTY_TYPES.POINT_IS_ZERO].specialsAndCouponsBtns.btnTextColor}" fill="none">
                        <path d="M2 11.5801L6.81026 6.79003L2 2" stroke="black" stroke-width="2.20527" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </a>
            </md-button>

            <md-button class="loyalty-button-item" ng-class="{
                'has-one-button': !memberLoyaltyTypeConfig[$root.USER_LOYALTY_TYPES.POINT_IS_ZERO].specialsAndCouponsBtns.loyaltyCouponsBtn.isActive}" ng-style="{'background-color': memberLoyaltyTypeConfig[$root.USER_LOYALTY_TYPES.POINT_IS_ZERO].specialsAndCouponsBtns.btnBackgroundColor, 'color': memberLoyaltyTypeConfig[$root.USER_LOYALTY_TYPES.POINT_IS_ZERO].specialsAndCouponsBtns.btnTextColor}" ng-if="memberLoyaltyTypeConfig[$root.USER_LOYALTY_TYPES.POINT_IS_ZERO].specialsAndCouponsBtns.loyaltySpecialsBtn.isActive" ng-click="onSpecialsClick()">
                <div class="member-loyalty-links">
                        <img class="specials-icon" ng-src="{{memberLoyaltyTypeConfig[$root.USER_LOYALTY_TYPES.POINT_IS_ZERO].specialsAndCouponsBtns.loyaltySpecialsBtn.icon}}" alt="Specials">
                        <span class="number-of-specials">{{ totalSpecials }}</span>
                        <p class="specials-description">{{memberLoyaltyTypeConfig[$root.USER_LOYALTY_TYPES.POINT_IS_ZERO].specialsAndCouponsBtns.loyaltySpecialsBtn.text[language]}}</p>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 13" ng-style="{'stroke': memberLoyaltyTypeConfig[$root.USER_LOYALTY_TYPES.POINT_IS_ZERO].specialsAndCouponsBtns.btnTextColor}" fill="none">
                            <path d="M2 11.5801L6.81026 6.79003L2 2" stroke="black" stroke-width="2.20527" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                </div>
            </md-button>
        </div>
    </div>

    <div class="loyalty-member-content type-3"  ng-if=" memberLoyaltyType[$root.USER_LOYALTY_TYPES.NOT_REGISTER]" ng-click="onLoyaltyComponentClick($event)">
        <h1 class="loyalty-heading type-3"
        ng-style="memberLoyaltyType[$root.USER_LOYALTY_TYPES.NOT_REGISTER] && {'color': memberLoyaltyTypeConfig[$root.USER_LOYALTY_TYPES.NOT_REGISTER].title.textColor}">{{ memberLoyaltyTypeConfig[$root.USER_LOYALTY_TYPES.NOT_REGISTER].title.text[language] }}</h1>
        <h3 class="loyalty-sub-heading type-3"
        ng-style="memberLoyaltyType[$root.USER_LOYALTY_TYPES.NOT_REGISTER] && {'color': memberLoyaltyTypeConfig[$root.USER_LOYALTY_TYPES.NOT_REGISTER].subTitle.textColor}">{{ memberLoyaltyTypeConfig[$root.USER_LOYALTY_TYPES.NOT_REGISTER].subTitle.text[language] }}</h3>
        <div class="loyalty-button-container has-one-button type-3">
            <md-button class="loyalty-button-item type-3"
                ng-style="{ 'background-color': memberLoyaltyTypeConfig[$root.USER_LOYALTY_TYPES.NOT_REGISTER].button.backgroundColor }"
                ng-if=" memberLoyaltyType[$root.USER_LOYALTY_TYPES.NOT_REGISTER]"
                ng-click="onClickNonLoyaltyBannerButton($event)"
            >
                <span class="member-loyalty-links" >
                    <p class="regis-loyalty-description" ng-style="{ 'color':  memberLoyaltyTypeConfig[$root.USER_LOYALTY_TYPES.NOT_REGISTER].button.textColor }">{{ memberLoyaltyTypeConfig[$root.USER_LOYALTY_TYPES.NOT_REGISTER].button.text[language] }}</p>
                </span>
            </md-button>
        </div>
    </div>
</div>