.auto-complete {
    .btn-map-wrapper {
        cursor: pointer;
        .btn-map {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 8px;
            padding: 0.8em 1em;
            &__hint {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 8px;
                &__title {
                    font-size: 20px;
                    color: #505050;
                }
                &__text {
                    font-size: 14px;
                    color: #787878;
                }
            }
        }
        &:hover {
            background-color: #CCE5FF;
        }
    }
    &-and-map {
        .option.current:hover {
            background-color: #CCE5FF;
        }
    }
    &--hovered-btn-map {
        .option.current {
            background-color: unset !important;
        }
    }
}