<div class="store-information-wrapper" refresher="$root.config.language.id">
    <h1 id="page_title" ng-bind="$root.config.retailer.branches.length > 1 ? 'Stores Info' : 'Store Info' | translate"></h1>
    <div class="single-branch"
         ng-class="{'open-info': branch._openInfo || retailerDetailsCtrl.branchesInfo.length == 1, 'only-one': retailerDetailsCtrl.branchesInfo.length == 1}"
         ng-repeat="branch in retailerDetailsCtrl.branchesInfo">
        <div class="basic" ng-click="informationCtrl.toggleBranchInfo(branch, true)" aria-expanded="{{branch._openInfo}}" aria-controls="{{'branch_' + branch.id + '_extra'}}">
            <img ng-if="!branch._openInfo" class="toggle-branch right" src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/slider-arrow-down.png" alt="">
            <img ng-if="branch._openInfo" class="toggle-branch right" src="https://d226b0iufwcjmj.cloudfront.net/global/frontend-icons/slider-arrow-up.png" alt="">
            <h2 class="branch-name">
                {{branch.name}}
            </h2>
            <div class="branch-address" ng-if="branch.location">
                {{branch.location}}<span ng-if="branch.city && branch.location.indexOf(branch.city) == -1">{{branch.location ? ',' : ''}} {{branch.city}}</span>
            </div>
        </div>

        <div ng-show="branch._openInfo || branch._loaded || retailerDetailsCtrl.branchesInfo.length == 1" ng-init="branch._loaded=true" class="extra"
        id="{{'branch_' + branch.id + '_extra'}}">
            <div class="details-wrapper">
                <div class="details-section" ng-if="branch.openHours">
                    <h3 class="opening-hours-header">{{::'Opening hours' | translate}}:</h3>
                    <span class="branch-hours" ng-bind-html="branch.openHours | trustHtml"></span>
                </div>

                <div class="details-section" ng-if="branch.phone">
                    <h3>{{::'Phone' | translate}}:</h3>
                    <a href="tel:{{::branch.phone}}">{{::branch.phone}}</a>
                </div>
                <div class="details-section" ng-if="branch.email">
                    <h3>{{::'Email' | translate}}:</h3>
                    <a ng-href="mailto:{{::branch.email }}" target="_blank" class="email">{{::branch.email}}</a>
                </div>
                <div class="details-section" ng-if="!!branch.accessibility">
                    <h3>{{::'Accessibility Arrangements' | translate}}</h3>
                    <span class="branch-accessibility" ng-bind-html="branch.accessibility | trustHtml"></span>
                </div>
                <div class="details-section" ng-if="branch.storeLogo">
                    <img ng-src="{{::branch.storeLogo}}" width="150px"
                         alt="{{'Branch Logo' | translate}}"/>
                </div>
            </div>
            <div class="map-wrapper">
                <div class="sp-google-maps-wrapper">
                    <iframe title="{{'Map' | translate}}" height="100%" width="100%" ng-src="{{$root.util.trustSrc(branch.mapIframeUrl)}}" allowfullscreen ></iframe>
                </div>
                <!--<sp-google-maps-embed options="branch.mapOptions"></sp-google-maps-embed>-->
            </div>
        </div>
    </div>
</div>